<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-harm-inform-account" lay-title="告知台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="harm_inform_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">岗前告知</li>
                            <li>检测结果告知</li>
                            <li>体检结果告知</li>
                            <li>职业病诊断结果告知</li>
                            <li>作业场所危害告知</li>
                            <li>年度告知报表</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                 style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="work_notify_keyword" type="text" placeholder="模糊查询"
                                                           class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="queryWorkNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetWorkNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="workNotifyDownload"
                                                 class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="workNotify_table" lay-filter="workNotify_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="workplaceNotify_keyword" type="text" placeholder="模糊查询"
                                                           class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="queryWorkplaceNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetWorkplaceNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="workplaceNotifyDownload"
                                                 class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="workplaceNotify_table" lay-filter="workplaceNotify_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="medicalResultNotify_keyword" type="text"
                                                           placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="queryMedicalResultNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetMedicalResultNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="medicalResultNotifyDownload"
                                                 class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="medicalResultNotify_table" lay-filter="medicalResultNotify_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="diseaseDiagnosiNotify_keyword" type="text"
                                                           placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="queryDiseaseDiagnosiNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetDiseaseDiagnosiNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="diseaseDiagnosiNotifyDownload"
                                                 class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="diseaseDiagnosiNotify_table"
                                       lay-filter="diseaseDiagnosiNotify_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="workplaceInfoNotify_keyword" type="text"
                                                           placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="queryWorkplaceInfoNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetWorkplaceInfoNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="workplaceInfoNotifyDownload"
                                                 class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="workplaceInfoNotify_table" lay-filter="workplaceInfoNotify_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="yearReportNotify_startDate" type="text"
                                                           placeholder="开始时间" class="layui-input"/>

                                                </div>
                                                <div class="layui-input-inline">

                                                    <input id="yearReportNotify_endDate" type="text" placeholder="结束时间"
                                                           class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="queryYearReportNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetYearReportNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="yearReportNotifyDownload"
                                                 class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="yearReportNotify_table" lay-filter="yearReportNotify_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #xadmin-enterprise-harm-inform-account i {
        float: right;
        font-size: 26px;
        cursor: pointer;
    }
</style>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'laydate', 'xadmin', 'dropdown'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            laydate = layui.laydate,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            sortObject = {field: 'gmtCreate', type: 'desc'},
            $view = $('#xadmin-enterprise-harm-inform-account'),
            $queryWorkNotify = $view.find('#queryWorkNotify'),
            $queryWorkplaceNotify = $view.find('#queryWorkplaceNotify'),
            $queryWorkplaceInfoNotify = $view.find('#queryWorkplaceInfoNotify'),
            $queryDiseaseDiagnosiNotify = $view.find('#queryDiseaseDiagnosiNotify'),
            $queryMedical = $view.find('#queryMedicalResultNotify'),
            $resetWorkNotify = $view.find('#resetWorkNotify'),
            $resetWorkplaceNotify = $view.find('#resetWorkplaceNotify'),
            $resetWorkplaceInfoNotify = $view.find('#resetWorkplaceInfoNotify'),
            $resetDiseaseDiagnosiNotify = $view.find('#resetDiseaseDiagnosiNotify'),
            $resetMedical = $view.find('#resetMedicalResultNotify'),

            $queryYearReportNotify = $view.find('#queryYearReportNotify'),
            $resetYearReportNotify = $view.find('#resetYearReportNotify'),


            $searchForm = $view.find('form'),
            workNofityTableIns,
            workplaceNotifyTableIns;
        laydate.render({
            elem: '#yearReportNotify_startDate',
            type: 'date'
        });
        laydate.render({
            elem: '#yearReportNotify_endDate',
            type: 'date'
        });
        var date = new Date();
        var year = date.getFullYear();
        $('#yearReportNotify_startDate').val(year + "-01-01");
        $('#yearReportNotify_endDate').val(year + "-12-31");

        // 岗前告知table初始化
        var workNofityTableInsNum = 0;

        function initWorkNotifyTable() {
            workNofityTableIns = xadmin.table.init({
                elem: '#workNotify_table',
                id: 'workNotify_table',
                url: ctx + 'workNotify/workList',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'employeeName', title: '员工', width: 100, sort: true},
                    {field: 'postName', title: '岗位', minWidth: 100, sort: true},
                    {
                        field: 'notifyFile', title: '告知书', width: 160, templet: function (data) {
                            if (data.notifyFile) {
                                return "<a class='file-download' filePath='" + data.notifyFile + "'>" + data.notifyFile.substring(data.notifyFile.lastIndexOf("/") + 1) + "</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: 'notifyDate', title: '告知时间', width: 120, sort: true,
                        templet: function (d) {
                            if (d.notifyDate) {
                                return util.toDateString(d.notifyDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    }
                ]],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);
                    workNofityTableInsNum = result.data.total;
                    return {
                        code: 0,
                        count: result.data.total,
                        data: result.data.rows
                    };
                }

            });
        }

        initWorkNotifyTable();
        // 岗前告知table排序
        table.on('sort(workNotify_table)', function (obj) {
            requeryWorkNotify(obj);
        });
        // 岗前告知table查询
        window.requeryWorkNotify = function (sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                }, where: {
                    keyword: $("#work_notify_keyword").val()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            workNofityTableIns.reload(options);
        }
        $queryWorkNotify.on('click', function () {
            requeryWorkNotify();
        });
        // 岗前告知table重置刷新
        $resetWorkNotify.on('click', function () {
            $searchForm[0].reset();
            requeryWorkNotify();
        });
        var workplaceNotifyTableInsNum = 0;

        function initWorkplaceNotifyTable() {
            workplaceNotifyTableIns = xadmin.table.init({
                elem: '#workplaceNotify_table',
                id: 'workplaceNotify_table',
                url: ctx + 'workplaceNotify/workplaceList',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'workplaceName', title: '作业场所名称', sort: true},
                    {
                        field: 'checkDate', title: '检测时间', width: 120, sort: true,
                        templet: function (d) {
                            if (d.checkDate) {
                                return util.toDateString(d.checkDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {field: 'checkOrganization', title: '检测机构', sort: true},
                    {
                        field: 'checkResultProve', title: '检测结果告知公示证明', width: 200, templet: function (data) {
                            if (data.checkResultProve) {
                                return "<a class='file-download' filePath='" + data.checkResultProve + "'>" + data.checkResultProve.substring(data.checkResultProve.lastIndexOf("/") + 1) + "</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: 'notifyDate', title: '结果公示时间', width: 120, sort: true,
                        templet: function (d) {
                            if (d.notifyDate) {
                                return util.toDateString(d.notifyDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    }
                ]],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);

                    workplaceNotifyTableInsNum = result.data.total;
                    return {
                        code: 0,
                        count: result.data.total,
                        data: result.data.rows
                    };
                }
            });
        }

        initWorkplaceNotifyTable();
        /**
         * 防护用品发放查询
         */
        $queryWorkplaceNotify.on('click', function () {
            var params = $.extend({
                keyword: $("#workplaceNotify_keyword").val()
            }, {field: sortObject.field, order: sortObject.type});
            workplaceNotifyTableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         *  防护用品发放刷新
         */
        $resetWorkplaceNotify.on('click', function () {
            $searchForm[1].reset();
            sortObject.type = 'desc';
            workplaceNotifyTableIns.reload({
                where: {
                    keyword: $("#workplaceNotify_keyword").val()
                }, page: {curr: 1}, initSort: sortObject
            });
        });
        var medicalResultNotifyTableNum = 0;
        var medicalResultNotifyTable = xadmin.table.init({
            elem: '#medicalResultNotify_table',
            id: 'medicalResultNotify_table',
            url: ctx + 'medicalResultNotify/medicalResultList',
            cols: [[
                {
                    title: "序号",
                    type: "numbers",
                    align: "center"
                },
                {field: 'employeeName', title: '员工', width: 100, sort: true},
                {field: 'type', title: '体检类型', width: 100, sort: true},
                {
                    field: 'medicalDate', title: '体检时间', width: 120, sort: true,
                    templet: function (d) {
                        if (d.medicalDate) {
                            return util.toDateString(d.medicalDate, 'yyyy-MM-dd');
                        } else {
                            return '';
                        }
                    }
                },
                {
                    field: 'notifyFile', title: '告知书', templet: function (data) {
                        if (data.notifyFile) {
                            return "<a class='file-download' filePath='" + data.notifyFile + "'>" + data.notifyFile.substring(data.notifyFile.lastIndexOf("/") + 1) + "</a>";
                        }
                        return "";
                    }
                },
                {
                    field: 'notifyDate', title: '告知时间', width: 120, sort: true,
                    templet: function (d) {
                        if (d.notifyDate) {
                            return util.toDateString(d.notifyDate, 'yyyy-MM-dd');
                        } else {
                            return '';
                        }
                    }
                }
            ]],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                medicalResultNotifyTableNum = result.data.total;
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.rows
                };
            }
        });
        /**
         * 体检告知查询
         */
        $queryMedical.on('click', function () {
            var params = $.extend({
                keyword: $("#medicalResultNotify_keyword").val()
            }, {field: sortObject.field, order: sortObject.type});
            medicalResultNotifyTable.reload({where: params, page: {curr: 1}});
        });

        /**
         *  体检告知刷新
         */
        $resetMedical.on('click', function () {
            $searchForm[2].reset();
            sortObject.type = 'desc';
            medicalResultNotifyTable.reload({
                where: {
                    keyword: $("#medicalResultNotify_keyword").val()
                }, page: {curr: 1}, initSort: sortObject
            });
        });

        var diseaseDiagnosiNotifyTableNum = 0;
        diseaseDiagnosiNotifyTable = xadmin.table.init({
            elem: '#diseaseDiagnosiNotify_table',
            id: 'diseaseDiagnosiNotify_table',
            url: ctx + 'diseaseDiagnosiNotify/diseaseDiagnosiList',
            cols: [[
                {
                    title: "序号",
                    type: "numbers",
                    align: "center"
                },
                {field: 'employeeName', title: '员工', width: 100, sort: true},
                {field: 'name', title: '疾病名称', width: 200, sort: true},
                {
                    field: 'diagnosiDate', title: '诊断时间', width: 120, sort: true,
                    templet: function (d) {
                        if (d.diagnosiDate) {
                            return util.toDateString(d.diagnosiDate, 'yyyy-MM-dd');
                        } else {
                            return '';
                        }
                    }
                },
                {
                    field: 'notifyFile', title: '告知书', templet: function (data) {
                        if (data.notifyFile) {
                            return "<a class='file-download' filePath='" + data.notifyFile + "'>" + data.notifyFile.substring(data.notifyFile.lastIndexOf("/") + 1) + "</a>";
                        }
                        return "";
                    }
                },
                {
                    field: 'notifyDate', title: '告知时间', width: 120, sort: true,
                    templet: function (d) {
                        if (d.notifyDate) {
                            return util.toDateString(d.notifyDate, 'yyyy-MM-dd');
                        } else {
                            return '';
                        }
                    }
                }
            ]],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                diseaseDiagnosiNotifyTableNum = result.data.total;
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.rows
                };
            }
        });

        /**
         * 4.    职业病诊断结果告知查询
         */
        $queryDiseaseDiagnosiNotify.on('click', function () {
            var params = $.extend({
                keyword: $("#diseaseDiagnosiNotify_keyword").val()
            }, {field: sortObject.field, order: sortObject.type});
            diseaseDiagnosiNotifyTable.reload({where: params, page: {curr: 1}});
        });

        /**
         *  4.    职业病诊断结果告知刷新
         */
        $resetDiseaseDiagnosiNotify.on('click', function () {
            $searchForm[3].reset();
            sortObject.type = 'desc';
            diseaseDiagnosiNotifyTable.reload({
                where: {
                    keyword: $("#diseaseDiagnosiNotify_keyword").val()
                }, page: {curr: 1}, initSort: sortObject
            });
        });

        var workplaceInfoNotifyTableNum = 0;
        var workplaceInfoNotifyTable = table.render({
            elem: '#workplaceInfoNotify_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'name',
                        title: '作业场所名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'address',
                        title: '作业场所地址',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        title: '职业病危害警示',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='identifyFileDetail(" + data.id + ",\"职业病危害警示\")'>"
                                + (data.identifyFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "")
                                + "</a>"
                        }
                    },
                    {
                        title: '高毒物品告知卡',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='informFileDetail(" + data.id + ",\"高毒物品告知卡\")'>"
                                + (data.informFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "")
                                + "</a>"
                        }
                    },
                    {
                        title: '职业危害因素信息卡',
                        align: 'center',
                        minWidth: 180,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='informationFileDetail(" + data.id + ",\"职业危害因素信息卡\")'>"
                                + (data.informationFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "")
                                + "</a>"
                        }
                    },
                    {
                        title: '职业病危害因素',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='harmfactorDetail(" + data.id + ")'>"
                                + (data.harmfactorNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "")
                                + "</a>"
                        }
                    }
                ]
            ],
            url: 'workplace/listWorkplaces',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                workplaceInfoNotifyTableNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseWorkplaces
                };
            },
            where: {
                keyword: $('#workplaceInfoNotify_keyword').val().trim()
            },
            autoSort: false
        });

// 职业病危害警示详细
        window.identifyFileDetail = function (relationId, relationModule) {
            xadmin.modal.open("职业病危害警示", "harmDeclare/identifyFileDetail/" + relationId + "/" + relationModule, {
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 高毒物品告知卡详细
        window.informFileDetail = function (relationId, relationModule) {
            xadmin.modal.open("高毒物品告知卡", "harmDeclare/informFileDetail/" + relationId + "/" + relationModule, {
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 职业危害因素信息卡详细
        window.informationFileDetail = function (relationId, relationModule) {
            xadmin.modal.open("职业危害因素信息卡", "harmDeclare/informationFileDetail/" + relationId + "/" + relationModule, {
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 职业病危害因素详细
        window.harmfactorDetail = function (workplaceId) {
            xadmin.modal.open("职业病危害因素", "harmDeclare/harmfactorDetail/" + workplaceId, {
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 申报涉及的场所和危害因素详细
        window.declareWorkplaceDetail = function (declareId) {
            xadmin.modal.open("申报涉及的场所和危害因素", "harmDeclare/declareWorkplaceDetail/" + declareId, {
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        /**
         * 4.    职业病诊断结果告知查询
         */
        $queryWorkplaceInfoNotify.on('click', function () {
            var params = $.extend({
                keyword: $("#workplaceInfoNotify_keyword").val()
            }, {field: sortObject.field, order: sortObject.type});
            workplaceInfoNotifyTable.reload({where: params, page: {curr: 1}});
        });

        /**
         *  4.    职业病诊断结果告知刷新
         */
        $resetWorkplaceInfoNotify.on('click', function () {
            $searchForm[4].reset();
            sortObject.type = 'desc';
            workplaceInfoNotifyTable.reload({
                where: {
                    keyword: $("#workplaceInfoNotify_keyword").val()
                }, page: {curr: 1}, initSort: sortObject
            });
        });

        var yearReportNotifyTableNum = 0;
        var yearReportNotifyTable = table.render({
            elem: '#yearReportNotify_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'type',
                        title: '告知类型',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'allNotifyNum',
                        title: '应告知次数',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'notifyNum',
                        title: '已告知次数',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'notifyStatistics',
                        title: '告知率',
                        align: 'center',
                        sort: true,
                        minWidth: 150,
                        templet: function (data) {
                            if(data.allNotifyNum==0){
                                return "100%";
                            }else{
                                return data.notifyStatistics * 100 + "%";
                            }


                        }
                    }
                ]
            ],
            url: 'harmInformAccount/getYearReportNotifyList',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                yearReportNotifyTableNum = result.data.length;
                return {
                    code: 0,
                    count: result.data.length,
                    data: result.data
                };
            },
            where: {
                yearReportNotify_startDate: $("#yearReportNotify_startDate").val().trim(),
                yearReportNotify_endDate: $("#yearReportNotify_endDate").val().trim()
            },
            autoSort: false
        });
        /**
         * 4.    职业病诊断结果告知查询
         */
        $queryYearReportNotify.on('click', function () {
            var params = $.extend({
                yearReportNotify_startDate: $("#yearReportNotify_startDate").val(),
                yearReportNotify_endDate: $("#yearReportNotify_endDate").val()
            }, {field: sortObject.field, order: sortObject.type});
            yearReportNotifyTable.reload({where: params, page: {curr: 1}});
        });

        /**
         *  4.    职业病诊断结果告知刷新
         */
        $resetYearReportNotify.on('click', function () {
            $searchForm[4].reset();
            sortObject.type = 'desc';
            yearReportNotifyTable.reload({
                where: {}, page: {curr: 1}, initSort: sortObject
            });
        });

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadHarmInform();
                }
                if (name === 'exportAccount') {
                    downloadHarmInformAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        //下载岗前告知列表
        $("#workNotifyDownload").on("click", function () {
            if (workNofityTableInsNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                window.open("/harmInformAccount/workNotifyDownload?work_notify_keyword="+ $("#work_notify_keyword").val(), "_blank");
                layer.close(index);
            });
        });
        //下载检测结果告知列表
        $("#workplaceNotifyDownload").on("click", function () {
            if (workplaceNotifyTableInsNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/workplaceNotifyDownload?workplaceNotify_keyword='+ $("#workplaceNotify_keyword").val();
                window.open(url, "_blank");
                layer.close(index);
            });
        });
        //下载体检结果告知列表
        $("#medicalResultNotifyDownload").on("click", function () {
            if (medicalResultNotifyTableNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/medicalResultNotifyDownload?medicalResultNotify_keyword='+ $("#medicalResultNotify_keyword").val();
                layer.close(index);
            });
        });
        //下载职业病诊断结果告知列表
        $("#diseaseDiagnosiNotifyDownload").on("click", function () {
            if (diseaseDiagnosiNotifyTableNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/diseaseDiagnosiNotifyDownload?diseaseDiagnosiNotify_keyword='+ $("#diseaseDiagnosiNotify_keyword").val();
                window.open(url, "_blank");
                layer.close(index);
            });
        });
        //下载工作场所告知告知列表
        $("#workplaceInfoNotifyDownload").on("click", function () {
            if (workplaceInfoNotifyTableNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/workplaceInfoNotifyDownload';
                window.open(url, "_blank");
                layer.close(index);
            });
        });
        //下载告知年度统计
        $("#yearReportNotifyDownload").on("click", function () {
            if (yearReportNotifyTableNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/yearReportNotifyDownload?yearReportNotify_startDate=' + $("#yearReportNotify_startDate").val() + '&yearReportNotify_endDate=' + $("#yearReportNotify_endDate").val();
                window.open(url, "_blank");
                layer.close(index);
            });
        });
        //下载职业危害告知台帐zip
        window.downloadHarmInform = function () {
            if (workNofityTableInsNum == 0 && diseaseDiagnosiNotifyTableNum == 0 && medicalResultNotifyTableNum == 0 && workplaceNotifyTableInsNum == 0 && workplaceInfoNotifyTableNum == 0 && yearReportNotifyTableNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/harmInformAccountDownload?yearReportNotify_startDate=' + $("#yearReportNotify_startDate").val() + '&yearReportNotify_endDate=' + $("#yearReportNotify_endDate").val()+'&work_notify_keyword='+ $("#work_notify_keyword").val()+'&workplaceNotify_keyword='+ $("#workplaceNotify_keyword").val()+'&medicalResultNotify_keyword='+ $("#medicalResultNotify_keyword").val()+'&diseaseDiagnosiNotify_keyword='+ $("#diseaseDiagnosiNotify_keyword").val();
                window.open(url, "_blank");
                layer.close(index);
            });
        }
        //下载职业危害告知台帐文件
        window.downloadHarmInformAccount = function () {
            if (workNofityTableInsNum == 0 && diseaseDiagnosiNotifyTableNum == 0 && medicalResultNotifyTableNum == 0 && workplaceNotifyTableInsNum == 0 && workplaceInfoNotifyTableNum == 0 && yearReportNotifyTableNum == 0) {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function (index) {
                var url = '/harmInformAccount/downloadHarmInformAccount?yearReportNotify_startDate=' + $("#yearReportNotify_startDate").val() + '&yearReportNotify_endDate=' + $("#yearReportNotify_endDate").val()+'&work_notify_keyword='+ $("#work_notify_keyword").val()+'&workplaceNotify_keyword='+ $("#workplaceNotify_keyword").val()+'&medicalResultNotify_keyword='+ $("#medicalResultNotify_keyword").val()+'&diseaseDiagnosiNotify_keyword='+ $("#diseaseDiagnosiNotify_keyword").val();
                window.open(url, "_blank");
                layer.close(index);
            });
        }
    });
</script>