<style>
    #edit-equipment-use {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-equipment-use">
    <form id="equipment_use_form" class="layui-form" action="" lay-filter="equipment_use_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseEquipmentUse?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseEquipmentUse?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">使用日期：</label>
            <div class="layui-input-block">
                <input type="text" id="useDate" name="useDate" placeholder="请选择使用日期" lay-verify="required"
                       th:value="${#dates.format(enterpriseEquipmentUse?.useDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">使用描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入使用描述" maxlength="200"
                       th:value="${enterpriseEquipmentUse?.description}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="equipment-use"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#useDate',
            type: 'date'
        });
        form.render();
        // 表单提交
        form.on('submit(equipment-use)', function(data) {
            var enterpriseEquipmentUse = {};
            $.each($("#equipment_use_form input[name],select[name]"), function (index, element) {
                enterpriseEquipmentUse[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseEquipmentUse) {
                var formData = new FormData();
                formData.append("enterpriseEquipmentUseJSON", JSON.stringify(enterpriseEquipmentUse));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'equipmentUse/editEquipmentUse/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryEquipmentUse();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>