<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-equipment-use" lay-title="运行记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="equipment_use_table" lay-filter="equipment_use_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 运行记录table行编辑、删除 -->
<script type="text/html" id="equipment_use_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-equipment-use'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 运行记录table
        var equipmentUseTable = table.render({
            elem: '#equipment_use_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'useDate',
                        title: '使用日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.useDate) {
                                return util.toDateString(d.useDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'description',
                        title: '使用描述',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '运行设备',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='runEquipment(" + data.id + ",1)'>"
                                + (data.equipmentNum > 0 ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#equipment_use_bar',
                        width: 120
                    }
                ]
            ],
            url: 'equipmentUse/listEquipmentUses',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseEquipmentUses
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 运行记录table排序
        table.on('sort(equipment_use_table)', function (obj) {
            requeryEquipmentUse(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('equipment_use_table');
                if (name === 'add') {
                    xadmin.modal.open("新增运行记录","equipmentUse/editEquipmentUse",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-equipment-use').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-equipment-use').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的运行记录');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'equipmentUse/deleteEquipmentUses',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryEquipmentUse();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增运行记录'
            }, {
                name: 'delete',
                title: '删除运行记录'
            }]
        });
        // 监听运行记录table行事件（编辑、删除）
        table.on('tool(equipment_use_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑运行记录","equipmentUse/editEquipmentUse/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-equipment-use').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该运行记录吗？', function(index) {
                    $.ajax({
                        url: 'equipmentUse/deleteEquipmentUse',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryEquipmentUse();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryEquipmentUse = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            equipmentUseTable.reload(options);
        }
        $query.on('click', function() {
            requeryEquipmentUse();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryEquipmentUse();
        });
        // 运行的设备
        window.runEquipment = function(recordId, type) {
            xadmin.modal.open("运行的设备","equipmentUse/runEquipment/" + recordId + "/" + type, {
                area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
            });
        }
    });
</script>