<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-workplace-identify-file">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: auto;">
                                <button type="button" class="layui-btn" onclick="addIdentifyFile();">添加</button>
                                <button type="button" class="layui-btn" onclick="deleteIdentifyFile();">删除</button>
                            </div>
                        </div>
                    </form>
                    <table id="identify_file_table" lay-filter="identify_file_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 职业病危害警示table行查看、编辑、删除 -->
<script type="text/html" id="identify_file_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 关联id
    var relationId = [[${relationId}]];
    // 关联模块
    var relationModule = '[[${relationModule}]]';
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin;
        // 职业病危害警示table
        var identifyFileTable = table.render({
            elem: "#identify_file_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "附件",
                        align: "center",
                        minWidth: 120,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#identify_file_bar',
                        width: 120
                    }
                ]
            ],
            url: "workplace/identifyFile/listIdentifyFiles",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseRelationFiles
                };
            },
            where: {
                relationId: relationId,
                relationModule: relationModule
            }
        });
        // 监听职业病危害警示table行事件（查看、编辑、删除）
        table.on('tool(identify_file_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑职业病危害警示",'workplace/identifyFile/editIdentifyFile/' + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-workplace-identify-file').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该职业病危害警示吗？', function(index) {
                    $.ajax({
                        url: 'workplace/identifyFile/deleteIdentifyFile',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            filePath: data.filePath
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                table.reload('identify_file_table');
                                parent.requeryWorkplace();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requery = function() {
            identifyFileTable.reload({
                where: {
                    relationId: relationId,
                    relationModule: relationModule
                }
            });
            parent.requeryWorkplace();
        }
        // 添加
        window.addIdentifyFile = function() {
            xadmin.modal.open("新增职业病危害警示",'workplace/identifyFile/addIdentifyFile/' + relationId + "/" + relationModule,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-workplace-identify-file').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-workplace-identify-file').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 删除
        window.deleteIdentifyFile = function() {
            var checkStatus = table.checkStatus('identify_file_table');
            if (!checkStatus.data.length) {
                layer.msg('请选择需要删除的职业病危害警示', {icon: 5});
            } else {
                var ids = [];
                layui.each(checkStatus.data, function (key, item) {
                    ids.push(item.id)
                });
                $.ajax({
                    url: 'workplace/identifyFile/deleteIdentifyFiles',
                    type: 'post',
                    dataType: 'json',
                    traditional: true,
                    data: {ids: ids},
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            table.reload('identify_file_table');
                            parent.requeryWorkplace();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            }
        }
    });
</script>