<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-inspection-account" lay-title="检查整改台帐">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="inspection_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryInspection">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetInspection">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="inspection_table" lay-filter="inspection_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-inspection-account'),
            $queryInspection = $view.find('#queryInspection'),
            $resetInspection = $view.find('#resetInspection'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 日常检查整改登记的数目
        var inspectionNum = '';
        // 日常检查整改登记table
        var inspectionTable = table.render({
            elem: '#inspection_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'checkDate',
                        title: '检查时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.checkDate) {
                                return util.toDateString(d.checkDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'checkNature',
                        title: '检查性质',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'checkDept',
                        title: '检查部门',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'content',
                        title: '检查内容',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'isRectified',
                        title: '是否整改',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            // 修改数据显示
                            var isRectified = '';
                            if (d.isRectified === 0) {
                                isRectified = '否';
                            } else if (d.isRectified === 1) {
                                isRectified =  '是';
                            }
                            return isRectified;
                        }
                    },
                    {
                        field: 'rectificationDeadline',
                        title: '整改期限',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.rectificationDeadline) {
                                return util.toDateString(d.rectificationDeadline, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'registrationSheet',
                        title: '检查整改登记表',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            if (data.registrationSheet) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.registrationSheet + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '整改记录',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            console.log(data);
                            if (data.isRectified === 1) {
                                return "<a href='javascript:void(0);' onclick='rectificationDetail(" + data.id + "," + data.rectificationNum + ")'>"
                                    + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                            } else {
                                return '';
                            }
                        }
                    }
                ]
            ],
            url: 'inspection/listInspections',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                inspectionNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInspections
                };
            },
            autoSort: false
        });
        // 日常检查整改登记table排序
        table.on('sort(inspection_table)', function (obj) {
            requeryInspectionAccount(obj);
        });
        // 日常检查整改登记table查询
        window.requeryInspectionAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#inspection_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            inspectionTable.reload(options);
        }
        $queryInspection.on('click', function() {
            requeryInspectionAccount();
        });
        // 日常检查整改登记table重置刷新
        $resetInspection.on('click', function () {
            $searchForm[0].reset();
            requeryInspectionAccount();
        });

        // 整改记录详细
        window.rectificationDetail = function(inspectionId, rectificationNum) {
            xadmin.modal.open("整改记录","inspection/rectificationDetail/" + inspectionId + "/" + rectificationNum,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadInspection();
                }
                if (name === 'exportAccount') {
                    downloadInspectionAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 检查整改台帐zip下载
        window.downloadInspection = function() {
            if (inspectionNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/inspectionAccount/downloadInspection?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 检查整改台帐文件下载
        window.downloadInspectionAccount = function() {
            if (inspectionNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/inspectionAccount/downloadInspectionAccount?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>