<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-rectification-detail">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetRectification">
                        <i class="layui-icon">&#xe79b;</i>
                    </div>
                    <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadRectification();">
                        <i class="layui-icon">&#xe601;</i>
                    </div>
                    <table id="rectification_detail_table" lay-filter="rectification_detail_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form','xadmin'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            $view = $('#xadmin-enterprise-rectification-detail'),
            $resetRectification = $view.find('#resetRectification');
        // 日常检查id
        var inspectionId = [[${inspectionId}]];
        // 整改记录数目
        var rectificationNum = [[${rectificationNum}]];
        // 整改记录详细table
        var rectificationDetailTable = table.render({
            elem: "#rectification_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'rectificationDate',
                        title: '整改时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.rectificationDate) {
                                return util.toDateString(d.rectificationDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: "department",
                        title: "整改部门",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "content",
                        title: "整改内容",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'filePath',
                        title: '整改文件',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: "inspection/rectification/listRectifications",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.enterpriseInspectionRectifications
                };
            },
            where: {
                inspectionId: inspectionId,
            }
        });
        // 整改记录详细table重置刷新
        $resetRectification.on('click', function () {
            rectificationDetailTable.reload();
        });

        // 整改记录word下载
        window.downloadRectification = function() {
            if (rectificationNum != 0) {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/inspectionAccount/downloadRectification?inspectionId=" + inspectionId, "_blank");
                    layer.close(index);
                });
            } else {
                layer.msg("没有整改记录，不能进行下载", {icon: 5});
            }
        }
    });
</script>