<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-completion-acceptance" lay-title="三同时竣工验收阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-md12">
                            <button type="button" class="layui-btn" onclick="submitProject();"
                                    style="float: none;">提交项目</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施竣工验收申请书</h2>
                </div>
                <div class="completion-acceptance-edit" id="application">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计审查批复文件（复印件）</h2>
                </div>
                <div class="completion-acceptance-edit" id="reply">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害控制效果评价机构资质证明（影印件）</h2>
                </div>
                <div class="completion-acceptance-edit" id="certificate">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害控制效果评价报告</h2>
                </div>
                <div class="completion-acceptance-edit" id="report">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>职业卫生专家对职业病危害控制效果评价报告的审查意见</h2>
                </div>
                <div class="completion-acceptance-edit" id="expert">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设单位对职业病危害控制效果评价报告的评审意见</h2>
                </div>
                <div class="completion-acceptance-edit" id="opinion">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施施工单位和监理单位资质证明（影印件）</h2>
                </div>
                <div class="completion-acceptance-edit" id="supervision">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="completion-acceptance-edit" id="other">
                    <button class="layui-btn" onclick="otherFile();">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-completion-acceptance .completion-acceptance-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-completion-acceptance .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-completion-acceptance h2 {
        font-size: 18px;
    }
    #ehs-enterprise-completion-acceptance .completion-acceptance-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
    #ehs-enterprise-completion-acceptance button {
        float: right;
    }
    #ehs-enterprise-completion-acceptance button.view {
        float: right;
        margin-left: 10px;
    }
    #ehs-enterprise-completion-acceptance .file-download {
        line-height: 38px;
        font-size: 15px;
    }
    #ehs-enterprise-completion-acceptance a:link {
        color: #1183FF;
    }
    #ehs-enterprise-completion-acceptance a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin;
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        $(function() {
            $.ajax({
                url: 'threeSimultaneity/completionAcceptance/listCompletionAcceptances',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病防护设施竣工验收申请书']) {
                        var data1 = data['建设项目职业病防护设施竣工验收申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data1.filePath + '\');">删除</button>';
                        $('#application').html(html);
                    } else {
                        var html = '<button id="application_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="application_file" type="file" style="display: none;"/>';
                        $('#application').html(html);
                        $('#application_btn').click(function (event) {
                            $('#application_file').click();
                        });
                        $('#application_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施竣工验收申请书');
                        });
                    }
                    if (data['建设项目职业病防护设施设计审查批复文件（复印件）']) {
                        var data2 = data['建设项目职业病防护设施设计审查批复文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data2.filePath + '\');">删除</button>';
                        $('#reply').html(html);
                    } else {
                        var html = '<button id="reply_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="reply_file" type="file" style="display: none;"/>';
                        $('#reply').html(html);
                        $('#reply_btn').click(function (event) {
                            $('#reply_file').click();
                        });
                        $('#reply_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计审查批复文件（复印件）');
                        });
                    }
                    if (data['建设项目职业病危害控制效果评价机构资质证明（影印件）']) {
                        var data5 = data['建设项目职业病危害控制效果评价机构资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data5.filePath + '\');">删除</button>';
                        $('#certificate').html(html);
                    } else {
                        var html = '<button id="certificate_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="certificate_file" type="file" style="display: none;"/>';
                        $('#certificate').html(html);
                        $('#certificate_btn').click(function (event) {
                            $('#certificate_file').click();
                        });
                        $('#certificate_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害控制效果评价机构资质证明（影印件）');
                        });
                    }
                    if (data['建设项目职业病危害控制效果评价报告']) {
                        var data6 = data['建设项目职业病危害控制效果评价报告'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data6.filePath + '\');">删除</button>';
                        $('#report').html(html);
                    } else {
                        var html = '<button id="report_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="report_file" type="file" style="display: none;"/>';
                        $('#report').html(html);
                        $('#report_btn').click(function (event) {
                            $('#report_file').click();
                        });
                        $('#report_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害控制效果评价报告');
                        });
                    }
                    if (data['职业卫生专家对职业病危害控制效果评价报告的审查意见']) {
                        var data7 = data['职业卫生专家对职业病危害控制效果评价报告的审查意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data7.filePath + '">'
                            + data7.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'职业卫生专家对职业病危害控制效果评价报告的审查意见\',' + data7.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data7.filePath + '\');">删除</button>';
                        $('#expert').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'职业卫生专家对职业病危害控制效果评价报告的审查意见\');">添加</button>';
                        $('#expert').html(html);
                    }
                    if (data['建设单位对职业病危害控制效果评价报告的评审意见']) {
                        var data8 = data['建设单位对职业病危害控制效果评价报告的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data8.filePath + '">'
                            + data8.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'建设单位对职业病危害控制效果评价报告的评审意见\',' + data8.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data8.filePath + '\');">删除</button>';
                        $('#opinion').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'建设单位对职业病危害控制效果评价报告的评审意见\');">添加</button>';
                        $('#opinion').html(html);
                    }
                    if (data['建设项目职业病防护设施施工单位和监理单位资质证明（影印件）']) {
                        var data9 = data['建设项目职业病防护设施施工单位和监理单位资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data9.filePath + '">'
                            + data9.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data9.filePath + '\');">删除</button>';
                        $('#supervision').html(html);
                    } else {
                        var html = '<button id="supervision_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="supervision_file" type="file" style="display: none;"/>';
                        $('#supervision').html(html);
                        $('#supervision_btn').click(function (event) {
                            $('#supervision_file').click();
                        });
                        $('#supervision_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施施工单位和监理单位资质证明（影印件）');
                        });
                    }
                }
            });
        });
        // 查询
        window.requeryCompletionAcceptance = function() {
            $.ajax({
                url: 'threeSimultaneity/completionAcceptance/listCompletionAcceptances',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病防护设施竣工验收申请书']) {
                        var data1 = data['建设项目职业病防护设施竣工验收申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data1.filePath + '\');">删除</button>';
                        $('#application').html(html);
                    } else {
                        var html = '<button id="application_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="application_file" type="file" style="display: none;"/>';
                        $('#application').html(html);
                        $('#application_btn').click(function (event) {
                            $('#application_file').click();
                        });
                        $('#application_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施竣工验收申请书');
                        });
                    }
                    if (data['建设项目职业病防护设施设计审查批复文件（复印件）']) {
                        var data2 = data['建设项目职业病防护设施设计审查批复文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data2.filePath + '\');">删除</button>';
                        $('#reply').html(html);
                    } else {
                        var html = '<button id="reply_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="reply_file" type="file" style="display: none;"/>';
                        $('#reply').html(html);
                        $('#reply_btn').click(function (event) {
                            $('#reply_file').click();
                        });
                        $('#reply_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计审查批复文件（复印件）');
                        });
                    }
                    if (data['建设项目职业病危害控制效果评价机构资质证明（影印件）']) {
                        var data5 = data['建设项目职业病危害控制效果评价机构资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data5.filePath + '\');">删除</button>';
                        $('#certificate').html(html);
                    } else {
                        var html = '<button id="certificate_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="certificate_file" type="file" style="display: none;"/>';
                        $('#certificate').html(html);
                        $('#certificate_btn').click(function (event) {
                            $('#certificate_file').click();
                        });
                        $('#certificate_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害控制效果评价机构资质证明（影印件）');
                        });
                    }
                    if (data['建设项目职业病危害控制效果评价报告']) {
                        var data6 = data['建设项目职业病危害控制效果评价报告'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data6.filePath + '\');">删除</button>';
                        $('#report').html(html);
                    } else {
                        var html = '<button id="report_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="report_file" type="file" style="display: none;"/>';
                        $('#report').html(html);
                        $('#report_btn').click(function (event) {
                            $('#report_file').click();
                        });
                        $('#report_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害控制效果评价报告');
                        });
                    }
                    if (data['职业卫生专家对职业病危害控制效果评价报告的审查意见']) {
                        var data7 = data['职业卫生专家对职业病危害控制效果评价报告的审查意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data7.filePath + '">'
                            + data7.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'职业卫生专家对职业病危害控制效果评价报告的审查意见\',' + data7.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data7.filePath + '\');">删除</button>';
                        $('#expert').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'职业卫生专家对职业病危害控制效果评价报告的审查意见\');">添加</button>';
                        $('#expert').html(html);
                    }
                    if (data['建设单位对职业病危害控制效果评价报告的评审意见']) {
                        var data8 = data['建设单位对职业病危害控制效果评价报告的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data8.filePath + '">'
                            + data8.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'建设单位对职业病危害控制效果评价报告的评审意见\',' + data8.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data8.filePath + '\');">删除</button>';
                        $('#opinion').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'建设单位对职业病危害控制效果评价报告的评审意见\');">添加</button>';
                        $('#opinion').html(html);
                    }
                    if (data['建设项目职业病防护设施施工单位和监理单位资质证明（影印件）']) {
                        var data9 = data['建设项目职业病防护设施施工单位和监理单位资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data9.filePath + '">'
                            + data9.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data9.filePath + '\');">删除</button>';
                        $('#supervision').html(html);
                    } else {
                        var html = '<button id="supervision_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="supervision_file" type="file" style="display: none;"/>';
                        $('#supervision').html(html);
                        $('#supervision_btn').click(function (event) {
                            $('#supervision_file').click();
                        });
                        $('#supervision_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施施工单位和监理单位资质证明（影印件）');
                        });
                    }
                }
            });
        }
        // 上传文件
        window.fileUpload = function(input, type) {
            // 限制上传文件大小最大为20MB
            var fileSize = input.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                input.value = '';
                return;
            }
            var enterpriseThreeSimultaneityFile = {};
            enterpriseThreeSimultaneityFile['projectId'] = projectId;
            enterpriseThreeSimultaneityFile['projectState'] = projectState;
            enterpriseThreeSimultaneityFile['fileType'] = type;
            var formData = new FormData();
            formData.append("enterpriseThreeSimultaneityFileJSON", JSON.stringify(enterpriseThreeSimultaneityFile));
            formData.append('threeSimultaneityFile', input.files[0]);
            // 加载层，阻止上传完成前的其他操作
            var loadingIndex = layer.load(2);
            $.ajax({
                url: 'threeSimultaneity/fileUpload',
                type: 'post',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.status === 'success') {
                        parent.layer.msg(result.message, {icon: 6});
                        requeryCompletionAcceptance();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }
        // 删除文件
        window.fileDelete = function(filePath) {
            $.ajax({
                url: 'threeSimultaneity/fileDelete',
                type: 'post',
                dataType: 'json',
                data: {filePath: filePath},
                success: function (result) {
                    if (result.status === "success") {
                        layer.msg(result.message, {icon: 6});
                        requeryCompletionAcceptance();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            });
        }
        // 项目提交
        window.submitProject = function() {
            layer.confirm('确定要提交项目吗？提交后，项目各阶段将无法修改！请确保项目各阶段文件上传完毕', {
                btn: ['确定', '取消']
            }, function() {
                xadmin.modal.open("确认风险分类","threeSimultaneity/high/riskClass/" + projectId,{
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    btn: ['提交', '重置'],
                    yes: function (index, layero) {
                        $('#select-risk-class').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#select-risk-class').find('#reset').trigger('click');
                        return false;
                    }
                });
            });
        }
        // 添加意见文件
        window.addOpinionFile = function(fileType) {
            xadmin.modal.open("新增" + fileType, 'threeSimultaneityFile/addOpinion/' + projectId + "/" + projectState + "/" + fileType,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-opinion-file').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-opinion-file').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 查看意见
        window.viewOpinion = function(fileType, id) {
            xadmin.modal.open("查看" + fileType, 'threeSimultaneityFile/viewOpinion/' + id,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 其他文件
        window.otherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '竣工验收阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>