<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-completion-acceptance" lay-title="三同时竣工验收阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施竣工验收申请书</h2>
                </div>
                <div class="completion-acceptance-edit" id="application">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计审查批复文件（复印件）</h2>
                </div>
                <div class="completion-acceptance-edit" id="reply">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害控制效果评价机构资质证明（影印件）</h2>
                </div>
                <div class="completion-acceptance-edit" id="certificate">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害控制效果评价报告</h2>
                </div>
                <div class="completion-acceptance-edit" id="report">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>职业卫生专家对职业病危害控制效果评价报告的审查意见</h2>
                </div>
                <div class="completion-acceptance-edit" id="expert">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设单位对职业病危害控制效果评价报告的评审意见</h2>
                </div>
                <div class="completion-acceptance-edit" id="opinion">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施施工单位和监理单位资质证明（影印件）</h2>
                </div>
                <div class="completion-acceptance-edit" id="supervision">
                </div>
            </div>
            <div class="completion-acceptance-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="completion-acceptance-edit" id="other">
                    <button class="layui-btn layui-btn-primary" onclick="viewOtherFile();">查看</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-completion-acceptance .completion-acceptance-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-completion-acceptance .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-completion-acceptance h2 {
        font-size: 18px;
    }
    #ehs-enterprise-completion-acceptance .completion-acceptance-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
    #ehs-enterprise-completion-acceptance button.view {
        float: right;
        margin-left: 10px;
    }
    #ehs-enterprise-completion-acceptance .file-download {
        line-height: 38px;
        font-size: 15px;
    }
    #ehs-enterprise-completion-acceptance a:link {
        color: #1183FF;
    }
    #ehs-enterprise-completion-acceptance a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin;
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        $(function() {
            $.ajax({
                url: 'threeSimultaneity/completionAcceptance/listCompletionAcceptances',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病防护设施竣工验收申请书']) {
                        var data1 = data['建设项目职业病防护设施竣工验收申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>';
                        $('#application').html(html);
                    }
                    if (data['建设项目职业病防护设施设计审查批复文件（复印件）']) {
                        var data2 = data['建设项目职业病防护设施设计审查批复文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>';
                        $('#reply').html(html);
                    }
                    if (data['建设项目职业病危害控制效果评价机构资质证明（影印件）']) {
                        var data5 = data['建设项目职业病危害控制效果评价机构资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>';
                        $('#certificate').html(html);
                    }
                    if (data['建设项目职业病危害控制效果评价报告']) {
                        var data6 = data['建设项目职业病危害控制效果评价报告'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>';
                        $('#report').html(html);
                    }
                    if (data['职业卫生专家对职业病危害控制效果评价报告的审查意见']) {
                        var data7 = data['职业卫生专家对职业病危害控制效果评价报告的审查意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data7.filePath + '">'
                            + data7.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'职业卫生专家对职业病危害控制效果评价报告的审查意见\',' + data7.id + ');">查看</button>';
                        $('#expert').html(html);
                    }
                    if (data['建设单位对职业病危害控制效果评价报告的评审意见']) {
                        var data8 = data['建设单位对职业病危害控制效果评价报告的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data8.filePath + '">'
                            + data8.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'建设单位对职业病危害控制效果评价报告的评审意见\',' + data8.id + ');">查看</button>';
                        $('#opinion').html(html);
                    }
                    if (data['建设项目职业病防护设施施工单位和监理单位资质证明（影印件）']) {
                        var data9 = data['建设项目职业病防护设施施工单位和监理单位资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data9.filePath + '">'
                            + data9.fileName + '</a>';
                        $('#supervision').html(html);
                    }
                }
            });
        });
        // 查看意见
        window.viewOpinion = function(fileType, id) {
            xadmin.modal.open("查看" + fileType, 'threeSimultaneityFile/viewOpinion/' + id,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 其他文件
        window.viewOtherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '竣工验收阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/viewOtherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>