<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-declare-workplace">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="declare_workplace_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryDeclareWorkplace">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetDeclareWorkplace">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                    <i class="layui-icon">&#xe875;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="declare_workplace_table" lay-filter="declare_workplace_table"></table>
</div>
<style type="text/css">
    .layui-dropdown{
        z-index: 200000000;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-declare-workplace'),
            $queryDeclareWorkplace = $view.find('#queryDeclareWorkplace'),
            $resetDeclareWorkplace = $view.find('#resetDeclareWorkplace'),
            $searchForm = $view.find('form');
        form.render();
        // 申报id
        var declareId = [[${declareId}]];
        // 申报涉及危害场所和危害因素table
        var declareWorkplaceTable = table.render({
            elem: "#declare_workplace_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "workplaceName",
                        title: "作业场所名称",
                        align: "center",
                        minWidth: 150,
                        sort: true
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: 90,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' onclick='removeDeclareWorkplace(" + data.id + ")'>移除</a>";
                        }
                    }
                ]
            ],
            url: "declare/declareWorkplace/listDeclareWorkplaces",
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.declareWorkplaces
                };
            },
            where: {
                keyword: $('#declare_workplace_keyword').val().trim(),
                declareId: declareId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(declare_workplace_table)', function (obj) {
            requeryDeclareWorkplace(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('declare_workplace_table');
                if (name === 'select') {
                    xadmin.modal.open("选择作业场所和危害因素","declare/declareWorkplace/select/" + declareId,{
                        btn: ['提交', '取消'],
                        area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '55%'],
                        yes: function (index, layero) {
                            $('#select-declare-workplace').find('#submit').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        layer.msg('请选择要移除的作业场所和危害因素', {icon: 5});
                        return;
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'declare/declareWorkplace/deleteDeclareWorkplaces',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('declare_workplace_table');
                                    parent.requeryDeclare();
                                    layer.msg(result.message, {icon: 6});
                                } else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'select',
                title: '选择场所和危害'
            }, {
                name: 'delete',
                title: '移除场所和危害'
            }]
        });
        // 选择作业场所和危害因素后，table重载
        window.requerySelectedDeclareWorkplace = function() {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                }
            }
            declareWorkplaceTable.reload(options);
            parent.requeryDeclare();
        }
        // 查询
        window.requeryDeclareWorkplace = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#declare_workplace_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            declareWorkplaceTable.reload(options);
        }
        $queryDeclareWorkplace.on('click', function() {
            requeryDeclareWorkplace();
        });
        // 重置刷新
        $resetDeclareWorkplace.on('click', function () {
            $searchForm[0].reset();
            requeryDeclareWorkplace();
        });
        // 移除作业场所和危害因素
        window.removeDeclareWorkplace = function (id) {
            layer.confirm('确定要移除该作业场所和危害因素吗？', function(index) {
                $.ajax({
                    url: 'declare/declareWorkplace/deleteDeclareWorkplace',
                    type: 'post',
                    dataType: 'json',
                    data: {id: id},
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            table.reload('declare_workplace_table');
                            parent.requeryDeclare();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }
    });
</script>