<div class="layui-fluid layui-anim xadmin-anim" id="select-declare-workplace">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md10">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="select_declare_workplace_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="querySelectDeclareWorkplace">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetSelectDeclareWorkplace">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="select_declare_workplace_table" lay-filter="select_declare_workplace_table"></table>
    <div class="layui-form-item xadmin-hide">
        <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="select-declare-workplace"></button>
        <button type="reset" class="layui-btn" id="reset"></button>
    </div>
</div>
<script>
    layui.use(["jquery", "table", "layer", 'form','xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin=layui.xadmin,
            $view = $('#select-declare-workplace'),
            $querySelectDeclareWorkplace = $view.find('#querySelectDeclareWorkplace'),
            $resetSelectDeclareWorkplace = $view.find('#resetSelectDeclareWorkplace'),
            $searchForm = $view.find('form');
        form.render();
        let currentIndex = layer.index;
        form.render();
        // 申报id
        var declareId = [[${declareId}]];
        // 尚未选择的作业场所和危害因素table
        var selectDeclareWorkplaceTable = table.render({
            elem: "#select_declare_workplace_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "workplaceName",
                        title: "作业场所名称",
                        align: "center",
                        minWidth: 150,
                        sort: true
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                ]
            ],
            url: "declare/declareWorkplace/listSelectDeclareWorkplaces",
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.selectDeclareWorkplaces
                };
            },
            where: {
                keyword: $('#select_declare_workplace_keyword').val().trim(),
                declareId: declareId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(select_declare_workplace_table)', function (obj) {
            requerySelectDeclareWorkplace(obj);
        });
        // 查询
        window.requerySelectDeclareWorkplace = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#select_declare_workplace_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            selectDeclareWorkplaceTable.reload(options);
        }
        $querySelectDeclareWorkplace.on('click', function() {
            requerySelectDeclareWorkplace();
        });
        // 重置刷新
        $resetSelectDeclareWorkplace.on('click', function () {
            $searchForm[0].reset();
            requerySelectDeclareWorkplace();
        });
        // 表单提交
        form.on('submit(select-declare-workplace)', function(data) {
            var checkStatus = table.checkStatus("select_declare_workplace_table");
            if (checkStatus.data.length == 0) {
                layer.msg("请选择要提交的作业场所和危害因素", {icon: 5});
                return;
            }
            var loadingIndex = parent.layer.load(2);
            var declareWorkplaceList = [];
            $.each(checkStatus.data, function (index, data) {
                declareWorkplaceList.push({
                    declareId: declareId,
                    harmFactorId: data.harmFactorId,
                    workplaceId: data.workplaceId,
                    workplaceName: data.workplaceName,
                    harmFactorName: data.harmFactorName
                });
            });
            $.ajax({
                url: "declare/declareWorkplace/save",
                type: "post",
                dataType: "json",
                data: {"declareWorkplaceListJSON": JSON.stringify(declareWorkplaceList)},
                success: function (result) {
                    if (result.status == "success"){
                        layer.msg(result.message, {icon: 6});
                        layer.close(currentIndex);
                        parent.requerySelectedDeclareWorkplace();
                    }else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>