<style>
    #edit-accident-handle {
        padding: 20px 25px 25px 0;
    }
    #edit-accident-handle .layui-form-label {
        width: 150px;
    }
    #edit-accident-handle .layui-input-block {
        margin-left: 180px;
    }
</style>
<div class="layui-fluid" id="edit-accident-handle">
    <form id="accident_handle_form" class="layui-form" action="" lay-filter="accident_handle_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseAccidentHandle?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseAccidentHandle?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">事故时间：</label>
            <div class="layui-input-block">
                <input type="text" id="accidentDate" name="accidentDate" placeholder="请选择事故时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseAccidentHandle?.accidentDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">事故原因：</label>
            <div class="layui-input-block">
                <input type="text" id="accidentReason" name="accidentReason" placeholder="请输入事故原因" maxlength="200"
                       th:value="${enterpriseAccidentHandle?.accidentReason}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">事故处理经过：</label>
            <div class="layui-input-block">
                <input type="text" id="handleProcess" name="handleProcess" placeholder="请输入事故处理经过" maxlength="200"
                       th:value="${enterpriseAccidentHandle?.handleProcess}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">事故责任分析：</label>
            <div class="layui-input-block">
                <input type="text" id="responsibilityAnalysis" name="responsibilityAnalysis" placeholder="请输入事故责任分析" maxlength="200"
                       th:value="${enterpriseAccidentHandle?.responsibilityAnalysis}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">事故责任人处理情况：</label>
            <div class="layui-input-block">
                <input type="text" id="dutyPersonHandle" name="dutyPersonHandle" placeholder="请输入事故责任人处理情况" maxlength="200"
                       th:value="${enterpriseAccidentHandle?.dutyPersonHandle}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">事故防范与整改措施：</label>
            <div class="layui-input-block">
                <input type="text" id="measures" name="measures" placeholder="请输入事故防范与整改措施" maxlength="200"
                       th:value="${enterpriseAccidentHandle?.measures}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="accident-handle"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#accidentDate',
            type: 'date'
        });
        form.render();
        // 表单提交
        form.on('submit(accident-handle)', function(data) {
            var enterpriseAccidentHandle = {};
            $.each($("#accident_handle_form input[name],select[name]"), function (index, element) {
                enterpriseAccidentHandle[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseAccidentHandle) {
                var formData = new FormData();
                formData.append("enterpriseAccidentHandleJSON", JSON.stringify(enterpriseAccidentHandle));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'accidentHandle/editAccidentHandle/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryAccidentHandle();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>