<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-accident-handle" lay-title="事故调查处理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="accident_handle_table" lay-filter="accident_handle_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 事故调查处理table行编辑、删除 -->
<script type="text/html" id="accident_handle_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-accident-handle'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 事故调查处理table
        var accidentHandleTable = table.render({
            elem: '#accident_handle_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'accidentDate',
                        title: '事故时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.accidentDate) {
                                return util.toDateString(d.accidentDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'accidentReason',
                        title: '事故原因',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                    },
                    {
                        field: 'handleProcess',
                        title: '事故处理经过',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'responsibilityAnalysis',
                        title: '事故责任分析',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'dutyPersonHandle',
                        title: '事故责任人处理情况',
                        align: 'center',
                        sort: true,
                        minWidth: 180
                    },
                    {
                        field: 'measures',
                        title: '事故防范与整改措施',
                        align: 'center',
                        sort: true,
                        minWidth: 180
                    },
                    {
                        title: '相关文件',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='accidentFile(" + data.id + ",\"事故调查处理\")'>"
                                + (data.accidentFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#accident_handle_bar',
                        width: 120
                    }
                ]
            ],
            url: 'accidentHandle/listAccidentHandles',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseAccidentHandles
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 事故调查处理table排序
        table.on('sort(accident_handle_table)', function (obj) {
            requeryAccidentHandle(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('accident_handle_table');
                if (name === 'add') {
                    xadmin.modal.open("新增事故调查处理","accidentHandle/editAccidentHandle",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-accident-handle').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-accident-handle').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的事故调查处理');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'accidentHandle/deleteAccidentHandles',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryAccidentHandle();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增事故调查'
            }, {
                name: 'delete',
                title: '删除事故调查'
            }]
        });
        // 监听事故调查处理table行事件（编辑、删除）
        table.on('tool(accident_handle_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑事故调查处理","accidentHandle/editAccidentHandle/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-accident-handle').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该事故调查处理吗？', function(index) {
                    $.ajax({
                        url: 'accidentHandle/deleteAccidentHandle',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryAccidentHandle();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryAccidentHandle = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            accidentHandleTable.reload(options);
        }
        $query.on('click', function() {
            requeryAccidentHandle();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryAccidentHandle();
        });
        // 相关文件
        window.accidentFile = function(relationId, relationModule) {
            xadmin.modal.open("相关文件","accidentHandle/accidentFile/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>