<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-gov-data-summary" lay-title="辖区数据汇总">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12 data-summary-title">
            <span id="areaName"></span>
            <span id="data">数据汇总</span>
            <div class="layui-form-item" style="display: inline">
                <div class="layui-input-inline" style="width: auto;float: right;">
                    <label class="layui-form-label" style="width: 20px;"><img src="../img/年份选择.png"/></label>
                    <input id="year" type="text" placeholder="请选择年度" class="layui-input" style="width: 75%;"/>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 data-summary-content">
            数据由园区<span class="num" id="enterpriseNum"></span>家企业汇总而成，<br>
            涉害人员<span class="num" id="employeeNum"></span>人，其中女工<span class="num" id="femaleNum"></span>人，农民工<span class="num" id="migrantNum"></span>人
        </div>
    </div>
    <div class="layui-row xadmin-container">
        <div class="layui-col-md4 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header pie-chart">台账健全率</div>
                <div class="layui-card-body">
                    <div style="height: 280px;position: relative;">
                        <div id="account_sound_rate" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header pie-chart">岗前告知率</div>
                <div class="layui-card-body">
                    <div style="height: 280px;position: relative;">
                        <div id="before_post_notify_rate" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header pie-chart">危害因素检测率</div>
                <div class="layui-card-body">
                    <div style="height: 280px;position: relative;">
                        <div id="harm_factor_check_rate" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card data-summary-content">
                <div class="layui-card-header">危害因素接触情况</div>
                <div class="layui-card-body">
                    辖区内共涉及<span class="in-num" id="harmFactorNum"></span>个危害因素，涉害总人数达<span class="in-num" id="harmEmployeeNum"></span>人<br>
                    危害申报率
                    <span id="harmDeclareRate" style="font-size: 25px;color: #006cff;padding-left: 5px;"></span><span style="font-size: 25px;color: #006cff;">%</span>
                    <div style="margin-top: 15px; width: 50%;">
                        <div class="layui-progress layui-progress-big" lay-filter="declare_rate">
                            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card data-summary-content">
                <div class="layui-card-header">培训情况</div>
                <div class="layui-card-body">
                    辖区内企业员工培训总时长<span class="in-num" id="employeeTrainingDuration"></span>小时，人均<span class="in-num" id="employeeAverageDuration"></span>小时<br>
                    管理、负责人培训时长<span class="in-num" id="adminTrainingDuration"></span>小时，人均 <span class="in-num" id="adminAverageDuration"></span>小时
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header pie-chart">管理负责人培训率</div>
                <div class="layui-card-body">
                    <div style="height: 280px;position: relative;">
                        <div id="admin_training_rate" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header pie-chart">员工培训率</div>
                <div class="layui-card-body">
                    <div style="height: 280px;position: relative;">
                        <div id="employee_training_rate" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card data-summary-content">
                <div class="layui-card-header">体检信息</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md2 disease-number">
                            <span class="num-dot">· </span><span class="disease-num" id="tabooNum">0</span><span class="disease-num">人</span><br>
                            <span style="font-size: 16px;color: #545454;">职业禁忌症</span>
                        </div>
                        <div class="layui-col-md2 disease-number" style="border-left: 1px solid #000000;">
                            <span class="num-dot">· </span><span class="disease-num" id="occupationalDiseaseNum">0</span><span class="disease-num">人</span><br>
                            <span style="font-size: 16px;color: #545454;">职业病</span>
                        </div>
                        <div class="layui-col-md2 disease-number" style="border-left: 1px solid #000000;">
                            <span class="num-dot">· </span><span class="disease-num" id="suspectedDiseaseNum">0</span><span class="disease-num">人</span><br>
                            <span style="font-size: 16px;color: #545454;">疑似职业病</span>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-row" style="margin-top: 20px;">
                                <div class="layui-col-md2" style="font-size: 16px;color: #595b63;line-height: 18px;">岗前体检率</div>
                                <div class="layui-progress layui-progress-big layui-col-md8" lay-filter="before_post_rate">
                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                </div>
                                <div id="before_post_rate" class="layui-progress-text layui-col-md2" style="top: 0;padding-left: 10px;font-size: 16px;color: #595b63;"></div>
                            </div>
                            <div class="layui-row" style="margin-top: 20px;">
                                <div class="layui-col-md2" style="font-size: 16px;color: #595b63;line-height: 18px;">离岗体检率</div>
                                <div class="layui-progress layui-progress-big layui-col-md8" lay-filter="after_post_rate">
                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                </div>
                                <div id="after_post_rate" class="layui-progress-text layui-col-md2" style="top: 0;padding-left: 10px;font-size: 16px;color: #595b63;"></div>
                            </div>
                            <div class="layui-row" style="margin: 20px 0;">
                                <div class="layui-col-md2" style="font-size: 16px;color: #595b63;line-height: 18px;">岗中体检率</div>
                                <div class="layui-progress layui-progress-big layui-col-md8" lay-filter="in_post_rate">
                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                </div>
                                <div id="in_post_rate" class="layui-progress-text layui-col-md2" style="top: 0;padding-left: 10px;font-size: 16px;color: #595b63;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card data-summary-content">
                <div class="layui-card-header">企业危害因素检测时间分布</div>
                <div class="layui-card-body">
                    <div style="height: 280px;position: relative;">
                        <div id="harm_check_time" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #xadmin-gov-data-summary .data-summary-title {
        padding: 10px 10px 20px;
    }
    #xadmin-gov-data-summary .data-summary-content {
        padding: 5px 10px;
        font-size: 18px;
        line-height: 32px;
        color: #9b9b9b;
    }
    #xadmin-gov-data-summary .data-summary-content .layui-card-body {
        line-height: 32px;
    }
    #xadmin-gov-data-summary #areaName {
        font-size: 30px;
        padding-right: 5px;
    }
    #xadmin-gov-data-summary #data {
        font-size: 16px;
        font-weight: 600;
    }
    #xadmin-gov-data-summary span.num {
        padding: 0 5px;
        font-size: 25px;
        color: #1c4f90;
    }
    #xadmin-gov-data-summary span.in-num {
        padding: 0 5px;
        font-size: 25px;
        color: #006cff;
    }
    #xadmin-gov-data-summary .layui-card-header {
        font-size: 16px;
        font-weight: 600;
        color: #51516b;;
    }
    #xadmin-gov-data-summary .pie-chart {
        text-align: center;
    }
    #xadmin-gov-data-summary span.disease-num {
        font-size: 30px;
        color: #545454;
    }
    #xadmin-gov-data-summary span.num-dot {
        font-size: 30px;
        font-weight: 700;
        color: green;
    }
    #xadmin-gov-data-summary .disease-number {
        margin-top: 40px;
        text-align: center;
    }
</style>
<script type="text/javascript">
    layui.use(['jquery', 'xadmin', 'laydate', 'element'], function () {
        var $ = layui.jquery,
            xadmin = layui.xadmin,
            laydate = layui.laydate,
            element = layui.element;
        // 日期组件
        laydate.render({
            elem: '#year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryDataSummary(value);
            }
        });
        // 渲染进度条
        element.render('progress');

        // 查询监管区域信息
        xadmin.get("/dataSummary/getMonitorArea", null, function(result){
            $('#areaName').html(result.data.monitorArea.areaName);
        });

        // 查询监管企业数目
        xadmin.get("/dataSummary/getMonitorEnterpriseNum", null, function(result){
            $('#enterpriseNum').animateNumber({number: result.data.enterpriseNum}, 2000);
        });

        // 查询监管企业涉害人员数，女工数，农民工数
        xadmin.get("/dataSummary/getEnterpriseHarmEmployeeNum", null, function(result){
            $('#employeeNum').animateNumber({number: result.data.harmEmployeeNum.employeeNum}, 2000);
            $('#femaleNum').animateNumber({number: result.data.harmEmployeeNum.femaleNum}, 2000);
            $('#migrantNum').animateNumber({number: result.data.harmEmployeeNum.migrantNum}, 2000);
            $('#harmEmployeeNum').animateNumber({number: result.data.harmEmployeeNum.employeeNum}, 2000);
        });
        // 首次进入页面查询当前年份辖区数据汇总
        $(function() {
            // 滚动条置顶
            document.documentElement.scrollTop = 0;
            // 查询监管企业年度的各种类型数目
            xadmin.get("/dataSummary/getEnterpriseYearNum?year=" + new Date().getFullYear(), null, function (result) {
                if (result.status == 200) {
                    // 台账健全率
                    var enterpriseNum = result.data.enterpriseYearNum.enterpriseNum,
                        accountScore = result.data.enterpriseYearNum.accountScore,
                        accountSoundAvg = 0,
                        unAccountScoreAvg = 0;
                    if (enterpriseNum != 0 && accountScore != 0) {
                        accountSoundAvg = parseInt(accountScore / enterpriseNum);
                    }
                    if (accountSoundAvg > 0) {
                        unAccountScoreAvg = 100 - accountSoundAvg;
                    }

                    myCharts1.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已完成", value: accountSoundAvg},
                                    {name: "未完成", value: unAccountScoreAvg}
                                ]
                            }
                        ]
                    });
                    // 岗前告知率
                    var notifyNum = result.data.enterpriseYearNum.notifyNum,
                        totalNotifyNum = result.data.enterpriseYearNum.totalNotifyNum;
                    myCharts2.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已告知", value: notifyNum},
                                    {name: "未告知", value: totalNotifyNum - notifyNum}
                                ]
                            }
                        ]
                    });
                    // 危害因素检测率
                    var checkHarmNum = result.data.enterpriseYearNum.checkHarmNum,
                        totalHarmNum = result.data.enterpriseYearNum.totalHarmNum;
                    myCharts3.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已检测", value: checkHarmNum},
                                    {name: "未检测", value: totalHarmNum - checkHarmNum}
                                ]
                            }
                        ]
                    });
                    // 危害因素总数
                    $('#harmFactorNum').animateNumber({number: result.data.enterpriseYearNum.totalHarmNum}, 2000);
                    // 危害申报率
                    var declareNum = result.data.enterpriseYearNum.declareNum,
                        totalDeclareNum = result.data.enterpriseYearNum.totalDeclareNum,
                        declareRate = 0;
                    if (declareNum != 0 && totalDeclareNum != 0) {
                        declareRate = parseInt(declareNum / totalDeclareNum * 100);
                    }
                    $('#harmDeclareRate').animateNumber({number: declareRate}, 2000);
                    // 危害申报率进度条
                    window.setTimeout(function () {
                        element.progress('declare_rate', declareRate + "%");
                    }, 1000);
                    // 员工和管理员总人数，培训人数和总培训时长
                    var totalEmployeeNum = result.data.enterpriseYearNum.totalEmployeeNum,
                        employeeTrainingNum = result.data.enterpriseYearNum.employeeTrainingNum,
                        employeeTrainingDuration = result.data.enterpriseYearNum.employeeTrainingLength,
                        totalAdminNum = result.data.enterpriseYearNum.totalManagerNum,
                        adminTrainingNum = result.data.enterpriseYearNum.managerTrainingNum,
                        adminTrainingDuration = result.data.enterpriseYearNum.managerTrainingLength;
                    // 人均培训时长
                    var employeeAverageTrainingDuration = 0, adminAverageTrainingDuration = 0;
                    if (totalEmployeeNum != 0) {
                        employeeAverageTrainingDuration = parseInt(employeeTrainingDuration/totalEmployeeNum);
                    }
                    if (totalAdminNum != 0) {
                        adminAverageTrainingDuration = parseInt(adminTrainingDuration/totalAdminNum);
                    }
                    $('#employeeTrainingDuration').animateNumber({number: employeeTrainingDuration}, 2000);
                    $('#employeeAverageDuration').animateNumber({number: employeeAverageTrainingDuration}, 2000);
                    $('#adminTrainingDuration').animateNumber({number: adminTrainingDuration}, 2000);
                    $('#adminAverageDuration').animateNumber({number: adminAverageTrainingDuration}, 2000);
                    // 管理负责人培训和员工培训图
                    myCharts4.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已培训", value: adminTrainingNum},
                                    {name: "未培训", value: totalAdminNum - adminTrainingNum}
                                ]
                            }
                        ]
                    });
                    myCharts5.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已培训", value: employeeTrainingNum},
                                    {name: "未培训", value: totalEmployeeNum - employeeTrainingNum}
                                ]
                            }
                        ]
                    });
                    // 职业禁忌症数，职业病数，疑似职业病数
                    var tabooNum = result.data.enterpriseYearNum.tabooNum,
                        occupationalDiseaseNum = result.data.enterpriseYearNum.occupationalDiseaseNum,
                        suspectedDiseaseNum = result.data.enterpriseYearNum.suspectedDiseaseNum;
                    $('#tabooNum').animateNumber({number: tabooNum}, 2000);
                    $('#occupationalDiseaseNum').animateNumber({number: occupationalDiseaseNum}, 2000);
                    $('#suspectedDiseaseNum').animateNumber({number: suspectedDiseaseNum}, 2000);
                    // 岗前体检人数和总数，离岗体检人数和总数，岗中体检人数和总数
                    var postHeadMedicalNum = result.data.enterpriseYearNum.postHeadMedicalNum,
                        postHeadMedicalAllNum = result.data.enterpriseYearNum.postHeadMedicalAllNum,
                        postLaterMedicalNum = result.data.enterpriseYearNum.postLaterMedicalNum,
                        postLaterMedicalAllNum = result.data.enterpriseYearNum.postLaterMedicalAllNum,
                        postMedicalNum = result.data.enterpriseYearNum.postMedicalNum,
                        postMedicalAllNum = result.data.enterpriseYearNum.postMedicalAllNum;
                    // 岗前体检率，离岗体检率，岗中体检率
                    var postHeadMedicalRate = 0,
                        postLaterMedicalRate = 0,
                        postMedicalRate = 0;
                    if (postHeadMedicalNum != 0 && postHeadMedicalAllNum !=0) {
                        postHeadMedicalRate = (postHeadMedicalNum / postHeadMedicalAllNum * 100).toFixed(2);
                    }
                    $('#before_post_rate').html(postHeadMedicalRate + '%');
                    if (postLaterMedicalNum != 0 && postLaterMedicalAllNum !=0) {
                        postLaterMedicalRate = (postLaterMedicalNum / postLaterMedicalAllNum * 100).toFixed(2);
                    }
                    $('#after_post_rate').html(postLaterMedicalRate + '%');
                    if (postMedicalNum != 0 && postMedicalAllNum !=0) {
                        postMedicalRate = (postMedicalNum / postMedicalAllNum * 100).toFixed(2);
                    }
                    $('#in_post_rate').html(postMedicalRate + '%');
                    // 岗前、离岗、岗中体检率进度条
                    window.setTimeout(function () {
                        element.progress('before_post_rate', postHeadMedicalRate + "%");
                        element.progress('after_post_rate', postLaterMedicalRate + "%");
                        element.progress('in_post_rate', postMedicalRate + "%");
                    }, 500);
                }
            });

            // 查询企业危害因素检测时间分布
            xadmin.get("/dataSummary/getEnterpriseCheckTimeDistribution?year=" + new Date().getFullYear(), null, function(result){
                if (result.status == 200) {
                    // 统计年度月份的检测企业数量
                    var JanNum = result.data.checkEnterpriseNum.JanNum,
                        FebNum = result.data.checkEnterpriseNum.FebNum,
                        MarNum = result.data.checkEnterpriseNum.MarNum,
                        AprNum = result.data.checkEnterpriseNum.AprNum,
                        MayNum = result.data.checkEnterpriseNum.MayNum,
                        JunNum = result.data.checkEnterpriseNum.JunNum,
                        JulNum = result.data.checkEnterpriseNum.JulNum,
                        AugNum = result.data.checkEnterpriseNum.AugNum,
                        SepNum = result.data.checkEnterpriseNum.SepNum,
                        OctNum = result.data.checkEnterpriseNum.OctNum,
                        NovNum = result.data.checkEnterpriseNum.NovNum,
                        DecNum = result.data.checkEnterpriseNum.DecNum;
                    myCharts6.setOption({
                        series: [
                            {
                                data: [
                                    JanNum,FebNum,MarNum,AprNum,MayNum,JunNum,
                                    JulNum,AugNum,SepNum,OctNum,NovNum,DecNum
                                ]
                            }
                        ]
                    });
                }
            });
        });
        // 选择年份后查询
        window.requeryDataSummary = function(year) {
            // 查询监管企业年度的各种类型数目
            xadmin.get("/dataSummary/getEnterpriseYearNum?year=" + year, null, function (result) {
                if (result.status == 200) {
                    // 台账健全率
                    var enterpriseNum = result.data.enterpriseYearNum.enterpriseNum,
                        accountScore = result.data.enterpriseYearNum.accountScore,
                        accountSoundAvg = 0,
                        unAccountScoreAvg = 0;
                    if (enterpriseNum != 0 && accountScore != 0) {
                        accountSoundAvg = parseInt(accountScore / enterpriseNum);
                    }
                    if (accountSoundAvg > 0) {
                        unAccountScoreAvg = 100 - accountSoundAvg;
                    }

                    myCharts1.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已完成", value: accountSoundAvg},
                                    {name: "未完成", value: unAccountScoreAvg}
                                ]
                            }
                        ]
                    });
                    // 岗前告知率
                    var notifyNum = result.data.enterpriseYearNum.notifyNum,
                        totalNotifyNum = result.data.enterpriseYearNum.totalNotifyNum;
                    myCharts2.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已告知", value: notifyNum},
                                    {name: "未告知", value: totalNotifyNum - notifyNum}
                                ]
                            }
                        ]
                    });
                    // 危害因素监测率
                    var checkHarmNum = result.data.enterpriseYearNum.checkHarmNum,
                        totalHarmNum = result.data.enterpriseYearNum.totalHarmNum;
                    myCharts3.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已检测", value: checkHarmNum},
                                    {name: "未检测", value: totalHarmNum - checkHarmNum}
                                ]
                            }
                        ]
                    });
                    // 危害因素总数
                    $('#harmFactorNum').animateNumber({number: result.data.enterpriseYearNum.totalHarmNum}, 2000);
                    // 危害申报率
                    var declareNum = result.data.enterpriseYearNum.declareNum,
                        totalDeclareNum = result.data.enterpriseYearNum.totalDeclareNum,
                        declareRate = 0;
                    if (declareNum != 0 && totalDeclareNum != 0) {
                        declareRate = parseInt(declareNum / totalDeclareNum * 100);
                    }
                    $('#harmDeclareRate').animateNumber({number: declareRate}, 2000);
                    // 危害申报率进度条
                    window.setTimeout(function () {
                        element.progress('declare_rate', declareRate + "%");
                    }, 500);
                    // 员工和管理员总人数，培训人数和总培训时长
                    var totalEmployeeNum = result.data.enterpriseYearNum.totalEmployeeNum,
                        employeeTrainingNum = result.data.enterpriseYearNum.employeeTrainingNum,
                        employeeTrainingDuration = result.data.enterpriseYearNum.employeeTrainingLength,
                        totalAdminNum = result.data.enterpriseYearNum.totalManagerNum,
                        adminTrainingNum = result.data.enterpriseYearNum.managerTrainingNum,
                        adminTrainingDuration = result.data.enterpriseYearNum.managerTrainingLength;
                    // 人均培训时长
                    var employeeAverageTrainingDuration = 0, adminAverageTrainingDuration = 0;
                    if (totalEmployeeNum != 0) {
                        employeeAverageTrainingDuration = parseInt(employeeTrainingDuration/totalEmployeeNum);
                    }
                    if (totalAdminNum != 0) {
                        adminAverageTrainingDuration = parseInt(adminTrainingDuration/totalAdminNum);
                    }
                    $('#employeeTrainingDuration').animateNumber({number: employeeTrainingDuration}, 2000);
                    $('#employeeAverageDuration').animateNumber({number: employeeAverageTrainingDuration}, 2000);
                    $('#adminTrainingDuration').animateNumber({number: adminTrainingDuration}, 2000);
                    $('#adminAverageDuration').animateNumber({number: adminAverageTrainingDuration}, 2000);
                    // 管理负责人培训和员工培训图
                    myCharts4.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已培训", value: adminTrainingNum},
                                    {name: "未培训", value: totalAdminNum - adminTrainingNum}
                                ]
                            }
                        ]
                    });
                    myCharts5.setOption({
                        series: [
                            {
                                data: [
                                    {name: "已培训", value: employeeTrainingNum},
                                    {name: "未培训", value: totalEmployeeNum - employeeTrainingNum}
                                ]
                            }
                        ]
                    });
                    // 职业禁忌症数，职业病数，疑似职业病数
                    var tabooNum = result.data.enterpriseYearNum.tabooNum,
                        occupationalDiseaseNum = result.data.enterpriseYearNum.occupationalDiseaseNum,
                        suspectedDiseaseNum = result.data.enterpriseYearNum.suspectedDiseaseNum;
                    $('#tabooNum').animateNumber({number: tabooNum}, 2000);
                    $('#occupationalDiseaseNum').animateNumber({number: occupationalDiseaseNum}, 2000);
                    $('#suspectedDiseaseNum').animateNumber({number: suspectedDiseaseNum}, 2000);
                    // 岗前体检人数和总数，离岗体检人数和总数，岗中体检人数和总数
                    var postHeadMedicalNum = result.data.enterpriseYearNum.postHeadMedicalNum,
                        postHeadMedicalAllNum = result.data.enterpriseYearNum.postHeadMedicalAllNum,
                        postLaterMedicalNum = result.data.enterpriseYearNum.postLaterMedicalNum,
                        postLaterMedicalAllNum = result.data.enterpriseYearNum.postLaterMedicalAllNum,
                        postMedicalNum = result.data.enterpriseYearNum.postMedicalNum,
                        postMedicalAllNum = result.data.enterpriseYearNum.postMedicalAllNum;
                    // 岗前体检率，离岗体检率，岗中体检率
                    var postHeadMedicalRate = 0,
                        postLaterMedicalRate = 0,
                        postMedicalRate = 0;
                    if (postHeadMedicalNum != 0 && postHeadMedicalAllNum !=0) {
                        postHeadMedicalRate = (postHeadMedicalNum / postHeadMedicalAllNum * 100).toFixed(2);
                    }
                    $('#before_post_rate').html(postHeadMedicalRate + '%');
                    if (postLaterMedicalNum != 0 && postLaterMedicalAllNum !=0) {
                        postLaterMedicalRate = (postLaterMedicalNum / postLaterMedicalAllNum * 100).toFixed(2);
                    }
                    $('#after_post_rate').html(postLaterMedicalRate + '%');
                    if (postMedicalNum != 0 && postMedicalAllNum !=0) {
                        postMedicalRate = (postMedicalNum / postMedicalAllNum * 100).toFixed(2);
                    }
                    $('#in_post_rate').html(postMedicalRate + '%');
                    // 岗前、离岗、岗中体检率进度条
                    window.setTimeout(function () {
                        element.progress('before_post_rate', postHeadMedicalRate + "%");
                        element.progress('after_post_rate', postLaterMedicalRate + "%");
                        element.progress('in_post_rate', postMedicalRate + "%");
                    }, 500);
                }
            });

            // 查询企业危害因素检测时间分布
            xadmin.get("/dataSummary/getEnterpriseCheckTimeDistribution?year=" + year, null, function(result){
                if (result.status == 200) {
                    // 统计年度月份的检测企业数量
                    var JanNum = result.data.checkEnterpriseNum.JanNum,
                        FebNum = result.data.checkEnterpriseNum.FebNum,
                        MarNum = result.data.checkEnterpriseNum.MarNum,
                        AprNum = result.data.checkEnterpriseNum.AprNum,
                        MayNum = result.data.checkEnterpriseNum.MayNum,
                        JunNum = result.data.checkEnterpriseNum.JunNum,
                        JulNum = result.data.checkEnterpriseNum.JulNum,
                        AugNum = result.data.checkEnterpriseNum.AugNum,
                        SepNum = result.data.checkEnterpriseNum.SepNum,
                        OctNum = result.data.checkEnterpriseNum.OctNum,
                        NovNum = result.data.checkEnterpriseNum.NovNum,
                        DecNum = result.data.checkEnterpriseNum.DecNum;
                    myCharts6.setOption({
                        series: [
                            {
                                data: [
                                    JanNum,FebNum,MarNum,AprNum,MayNum,JunNum,
                                    JulNum,AugNum,SepNum,OctNum,NovNum,DecNum
                                ]
                            }
                        ]
                    });
                }
            });
        }

        // 台账健全率图表(职业健康得分情况)
        var myCharts1 = echarts.init($('#account_sound_rate')[0], "macarons");
        var options1 = {
            color: ['#2c82be', '#dbecf8'],
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            series: [
                {
                    name: '台账健全率',
                    type: 'pie',
                    radius: '65%',
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: '#959595'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: '#959595'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    }
                }
            ]
        };
        myCharts1.setOption(options1);

        // 渲染岗前告知率图表
        var myCharts2 = echarts.init($('#before_post_notify_rate')[0], "macarons");
        var options2 = {
            color: ['#2c82be', '#dbecf8'],
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            series: [
                {
                    name: '岗前告知率',
                    type: 'pie',
                    radius: '65%',
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: '#959595'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: '#959595'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    }
                }
            ]
        };
        myCharts2.setOption(options2);

        // 渲染危害因素检测率图表
        var myCharts3 = echarts.init($('#harm_factor_check_rate')[0], "macarons");
        var options3 = {
            color: ['#2c82be', '#dbecf8'],
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            series: [
                {
                    name: '危害因素检测率',
                    type: 'pie',
                    radius: '65%',
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: '#959595'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: '#959595'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    }
                }
            ]
        };
        myCharts3.setOption(options3);

        // 渲染管理负责人培训率图表
        var myCharts4 = echarts.init($('#admin_training_rate')[0], "macarons");
        var options4 = {
            color: ['#ee4a5e', '#dbecf8'],
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            series: [
                {
                    name: '管理负责人培训率',
                    type: 'pie',
                    radius: ['20%', '80%'],
                    roseType : 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: '#959595'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: '#959595'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    }
                }
            ]
        };
        myCharts4.setOption(options4);

        // 渲染员工培训率图表
        var myCharts5 = echarts.init($('#employee_training_rate')[0], "macarons");
        var options5 = {
            color: ['#f5a623', '#dbecf8'],
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            series: [
                {
                    name: '员工培训率',
                    type: 'pie',
                    radius: ['20%', '80%'],
                    roseType : 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: '#959595'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: '#959595'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    }
                }
            ]
        };
        myCharts5.setOption(options5);

        // 企业危害因素检测时间分布
        var myCharts6 = echarts.init($('#harm_check_time')[0], "macarons");
        var option6 = {
            title : {
                subtext: '纵坐标为企业数量'
            },
            tooltip : {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '企业数量',
                type: 'line',
                lineStyle: {
                    width: 4,
                    color: '#507fb6'
                },
                smooth: false
            }]
        };
        myCharts6.setOption(option6);

        // 窗口大小改变事件
        window.onresize = function () {
            myCharts1.resize();
            myCharts2.resize();
            myCharts3.resize();
            myCharts4.resize();
            myCharts5.resize();
            myCharts6.resize();
        };
    });
</script>