<style>
    #edit-training-file {
        padding: 20px 25px 25px 0;
    }
    #edit-training-file .layui-form-label {
        width: 110px;
    }
    #edit-training-file .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-training-file">
    <form id="training_file_form" class="layui-form" lay-filter="training-file-form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseRelationFile?.id}">
        <input type="hidden" id="relationId" name="relationId" th:value="${enterpriseRelationFile?.relationId}">
        <input type="hidden" id="relationModule" name="relationModule" th:value="${enterpriseRelationFile?.relationModule}">
        <input type="hidden" id="trainingName" name="fileName" th:value="${enterpriseRelationFile?.fileName}">
        <input type="hidden" id="training" name="filePath" th:value="${enterpriseRelationFile?.filePath}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">文件类型：</label>
            <div class="layui-input-block">
                <select id="fileType" name="fileType" lay-verify="required">
                    <option value="">请选择文件类型</option>
                    <option value="培训资料" th:selected="${'培训资料' == enterpriseRelationFile?.fileType}">培训资料</option>
                    <option value="培训通知" th:selected="${'培训通知' == enterpriseRelationFile?.fileType}">培训通知</option>
                    <option value="考试试卷" th:selected="${'考试试卷' == enterpriseRelationFile?.fileType}">考试试卷</option>
                    <option value="宣传图片" th:selected="${'宣传图片' == enterpriseRelationFile?.fileType}">宣传图片</option>
                    <option value="其他" th:selected="${'其他' == enterpriseRelationFile?.fileType}">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">文件描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入文件描述" maxlength="100"
                       th:value="${enterpriseRelationFile?.description}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">培训证明资料：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="training_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="training_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="trainingFile"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#training').val() != '') {
                $('#filePath').val($('#trainingName').val());
            }
            $('#training_file').after('<button type="button" id="training_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 培训证明资料上传
        $('#training_btn').click(function (event) {
            $('#training_file').click();
        });
        $('#training_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(trainingFile)', function(data) {
            var enterpriseRelationFile = {};
            $.each($("#training_file_form input[name],select[name]"), function (index, element) {
                enterpriseRelationFile[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseRelationFile) {
                // 检查文件
                var trainingFiles = $("#training_file")[0].files;
                if (!$("#training").val() && trainingFiles.length == 0) {
                    layer.msg("培训证明资料未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseRelationFileJSON", JSON.stringify(enterpriseRelationFile));
                if (trainingFiles.length != 0) {
                    formData.append("trainingFile", trainingFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'training/trainingFile/editTrainingFile/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            layer.close(currentIndex);
                            parent.requery();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#training_download').click(function (event) {
            var filePath = $('#training').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>