<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-protect" lay-title="防护用品信息">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form" lay-filter="protect-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">

                                        <div class="layui-input-inline">
                                            <input type="text" name="keyword" id="keyword" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetProtect">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                        <input id="protect_protect_id" name="id" type="hidden" />
                        <input id="protect_certificate_file" type="file" style="display: none;" />
                        <input id="protect_image_file" type="file" style="display: none;" />
                    </form>
                    <table lay-filter="protectTable" lay-data="{id: 'protectTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="protect-option">
    <!--<a lay-event="detail" ><i-->
    <!--class="layui-icon xadmin-edit-area xadmin-green">&#xe7a5;</i></a>-->
    <a lay-event="edit"><i class="layui-icon xadmin-edit-area xadmin-blue">&#xe7a4;</i></a>

</script>
<script type="text/html" id="table_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'xadmin', 'treeSelect','util'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            xadmin = layui.xadmin,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#xadmin-protect'),
            $query = $view.find('#query'),
            $reset = $view.find('#resetProtect'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'id', type: 'desc'},
            tableIns;

        form.render();

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('protectTable');
                if (name === 'add') {
                    xadmin.modal.open('新增防护用品', 'protect/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#protect-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#protect-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
            },
            options: [{
                name: 'add',
                title: '新增防护用品'
            }]
        });

        /**
         * 初始化数据表格
         */
        function initTable() {
            tableIns = xadmin.table.init({
                elem: $view.find('table'),
                id: 'protectTable',
                url: ctx + 'protect/list',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'name', title: '防护用品名称', minWidth: 150,sort: true},
                    {field: 'model', title: '型号', minWidth: 80, sort: true},
                    {field: 'harmFactorName',title: '防护的危害因素',minWidth: 160, sort: true},
                    {field: 'description', title: '描述', minWidth: 100, sort: true},

                    {
                        field: 'certificatePath', title: '合格证书', align: 'center', minWidth: 120, templet: function (data) {
                            if (data.certificatePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.certificatePath + "'>下载</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='uploadCertificate(" + data.id + ")'><span class=\"layui-btn  layui-btn-xs layui-btn-danger\">缺少合格证书</span></a>"
                        }
                    },
                    {
                        field: 'image', title: '图片', align: 'center', minWidth: 100, templet: function (data) {
                            if (data.image) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.image + "'>下载</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='uploadImage(" + data.id + ")'><span class=\"layui-btn  layui-btn-xs\" style=\"background-color: #009688;\">上传</span></a>"
                        }
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#table_bar',
                        width: 180
                    }
                ]]
            });
        }

        // 排序
        table.on('sort(protectTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        // 监听作业场所table行事件（查看、编辑、删除）
        table.on('tool(protectTable)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                xadmin.modal.view('查看防护用品信息', 'protect/viewProtect/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open('编辑防护用品',  'protect/update/' + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#protect-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定删除该防护用品吗？', function(index) {
                    $.ajax({
                        url: 'protect/deleteProtect',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 200) {
                                if(result.data==-8){//已有使用不能删除
                                    $query.click();
                                    layer.msg('该防护用品在岗位防护用品已使用，不能删除！');
                                }else{
                                    $query.click();
                                    xadmin.alert.success('删除防护用品成功！');
                                }

                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        /**
         * 查询用户
         */
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         * 刷新
         */
        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'desc';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function reloadTable(){
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        }

        function getQueryParams() {
            return {
                keyword:  $("#keyword").val()
            };
        }
        initTable();

        // 上传合格证书
        uploadCertificate = function(id) {
            $("#protect_protect_id").val(id);
            $('#protect_certificate_file').val('');
            $('#protect_certificate_file').click();
        }
        $('#protect_certificate_file').change(function (event) {
            if (this.files.length === 0) {
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            //提交ajax
            var formData = new FormData();
            formData.append("id", $("#protect_protect_id").val());
            formData.append("certificate", this.files[0]);
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protect/uploadCertificate",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    $('#xadmin-protect').find('#query').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

        });

        // 上传图片
        uploadImage = function(id) {
            $("#protect_protect_id").val(id);
            $('#protect_image_file').val('');
            $('#protect_image_file').click();
        }
        $('#protect_image_file').change(function (event) {
            if (this.files.length === 0) {
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            //提交ajax
            var formData = new FormData();
            formData.append("id", $("#protect_protect_id").val());
            formData.append("image", this.files[0]);
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protect/uploadImage",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    $('#xadmin-protect').find('#query').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

        });
    })
</script>