<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="protect-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${protectArticles?.id}" />
        <input id="tempHarmFactorId" name="tempHarmFactorId" type="hidden" th:value="${protectArticles?.harmFactorId}" />

        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require" >名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" readonly  th:value="${protectArticles?.name}" lay-verify="required|name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">合格证书：</label>
            <div class="layui-input-block">
                <div id="certificatePath_name" class="layui-form-mid">
                     <a class="file-download" th:if="${protectArticles?.certificatePath}" th:attr="filePath = ${protectArticles?.certificatePath}" th:text="${protectArticles?.certificatePath.substring(protectArticles?.certificatePath.lastIndexOf('/') + 1)}"></a>
               </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">型号：</label>
            <div class="layui-input-block">
                <input type="text" name="model" readonly lay-verify="required|model" th:value="${protectArticles?.model}" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">防护危害因素：</label>
            <div class="layui-input-block">

                <input type="text" name="harmFactorId" readonly  th:value="${protectArticles?.harmFactorName}" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" readonly  th:value="${protectArticles?.description}" lay-verify="description"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">图片：</label>
            <div class="layui-input-block">
                    <span id="notifyFile_file_name" class="layui-form-mid">
                         <a class="file-download" th:if="${protectArticles?.image}" th:attr="filePath = ${protectArticles?.image}" th:text="${protectArticles?.image.substring(protectArticles?.image.lastIndexOf('/') + 1)}"></a>
                   </span>

            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['xadmin', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            user = [[${user}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

    });
</script>