<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="protect-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="tempHarmFactorId" name="tempHarmFactorId" type="hidden" th:value="${protectArticles?.harmFactorId}" />
        <input id="image" name="image" type="hidden" th:value="${protectArticles?.image}" />
        <input id="certificatePath" name="certificatePath" type="hidden" th:value="${protectArticles?.certificatePath}" />
        <input id="id" name="id" type="hidden" th:value="${protectArticles?.id}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require" >名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" th:value="${protectArticles?.name}" maxlength="100" lay-verify="required|name"
                       autocomplete="off" class="layui-input" id="protect_name">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">合格证书：</label>
            <div class="layui-input-inline">
                <input id="certificatePathName" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="certificatePath_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="certificatePath_file" type="file" style="display: none;" />
            </div>


        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">型号：</label>
            <div class="layui-input-block">
                <input type="text" name="model" lay-verify="required|model" maxlength="50" th:value="${protectArticles?.model}" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">防护危害因素：</label>
            <div class="layui-input-block">
                <select name="harmFactorId"
                        xm-select-direction="down"
                        xm-select-search
                        xm-select="protect-add-harmFactor"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" maxlength="250" th:value="${protectArticles?.description}" lay-verify="description"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">

            <label class="layui-form-label">图片：</label>
            <div class="layui-input-inline">
                <input id="imageName" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="image_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="image_file" type="file" style="display: none;" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" />
            </div>


        </div>

        <div class="layui-form-item xadmin-hide">
            <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['jquery', 'layer', 'xadmin', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            form = layui.form,
            formSelects = layui.formSelects,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        formSelects.render();
        console.log($('#protect_name').val());
        // 如果是编辑，显示下载文件按钮
        if ($('#protect_name').val()) {
            // 文件名，图片
            if ($('#image').val()) {
                $('#imageName').val($('#image').val().substring($('#image').val().lastIndexOf('/') + 1));
            }
            $('#image_file').after('<button type="button" id="image_download" class="layui-btn layui-btn-primary">下载文件</button>');
            // 文件名，合格证书
            if ($('#certificatePath').val()) {
                $('#certificatePathName').val($('#certificatePath').val().substring($('#certificatePath').val().lastIndexOf('/') + 1));
            }
            $('#certificatePath_file').after('<button type="button" id="certificatePath_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }

        /**
         * 选择防护危害因素下拉加载
         */
        formSelects.config('protect-add-harmFactor', {
            searchUrl: ctx + 'protect/harmFactor',
            searchName: 'keyword',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].name,
                        value: data[i].id
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                var tempHarmFactorId=$('#tempHarmFactorId').val();
                if(tempHarmFactorId!=''){
                    formSelects.value('protect-add-harmFactor', tempHarmFactorId.split(','));
                }
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                xadmin.alert.error('获取防护危害因素列表失败');
            }
        });


        form.on('submit(protect-add-form-submit)', function (data) {
            var certificatePath = $("#certificatePath_file").get(0).files;
            var formData = new FormData();
            if (certificatePath.length != 0) {
                formData.append("certificatePath", certificatePath[0]);
            }
            var image = $("#image_file").get(0).files;
            formData.append("protectCustoms", JSON.stringify(data.field));
            if (image.length != 0) {
                formData.append("image", image[0]);
            }
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protect/protectAdd",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    if($('#protect_name').val()){
                        xadmin.alert.success('修改防护用品成功');
                    }else
                        xadmin.alert.success('新增防护用品成功');

                    $('#xadmin-protect').find('#query').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

            return false;
        });

        // 图片上传
        $('#image_btn').click(function (event) {
            $('#image_file').click();
        });
        $('#image_file').change(function (event) {
            if (this.files.length === 0) {
                $('#imageName').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#imageName').val(this.files[0].name);
        });
        // 下载上传文件
        $('#image_download').click(function (event) {
            var filePath = $('#image').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });

        // 合格证书上传
        $('#certificatePath_btn').click(function (event) {
            $('#certificatePath_file').click();
        });
        $('#certificatePath_file').change(function (event) {
            if (this.files.length === 0) {
                $('#certificatePathName').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#certificatePathName').val(this.files[0].name);
        });
        // 下载上传文件
        $('#certificatePath_download').click(function (event) {
            var filePath = $('#certificatePath').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
        
    });
</script>