<style>
    #add-acceptance-certificate {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="add-acceptance-certificate">
    <form id="acceptance_certificate_form" class="layui-form" lay-filter="acceptance_certificate_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseProtectiveMeasure?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseProtectiveMeasure?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">合格证书：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="acceptance_certificate_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="acceptance_certificate_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="acceptance-certificate"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>

    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 合格证书上传
        $('#acceptance_certificate_btn').click(function (event) {
            $('#acceptance_certificate_file').click();
        });
        $('#acceptance_certificate_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(acceptance-certificate)', function(data) {
            var enterpriseProtectiveMeasure = {};
            $.each($("#acceptance_certificate_form input[name]"), function (index, element) {
                enterpriseProtectiveMeasure[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseProtectiveMeasure) {
                // 上传文件
                var acceptanceCertificateFiles = $("#acceptance_certificate_file")[0].files;
                if (acceptanceCertificateFiles.length == 0) {
                    layer.msg("合格证书未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                if (acceptanceCertificateFiles.length != 0) {
                    formData.append("acceptanceCertificateFile", acceptanceCertificateFiles[0]);
                }
                formData.append("enterpriseProtectiveMeasureJSON", JSON.stringify(enterpriseProtectiveMeasure));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'protectiveMeasure/editProtectiveMeasure/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryProtectiveMeasure();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>