<style>
    #edit-protective-measure {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-protective-measure">
    <form id="protective_measure_form" class="layui-form" action="" lay-filter="protective_measure_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseProtectiveMeasure?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseProtectiveMeasure?.enterpriseId}">
        <input type="hidden" id="workplace" th:value="${enterpriseProtectiveMeasure?.workplaceId}">
        <input type="hidden" id="operationRule" name="operationRule" th:value="${enterpriseProtectiveMeasure?.operationRule}">
        <input type="hidden" id="qualificationRecord" name="qualificationRecord" th:value="${enterpriseProtectiveMeasure?.qualificationRecord}">
        <input type="hidden" id="acceptanceCertificate" name="acceptanceCertificate" th:value="${enterpriseProtectiveMeasure?.acceptanceCertificate}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">设备名称：</label>
            <div class="layui-input-block">
                <input type="text" id="equipmentName" name="equipmentName" placeholder="请输入设备名称" maxlength="100"
                       th:value="${enterpriseProtectiveMeasure?.equipmentName}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">作业场所：</label>
            <div class="layui-input-block">
                <select id="workplaceId" lay-filter="workplaceId" name="workplaceId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作规程：</label>
            <div class="layui-input-inline">
                <input id="operation_rule_path" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="operation_rule_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="operation_rule_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验收记录：</label>
            <div class="layui-input-inline">
                <input id="qualification_record_path" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="qualification_record_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="qualification_record_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合格证书：</label>
            <div class="layui-input-inline">
                <input id="acceptance_certificate_path" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="acceptance_certificate_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="acceptance_certificate_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="protective-measure"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        // 下拉框动态获取作业场所
        var option = '<option value="" selected>请选择作业场所</option>';
        $.ajax({
            url: 'protectiveMeasure/getWorkplace',
            type: 'post',
            async: false,
            success: function (result) {
                $.each(result.data.enterpriseWorkplaces, function (i, v) {
                    option += '<option value="' + v.id + '">' + v.name + '</option>';
                });
                $('#workplaceId').html(option);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的作业场所
        $("#workplaceId option[value='" + $('#workplace').val() + "']").prop('selected', true);
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 操作规程文件名
            if ($('#operationRule').val() != '') {
                $('#operation_rule_path').val($('#operationRule').val().substring($('#operationRule').val().lastIndexOf('/') + 1));
            }
            $('#operation_rule_file').after('<button type="button" id="operation_rule_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 操作规程上传
        $('#operation_rule_btn').click(function (event) {
            $('#operation_rule_file').click();
        });
        $('#operation_rule_file').change(function (event) {
            if (this.files.length === 0) {
                $('#operation_rule_path').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#operation_rule_path').val(this.files[0].name);
        });
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 验收记录文件名
            if ($('#qualificationRecord').val() != '') {
                $('#qualification_record_path').val($('#qualificationRecord').val().substring($('#qualificationRecord').val().lastIndexOf('/') + 1));
            }
            $('#qualification_record_file').after('<button type="button" id="qualification_record_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 验收记录上传
        $('#qualification_record_btn').click(function (event) {
            $('#qualification_record_file').click();
        });
        $('#qualification_record_file').change(function (event) {
            if (this.files.length === 0) {
                $('#qualification_record_path').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#qualification_record_path').val(this.files[0].name);
        });
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 合格证书文件名
            if ($('#acceptanceCertificate').val() != '') {
                $('#acceptance_certificate_path').val($('#acceptanceCertificate').val().substring($('#acceptanceCertificate').val().lastIndexOf('/') + 1));
            }
            $('#acceptance_certificate_file').after('<button type="button" id="acceptance_certificate_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 合格证书上传
        $('#acceptance_certificate_btn').click(function (event) {
            $('#acceptance_certificate_file').click();
        });
        $('#acceptance_certificate_file').change(function (event) {
            if (this.files.length === 0) {
                $('#acceptance_certificate_path').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#acceptance_certificate_path').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(protective-measure)', function(data) {
            var enterpriseProtectiveMeasure = {};
            $.each($("#protective_measure_form input[name],select[name]"), function (index, element) {
                enterpriseProtectiveMeasure[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseProtectiveMeasure) {
                // 上传文件
                var operationRuleFiles = $("#operation_rule_file")[0].files,
                    qualificationRecordFiles = $("#qualification_record_file")[0].files,
                    acceptanceCertificateFiles = $("#acceptance_certificate_file")[0].files;
                var formData = new FormData();
                formData.append("enterpriseProtectiveMeasureJSON", JSON.stringify(enterpriseProtectiveMeasure));
                if (operationRuleFiles.length != 0) {
                    formData.append("operationRuleFile", operationRuleFiles[0]);
                }
                if (qualificationRecordFiles.length != 0) {
                    formData.append("qualificationRecordFile", qualificationRecordFiles[0]);
                }
                if (acceptanceCertificateFiles.length != 0) {
                    formData.append("acceptanceCertificateFile", acceptanceCertificateFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'protectiveMeasure/editProtectiveMeasure/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryProtectiveMeasure();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传的文件
        $('#operation_rule_download').click(function (event) {
            var filePath = $('#operationRule').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
        $('#qualification_record_download').click(function (event) {
            var filePath = $('#qualificationRecord').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
        $('#acceptance_certificate_download').click(function (event) {
            var filePath = $('#acceptanceCertificate').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>