<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-protective-measure" lay-title="防护设施信息">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="protective_measure_table" lay-filter="protective_measure_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .file-download{
        cursor: pointer;
    }
</style>
<!-- 防护设施table行编辑、删除 -->
<script type="text/html" id="protective_measure_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-protective-measure'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 防护设施table
        var protectiveMeasureTable = table.render({
            elem: '#protective_measure_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'equipmentName',
                        title: '防护设备名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'workplaceName',
                        title: '所处工作场所',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'operationRule',
                        title: '操作规程',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.operationRule) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.operationRule + "'>下载</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='addOperationRule(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺失文件</span></a>";
                        }
                    },
                    {
                        field: 'qualificationRecord',
                        title: '验收记录',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.qualificationRecord) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.qualificationRecord + "'>下载</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='addQualificationRecord(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺失文件</span></a>";
                        }
                    },
                    {
                        field: 'acceptanceCertificate',
                        title: '合格证书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.acceptanceCertificate) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.acceptanceCertificate + "'>下载</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='addAcceptanceCertificate(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺失文件</span></a>";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#protective_measure_bar',
                        width: 120
                    }
                ]
            ],
            url: 'protectiveMeasure/listProtectiveMeasures',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseProtectiveMeasures
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 防护设施table排序
        table.on('sort(protective_measure_table)', function (obj) {
            requeryProtectiveMeasure(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('protective_measure_table');
                if (name === 'add') {
                    xadmin.modal.open("新增防护设施","protectiveMeasure/editProtectiveMeasure",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-protective-measure').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-protective-measure').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的防护设施');
                    } else {
                        var flag = true;
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            if (item.recordNum != 0) {
                                xadmin.alert.warn('有防护设施存在维护或运行记录，不能删除');
                                flag = false;
                                return true;
                            }
                            ids.push(item.id);
                        });
                        if (flag) {
                            $.ajax({
                                url: 'protectiveMeasure/deleteProtectiveMeasures',
                                type: 'post',
                                dataType: 'json',
                                traditional: true,
                                data: {ids: ids},
                                success: function (result) {
                                    if (result.status === 'success') {
                                        xadmin.alert.success(result.message);
                                        requeryProtectiveMeasure();
                                    } else {
                                        xadmin.alert.error(result.message);
                                    }
                                }
                            });
                        }
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增防护设施'
            }, {
                name: 'delete',
                title: '删除防护设施'
            }]
        });
        // 监听防护设施table行事件（编辑、删除）
        table.on('tool(protective_measure_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑防护设施","protectiveMeasure/editProtectiveMeasure/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-protective-measure').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.recordNum != 0) {
                    xadmin.alert.warn('该防护设施存在维护或运行记录，不能删除');
                    return;
                }
                layer.confirm('确定要删除该防护设施吗？', function(index) {
                    $.ajax({
                        url: 'protectiveMeasure/deleteProtectiveMeasure',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            operationRule: data.operationRule,
                            qualificationRecord: data.qualificationRecord,
                            acceptanceCertificate: data.acceptanceCertificate
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryProtectiveMeasure();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryProtectiveMeasure = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            protectiveMeasureTable.reload(options);
        }
        $query.on('click', function() {
            requeryProtectiveMeasure();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryProtectiveMeasure();
        });
        // 上传操作规程
        window.addOperationRule = function(id) {
            xadmin.modal.open("上传操作规程","protectiveMeasure/addOperationRule/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-operation-rule').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-operation-rule').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 上传验收记录
        window.addQualificationRecord = function(id) {
            xadmin.modal.open("上传验收记录","protectiveMeasure/addQualificationRecord/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-qualification-record').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-qualification-record').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 上传合格证书
        window.addAcceptanceCertificate = function(id) {
            xadmin.modal.open("上传合格证书","protectiveMeasure/addAcceptanceCertificate/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-acceptance-certificate').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-acceptance-certificate').find('#reset').trigger('click');
                    return false;
                }
            });
        }
    });
</script>