<style>
    #edit-year-check-plan {
        padding: 20px 25px 25px 0;
    }
    #edit-year-check-plan .layui-form-label {
        width: 110px;
    }
    #edit-year-check-plan .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-year-check-plan">
    <form id="check_plan_form" class="layui-form" lay-filter="check-plan-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseYearPlanCustom?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseYearPlanCustom?.enterpriseId}">
        <input id="planType" name="planType" type="hidden" th:value="${enterpriseYearPlanCustom?.planType}" />
        <input id="tempHarmFactorId" type="hidden" th:value="${enterpriseYearPlanCustom?.tempHarmFactorId}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">年度：</label>
            <div class="layui-input-block">
                <input type="text" id="year" name="year" readonly th:value="${enterpriseYearPlanCustom?.year}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测月份：</label>
            <div class="layui-input-block">
                <select id="planPeriod" name="planPeriod" lay-filter="planPeriod" lay-verify="required">
                    <option value="">请选择检测月份</option>
                    <option value="1" th:selected="${'1' == enterpriseYearPlanCustom?.planPeriod}">1月</option>
                    <option value="2" th:selected="${'2' == enterpriseYearPlanCustom?.planPeriod}">2月</option>
                    <option value="3" th:selected="${'3' == enterpriseYearPlanCustom?.planPeriod}">3月</option>
                    <option value="4" th:selected="${'4' == enterpriseYearPlanCustom?.planPeriod}">4月</option>
                    <option value="5" th:selected="${'5' == enterpriseYearPlanCustom?.planPeriod}">5月</option>
                    <option value="6" th:selected="${'6' == enterpriseYearPlanCustom?.planPeriod}">6月</option>
                    <option value="7" th:selected="${'7' == enterpriseYearPlanCustom?.planPeriod}">7月</option>
                    <option value="8" th:selected="${'8' == enterpriseYearPlanCustom?.planPeriod}">8月</option>
                    <option value="9" th:selected="${'9' == enterpriseYearPlanCustom?.planPeriod}">9月</option>
                    <option value="10" th:selected="${'10' == enterpriseYearPlanCustom?.planPeriod}">10月</option>
                    <option value="11" th:selected="${'11' == enterpriseYearPlanCustom?.planPeriod}">11月</option>
                    <option value="12" th:selected="${'12' == enterpriseYearPlanCustom?.planPeriod}">12月</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测危害因素：</label>
            <div class="layui-input-block">
                <select name="tempHarmFactorId"
                        xm-select-direction="down" lay-verify="required"
                        xm-select-search
                        xm-select="check-plan-add-harmFactor"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="check-plan-harm-factor"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin', 'formSelects'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin,
            formSelects = layui.formSelects;
        form.render();
        formSelects.render();
        // 检测危害因素多选(从企业监测点涉及的危害因素中选取)
        formSelects.config('check-plan-add-harmFactor', {
            searchUrl: ctx + 'yearplan/getCheckPlanHarmFactors',
            searchName: 'keyword',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data.monitorWorkplaceHarmFactorCustoms;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].harmFactorName,
                        value: data[i].harmFactorId
                    })
                }
                return tranData;
            },
            success: function () {
                var tempHarmFactorId = $('#tempHarmFactorId').val();
                formSelects.value('check-plan-add-harmFactor', tempHarmFactorId.split(','));
            },
            error: function (id, url, searchVal, err) {
                xadmin.alert.error('获取检测危害因素列表失败');
            }
        });

        // 表单提交
        form.on('submit(check-plan-harm-factor)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'yearplan/editYearCheckPlan/save',
                type: 'post',
                dateType: 'json',
                data: data.field,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        parent.layer.msg(result.message, {icon: 6});
                        parent.requeryYearCheckPlan($('#year').val());
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>