<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-check-plan" lay-title="检测计划">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="check_plan_year" type="text" placeholder="请选择年度" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="check_plan_table" lay-filter="check_plan_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 检测计划table行编辑 -->
<script type="text/html" id="check_plan_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            laydate = layui.laydate,
            $view = $('#xadmin-enterprise-check-plan');

        form.render();
        // 日期组件
        laydate.render({
            elem: '#check_plan_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearCheckPlan(value);
            }
        });
        // 检测计划table
        var checkPlanTable = table.render({
            elem: '#check_plan_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'planPeriod',
                        title: '检测月份',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "harmFactorName",
                        title: "检测危害因素",
                        align: "center",
                        sort: true,
                        minWidth: 160
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#check_plan_bar',
                        width: 110
                    }
                ]
            ],
            url: 'yearplan/listYearCheckPlans',
            method: 'post',
            where: {
                year: new Date().getFullYear()
            },
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseYearPlans
                };
            }
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('check_plan_table');
                if (name === 'add') {
                    xadmin.modal.open("新增检测计划","yearplan/addYearCheckPlan/" + $('#check_plan_year').val().trim(),{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-year-check-plan').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-year-check-plan').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
            },
            options: [{
                name: 'add',
                title: '新增检测计划'
            }]
        });
        // 监听检测计划table行事件（编辑）
        table.on('tool(check_plan_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑检测计划","yearplan/editYearCheckPlan/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-year-check-plan').find('#submit').trigger('click');
                        return false;
                    }
                });
            }

            if (obj.event === 'del') {
                xadmin.post(ctx + 'checkPlan/delete/' + data.id, null, function () {
                    xadmin.alert.success('删除数据成功');
                    requeryYearCheckPlan($('#check_plan_year').val().trim());
                });
            }
        });
        // 查询
        window.requeryYearCheckPlan = function(year) {
            var options = {
                where: {
                    year: year
                }
            }
            checkPlanTable.reload(options);
        }
    });
</script>