<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>职业健康智慧管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/xadmin.css}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/eleTree.css}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/apexcharts.min.css}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/formSelects-v4.css}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/autocomplete.css}" media="all">
    <link rel="stylesheet" th:href="@{css/style.css}" media="all">

    <!--  百度地图   -->
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=ceiyZSo9l5FsSD5tlFx07ZAQET8PWieG"></script>


</head>
<body>
<div id="xadmin"></div>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var currentUser = [[${user}]];

    layui.config({
        base: './xadmin/',
        debug: true
    }).extend({
        formSelects: 'lay/extends/formSelects-v4.min',
        treeSelect: 'lay/extends/treeSelect',
        apexcharts: 'lay/extends/apexcharts.min',
        eleTree: 'lay/extends/eleTree',
        treeSelect: 'lay/extends/autocomplete',
        common: '{/}/plugins/layui/extension/common'
    }).use(['index']);


    //禁止一个输入框回车事件
    document.onkeydown = function() {
        var e = event.srcElement;
        if (event.keyCode == 13) {
            return false;
        }
    }
</script>
</body>
</html>