<style>
    #add-medical {
        padding: 20px 25px 25px 0;
    }
    #add-medical .layui-form-label {
        width: 100px;
    }
    #add-medical .layui-input-block {
        margin-left: 130px;
    }
</style>
<div class="layui-fluid" id="add-medical">
    <form id="medical_form" class="layui-form" action="" lay-filter="medical_form">
        <input id="id" name="id" type="hidden" th:value="${employeeMedical?.id}">
        <input id="medicalReport" name="medicalReport" type="hidden" th:value="${employeeMedical?.medicalReport}" />
        <input id="employeeId" name="employeeId" type="hidden" th:value="${employeeMedical?.employeeId}" />
        <input id="postId" name="postId" type="hidden" th:value="${employeeMedical?.postId}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检员工：</label>
            <div class="layui-input-block">
                <input type="text" readonly th:value="${employeeMedical?.employeeName}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检类型：</label>
            <div class="layui-input-block">
                <input type="text" id="type" name="type" readonly th:value="${employeeMedical?.type}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检日期：</label>
            <div class="layui-input-block">
                <input type="text" id="medicalDate" name="medicalDate" placeholder="请选择体检日期" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检机构：</label>
            <div class="layui-input-block">
                <select id="institutionId" name="institutionId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检结论：</label>
            <div class="layui-input-block">
                <select id="result" name="result" lay-filter="result" lay-verify="required">
                    <option value="">请选择体检结论</option>
                    <option value="未见异常">未见异常</option>
                    <option value="复查">复查</option>
                    <option value="疑似职业病">疑似职业病</option>
                    <option value="职业禁忌症">职业禁忌症</option>
                    <option value="其它疾患">其它疾患</option>
                </select>
            </div>
        </div>
        <div id="disease"></div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检报告：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="medical_report_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="medical_report_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">人员处理情况：</label>
            <div class="layui-input-block">
                <input type="text" id="personnelHandling" placeholder="请输入人员处理情况" maxlength="100" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">现场处理情况：</label>
            <div class="layui-input-block">
                <input type="text" id="sceneHanding" placeholder="请输入现场处理情况" maxlength="100" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" id="remark" placeholder="请输入备注" maxlength="100" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="medical"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 待体检id
        var waitMedicalId = [[${waitMedicalId}]];
        // 日期组件
        laydate.render({
            elem: '#medicalDate',
            type: 'date'
        });
        // 下拉框动态获取体检机构
        var option2 = '<option value="" selected>请选择体检机构</option>';
        $.ajax({
            url: '/inspectionInstitution/getInstitutionByType',
            type: 'post',
            async: false,
            data : {
                type: '体检机构'
            },
            success: function (result) {
                $.each(result.data.enterpriseInspectionInstitutions, function(i, v) {
                    option2 += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#institutionId').html(option2);
                form.render('select');
            }
        });
        form.render('select');
        // 监听体检结论，动态显示div
        form.on('select(result)', function(data) {
            var html = '';
            if (data.value == '职业禁忌症') {
                html = '<div class="layui-form-item">'
                    + '<label class="layui-form-label xadmin-form-item-require">禁忌症名：</label>'
                    + '<div class="layui-input-block">'
                    + '<input type="text" id="problemDescription" name="problemDescription" placeholder="请输入禁忌症名" maxlength="100" class="layui-input" lay-verify="required">'
                    + '</div></div>'
                    + '<div class="layui-form-item">'
                    + '<label class="layui-form-label xadmin-form-item-require">是否调离：</label>'
                    + '<div class="layui-input-block">'
                    + '<select id="isTransferred" name="isTransferred" lay-verify="required">'
                    + '<option value="" selected>请选择是否调离</option>'
                    + '<option value="1">是</option>'
                    + '<option value="0">否</option>'
                    + '</select>'
                    + '</div></div>';
                $('#disease').html(html);
                form.render('select');
            } else if (data.value == '职业病') {
                html = '<div class="layui-form-item">'
                    + '<label class="layui-form-label xadmin-form-item-require">职业病名：</label>'
                    + '<div class="layui-input-block">'
                    + '<input type="text" id="problemDescription" name="problemDescription" placeholder="请输入职业病名" maxlength="100" class="layui-input" lay-verify="required">'
                    + '</div></div>';
                $('#disease').html(html);
            } else {
                $('#disease').html(html);
            }
        });
        // 文件名
        if ($('#medicalReport').val() != '') {
            $('#filePath').val($('#medicalReport').val().substring($('#medicalReport').val().lastIndexOf('/') + 1));
        }
        // 体检报告上传
        $('#medical_report_btn').click(function (event) {
            $('#medical_report_file').click();
        });
        $('#medical_report_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(medical)', function(data) {
            var employeeMedical = {};
            $.each($("#medical_form input[name],select[name]"), function (index, element) {
                employeeMedical[$(this).attr("name")] = $(this).val().trim();
            });
            if (employeeMedical) {
                var medicalReportFiles = $("#medical_report_file")[0].files;
                if (!$("#medicalReport").val() && medicalReportFiles.length == 0) {
                    layer.msg("体检报告未选择", {icon: 5});
                    return;
                }
                var personnelHandling = $('#personnelHandling').val().trim();
                if (personnelHandling) {
                    employeeMedical['personnelHandling'] = personnelHandling;
                }
                var sceneHanding = $('#sceneHanding').val().trim();
                if (sceneHanding) {
                    employeeMedical['sceneHanding'] = sceneHanding;
                }
                var remark = $('#remark').val().trim();
                if (remark) {
                    employeeMedical['remark'] = remark;
                }
                var formData = new FormData();
                formData.append("employeeMedicalJSON", JSON.stringify(employeeMedical));
                if (medicalReportFiles.length != 0) {
                    formData.append("medicalReportFile", medicalReportFiles[0]);
                }
                // 保存待体检id
                formData.append("waitMedicalId", waitMedicalId);
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'medical/addMedical/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryWaitMedical();
                            parent.requeryPostWaitMedical();
                            parent.requeryMedical();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#medical_report_download').click(function (event) {
            var filePath = $('#medicalReport').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>