<style>
    #edit-medical {
        padding: 20px 25px 25px 0;
    }
    #edit-medical .layui-form-label {
        width: 100px;
    }
    #edit-medical .layui-input-block {
        margin-left: 130px;
    }
</style>
<div class="layui-fluid" id="edit-medical">
    <form id="medical_form" class="layui-form" action="" lay-filter="medical_form">
        <input id="id" name="id" type="hidden" th:value="${employeeMedical?.id}">
        <input id="medicalReport" name="medicalReport" type="hidden" th:value="${employeeMedical?.medicalReport}" />
        <input id="employee" name="employeeId" type="hidden" th:value="${employeeMedical?.employeeId}" />
        <input id="employeeName" name="employeeName" type="hidden" th:value="${employeeMedical?.employeeName}" />
        <input id="post" name="postId" type="hidden" th:value="${employeeMedical?.postId}" />
        <input id="institution" name="institution" type="hidden" th:value="${employeeMedical?.institutionId}" />
        <input id="medicalResult" name="medicalResult" type="hidden" th:value="${employeeMedical?.result}" />
        <input id="medicalType" type="hidden" th:value="${employeeMedical?.type}">
        <input id="problem" type="hidden" th:value="${employeeMedical?.problemDescription}">
        <input id="diseaseNum" type="hidden" th:value="${employeeMedical?.diseaseNum}">
        <input id="isTransferred" type="hidden" th:value="${employeeMedical?.isTransferred}">

        <div class="layui-form-item" id="selectEmployee">
        </div>
        <div class="layui-form-item" id="selectMedicalType">
        </div>
        <div id="selectPost"></div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检日期：</label>
            <div class="layui-input-block">
                <input type="text" id="medicalDate" name="medicalDate" placeholder="请选择体检日期" lay-verify="required"
                       th:value="${#dates.format(employeeMedical?.medicalDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检机构：</label>
            <div class="layui-input-block">
                <select id="institutionId" name="institutionId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item" id="selectMedicalResult">
        </div>
        <div id="disease"></div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">体检报告：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="medical_report_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="medical_report_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">人员处理情况：</label>
            <div class="layui-input-block">
                <input type="text" id="personnelHandling" placeholder="请输入人员处理情况" maxlength="100"
                       th:value="${employeeMedical?.personnelHandling}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">现场处理情况：</label>
            <div class="layui-input-block">
                <input type="text" id="sceneHanding" placeholder="请输入现场处理情况" maxlength="100"
                       th:value="${employeeMedical?.sceneHanding}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" id="remark" placeholder="请输入备注" maxlength="100"
                       th:value="${employeeMedical?.remark}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="medical"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#medicalDate',
            type: 'date'
        });
        // 根据体检类型动态显示体检员工div和体检类型div
        var medicalType = $('#medicalType').val();
        if (medicalType == '岗前' || medicalType == '离岗' || medicalType == '岗中' ||medicalType == '复查') {
            var employeeHtml = '<label class="layui-form-label xadmin-form-item-require">体检员工：</label>'
                + '<div class="layui-input-block">'
                + '<input type="text" id="employeeId" readonly class="layui-input" lay-verify="required">'
                + '</div>';
            $('#selectEmployee').append(employeeHtml);
            $('#employeeId').val($('#employeeName').val());
            var typeHtml = '<label class="layui-form-label xadmin-form-item-require">体检类型：</label>'
                + '<div class="layui-input-block">'
                + '<input type="text" id="type" readonly class="layui-input" lay-verify="required">'
                + '</div>';
            $('#selectMedicalType').append(typeHtml);
            $('#type').val(medicalType);
        } else{
            var employeeHtml = '<label class="layui-form-label xadmin-form-item-require">体检员工：</label>'
                + '<div class="layui-input-block">'
                + '<select id="employeeId" name="employeeId" lay-search lay-filter="employeeId" lay-verify="required">'
                + '</select>'
                + '</div>';
            $('#selectEmployee').append(employeeHtml);
            var typeHtml = '<label class="layui-form-label xadmin-form-item-require">体检类型：</label>'
                + '<div class="layui-input-block">'
                + '<select id="type" name="type" lay-filter="type" lay-verify="required">'
                + '<option value="">请选择体检类型</option>'
                + '<option value="其它">其它</option>'
                + '<option value="离岗后医学随访">离岗后医学随访</option>'
                + '<option value="医学观察">医学观察</option>'
                + '</select>'
                + '</div>';
            $('#selectMedicalType').append(typeHtml);
            $("#type option[value='" + $('#medicalType').val() + "']").prop('selected',true);
            // 下拉框动态获取体检员工
            var option1 = '<option value="" selected>请选择体检员工</option>';
            $.ajax({
                url: 'medical/getEmployee',
                type: 'post',
                async: false,
                success: function (result) {
                    $.each(result.data.enterpriseEmployees, function(i, v) {
                        option1 += '<option value="'+ v.id + '">' + v.name + '</option>';
                    });
                    $('#employeeId').html(option1);
                    // 如果是编辑，选中相应的体检员工
                    $("#employeeId option[value='" + $('#employee').val() + "']").prop('selected',true);
                    form.render('select');
                }
            });
            // 如果是编辑，选中相应的体检类型
            if (medicalType) {
                $("#type option[value='" + $('#medicalType').val() + "']").prop('selected', true);
            }
            //岗位初始化
            $('#selectPost').html('');
            var postHtml = '<div class="layui-form-item">'
                + '<label class="layui-form-label xadmin-form-item-require">岗位：</label>'
                + '<div class="layui-input-block">'
                + '<select id="postId" name="postId" lay-filter="post" lay-verify="required">'
                + '</select>'
                + '</div>'
                + '</div>';
            $('#selectPost').append(postHtml);
            // 如果体检员工已选，动态生成岗位
            if ($('#employeeId').val()) {
                var employeeId = $('#employeeId').val()
                var option3 = '<option value="" selected>请选择岗位</option>';
                $.ajax({
                    url: 'medical/listPostsByEmployeeId',
                    type: 'post',
                    data: {employeeId: employeeId},
                    async: false,
                    success: function (result) {
                        $.each(result.data.employeePosts, function(i, v) {
                            option3 += '<option value="'+ v.postId + '">' + v.postName + '</option>';
                        });
                        $('#postId').html(option3);
                        $("#postId option[value='" + $('#post').val() + "']").prop('selected', true);
                        form.render('select');
                    }
                });
            }
            // 监听选择的体验员工，动态生成岗位
            form.on('select(employeeId)', function(data) {
                var employeeId = data.value;
                var option3 = '<option value="" selected>请选择岗位</option>';
                $.ajax({
                    url: 'medical/listPostsByEmployeeId',
                    type: 'post',
                    data: {employeeId: employeeId},
                    async: false,
                    success: function (result) {
                        $.each(result.data.employeePosts, function(i, v) {
                            option3 += '<option value="'+ v.postId + '">' + v.postName + '</option>';
                        });
                        $('#postId').html(option3);
                        form.render('select');
                    }
                });
            });
        }
        // 下拉框动态获取体检机构
        var option2 = '<option value="" selected>请选择体检机构</option>';
        $.ajax({
            url: '/inspectionInstitution/getInstitutionByType',
            type: 'post',
            async: false,
            data : {
                type: '体检机构'
            },
            success: function (result) {
                $.each(result.data.enterpriseInspectionInstitutions, function(i, v) {
                    option2 += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#institutionId').html(option2);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的体检机构
        $("#institutionId option[value='" + $('#institution').val() + "']").prop('selected',true);
        form.render('select');
        // 监听体检结论，动态显示div
        form.on('select(result)', function(data) {
            var html = '';
            if (data.value == '职业禁忌症') {
                html = '<div class="layui-form-item">'
                    + '<label class="layui-form-label xadmin-form-item-require">禁忌症名：</label>'
                    + '<div class="layui-input-block">'
                    + '<input type="text" id="problemDescription" name="problemDescription" placeholder="请输入禁忌症名" maxlength="100" class="layui-input" lay-verify="required">'
                    + '</div></div>'
                    + '<div class="layui-form-item">'
                    + '<label class="layui-form-label xadmin-form-item-require">是否调离：</label>'
                    + '<div class="layui-input-block">'
                    + '<select id="isTransferred" name="isTransferred" lay-verify="required">'
                    + '<option value="" selected>请选择是否调离</option>'
                    + '<option value="1">是</option>'
                    + '<option value="0">否</option>'
                    + '</select>'
                    + '</div></div>';
                $('#disease').html(html);
                $('#problemDescription').val($('#problem').val());
                $("#isTransferred option[value='" + $('#isTransferred').val() + "']").prop('selected',true);
                form.render('select');
            } else if (data.value == '职业病') {
                html = '<div class="layui-form-item">'
                    + '<label class="layui-form-label xadmin-form-item-require">职业病名：</label>'
                    + '<div class="layui-input-block">'
                    + '<input type="text" id="problemDescription" name="problemDescription" placeholder="请输入职业病名" maxlength="100" class="layui-input" lay-verify="required">'
                    + '</div></div>';
                $('#disease').html(html);
                $('#problemDescription').val($('#problem').val());
            } else {
                $('#disease').html(html);
            }
        });
        // 如果是编辑，根据体检结论动态显示div
        if ('职业禁忌症' == $('#medicalResult').val()) {
            var html2 = '<div class="layui-form-item">'
                + '<label class="layui-form-label xadmin-form-item-require">禁忌症名：</label>'
                + '<div class="layui-input-block">'
                + '<input type="text" id="problemDescription" name="problemDescription" placeholder="请输入禁忌症名" maxlength="100" class="layui-input" lay-verify="required">'
                + '</div></div>'
                + '<div class="layui-form-item">'
                + '<label class="layui-form-label xadmin-form-item-require">是否调离：</label>'
                + '<div class="layui-input-block">'
                + '<select id="isTransferred" name="isTransferred" lay-verify="required">'
                + '<option value="" selected>请选择是否调离</option>'
                + '<option value="1">是</option>'
                + '<option value="0">否</option>'
                + '</select>'
                + '</div></div>';
            $('#disease').html(html2);
            $('#problemDescription').val($('#problem').val());
            $("#isTransferred option[value='" + $('#isTransferred').val() + "']").prop('selected',true);
            form.render('select');
        } else if ('职业病' == $('#medicalResult').val()) {
            var html2 = '<div class="layui-form-item">'
                + '<label class="layui-form-label xadmin-form-item-require">职业病名：</label>'
                + '<div class="layui-input-block">'
                + '<input type="text" id="problemDescription" name="problemDescription" placeholder="请输入职业病名" maxlength="100" class="layui-input" lay-verify="required">'
                + '</div></div>';
            $('#disease').html(html2);
            $('#problemDescription').val($('#problem').val());
        }
        // 体检记录中如果职业病诊断有值，体检结论不能修改
        if ($('#diseaseNum').val() > 0) {
            var resultHtml =
                '<label class="layui-form-label xadmin-form-item-require">体检结论：</label>' +
                '<div class="layui-input-block">' +
                '   <input type="text" id="result" readonly class="layui-input">' +
                '</div>';
            // 体检结论赋值
            $('#selectMedicalResult').html(resultHtml);
            $('#result').val($('#medicalResult').val());
        } else {
            var resultHtml =
                '<label class="layui-form-label xadmin-form-item-require">体检结论：</label>' +
                '<div class="layui-input-block">' +
                '   <select id="result" name="result" lay-filter="result" lay-verify="required">' +
                '       <option value="">请选择体检结论</option>' +
                '       <option value="未见异常">未见异常</option>' +
                '       <option value="复查">复查</option>' +
                '       <option value="疑似职业病">疑似职业病</option>' +
                '       <option value="职业禁忌症">职业禁忌症</option>' +
                '       <option value="其它疾患">其它疾患</option>' +
                '   </select>' +
                '</div>';
            // 如果是编辑，选中相应的体检结论
            $('#selectMedicalResult').html(resultHtml);
            $("#result option[value='" + $('#medicalResult').val() + "']").prop('selected',true);
            form.render('select');
        }
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#medicalReport').val() != '') {
                $('#filePath').val($('#medicalReport').val().substring($('#medicalReport').val().lastIndexOf('/') + 1));
            }
            $('#medical_report_file').after('<button type="button" id="medical_report_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 体检报告上传
        $('#medical_report_btn').click(function (event) {
            $('#medical_report_file').click();
        });
        $('#medical_report_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(medical)', function(data) {
            var employeeMedical = {};
            $.each($("#medical_form input[name],select[name]"), function (index, element) {
                employeeMedical[$(this).attr("name")] = $(this).val().trim();
            });
            if (employeeMedical) {
                var medicalReportFiles = $("#medical_report_file")[0].files;
                if (!$("#medicalReport").val() && medicalReportFiles.length == 0) {
                    layer.msg("体检报告未选择", {icon: 5});
                    return;
                }
                var personnelHandling = $('#personnelHandling').val().trim();
                if (personnelHandling) {
                    employeeMedical['personnelHandling'] = personnelHandling;
                }
                var sceneHanding = $('#sceneHanding').val().trim();
                if (sceneHanding) {
                    employeeMedical['sceneHanding'] = sceneHanding;
                }
                var remark = $('#remark').val().trim();
                if (remark) {
                    employeeMedical['remark'] = remark;
                }
                var formData = new FormData();
                formData.append("employeeMedicalJSON", JSON.stringify(employeeMedical));
                if (medicalReportFiles.length != 0) {
                    formData.append("medicalReportFile", medicalReportFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'medical/editMedical/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryWaitMedical();
                            parent.requeryMedical();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#medical_report_download').click(function (event) {
            var filePath = $('#medicalReport').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>