<div class="layui-fluid layui-anim febs-anim" id="xadmin-enterprise-medical" lay-title="体检记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="medical-type-tab">
                        <ul class="layui-tab-title">
                            <li lay-id="wait-medical" class="layui-this">其他待体检项目<span class="layui-badge" id="waitMedicalNum">0</span></li>
                            <li lay-id="posting-wait-medical">岗中待体检项目<span class="layui-badge" id="postWaitMedicalNum">0</span></li>
                            <li lay-id="medical-record">体检记录</li>
                        </ul>
                        <div class="layui-tab-content">
                            <input type="hidden" id="medical_tabIndex" th:value="${tabIndex}" />
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" lay-filter="wait_medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="wait_medical_keyword" data-th-value="${wait_medical_keyword}" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryWaitMedical">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetWaitMedical">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="wait_medical_table" lay-filter="wait_medical_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="post_wait_medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="post_wait_medical_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryPostWaitMedical">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetPostWaitMedical">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="post_wait_medical_table" lay-filter="post_wait_medical_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="medical_keyword"  th:value="${medical_keyword}" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryMedical">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetMedical">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action medical-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="medical_table" lay-filter="medical_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 待体检项目table行发起体检、删除 -->
<script type="text/html" id="wait_medical_bar">
    <a class="layui-btn layui-btn-xs" lay-event="add">发起体检</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 体检记录table行查看、编辑、删除 -->
<script type="text/html" id="medical_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'element', 'util', 'form', 'xadmin', 'dropdown', 'element'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            element = layui.element,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            element = layui.element,
            $view = $('#xadmin-enterprise-medical'),
            $queryWaitMedical = $view.find('#queryWaitMedical'),
            $queryPostWaitMedical = $view.find('#queryPostWaitMedical'),
            $queryMedical = $view.find('#queryMedical'),
            $resetWaitMedical = $view.find('#resetWaitMedical'),
            $resetPostWaitMedical = $view.find('#resetPostWaitMedical'),
            $resetMedical = $view.find('#resetMedical'),
            $searchForm = $view.find('form');
        // 下拉框渲染
        form.render('select');

        // 待体检table
        var waitMedicalTable = table.render({
            elem: '#wait_medical_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'workDate',
                        title: '待体检时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.workDate) {
                                return util.toDateString(d.workDate, 'yyyy-MM');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'employeeName',
                        title: '体检员工',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'postName',
                        title: '岗位',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'type',
                        title: '体检类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#wait_medical_bar',
                        width: 150
                    }
                ]
            ],
            url: 'waitMedical/listWaitMedicals',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                $('#waitMedicalNum').html(result.data.totalNum);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.employeeWaitMedicals
                };
            },
            where: {
                keyword: $('#wait_medical_keyword').val().trim(),
                status: 0
            },
            autoSort: false
        });
        // 监听其他待体检项目table行事件（发起体检、删除）
        table.on('tool(wait_medical_table)', function(obj) {
            var data = obj.data;
            // 发起体检
            if (obj.event === 'add') {
                xadmin.modal.open("新增体检信息","medical/addMedical/" + data.id + "/" + data.employeeId + "/" + data.postId + "/" + data.type,{
                    btn: ['提交', '重置'],
                    area: [$(window).width() <= 750 ? '95%' : '50%', '85%'],
                    yes: function (index, layero) {
                        $('#add-medical').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#add-medical').find('#reset').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                xadmin.modal.open("未体检原因","waitMedical/unMedicalReason/" + data.id,{
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    btn: ['提交', '重置'],
                    yes: function (index, layero) {
                        $('#un-medical-reason').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#un-medical-reason').find('#reset').trigger('click');
                        return false;
                    }
                });
            }
        });
        // 其他待体检项目排序
        table.on('sort(wait_medical_table)', function (obj) {
            requeryWaitMedical(obj);
        });
        // 查询其他待体检项目table
        window.requeryWaitMedical = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#wait_medical_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            waitMedicalTable.reload(options);
        }
        $queryWaitMedical.on('click', function() {
            requeryWaitMedical();
        });
        // 重置刷新
        $resetWaitMedical.on('click', function () {
            $searchForm[0].reset();
            requeryWaitMedical();
        });

        // 岗中待体检table
        var postWaitMedicalTable = table.render({
            elem: '#post_wait_medical_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'workDate',
                        title: '上岗时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.workDate) {
                                return util.toDateString(d.workDate, 'yyyy-MM');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'employeeName',
                        title: '体检员工',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'postName',
                        title: '岗位',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'type',
                        title: '体检类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#wait_medical_bar',
                        width: 150
                    }
                ]
            ],
            url: 'waitMedical/listPostWaitMedicals',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                $('#postWaitMedicalNum').html(result.data.totalNum);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.employeeWaitMedicals
                };
            },
            where: {
                keyword: $('#post_wait_medical_keyword').val().trim()
            },
            autoSort: false
        });
        // 监听岗中待体检项目table行事件（发起体检、删除）
        table.on('tool(post_wait_medical_table)', function(obj) {
            var data = obj.data;
            // 发起体检
            if (obj.event === 'add') {
                xadmin.modal.open("新增体检信息","medical/addMedical/" + data.id + "/" + data.employeeId + "/" + data.postId + "/" + data.type,{
                    btn: ['提交', '重置'],
                    area: [$(window).width() <= 750 ? '95%' : '50%', '85%'],
                    yes: function (index, layero) {
                        $('#add-medical').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#add-medical').find('#reset').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                xadmin.modal.open("未体检原因","waitMedical/unMedicalReason/" + data.id,{
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    btn: ['提交', '重置'],
                    yes: function (index, layero) {
                        $('#un-medical-reason').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#un-medical-reason').find('#reset').trigger('click');
                        return false;
                    }
                });
            }
        });
        // 岗中待体检项目排序
        table.on('sort(post_wait_medical_table)', function (obj) {
            requeryPostWaitMedical(obj);
        });
        // 查询岗中待体检项目table
        window.requeryPostWaitMedical = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#post_wait_medical_keyword').val().trim(),
                    status: 0
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            postWaitMedicalTable.reload(options);
        }
        $queryPostWaitMedical.on('click', function() {
            requeryPostWaitMedical();
        });
        // 重置刷新
        $resetPostWaitMedical.on('click', function () {
            $searchForm[1].reset();
            requeryPostWaitMedical();
        });

        // 体检记录table
        var medicalTable = table.render({
            elem: '#medical_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'employeeName',
                        title: '体检员工',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'postName',
                        title: '岗位',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'medicalDate',
                        title: '体检日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.medicalDate) {
                                return util.toDateString(d.medicalDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'institutionName',
                        title: '体检机构',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'type',
                        title: '体检类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'result',
                        title: '体检结论',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'medicalReport',
                        title: '体检报告',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.medicalReport) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.medicalReport + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '职业病诊断',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.result === '疑似职业病') {
                                return "<a href='javascript:void(0);' onclick='diseaseDiagnosi(" + data.id + "," + data.employeeId + ")'>"
                                    + (data.diseaseNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺失诊断报告</span>")
                                    + "</a>";
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#medical_bar',
                        width: 120
                    }
                ]
            ],
            url: 'medical/listMedicals',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [1,10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.employeeMedicals
                };
            },
            where: {
                keyword: $('#medical_keyword').val().trim()
            },
            autoSort: false
        });
        // 体检记录排序
        table.on('sort(medical_table)', function (obj) {
            requeryMedical(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.medical-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('medical_table');
                if (name === 'add') {
                    xadmin.modal.open("新增体检信息","medical/editMedical",{
                        btn: ['提交', '重置'],
                        area: [$(window).width() <= 750 ? '95%' : '50%', '85%'],
                        yes: function (index, layero) {
                            $('#edit-medical').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-medical').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的体检信息');
                    } else {
                        var flag = true;
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            if (item.diseaseNum != 0) {
                                xadmin.alert.warn('有体检信息存在职业病诊断，不能删除');
                                flag = false;
                                return true;
                            }
                            if (item.medicalNotifyNum != 0) {
                                xadmin.alert.warn('有体检信息存在已告知记录，不能删除');
                                flag = false;
                                return true;
                            }
                            ids.push(item.id);
                        });
                        if (flag) {
                            $.ajax({
                                url: 'medical/deleteMedicals',
                                type: 'post',
                                dataType: 'json',
                                traditional: true,
                                data: {ids: ids},
                                success: function (result) {
                                    if (result.status === 'success') {
                                        xadmin.alert.success(result.message);
                                        requeryWaitMedical();
                                        requeryPostWaitMedical();
                                        requeryMedical();
                                    } else {
                                        xadmin.alert.error(result.message);
                                    }
                                }
                            });
                        }
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增体检信息'
            }, {
                name: 'delete',
                title: '删除体检信息'
            }]
        });
        // 监听体检记录table行事件（查看、编辑、删除）
        table.on('tool(medical_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看体检信息',
                    content: 'medical/viewMedical?id=' + data.id,
                    area: ['600px', '490px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑体检信息","medical/editMedical/" + data.id,{
                    btn: ['提交', '取消'],
                    area: [$(window).width() <= 750 ? '95%' : '50%', '85%'],
                    yes: function (index, layero) {
                        $('#edit-medical').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.diseaseNum != 0) {
                    xadmin.alert.warn('该体检信息存在职业病诊断，不能删除');
                    return;
                }
                if (data.medicalNotifyNum != 0) {
                    xadmin.alert.warn('该体检信息存在已告知记录，不能删除');
                    return;
                }
                layer.confirm('确定要删除该体检信息吗？', function(index) {
                    $.ajax({
                        url: 'medical/deleteMedical',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            type: data.type,
                            result: data.result,
                            medicalReport: data.medicalReport
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryWaitMedical();
                                requeryPostWaitMedical();
                                requeryMedical();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询体检记录table
        window.requeryMedical = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#medical_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            medicalTable.reload(options);
        }
        $queryMedical.on('click', function() {
            requeryMedical();
        });
        // 重置刷新
        $resetMedical.on('click', function () {
            $searchForm[2].reset();
            requeryMedical();
        });

        // 职业病诊断
       window.diseaseDiagnosi = function(medicalId, employeeId) {
            xadmin.modal.open("职业病诊断","medical/diseaseDiagnosi/" + medicalId + "/" + employeeId,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }


        // 首页岗中待体检跳转
        if ($('#medical_tabIndex').val() == 0) {
            element.tabChange('medical-type-tab', 'wait-medical');
        }else if ($('#medical_tabIndex').val() == 1) {
            element.tabChange('medical-type-tab', 'posting-wait-medical');
        }else if($('#medical_tabIndex').val() == 2){
            element.tabChange('medical-type-tab', 'medical-record');
        }
    });
</script>