<style>
    #un-medical-reason {
        padding: 20px 25px 25px 0;
    }
    #un-medical-reason .layui-form-label {
        width: 95px;
    }
    #un-medical-reason .layui-input-block {
        margin-left: 125px;
    }
</style>
<div class="layui-fluid" id="un-medical-reason">
    <form id="un_medical_reason_form" class="layui-form" action="" lay-filter="un_medical_reason_form">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">未体检原因：</label>
            <div class="layui-input-block">
                <input type="text" id="reason" placeholder="请输入未体检原因" maxlength="100"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="un-medical-reason"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin;
        form.render('select');
        // 待体检id
        var waitMedicalId = [[${waitMedicalId}]];
        // 表单提交
        form.on('submit(un-medical-reason)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'waitMedical/deleteWaitMedical',
                type: 'post',
                dataType: 'json',
                data: {
                    id: waitMedicalId,
                    reason: $('#reason').val().trim()
                },
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        layer.msg(result.message, {icon: 6});
                        parent.requeryPostWaitMedical();
                        parent.requeryWaitMedical();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>