<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看员工体检信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">

    <style type="text/css">
        .layui-form-label{
            width: 98px;
        }
        .layui-form-item .layui-input-inline{
            width: 150px;
        }
        .file-download{
            cursor: pointer;
        }
    </style>

</head>
<body>
    <form id="medical_form" class="layui-form" style="padding-top: 20px;" lay-filter="medical_form">
        <input id="problem" type="hidden" th:value="${employeeMedical?.problemDescription}">
        <div class="layui-fluid">
            <div class="layui-form-item">
                <label class="layui-form-label">体检员工：</label>
                <div class="layui-input-inline">
                    <input type="text" id="employeeName" readonly th:value="${employeeMedical?.employeeName}" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 70px;">体检日期：</label>
                <div class="layui-input-inline">
                    <input type="text" id="medicalDate" readonly
                           th:value="${#dates.format(employeeMedical?.medicalDate,'yyyy-MM-dd')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">体检机构：</label>
                <div class="layui-input-inline">
                    <input type="text" id="institutionName" readonly th:value="${employeeMedical?.institutionName}" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 70px;">体检类型：</label>
                <div class="layui-input-inline">
                    <input type="text" id="type" readonly th:value="${employeeMedical?.type}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">体检结论：</label>
                <div class="layui-input-inline">
                    <input type="text" id="result" readonly th:value="${employeeMedical?.result}" class="layui-input">
                </div>
                <div id="disease"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">体检报告：</label>
                <div class="layui-input-inline" style="width: 412px;">
                    <div id="check_report_name" class="layui-form-mid">
                        <a class="file-download" th:if="${employeeMedical?.medicalReport}"
                           th:attr="filePath = ${employeeMedical?.medicalReport}"
                           th:text="${employeeMedical?.medicalReport.substring(employeeMedical?.medicalReport.lastIndexOf('/') + 1)}"></a>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">人员处理情况：</label>
                <div class="layui-input-inline"style="width: 410px;">
                    <input type="text" id="personnelHandling" readonly
                           th:value="${employeeMedical?.personnelHandling}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">现场处理情况：</label>
                <div class="layui-input-inline"style="width: 410px;">
                    <input type="text" id="sceneHanding" readonly
                           th:value="${employeeMedical?.sceneHanding}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-inline"style="width: 410px;">
                    <input type="text" id="remark" readonly
                           th:value="${employeeMedical?.remark}" class="layui-input">
                </div>
            </div>
        </div>
    </form>

    <script src="/plugins/layui/layui.js"></script>
    <script>
        layui.use(['jquery', 'layer', 'form'], function() {
            var $ = layui.$;
            // 监听体检结论，动态显示div
            var html = '';
            if ($('#result').val() == '职业禁忌症') {
                html = '<label class="layui-form-label" style="width: 70px;">禁忌症名：</label>'
                    + '<div class="layui-input-inline">'
                    + '<input type="text" id="problemDescription" readonly class="layui-input">'
                    + '</div>';
                $('#disease').html(html);
                $('#problemDescription').val($('#problem').val());
            } else if ($('#result').val() == '职业病') {
                $('#result_div').after(html);
                html = '<label class="layui-form-label" style="width: 70px;">职业病名：</label>'
                    + '<div class="layui-input-inline">'
                    + '<input type="text" id="problemDescription" readonly class="layui-input">'
                    + '</div>';
                $('#disease').html(html);
                $('#problemDescription').val($('#problem').val());
            }
        });
    </script>
</body>
</html>