<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-protective-design" lay-title="三同时防护设施设计阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-md12">
                            <button type="button" class="layui-btn" onclick="toCompletionAcceptance();"
                                    style="float: none;">进入竣工验收阶段</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计审查申请书</h2>
                </div>
                <div class="protective-design-edit" id="application">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目立项审批文件（复印件）</h2>
                </div>
                <div class="protective-design-edit" id="approval">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计专篇</h2>
                </div>
                <div class="protective-design-edit" id="special">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设单位对职业病防护设施设计专篇的评审意见</h2>
                </div>
                <div class="protective-design-edit" id="opinion">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计单位的资质证明（影印件）</h2>
                </div>
                <div class="protective-design-edit" id="certificate">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害预评价报告审核的批复文件（复印件）</h2>
                </div>
                <div class="protective-design-edit" id="reply">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="protective-design-edit" id="other">
                    <button class="layui-btn" onclick="otherFile();">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-protective-design .protective-design-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-protective-design .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-protective-design h2 {
        font-size: 18px;
    }
    #ehs-enterprise-protective-design .protective-design-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
    #ehs-enterprise-protective-design button {
        float: right;
    }
    #ehs-enterprise-protective-design .file-download {
        line-height: 38px;
        font-size: 15px;
    }
    #ehs-enterprise-protective-design a:link {
        color: #1183FF;
    }
    #ehs-enterprise-protective-design a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin;
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        $(function() {
            $.ajax({
                url: 'threeSimultaneity/protectiveDesign/listProtectiveDesigns',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病防护设施设计审查申请书']) {
                        var data1 = data['建设项目职业病防护设施设计审查申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data1.filePath + '\');">删除</button>';
                        $('#application').html(html);
                    } else {
                        var html = '<button id="application_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="application_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#application').html(html);
                        $('#application_btn').click(function (event) {
                            $('#application_file').click();
                        });
                        $('#application_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计审查申请书');
                        });
                    }
                    if (data['建设项目立项审批文件（复印件）']) {
                        var data2 = data['建设项目立项审批文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data2.filePath + '\');">删除</button>';
                        $('#approval').html(html);
                    } else {
                        var html = '<button id="approval_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="approval_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#approval').html(html);
                        $('#approval_btn').click(function (event) {
                            $('#approval_file').click();
                        });
                        $('#approval_file').change(function (event) {
                            fileUpload(this, '建设项目立项审批文件（复印件）');
                        });
                    }
                    if (data['建设项目职业病防护设施设计专篇']) {
                        var data3 = data['建设项目职业病防护设施设计专篇'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data3.filePath + '\');">删除</button>';
                        $('#special').html(html);
                    } else {
                        var html = '<button id="special_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="special_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#special').html(html);
                        $('#special_btn').click(function (event) {
                            $('#special_file').click();
                        });
                        $('#special_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计专篇');
                        });
                    }
                    if (data['建设单位对职业病防护设施设计专篇的评审意见']) {
                        var data4 = data['建设单位对职业病防护设施设计专篇的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data4.filePath + '\');">删除</button>';
                        $('#opinion').html(html);
                    } else {
                        var html = '<button id="opinion_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="opinion_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#opinion').html(html);
                        $('#opinion_btn').click(function (event) {
                            $('#opinion_file').click();
                        });
                        $('#opinion_file').change(function (event) {
                            fileUpload(this, '建设单位对职业病防护设施设计专篇的评审意见');
                        });
                    }
                    if (data['建设项目职业病防护设施设计单位的资质证明（影印件）']) {
                        var data5 = data['建设项目职业病防护设施设计单位的资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data5.filePath + '\');">删除</button>';
                        $('#certificate').html(html);
                    } else {
                        var html = '<button id="certificate_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="certificate_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#certificate').html(html);
                        $('#certificate_btn').click(function (event) {
                            $('#certificate_file').click();
                        });
                        $('#certificate_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计单位的资质证明（影印件）');
                        });
                    }
                    if (data['建设项目职业病危害预评价报告审核的批复文件（复印件）']) {
                        var data6 = data['建设项目职业病危害预评价报告审核的批复文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data6.filePath + '\');">删除</button>';
                        $('#reply').html(html);
                    } else {
                        var html = '<button id="reply_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="reply_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#reply').html(html);
                        $('#reply_btn').click(function (event) {
                            $('#reply_file').click();
                        });
                        $('#reply_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害预评价报告审核的批复文件（复印件）');
                        });
                    }
                }
            });
        });
        // 查询
        window.requeryProtectiveDesign = function() {
            $.ajax({
                url: 'threeSimultaneity/protectiveDesign/listProtectiveDesigns',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病防护设施设计审查申请书']) {
                        var data1 = data['建设项目职业病防护设施设计审查申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data1.filePath + '\');">删除</button>';
                        $('#application').html(html);
                    } else {
                        var html = '<button id="application_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="application_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#application').html(html);
                        $('#application_btn').click(function (event) {
                            $('#application_file').click();
                        });
                        $('#application_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计审查申请书');
                        });
                    }
                    if (data['建设项目立项审批文件（复印件）']) {
                        var data2 = data['建设项目立项审批文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data2.filePath + '\');">删除</button>';
                        $('#approval').html(html);
                    } else {
                        var html = '<button id="approval_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="approval_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#approval').html(html);
                        $('#approval_btn').click(function (event) {
                            $('#approval_file').click();
                        });
                        $('#approval_file').change(function (event) {
                            fileUpload(this, '建设项目立项审批文件（复印件）');
                        });
                    }
                    if (data['建设项目职业病防护设施设计专篇']) {
                        var data3 = data['建设项目职业病防护设施设计专篇'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data3.filePath + '\');">删除</button>';
                        $('#special').html(html);
                    } else {
                        var html = '<button id="special_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="special_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#special').html(html);
                        $('#special_btn').click(function (event) {
                            $('#special_file').click();
                        });
                        $('#special_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计专篇');
                        });
                    }
                    if (data['建设单位对职业病防护设施设计专篇的评审意见']) {
                        var data4 = data['建设单位对职业病防护设施设计专篇的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data4.filePath + '\');">删除</button>';
                        $('#opinion').html(html);
                    } else {
                        var html = '<button id="opinion_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="opinion_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#opinion').html(html);
                        $('#opinion_btn').click(function (event) {
                            $('#opinion_file').click();
                        });
                        $('#opinion_file').change(function (event) {
                            fileUpload(this, '建设单位对职业病防护设施设计专篇的评审意见');
                        });
                    }
                    if (data['建设项目职业病防护设施设计单位的资质证明（影印件）']) {
                        var data5 = data['建设项目职业病防护设施设计单位的资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data5.filePath + '\');">删除</button>';
                        $('#certificate').html(html);
                    } else {
                        var html = '<button id="certificate_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="certificate_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#certificate').html(html);
                        $('#certificate_btn').click(function (event) {
                            $('#certificate_file').click();
                        });
                        $('#certificate_file').change(function (event) {
                            fileUpload(this, '建设项目职业病防护设施设计单位的资质证明（影印件）');
                        });
                    }
                    if (data['建设项目职业病危害预评价报告审核的批复文件（复印件）']) {
                        var data6 = data['建设项目职业病危害预评价报告审核的批复文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data6.filePath + '\');">删除</button>';
                        $('#reply').html(html);
                    } else {
                        var html = '<button id="reply_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="reply_file" type="file" style="display: none;" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>';
                        $('#reply').html(html);
                        $('#reply_btn').click(function (event) {
                            $('#reply_file').click();
                        });
                        $('#reply_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害预评价报告审核的批复文件（复印件）');
                        });
                    }
                }
            });
        }
        // 上传文件
        window.fileUpload = function(input, type) {
            // 限制文件上传类型(.doc, .docx, .pdf)
            var fileType = input.files[0].type;
            if (fileType != 'application/pdf' && fileType != 'application/msword' &&
                fileType != 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
                layer.msg('上传文件类型错误', {icon: 5});
                input.value = '';
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            var enterpriseThreeSimultaneityFile = {};
            enterpriseThreeSimultaneityFile['projectId'] = projectId;
            enterpriseThreeSimultaneityFile['projectState'] = projectState;
            enterpriseThreeSimultaneityFile['fileType'] = type;
            var formData = new FormData();
            formData.append("enterpriseThreeSimultaneityFileJSON", JSON.stringify(enterpriseThreeSimultaneityFile));
            formData.append('threeSimultaneityFile', input.files[0]);
            // 加载层，阻止上传完成前的其他操作
            var loadingIndex = layer.load(2);
            $.ajax({
                url: 'threeSimultaneity/fileUpload',
                type: 'post',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.status === 'success') {
                        parent.layer.msg(result.message, {icon: 6});
                        requeryProtectiveDesign();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }
        // 删除文件
        window.fileDelete = function(filePath) {
            $.ajax({
                url: 'threeSimultaneity/fileDelete',
                type: 'post',
                dataType: 'json',
                data: {filePath: filePath},
                success: function (result) {
                    if (result.status === "success") {
                        layer.msg(result.message, {icon: 6});
                        requeryProtectiveDesign();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            });
        }
        // 进入竣工验收阶段
        window.toCompletionAcceptance = function() {
            layer.confirm('确定要进入竣工验收阶段吗？进入后，防护设施设计阶段将无法修改！请确保防护设施设计阶段文件上传完毕', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: 'threeSimultaneity/updateProjectState',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        id: projectId
                    },
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            xadmin.view.tab.del("/threeSimultaneity/protectiveDesign/high/" + projectId + "/1");
                            xadmin.navigate("/threeSimultaneity");
                            $('#xadmin-enterprise-three-simultaneity #query').click();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }
        // 其他文件
        window.otherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '防护设施设计阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>