<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-protective-design" lay-title="三同时防护设施设计阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计审查申请书</h2>
                </div>
                <div class="protective-design-edit" id="application">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目立项审批文件（复印件）</h2>
                </div>
                <div class="protective-design-edit" id="approval">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计专篇</h2>
                </div>
                <div class="protective-design-edit" id="special">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设单位对职业病防护设施设计专篇的评审意见</h2>
                </div>
                <div class="protective-design-edit" id="opinion">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病防护设施设计单位的资质证明（影印件）</h2>
                </div>
                <div class="protective-design-edit" id="certificate">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害预评价报告审核的批复文件（复印件）</h2>
                </div>
                <div class="protective-design-edit" id="reply">
                </div>
            </div>
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="protective-design-edit" id="other">
                    <button class="layui-btn layui-btn-primary" onclick="viewOtherFile();">查看</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-protective-design .protective-design-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-protective-design .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-protective-design h2 {
        font-size: 18px;
    }
    #ehs-enterprise-protective-design .protective-design-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
    #ehs-enterprise-protective-design .file-download {
        line-height: 38px;
        font-size: 15px;
    }
    #ehs-enterprise-protective-design a:link {
        color: #1183FF;
    }
    #ehs-enterprise-protective-design a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin;
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        $(function() {
            $.ajax({
                url: 'threeSimultaneity/protectiveDesign/listProtectiveDesigns',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病防护设施设计审查申请书']) {
                        var data1 = data['建设项目职业病防护设施设计审查申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>';
                        $('#application').html(html);
                    }
                    if (data['建设项目立项审批文件（复印件）']) {
                        var data2 = data['建设项目立项审批文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>';
                        $('#approval').html(html);
                    }
                    if (data['建设项目职业病防护设施设计专篇']) {
                        var data3 = data['建设项目职业病防护设施设计专篇'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>';
                        $('#special').html(html);
                    }
                    if (data['建设单位对职业病防护设施设计专篇的评审意见']) {
                        var data4 = data['建设单位对职业病防护设施设计专篇的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>';
                        $('#opinion').html(html);
                    }
                    if (data['建设项目职业病防护设施设计单位的资质证明（影印件）']) {
                        var data5 = data['建设项目职业病防护设施设计单位的资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>';
                        $('#certificate').html(html);
                    }
                    if (data['建设项目职业病危害预评价报告审核的批复文件（复印件）']) {
                        var data6 = data['建设项目职业病危害预评价报告审核的批复文件（复印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>';
                        $('#reply').html(html);
                    }
                }
            });
        });
        // 其他文件
        window.viewOtherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '防护设施设计阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/viewOtherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>