<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="'编辑职业' + ${diseaseType == 1 ? '禁忌症': '病'} + '史'"></title>

    </head>
    <body>
        <form id="employee_medical_history_form" class="layui-form" lay-filter="employee_medical_history_form">
            <input id="employee_medical_history_id" name="id" type="hidden" th:value="${employeeMedicalHistory?.id}" />
            <input id="employee_medical_history_disease_type" name="diseaseType" type="hidden" th:value="${employeeMedicalHistory?.diseaseType}" />
            <input id="employee_medical_history_employee_id" name="employeeId" type="hidden" th:value="${employeeMedicalHistory?.employeeId}" />
            <input id="employee_medical_history_diagnosi_report" name="diagnosiReport" type="hidden" th:value="${employeeMedicalHistory?.diagnosiReport}" />
            <div class="layui-fluid" style="padding: 20px 25px 25px 0">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">疾病名称：</label>
                        <div class="layui-input-block">
                            <input id="disease_name" name="diseaseName" class="layui-input" lay-verify="required" lay-reqText="疾病名称未填" type="text" placeholder="请输入疾病名称" th:value="${employeeMedicalHistory?.diseaseName}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">诊断时间：</label>
                        <div class="layui-input-block">
                            <input id="diagnosi_date" name="diagnosiDate" class="layui-input" lay-verify="required" lay-reqText="诊断时间未填" type="text" placeholder="请输入诊断时间" th:value="${#dates.format(employeeMedicalHistory?.diagnosiDate, 'yyyy-MM-dd')}" />
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label xadmin-form-item-require">诊断医院：</label>
                        <div class="layui-input-block">
                            <input id="diagnosi_hosipital" name="diagnosiHosipital" class="layui-input" lay-verify="required" lay-reqText="诊断医院未填" type="text" placeholder="请输入诊断医院" th:value="${employeeMedicalHistory?.diagnosiHosipital}" />
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label">备注：</label>
                        <div class="layui-input-block">
                            <textarea id="remark" name="remark" th:text="${employeeMedicalHistory?.remark}" class="layui-textarea" placeholder="请输入备注"></textarea>
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label">诊断报告：</label>

                        <div class="layui-input-inline">
                            <input id="diagnosi_reportName" placeholder="文件名" readonly class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-btn-container" style="width: auto;">
                            <button id="diagnosi_report_btn" type="button" class="layui-btn layui-btn-primary">
                                <i class="layui-icon layui-icon-upload"></i>上传文件
                            </button>
                            <input id="diagnosi_report_file" type="file" style="display: none;"  />
                            <button id="diagnosi_report_download" class="layui-btn layui-btn-primary">下载文件</button>
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="medical-history-submit" lay-submit lay-filter="medical-history" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script th:inline="javascript">
            layui.use(["jquery", "form", "layer", "laydate", "table"], function () {
                let $ = layui.$,
                    layer = layui.layer,
                    form = layui.form,
                    laydate = layui.laydate,
                    table = layui.table;
                let tableIndex = [[${tableIndex}]],
                    diagnosiReportFileName;
                let currentIndex = layer.index;
                laydate.render({
                    elem: "#diagnosi_date",
                    type: "date",
                    trigger: "click",
                    btns: ["now", "confirm"]
                });

                form.on("submit(medical-history)", function (data) {
                    var diagnosiReportFiles = $("#diagnosi_report_file").get(0).files;

                    if (tableIndex === null) {
                        var formData = new FormData();
                        formData.append("medicalHistoryJSON", JSON.stringify(data.field));
                        if (diagnosiReportFiles.length != 0) {
                            formData.append("diagnosiReportFile", diagnosiReportFiles[0]);
                        }
                        var loadingIndex = layer.load(2);
                        $.ajax({
                            url: "employee/medicalHistory/save",
                            type: "post",
                            dataType: "json",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (result, status, xhr) {
                                if (result.status === 200) {
                                    layer.msg("保存成功", {icon: 6});
                                    requeryMedicalHistory();
                                    layer.close(currentIndex);
                                    return;
                                }
                                layer.msg(result.message, {icon: 5});
                            },
                            complete: function (xhr, status) {
                                layer.close(loadingIndex);
                            }
                        });
                    }else {
                        if (diagnosiReportFiles.length != 0) {
                            data.field.diagnosiReportFile = diagnosiReportFiles[0];
                            data.field.diagnosiReportFileName = data.field.diagnosiReportFile.name;
                        }
                        data.field.isEdit = true;
                        var array = table.cache["medical_history_table" + (data.field.diseaseType == 1 ? "2" : "")];
                        if (tableIndex === -1) {
                            array.push(data.field);
                        }else {
                            Object.assign(array[tableIndex], data.field);
                        }
                        table.reload("medical_history_table" + (data.field.diseaseType == 1 ? "2" : ""), {
                            url: "",
                            data: array
                        });
                        layer.close(currentIndex);
                    }
                    return false;
                });

                //职业健康委托书
                if ($('#employee_medical_history_diagnosi_report').val() != '') {
                    $('#diagnosi_reportName').val($('#employee_medical_history_diagnosi_report').val().substring($('#employee_medical_history_diagnosi_report').val().lastIndexOf('/') + 1));
                }
                //
                $('#diagnosi_report_btn').click(function (event) {
                    $('#diagnosi_report_file').click();
                });
                $('#diagnosi_report_file').change(function (event) {
                    if (this.files.length === 0) {
                        $('#diagnosi_reportName').val('');
                        return;
                    }
                    // 限制上传文件大小最大为20MB
                    var fileSize = this.files[0].size;
                    if (fileSize > 20*1024*1024) {
                        layer.msg('上传文件大小不能超过20MB', {icon: 5});
                        // 允许同一个文件重复上传
                        this.value = '';
                        return;
                    }
                    $('#diagnosi_reportName').val(this.files[0].name);
                });
                // 下载上传文件
                $('#diagnosi_report_download').click(function (event) {
                    var filePath = $('#employee_medical_history_diagnosi_report').val();
                    if (filePath == '') {
                        layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                        return false;
                    } else {
                        window.open("/downloadFile?filePath=" + filePath, "_blank");
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>