<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="'职业' + ${diseaseType == 1 ? '禁忌症': '病'} + '史'"></title>

        <style type="text/css">
            .layui-dropdown{
                z-index: 200000000;
            }
        </style>
    </head>
    <body>
        <div class="layui-fluid" style="margin-top: 10px;" id="medical-history-list">
            <form class="layui-form">
                <div class="layui-row">
                    <div class="layui-col-md10">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                            <i class="layui-icon">&#xe848;</i>
                        </div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                            <i class="layui-icon">&#xe79b;</i>
                        </div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                            <i class="layui-icon">&#xe875;</i>
                        </div>
                    </div>
                </div>
            </form>
            <table id="medical_history_table" lay-filter="medical_history_table"></table>
        </div>
        <script th:inline="javascript">
            layui.use(["jquery", "layer", "util", "table", "common", "dropdown",'xadmin'], function () {
                let $ = layui.$,
                    xadmin = layui.xadmin,
                    layer = layui.layer,
                    table = layui.table,
                    util = layui.util,
                    common = layui.common,
                    dropdown = layui.dropdown;
                let employeeId = [[${employeeId}]],
                    diseaseType = [[${diseaseType}]];
                requeryMedicalHistory = function(sort){
                    var options = {
                        url: "employee/medicalHistory/getList",
                        where: {
                            employeeId: employeeId,
                            diseaseType: diseaseType,
                            keyword: $("#medical-history-list .keyword").val().trim()
                        }
                    }
                    if (sort) {
                        // options.initSort = sort;
                        options.where.sortField = sort.field;
                        options.where.sortType = sort.type;
                    }
                    medicalHistoryTable.reload(options);
                }

                editMedicalHistory = function(id) {
                    var parameters = {};
                    if (id) {
                        parameters.id = id;
                    } else {
                        parameters.medicalHistoryJSON = JSON.stringify({employeeId: employeeId, diseaseType: diseaseType});
                    }
                    common.layerOpen(
                        "employee/medicalHistory/edit",
                        parameters,
                        {
                            title: "编辑职业" + (diseaseType == 0 ? "病" : "禁忌症") + "史",
                            area : ["600px", "380px"],
                            btn: ["提交", "取消"],
                            yes: function(index, layero) {
                                $("#medical-history-submit").click();
                                return false;
                            },
                            btn2: function(index, layero) {
                                var index = layer.getFrameIndex(window.name);
                                layer.close(index);
                            }
                        }
                    );
                }

                removeMedicalHistory = function() {
                    var checkStatus = table.checkStatus("medical_history_table");
                    if (checkStatus.data.length == 0) {
                        layer.msg("请选择需要删除的数据", {icon: 5});
                        return;
                    }
                    var ids = [];
                    $.each(checkStatus.data, function (index, data) {
                        ids.push(data.id);
                    });
                    deleteMedicalHistory(ids);
                }

                deleteMedicalHistory = function(ids) {
                    layer.confirm("确定删除吗？", {title: ""}, function (confirmIndex) {
                        layer.close(confirmIndex);
                        $.ajax({
                            url: "employee/medicalHistory/delete",
                            type: "post",
                            dataType: "json",
                            data: {"idsJSON": JSON.stringify(ids)},
                            success: function (result) {
                                if (result.status === 200){
                                    layer.msg("删除职业" + (diseaseType == 0 ? "病" : "禁忌症") + "史成功", {icon: 6});
                                    requeryMedicalHistory();
                                }else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    });
                }

                viewMedicalHistory = function(id) {
                    common.layerOpen(
                        "employee/medicalHistory/view",
                        {
                            id: id
                        },
                        {
                            title: "查看职业" + (diseaseType == 0 ? "病" : "禁忌症") + "史",
                            area : ["600px", "380px"]
                        }
                    );
                }
                let medicalHistoryTable = table.render({
                    elem: "#medical_history_table",
                    cols: [
                        [
                            {
                                type: "checkbox",
                                align: "center"
                            },
                            {
                                title: "序号",
                                type: "numbers",
                                align: "center"
                            },
                            {
                                field: "diseaseName",
                                title: "疾病名称",
                                align: "center",
                                sort: true,
                                minWidth: 100
                            },
                            {
                                field: "diagnosiDate",
                                title: "诊断时间",
                                align: "center",
                                sort: true,
                                width: 120,
                                templet: function (data) {
                                    if (data.diagnosiDate) {
                                        return util.toDateString(data.diagnosiDate, "yyyy-MM-dd");
                                    }
                                    return "";
                                }
                            },
                            {
                                field: "diagnosiHosipital",
                                title: "诊断医院",
                                align: "center",
                                sort: true,
                                minWidth: 100
                            },
                            {
                                title: "诊断报告",
                                align: "center",
                                minWidth: 100,
                                templet: function (data) {
                                    if (data.diagnosiReport) {
                                        return "<a class='file-download' filePath='" + data.diagnosiReport + "'>" + data.diagnosiReport.substring(data.diagnosiReport.lastIndexOf("/") + 1) + "</a>";
                                    }
                                    return "";
                                }
                            },
                            {
                                title: "操作",
                                align: "center",
                                fixed: 'right',
                                width: 170,
                                templet: function (data) {
                                    return "<a href='javascript:void(0);' class='layui-btn layui-btn-xs' onclick='editMedicalHistory(" + data.id + ")'>编辑</a><a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' onclick='deleteMedicalHistory([" + data.id + "])'>删除</a><a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs' onclick='viewMedicalHistory(" + data.id + ")'>详情</a>";
                                }
                            }
                        ]
                    ],
                    url: "employee/medicalHistory/getList",
                    method: "post",
                    parseData: function (result) {
                        xadmin.table.parseDataHandler(result);
                        return {
                            code: 0,
                            count: result.data.total,
                            data: result.data.list
                        };
                    },
                    where: {
                        employeeId: employeeId,
                        diseaseType: diseaseType,
                        keyword: $("#medical-history-list .keyword").val().trim()
                    },
                    autoSort: false
                });

                table.on("sort(medical_history_table)", function (obj) {
                    requeryMedicalHistory(obj);
                });

                $("#medical-history-list .query").click(requeryMedicalHistory);

                $("#medical-history-list .reset").click(function (event) {
                    $("#medical-history-list .keyword").val("");
                    requeryMedicalHistory();
                });

                dropdown.render({
                    elem: $("#medical-history-list .action-more"),
                    click: function (name, elem, event) {
                        if (name === "edit") {
                            editMedicalHistory();
                        }
                        if (name === "remove") {
                            removeMedicalHistory();
                        }
                    },
                    options: [{
                        name: "edit",
                        title: "新增"
                    },{
                        name: "remove",
                        title: "删除"
                    }]
                });
            });
        </script>
    </body>
</html>