<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="'查看职业' + ${diseaseType == 1 ? '禁忌症': '病'} + '史'"></title>

    </head>
    <body>
        <form id="employee_medical_history_form" class="layui-form" lay-filter="employee_medical_history_form">
            <input id="employee_medical_history_id" type="hidden" th:value="${employeeMedicalHistory?.id}" />
            <input id="employee_medical_history_disease_type" type="hidden" th:value="${employeeMedicalHistory?.diseaseType}" />
            <input id="employee_medical_history_employee_id" type="hidden" th:value="${employeeMedicalHistory?.employeeId}" />
            <input id="employee_medical_history_diagnosi_report" type="hidden" th:value="${employeeMedicalHistory?.diagnosiReport}" />
            <div class="layui-fluid" style="padding: 20px 25px 25px 0">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">疾病名称：</label>
                        <div class="layui-input-block">
                            <input id="disease_name" readonly class="layui-input" type="text" th:value="${employeeMedicalHistory?.diseaseName}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">诊断时间：</label>
                        <div class="layui-input-block">
                            <input id="diagnosi_date" readonly class="layui-input" type="text" th:value="${#dates.format(employeeMedicalHistory?.diagnosiDate, 'yyyy-MM-dd')}" />
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label">诊断医院：</label>
                        <div class="layui-input-block">
                            <input id="diagnosi_hosipital" readonly class="layui-input" type="text" th:value="${employeeMedicalHistory?.diagnosiHosipital}" />
                        </div>
                    </div>


                    <div class="layui-col-xs12">
                        <label class="layui-form-label">备注：</label>
                        <div class="layui-input-block">
                            <textarea id="remark" readonly th:text="${employeeMedicalHistory?.remark}" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label">诊断报告：</label>
                        <div class="layui-input-block">
                            <span id="diagnosi_report_name" class="layui-form-mid">
                                <a class="file-download" th:if="${employeeMedicalHistory?.diagnosiReport}" th:attr="filePath = ${employeeMedicalHistory?.diagnosiReport}" th:text="${employeeMedicalHistory?.diagnosiReport.substring(employeeMedicalHistory?.diagnosiReport.lastIndexOf('/') + 1)}"></a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <script th:inline="javascript">
            layui.use(["form"], function () {
                let form = layui.form;
            });
        </script>
    </body>
</html>