<style>
    #edit-harm-factor {
        padding: 20px 25px 25px 0;
    }
    #edit-harm-factor .layui-form-label {
        width: 110px;
    }
    #edit-harm-factor .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-harm-factor">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${baseHarmFactor?.id}">
        <input type="hidden" id="highlyToxic" th:value="${baseHarmFactor?.isHighlyToxic}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">危害因素名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" placeholder="请输入危害因素名称" maxlength="50" autocomplete="off"
                       th:value="${baseHarmFactor?.name}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">危害因素CAS号：</label>
            <div class="layui-input-block">
                <input type="text" id="cas" placeholder="请输入危害因素CAS号" maxlength="50" autocomplete="off"
                       th:value="${baseHarmFactor?.cas}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">是否高毒：</label>
            <div class="layui-input-block">
                <select id="isHighlyToxic" lay-verify="required">
                    <option value="" selected>请选择是否高毒</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">危害因素类别：</label>
            <div class="layui-input-block">
                <input type="text" id="category" placeholder="请输入危害因素类别" maxlength="50" autocomplete="off"
                       th:value="${baseHarmFactor?.category}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">MAC：</label>
            <div class="layui-input-block">
                <input type="text" id="mac" placeholder="请输入MAC" maxlength="20" autocomplete="off"
                       th:value="${baseHarmFactor?.mac}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PC-TWA：</label>
            <div class="layui-input-block">
                <input type="text" id="twa" placeholder="请输入PC-TWA" maxlength="20" autocomplete="off"
                       th:value="${baseHarmFactor?.twa}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PC-STEL：</label>
            <div class="layui-input-block">
                <input type="text" id="stel" placeholder="请输入PC-STEL" maxlength="20" autocomplete="off"
                       th:value="${baseHarmFactor?.stel}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">超限倍数：</label>
            <div class="layui-input-block">
                <input type="text" id="overLimitMultiple" placeholder="请输入超限倍数" maxlength="20" autocomplete="off"
                       th:value="${baseHarmFactor?.overLimitMultiple}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" id="remark" placeholder="请输入备注" maxlength="100" autocomplete="off"
                       th:value="${baseHarmFactor?.remark}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="harmFactor"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        // 如果是编辑，选中相应的是否高毒
        $("#isHighlyToxic option[value='" + $('#highlyToxic').val() + "']").prop('selected',true);
        form.render('select');
        // 表单提交
        form.on('submit(harmFactor)', function(data) {
            // 检查mac、twa、stel格式（只能是数字和一个小数点）
            var reg = /^[0-9]+(\.?[0-9]+)?$/;
            var mac = $('#mac').val().trim();
            if (mac && !reg.test(mac)) {
                layer.msg('MAC只能填写数字', {icon: 5});
                return;
            }
            var twa = $('#twa').val().trim();
            if (twa && !reg.test(twa)) {
                layer.msg('PC-TWA只能填写数字', {icon: 5});
                return;
            }
            var stel = $('#stel').val().trim();
            if (stel && !reg.test(stel)) {
                layer.msg('PC-STEL只能填写数字', {icon: 5});
                return;
            }
            var overLimitMultiple = $('#overLimitMultiple').val().trim();
            if (overLimitMultiple && !reg.test(overLimitMultiple)) {
                layer.msg('超限倍数只能填写数字', {icon: 5});
                return;
            }
            var baseHarmFactor = {
                id: $('#id').val(),
                name: $('#name').val().trim(),
                cas: $('#cas').val().trim(),
                isHighlyToxic: $('#isHighlyToxic').val(),
                category: $('#category').val().trim(),
                mac: mac,
                twa: twa,
                stel: stel,
                overLimitMultiple: overLimitMultiple,
                remark: $('#remark').val().trim()
            };
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'harmFactor/editHarmFactor/save',
                type: 'post',
                dateType: 'json',
                data: baseHarmFactor,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        parent.layer.msg(result.message, {icon: 6});
                        parent.requeryHarmfactor();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>