<link rel="stylesheet" href="/plugins/webuploader/webuploader.css">
<style type="text/css">
    #import-harm-factor .placeholder {
        min-height: 120px;
        padding-top: 60px;
        text-align: center;
        color: #cccccc;
        font-size: 18px;
        position: relative;
    }
    #import-harm-factor .queue {
        margin: 20px;
        border: 3px dashed #e6e6e6;
    }
    #import-harm-factor a:link {
        color: #1183FF;
    }
    #import-harm-factor a:hover {
        color: #C1292F;
    }
    #picker div:nth-child(2) {
        width:50%!important;height:100%!important;
    }
</style>
<div class="layui-fluid" id="import-harm-factor">
    <div id="uploader" class="wu-example">
        <div class="queue">
            <div id="andArea" class="placeholder">
                <div id="picker">点击选择文件</div>
                <p>或将文件拖到这里</p>
            </div>
        </div>
    </div>
    <div class="layui-row" style="padding: 0 20px 20px;">
        <div class="layui-col-md12">
            <strong>提示信息：</strong>
            <ol>
                <li>1、导入前请先下载模版
                    <a href='/template/危害因素导入文件模板.xlsx'>
                    点我下载</a></li>
                <li>2、只能上传Excel类型的文件</li>
                <li>3、导入的文件必须严格按照模版的规则编写</li>
                <li>4、每次只能导入一个文件</li>
                <li>5、禁止空行出现</li>
            </ol>
        </div>
    </div>
</div>
<script src="/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="/plugins/webuploader/webuploader.js"></script>
<script>
    var $, layer;
    layui.use(['jquery', 'layer'], function() {
        $ = layui.$;
        layer = layui.layer;
    });
    // 导入危害因素文件（先把文件上传到服务器临时目录，然后读取Excel）
    var uploader = WebUploader.create({
        swf: '/plugins/webuploader/Uploader.swf',
        server: 'harmFactor/importExcelData',
        auto: true, // 选择文件后自动上传
        pick: {
            id: '#picker', // 按钮元素
            multiple: false // 是否支持文件多选，false表示只能选一个
        },
        accept: {
            extensions: 'xls,xlsx', // 允许的文件后缀
            mimeTypes: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        },
        duplicate: true, // 允许文件重复上传
        dnd: '#uploader .queue', // 拖拽的容器
        fileSizeLimit: 5 * 1024 * 1024, // 限制所有上传文件的大小
    });
    // 文件上传前触发（加载层）
    var loadingIndex;
    uploader.on('uploadStart', function(file) {
        loadingIndex = parent.layer.load(2);
    });
    // 上传成功
    uploader.on('uploadSuccess', function(file, response) {
        if (response.status === 'success') {
            var index = parent.layer.getFrameIndex(window.name);
            layer.alert(response.message, {icon: 6}, function() {
                layer.closeAll();
                parent.requeryHarmfactor();
            });
        } else if (response.status === 'error') {
            layer.msg(response.message, {icon: 5});
        }
    });
    // 上传失败
    uploader.on('uploadError', function(file) {
        layer.msg('上传失败', {icon: 5});
    });
    // 上传完成（不论成功或失败都会执行）
    uploader.on( 'uploadComplete', function(file) {
        parent.layer.close(loadingIndex);
    });
    // 上传错误
    uploader.on('error', function(status) {
        var errorTxt = '';
        if (status == 'Q_TYPE_DENIED') {
            errorTxt = '文件类型错误';
        } else if (status == 'Q_EXCEED_SIZE_LIMIT') {
            errorTxt = '文件大小超出限制，请控制在5M以内';
        } else {
            errorTxt = '其他错误';
        }
        layer.msg('提示:'+ errorTxt, {icon: 5});
    });
</script>