<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-harmFactor" lay-title="危害因素管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="harm_factor_table" lay-filter="harm_factor_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 危害因素table行查看、编辑、删除 -->
<script type="text/html" id="harm_factor_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form',  'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-admin-harmFactor'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 危害因素table
        var harmFactorTable = table.render({
            elem: '#harm_factor_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'name',
                        title: '危害因素名称',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'cas',
                        title: '危害因素CAS号',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'isHighlyToxic',
                        title: '是否高毒',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            // 修改数据显示
                            var status = '';
                            if (d.isHighlyToxic === 0) {
                                status = '否';
                            } else if (d.isHighlyToxic === 1) {
                                status =  '是';
                            }
                            return status;
                        }
                    },
                    {
                        field: 'category',
                        title: '危害因素类别',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'mac',
                        title: 'MAC(mg/m³)',
                        align: 'center',
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: 'twa',
                        title: 'PC-TWA(mg/m³)',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'stel',
                        title: 'PC-STEL(mg/m³)',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'overLimitMultiple',
                        title: '超限倍数',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#harm_factor_bar',
                        width: 90
                    }
                ]
            ],
            url: 'harmFactor/listHarmFactors',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.baseHarmFactors
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 危害因素排序
        table.on('sort(harm_factor_table)', function (obj) {
            requeryHarmfactor(obj);
        });
        // 危害因素下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('harm_factor_table');
                if (name === 'add') {
                    xadmin.modal.open("新增危害因素", "harmFactor/editHarmFactor", {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-harm-factor').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-harm-factor').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'import') {
                    xadmin.modal.open("批量导入危害因素", "harmFactor/importHarmFactors", {
                        area: $(window).width() <= 750 ? '95%' : '50%'
                    });
                }
            },
            options: [{
                name: 'add',
                title: '新增危害因素'
            }, {
                name: 'import',
                title: '批量导入'
            }]
        });
        // 监听危害因素table行事件（查看、编辑、删除）
        table.on('tool(harm_factor_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看危害因素信息',
                    content: 'harmFactor/viewHarmFactor?id=' + data.id,
                    area: ['500px', '500px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑危害因素", "harmFactor/editHarmFactor/" + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-harm-factor').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
        });
        // 查询
        window.requeryHarmfactor = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            harmFactorTable.reload(options);
        }
        $query.on('click', function () {
            requeryHarmfactor();
        });
        // 重置刷新监管账号
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryHarmfactor();
        });
    });
</script>