<style>
    #edit-three-simultaneity {
        padding: 20px 25px 25px 0;
    }
    #edit-three-simultaneity .layui-form-label {
        width: 110px;
    }
    #edit-three-simultaneity .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-three-simultaneity">
    <form id="three_simultaneity_form" class="layui-form" action="" lay-filter="three_simultaneity_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseThreeSimultaneity?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseThreeSimultaneity?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">建设项目名称：</label>
            <div class="layui-input-block">
                <input type="text" id="projectName" name="projectName" placeholder="请输入建设项目名称" maxlength="200"
                       th:value="${enterpriseThreeSimultaneity?.projectName}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">项目来源：</label>
            <div class="layui-input-block">
                <select id="projectSource" name="projectSource" lay-verify="required">
                    <option value="" selected>请选择项目来源</option>
                    <option value="国务院及其投资主管部门核准"
                    th:selected="${'国务院及其投资主管部门核准' == enterpriseThreeSimultaneity?.projectSource}">国务院及其投资主管部门核准</option>
                    <option value="地方政府核准" th:selected="${'地方政府核准' == enterpriseThreeSimultaneity?.projectSource}">地方政府核准</option>
                    <option value="企业自建" th:selected="${'企业自建' == enterpriseThreeSimultaneity?.projectSource}">企业自建</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">项目时间：</label>
            <div class="layui-input-block">
                <input type="text" id="projectTime" name="projectTime" placeholder="请选择项目时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseThreeSimultaneity?.projectTime,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="three-simultaneity"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        form.render();
        // 日期组件
        laydate.render({
            elem: '#projectTime',
            type: 'date'
        });
        // 表单提交
        form.on('submit(three-simultaneity)', function(data) {
            var enterpriseThreeSimultaneity = {};
            $.each($("#three_simultaneity_form input[name],select[name]"), function (index, element) {
                enterpriseThreeSimultaneity[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseThreeSimultaneity) {
                var formData = new FormData();
                formData.append("enterpriseThreeSimultaneityJSON", JSON.stringify(enterpriseThreeSimultaneity));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'threeSimultaneity/editThreeSimultaneity/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryThreeSimultaneity();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>