<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-three-simultaneity" lay-title="三同时记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="three_simultaneity_table" lay-filter="three_simultaneity_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 三同时table行提交、编辑、删除 -->
<script type="text/html" id="three_simultaneity_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown', 'element'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            element = layui.element,
            $view = $('#xadmin-enterprise-three-simultaneity'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 三同时table
        var threeSimultaneityTable = table.render({
            elem: '#three_simultaneity_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'projectName',
                        title: '建设项目名称',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'projectSource',
                        title: '项目来源',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                    },
                    {
                        field: 'projectTime',
                        title: '项目时间',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            if (d.projectTime) {
                                return util.toDateString(d.projectTime, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'harmDegree',
                        title: '预评价危害程度',
                        align: 'center',
                        sort: true,
                        minWidth: 150,
                        templet: function(d) {
                            // 修改数据显示
                            var harmDegree = '';
                            if (d.harmDegree === 0) {
                                harmDegree = '一般';
                            }
                            if (d.harmDegree === 1) {
                                harmDegree =  '较重';
                            }
                            if (d.harmDegree === 2) {
                                harmDegree =  '严重';
                            }
                            return harmDegree;
                        }
                    },
                    {
                        field: 'riskClass',
                        title: '风险分类',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            // 修改数据显示
                            var riskClass = '';
                            if (d.riskClass === 0) {
                                riskClass = '一般';
                            }
                            if (d.riskClass === 1) {
                                riskClass =  '较重';
                            }
                            if (d.riskClass === 2) {
                                riskClass =  '严重';
                            }
                            return riskClass;
                        }
                    },
                    {
                        title: '项目阶段',
                        align: 'center',
                        minWidth: 280,
                        templet: function (data) {
                            // 预评价阶段
                            if (data.projectState == 0) {
                                return "<a href='javascript:void(0);' onclick='preEvaluation(" + data.id + ",0)' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\">预评价</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-disabled layui-btn-xs\">防护设施设计</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);'>"
                                    + "<span class=\"layui-btn layui-btn-disabled layui-btn-xs\">竣工验收</span>"
                                    + "</a>";
                            }
                            // 防护设施设计阶段
                            if (data.projectState == 1) {
                                return "<a href='javascript:void(0);' onclick='preEvaluation(" + data.id + ",1)' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">预评价</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' onclick='protectiveDesign(" + data.id + ",1)' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\">防护设施设计</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);'>"
                                    + "<span class=\"layui-btn layui-btn-disabled layui-btn-xs\">竣工验收</span>"
                                    + "</a>";
                            }
                            // 防护设施竣工验收阶段
                            if (data.projectState == 2) {
                                return "<a href='javascript:void(0);' onclick='preEvaluation(" + data.id + ",2)' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">预评价</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' onclick='protectiveDesign(" + data.id + ",2)' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">防护设施设计</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' onclick='completionAcceptance(" + data.id + "," + data.harmDegree + "," + data.status + ",2)'>"
                                    + (data.status == 1 ? "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">竣工验收</span>"
                                        : "<span class=\"layui-btn layui-btn-xs\">竣工验收</span>")
                                    + "</a>";
                            }
                        }
                    },
                    {
                        field: 'dayDiff',
                        title: '距离上次更新',
                        align: 'center',
                        minWidth: 120,
                        templet: function(data) {
                            if (data.status == 1) {
                                return '—';
                            }
                            return data.dayDiff + '天';
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#three_simultaneity_bar',
                        width: 120
                    }
                ]
            ],
            url: 'threeSimultaneity/listThreeSimultaneitys',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseThreeSimultaneitys
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false,
            done: function (res) {
                $.each(res.data, function (index, data) {
                    if (data.status != 1) {
                        if (data.dayDiff <= 30){
                            $("div[lay-id='three_simultaneity_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='dayDiff']").css("color", "green");
                        } else if (data.dayDiff > 30 && data.dayDiff <= 90) {
                            $("div[lay-id='three_simultaneity_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='dayDiff']").css("color", "#F6AF00");
                        } else {
                            $("div[lay-id='three_simultaneity_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='dayDiff']").css("color", "red");
                        }
                    }
                });
            }
        });
        // 三同时table排序
        table.on('sort(three_simultaneity_table)', function (obj) {
            requeryThreeSimultaneity(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('three_simultaneity_table');
                if (name === 'add') {
                    xadmin.modal.open("新增三同时","threeSimultaneity/editThreeSimultaneity",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-three-simultaneity').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-three-simultaneity').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的三同时');
                    } else {
                        var flag = true;
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        if (flag) {
                            $.ajax({
                                url: 'threeSimultaneity/deleteThreeSimultaneitys',
                                type: 'post',
                                dataType: 'json',
                                traditional: true,
                                data: {ids: ids},
                                success: function (result) {
                                    if (result.status === 'success') {
                                        xadmin.alert.success(result.message);
                                        requeryThreeSimultaneity();
                                    } else {
                                        xadmin.alert.error(result.message);
                                    }
                                }
                            });
                        }
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增三同时'
            }, {
                name: 'delete',
                title: '删除三同时'
            }]
        });
        // 监听三同时table行事件（编辑、删除）
        table.on('tool(three_simultaneity_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑三同时","threeSimultaneity/editThreeSimultaneity/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-three-simultaneity').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该三同时吗？', function(index) {
                    $.ajax({
                        url: 'threeSimultaneity/deleteThreeSimultaneity',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryThreeSimultaneity();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryThreeSimultaneity = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            threeSimultaneityTable.reload(options);
        }
        $query.on('click', function() {
            requeryThreeSimultaneity();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryThreeSimultaneity();
        });
        // 预评价
        window.preEvaluation = function(projectId, projectState) {
            if (projectState == 0) {
                xadmin.navigate("/threeSimultaneity/preEvaluation/" + projectId + "/0");
            } else {
                xadmin.navigate("/threeSimultaneity/preEvaluation/" + projectId);
            }
        }
        // 防护设施设计
        window.protectiveDesign = function(projectId, projectState) {
            if (projectState == 1) {
                xadmin.navigate("/threeSimultaneity/protectiveDesign/" + projectId + "/1");
            } else if (projectState == 2) {
                xadmin.navigate("/threeSimultaneity/protectiveDesign/" + projectId);
            }
        }
        // 竣工验收
        window.completionAcceptance = function(projectId, harmDegree, status, projectState) {
            if (projectState == 2) {
                if (status == 0) {
                    if (harmDegree == 0) {
                        xadmin.navigate("/threeSimultaneity/completionAcceptance/low/" + projectId + "/2");
                    } else if (harmDegree == 1) {
                        xadmin.navigate("/threeSimultaneity/completionAcceptance/middle/" + projectId + "/2");
                    } else {
                        xadmin.navigate("/threeSimultaneity/completionAcceptance/high/" + projectId + "/2");
                    }
                } else {
                    if (harmDegree == 0) {
                        xadmin.navigate("/threeSimultaneity/completionAcceptance/low/" + projectId);
                    } else if (harmDegree == 1) {
                        xadmin.navigate("/threeSimultaneity/completionAcceptance/middle/" + projectId);
                    } else {
                        xadmin.navigate("/threeSimultaneity/completionAcceptance/high/" + projectId);
                    }
                }
            }
        }
    });
</script>