<style>
    #view-opinion-file {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="view-opinion-file">
    <form id="opinion_form" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">意见：</label>
            <div class="layui-input-block">
                <textarea id="opinion" name="opinion" class="layui-textarea" readonly
                          th:text="${enterpriseThreeSimultaneityFile?.opinion}"></textarea>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
    });
</script>