<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?mso-application progid="Word.Document"?>
<w:wordDocument xmlns:aml="http://schemas.microsoft.com/aml/2001/core" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:ve="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.microsoft.com/office/word/2003/wordml" xmlns:wx="http://schemas.microsoft.com/office/word/2003/auxHint" xmlns:wsp="http://schemas.microsoft.com/office/word/2003/wordml/sp2" xmlns:sl="http://schemas.microsoft.com/schemaLibrary/2003/core" w:macrosPresent="no" w:embeddedObjPresent="no" w:ocxPresent="no" xml:space="preserve">
    <w:ignoreSubtree w:val="http://schemas.microsoft.com/office/word/2003/wordml/sp2"/>
    <o:DocumentProperties>
        <o:Author>wym</o:Author>
        <o:LastAuthor>wym</o:LastAuthor>
        <o:Revision>2</o:Revision>
        <o:TotalTime>0</o:TotalTime>
        <o:Created>2019-08-08T12:29:00Z</o:Created>
        <o:LastSaved>2019-08-08T12:29:00Z</o:LastSaved>
        <o:Pages>1</o:Pages>
        <o:Words>8</o:Words>
        <o:Characters>47</o:Characters>
        <o:Lines>1</o:Lines>
        <o:Paragraphs>1</o:Paragraphs>
        <o:CharactersWithSpaces>54</o:CharactersWithSpaces>
        <o:Version>12</o:Version>
    </o:DocumentProperties>
    <w:fonts>
        <w:defaultFonts w:ascii="Calibri" w:fareast="宋体" w:h-ansi="Calibri" w:cs="Times New Roman"/><w:font w:name="Times New Roman">
        <w:panose-1 w:val="02020603050405020304"/>
        <w:charset w:val="00"/>
        <w:family w:val="Roman"/>
        <w:pitch w:val="variable"/>
        <w:sig w:usb-0="E0002AFF" w:usb-1="C0007841" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="宋体"><w:altName w:val="SimSun"/>
    <w:panose-1 w:val="02010600030101010101"/>
    <w:charset w:val="86"/>
    <w:family w:val="auto"/>
    <w:pitch w:val="variable"/>
    <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
</w:font>
<w:font w:name="Cambria Math">
    <w:panose-1 w:val="02040503050406030204"/>
    <w:charset w:val="01"/>
    <w:family w:val="Roman"/>
    <w:notTrueType/>
    <w:pitch w:val="variable"/>
    <w:sig w:usb-0="00000000" w:usb-1="00000000" w:usb-2="00000000" w:usb-3="00000000" w:csb-0="00000000" w:csb-1="00000000"/>
</w:font>
<w:font w:name="Calibri">
    <w:panose-1 w:val="020F0502020204030204"/>
    <w:charset w:val="00"/>
    <w:family w:val="Swiss"/>
    <w:pitch w:val="variable"/>
    <w:sig w:usb-0="E10002FF" w:usb-1="4000ACFF" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
</w:font>
<w:font w:name="@宋体"><w:panose-1 w:val="02010600030101010101"/>
<w:charset w:val="86"/>
<w:family w:val="auto"/>
<w:pitch w:val="variable"/>
<w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
</w:font>
</w:fonts>
<w:styles>
    <w:versionOfBuiltInStylenames w:val="7"/>
    <w:latentStyles w:defLockedState="off" w:latentStyleCount="267">
        <w:lsdException w:name="Normal"/>
        <w:lsdException w:name="heading 1"/>
        <w:lsdException w:name="heading 2"/>
        <w:lsdException w:name="heading 3"/>
        <w:lsdException w:name="heading 4"/>
        <w:lsdException w:name="heading 5"/>
        <w:lsdException w:name="heading 6"/>
        <w:lsdException w:name="heading 7"/>
        <w:lsdException w:name="heading 8"/>
        <w:lsdException w:name="heading 9"/>
        <w:lsdException w:name="toc 1"/>
        <w:lsdException w:name="toc 2"/>
        <w:lsdException w:name="toc 3"/>
        <w:lsdException w:name="toc 4"/>
        <w:lsdException w:name="toc 5"/>
        <w:lsdException w:name="toc 6"/>
        <w:lsdException w:name="toc 7"/>
        <w:lsdException w:name="toc 8"/>
        <w:lsdException w:name="toc 9"/>
        <w:lsdException w:name="caption"/>
        <w:lsdException w:name="Title"/>
        <w:lsdException w:name="Default Paragraph Font"/>
        <w:lsdException w:name="Subtitle"/>
        <w:lsdException w:name="Strong"/>
        <w:lsdException w:name="Emphasis"/>
        <w:lsdException w:name="Table Grid"/>
        <w:lsdException w:name="Placeholder Text"/>
        <w:lsdException w:name="No Spacing"/>
        <w:lsdException w:name="Light Shading"/>
        <w:lsdException w:name="Light List"/>
        <w:lsdException w:name="Light Grid"/>
        <w:lsdException w:name="Medium Shading 1"/>
        <w:lsdException w:name="Medium Shading 2"/>
        <w:lsdException w:name="Medium List 1"/>
        <w:lsdException w:name="Medium List 2"/>
        <w:lsdException w:name="Medium Grid 1"/>
        <w:lsdException w:name="Medium Grid 2"/>
        <w:lsdException w:name="Medium Grid 3"/>
        <w:lsdException w:name="Dark List"/>
        <w:lsdException w:name="Colorful Shading"/>
        <w:lsdException w:name="Colorful List"/>
        <w:lsdException w:name="Colorful Grid"/>
        <w:lsdException w:name="Light Shading Accent 1"/>
        <w:lsdException w:name="Light List Accent 1"/>
        <w:lsdException w:name="Light Grid Accent 1"/>
        <w:lsdException w:name="Medium Shading 1 Accent 1"/>
        <w:lsdException w:name="Medium Shading 2 Accent 1"/>
        <w:lsdException w:name="Medium List 1 Accent 1"/>
        <w:lsdException w:name="Revision"/>
        <w:lsdException w:name="List Paragraph"/>
        <w:lsdException w:name="Quote"/>
        <w:lsdException w:name="Intense Quote"/>
        <w:lsdException w:name="Medium List 2 Accent 1"/>
        <w:lsdException w:name="Medium Grid 1 Accent 1"/>
        <w:lsdException w:name="Medium Grid 2 Accent 1"/>
        <w:lsdException w:name="Medium Grid 3 Accent 1"/>
        <w:lsdException w:name="Dark List Accent 1"/>
        <w:lsdException w:name="Colorful Shading Accent 1"/>
        <w:lsdException w:name="Colorful List Accent 1"/>
        <w:lsdException w:name="Colorful Grid Accent 1"/>
        <w:lsdException w:name="Light Shading Accent 2"/>
        <w:lsdException w:name="Light List Accent 2"/>
        <w:lsdException w:name="Light Grid Accent 2"/>
        <w:lsdException w:name="Medium Shading 1 Accent 2"/>
        <w:lsdException w:name="Medium Shading 2 Accent 2"/>
        <w:lsdException w:name="Medium List 1 Accent 2"/>
        <w:lsdException w:name="Medium List 2 Accent 2"/>
        <w:lsdException w:name="Medium Grid 1 Accent 2"/>
        <w:lsdException w:name="Medium Grid 2 Accent 2"/>
        <w:lsdException w:name="Medium Grid 3 Accent 2"/>
        <w:lsdException w:name="Dark List Accent 2"/>
        <w:lsdException w:name="Colorful Shading Accent 2"/>
        <w:lsdException w:name="Colorful List Accent 2"/>
        <w:lsdException w:name="Colorful Grid Accent 2"/>
        <w:lsdException w:name="Light Shading Accent 3"/>
        <w:lsdException w:name="Light List Accent 3"/>
        <w:lsdException w:name="Light Grid Accent 3"/>
        <w:lsdException w:name="Medium Shading 1 Accent 3"/>
        <w:lsdException w:name="Medium Shading 2 Accent 3"/>
        <w:lsdException w:name="Medium List 1 Accent 3"/>
        <w:lsdException w:name="Medium List 2 Accent 3"/>
        <w:lsdException w:name="Medium Grid 1 Accent 3"/>
        <w:lsdException w:name="Medium Grid 2 Accent 3"/>
        <w:lsdException w:name="Medium Grid 3 Accent 3"/>
        <w:lsdException w:name="Dark List Accent 3"/>
        <w:lsdException w:name="Colorful Shading Accent 3"/>
        <w:lsdException w:name="Colorful List Accent 3"/>
        <w:lsdException w:name="Colorful Grid Accent 3"/>
        <w:lsdException w:name="Light Shading Accent 4"/>
        <w:lsdException w:name="Light List Accent 4"/>
        <w:lsdException w:name="Light Grid Accent 4"/>
        <w:lsdException w:name="Medium Shading 1 Accent 4"/>
        <w:lsdException w:name="Medium Shading 2 Accent 4"/>
        <w:lsdException w:name="Medium List 1 Accent 4"/>
        <w:lsdException w:name="Medium List 2 Accent 4"/>
        <w:lsdException w:name="Medium Grid 1 Accent 4"/>
        <w:lsdException w:name="Medium Grid 2 Accent 4"/>
        <w:lsdException w:name="Medium Grid 3 Accent 4"/>
        <w:lsdException w:name="Dark List Accent 4"/>
        <w:lsdException w:name="Colorful Shading Accent 4"/>
        <w:lsdException w:name="Colorful List Accent 4"/>
        <w:lsdException w:name="Colorful Grid Accent 4"/>
        <w:lsdException w:name="Light Shading Accent 5"/>
        <w:lsdException w:name="Light List Accent 5"/>
        <w:lsdException w:name="Light Grid Accent 5"/>
        <w:lsdException w:name="Medium Shading 1 Accent 5"/>
        <w:lsdException w:name="Medium Shading 2 Accent 5"/>
        <w:lsdException w:name="Medium List 1 Accent 5"/>
        <w:lsdException w:name="Medium List 2 Accent 5"/>
        <w:lsdException w:name="Medium Grid 1 Accent 5"/>
        <w:lsdException w:name="Medium Grid 2 Accent 5"/>
        <w:lsdException w:name="Medium Grid 3 Accent 5"/>
        <w:lsdException w:name="Dark List Accent 5"/>
        <w:lsdException w:name="Colorful Shading Accent 5"/>
        <w:lsdException w:name="Colorful List Accent 5"/>
        <w:lsdException w:name="Colorful Grid Accent 5"/>
        <w:lsdException w:name="Light Shading Accent 6"/>
        <w:lsdException w:name="Light List Accent 6"/>
        <w:lsdException w:name="Light Grid Accent 6"/>
        <w:lsdException w:name="Medium Shading 1 Accent 6"/>
        <w:lsdException w:name="Medium Shading 2 Accent 6"/>
        <w:lsdException w:name="Medium List 1 Accent 6"/>
        <w:lsdException w:name="Medium List 2 Accent 6"/>
        <w:lsdException w:name="Medium Grid 1 Accent 6"/>
        <w:lsdException w:name="Medium Grid 2 Accent 6"/>
        <w:lsdException w:name="Medium Grid 3 Accent 6"/>
        <w:lsdException w:name="Dark List Accent 6"/>
        <w:lsdException w:name="Colorful Shading Accent 6"/>
        <w:lsdException w:name="Colorful List Accent 6"/>
        <w:lsdException w:name="Colorful Grid Accent 6"/>
        <w:lsdException w:name="Subtle Emphasis"/>
        <w:lsdException w:name="Intense Emphasis"/>
        <w:lsdException w:name="Subtle Reference"/>
        <w:lsdException w:name="Intense Reference"/>
        <w:lsdException w:name="Book Title"/>
        <w:lsdException w:name="Bibliography"/>
        <w:lsdException w:name="TOC Heading"/>
    </w:latentStyles>
    <w:style w:type="paragraph" w:default="on" w:styleId="a">
        <w:name w:val="Normal"/>
        <wx:uiName wx:val="正文"/><w:rsid w:val="008E3B9C"/>
    <w:pPr>
        <w:widowControl w:val="off"/>
        <w:jc w:val="both"/>
    </w:pPr>
    <w:rPr>
        <w:rFonts w:ascii="Times New Roman" w:h-ansi="Times New Roman"/>
        <wx:font wx:val="Times New Roman"/>
        <w:kern w:val="2"/>
        <w:sz w:val="21"/>
        <w:sz-cs w:val="24"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
    </w:rPr>
</w:style>
<w:style w:type="character" w:default="on" w:styleId="a0">
    <w:name w:val="Default Paragraph Font"/>
    <wx:uiName wx:val="默认段落字体"/></w:style>
    <w:style w:type="table" w:default="on" w:styleId="a1">
        <w:name w:val="Normal Table"/>
        <wx:uiName wx:val="普通表格"/><w:rPr>
        <wx:font wx:val="Calibri"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
    </w:rPr>
    <w:tblPr>
        <w:tblInd w:w="0" w:type="dxa"/>
        <w:tblCellMar>
            <w:top w:w="0" w:type="dxa"/>
            <w:left w:w="108" w:type="dxa"/>
            <w:bottom w:w="0" w:type="dxa"/>
            <w:right w:w="108" w:type="dxa"/>
        </w:tblCellMar>
    </w:tblPr>
</w:style>
<w:style w:type="list" w:default="on" w:styleId="a2">
    <w:name w:val="No List"/>
    <wx:uiName wx:val="无列表"/></w:style>
    <w:style w:type="paragraph" w:styleId="a3">
        <w:name w:val="header"/>
        <wx:uiName wx:val="页眉"/><w:basedOn w:val="a"/>
    <w:link w:val="Char"/>
    <w:rsid w:val="008E3B9C"/>
    <w:pPr>
        <w:pBdr>
            <w:bottom w:val="single" w:sz="6" wx:bdrwidth="15" w:space="1" w:color="auto"/>
        </w:pBdr>
        <w:tabs>
            <w:tab w:val="center" w:pos="4153"/>
            <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="center"/>
    </w:pPr>
    <w:rPr>
        <w:rFonts w:ascii="Calibri" w:h-ansi="Calibri"/>
        <wx:font wx:val="Calibri"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
    </w:rPr>
</w:style>
<w:style w:type="character" w:styleId="Char">
    <w:name w:val="页眉 Char"/><w:basedOn w:val="a0"/>
<w:link w:val="a3"/>
<w:rsid w:val="008E3B9C"/>
<w:rPr>
    <w:sz w:val="18"/>
    <w:sz-cs w:val="18"/>
</w:rPr>
</w:style>
<w:style w:type="paragraph" w:styleId="a4">
    <w:name w:val="footer"/>
    <wx:uiName wx:val="页脚"/><w:basedOn w:val="a"/>
<w:link w:val="Char0"/>
<w:rsid w:val="008E3B9C"/>
<w:pPr>
    <w:tabs>
        <w:tab w:val="center" w:pos="4153"/>
        <w:tab w:val="right" w:pos="8306"/>
    </w:tabs>
    <w:snapToGrid w:val="off"/>
    <w:jc w:val="left"/>
</w:pPr>
<w:rPr>
    <w:rFonts w:ascii="Calibri" w:h-ansi="Calibri"/>
    <wx:font wx:val="Calibri"/>
    <w:sz w:val="18"/>
    <w:sz-cs w:val="18"/>
</w:rPr>
</w:style>
<w:style w:type="character" w:styleId="Char0">
    <w:name w:val="页脚 Char"/><w:basedOn w:val="a0"/>
<w:link w:val="a4"/>
<w:rsid w:val="008E3B9C"/>
<w:rPr>
    <w:sz w:val="18"/>
    <w:sz-cs w:val="18"/>
</w:rPr>
</w:style>
</w:styles>
<w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="5122"/>
    <o:shapelayout v:ext="edit">
        <o:idmap v:ext="edit" data="2"/>
    </o:shapelayout>
</w:shapeDefaults>
<w:docPr>
    <w:view w:val="print"/>
    <w:zoom w:percent="100"/>
    <w:doNotEmbedSystemFonts/>
    <w:bordersDontSurroundHeader/>
    <w:bordersDontSurroundFooter/>
    <w:defaultTabStop w:val="420"/>
    <w:drawingGridVerticalSpacing w:val="156"/>
    <w:displayHorizontalDrawingGridEvery w:val="0"/>
    <w:displayVerticalDrawingGridEvery w:val="2"/>
    <w:punctuationKerning/>
    <w:characterSpacingControl w:val="CompressPunctuation"/>
    <w:optimizeForBrowser/>
    <w:validateAgainstSchema/>
    <w:saveInvalidXML w:val="off"/>
    <w:ignoreMixedContent w:val="off"/>
    <w:alwaysShowPlaceholderText w:val="off"/>
    <w:hdrShapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="5122"/>
    </w:hdrShapeDefaults>
    <w:footnotePr>
        <w:footnote w:type="separator">
            <w:p wsp:rsidR="00826C0C" wsp:rsidRPr="00C612FF" wsp:rsidRDefault="00826C0C" wsp:rsidP="008E3B9C">
                <w:pPr>
                    <w:ind w:first-line="400"/>
                    <w:rPr>
                        <w:sz w:val="20"/>
                        <w:sz-cs w:val="20"/>
                    </w:rPr>
                </w:pPr>
                <w:r>
                    <w:separator/>
                </w:r>
            </w:p>
        </w:footnote>
        <w:footnote w:type="continuation-separator">
            <w:p wsp:rsidR="00826C0C" wsp:rsidRPr="00C612FF" wsp:rsidRDefault="00826C0C" wsp:rsidP="008E3B9C">
                <w:pPr>
                    <w:ind w:first-line="400"/>
                    <w:rPr>
                        <w:sz w:val="20"/>
                        <w:sz-cs w:val="20"/>
                    </w:rPr>
                </w:pPr>
                <w:r>
                    <w:continuationSeparator/>
                </w:r>
            </w:p>
        </w:footnote>
    </w:footnotePr>
    <w:endnotePr>
        <w:endnote w:type="separator">
            <w:p wsp:rsidR="00826C0C" wsp:rsidRPr="00C612FF" wsp:rsidRDefault="00826C0C" wsp:rsidP="008E3B9C">
                <w:pPr>
                    <w:ind w:first-line="400"/>
                    <w:rPr>
                        <w:sz w:val="20"/>
                        <w:sz-cs w:val="20"/>
                    </w:rPr>
                </w:pPr>
                <w:r>
                    <w:separator/>
                </w:r>
            </w:p>
        </w:endnote>
        <w:endnote w:type="continuation-separator">
            <w:p wsp:rsidR="00826C0C" wsp:rsidRPr="00C612FF" wsp:rsidRDefault="00826C0C" wsp:rsidP="008E3B9C">
                <w:pPr>
                    <w:ind w:first-line="400"/>
                    <w:rPr>
                        <w:sz w:val="20"/>
                        <w:sz-cs w:val="20"/>
                    </w:rPr>
                </w:pPr>
                <w:r>
                    <w:continuationSeparator/>
                </w:r>
            </w:p>
        </w:endnote>
    </w:endnotePr>
    <w:compat>
        <w:spaceForUL/>
        <w:balanceSingleByteDoubleByteWidth/>
        <w:doNotLeaveBackslashAlone/>
        <w:ulTrailSpace/>
        <w:doNotExpandShiftReturn/>
        <w:adjustLineHeightInTable/>
        <w:breakWrappedTables/>
        <w:snapToGridInCell/>
        <w:wrapTextWithPunct/>
        <w:useAsianBreakRules/>
        <w:dontGrowAutofit/>
        <w:useFELayout/>
    </w:compat>
    <wsp:rsids>
        <wsp:rsidRoot wsp:val="008E3B9C"/>
        <wsp:rsid wsp:val="00037DBF"/>
        <wsp:rsid wsp:val="000A74F0"/>
        <wsp:rsid wsp:val="00202071"/>
        <wsp:rsid wsp:val="00743E9A"/>
        <wsp:rsid wsp:val="00826C0C"/>
        <wsp:rsid wsp:val="008E3B9C"/>
        <wsp:rsid wsp:val="00CD59F8"/>
        <wsp:rsid wsp:val="00D035FD"/>
        <wsp:rsid wsp:val="00D57A40"/>
    </wsp:rsids>
</w:docPr>
<w:body>
    <w:p wsp:rsidR="008E3B9C" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
        <w:pPr>
            <w:jc w:val="center"/>
            <w:rPr>
                <w:rFonts w:ascii="宋体" w:h-ansi="宋体"/><wx:font wx:val="宋体"/><w:b/>
        <w:sz w:val="44"/>
        <w:sz-cs w:val="44"/>
    </w:rPr>
</w:pPr>
<w:r>
    <w:rPr>
        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
<w:sz w:val="44"/>
<w:sz-cs w:val="44"/>
</w:rPr>
<w:t>往来文件记录</w:t></w:r>
</w:p>
<w:tbl>
    <w:tblPr>
        <w:tblpPr w:leftFromText="180" w:rightFromText="180" w:vertAnchor="text" w:horzAnchor="margin" w:tblpXSpec="center" w:tblpY="420"/>
        <w:tblW w:w="9032" w:type="dxa"/>
        <w:tblBorders>
            <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
            <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
            <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
            <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
            <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
            <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
        </w:tblBorders>
        <w:tblLayout w:type="Fixed"/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="1549"/>
        <w:gridCol w:w="2158"/>
        <w:gridCol w:w="1583"/>
        <w:gridCol w:w="2159"/>
        <w:gridCol w:w="1583"/>
    </w:tblGrid>
    <w:tr wsp:rsidR="00037DBF" wsp:rsidTr="00037DBF">
        <w:trPr>
            <w:trHeight w:val="599"/>
        </w:trPr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1549" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p wsp:rsidR="008E3B9C" wsp:rsidRPr="00743E9A" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:rPr>
                        <w:rFonts w:ascii="宋体" w:h-ansi="宋体"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
            </w:rPr>
        </w:pPr>
        <w:r wsp:rsidRPr="00743E9A">
            <w:rPr>
                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
    </w:rPr>
    <w:t>文件编号</w:t></w:r>
</w:p>
</w:tc>
<w:tc>
    <w:tcPr>
        <w:tcW w:w="2158" w:type="dxa"/>
        <w:vAlign w:val="center"/>
    </w:tcPr>
    <w:p wsp:rsidR="008E3B9C" wsp:rsidRPr="00743E9A" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
        <w:pPr>
            <w:jc w:val="center"/>
            <w:rPr>
                <w:rFonts w:ascii="宋体" w:h-ansi="宋体"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
    </w:rPr>
</w:pPr>
<w:r wsp:rsidRPr="00743E9A">
    <w:rPr>
        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
</w:rPr>
<w:t>收(发)文时间</w:t></w:r>
</w:p>
</w:tc>
<w:tc>
    <w:tcPr>
        <w:tcW w:w="1583" w:type="dxa"/>
        <w:vAlign w:val="center"/>
    </w:tcPr>
    <w:p wsp:rsidR="008E3B9C" wsp:rsidRPr="00743E9A" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
        <w:pPr>
            <w:jc w:val="center"/>
            <w:rPr>
                <w:sz w:val="24"/>
            </w:rPr>
        </w:pPr>
        <w:r wsp:rsidRPr="00743E9A">
            <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/><w:sz w:val="24"/>
        </w:rPr>
        <w:t>文件名称</w:t></w:r>
    </w:p>
</w:tc>
<w:tc>
    <w:tcPr>
        <w:tcW w:w="2159" w:type="dxa"/>
        <w:vAlign w:val="center"/>
    </w:tcPr>
    <w:p wsp:rsidR="008E3B9C" wsp:rsidRPr="00743E9A" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
        <w:pPr>
            <w:jc w:val="center"/>
            <w:rPr>
                <w:rFonts w:ascii="宋体" w:h-ansi="宋体"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
    </w:rPr>
</w:pPr>
<w:r wsp:rsidRPr="00743E9A">
    <w:rPr>
        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
</w:rPr>
<w:t>收(发)文单位</w:t></w:r>
</w:p>
</w:tc>
<w:tc>
    <w:tcPr>
        <w:tcW w:w="1583" w:type="dxa"/>
        <w:vAlign w:val="center"/>
    </w:tcPr>
    <w:p wsp:rsidR="008E3B9C" wsp:rsidRPr="00743E9A" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
        <w:pPr>
            <w:jc w:val="center"/>
            <w:rPr>
                <w:rFonts w:ascii="宋体" w:h-ansi="宋体"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
    </w:rPr>
</w:pPr>
<w:r wsp:rsidRPr="00743E9A">
    <w:rPr>
        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:sz w:val="24"/>
</w:rPr>
<w:t>签收(发)人</w:t></w:r>
</w:p>
</w:tc>
</w:tr>
<#list fileList as file>
<w:tr wsp:rsidR="00037DBF" wsp:rsidTr="00037DBF">
    <w:trPr>
        <w:trHeight w:val="599"/>
    </w:trPr>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="1549" w:type="dxa"/>
            <w:vAlign w:val="center"/>
        </w:tcPr>
        <w:p wsp:rsidR="008E3B9C" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
            <w:pPr>
                <w:jc w:val="center"/>
            </w:pPr>
            <w:r wsp:rsidRPr="00743E9A">
                <w:rPr>
                    <w:rFonts w:hint="fareast"/>
                    <wx:font wx:val="宋体"/><w:sz w:val="24"/>
                </w:rPr>
                <w:t>${file.fileNumber}</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="2158" w:type="dxa"/>
            <w:vAlign w:val="center"/>
        </w:tcPr>
        <w:p wsp:rsidR="008E3B9C" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
            <w:pPr>
                <w:jc w:val="center"/>
            </w:pPr>
            <w:r wsp:rsidRPr="00743E9A">
                <w:rPr>
                    <w:rFonts w:hint="fareast"/>
                    <wx:font wx:val="宋体"/><w:sz w:val="24"/>
                </w:rPr>
                <w:t>${file.transmDate}</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="1583" w:type="dxa"/>
            <w:vAlign w:val="center"/>
        </w:tcPr>
        <w:p wsp:rsidR="008E3B9C" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
            <w:pPr>
                <w:jc w:val="center"/>
            </w:pPr>
            <w:r wsp:rsidRPr="00743E9A">
                <w:rPr>
                    <w:rFonts w:hint="fareast"/>
                    <wx:font wx:val="宋体"/><w:sz w:val="24"/>
                </w:rPr>
                <w:t>${file.fileName}</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="2159" w:type="dxa"/>
            <w:vAlign w:val="center"/>
        </w:tcPr>
        <w:p wsp:rsidR="008E3B9C" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
            <w:pPr>
                <w:jc w:val="center"/>
            </w:pPr>
            <w:r wsp:rsidRPr="00743E9A">
                <w:rPr>
                    <w:rFonts w:hint="fareast"/>
                    <wx:font wx:val="宋体"/><w:sz w:val="24"/>
                </w:rPr>
                <w:t>${file.transmUnit}</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="1583" w:type="dxa"/>
            <w:vAlign w:val="center"/>
        </w:tcPr>
        <w:p wsp:rsidR="008E3B9C" wsp:rsidRDefault="008E3B9C" wsp:rsidP="008E3B9C">
            <w:pPr>
                <w:jc w:val="center"/>
            </w:pPr>
            <w:r wsp:rsidRPr="00743E9A">
                <w:rPr>
                    <w:rFonts w:hint="fareast"/>
                    <wx:font wx:val="宋体"/><w:sz w:val="24"/>
                </w:rPr>
                <w:t>${file.transmPerson}</w:t>
            </w:r>
        </w:p>
    </w:tc>
</w:tr>
</#list>
</w:tbl>
<w:p wsp:rsidR="00CD59F8" wsp:rsidRDefault="00CD59F8"/>
<w:sectPr wsp:rsidR="00CD59F8" wsp:rsidSect="000A74F0">
    <w:pgSz w:w="11906" w:h="16838"/>
    <w:pgMar w:top="1440" w:right="1800" w:bottom="1440" w:left="1800" w:header="851" w:footer="992" w:gutter="0"/>
    <w:cols w:space="425"/>
    <w:docGrid w:type="lines" w:line-pitch="312"/>
</w:sectPr>
</w:body>
</w:wordDocument>
