<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?mso-application progid="Word.Document"?>
<w:wordDocument xmlns:aml="http://schemas.microsoft.com/aml/2001/core" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:ve="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.microsoft.com/office/word/2003/wordml" xmlns:wx="http://schemas.microsoft.com/office/word/2003/auxHint" xmlns:wsp="http://schemas.microsoft.com/office/word/2003/wordml/sp2" xmlns:sl="http://schemas.microsoft.com/schemaLibrary/2003/core" w:macrosPresent="no" w:embeddedObjPresent="no" w:ocxPresent="no" xml:space="preserve">
    <w:ignoreSubtree w:val="http://schemas.microsoft.com/office/word/2003/wordml/sp2"/>
    <o:DocumentProperties>
        <o:Author>Windows 用户</o:Author><o:LastAuthor>wym</o:LastAuthor>
            <o:Revision>2</o:Revision>
            <o:TotalTime>1</o:TotalTime>
            <o:Created>2019-09-18T07:13:00Z</o:Created>
            <o:LastSaved>2019-09-18T07:13:00Z</o:LastSaved>
            <o:Pages>1</o:Pages>
            <o:Words>10</o:Words>
            <o:Characters>61</o:Characters>
            <o:Lines>1</o:Lines>
            <o:Paragraphs>1</o:Paragraphs>
            <o:CharactersWithSpaces>70</o:CharactersWithSpaces>
            <o:Version>12</o:Version>
    </o:DocumentProperties>
    <w:fonts>
        <w:defaultFonts w:ascii="Calibri" w:fareast="宋体" w:h-ansi="Calibri" w:cs="Times New Roman"/><w:font w:name="Times New Roman">
            <w:panose-1 w:val="02020603050405020304"/>
            <w:charset w:val="00"/>
            <w:family w:val="Roman"/>
            <w:pitch w:val="variable"/>
            <w:sig w:usb-0="E0002AFF" w:usb-1="C0007841" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000"/>
            </w:font>
            <w:font w:name="宋体"><w:altName w:val="SimSun"/>
                <w:panose-1 w:val="02010600030101010101"/>
                <w:charset w:val="86"/>
                <w:family w:val="auto"/>
                <w:pitch w:val="variable"/>
                <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
            </w:font>
            <w:font w:name="Cambria Math">
                <w:panose-1 w:val="02040503050406030204"/>
                <w:charset w:val="00"/>
                <w:family w:val="Roman"/>
                <w:pitch w:val="variable"/>
                <w:sig w:usb-0="E00002FF" w:usb-1="420024FF" w:usb-2="00000000" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
            </w:font>
            <w:font w:name="Calibri">
                <w:panose-1 w:val="020F0502020204030204"/>
                <w:charset w:val="00"/>
                <w:family w:val="Swiss"/>
                <w:pitch w:val="variable"/>
                <w:sig w:usb-0="E10002FF" w:usb-1="4000ACFF" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
            </w:font>
            <w:font w:name="@宋体"><w:panose-1 w:val="02010600030101010101"/>
                <w:charset w:val="86"/>
                <w:family w:val="auto"/>
                <w:pitch w:val="variable"/>
                <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
            </w:font>
    </w:fonts>
    <w:styles>
        <w:versionOfBuiltInStylenames w:val="7"/>
        <w:latentStyles w:defLockedState="off" w:latentStyleCount="267">
            <w:lsdException w:name="Normal"/>
            <w:lsdException w:name="heading 1"/>
            <w:lsdException w:name="heading 2"/>
            <w:lsdException w:name="heading 3"/>
            <w:lsdException w:name="heading 4"/>
            <w:lsdException w:name="heading 5"/>
            <w:lsdException w:name="heading 6"/>
            <w:lsdException w:name="heading 7"/>
            <w:lsdException w:name="heading 8"/>
            <w:lsdException w:name="heading 9"/>
            <w:lsdException w:name="toc 1"/>
            <w:lsdException w:name="toc 2"/>
            <w:lsdException w:name="toc 3"/>
            <w:lsdException w:name="toc 4"/>
            <w:lsdException w:name="toc 5"/>
            <w:lsdException w:name="toc 6"/>
            <w:lsdException w:name="toc 7"/>
            <w:lsdException w:name="toc 8"/>
            <w:lsdException w:name="toc 9"/>
            <w:lsdException w:name="caption"/>
            <w:lsdException w:name="Title"/>
            <w:lsdException w:name="Default Paragraph Font"/>
            <w:lsdException w:name="Subtitle"/>
            <w:lsdException w:name="Strong"/>
            <w:lsdException w:name="Emphasis"/>
            <w:lsdException w:name="Table Grid"/>
            <w:lsdException w:name="Placeholder Text"/>
            <w:lsdException w:name="No Spacing"/>
            <w:lsdException w:name="Light Shading"/>
            <w:lsdException w:name="Light List"/>
            <w:lsdException w:name="Light Grid"/>
            <w:lsdException w:name="Medium Shading 1"/>
            <w:lsdException w:name="Medium Shading 2"/>
            <w:lsdException w:name="Medium List 1"/>
            <w:lsdException w:name="Medium List 2"/>
            <w:lsdException w:name="Medium Grid 1"/>
            <w:lsdException w:name="Medium Grid 2"/>
            <w:lsdException w:name="Medium Grid 3"/>
            <w:lsdException w:name="Dark List"/>
            <w:lsdException w:name="Colorful Shading"/>
            <w:lsdException w:name="Colorful List"/>
            <w:lsdException w:name="Colorful Grid"/>
            <w:lsdException w:name="Light Shading Accent 1"/>
            <w:lsdException w:name="Light List Accent 1"/>
            <w:lsdException w:name="Light Grid Accent 1"/>
            <w:lsdException w:name="Medium Shading 1 Accent 1"/>
            <w:lsdException w:name="Medium Shading 2 Accent 1"/>
            <w:lsdException w:name="Medium List 1 Accent 1"/>
            <w:lsdException w:name="Revision"/>
            <w:lsdException w:name="List Paragraph"/>
            <w:lsdException w:name="Quote"/>
            <w:lsdException w:name="Intense Quote"/>
            <w:lsdException w:name="Medium List 2 Accent 1"/>
            <w:lsdException w:name="Medium Grid 1 Accent 1"/>
            <w:lsdException w:name="Medium Grid 2 Accent 1"/>
            <w:lsdException w:name="Medium Grid 3 Accent 1"/>
            <w:lsdException w:name="Dark List Accent 1"/>
            <w:lsdException w:name="Colorful Shading Accent 1"/>
            <w:lsdException w:name="Colorful List Accent 1"/>
            <w:lsdException w:name="Colorful Grid Accent 1"/>
            <w:lsdException w:name="Light Shading Accent 2"/>
            <w:lsdException w:name="Light List Accent 2"/>
            <w:lsdException w:name="Light Grid Accent 2"/>
            <w:lsdException w:name="Medium Shading 1 Accent 2"/>
            <w:lsdException w:name="Medium Shading 2 Accent 2"/>
            <w:lsdException w:name="Medium List 1 Accent 2"/>
            <w:lsdException w:name="Medium List 2 Accent 2"/>
            <w:lsdException w:name="Medium Grid 1 Accent 2"/>
            <w:lsdException w:name="Medium Grid 2 Accent 2"/>
            <w:lsdException w:name="Medium Grid 3 Accent 2"/>
            <w:lsdException w:name="Dark List Accent 2"/>
            <w:lsdException w:name="Colorful Shading Accent 2"/>
            <w:lsdException w:name="Colorful List Accent 2"/>
            <w:lsdException w:name="Colorful Grid Accent 2"/>
            <w:lsdException w:name="Light Shading Accent 3"/>
            <w:lsdException w:name="Light List Accent 3"/>
            <w:lsdException w:name="Light Grid Accent 3"/>
            <w:lsdException w:name="Medium Shading 1 Accent 3"/>
            <w:lsdException w:name="Medium Shading 2 Accent 3"/>
            <w:lsdException w:name="Medium List 1 Accent 3"/>
            <w:lsdException w:name="Medium List 2 Accent 3"/>
            <w:lsdException w:name="Medium Grid 1 Accent 3"/>
            <w:lsdException w:name="Medium Grid 2 Accent 3"/>
            <w:lsdException w:name="Medium Grid 3 Accent 3"/>
            <w:lsdException w:name="Dark List Accent 3"/>
            <w:lsdException w:name="Colorful Shading Accent 3"/>
            <w:lsdException w:name="Colorful List Accent 3"/>
            <w:lsdException w:name="Colorful Grid Accent 3"/>
            <w:lsdException w:name="Light Shading Accent 4"/>
            <w:lsdException w:name="Light List Accent 4"/>
            <w:lsdException w:name="Light Grid Accent 4"/>
            <w:lsdException w:name="Medium Shading 1 Accent 4"/>
            <w:lsdException w:name="Medium Shading 2 Accent 4"/>
            <w:lsdException w:name="Medium List 1 Accent 4"/>
            <w:lsdException w:name="Medium List 2 Accent 4"/>
            <w:lsdException w:name="Medium Grid 1 Accent 4"/>
            <w:lsdException w:name="Medium Grid 2 Accent 4"/>
            <w:lsdException w:name="Medium Grid 3 Accent 4"/>
            <w:lsdException w:name="Dark List Accent 4"/>
            <w:lsdException w:name="Colorful Shading Accent 4"/>
            <w:lsdException w:name="Colorful List Accent 4"/>
            <w:lsdException w:name="Colorful Grid Accent 4"/>
            <w:lsdException w:name="Light Shading Accent 5"/>
            <w:lsdException w:name="Light List Accent 5"/>
            <w:lsdException w:name="Light Grid Accent 5"/>
            <w:lsdException w:name="Medium Shading 1 Accent 5"/>
            <w:lsdException w:name="Medium Shading 2 Accent 5"/>
            <w:lsdException w:name="Medium List 1 Accent 5"/>
            <w:lsdException w:name="Medium List 2 Accent 5"/>
            <w:lsdException w:name="Medium Grid 1 Accent 5"/>
            <w:lsdException w:name="Medium Grid 2 Accent 5"/>
            <w:lsdException w:name="Medium Grid 3 Accent 5"/>
            <w:lsdException w:name="Dark List Accent 5"/>
            <w:lsdException w:name="Colorful Shading Accent 5"/>
            <w:lsdException w:name="Colorful List Accent 5"/>
            <w:lsdException w:name="Colorful Grid Accent 5"/>
            <w:lsdException w:name="Light Shading Accent 6"/>
            <w:lsdException w:name="Light List Accent 6"/>
            <w:lsdException w:name="Light Grid Accent 6"/>
            <w:lsdException w:name="Medium Shading 1 Accent 6"/>
            <w:lsdException w:name="Medium Shading 2 Accent 6"/>
            <w:lsdException w:name="Medium List 1 Accent 6"/>
            <w:lsdException w:name="Medium List 2 Accent 6"/>
            <w:lsdException w:name="Medium Grid 1 Accent 6"/>
            <w:lsdException w:name="Medium Grid 2 Accent 6"/>
            <w:lsdException w:name="Medium Grid 3 Accent 6"/>
            <w:lsdException w:name="Dark List Accent 6"/>
            <w:lsdException w:name="Colorful Shading Accent 6"/>
            <w:lsdException w:name="Colorful List Accent 6"/>
            <w:lsdException w:name="Colorful Grid Accent 6"/>
            <w:lsdException w:name="Subtle Emphasis"/>
            <w:lsdException w:name="Intense Emphasis"/>
            <w:lsdException w:name="Subtle Reference"/>
            <w:lsdException w:name="Intense Reference"/>
            <w:lsdException w:name="Book Title"/>
            <w:lsdException w:name="Bibliography"/>
            <w:lsdException w:name="TOC Heading"/>
        </w:latentStyles>
        <w:style w:type="paragraph" w:default="on" w:styleId="a">
            <w:name w:val="Normal"/>
            <wx:uiName wx:val="正文"/><w:rsid w:val="004B3AF4"/>
            <w:pPr>
                <w:widowControl w:val="off"/>
                <w:jc w:val="both"/>
            </w:pPr>
            <w:rPr>
                <w:rFonts w:ascii="Times New Roman" w:h-ansi="Times New Roman"/>
                <wx:font wx:val="Times New Roman"/>
                <w:kern w:val="2"/>
                <w:sz w:val="21"/>
                <w:sz-cs w:val="24"/>
                <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
            </w:rPr>
        </w:style>
        <w:style w:type="character" w:default="on" w:styleId="a0">
            <w:name w:val="Default Paragraph Font"/>
            <wx:uiName wx:val="默认段落字体"/></w:style>
            <w:style w:type="table" w:default="on" w:styleId="a1">
                <w:name w:val="Normal Table"/>
                <wx:uiName wx:val="普通表格"/><w:rPr>
                    <wx:font wx:val="Calibri"/>
                    <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
                    </w:rPr>
                    <w:tblPr>
                        <w:tblInd w:w="0" w:type="dxa"/>
                        <w:tblCellMar>
                            <w:top w:w="0" w:type="dxa"/>
                            <w:left w:w="108" w:type="dxa"/>
                            <w:bottom w:w="0" w:type="dxa"/>
                            <w:right w:w="108" w:type="dxa"/>
                        </w:tblCellMar>
                    </w:tblPr>
            </w:style>
            <w:style w:type="list" w:default="on" w:styleId="a2">
                <w:name w:val="No List"/>
                <wx:uiName wx:val="无列表"/></w:style>
                <w:style w:type="paragraph" w:styleId="a3">
                    <w:name w:val="header"/>
                    <wx:uiName wx:val="页眉"/><w:basedOn w:val="a"/>
                    <w:link w:val="Char"/>
                    <w:rsid w:val="004B3AF4"/>
                    <w:pPr>
                        <w:pBdr>
                            <w:bottom w:val="single" w:sz="6" wx:bdrwidth="15" w:space="1" w:color="auto"/>
                        </w:pBdr>
                        <w:tabs>
                            <w:tab w:val="center" w:pos="4153"/>
                            <w:tab w:val="right" w:pos="8306"/>
                        </w:tabs>
                        <w:snapToGrid w:val="off"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:rPr>
                        <wx:font wx:val="Times New Roman"/>
                        <w:sz w:val="18"/>
                        <w:sz-cs w:val="18"/>
                    </w:rPr>
                </w:style>
                <w:style w:type="character" w:styleId="Char">
                    <w:name w:val="页眉 Char"/><w:basedOn w:val="a0"/>
                    <w:link w:val="a3"/>
                    <w:rsid w:val="004B3AF4"/>
                    <w:rPr>
                        <w:sz w:val="18"/>
                        <w:sz-cs w:val="18"/>
                    </w:rPr>
                </w:style>
                <w:style w:type="paragraph" w:styleId="a4">
                    <w:name w:val="footer"/>
                    <wx:uiName wx:val="页脚"/><w:basedOn w:val="a"/>
                    <w:link w:val="Char0"/>
                    <w:rsid w:val="004B3AF4"/>
                    <w:pPr>
                        <w:tabs>
                            <w:tab w:val="center" w:pos="4153"/>
                            <w:tab w:val="right" w:pos="8306"/>
                        </w:tabs>
                        <w:snapToGrid w:val="off"/>
                        <w:jc w:val="left"/>
                    </w:pPr>
                    <w:rPr>
                        <wx:font wx:val="Times New Roman"/>
                        <w:sz w:val="18"/>
                        <w:sz-cs w:val="18"/>
                    </w:rPr>
                </w:style>
                <w:style w:type="character" w:styleId="Char0">
                    <w:name w:val="页脚 Char"/><w:basedOn w:val="a0"/>
                    <w:link w:val="a4"/>
                    <w:rsid w:val="004B3AF4"/>
                    <w:rPr>
                        <w:sz w:val="18"/>
                        <w:sz-cs w:val="18"/>
                    </w:rPr>
                </w:style>
                <w:style w:type="paragraph" w:styleId="HTML">
                    <w:name w:val="HTML Preformatted"/>
                    <wx:uiName wx:val="HTML 预设格式"/><w:basedOn w:val="a"/>
                    <w:link w:val="HTMLChar"/>
                    <w:rsid w:val="00EB3278"/>
                    <w:pPr>
                        <w:widowControl/>
                        <w:tabs>
                            <w:tab w:val="left" w:pos="916"/>
                            <w:tab w:val="left" w:pos="1832"/>
                            <w:tab w:val="left" w:pos="2748"/>
                            <w:tab w:val="left" w:pos="3664"/>
                            <w:tab w:val="left" w:pos="4580"/>
                            <w:tab w:val="left" w:pos="5496"/>
                            <w:tab w:val="left" w:pos="6412"/>
                            <w:tab w:val="left" w:pos="7328"/>
                            <w:tab w:val="left" w:pos="8244"/>
                            <w:tab w:val="left" w:pos="9160"/>
                            <w:tab w:val="left" w:pos="10076"/>
                            <w:tab w:val="left" w:pos="10992"/>
                            <w:tab w:val="left" w:pos="11908"/>
                            <w:tab w:val="left" w:pos="12824"/>
                            <w:tab w:val="left" w:pos="13740"/>
                            <w:tab w:val="left" w:pos="14656"/>
                        </w:tabs>
                        <w:jc w:val="left"/>
                    </w:pPr>
                    <w:rPr>
                        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体"/><wx:font wx:val="宋体"/><w:kern w:val="0"/>
                        <w:sz w:val="24"/>
                    </w:rPr>
                </w:style>
                <w:style w:type="character" w:styleId="HTMLChar">
                    <w:name w:val="HTML 预设格式 Char"/><w:basedOn w:val="a0"/>
                    <w:link w:val="HTML"/>
                    <w:rsid w:val="00EB3278"/>
                    <w:rPr>
                        <w:rFonts w:ascii="宋体" w:fareast="宋体" w:h-ansi="宋体" w:cs="宋体"/><w:kern w:val="0"/>
                        <w:sz w:val="24"/>
                        <w:sz-cs w:val="24"/>
                    </w:rPr>
                </w:style>
    </w:styles>
    <w:divs>
        <w:div w:id="35129337">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="175311082">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="224881491">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="246770838">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="495342361">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="654841246">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="756756437">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="862786766">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1145974473">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1168519307">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1239899516">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1432315534">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1523012687">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1669017952">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1815685092">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1900557025">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="1901015555">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="2078743936">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
        <w:div w:id="2080908378">
            <w:bodyDiv w:val="on"/>
            <w:marLeft w:val="0"/>
            <w:marRight w:val="0"/>
            <w:marTop w:val="0"/>
            <w:marBottom w:val="0"/>
            <w:divBdr>
                <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
                <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
            </w:divBdr>
        </w:div>
    </w:divs>
    <w:shapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="35842"/>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="2"/>
        </o:shapelayout>
    </w:shapeDefaults>
    <w:docPr>
        <w:view w:val="print"/>
        <w:zoom w:percent="99"/>
        <w:doNotEmbedSystemFonts/>
        <w:bordersDontSurroundHeader/>
        <w:bordersDontSurroundFooter/>
        <w:defaultTabStop w:val="420"/>
        <w:drawingGridHorizontalSpacing w:val="105"/>
        <w:drawingGridVerticalSpacing w:val="156"/>
        <w:displayHorizontalDrawingGridEvery w:val="0"/>
        <w:displayVerticalDrawingGridEvery w:val="2"/>
        <w:punctuationKerning/>
        <w:characterSpacingControl w:val="CompressPunctuation"/>
        <w:optimizeForBrowser/>
        <w:validateAgainstSchema/>
        <w:saveInvalidXML w:val="off"/>
        <w:ignoreMixedContent w:val="off"/>
        <w:alwaysShowPlaceholderText w:val="off"/>
        <w:hdrShapeDefaults>
            <o:shapedefaults v:ext="edit" spidmax="35842"/>
        </w:hdrShapeDefaults>
        <w:footnotePr>
            <w:footnote w:type="separator">
                <w:p wsp:rsidR="00BB4CC8" wsp:rsidRDefault="00BB4CC8" wsp:rsidP="004B3AF4">
                    <w:r>
                        <w:separator/>
                    </w:r>
                </w:p>
            </w:footnote>
            <w:footnote w:type="continuation-separator">
                <w:p wsp:rsidR="00BB4CC8" wsp:rsidRDefault="00BB4CC8" wsp:rsidP="004B3AF4">
                    <w:r>
                        <w:continuationSeparator/>
                    </w:r>
                </w:p>
            </w:footnote>
        </w:footnotePr>
        <w:endnotePr>
            <w:endnote w:type="separator">
                <w:p wsp:rsidR="00BB4CC8" wsp:rsidRDefault="00BB4CC8" wsp:rsidP="004B3AF4">
                    <w:r>
                        <w:separator/>
                    </w:r>
                </w:p>
            </w:endnote>
            <w:endnote w:type="continuation-separator">
                <w:p wsp:rsidR="00BB4CC8" wsp:rsidRDefault="00BB4CC8" wsp:rsidP="004B3AF4">
                    <w:r>
                        <w:continuationSeparator/>
                    </w:r>
                </w:p>
            </w:endnote>
        </w:endnotePr>
        <w:compat>
            <w:spaceForUL/>
            <w:balanceSingleByteDoubleByteWidth/>
            <w:doNotLeaveBackslashAlone/>
            <w:ulTrailSpace/>
            <w:doNotExpandShiftReturn/>
            <w:adjustLineHeightInTable/>
            <w:breakWrappedTables/>
            <w:snapToGridInCell/>
            <w:wrapTextWithPunct/>
            <w:useAsianBreakRules/>
            <w:dontGrowAutofit/>
            <w:useFELayout/>
        </w:compat>
        <wsp:rsids>
            <wsp:rsidRoot wsp:val="004B3AF4"/>
            <wsp:rsid wsp:val="000068ED"/>
            <wsp:rsid wsp:val="0001575C"/>
            <wsp:rsid wsp:val="0003467A"/>
            <wsp:rsid wsp:val="00055AB1"/>
            <wsp:rsid wsp:val="0007213C"/>
            <wsp:rsid wsp:val="000C1D40"/>
            <wsp:rsid wsp:val="000E4D53"/>
            <wsp:rsid wsp:val="000F1813"/>
            <wsp:rsid wsp:val="00177DBD"/>
            <wsp:rsid wsp:val="001C0F8D"/>
            <wsp:rsid wsp:val="001D22CE"/>
            <wsp:rsid wsp:val="001E774F"/>
            <wsp:rsid wsp:val="0021663A"/>
            <wsp:rsid wsp:val="002A05F4"/>
            <wsp:rsid wsp:val="003647F0"/>
            <wsp:rsid wsp:val="0041497E"/>
            <wsp:rsid wsp:val="004772EF"/>
            <wsp:rsid wsp:val="00496164"/>
            <wsp:rsid wsp:val="004B3AF4"/>
            <wsp:rsid wsp:val="004C37F1"/>
            <wsp:rsid wsp:val="004F1A4A"/>
            <wsp:rsid wsp:val="00543DF8"/>
            <wsp:rsid wsp:val="005828B9"/>
            <wsp:rsid wsp:val="00594BB2"/>
            <wsp:rsid wsp:val="00595B06"/>
            <wsp:rsid wsp:val="006023F8"/>
            <wsp:rsid wsp:val="006349FA"/>
            <wsp:rsid wsp:val="0064770B"/>
            <wsp:rsid wsp:val="00673B18"/>
            <wsp:rsid wsp:val="006A21F3"/>
            <wsp:rsid wsp:val="006A6333"/>
            <wsp:rsid wsp:val="00707661"/>
            <wsp:rsid wsp:val="00707B87"/>
            <wsp:rsid wsp:val="0072560F"/>
            <wsp:rsid wsp:val="00745110"/>
            <wsp:rsid wsp:val="008C1631"/>
            <wsp:rsid wsp:val="0092250D"/>
            <wsp:rsid wsp:val="009728AA"/>
            <wsp:rsid wsp:val="00980E06"/>
            <wsp:rsid wsp:val="009A41A1"/>
            <wsp:rsid wsp:val="009C656E"/>
            <wsp:rsid wsp:val="00AB6E89"/>
            <wsp:rsid wsp:val="00AC303B"/>
            <wsp:rsid wsp:val="00B31315"/>
            <wsp:rsid wsp:val="00B764FA"/>
            <wsp:rsid wsp:val="00BB4CC8"/>
            <wsp:rsid wsp:val="00BE1ED6"/>
            <wsp:rsid wsp:val="00BF2141"/>
            <wsp:rsid wsp:val="00C16C6A"/>
            <wsp:rsid wsp:val="00C31BB5"/>
            <wsp:rsid wsp:val="00C5340B"/>
            <wsp:rsid wsp:val="00C54F36"/>
            <wsp:rsid wsp:val="00C72FDD"/>
            <wsp:rsid wsp:val="00C8679C"/>
            <wsp:rsid wsp:val="00CA6E37"/>
            <wsp:rsid wsp:val="00CC4EAC"/>
            <wsp:rsid wsp:val="00D014A6"/>
            <wsp:rsid wsp:val="00D70A7D"/>
            <wsp:rsid wsp:val="00D744DC"/>
            <wsp:rsid wsp:val="00DE5AB3"/>
            <wsp:rsid wsp:val="00E05AA7"/>
            <wsp:rsid wsp:val="00E3638E"/>
            <wsp:rsid wsp:val="00E92979"/>
            <wsp:rsid wsp:val="00EB234B"/>
            <wsp:rsid wsp:val="00EB3278"/>
            <wsp:rsid wsp:val="00EC523B"/>
            <wsp:rsid wsp:val="00ED7EEC"/>
            <wsp:rsid wsp:val="00EE2A69"/>
            <wsp:rsid wsp:val="00FC588D"/>
            <wsp:rsid wsp:val="00FC6E9E"/>
            <wsp:rsid wsp:val="00FE5509"/>
        </wsp:rsids>
    </w:docPr>
    <w:body>
        <w:p wsp:rsidR="004B3AF4" wsp:rsidRPr="0003467A" wsp:rsidRDefault="00B31315" wsp:rsidP="004B3AF4">
            <w:pPr>
                <w:widowControl/>
                <w:spacing w:line="384" w:line-rule="auto"/>
                <w:jc w:val="center"/>
                <w:rPr>
                    <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体"/><wx:font wx:val="宋体"/><w:b/>
                    <w:kern w:val="0"/>
                    <w:sz w:val="44"/>
                    <w:sz-cs w:val="44"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                    <w:kern w:val="0"/>
                    <w:sz w:val="44"/>
                    <w:sz-cs w:val="44"/>
                </w:rPr>
                <w:t>危害因素</w:t></w:r>
                <w:r wsp:rsidR="000C1D40">
                    <w:rPr>
                        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                        <w:kern w:val="0"/>
                        <w:sz w:val="44"/>
                        <w:sz-cs w:val="44"/>
                    </w:rPr>
                    <w:t>检测</w:t></w:r>
                <w:r wsp:rsidR="00BE1ED6">
                    <w:rPr>
                        <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                        <w:kern w:val="0"/>
                        <w:sz w:val="44"/>
                        <w:sz-cs w:val="44"/>
                    </w:rPr>
                    <w:t>结果详情</w:t></w:r>
        </w:p>
        <w:p wsp:rsidR="004B3AF4" wsp:rsidRDefault="004B3AF4" wsp:rsidP="004B3AF4"/>
        <w:tbl>
            <w:tblPr>
                <w:tblW w:w="9215" w:type="dxa"/>
                <w:tblInd w:w="-318" w:type="dxa"/>
                <w:tblBorders>
                    <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
                    <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
                    <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
                    <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
                    <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
                    <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
                </w:tblBorders>
                <w:tblLayout w:type="Fixed"/>
            </w:tblPr>
            <w:tblGrid>
                <w:gridCol w:w="1135"/>
                <w:gridCol w:w="1418"/>
                <w:gridCol w:w="1417"/>
                <w:gridCol w:w="1418"/>
                <w:gridCol w:w="1417"/>
                <w:gridCol w:w="2410"/>
            </w:tblGrid>
            <w:tr wsp:rsidR="001D22CE" wsp:rsidRPr="004B3AF4" wsp:rsidTr="00055AB1">
                <w:trPr>
                    <w:trHeight w:val="645"/>
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2553" w:type="dxa"/>
                        <w:gridSpan w:val="2"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="001D22CE" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="001D22CE" wsp:rsidP="009A2CDA">
                        <w:pPr>
                            <w:jc w:val="center"/>
                            <w:rPr>
                                <w:b/>
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="fareast"/>
                                <wx:font wx:val="宋体"/><w:b/>
                            </w:rPr>
                            <w:t>检测日期</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="6662" w:type="dxa"/>
                        <w:gridSpan w:val="4"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="001D22CE" wsp:rsidRPr="009C656E" wsp:rsidRDefault="001D22CE" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${checkDate!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr wsp:rsidR="001D22CE" wsp:rsidRPr="004B3AF4" wsp:rsidTr="00055AB1">
                <w:trPr>
                    <w:trHeight w:val="645"/>
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2553" w:type="dxa"/>
                        <w:gridSpan w:val="2"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="001D22CE" wsp:rsidRPr="009C656E" wsp:rsidRDefault="001D22CE" wsp:rsidP="009A2CDA">
                        <w:pPr>
                            <w:jc w:val="center"/>
                            <w:rPr>
                                <w:b/>
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="fareast"/>
                                <wx:font wx:val="宋体"/><w:b/>
                            </w:rPr>
                            <w:t>检测机构</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="6662" w:type="dxa"/>
                        <w:gridSpan w:val="4"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="001D22CE" wsp:rsidRPr="009C656E" wsp:rsidRDefault="001D22CE" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${checkOrganizationName!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr wsp:rsidR="001D22CE" wsp:rsidRPr="004B3AF4" wsp:rsidTr="00055AB1">
                <w:trPr>
                    <w:trHeight w:val="645"/>
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2553" w:type="dxa"/>
                        <w:gridSpan w:val="2"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="001D22CE" wsp:rsidRDefault="001D22CE" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                            <w:rPr>
                                <w:b/>
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="fareast"/>
                                <wx:font wx:val="宋体"/><w:b/>
                            </w:rPr>
                            <w:t>检测危害因素</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="6662" w:type="dxa"/>
                        <w:gridSpan w:val="4"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="001D22CE" wsp:rsidRPr="009C656E" wsp:rsidRDefault="001D22CE" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${harmFactorName!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr wsp:rsidR="00055AB1" wsp:rsidTr="0021663A">
                <w:trPr>
                    <w:trHeight w:val="645"/>
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1135" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRDefault="00055AB1" wsp:rsidP="00EB3278">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="fareast"/>
                                <wx:font wx:val="宋体"/><w:b/>
                            </w:rPr>
                            <w:t>序号</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1418" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRDefault="00055AB1" wsp:rsidP="00543DF8">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="fareast"/>
                                <wx:font wx:val="宋体"/><w:b/>
                            </w:rPr>
                            <w:t>作业场所</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1417" w:type="dxa"/>
                        <w:tcBorders>
                            <w:bottom w:val="nil"/>
                        </w:tcBorders>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00EB3278" wsp:rsidRDefault="00055AB1" wsp:rsidP="00EB3278">
                        <w:pPr>
                            <w:widowControl/>
                            <w:shd w:val="clear" w:color="auto" w:fill="FFFFFF"/>
                            <w:tabs>
                                <w:tab w:val="left" w:pos="916"/>
                                <w:tab w:val="left" w:pos="1832"/>
                                <w:tab w:val="left" w:pos="2748"/>
                                <w:tab w:val="left" w:pos="3664"/>
                                <w:tab w:val="left" w:pos="4580"/>
                                <w:tab w:val="left" w:pos="5496"/>
                                <w:tab w:val="left" w:pos="6412"/>
                                <w:tab w:val="left" w:pos="7328"/>
                                <w:tab w:val="left" w:pos="8244"/>
                                <w:tab w:val="left" w:pos="9160"/>
                                <w:tab w:val="left" w:pos="10076"/>
                                <w:tab w:val="left" w:pos="10992"/>
                                <w:tab w:val="left" w:pos="11908"/>
                                <w:tab w:val="left" w:pos="12824"/>
                                <w:tab w:val="left" w:pos="13740"/>
                                <w:tab w:val="left" w:pos="14656"/>
                            </w:tabs>
                            <w:jc w:val="center"/>
                            <w:rPr>
                                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体"/><wx:font wx:val="宋体"/><w:color w:val="000000"/>
                                <w:kern w:val="0"/>
                                <w:sz-cs w:val="21"/>
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                                <w:b-cs/>
                                <w:color w:val="000000"/>
                                <w:kern w:val="0"/>
                                <w:sz-cs w:val="21"/>
                            </w:rPr>
                            <w:t>监测点</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1418" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                                <w:b-cs/>
                                <w:color w:val="000000"/>
                                <w:kern w:val="0"/>
                                <w:sz-cs w:val="21"/>
                            </w:rPr>
                            <w:t>涉及岗位</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1417" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRDefault="00055AB1" wsp:rsidP="00055AB1">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                                <w:b-cs/>
                                <w:color w:val="000000"/>
                                <w:kern w:val="0"/>
                                <w:sz-cs w:val="21"/>
                            </w:rPr>
                            <w:t>判定结果</w:t></w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2410" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/><wx:font wx:val="宋体"/><w:b/>
                                <w:b-cs/>
                                <w:color w:val="000000"/>
                                <w:kern w:val="0"/>
                                <w:sz-cs w:val="21"/>
                            </w:rPr>
                            <w:t>检测结果</w:t></w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <#list outsideCheckResultDetailList as outsideCheckResultDetail>
            <w:tr wsp:rsidR="00055AB1" wsp:rsidTr="0021663A">
                <w:trPr>
                    <w:trHeight w:val="645"/>
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1135" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00C72FDD" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${outsideCheckResultDetail_index+1}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1418" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00C72FDD" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${outsideCheckResultDetail.workplaceName!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1417" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00C72FDD" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${outsideCheckResultDetail.monitorPointName!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1418" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00C72FDD" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${outsideCheckResultDetail.postName!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1417" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00C72FDD" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${outsideCheckResultDetail.isQualified!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2410" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p wsp:rsidR="00055AB1" wsp:rsidRPr="00C72FDD" wsp:rsidRDefault="00055AB1" wsp:rsidP="00082B90">
                        <w:pPr>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia"/>
                            </w:rPr>
                            <w:t>${outsideCheckResultDetail.checkResultDetail!''}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            </#list>
        </w:tbl>
        <w:p wsp:rsidR="005828B9" wsp:rsidRDefault="005828B9"/>
        <w:sectPr wsp:rsidR="005828B9" wsp:rsidSect="0092250D">
            <w:pgSz w:w="11906" w:h="16838"/>
            <w:pgMar w:top="1440" w:right="1800" w:bottom="1440" w:left="1800" w:header="851" w:footer="992" w:gutter="0"/>
            <w:cols w:space="425"/>
            <w:docGrid w:type="lines" w:line-pitch="312"/>
        </w:sectPr>
    </w:body>
</w:wordDocument>
