<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?mso-application progid="Word.Document"?>
<w:wordDocument xmlns:aml="http://schemas.microsoft.com/aml/2001/core" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:ve="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.microsoft.com/office/word/2003/wordml" xmlns:wx="http://schemas.microsoft.com/office/word/2003/auxHint" xmlns:wsp="http://schemas.microsoft.com/office/word/2003/wordml/sp2" xmlns:sl="http://schemas.microsoft.com/schemaLibrary/2003/core" w:macrosPresent="no" w:embeddedObjPresent="no" w:ocxPresent="no" xml:space="preserve">
  <w:ignoreSubtree w:val="http://schemas.microsoft.com/office/word/2003/wordml/sp2"/>
  <o:DocumentProperties>
    <o:Author>Windows 用户</o:Author>
    <o:LastAuthor>wym</o:LastAuthor>
    <o:Revision>2</o:Revision>
    <o:TotalTime>1</o:TotalTime>
    <o:Created>2019-10-17T09:27:00Z</o:Created>
    <o:LastSaved>2019-10-17T09:27:00Z</o:LastSaved>
    <o:Pages>1</o:Pages>
    <o:Words>39</o:Words>
    <o:Characters>224</o:Characters>
    <o:Lines>1</o:Lines>
    <o:Paragraphs>1</o:Paragraphs>
    <o:CharactersWithSpaces>262</o:CharactersWithSpaces>
    <o:Version>12</o:Version>
  </o:DocumentProperties>
  <w:fonts>
    <w:defaultFonts w:ascii="Calibri" w:fareast="宋体" w:h-ansi="Calibri" w:cs="Times New Roman"/>
    <w:font w:name="Times New Roman">
      <w:panose-1 w:val="02020603050405020304"/>
      <w:charset w:val="00"/>
      <w:family w:val="Roman"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="E0002AFF" w:usb-1="C0007841" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="宋体">
      <w:altName w:val="SimSun"/>
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="Cambria Math">
      <w:panose-1 w:val="02040503050406030204"/>
      <w:charset w:val="00"/>
      <w:family w:val="Roman"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="E00002FF" w:usb-1="420024FF" w:usb-2="00000000" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="Calibri">
      <w:panose-1 w:val="020F0502020204030204"/>
      <w:charset w:val="00"/>
      <w:family w:val="Swiss"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="E10002FF" w:usb-1="4000ACFF" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="@宋体">
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
  </w:fonts>
  <w:styles>
    <w:versionOfBuiltInStylenames w:val="7"/>
    <w:latentStyles w:defLockedState="off" w:latentStyleCount="267">
      <w:lsdException w:name="Normal"/>
      <w:lsdException w:name="heading 1"/>
      <w:lsdException w:name="heading 2"/>
      <w:lsdException w:name="heading 3"/>
      <w:lsdException w:name="heading 4"/>
      <w:lsdException w:name="heading 5"/>
      <w:lsdException w:name="heading 6"/>
      <w:lsdException w:name="heading 7"/>
      <w:lsdException w:name="heading 8"/>
      <w:lsdException w:name="heading 9"/>
      <w:lsdException w:name="toc 1"/>
      <w:lsdException w:name="toc 2"/>
      <w:lsdException w:name="toc 3"/>
      <w:lsdException w:name="toc 4"/>
      <w:lsdException w:name="toc 5"/>
      <w:lsdException w:name="toc 6"/>
      <w:lsdException w:name="toc 7"/>
      <w:lsdException w:name="toc 8"/>
      <w:lsdException w:name="toc 9"/>
      <w:lsdException w:name="caption"/>
      <w:lsdException w:name="Title"/>
      <w:lsdException w:name="Default Paragraph Font"/>
      <w:lsdException w:name="Subtitle"/>
      <w:lsdException w:name="Strong"/>
      <w:lsdException w:name="Emphasis"/>
      <w:lsdException w:name="Table Grid"/>
      <w:lsdException w:name="Placeholder Text"/>
      <w:lsdException w:name="No Spacing"/>
      <w:lsdException w:name="Light Shading"/>
      <w:lsdException w:name="Light List"/>
      <w:lsdException w:name="Light Grid"/>
      <w:lsdException w:name="Medium Shading 1"/>
      <w:lsdException w:name="Medium Shading 2"/>
      <w:lsdException w:name="Medium List 1"/>
      <w:lsdException w:name="Medium List 2"/>
      <w:lsdException w:name="Medium Grid 1"/>
      <w:lsdException w:name="Medium Grid 2"/>
      <w:lsdException w:name="Medium Grid 3"/>
      <w:lsdException w:name="Dark List"/>
      <w:lsdException w:name="Colorful Shading"/>
      <w:lsdException w:name="Colorful List"/>
      <w:lsdException w:name="Colorful Grid"/>
      <w:lsdException w:name="Light Shading Accent 1"/>
      <w:lsdException w:name="Light List Accent 1"/>
      <w:lsdException w:name="Light Grid Accent 1"/>
      <w:lsdException w:name="Medium Shading 1 Accent 1"/>
      <w:lsdException w:name="Medium Shading 2 Accent 1"/>
      <w:lsdException w:name="Medium List 1 Accent 1"/>
      <w:lsdException w:name="Revision"/>
      <w:lsdException w:name="List Paragraph"/>
      <w:lsdException w:name="Quote"/>
      <w:lsdException w:name="Intense Quote"/>
      <w:lsdException w:name="Medium List 2 Accent 1"/>
      <w:lsdException w:name="Medium Grid 1 Accent 1"/>
      <w:lsdException w:name="Medium Grid 2 Accent 1"/>
      <w:lsdException w:name="Medium Grid 3 Accent 1"/>
      <w:lsdException w:name="Dark List Accent 1"/>
      <w:lsdException w:name="Colorful Shading Accent 1"/>
      <w:lsdException w:name="Colorful List Accent 1"/>
      <w:lsdException w:name="Colorful Grid Accent 1"/>
      <w:lsdException w:name="Light Shading Accent 2"/>
      <w:lsdException w:name="Light List Accent 2"/>
      <w:lsdException w:name="Light Grid Accent 2"/>
      <w:lsdException w:name="Medium Shading 1 Accent 2"/>
      <w:lsdException w:name="Medium Shading 2 Accent 2"/>
      <w:lsdException w:name="Medium List 1 Accent 2"/>
      <w:lsdException w:name="Medium List 2 Accent 2"/>
      <w:lsdException w:name="Medium Grid 1 Accent 2"/>
      <w:lsdException w:name="Medium Grid 2 Accent 2"/>
      <w:lsdException w:name="Medium Grid 3 Accent 2"/>
      <w:lsdException w:name="Dark List Accent 2"/>
      <w:lsdException w:name="Colorful Shading Accent 2"/>
      <w:lsdException w:name="Colorful List Accent 2"/>
      <w:lsdException w:name="Colorful Grid Accent 2"/>
      <w:lsdException w:name="Light Shading Accent 3"/>
      <w:lsdException w:name="Light List Accent 3"/>
      <w:lsdException w:name="Light Grid Accent 3"/>
      <w:lsdException w:name="Medium Shading 1 Accent 3"/>
      <w:lsdException w:name="Medium Shading 2 Accent 3"/>
      <w:lsdException w:name="Medium List 1 Accent 3"/>
      <w:lsdException w:name="Medium List 2 Accent 3"/>
      <w:lsdException w:name="Medium Grid 1 Accent 3"/>
      <w:lsdException w:name="Medium Grid 2 Accent 3"/>
      <w:lsdException w:name="Medium Grid 3 Accent 3"/>
      <w:lsdException w:name="Dark List Accent 3"/>
      <w:lsdException w:name="Colorful Shading Accent 3"/>
      <w:lsdException w:name="Colorful List Accent 3"/>
      <w:lsdException w:name="Colorful Grid Accent 3"/>
      <w:lsdException w:name="Light Shading Accent 4"/>
      <w:lsdException w:name="Light List Accent 4"/>
      <w:lsdException w:name="Light Grid Accent 4"/>
      <w:lsdException w:name="Medium Shading 1 Accent 4"/>
      <w:lsdException w:name="Medium Shading 2 Accent 4"/>
      <w:lsdException w:name="Medium List 1 Accent 4"/>
      <w:lsdException w:name="Medium List 2 Accent 4"/>
      <w:lsdException w:name="Medium Grid 1 Accent 4"/>
      <w:lsdException w:name="Medium Grid 2 Accent 4"/>
      <w:lsdException w:name="Medium Grid 3 Accent 4"/>
      <w:lsdException w:name="Dark List Accent 4"/>
      <w:lsdException w:name="Colorful Shading Accent 4"/>
      <w:lsdException w:name="Colorful List Accent 4"/>
      <w:lsdException w:name="Colorful Grid Accent 4"/>
      <w:lsdException w:name="Light Shading Accent 5"/>
      <w:lsdException w:name="Light List Accent 5"/>
      <w:lsdException w:name="Light Grid Accent 5"/>
      <w:lsdException w:name="Medium Shading 1 Accent 5"/>
      <w:lsdException w:name="Medium Shading 2 Accent 5"/>
      <w:lsdException w:name="Medium List 1 Accent 5"/>
      <w:lsdException w:name="Medium List 2 Accent 5"/>
      <w:lsdException w:name="Medium Grid 1 Accent 5"/>
      <w:lsdException w:name="Medium Grid 2 Accent 5"/>
      <w:lsdException w:name="Medium Grid 3 Accent 5"/>
      <w:lsdException w:name="Dark List Accent 5"/>
      <w:lsdException w:name="Colorful Shading Accent 5"/>
      <w:lsdException w:name="Colorful List Accent 5"/>
      <w:lsdException w:name="Colorful Grid Accent 5"/>
      <w:lsdException w:name="Light Shading Accent 6"/>
      <w:lsdException w:name="Light List Accent 6"/>
      <w:lsdException w:name="Light Grid Accent 6"/>
      <w:lsdException w:name="Medium Shading 1 Accent 6"/>
      <w:lsdException w:name="Medium Shading 2 Accent 6"/>
      <w:lsdException w:name="Medium List 1 Accent 6"/>
      <w:lsdException w:name="Medium List 2 Accent 6"/>
      <w:lsdException w:name="Medium Grid 1 Accent 6"/>
      <w:lsdException w:name="Medium Grid 2 Accent 6"/>
      <w:lsdException w:name="Medium Grid 3 Accent 6"/>
      <w:lsdException w:name="Dark List Accent 6"/>
      <w:lsdException w:name="Colorful Shading Accent 6"/>
      <w:lsdException w:name="Colorful List Accent 6"/>
      <w:lsdException w:name="Colorful Grid Accent 6"/>
      <w:lsdException w:name="Subtle Emphasis"/>
      <w:lsdException w:name="Intense Emphasis"/>
      <w:lsdException w:name="Subtle Reference"/>
      <w:lsdException w:name="Intense Reference"/>
      <w:lsdException w:name="Book Title"/>
      <w:lsdException w:name="Bibliography"/>
      <w:lsdException w:name="TOC Heading"/>
    </w:latentStyles>
    <w:style w:type="paragraph" w:default="on" w:styleId="a">
      <w:name w:val="Normal"/>
      <wx:uiName wx:val="正文"/>
      <w:rsid w:val="004B3AF4"/>
      <w:pPr>
        <w:widowControl w:val="off"/>
        <w:jc w:val="both"/>
      </w:pPr>
      <w:rPr>
        <w:rFonts w:ascii="Times New Roman" w:h-ansi="Times New Roman"/>
        <wx:font wx:val="Times New Roman"/>
        <w:kern w:val="2"/>
        <w:sz w:val="21"/>
        <w:sz-cs w:val="24"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:default="on" w:styleId="a0">
      <w:name w:val="Default Paragraph Font"/>
      <wx:uiName wx:val="默认段落字体"/>
    </w:style>
    <w:style w:type="table" w:default="on" w:styleId="a1">
      <w:name w:val="Normal Table"/>
      <wx:uiName wx:val="普通表格"/>
      <w:rPr>
        <wx:font wx:val="Calibri"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
      </w:rPr>
      <w:tblPr>
        <w:tblInd w:w="0" w:type="dxa"/>
        <w:tblCellMar>
          <w:top w:w="0" w:type="dxa"/>
          <w:left w:w="108" w:type="dxa"/>
          <w:bottom w:w="0" w:type="dxa"/>
          <w:right w:w="108" w:type="dxa"/>
        </w:tblCellMar>
      </w:tblPr>
    </w:style>
    <w:style w:type="list" w:default="on" w:styleId="a2">
      <w:name w:val="No List"/>
      <wx:uiName wx:val="无列表"/>
    </w:style>
    <w:style w:type="paragraph" w:styleId="a3">
      <w:name w:val="header"/>
      <wx:uiName wx:val="页眉"/>
      <w:basedOn w:val="a"/>
      <w:link w:val="Char"/>
      <w:rsid w:val="004B3AF4"/>
      <w:pPr>
        <w:pBdr>
          <w:bottom w:val="single" w:sz="6" wx:bdrwidth="15" w:space="1" w:color="auto"/>
        </w:pBdr>
        <w:tabs>
          <w:tab w:val="center" w:pos="4153"/>
          <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="center"/>
      </w:pPr>
      <w:rPr>
        <wx:font wx:val="Times New Roman"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:styleId="Char">
      <w:name w:val="页眉 Char"/>
      <w:basedOn w:val="a0"/>
      <w:link w:val="a3"/>
      <w:rsid w:val="004B3AF4"/>
      <w:rPr>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="paragraph" w:styleId="a4">
      <w:name w:val="footer"/>
      <wx:uiName wx:val="页脚"/>
      <w:basedOn w:val="a"/>
      <w:link w:val="Char0"/>
      <w:rsid w:val="004B3AF4"/>
      <w:pPr>
        <w:tabs>
          <w:tab w:val="center" w:pos="4153"/>
          <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="left"/>
      </w:pPr>
      <w:rPr>
        <wx:font wx:val="Times New Roman"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:styleId="Char0">
      <w:name w:val="页脚 Char"/>
      <w:basedOn w:val="a0"/>
      <w:link w:val="a4"/>
      <w:rsid w:val="004B3AF4"/>
      <w:rPr>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
  </w:styles>
  <w:divs>
    <w:div w:id="35129337">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="175311082">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="224881491">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="246770838">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="495342361">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="654841246">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="756756437">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="862786766">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1168519307">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1239899516">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1432315534">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1523012687">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1621301169">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1669017952">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1815685092">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1900557025">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="1901015555">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
    <w:div w:id="2080908378">
      <w:bodyDiv w:val="on"/>
      <w:marLeft w:val="0"/>
      <w:marRight w:val="0"/>
      <w:marTop w:val="0"/>
      <w:marBottom w:val="0"/>
      <w:divBdr>
        <w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
        <w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto"/>
      </w:divBdr>
    </w:div>
  </w:divs>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="23554"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="2"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:docPr>
    <w:view w:val="print"/>
    <w:zoom w:percent="99"/>
    <w:doNotEmbedSystemFonts/>
    <w:bordersDontSurroundHeader/>
    <w:bordersDontSurroundFooter/>
    <w:defaultTabStop w:val="420"/>
    <w:drawingGridHorizontalSpacing w:val="105"/>
    <w:drawingGridVerticalSpacing w:val="156"/>
    <w:displayHorizontalDrawingGridEvery w:val="0"/>
    <w:displayVerticalDrawingGridEvery w:val="2"/>
    <w:punctuationKerning/>
    <w:characterSpacingControl w:val="CompressPunctuation"/>
    <w:optimizeForBrowser/>
    <w:validateAgainstSchema/>
    <w:saveInvalidXML w:val="off"/>
    <w:ignoreMixedContent w:val="off"/>
    <w:alwaysShowPlaceholderText w:val="off"/>
    <w:hdrShapeDefaults>
      <o:shapedefaults v:ext="edit" spidmax="23554"/>
    </w:hdrShapeDefaults>
    <w:footnotePr>
      <w:footnote w:type="separator">
        <w:p wsp:rsidR="001549A1" wsp:rsidRDefault="001549A1" wsp:rsidP="004B3AF4">
          <w:r>
            <w:separator/>
          </w:r>
        </w:p>
      </w:footnote>
      <w:footnote w:type="continuation-separator">
        <w:p wsp:rsidR="001549A1" wsp:rsidRDefault="001549A1" wsp:rsidP="004B3AF4">
          <w:r>
            <w:continuationSeparator/>
          </w:r>
        </w:p>
      </w:footnote>
    </w:footnotePr>
    <w:endnotePr>
      <w:endnote w:type="separator">
        <w:p wsp:rsidR="001549A1" wsp:rsidRDefault="001549A1" wsp:rsidP="004B3AF4">
          <w:r>
            <w:separator/>
          </w:r>
        </w:p>
      </w:endnote>
      <w:endnote w:type="continuation-separator">
        <w:p wsp:rsidR="001549A1" wsp:rsidRDefault="001549A1" wsp:rsidP="004B3AF4">
          <w:r>
            <w:continuationSeparator/>
          </w:r>
        </w:p>
      </w:endnote>
    </w:endnotePr>
    <w:compat>
      <w:spaceForUL/>
      <w:balanceSingleByteDoubleByteWidth/>
      <w:doNotLeaveBackslashAlone/>
      <w:ulTrailSpace/>
      <w:doNotExpandShiftReturn/>
      <w:adjustLineHeightInTable/>
      <w:breakWrappedTables/>
      <w:snapToGridInCell/>
      <w:wrapTextWithPunct/>
      <w:useAsianBreakRules/>
      <w:dontGrowAutofit/>
      <w:useFELayout/>
    </w:compat>
    <wsp:rsids>
      <wsp:rsidRoot wsp:val="004B3AF4"/>
      <wsp:rsid wsp:val="00015EA4"/>
      <wsp:rsid wsp:val="0003467A"/>
      <wsp:rsid wsp:val="000A003D"/>
      <wsp:rsid wsp:val="000E4D53"/>
      <wsp:rsid wsp:val="00141B19"/>
      <wsp:rsid wsp:val="001549A1"/>
      <wsp:rsid wsp:val="001947DF"/>
      <wsp:rsid wsp:val="00247FF6"/>
      <wsp:rsid wsp:val="002500E0"/>
      <wsp:rsid wsp:val="00267F03"/>
      <wsp:rsid wsp:val="002A05F4"/>
      <wsp:rsid wsp:val="00310A74"/>
      <wsp:rsid wsp:val="00361D70"/>
      <wsp:rsid wsp:val="003C5A99"/>
      <wsp:rsid wsp:val="004146CC"/>
      <wsp:rsid wsp:val="004B3AF4"/>
      <wsp:rsid wsp:val="0051532E"/>
      <wsp:rsid wsp:val="00551066"/>
      <wsp:rsid wsp:val="005828B9"/>
      <wsp:rsid wsp:val="00594BB2"/>
      <wsp:rsid wsp:val="00614172"/>
      <wsp:rsid wsp:val="006349FA"/>
      <wsp:rsid wsp:val="00707661"/>
      <wsp:rsid wsp:val="007B6147"/>
      <wsp:rsid wsp:val="00805053"/>
      <wsp:rsid wsp:val="008A19FB"/>
      <wsp:rsid wsp:val="0092250D"/>
      <wsp:rsid wsp:val="009728AA"/>
      <wsp:rsid wsp:val="00980E06"/>
      <wsp:rsid wsp:val="00AB6E89"/>
      <wsp:rsid wsp:val="00B47145"/>
      <wsp:rsid wsp:val="00B764FA"/>
      <wsp:rsid wsp:val="00BC01F6"/>
      <wsp:rsid wsp:val="00C15F00"/>
      <wsp:rsid wsp:val="00C16C6A"/>
      <wsp:rsid wsp:val="00C8679C"/>
      <wsp:rsid wsp:val="00D02C57"/>
      <wsp:rsid wsp:val="00D26BB3"/>
      <wsp:rsid wsp:val="00D27A0C"/>
      <wsp:rsid wsp:val="00D70A7D"/>
      <wsp:rsid wsp:val="00E05AA7"/>
      <wsp:rsid wsp:val="00E4606E"/>
      <wsp:rsid wsp:val="00EB234B"/>
      <wsp:rsid wsp:val="00ED7EEC"/>
      <wsp:rsid wsp:val="00EE2A69"/>
      <wsp:rsid wsp:val="00F34761"/>
      <wsp:rsid wsp:val="00FC588D"/>
      <wsp:rsid wsp:val="00FC6E9E"/>
    </wsp:rsids>
  </w:docPr>
  <w:body>
    <w:p wsp:rsidR="00614172" wsp:rsidRPr="00551066" wsp:rsidRDefault="00614172" wsp:rsidP="00614172">
      <w:pPr>
        <w:widowControl/>
        <w:spacing w:line="384" w:line-rule="auto"/>
        <w:jc w:val="center"/>
        <w:rPr>
          <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体"/>
          <wx:font wx:val="宋体"/>
          <w:b/>
          <w:kern w:val="0"/>
          <w:sz w:val="44"/>
          <w:sz-cs w:val="44"/>
        </w:rPr>
      </w:pPr>
      <w:r>
        <w:rPr>
          <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" w:hint="fareast"/>
          <wx:font wx:val="宋体"/>
          <w:b/>
          <w:kern w:val="0"/>
          <w:sz w:val="44"/>
          <w:sz-cs w:val="44"/>
        </w:rPr>
        <w:t>职业健康检查统计年度报表</w:t>
      </w:r>
    </w:p>
    <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="00614172"/>
    <w:tbl>
      <w:tblPr>
        <w:tblW w:w="14527" w:type="dxa"/>
        <w:tblInd w:w="-176" w:type="dxa"/>
        <w:tblBorders>
          <w:top w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
          <w:left w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
          <w:bottom w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
          <w:right w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
          <w:insideH w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
          <w:insideV w:val="single" w:sz="4" wx:bdrwidth="10" w:space="0" w:color="auto"/>
        </w:tblBorders>
        <w:tblLayout w:type="Fixed"/>
      </w:tblPr>
      <w:tblGrid>
        <w:gridCol w:w="710"/>
        <w:gridCol w:w="822"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="590"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
        <w:gridCol w:w="591"/>
      </w:tblGrid>
      <w:tr wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidTr="006347E2">
        <w:trPr>
          <w:trHeight w:val="614"/>
        </w:trPr>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="710" w:type="dxa"/>
            <w:vmerge w:val="restart"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>年份</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="822" w:type="dxa"/>
            <w:vmerge w:val="restart"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>体检类型</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge w:val="restart"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>职工人数</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge w:val="restart"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge w:val="restart"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge w:val="restart"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="1770" w:type="dxa"/>
            <w:gridSpan w:val="3"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>接触粉尘</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="1773" w:type="dxa"/>
            <w:gridSpan w:val="3"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>接触化学因素</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="1773" w:type="dxa"/>
            <w:gridSpan w:val="3"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>接触物流因素</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="1773" w:type="dxa"/>
            <w:gridSpan w:val="3"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>接触放射性因素</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="1773" w:type="dxa"/>
            <w:gridSpan w:val="3"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>接触生物因素</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="1773" w:type="dxa"/>
            <w:gridSpan w:val="3"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>接触其他因素</w:t>
            </w:r>
          </w:p>
        </w:tc>
      </w:tr>
      <w:tr wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidTr="006347E2">
        <w:trPr>
          <w:trHeight w:val="1830"/>
        </w:trPr>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="710" w:type="dxa"/>
            <w:vmerge/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="009728AA" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="822" w:type="dxa"/>
            <w:vmerge/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vmerge/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>应检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>实检人数</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>(</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>人次</w:t>
            </w:r>
            <w:r wsp:rsidRPr="00D02C57">
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
                <w:sz w:val="13"/>
                <w:sz-cs w:val="15"/>
              </w:rPr>
              <w:t>)</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRPr="004B3AF4" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
              <w:rPr>
                <w:b/>
              </w:rPr>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <wx:font wx:val="宋体"/>
                <w:b/>
              </w:rPr>
              <w:t>受检率</w:t>
            </w:r>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
                <w:b/>
              </w:rPr>
              <w:t>%</w:t>
            </w:r>
          </w:p>
        </w:tc>
      </w:tr>
      <#list yearWaitMedicalList as yearWaitMedical>
      <w:tr wsp:rsidR="00614172" wsp:rsidTr="006347E2">
        <w:trPr>
          <w:trHeight w:val="714"/>
        </w:trPr>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="710" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.year}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="822" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:hint="fareast"/>
                <wx:font wx:val="宋体"/></w:rPr>
              <w:t>${yearWaitMedical.type}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.employeeNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.shouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.actualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.medicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.dustShouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.dustActualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="590" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.dustMedicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.chemicalShouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.chemicalActualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.chemicalMedicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.physicalShouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.physicalActualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.physicalMedicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.radiationShouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.radiationActualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.radiationMedicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.biologicalShouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.biologicalActualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.biologicalMedicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.otherShouldMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.otherActualMedicalNum}</w:t>
            </w:r>
          </w:p>
        </w:tc>
        <w:tc>
          <w:tcPr>
            <w:tcW w:w="591" w:type="dxa"/>
            <w:vAlign w:val="center"/>
          </w:tcPr>
          <w:p wsp:rsidR="00614172" wsp:rsidRDefault="00614172" wsp:rsidP="006347E2">
            <w:pPr>
              <w:jc w:val="center"/>
            </w:pPr>
            <w:r>
              <w:rPr>
                <w:rFonts w:hint="fareast"/>
              </w:rPr>
              <w:t>${yearWaitMedical.otherMedicalRate}</w:t>
            </w:r>
          </w:p>
        </w:tc>
      </w:tr>
      </#list>
    </w:tbl>
    <w:p wsp:rsidR="005828B9" wsp:rsidRDefault="005828B9"/>
    <w:sectPr wsp:rsidR="005828B9" wsp:rsidSect="00D02C57">
      <w:pgSz w:w="16838" w:h="11906" w:orient="landscape"/>
      <w:pgMar w:top="1800" w:right="1440" w:bottom="1800" w:left="1440" w:header="851" w:footer="992" w:gutter="0"/>
      <w:cols w:space="425"/>
      <w:docGrid w:type="lines" w:line-pitch="312"/>
    </w:sectPr>
  </w:body>
</w:wordDocument>
