<style>
    #edit-workplace-harm-factor {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-workplace-harm-factor">
    <form class="layui-form">
        <input type="hidden" id="id" name="id" th:value="${monitorWorkplaceHarmFactorCustom?.id}">
        <input type="hidden" id="monitorPointId" name="monitorPointId" th:value="${monitorWorkplaceHarmFactorCustom?.monitorPointId}">
        <input type="hidden" id="tempWorkplaceId" th:value="${monitorWorkplaceHarmFactorCustom?.workplaceId}">
        <input id="tempHarmFactorId" type="hidden" th:value="${monitorWorkplaceHarmFactorCustom?.tempHarmFactorId}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">作业场所：</label>
            <div class="layui-input-block">
                <select id="workplaceId" name="workplaceId" lay-filter="workplaceId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测因素：</label>
            <div class="layui-input-block">
                <select name="tempHarmFactorId"
                        xm-select-direction="down" lay-verify="required"
                        xm-select-search
                        xm-select="monitor-workplace-add-harmFactor"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="monitor-workplace-harm-factor"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<!-- 检测地点、浓度table行删除 -->
<script type="text/html" id="check_result_consistence_bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin', 'formSelects'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin,
            formSelects = layui.formSelects;
        form.render();
        formSelects.render();
        let currentIndex = layer.index;
        // 下拉框动态获取该监测点未添加的作业场所(编辑的时候原作业场所也存在)
        var option1 = '<option value="" selected>请选择作业场所</option>';
        $.ajax({
            url: 'monitorPoint/workplaceHarmFactor/getSelectWorkplaces',
            type: 'post',
            async: false,
            data: {
                monitorPointId: $('#monitorPointId').val(),
                workplaceId: $('#tempWorkplaceId').val()
            },
            success: function (result) {
                $.each(result.data.enterpriseWorkplaces, function(i, v) {
                    option1 += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#workplaceId').html(option1);
                form.render('select');
            }
        });
        // 监听作业场所select，获取该监测点中作业场所未选择的危害因素
        form.on('select(workplaceId)', function(data) {
            var workplaceId = data.value;
            if (workplaceId) {
                formSelects.config('monitor-workplace-add-harmFactor', {
                    data: {
                        workplaceId: workplaceId
                    },
                    searchUrl: ctx + 'monitorPoint/workplaceHarmFactor/getSelectHarmFactors',
                    searchName: 'keyword',
                    response: {
                        statusCode: 200
                    },
                    beforeSuccess: function (id, url, searchVal, result) {
                        var data = result.data.workplaceHarmFactorCustoms;
                        var tranData = [];
                        for (var i = 0; i < data.length; i++) {
                            tranData.push({
                                name: data[i].harmFactorName,
                                value: data[i].harmFactorId
                            })
                        }
                        return tranData;
                    },
                    success: function () {
                        var tempHarmFactorId = $('#tempHarmFactorId').val();
                        formSelects.value('monitor-workplace-add-harmFactor', tempHarmFactorId.split(','));
                    },
                    error: function (id, url, searchVal, err) {
                        xadmin.alert.error('获取监测危害因素列表失败');
                    }
                });
            }
        });
        // 如果是编辑，选中相应的工作场所和监测危害因素
        if ($('#tempWorkplaceId').val()) {
            $("#workplaceId option[value='" + $('#tempWorkplaceId').val() + "']").prop('selected',true);
            form.render('select');
            formSelects.config('monitor-workplace-add-harmFactor', {
                data: {
                    workplaceId: $('#tempWorkplaceId').val()
                },
                searchUrl: ctx + 'monitorPoint/workplaceHarmFactor/getSelectHarmFactors',
                searchName: 'keyword',
                response: {
                    statusCode: 200
                },
                beforeSuccess: function (id, url, searchVal, result) {
                    var data = result.data.workplaceHarmFactorCustoms;
                    var tranData = [];
                    for (var i = 0; i < data.length; i++) {
                        tranData.push({
                            name: data[i].harmFactorName,
                            value: data[i].harmFactorId
                        })
                    }
                    return tranData;
                },
                success: function () {
                    var tempHarmFactorId = $('#tempHarmFactorId').val();
                    if(tempHarmFactorId){
                        formSelects.value('monitor-workplace-add-harmFactor', tempHarmFactorId.split(','));
                    }
                },
                error: function (id, url, searchVal, err) {
                    xadmin.alert.error('获取监测危害因素列表失败');
                }
            });
        }
        // 表单提交
        form.on('submit(monitor-workplace-harm-factor)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'monitorPoint/workplaceHarmFactor/edit/save',
                type: 'post',
                dateType: 'json',
                data: data.field,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.msg(result.message, {icon: 6});
                        layer.close(currentIndex);
                        parent.requeryMonitorWorkplaceHarmFactor();
                        requeryMonitorPoint();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>