<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-workplace-harm-factor">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="workplace_harm_factor_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                    <i class="layui-icon">&#xe875;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="workplace_harm_factor_table" lay-filter="workplace_harm_factor_table"></table>
</div>
<style type="text/css">
    .layui-dropdown{
        z-index: 200000000;
    }
</style>
<!-- 监测点关联的作业场所和监测危害因素table编辑、删除 -->
<script type="text/html" id="workplace_harm_factor_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-workplace-harm-factor'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        form.render();
        // 监测点id
        var monitorPointId = [[${monitorPointId}]];
        // 监测点关联的作业场所和监测危害因素table
        var  workplaceHarmFactorTable = table.render({
            elem: "#workplace_harm_factor_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        sort: true,
                        minWidth: 160
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#workplace_harm_factor_bar',
                        width: 120
                    }
                ]
            ],
            url: "monitorPoint/workplaceHarmFactor/listWorkplaceHarmFactors",
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.monitorWorkplaceHarmFactors
                };
            },
            where: {
                keyword: $('#workplace_harm_factor_keyword').val().trim(),
                monitorPointId: monitorPointId
            },
            autoSort: false
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('workplace_harm_factor_table');
                if (name === 'add') {
                    xadmin.modal.open("新增作业场所和监测危害因素",'monitorPoint/workplaceHarmFactor/add/' + monitorPointId,{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-workplace-harm-factor').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-workplace-harm-factor').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        layer.msg('请选择要删除的作业场所和监测危害因素', {icon: 5});
                        return;
                    } else {
                        var workplaceIds = [];
                        layui.each(checkStatus.data, function (key, item) {
                            if (item.outsideCheckMonitorWorkplaceHarmFactorNum != 0) {
                                xadmin.alert.warn('有场所和危害因素已被危害因素检测添加，不能删除');
                                flag = false;
                                return true;
                            }
                            workplaceIds.push(item.workplaceId);
                        });
                        $.ajax({
                            url: 'monitorPoint/workplaceHarmFactor/deletes',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {
                                monitorPointId: monitorPointId,
                                workplaceIds: workplaceIds
                            },
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('workplace_harm_factor_table');
                                    parent.requeryMonitorPoint();
                                    layer.msg(result.message, {icon: 6});
                                } else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增场所和危害'
            }, {
                name: 'delete',
                title: '删除场所和危害'
            }]
        });
        // table排序
        table.on('sort(workplace_harm_factor_table)', function (obj) {
            requeryMonitorWorkplaceHarmFactor(obj);
        });
        // 查询
        window.requeryMonitorWorkplaceHarmFactor = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#workplace_harm_factor_keyword').val().trim(),
                    monitorPointId: monitorPointId
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            workplaceHarmFactorTable.reload(options);
        }
        $query.on('click', function() {
            requeryMonitorWorkplaceHarmFactor();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryMonitorWorkplaceHarmFactor();
        });
        // 监听监测点关联的作业场所和监测危害因素table行事件（编辑、删除）
        table.on('tool(workplace_harm_factor_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑作业场所和监测危害因素",'monitorPoint/workplaceHarmFactor/edit/' + monitorPointId + "/" + data.workplaceId,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-workplace-harm-factor').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.outsideCheckMonitorWorkplaceHarmFactorNum != 0) {
                    xadmin.alert.warn('该场所和危害因素已被危害因素检测添加，不能删除');
                    return;
                }
                layer.confirm('确定要删除该作业场所和监测危害因素吗？', function(index) {
                    $.ajax({
                        url: 'monitorPoint/workplaceHarmFactor/delete',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            monitorPointId: monitorPointId,
                            workplaceId: data.workplaceId
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                table.reload('workplace_harm_factor_table');
                                parent.requeryMonitorPoint();
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
    });
</script>