<style>
    #edit-service-record {
        padding: 20px 25px 25px 0;
    }
    #edit-service-record .layui-form-label {
        width: 120px;
    }
    #edit-service-record .layui-input-block {
        margin-left: 150px;
    }
</style>
<div class="layui-fluid" id="edit-service-record">
    <form id="service_record_form" class="layui-form" action="" lay-filter="service_record_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseServiceRecord?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseServiceRecord?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检(维)修原因：</label>
            <div class="layui-input-block">
                <input type="text" id="reason" name="reason" placeholder="请输入检(维)修原因" maxlength="200"
                       th:value="${enterpriseServiceRecord?.reason}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检(维)修时限：</label>
            <div class="layui-input-block">
                <input type="text" id="timeLimit" name="timeLimit" placeholder="请输入检(维)修时限" maxlength="100"
                       th:value="${enterpriseServiceRecord?.timeLimit}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检(维)修结果：</label>
            <div class="layui-input-block">
                <input type="text" id="result" name="result" placeholder="请输入检(维)修结果" maxlength="200"
                       th:value="${enterpriseServiceRecord?.result}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">完成日期：</label>
            <div class="layui-input-block">
                <input type="text" id="serviceDate" name="serviceDate" placeholder="请选择完成日期" lay-verify="required"
                       th:value="${#dates.format(enterpriseServiceRecord?.serviceDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检(维)修负责人：</label>
            <div class="layui-input-block">
                <input type="text" id="serviceLeader" name="serviceLeader" placeholder="请输入检(维)修负责人" maxlength="50"
                       th:value="${enterpriseServiceRecord?.serviceLeader}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检(维)修人：</label>
            <div class="layui-input-block">
                <input type="text" id="servicePersonnel" name="servicePersonnel" placeholder="请输入检(维)修人" maxlength="50"
                       th:value="${enterpriseServiceRecord?.servicePersonnel}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="service-record"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#serviceDate',
            type: 'date'
        });
        form.render();
        // 表单提交
        form.on('submit(service-record)', function(data) {
            var enterpriseServiceRecord = {};
            $.each($("#service_record_form input[name],select[name]"), function (index, element) {
                enterpriseServiceRecord[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseServiceRecord) {
                var formData = new FormData();
                formData.append("enterpriseServiceRecordJSON", JSON.stringify(enterpriseServiceRecord));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'serviceRecord/editServiceRecord/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryServiceRecord();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>