<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-institution-certificate">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: auto;">

                            </div>
                        </div>
                    </form>
                    <table id="institution_certificate_table" lay-filter="institution_certificate_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 机构相关证书table行查看、编辑、删除 -->
<script type="text/html" id="institution_certificate_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 关联id
    var relationId = [[${relationId}]];
    // 关联模块
    var relationModule = '[[${relationModule}]]';
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin;
        // 机构相关证书table
        var institutionCertificateTable = table.render({
            elem: "#institution_certificate_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "附件",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    }
                ]
            ],
            url: "inspectionInstitution/institutionCertificate/listInstitutionCertificates",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseRelationFiles
                };
            },
            where: {
                relationId: relationId,
                relationModule: relationModule
            }
        });

        // 查询
        window.requery = function() {
            institutionCertificateTable.reload({
                where: {
                    relationId: relationId,
                    relationModule: relationModule
                }
            });
            parent.requeryInspectionInstitution();
        }

    });
</script>