<div class="layui-layout layui-layout-admin" id="xadmin-layout">
    <div class="layui-header layui-anim xadmin-anim-down" id="app-header">
        <script type="text/html"
                template
                lay-done="layui.element.render('nav','xadmin-header')">
            <ul class="layui-nav layui-layout-left" lay-filter="xadmin-header">
                <li class="layui-nav-item" lay-unselect>
                    <a xadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right"></i>
                    </a>
                </li>
                <span class="xadmin-breadcrumb"></span>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="xadmin-header">
                <li class="layui-nav-item layui-user" lay-unselect>
                    <a>
                        {{ currentUser.username }}
                    </a>
                    <dl class="layui-nav-child" style="left: auto;right:0px">
                        <dd><a class="layui-nav-child-href" id="password-update">密码修改</a></dd>
                        <hr/>
                        <dd><a class="layui-nav-child-href" data-th-href="@{logout}">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </script>
    </div>

    <div class="xadmin-tabs-hidden">
        <script type="text/html" id="TPL-app-tabsmenu" template>
            {{# if(layui.conf.viewTabs){ }}
            <div class="xadmin-tabs-wrap">
          <span class="xadmin-tabs-btn xadmin-tabs-action xadmin-tabs-prev" data-type="prev">
              <i class="layui-icon layui-icon-left"></i>
          </span>
                <span class="xadmin-tabs-btn xadmin-tabs-action xadmin-tabs-next" data-type="next">
              <i class="layui-icon layui-icon-right"></i>
          </span>
                <span class="xadmin-tabs-btn xadmin-tabs-action xadmin-tabs-down" data-type="down">
              <i class="layui-icon layui-icon-close"></i>
          </span>
                <ul class="xadmin-tabs-menu">
                    {{# layui.each(layui.view.tab.data,function(i, item){ }}
                    <li data-type="page" class="xadmin-tabs-btn" lay-url="{{item.fileurl}}">
                        <i class="xadmin-tabs-ball"></i>{{ item.title }}<b
                            class="layui-icon layui-icon-close xadmin-tabs-close"></b>
                    </li>
                    {{# }) }}
                </ul>
            </div>
            {{# } }}
        </script>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side" id="app-sidebar">
        <div class="layui-side-scroll">
            <div class="layui-logo" style="cursor: pointer">
                <!--<img data-th-src="@{xadmin/images/logo.png}">-->
                <span>职业健康智慧管理系统</span>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="xadmin-sidebar" lay-shrink="all" is-template="true">
                <li class="layui-nav-item">
                    <a lay-href="/account" target="" title="账号管理">
                        <i class="layui-icon layui-icon-user"></i>
                        <cite>账号管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a  lay-href="/monitor" target="" title="监管区域管理">
                        <i class="layui-icon layui-icon-chart"></i>
                        <cite>监管区域管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="/enterprise" target="" title="企业管理">
                        <i class="layui-icon layui-icon-home"></i>
                        <cite>企业管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="/harmFactor" target="" title="危害因素管理">
                        <i class="layui-icon layui-icon-tips"></i>
                        <cite>危害因素管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="/recommendInstitution" target="" title="推荐机构管理">
                        <i class="layui-icon layui-icon-auz"></i>
                        <cite>推荐机构管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="/maintain" target="" title="系统维护设置">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>系统维护设置</cite>
                    </a>
                </li>
                <!--<li class="layui-nav-item">-->
                    <!--<a lay-href="/backup" target="" title="企业文档备份管理">-->
                        <!--<i class="layui-icon layui-icon-file-b"></i>-->
                        <!--<cite>企业文档备份管理</cite>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="layui-nav-item">
                    <a lay-href="/consult" target="" title="系统咨询">
                        <i class="layui-icon layui-icon-chat"></i>
                        <cite>系统咨询</cite>
                    </a>
                </li>
                <span class="layui-nav-bar" style="top: 24px; height: 0px; opacity: 0;"></span></ul>
        </div>
    </div>
    <!-- 主体内容 -->
    <div class="layui-body" id="xadmin-body"></div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'xadmin', 'element'], function () {
        var $ = layui.jquery,
            $view = $('#xadmin-layout'),
            xadmin = layui.xadmin;
        var element = layui.element;

        initTheme();

       // $view.find('#user-avatar').attr('src', ctx + "xadmin/images/avatar/gaOngJwsRYRaVAuXXcmB");

        $view.on('click', '.layui-logo', function () {
            xadmin.navigate("/index");
        });

        $view.on('click', '#password-update', function () {
            xadmin.modal.view('密码修改', '/password/update', {
                area: $(window).width() <= 750 ? '90%' : '500px',
                btn: ['确定'],
                yes: function () {
                    $('#user-password-update').find('#submit').trigger('click');
                }
            });
        });

        $view.on('click', '#user-profile', function () {
            xadmin.navigate("/user/profile");
        });

        function initTheme() {
            var theme = currentUser.theme;
            var $sidebar = $('#app-sidebar');
            if (theme === 'black') {
                $sidebar.removeClass('xadmin-theme-white');
            }
            if (theme === 'white') {
                $sidebar.addClass('xadmin-theme-white');
            }
        }
    });
</script>