<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>编辑历史岗位</title>

    </head>
    <body>
        <form id="employee_post_form" class="layui-form" lay-filter="employee_post_form">
            <input id="employee_post_id" name="id" type="hidden" th:value="${employeePost?.id}" />
            <input id="employee_post_employee_id" name="employeeId" type="hidden" th:value="${employeePost?.employeeId}" />
            <div class="layui-fluid" style="padding: 20px 25px 25px 0">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">岗位：</label>
                        <div class="layui-input-block">
                            <select id="post_id" name="postId"  lay-verify="required" lay-reqText="岗位未选" lay-search>
                                <option value="">请选择</option>
                                <option th:each="enterprisePost : ${enterprisePosts}" th:value="${enterprisePost.id}" th:text="${enterprisePost.postName}" th:selected="${enterprisePost.id == employeePost?.postId}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-col-xs6">
                        <label class="layui-form-label">上岗时间：</label>
                        <div class="layui-input-block">
                            <input id="work_date" name="workDate" class="layui-input" lay-verify="required" lay-reqText="上岗时间未填" type="text" placeholder="请输入上岗时间" th:value="${#dates.format(employeePost?.workDate, 'yyyy-MM-dd')}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">离岗时间：</label>
                        <div class="layui-input-block">
                            <input id="leave_date" name="leaveDate" class="layui-input" lay-verify="required" lay-reqText="离岗时间未填" type="text" placeholder="请输入离岗时间" th:value="${#dates.format(employeePost?.leaveDate, 'yyyy-MM-dd')}" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="post-history-submit" lay-submit lay-filter="post-history" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script th:inline="javascript">
            layui.use(["jquery", "form", "layer", "laydate"], function () {
                let $ = layui.$,
                    layer = layui.layer,
                    form = layui.form,
                    laydate = layui.laydate;
                let currentIndex = layer.index;
                form.render("select", "employee_post_form");
                laydate.render({
                    elem: "#work_date",
                    type: "date",
                    trigger: "click",
                    btns: ["now", "confirm"]
                });

                laydate.render({
                    elem: "#leave_date",
                    type: "date",
                    trigger: "click",
                    btns: ["now", "confirm"]
                });

                form.on("submit(post-history)", function (data) {
                    if (data.field.workDate > data.field.leaveDate) {
                        layer.msg("上岗时间大于离岗时间", {icon: 5});
                        return;
                    }
                    var loadingIndex = layer.load(2);
                    $.ajax({
                        url: "employee/postHistory/save",
                        type: "post",
                        dataType: "json",
                        data: {
                            employeePostJSON: JSON.stringify(data.field)
                        },
                        success: function (result, status, xhr) {
                            if (result.status === 200) {
                                layer.msg("保存历史岗位成功", {icon: 6});
                                requeryPostHistory();
                                layer.close(currentIndex);
                                return;
                            }
                            layer.msg(result.message, {icon: 5});
                        },
                        complete: function (xhr, status) {
                            layer.close(loadingIndex);
                        }
                    });
                    return false;
                });

            });
        </script>
    </body>
</html>