<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>历史岗位</title>

        <style type="text/css">
            .layui-dropdown{
                z-index: 200000000;
            }
        </style>
    </head>
    <body>
        <div class="layui-fluid" style="margin-top: 10px;" id="post-history-list">
            <form class="layui-form">
                <div class="layui-row">
                    <div class="layui-col-md10">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                            <i class="layui-icon">&#xe848;</i>
                        </div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                            <i class="layui-icon">&#xe79b;</i>
                        </div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                            <i class="layui-icon">&#xe875;</i>
                        </div>
                    </div>
                </div>
            </form>
            <table id="post_history_table" lay-filter="post_history_table"></table>
        </div>
        <script type="text/html" id="post_history_table_bar">
            {{# if(d.status == 1){ }}
            <a href='javascript:void(0);' class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>
            <a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' lay-event='delete'>删除</a>
            {{#  } }}
            <a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs' lay-event='view'>详情</a>
</script>

        <script th:inline="javascript">
            layui.use(["jquery", "layer", "util", "table", "common", "dropdown",'xadmin'], function () {
                let $ = layui.$,
                    xadmin = layui.xadmin,
                    layer = layui.layer,
                    table = layui.table,
                    util = layui.util,
                    common = layui.common,
                    dropdown = layui.dropdown;
                let employeeId = [[${employeeId}]];
                requeryPostHistory = function(sort){
                    var options = {
                        where: {
                            employeeId: employeeId,
                            keyword: $("#post-history-list .keyword").val().trim()
                        }
                    }
                    if (sort) {
                        // options.initSort = sort;
                        options.where.sortField = sort.field;
                        options.where.sortType = sort.type;
                    }
                    postHistoryTable.reload(options);
                }

                editPostHistory = function(id) {
                    var parameters = {};
                    if (id) {
                        parameters.id = id;
                    } else {
                        parameters.postHistoryJSON = JSON.stringify({employeeId: employeeId});
                    }
                    common.layerOpen(
                        "employee/postHistory/edit",
                        parameters,
                        {
                            title: "编辑历史岗位",
                            area : ["600px", "250px"],
                            btn: ["提交", "取消"],
                            yes: function(index, layero) {
                                $("#post-history-submit").click();
                                return false;
                            },
                            btn2: function(index, layero) {
                                var index = layer.getFrameIndex(window.name);
                                layer.close(index);
                            }
                        }
                    );
                }

                removePostHistory = function() {
                    var checkStatus = table.checkStatus("post_history_table");
                    if (checkStatus.data.length == 0) {
                        layer.msg("请选择需要删除的数据", {icon: 5});
                        return;
                    }
                    var ids = [];
                    $.each(checkStatus.data, function (index, data) {
                        ids.push(data.id);
                    });
                    deletePostHistory(ids);
                }

                deletePostHistory = function(ids) {
                    layer.confirm("确定删除吗？", {title: ""}, function (confirmIndex) {
                        layer.close(confirmIndex);
                        $.ajax({
                            url: "employee/postHistory/delete",
                            type: "post",
                            dataType: "json",
                            data: {"idsJSON": JSON.stringify(ids)},
                            success: function (result) {
                                if (result.status === 200){
                                    layer.msg("删除历史岗位成功", {icon: 6});
                                    requeryPostHistory();
                                }else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    });
                }

                viewPostHistory = function(id) {
                    common.layerOpen(
                        "employee/postHistory/view",
                        {
                            id: id
                        },
                        {
                            title: "查看历史岗位",
                            area : ["600px", "250px"]
                        }
                    );
                }
                let postHistoryTable = table.render({
                    elem: "#post_history_table",
                    cols: [
                        [
                            {
                                type: "checkbox",
                                align: "center"
                            },
                            {
                                title: "序号",
                                type: "numbers",
                                align: "center"
                            },
                            {
                                field: "postName",
                                title: "岗位",
                                align: "center",
                                sort: true,
                                minWidth: 100
                            },
                            {
                                field: "workDate",
                                title: "上岗时间",
                                align: "center",
                                width: 200,
                                templet: function (data) {
                                    return util.toDateString(data.workDate, "yyyy-MM-dd");
                                }
                            },
                            {
                                field: "leaveDate",
                                title: "离岗时间",
                                align: "center",
                                width: 200,
                                templet: function (data) {
                                    if (data.leaveDate) {
                                        return util.toDateString(data.leaveDate, "yyyy-MM-dd");
                                    }
                                    return "";
                                }
                            },
                            {
                                title: "操作",
                                align: "center",
                                width: 150,
                                fixed: "right",
                                toolbar: '#post_history_table_bar'
                            }
                        ]
                    ],
                    url: "employee/postHistory/getList",
                    method: "post",
                    parseData: function (result) {
                        xadmin.table.parseDataHandler(result);
                        return {
                            code: 0,
                            count: result.data.total,
                            data: result.data.list
                        };
                    },
                    where: {
                        employeeId: employeeId,
                        keyword: $("#post-history-list .keyword").val().trim()
                    },
                    autoSort: false
                });

                table.on("sort(post_history_table)", function (obj) {
                    requeryPostHistory(obj);
                });

                table.on("tool(post_history_table)", function (obj) {
                    if (obj.event === "edit") {
                        editPostHistory(obj.data.id);
                    }else if (obj.event === "delete") {
                        deletePostHistory([obj.data.id]);
                    }else if (obj.event === "view") {
                        viewPostHistory(obj.data.id);
                    }
                });

                $("#post-history-list .query").click(requeryPostHistory);

                $("#post-history-list .reset").click(function (event) {
                    $("#post-history-list .keyword").val("");
                    requeryPostHistory();
                });

                dropdown.render({
                    elem: $("#post-history-list .action-more"),
                    click: function (name, elem, event) {
                        if (name === "edit") {
                            editPostHistory();
                        }
                        if (name === "remove") {
                            removePostHistory();
                        }
                    },
                    options: [{
                        name: "edit",
                        title: "新增"
                    },{
                        name: "remove",
                        title: "删除"
                    }]
                });
            });
        </script>
    </body>
</html>