<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-provideProtectArticlesAccount" lay-title="防护用品台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="facility_maintenance_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">防护用品资质情况</li>
                            <li >个人防护用品发放情况</li>
                            <li>个人防护用品领用登记表</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="protect_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryProtect">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetProtect">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" id="downloadZipProtect">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="protectAccountTable" lay-filter="protectAccountTable" lay-data="{id: 'protectAccountTable'}"></table>
                            </div>

                            <div class="layui-tab-item ">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="provideReportYear" type="text" placeholder="请选择年度" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryProvideReportYear">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" id="downloadZipProvideReport">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="myTable">

                                    </div>
                                </form>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="provide_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryProvide">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetProvide">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" id="downloadZipProvideList">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="provide_table" lay-filter="provide_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

</script>
<script type="text/html" id="provide_table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

</script>
<script>
    layui.use(['jquery', 'layer', 'table','laydate', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            laydate = layui.laydate,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-provideProtectArticlesAccount'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'gmtCreate', type: 'desc'},
            tableIns,provideTableIns;
        // 日期组件
        laydate.render({
            elem: '#provideReportYear',
            type: 'year',
            value: new Date()
        });
        $("#myTable").load("provideProtectArticlesAccount/provideReportYear?year="+ $("#provideReportYear").val());
        /**
         * 防护用品统计
         */
        $('#queryProvideReportYear').on('click', function () {
            $("#myTable").load("provideProtectArticlesAccount/provideReportYear?year="+ $("#provideReportYear").val());
        });
        /**
         * 初始化数据表格
         */
        var tableInsNum=0;
        function initTable() {
            tableIns = xadmin.table.init({
                elem: '#protectAccountTable',
                id: 'protectAccountTable',
                url: ctx + 'protect/list',
                cols: [
                    [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'name', title: '防护用品名称', minWidth: 100,sort: true},
                    {field: 'model', title: '型号', width: 80},
                    {field: 'harmFactorName',title: '防护的危害因素',minWidth: 100 },
                    {field: 'description', title: '描述及备注', minWidth: 180, sort: true},

                    {
                        field: 'certificatePath', title: '合格证书', width: 160, templet: function (data) {
                            if (data.certificatePath) {
                                return "<a class='file-download' filePath='" + data.certificatePath + "'>" + data.certificatePath.substring(data.certificatePath.lastIndexOf("/") + 1) + "</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: 'image', title: '图片', width: 160, templet: function (data) {
                            if (data.image) {
                                return "<a class='file-download' filePath='" + data.image + "'>" + data.image.substring(data.image.lastIndexOf("/") + 1) + "</a>";
                            }
                            return "";
                        }
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#table_bar',
                        width: 80
                    }
                ]
                ],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);
                    tableInsNum = result.data.total;
                    return {
                        code: 0,
                        count: result.data.total,
                        data: result.data.rows
                    };
                }
            });
        };
        // 排序
        table.on('sort(protectAccountTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        // 监听作业场所table行事件（查看、编辑、删除）
        table.on('tool(protectAccountTable)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                xadmin.modal.view('查看防护用品信息', 'protect/viewProtect/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }


        });
        initTable();

        /**
         * 防护用品发放查询
         */
        $('#queryProtect').on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         *  防护用品发放刷新
         */
        $('#resetProtect').on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'desc';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });
        function getQueryParams() {
            return {
                keyword:  $("#protect_keyword").val()
            };
        }
        var provideTableInsNum=0;
        function initProvideTable() {
            provideTableIns = xadmin.table.init({
                elem:  '#provide_table',
                id: 'provide_table',
                url: ctx + 'protectArticles/list',
                cols: [
                    [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                     {field: 'provideArticlesName',title: '个人防护用品名称' , minWidth: 100, sort: true},
                        {field: 'number', title: '领用数量', width: 100, sort: true},
                    {field: 'employeeName', title: '领用人', width: 100,sort: true},
                    {field: 'provideDate', title: '领用日期',width: 120, sort: true,
                        templet: function(d) {
                            if (d.provideDate) {
                                return util.toDateString(d.provideDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }},

                    {
                        field: 'signatureRecord', title: '签名记录', width: 90, templet: function (data) {
                            if (data.signatureRecord) {
                                return "<a class='file-download' filePath='" + data.signatureRecord + "'><span class=\"layui-btn  layui-btn-xs\" >下载</span></a>";
                            }
                            return "";
                        }
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#table_bar',
                        width: 180
                    }
                ]
                ],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);
                    provideTableInsNum = result.data.total;
                    return {
                        code: 0,
                        count: result.data.total,
                        data: result.data.rows
                    };
                }
            });
        }
        // 排序
        table.on('sort(provide_table)', function (obj) {
            sortObject = obj;
            provideTableIns.reload({
                initSort: obj,
                where: $.extend(getQueryProvideParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        // 监听防护用品发放table行事件（查看、编辑、删除）
        table.on('tool(provide_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                xadmin.modal.view('查看防护用品发放信息', 'protectArticles/provide/viewProtect/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }

        });
        /**
         * 防护用品发放查询
         */
        $('#queryProvide').on('click', function () {
            var params = $.extend(getQueryProvideParams(), {field: sortObject.field, order: sortObject.type});
            provideTableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         *  防护用品发放刷新
         */
        $('#resetProvide').on('click', function () {
            $searchForm[2].reset();
            sortObject.type = 'desc';
            provideTableIns.reload({where: getQueryProvideParams(), page: {curr: 1}, initSort: sortObject});
        });
        function getQueryProvideParams() {
            return {
                keyword:  $("#provide_keyword").val()
            };
        }
        initProvideTable();
        // 多文件打包成zip下载
        window.downloadZip = function(fileName) {
            window.open("/healthResponsibilityAccount/downloadZip?fileName=" + fileName, "_blank");
        };

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadProtectArticles();
                }
                if (name === 'exportAccount') {
                    downloadProtectArticlesAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        //下载防护用品资质情况
        $("#downloadZipProtect").on("click",function(){
            if(tableInsNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/provideProtectArticlesAccount/downloadProtect';
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载个人防护用品发放情况
        $("#downloadZipProvideReport").on("click",function(){
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/provideProtectArticlesAccount/provideReport?year='+ $("#provideReportYear").val();
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载个人防护用品领用登记表
        $("#downloadZipProvideList").on("click",function(){
            if(provideTableInsNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/provideProtectArticlesAccount/provideList?provide_keyword='+$("#provide_keyword").val();
                window.open(url , "_blank");
                layer.close(index);
            });
        });

        //下载防护用品台账zip
        window.downloadProtectArticles = function() {
            if(tableInsNum==0&&provideTableInsNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/provideProtectArticlesAccount/protectAccount?year='+ $("#provideReportYear").val()+'&provide_keyword='+$("#provide_keyword").val();
                window.open(url , "_blank");
                layer.close(index);
            });
        }
        //下载防护用品台账文件
        window.downloadProtectArticlesAccount = function() {
            if(tableInsNum==0&&provideTableInsNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/provideProtectArticlesAccount/downloadProtectArticlesAccount?year='+ $("#provideReportYear").val()+'&provide_keyword='+$("#provide_keyword").val();
                window.open(url , "_blank");
                layer.close(index);
            });
        }
    });
</script>