<table class="layui-table">
    <thead>
    <tr >
        <!--<td style="width: 100px">车间</td>-->
        <td style="width: 80px">工种</td>
        <td style="width: 100px">工作场所</td>
        <td style="width: 45px">姓名</td>
        <td th:each="obj,iterStat:${rowsNum}" th:text="${obj}"></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trobj,iterStat:${returnList}">
        <!--<td  th:if="${trobj.name !=null}" th:text="${trobj.name}" th:rowspan="${trobj.num}"></td>-->
        <td  th:if="${trobj.postName !=null}" th:text="${trobj.postName}" th:rowspan="${trobj.postnum}"></td>
        <td  th:if="${trobj.postName !=null}" th:text="${trobj.workplaceName}" th:rowspan="${trobj.postnum}"></td>

        <td th:text="${trobj.employeeName}"></td>
        <td th:each="obj,iterStat2:${trobj.colList}" th:text="${obj}"></td>
    </tr>
    </tbody>
</table>