<div class="layui-fluid layui-anim xadmin-anim" id="ehs-admin-maintain" lay-title="系统维护">
    <form class="layui-form">
        <div class="layui-card">
            <div class="layui-card-body">
                <input type="hidden" id="id" th:value="${maintain?.id}">
                <input type="hidden" id="gmtCreate" th:value="${maintain?.gmtCreate}">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间：</label>
                        <div class="layui-input-inline">
                            <input id="starttime" class="layui-input laydate" type="text" autocomplete="off"
                                   th:value="${#dates.format(maintain?.starttime, 'yyyy-MM-dd HH:mm:ss')}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间：</label>
                        <div class="layui-input-inline">
                            <input id="endtime" class="layui-input laydate" type="text" autocomplete="off"
                                   th:value="${#dates.format(maintain?.endtime, 'yyyy-MM-dd HH:mm:ss')}"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-layer-btn" style="text-align: left;">
                        <a class="layui-layer-btn2" style="background-color: #FF5722;border-color: #FF5722;" onclick="clearData();">清除</a>
                        <a class="layui-layer-btn0" onclick="ok();">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    var $;
    var laydate;
    var layer;
    var form,xadmin;

    layui.use(['jquery', 'layer','xadmin'], function () {
        $ = layui.$;
        layer = layui.layer;
        xadmin = layui.xadmin;
    });

    layui.use(["form", "layer", "laydate"], function () {
        laydate = layui.laydate;
        form = layui.form;
        $(".laydate").each(function () {
            laydate.render({
                elem: this, //指定元素  表示当前的元素
                type: 'datetime', //date日期  time时间  year年  month月份
                trigger: "click",
                btns: ["now", "confirm"]
            });
        });
    });


    function ok() {
        var maintain = {
            id: $('#id').val()
        };
        if(!!$('#starttime').val()){
            maintain.starttime = $('#starttime').val();
        }
        if(!!$('#endtime').val()){
            maintain.endtime = $('#endtime').val();
        }

        $.ajax({
            url: '/maintain/save',
            type: 'post',
            dateType: 'json',
            data: maintain,
            success: function (result) {
                if (result.status === 'success') {
                    layer.msg(result.message, {icon: 6});
                    xadmin.view.tab.refresh("/maintain");
                } else {
                    layer.msg(result.message, {icon: 5});
                }
            },error:function(XMLHttpRequest, textStatus, errorThrown){
                layer.msg('保存失败', {icon: 5});
            }
        });
    }

    function clearData(){
        layer.confirm('确定删除数据吗？', function(index){
            $.ajax({
                url: '/maintain/delete',
                type: 'post',
                dataType: 'json',
                data: {id:  $('#id').val()},
                success: function (result) {
                    if (result.status === 'success'){
                        layer.msg(result.message, {icon: 6});
                        xadmin.view.tab.refresh("/maintain");
                    }else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            });
        });
    }
</script>
