<style>
    #add-employ-file {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="add-employ-file">
        <form id="add_employ_file_form" class="layui-form" lay-filter="add_employ_file_form">
            <input id="id" name="id" type="hidden" th:value="${enterpriseHygieneOrg?.id}" />
            <div class="layui-fluid">
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label xadmin-form-item-require">聘用书：</label>
                        <div class="layui-input-inline">
                            <input id="employFileName" placeholder="文件名" readonly class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-btn-container" style="width: auto;">
                            <button id="employFile_btn" type="button" class="layui-btn layui-btn-primary">
                                <i class="layui-icon layui-icon-upload"></i>上传文件
                            </button>
                            <input id="employFile_file" type="file" style="display: none;"  />
                        </div>
                    </div>
                </div>
                <div class="layui-row" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="add-employ-file-submit" lay-submit lay-filter="add-employ-file" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "layer"], function () {
        let $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        form.render("select", "add_employ_file_form");
        // 聘用书上传
        $('#employFile_btn').click(function (event) {
            $('#employFile_file').click();
        });
        $('#employFile_file').change(function (event) {
            if (this.files.length === 0) {
                $('#employFileName').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#employFileName').val(this.files[0].name);
        });
        form.on("submit(add-employ-file)", function (data) {
            var employFiles = $("#employFile_file").get(0).files;
            if (employFiles.length == 0) {
                layer.msg("聘用书未选择", {icon: 5});
                return;
            }
            var formData = new FormData();
            formData.append("enterpriseHygieneOrgJSON", JSON.stringify(data.field));
            if (employFiles.length != 0) {
                formData.append("employFile", employFiles[0]);
            }
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "hygieneOrg/save",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (result.status === 200) {
                        layer.msg("上传聘用书成功", {icon: 6});
                        requeryHygieneOrg();
                        parent.layer.close(currentIndex);
                        return;
                    }
                    layer.msg(result.message, {icon: 5});
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
            return false;
        });
    });
</script>
