<style>
            #hygieneOrg-edit .layui-form-label{
                width: 95px;
            }
            #hygieneOrg-edit .layui-input-block{
                margin-left: 125px;
            }
            #hygieneOrg-edit {
                padding: 20px 25px 25px 0;
            }
        </style>
<div class="layui-fluid" id="hygieneOrg-edit">
        <form id="enterprise_hygiene_org_form" class="layui-form" lay-filter="enterprise_hygiene_org_form">
            <input id="enterprise_hygiene_org_id" name="id" type="hidden" th:value="${enterpriseHygieneOrg?.id}" />
            <input id="enterprise_hygiene_org_employ_file" name="employFile" type="hidden" th:value="${enterpriseHygieneOrg?.employFile}" />
            <div class="layui-fluid">
                <div class="layui-form-item">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">管理者姓名：</label>
                        <div class="layui-input-block">
                            <input id="name" name="name" class="layui-input" lay-verify="required" lay-reqText="管理者姓名未填" type="text" placeholder="请输入管理者姓名" th:value="${enterpriseHygieneOrg?.name}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">部门：</label>
                        <div class="layui-input-block">
                            <input id="department" name="department" class="layui-input" lay-verify="required" lay-reqText="部门未填" type="text" placeholder="请输入部门" th:value="${enterpriseHygieneOrg?.department}" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">职务：</label>
                        <div class="layui-input-block">
                            <input id="job" name="job" class="layui-input" lay-verify="required" lay-reqText="职务未填" type="text" placeholder="请输入职务" th:value="${enterpriseHygieneOrg?.job}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">职责：</label>
                        <div class="layui-input-block">
                            <input id="duty" name="duty" class="layui-input" type="text" placeholder="请输入职责" th:value="${enterpriseHygieneOrg?.duty}" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">是否全职：</label>
                        <div class="layui-input-block">
                            <select id="is_fulltime" name="isFulltime" lay-verify="required" lay-reqText="是否全职未选" lay-search>
                                <option value="">请选择</option>
                                <option value="1" th:selected="${1 == enterpriseHygieneOrg?.isFulltime}">是</option>
                                <option value="0" th:selected="${0 == enterpriseHygieneOrg?.isFulltime}">否</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">聘用书：</label>

                        <div class="layui-input-inline">
                            <input id="employFileName" placeholder="文件名" readonly class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-btn-container" style="width: auto;">
                            <button id="employFile_btn" type="button" class="layui-btn layui-btn-primary">
                                <i class="layui-icon layui-icon-upload"></i>上传文件
                            </button>
                            <input id="employFile_file" type="file" style="display: none;"  />
                        </div>
                    </div>
                </div>
                <div class="layui-row" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="hygiene-org-submit" lay-submit lay-filter="hygiene-org" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
        <script th:inline="javascript">
            layui.use(["jquery", "form", "layer"], function () {
                let $ = layui.$,
                    layer = layui.layer,
                    form = layui.form;
                let currentIndex = layer.index;
                form.render("select", "enterprise_hygiene_org_form");

                // 如果是编辑，显示下载文件按钮
                if ($('#enterprise_hygiene_org_id').val()) {
                    // 文件名
                    if ($('#enterprise_hygiene_org_employ_file').val() != '') {
                        $('#employFileName').val($('#enterprise_hygiene_org_employ_file').val().substring($('#enterprise_hygiene_org_employ_file').val().lastIndexOf('/') + 1));
                    }
                    $('#employFile_file').after('<button type="button" id="employFile_download" class="layui-btn layui-btn-primary">下载文件</button>');
                }
                // 年度计划文件上传
                $('#employFile_btn').click(function (event) {
                    $('#employFile_file').click();
                });
                $('#employFile_file').change(function (event) {
                    if (this.files.length === 0) {
                        $('#employFileName').val('');
                        return;
                    }
                    // 限制上传文件大小最大为20MB
                    var fileSize = this.files[0].size;
                    if (fileSize > 20*1024*1024) {
                        layer.msg('上传文件大小不能超过20MB', {icon: 5});
                        // 允许同一个文件重复上传
                        this.value = '';
                        return;
                    }
                    $('#employFileName').val(this.files[0].name);
                });
                // 下载上传文件
                $('#employFile_download').click(function (event) {
                    var filePath = $('#enterprise_hygiene_org_employ_file').val();
                    if (filePath == '') {
                        layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                        return false;
                    } else {
                        window.open("/downloadFile?filePath=" + filePath, "_blank");
                        return false;
                    }
                });

                form.on("submit(hygiene-org)", function (data) {
                    var employFiles = $("#employFile_file").get(0).files;
                    var formData = new FormData();
                    formData.append("enterpriseHygieneOrgJSON", JSON.stringify(data.field));
                    if (employFiles.length != 0) {
                        formData.append("employFile", employFiles[0]);
                    }
                    var loadingIndex = parent.layer.load(2);
                    $.ajax({
                        url: "hygieneOrg/save",
                        type: "post",
                        dataType: "json",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (result, status, xhr) {
                            if (result.status === 200) {
                                layer.msg("保存职业卫生组织成功", {icon: 6});
                                requeryHygieneOrg();
                                parent.layer.close(currentIndex);
                                return;
                            }
                            layer.msg(result.message, {icon: 5});
                        },
                        complete: function (xhr, status) {
                            layer.close(loadingIndex);
                        }
                    });
                    return false;
                });
            });
        </script>
