<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-harmFactor" lay-title="管理组织">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full" id="hygiene-org-list">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="hygiene-org-list-table" lay-filter="hygiene-org-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "table", "layer", "common", 'xadmin', "dropdown"], function () {
        let $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form,
            common = layui.common,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown;
        requeryHygieneOrg = function(sort){
            var options = {
                where: {
                    keyword: $("#hygiene-org-list .keyword").val().trim(),
                }
            }
            if (sort) {
                // options.initSort = sort;
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            hygieneOrgTable.reload(options);
        }

        addHygieneOrg = function(id) {
            common.layerOpen(
                "hygieneOrg/edit",
                {
                    id: id
                },
                {
                    title: "新增职业卫生组织信息",
                    area : ["650px", "380px"],
                    btn: ["提交", "重置"],
                    yes: function(index, layero) {
                        $("#hygiene-org-submit").click();
                        return false;
                    },
                    btn2: function(index, layero) {
                        $("#enterprise_hygiene_org_form")[0].reset();
                        return false;
                    }
                }
            );
        }

        editHygieneOrg = function(id) {
            common.layerOpen(
                "hygieneOrg/edit",
                {
                    id: id
                },
                {
                    title: "编辑职业卫生组织信息",
                    area : ["650px", "380px"],
                    btn: ["提交", "取消"],
                    yes: function(index, layero) {
                        $("#hygiene-org-submit").click();
                        return false;
                    }
                }
            );
        }

        viewHygieneOrg = function(id) {
            common.layerOpen(
                "hygieneOrg/view",
                {
                    id: id
                },
                {
                    title: "查看职业卫生组织信息",
                    area : ["650px", "380px"]
                }
            );
        }

        removeHygieneOrg = function() {
            var checkStatus = table.checkStatus("hygiene-org-list-table");
            if (checkStatus.data.length == 0) {
                layer.msg("请选择需要删除的数据", {icon: 5});
                return;
            }
            var flag = true;
            var ids = [];
            layui.each(checkStatus.data, function (key, item) {
                if (item.managerTrainingNum != 0) {
                    xadmin.alert.warn('有管理组织已被培训记录添加，不能删除');
                    flag = false;
                    return true;
                }
                ids.push(item.id);
            });
            if (flag) {
                deleteHygieneOrg(ids);
            }
        }

        deleteHygieneOrg = function(ids) {
            layer.confirm("确定删除职业卫生组织吗？", {title: ""}, function (index) {
                $.ajax({
                    url: "hygieneOrg/delete",
                    type: "post",
                    dataType: "json",
                    data: {"idsJSON": JSON.stringify(ids)},
                    success: function (result) {
                        if (result.status == "success"){
                            layer.msg("删除职业卫生组织成功", {icon: 6});
                            requeryHygieneOrg();
                        }else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }

        certificate = function(hygieneOrgId) {
            common.layerOpen(
                "hygieneOrg/certificate",
                {
                    hygieneOrgId: hygieneOrgId
                },
                {
                    title: "职业卫生组织资质证书",
                    area : ["900px", "550px"]
                }
            );
        }

        // 上传聘用书
        addEmployFile = function(id) {
            common.layerOpen(
                "hygieneOrg/addEmployFile",
                {
                    id: id
                },
                {
                    title: "上传聘用书",
                    area : $(window).width() <= 750 ? '95%' : '50%',
                    btn: ["提交", "重置"],
                    yes: function(index, layero) {
                        $("#add-employ-file-submit").click();
                        return false;
                    },
                    btn2: function(index, layero) {
                        $("#add_employ_file_form")[0].reset();
                        return false;
                    }
                }
            );
        }

        let hygieneOrgTable = table.render({
            elem: "#hygiene-org-list-table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "管理者姓名",
                        align: "center",
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: "department",
                        title: "部门",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "job",
                        title: "职务",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "duty",
                        title: "职责",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "isFulltime",
                        title: "是否全职",
                        align: "center",
                        sort: true,
                        width: 110,
                        templet: function (data) {
                            var isFulltime = "";
                            if (data.isFulltime === 0) {
                                isFulltime = "否";
                            } else if (data.isFulltime === 1) {
                                isFulltime = "是";
                            }
                            return isFulltime;
                        }
                    },
                    {
                        field: "employFile",
                        title: "聘用书",
                        align: "center",
                        width: 160,
                        templet: function (data) {
                            if (data.employFile) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.employFile + "'>下载</a>";
                            } else {
                                return "<a href='javascript:void(0);' onclick='addEmployFile(" + data.id + ")'>"
                                    + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少聘用书</span>"
                                    + "</a>";
                            }
                        }
                    },
                    {
                        field: "certificateNum",
                        title: "资质证书",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='certificate(" + data.id + ")'>"
                                + (data.certificateNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: 160,
                        fixed: "right",
                        toolbar: "<div><a href='javascript:void(0);' class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a><a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' lay-event='delete'>删除</a><a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs' lay-event='view'>详情</a></div>"
                    }
                ]
            ],
            url: "hygieneOrg/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                keyword: $("#hygiene-org-list .keyword").val().trim()
            },
            autoSort: false
        });
        table.on("sort(hygiene-org-list-table)", function (obj) {
            requeryHygieneOrg(obj);
        });

        table.on("tool(hygiene-org-list-table)", function (obj) {
            if (obj.event === "edit") {
                editHygieneOrg(obj.data.id);
            }else if (obj.event === "delete") {
                if (obj.data.managerTrainingNum != 0) {
                    xadmin.alert.warn('该管理组织已被培训记录添加，不能删除');
                    return;
                }
                deleteHygieneOrg([obj.data.id]);
            }else if (obj.event === "view") {
                viewHygieneOrg(obj.data.id);
            }
        });

        $("#hygiene-org-list .query").click(requeryHygieneOrg);

        $("#hygiene-org-list .reset").click(function (event) {
            $("#hygiene-org-list .keyword").val("");
            requeryHygieneOrg();
        });

        dropdown.render({
            elem: $("#hygiene-org-list .action-more"),
            click: function (name, elem, event) {
                if (name === "add") {
                    addHygieneOrg();
                }
                if (name === "remove") {
                    removeHygieneOrg();
                }
            },
            options: [{
                name: "add",
                title: "新增"
            },{
                name: "remove",
                title: "删除"
            }]
        });
    });
</script>