<style>
    #hygiene-view .layui-form-label{
        width: 95px;
    }
    #hygiene-view .layui-input-block{
        margin-left: 125px;
    }
    #hygiene-view {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="hygiene-view">
        <form id="enterprise_hygiene_org_form" class="layui-form" lay-filter="enterprise_hygiene_org_form">
            <input id="enterprise_hygiene_org_id" type="hidden" th:value="${enterpriseHygieneOrg?.id}" />
            <input id="enterprise_hygiene_org_employ_file" type="hidden" th:value="${enterpriseHygieneOrg?.employFile}" />
            <div class="layui-fluid">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">管理者姓名：</label>
                        <div class="layui-input-block">
                            <input id="name" readonly class="layui-input required" type="text" th:value="${enterpriseHygieneOrg?.name}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">职务：</label>
                        <div class="layui-input-block">
                            <input id="job" readonly class="layui-input format-number required" type="text" th:value="${enterpriseHygieneOrg?.job}" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">职责：</label>
                        <div class="layui-input-block">
                            <input id="duty" readonly class="layui-input required" type="text" th:value="${enterpriseHygieneOrg?.duty}" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">是否全职：</label>
                        <div class="layui-input-block">
                            <input id="is_fulltime" readonly class="layui-input required" type="text" th:value="${enterpriseHygieneOrg?.isFulltime == 1 ? '是' : '否'}" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">聘用书：</label>
                        <div class="layui-input-block">
                            <div id="employ_file_name" class="layui-form-mid">
                                <a class="file-download" th:if="${enterpriseHygieneOrg?.employFile}" th:attr="filePath = ${enterpriseHygieneOrg?.employFile}" th:text="${enterpriseHygieneOrg?.employFile.substring(enterpriseHygieneOrg?.employFile.lastIndexOf('/') + 1)}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
        <script th:inline="javascript">
            layui.use(["form"], function () {
                let form = layui.form;
            });
        </script>
