<style type="text/css">
    #enterprise-add .layui-form-label {
        width: 155px;
    }

    #enterprise-add .layui-input-block {
        margin-left: 185px;
    }
    .tangram-suggestion-main {
        z-index: 999999999999999;
    }
</style>
<div class="layui-fluid" id="enterprise-add">
    <form id="enterprise_form" class="layui-form" lay-filter="enterprise-edit-form">
        <input id="enterprise_id" name="id" type="hidden" th:value="${enterpriseBaseinfo?.id}"/>
        <div class="layui-fluid" style="padding: 20px 25px 25px 0;">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label  xadmin-form-item-require">企业名称：</label>
                    <div class="layui-input-block">
                        <input id="name" name="name" class="layui-input" lay-verify="required" lay-reqText="企业名称未填"
                               type="text" placeholder="请输入企业名称" th:value="${enterpriseBaseinfo?.name}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require">企业注册地址：</label>
                    <div class="layui-input-block">
                        <input id="address" name="address" class="layui-input" lay-verify="required"
                               lay-reqText="企业注册地址未填" type="text" placeholder="请输入企业注册地址"
                               th:value="${enterpriseBaseinfo?.address}"/>
                        <input id="enterprise_address_hidden" name="address_hidden" class="layui-input" type="hidden"
                               th:value="${enterpriseBaseinfo?.address}"/>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">经度：</label>
                    <div class="layui-input-block">
                        <input id="enterprise_longitude" name="longitude" class="layui-input" lay-verify="required"
                               lay-reqText="经度不能为空" type="text" placeholder="请输入经度"
                               th:value="${enterpriseBaseinfo?.longitude}"/>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">纬度：</label>
                    <div class="layui-input-block">
                        <input id="enterprise_latitude" name="latitude" class="layui-input" lay-verify="required"
                               lay-reqText="纬度不能为空" type="text" placeholder="请输入纬度"
                               th:value="${enterpriseBaseinfo?.latitude}"/>
                    </div>
                </div>
            </div>


            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">法定代表人：</label>
                    <div class="layui-input-block">
                        <input id="represent_name" name="representName" class="layui-input" lay-verify="required"
                               lay-reqText="法定代表人未填" type="text" placeholder="请输入法定代表人"
                               th:value="${enterpriseBaseinfo?.representName}"/>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">法定代表人联系电话：</label>
                    <div class="layui-input-block">
                        <input id="represent_phone" name="representPhone" class="layui-input"
                               lay-verify="required" lay-reqText="法定代表人联系电话未填" type="text"
                               placeholder="请输入法定代表人联系电话" th:value="${enterpriseBaseinfo?.representPhone}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">负责人：</label>
                    <div class="layui-input-block">
                        <input id="duty_name" name="dutyName" class="layui-input" lay-verify="required"
                               lay-reqText="负责人未填" type="text" placeholder="请输入负责人"
                               th:value="${enterpriseBaseinfo?.dutyName}"/>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">负责人联系电话：</label>
                    <div class="layui-input-block">
                        <input id="duty_phone" name="dutyPhone" class="layui-input" lay-verify="required"
                               lay-reqText="负责人联系电话未填" type="text" placeholder="请输入负责人联系电话"
                               th:value="${enterpriseBaseinfo?.dutyPhone}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label">建厂时间：</label>
                    <div class="layui-input-block">
                        <input id="build_date" name="buildDate" class="layui-input"
                               type="text" placeholder="请输入建厂时间"
                               th:value="${#dates.format(enterpriseBaseinfo?.buildDate, 'yyyy-MM-dd')}"/>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">注册类型：</label>
                    <div class="layui-input-block">
                        <select id="register_type" name="registerType" lay-verify="required" lay-reqText="注册类型未选"
                                lay-search>
                            <option value="">请选择注册类型</option>
                            <option value="国有企业" th:selected="${'国有企业' == enterpriseBaseinfo?.registerType}">国有企业</option>
                            <option value="集体企业" th:selected="${'集体企业' == enterpriseBaseinfo?.registerType}">集体企业</option>
                            <option value="股份合作企业" th:selected="${'股份合作企业' == enterpriseBaseinfo?.registerType}">股份合作企业</option>
                            <option value="联营企业" th:selected="${'联营企业' == enterpriseBaseinfo?.registerType}">联营企业</option>
                            <option value="有限责任公司" th:selected="${'有限责任公司' == enterpriseBaseinfo?.registerType}">有限责任公司</option>
                            <option value="股份有限公司" th:selected="${'股份有限公司' == enterpriseBaseinfo?.registerType}">股份有限公司</option>
                            <option value="私营企业" th:selected="${'私营企业' == enterpriseBaseinfo?.registerType}">私营企业</option>
                            <option value="其他企业" th:selected="${'其他企业' == enterpriseBaseinfo?.registerType}">其他企业</option>
                            <option value="港、澳、台商投资企业" th:selected="${'港、澳、台商投资企业' == enterpriseBaseinfo?.registerType}">港、澳、台商投资企业</option>
                            <option value="外商投资企业" th:selected="${'外商投资企业' == enterpriseBaseinfo?.registerType}">外商投资企业</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">涉害程度：</label>
                    <div class="layui-input-block">
                        <select id="harm_degree" name="harmDegree" lay-verify="required" lay-reqText="涉害程度未选"
                                lay-search>
                            <option value="">请选择涉害程度</option>
                            <option value="一般" th:selected="${'一般' == enterpriseBaseinfo?.harmDegree}">一般</option>
                            <option value="较重" th:selected="${'较重' == enterpriseBaseinfo?.harmDegree}">较重</option>
                            <option value="严重" th:selected="${'严重' == enterpriseBaseinfo?.harmDegree}">严重</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">涉害职工总人数：</label>
                    <div class="layui-input-block">
                        <input id="harm_total_number" name="harmTotalNumber" class="layui-input"
                                type="text" placeholder="请输入涉害职工总人数" lay-verify="number"
                               th:value="${enterpriseBaseinfo?.harmTotalNumber}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label">涉害女工人数：</label>
                    <div class="layui-input-block">
                        <input id="harm_woman_number" name="harmWomanNumber" class="layui-input"
                               type="text" placeholder="请输入涉害女工人数" lay-verify="number"
                               th:value="${enterpriseBaseinfo?.harmWomanNumber}"/>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">涉害农民工人数：</label>
                    <div class="layui-input-block">
                        <input id="harm_farmer_number" name="harmFarmerNumber" class="layui-input"
                               type="text" placeholder="请输入涉害农民工人数" lay-verify="number"
                               th:value="${enterpriseBaseinfo?.harmFarmerNumber}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">是否存在高毒作业场所：</label>
                    <div class="layui-input-block">
                        <select id="is_highly_toxic" name="isHighlyToxic" lay-verify="required"
                                lay-reqText="是否存在高毒作业场所未选" lay-search>
                            <option value="">请选择</option>
                            <option value="0" th:selected="${0 == enterpriseBaseinfo?.isHighlyToxic}">否</option>
                            <option value="1" th:selected="${1 == enterpriseBaseinfo?.isHighlyToxic}">是</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">所属城市：</label>
                    <div class="layui-input-block">
                        <input id="city" name="city" class="layui-input" lay-verify="required" lay-reqText="所属城市未填"
                               type="text" placeholder="请输入所属城市" th:value="${enterpriseBaseinfo?.city}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">更新方式：</label>
                    <div class="layui-input-block">
                        <select id="update_way" name="updateWay" lay-verify="required" lay-reqText="更新方式未选" lay-search lay-filter="update-way">
                            <option value="">请选择更新方式</option>
                            <option value="自动" th:selected="${'自动' == enterpriseBaseinfo?.updateWay}">自动</option>
                            <option value="手动" th:selected="${'手动' == enterpriseBaseinfo?.updateWay}">手动</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require" id="update_frequency_label">更新周期：</label>
                    <div class="layui-input-block">
                        <input id="update_frequency" name="updateFrequency" class="layui-input"
                               type="text" placeholder="请输入更新周期（天）" lay-verify="number"
                               th:value="${enterpriseBaseinfo?.updateFrequency}"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">是否同步局端：</label>
                    <div class="layui-input-block">
                        <select id="sync_auth" name="syncAuth" lay-verify="required" lay-reqText="是否同步局端未选" lay-search lay-filter="sync-auth">
                            <option value="0" th:selected="${'0' == enterpriseBaseinfo?.syncAuth}">否</option>
                            <option value="1" th:selected="${'1' == enterpriseBaseinfo?.syncAuth}">是</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--/*
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label">上次更新时间：</label>
                    <div class="layui-input-block">
                        <input id="last_update_time" readonly class="layui-input" type="text" th:value="${#dates.format(enterpriseBaseinfo?.lastUpdateTime, 'yyyy-MM-dd HH:mm:ss')}" />
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label">最后登录时间：</label>
                    <div class="layui-input-block">
                        <input id="last_use_time" readonly class="layui-input" type="text" th:value="${#dates.format(enterpriseBaseinfo?.lastUseTime, 'yyyy-MM-dd HH:mm:ss')}" />
                    </div>
                </div>
            </div>
            */-->
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label">企业图标：</label>
                    <div class="layui-input-block">
                        <button id="enterprise_icon_btn" type="button" class="layui-btn"><i
                                class="layui-icon layui-icon-upload"></i>上传文件
                        </button>
                        <input type="hidden" class="layui-input" name="icon" th:value="${enterpriseBaseinfo?.icon}">
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <img th:if=" ${enterpriseBaseinfo?.icon != null &amp;&amp; enterpriseBaseinfo?.icon != ''}" id="enterprise_icon_img"
                             th:src="${'/downloadFile?filePath=' + enterpriseBaseinfo?.icon}"
                             style="width: auto;height: 150px"/>
                        <img th:if=" ${enterpriseBaseinfo?.icon == null || enterpriseBaseinfo?.icon == ''}" id="enterprise_icon_img"
                             style="width: auto;height: 150px" src="/xadmin/images/zwtp.png"/>
                    </div>
                </div>
            </div>

           <!-- <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label">检测、监测点示意图：</label>
                    <div class="layui-input-block">
                        <button id="hint_picture_btn" type="button" class="layui-btn"><i
                                class="layui-icon layui-icon-upload"></i>上传文件
                        </button>
                        <input type="hidden" class="layui-input" name="hintPicture"
                               th:value="${enterpriseBaseinfo?.hintPicture}">
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <img th:if="${enterpriseBaseinfo?.hintPicture != null &amp;&amp; enterpriseBaseinfo?.hintPicture != ''}" id="enterprise_hint_picture"
                             th:src="${'/downloadFile?filePath=' + enterpriseBaseinfo?.hintPicture}"
                             style="width: auto;height: 150px"/>
                        <img th:if="${enterpriseBaseinfo?.hintPicture == null || enterpriseBaseinfo?.hintPicture == ''}" id="enterprise_hint_picture"
                             style="width: auto;height: 150px" src="/xadmin/images/zwtp.png"/>
                    </div>
                </div>
            </div>-->

            <div class="layui-form-item xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="enterprise-edit-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>

        </div>
    </form>
</div>
<!--  百度地图 脚本  -->
<script>
    //建立一个自动完成的对象
    var ac = new BMap.Autocomplete({"input": "address"});

    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        var myvalue = _value.province + _value.city + _value.district + _value.street + _value.business;


        // 创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上，并调整地图视野
        myGeo.getPoint(myvalue, function (point) {
                if (point) {
                    document.getElementById("enterprise_longitude").value = point.lng;
                    document.getElementById("enterprise_latitude").value = point.lat;
                }
            },
            _value.city);
    });
    ac.setInputValue(document.getElementById("enterprise_address_hidden").value);
</script>

<script th:inline="javascript">
    layui.use(["laydate", 'upload', 'validate'], function () {
        let currentIndex = layer.index;
        let $ = layui.$,
            form = layui.form,
            upload = layui.upload,
            validate = layui.validate,
            laydate = layui.laydate;


        form.verify(validate);
        form.render("select");
        laydate.render({
            elem: "#build_date",
            type: "date",
            trigger: "click",
            btns: ["now", "confirm"]
        });

        form.on("submit(enterprise-edit-form-submit)", function (data) {

            //当更新方式为手动的时候，判断更新周期是否为空
            if($("#update_way").val() == "自动" && $("#update_frequency").val() == ""){
                layer.msg('更新周期不能为空', {icon: 5});
                return false;
            }

            var loadingIndex = layer.load(2);
            $.ajax({
                url: "enterprise/save",
                type: "post",
                dataType: "json",
                data: data.field,
                success: function (result, status, xhr) {
                    if (result.status === 200) {
                        layer.msg("保存企业信息成功", {icon: 6});
                        layer.close(currentIndex);
                        requeryEnterprise();
                        return;
                    }
                    layer.msg(result.message, {icon: 5});
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
            return false;
        });


        //企业图标上传
        var loadIndex;
        upload.render({
            elem: '#enterprise_icon_btn',
            url: ctx + 'enterprise/file/upload',
            field: "file",
            accept: 'images',
            acceptMime: 'image/*',
            before: function (obj) {
                //预读本地文件示例，不支持ie8/9
                obj.preview(function (index, file, result) {
                    $('#enterprise_icon_img').attr('src', result); //图片链接（base64）
                });
                loadIndex = layer.load(2); //添加laoding,0-2两种方式
            },
            done: function (res) {
                //如果上传失败
                if (res.status == 500) {
                    layer.close(loadIndex);
                    return layer.msg('上传失败');
                } else {
                    layer.close(loadIndex);
                    layer.msg("上传成功", {time: 1000}, function () {
                        $("input[name='icon']").val(res.data.url);
                    })
                }
            }
        })


        //监测点示意图上传
       /* upload.render({
            elem: '#hint_picture_btn',
            url: ctx + 'enterprise/file/upload',
            field: "file",
            accept: 'images',
            acceptMime: 'image/!*',
            before: function (obj) {
                //预读本地文件示例，不支持ie8/9
                obj.preview(function (index, file, result) {
                    $('#enterprise_hint_picture').attr('src', result); //图片链接（base64）
                });
                loadIndex = layer.load(2); //添加laoding,0-2两种方式
            },
            done: function (res) {
                //如果上传失败
                if (res.status == 500) {
                    layer.close(loadIndex);
                    return layer.msg('上传失败');
                } else {
                    layer.close(loadIndex);
                    layer.msg("上传成功", {time: 1000}, function () {
                        $("input[name='hintPicture']").val(res.data.url);
                    })
                }
            }
        })*/

       //监听更新方式值
       form.on('select(update-way)',function(data){
            var updateWay = data.value;
            if(updateWay == '手动'){
                $("#update_frequency_label").removeClass("xadmin-form-item-require");
            }

           if(updateWay == '自动'){
               $("#update_frequency_label").addClass("xadmin-form-item-require");
           }
       })

    });
</script>
</body>
</html>