<div class="layui-fluid  " id="xadmin-admin-harmFactor" lay-title="企业管理">
    <div class="layui-rowlayui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " id="enterprise-list">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="enterprise-list-table" lay-filter="enterprise-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "table", "layer", "util", "common", "dropdown","xadmin"], function () {
        let $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            xadmin = layui.xadmin,
            form = layui.form,
            util = layui.util,
            common = layui.common,
            dropdown = layui.dropdown;
        form.render();
        requeryEnterprise = function(sort){
            var options = {
                where: {
                    keyword: $("#enterprise-list .keyword").val().trim(),
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            enterpriseTable.reload(options);
        }

        var editEnterprise = function(id) {
            xadmin.modal.open('编辑企业', 'enterprise/edit/'+id, {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '70%',
                data:{
                    "id" : id
                },
                yes: function (index, layero) {
                    $('#enterprise-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#enterprise-add').find('#reset').trigger('click');
                    return false;
                }
            });
        }

        var viewEnterprise = function(id) {
            common.layerOpen(
                "enterprise/view",
                {
                    id: id
                },
                {
                    title: "查看企业信息",
                    area : ["800px", "550px"]
                }
            );
        }

        var enableEnterprise = function(enable) {
            var checkStatus = table.checkStatus("enterprise-list-table");
            if (checkStatus.data.length == 0) {
                layer.msg("请勾选需要" + (enable ? "启用" : "禁用") + "的数据", {icon: 5});
                return;
            }
            var ids = [];
            $.each(checkStatus.data, function (index, data) {
                ids.push(data.id);
            });
            var loadingIndex = layer.load(2);
            $.ajax({
                url: "enterprise/enable",
                type: "post",
                dataType: "json",
                data: {idsJSON: JSON.stringify(ids), enable: enable},
                success: function (result, status, xhr) {
                    if (result.status === "success") {
                        layer.msg((enable ? "启用" : "禁用") + "成功", {icon: 6});
                        requeryEnterprise();
                        return;
                    }
                    layer.msg(result.message, {icon: 5});
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }
        let enterpriseTable = table.render({
            elem: "#enterprise-list-table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "企业名称",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "city",
                        title: "所属城市",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "harmDegree",
                        title: "涉害程度",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "dutyName",
                        title: "负责人",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "updateWay",
                        title: "更新方式",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "updateFrequency",
                        title: "更新周期（天）",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "lastUpdateTime",
                        title: "上次更新时间",
                        align: "center",
                        sort: true,
                        width: 160,
                        templet: function (data) {
                            if (data.lastUpdateTime) {
                                return util.toDateString(data.lastUpdateTime, "yyyy-MM-dd HH:mm:ss");
                            }
                            return "";
                        }
                    },
                    {
                        field: "lastUseTime",
                        title: "最后登录时间",
                        align: "center",
                        sort: true,
                        width: 160,
                        templet: function (data) {
                            if (data.lastUseTime) {
                                return util.toDateString(data.lastUseTime, "yyyy-MM-dd HH:mm:ss");
                            }
                            return "";
                        }
                    },
                    {
                        field: "status",
                        title: "状态",
                        align: "center",
                        sort: true,
                        width: 90,
                        templet: function (data) {
                            var status = "";
                            if (data.status === 0) {
                                status = "已启用";
                            } else if (data.status === 1) {
                                status = "已禁用";
                            }
                            return status;
                        }
                    },
                    {
                        title: "操作",
                        minWidth: 120,
                        align: "center",
                        toolbar: "<div><a href='javascript:void(0);' class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a><a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs'  lay-event='view'>详情</a></div>"
                    }
                ]
            ],
            url: "enterprise/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                keyword: $("#enterprise-list .keyword").val().trim()
            },
            autoSort: false,
            done: function (res, curr, count) {
                $.each(res.data, function (index, data) {
                    if(data.isOverdue){
                        $("div[lay-id='enterprise-list-table'] table.layui-table tbody tr[data-index='" + index + "']").css("color", "red");
                    }
                });
            }
        });

        table.on("sort(enterprise-list-table)", function (obj) {
            requeryEnterprise(obj);
        });

        table.on("tool(enterprise-list-table)", function (obj) {
            if (obj.event === "edit") {
                editEnterprise(obj.data.id);
            }else if ((obj.event === "view")) {
                viewEnterprise(obj.data.id);
            }
        });

        $("#enterprise-list .query").click(requeryEnterprise);

        $("#enterprise-list .reset").click(function (event) {
            $("#enterprise-list .keyword").val("");
            requeryEnterprise();
        });

        dropdown.render({
            elem: $("#enterprise-list .action-more"),
            click: function (name, elem, event) {
                if (name === "edit") {
                    xadmin.modal.open('新增企业', 'enterprise/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '70%',
                        yes: function (index, layero) {
                            $('#enterprise-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#enterprise-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === "disable") {
                    enableEnterprise(false);
                }
                if (name === "enable") {
                    enableEnterprise(true);
                }
                if(name === "transfer"){
                    //同步数据到局端
                    var checkStatus = table.checkStatus("enterprise-list-table");
                    if (checkStatus.data.length == 0) {
                        layer.msg("请勾选需要同步的企业", {icon: 5});
                        return;
                    }
                    var ids = [];
                    var result = false;
                    $.each(checkStatus.data, function (index, data) {
                        if(data.status == 1){
                            result = true;
                            return false;

                        }
                        ids.push(data.id);
                    });

                    if(result){
                        layer.msg("勾选的企业中包含已禁用的企业", {icon: 5});
                        return false;
                    }

                    var loadingIndex = layer.load(2);
                    $.ajax({
                        url: "enterprise/transfer",
                        type: "post",
                        dataType: "json",
                        data: {idsJSON: JSON.stringify(ids)},
                        success: function (result, status, xhr) {
                            if (result.status === 200) {
                                layer.msg("同步成功", {icon: 6});
                                return;
                            }
                            layer.msg(result.message, {icon: 5});
                        },
                        complete: function (xhr, status) {
                            layer.close(loadingIndex);
                        }
                    });


                }
            },
            options: [{
                name: "edit",
                title: "新增"
            },{
                name: "disable",
                title: "禁用"
            },{
                name: "enable",
                title: "启用"
            },{
                name: "transfer",
                title: "同步局端数据"
            }]
        });
    });
</script>