<style>
    #edit-year-training-plan {
        padding: 20px 25px 25px 0;
    }
    #training_plan_form .layui-form-label {
        width: 175px;
    }
    #training_plan_form .layui-input-block {
        margin-left: 205px;
    }
</style>
<div class="layui-fluid" id="edit-year-training-plan">
    <form id="training_plan_form" class="layui-form" lay-filter="training-plan-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseYearPlan?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseYearPlan?.enterpriseId}">
        <input id="plan" name="planFile" type="hidden" th:value="${enterpriseYearPlan?.planFile}" />
        <input id="planType" name="planType" type="hidden" th:value="${enterpriseYearPlan?.planType}" />
        <input type="hidden" id="admin_train_time" th:value="${enterpriseYearPlan?.adminTrainTime}" />
        <input type="hidden" id="employee_train_time" th:value="${enterpriseYearPlan?.employeeTrainTime}" />
        <div class="layui-form-item" id="year_div">
            <label class="layui-form-label xadmin-form-item-require">年度：</label>
            <div class="layui-input-block">
                <input type="text" id="year" name="year" readonly th:value="${enterpriseYearPlan?.year}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">管理员培训时长(人均)：</label>
            <div class="layui-input-block">
                <input type="text" id="adminTrainTime" name="adminTrainTime" placeholder="请输入管理员培训时长（小时）"
                       th:value="${enterpriseYearPlan?.adminTrainTime}" class="layui-input" lay-verify="required|number">
                </div>
            </div>
        <div class="layui-form-item">
        <label class="layui-form-label xadmin-form-item-require">普通员工培训时长(人均)：</label>
        <div class="layui-input-block">
            <input type="text" id="employeeTrainTime" name="employeeTrainTime" placeholder="请输入普通员工培训时长（小时）"
                   th:value="${enterpriseYearPlan?.employeeTrainTime}" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">计划文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="training_plan_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="training_plan_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="training-plan"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#plan').val() != '') {
                $('#filePath').val($('#plan').val().substring($('#plan').val().lastIndexOf('/') + 1));
            }
            $('#training_plan_file').after('<button type="button" id="training_plan_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 年度培训计划文件上传
        $('#training_plan_btn').click(function (event) {
            $('#training_plan_file').click();
        });
        $('#training_plan_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(training-plan)', function(data) {
            var enterpriseYearPlan = {};
            $.each($("#training_plan_form input[name],select[name]"), function (index, element) {
                enterpriseYearPlan[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseYearPlan) {
                // 检查文件
                var planFiles = $("#training_plan_file")[0].files;
                if (!$("#plan").val() && planFiles.length == 0) {
                    layer.msg("计划文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseYearPlanJSON", JSON.stringify(enterpriseYearPlan));
                if (planFiles.length != 0) {
                    formData.append("planFile", planFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'yearplan/editYearplan/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryYearTrainingPlan($('#year').val());
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#training_plan_download').click(function (event) {
            var filePath = $('#plan').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>