<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-training-plan" lay-title="培训计划">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: auto;">
                        <label class="layui-form-label" style="width: 30px;">年度</label>
                        <input id="training_plan_year" type="text" placeholder="请选择年度" class="layui-input" style="width: 70%;"/>
                    </div>
                </div>
            </form>
            <div class="year-plan-type">
                <div class="layui-elem-quote">
                    <h2>宣传教育培训计划</h2>
                </div>
                <div class="year-plan-edit-mul" id="training">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-training-plan .year-plan-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-training-plan .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-training-plan h2 {
        font-size: 18px;
    }
    #ehs-enterprise-training-plan .year-plan-edit-mul {
        padding: 10px 15px;
        line-height: 23px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 30px;
        overflow: hidden;
    }
    #ehs-enterprise-training-plan .edit {
        float: right;
    }
    #ehs-enterprise-training-plan .file-download {
        display: inline-block;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 3px;
    }
    #ehs-enterprise-training-plan .plan-text {
        margin-top: 3px;
    }
    #ehs-enterprise-training-plan a:link {
        color: #1183FF;
    }
    #ehs-enterprise-training-plan a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'laydate', 'form', 'xadmin', 'element'], function() {
        var $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form,
            xadmin = layui.xadmin,
            element = layui.element;
        // 日期组件
        laydate.render({
            elem: '#training_plan_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearTrainingPlan(value);
            }
        });
        // 首次进入页面
        $(function() {
            $.ajax({
                url: 'yearplan/listYearTrainingPlans',
                type: 'post',
                dataType: 'json',
                data: {year: new Date().getFullYear()},
                success: function (result) {
                    let data = result.data;
                    if (data['xcjy']) {
                        var data3 = data['xcjy'],
                            data9 = data['trainingAdmin'],
                            data10 = data['trainingEmployee'];
                        // 计算培训完成率
                        let adminTrainRate = 100,
                            employeeTrainRate = 100;
                        if (data3.adminTrainTime != 0 && data9.adminNum != 0) {
                            adminTrainRate = parseInt(data9.totalAdminTrainingDuration / data9.adminNum / data3.adminTrainTime * 100);
                            if (adminTrainRate > 100) {
                                adminTrainRate = 100;
                            }
                        }
                        if (data3.employeeTrainTime != 0 && data10.employeeNum != 0) {
                            employeeTrainRate = parseInt(data10.totalEmployeeTrainingDuration / data10.employeeNum / data3.employeeTrainTime * 100);
                            if (employeeTrainRate > 100) {
                                employeeTrainRate = 100;
                            }
                        }
                        let html = '<div class="layui-row">'
                            + '<div class="layui-col-md6 xadmin-takerates" style="padding-right: 20px;">'
                            + '<div class="layui-progress" lay-filter="employee-train-rate" lay-showPercent="true"><h3>普通员工培训完成率</h3>'
                            + '<div class="layui-progress-bar" lay-percent="0%"></div>'
                            + '</div></div>'
                            + '<div class="layui-col-md6 xadmin-takerates">'
                            + '<div class="layui-progress" lay-filter="admin-train-rate" lay-showPercent="true"><h3>管理员培训完成率</h3>'
                            + '<div class="layui-progress-bar" lay-percent="0%"></div>'
                            + '</div></div></div>'
                            + '<div class="layui-row" style="margin-top: 15px;">'
                            + '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data3.fileName + '"'
                            + ' filePath="' + data3.planFile + '">'
                            + data3.fileName + '</a>'
                            + '<a href="javascript:void(0);" class="edit" onclick="editTrainingPlan(' + data3.id + ',\'xcjy\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a></div>';
                        $('#training').html(html);
                        // 员工培训完成率进度条渲染
                        element.render('progress', 'employee-train-rate');
                        element.render('progress', 'admin-train-rate');
                        // 源码350ms修改，所以这里加个定时修改操作，时间大于350ms
                        window.setTimeout(function () {
                            element.progress('employee-train-rate', employeeTrainRate + '%');
                            element.progress('admin-train-rate', adminTrainRate + '%');
                        }, 500);
                    } else {
                        let html = '<a href="javascript:void(0);" class="edit" onclick="addTrainingPlan(\'xcjy\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#training').html(html);
                    }
                }
            });
        });
        // 查询
        window.requeryYearTrainingPlan = function(year) {
            $.ajax({
                url: 'yearplan/listYearTrainingPlans',
                type: 'post',
                dataType: 'json',
                data: {year: year},
                success: function (result) {
                    let data = result.data;
                    if (data && data['xcjy']) {
                        var data3 = data['xcjy'],
                            data9 = data['trainingAdmin'],
                            data10 = data['trainingEmployee'];
                        // 计算培训完成率
                        let adminTrainRate = 100,
                            employeeTrainRate = 100;
                        if (data9.adminNum != 0 && data3.adminTrainTime != 0) {
                            adminTrainRate = parseInt(data9.totalAdminTrainingDuration / data9.adminNum / data3.adminTrainTime * 100);
                            if (adminTrainRate > 100) {
                                adminTrainRate = 100;
                            }
                        }
                        if (data10.employeeNum != 0 && data3.employeeTrainTime != 0) {
                            employeeTrainRate = parseInt(data10.totalEmployeeTrainingDuration / data10.employeeNum / data3.employeeTrainTime * 100);
                            if (employeeTrainRate > 100) {
                                employeeTrainRate = 100;
                            }
                        }
                        let html = '<div class="layui-row">'
                            + '<div class="layui-col-md6 xadmin-takerates" style="padding-right: 20px;">'
                            + '<div class="layui-progress" lay-filter="employee-train-rate" lay-showPercent="true"><h3>普通员工培训完成率</h3>'
                            + '<div class="layui-progress-bar" lay-percent="0%"></div>'
                            + '</div></div>'
                            + '<div class="layui-col-md6 xadmin-takerates">'
                            + '<div class="layui-progress" lay-filter="admin-train-rate" lay-showPercent="true"><h3>管理员培训完成率</h3>'
                            + '<div class="layui-progress-bar" lay-percent="0%"></div>'
                            + '</div></div></div>'
                            + '<div class="layui-row" style="margin-top: 15px;">'
                            + '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data3.fileName + '"'
                            + ' filePath="' + data3.planFile + '">'
                            + data3.fileName + '</a>'
                            + '<a href="javascript:void(0);" class="edit" onclick="editTrainingPlan(' + data3.id + ',\'xcjy\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a></div>';
                        $('#training').html(html);
                        // 员工培训完成率进度条渲染
                        element.render('progress', 'employee-train-rate');
                        element.render('progress', 'admin-train-rate');
                        // 源码350ms修改，所以这里加个定时修改操作，时间大于350ms
                        window.setTimeout(function () {
                            element.progress('employee-train-rate', employeeTrainRate + '%');
                            element.progress('admin-train-rate', adminTrainRate + '%');
                        }, 360);
                    } else {
                        let html = '<a href="javascript:void(0);" class="edit" onclick="addTrainingPlan(\'xcjy\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#training').html(html);
                    }
                }
            });
        }
        // 新增
        window.addTrainingPlan = function(type) {
            var title = '新增';
            if (type == 'xcjy') {
                title += '培训计划';
            }
            xadmin.modal.open(title, "yearplan/addYearplan/" + type + "/" + $('#training_plan_year').val().trim(), {
                btn: ['提交', '重置'],
                area: '700px',
                yes: function (index, layero) {
                    $('#edit-year-training-plan').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-year-training-plan').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 编辑
        window.editTrainingPlan = function(id, type) {
            var title = '编辑';
            if (type == 'xcjy') {
                title += '培训计划';
            }
            xadmin.modal.open(title, "yearplan/editYearplan/" + id + "/" + type, {
                btn: ['提交', '取消'],
                area: '700px',
                yes: function (index, layero) {
                    $('#edit-year-training-plan').find('#submit').trigger('click');
                    return false;
                }
            });
        }
    });
</script>