<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-check-result-account">
    <div class="layui-collapse" th:each="checkResult,checkResultStat : ${checkResultList}">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" th:text="${checkResult.harmFactorName}"></h2>
            <div class="layui-colla-content layui-show" th:attr="id=checkResultAccount+${checkResult.harmFactorId}">
                <form class="layui-form">
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                <i class="layui-icon">&#xe848;</i>
                            </div>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                <i class="layui-icon">&#xe79b;</i>
                            </div>
                        </div>
                    </div>
                </form>
                <table th:attr="id=accountTable+${checkResultStat.index}, lay-filter=accountTable+${checkResultStat.index}"></table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', "element"], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            element = layui.element;
        element.render("collapse");
        form.render();
        // 企业外部检测id
        var outsideCheckId = [[${outsideCheckId}]];
        // 遍历div，生成table的数据
        $('#xadmin-enterprise-check-result-account').find("div[id^='checkResultAccount']").each(function (index, element) {
            let harmFactorId = $(element).attr('id').slice(18);
            // 检测结果台账table
            let checkResultAccountTable = table.render({
                elem: "#accountTable" + index,
                cols: [
                    [
                        {
                            title: "序号",
                            type: "numbers",
                            align: "center"
                        },
                        {
                            field: "workplaceName",
                            title: "作业场所",
                            align: "center",
                            sort: true,
                            minWidth: 110
                        },
                        {
                            field: "monitorPointName",
                            title: "监测点",
                            align: "center",
                            sort: true,
                            minWidth: 100
                        },
                        {
                            field: "postName",
                            title: "涉及岗位",
                            align: "center",
                            sort: true,
                            minWidth: 110
                        },
                        {
                            field: 'mac',
                            title: 'MAC(mg/m³)',
                            align: 'center',
                            sort: true,
                            minWidth: 130
                        },
                        {
                            field: 'twa',
                            title: 'PC-TWA(mg/m³)',
                            align: 'center',
                            sort: true,
                            minWidth: 150
                        },
                        {
                            field: 'stel',
                            title: 'PC-STEL(mg/m³)',
                            align: 'center',
                            sort: true,
                            minWidth: 150
                        },
                        {
                            field: 'overLimitMultiple',
                            title: '超限倍数',
                            align: 'center',
                            sort: true,
                            minWidth: 110
                        },
                        {
                            title: '检测结果',
                            align: 'center',
                            minWidth: 100,
                            templet: function (data) {
                                return "<a href='javascript:void(0);' onclick='checkResultDetailAccount(" + data.id  + ")'>"
                                    + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                            }
                        },
                        {
                            field: "isQualified",
                            title: "判定结果",
                            align: "center",
                            sort: true,
                            minWidth: 110
                        }
                    ]
                ],
                url: "outsideCheck/checkResult/listCheckResults",
                method: "post",
                request: {
                    pageName: 'pageNum',
                    limitName: 'pageSize'
                },
                page: true,
                limits: [10, 20, 30, 40, 50],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);

                    return {
                        code: 0,
                        count: result.data.totalNum,
                        data: result.data.enterpriseOutsideCheckResults
                    };
                },
                where: {
                    outsideCheckId: outsideCheckId,
                    harmFactorId: harmFactorId
                },
                autoSort: false
            });
            // 排序
            table.on('sort(accountTable' + index + ')', function (obj) {
                requeryOutsideResultAccount(obj);
            });
            // 查询
            $("#checkResultAccount" + harmFactorId + " .query").click(function (event) {
                requeryOutsideResultAccount();
            });
            // 重置
            $("#checkResultAccount" + harmFactorId + " .reset").click(function (event) {
                $("#checkResultAccount" + harmFactorId + " .keyword").val("");
                requeryOutsideResultAccount();
            });
            function requeryOutsideResultAccount(sort) {
                let options = {
                    page: {
                        curr: 1 //重新从第1页开始
                    },
                    where: {
                        keyword: $("#checkResultAccount" + harmFactorId + " .keyword").val().trim()
                    }
                }
                if (sort) {
                    options.where.sortField = sort.field;
                    options.where.sortType = sort.type;
                }
                checkResultAccountTable.reload(options);
            }
        });
        // 检测结果详细台账
        window.checkResultDetailAccount = function(checkResultId) {
            xadmin.modal.open("检测结果详细","monitorCheck/checkResultAccount/detail/" + checkResultId,{
                area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
            });
        }
    });
</script>