<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-check-result-consistence">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="check_result_consistence_table" lay-filter="check_result_consistence_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 检测结果id
    var checkResultId = [[${checkResultId}]];
    layui.use(['jquery', 'layer', 'table','xadmin'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            table = layui.table;
        // 检测地点、浓度table
        var checkResultConsistenceTable = table.render({
            elem: "#check_result_consistence_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "place",
                        title: "检测地点",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "consistence",
                        title: "检测浓度",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    }
                ]
            ],
            url: "outsideCheck/checkResult/consistence/listConsistences",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.enterpriseCheckResultConsistences
                };
            },
            where: {
                checkResultId: checkResultId
            }
        });
    });
</script>