<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-check-result-detail-account">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="check_result_detail_account_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="check_result_detail_account_table" lay-filter="check_result_detail_account_table"></table>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            $view = $('#xadmin-enterprise-check-result-detail-account'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        form.render();
        // 检测结果id
        var checkResultId = [[${checkResultId}]];
        // 检测结果详细台账table
        var  checkResultDetailAccountTable = table.render({
            elem: "#check_result_detail_account_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "contactTime",
                        title: "接触时间（h）",
                        align: "center",
                        sort: true,
                        minWidth: 150,
                        templet: function(d) {
                            if (d.status == 0) {
                                return d.contactTime;
                            }
                            return '-';
                        }
                    },
                    {
                        field: "checkResult",
                        title: "检测结果",
                        align: "center",
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.status == 0) {
                                return d.checkResult;
                            }
                            return '取消检测';
                        }
                    },
                    {
                        field: "unit",
                        title: "单位",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function(d) {
                            if (d.status == 0) {
                                return d.unit;
                            }
                            return '-';
                        }
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: 160,
                        templet: function (data) {
                            if (data.status == 0) {
                                return '-';
                            }
                            return '<a class="layui-btn layui-btn-primary layui-btn-xs" onclick="viewCancelReason(' + data.id + ')">取消原因</a>';
                        }
                    }
                ]
            ],
            url: "outsideCheck/checkResult/detail/listCheckResultDetails",
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseCheckResultDetails
                };
            },
            where: {
                keyword: $('#check_result_detail_account_keyword').val().trim(),
                checkResultId: checkResultId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(check_result_detail_account_table)', function (obj) {
            requeryCheckResultDetailAccount(obj);
        });
        // 查询
        window.requeryCheckResultDetailAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#check_result_detail_account_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            checkResultDetailAccountTable.reload(options);
        }
        $query.on('click', function() {
            requeryCheckResultDetailAccount();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryCheckResultDetailAccount();
        });
        // 取消原因
        window.viewCancelReason = function (id) {
            xadmin.modal.open("取消检测原因",'outsideCheck/checkResult/detail/cancelReason/' + id,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>