<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-monitor-check-account" lay-title="检测台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="health_responsibility_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">职业病危害因素监测、检测点分布示意图</li>
                            <li>日常监测记录</li>
                            <li>危害因素检测记录</li>
                            <li>检测机构</li>
                            <li>工作场所监测结果汇总</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="schematic_diagram_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="querySchematicDiagram">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetSchematicDiagram">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="schematic_diagram_account_table" lay-filter="schematic_diagram_account_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="inside_monitor_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryInsideMonitor">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetInsideMonitor">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadInsideMonitor();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="inside_monitor_table" lay-filter="inside_monitor_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="outside_check_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryOutsideCheck">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetOutsideCheck">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载打包文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadOutsideCheck();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="outside_check_table" lay-filter="outside_check_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="check_institution_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryCheckInstitution">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetCheckInstitution">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadCheckInstitution();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="check_institution_table" lay-filter="check_institution_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="waitCheckAccount_startDate" type="text" placeholder="开始时间" class="layui-input"/>
                                                </div>
                                                <div class="layui-input-inline">
                                                    <input id="waitCheckAccount_endDate" type="text" placeholder="结束时间" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryWaitCheckAccount">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetWaitCheckAccount">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadWaitCheckAccount();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="wait_check_account_table" lay-filter="wait_check_account_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 监测、检测点示意图table行查看示意图 -->
<script type="text/html" id="schematic_diagram_account_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            laydate = layui.laydate,
            $view = $('#xadmin-enterprise-monitor-check-account'),
            $querySchematicDiagram = $view.find('#querySchematicDiagram'),
            $queryInsideMonitor = $view.find('#queryInsideMonitor'),
            $queryOutsideCheck = $view.find('#queryOutsideCheck'),
            $queryCheckInstitution = $view.find('#queryCheckInstitution'),
            $queryWaitCheckAccount = $view.find('#queryWaitCheckAccount'),
            $resetSchematicDiagram = $view.find('#resetSchematicDiagram'),
            $resetInsideMonitor = $view.find('#resetInsideMonitor'),
            $resetOutsideCheck = $view.find('#resetOutsideCheck'),
            $resetCheckInstitution = $view.find('#resetCheckInstitution'),
            $resetWaitCheckAccount = $view.find('#resetWaitCheckAccount'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 工作场所检测结果汇总，时间筛选(开始时间和结束时间)
        laydate.render({
            elem: '#waitCheckAccount_startDate',
            type: 'date'
        });
        laydate.render({
            elem: '#waitCheckAccount_endDate',
            type: 'date'
        });
        // 初始化开始时间和结束时间
        $('#waitCheckAccount_startDate').val(new Date().getFullYear() + "-01-01");
        $('#waitCheckAccount_endDate').val(new Date().getFullYear() + "-12-31");
        // 日常监测和外部检测的数目，检测机构数目
        var insideMonitorNum = '',
            outsideCheckNum = '',
            checkInstitutionNum = '',
            waitCheckNum = '';
        // 监测、检测点示意图table
        var schematicDiagramAccountTable = table.render({
            elem: "#schematic_diagram_account_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "示意图",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "描述",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#schematic_diagram_account_bar',
                        width: 90
                    }
                ]
            ],
            url: "schematicDiagram/listSchematicDiagrams",
            method: "post",
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseRelationFiles
                }
            },
            where: {
                relationModule: '监测、检测点示意图',
                keyword: $('#schematic_diagram_keyword').val().trim()
            },
            autoSort: false
        });
        // 监听监测、检测点示意图table行事件（查看）
        table.on('tool(schematic_diagram_account_table)', function(obj) {
            var data = obj.data;
            if (obj.event === 'view') {
                xadmin.modal.open("监测、检测点示意图","monitorCheck/viewSchematicDiagram/" + data.id,{
                    area: $(window).width() <= 750 ? '95%' : '50%'
                });
            }
        });
        // 监测、检测点示意图table排序
        table.on('sort(schematic_diagram_account_table)', function (obj) {
            requerySchematicDiagramAccount(obj);
        });
        // 查询监测、检测点示意图table
        window.requerySchematicDiagramAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#schematic_diagram_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            schematicDiagramAccountTable.reload(options);
        }
        $querySchematicDiagram.on('click', function() {
            requerySchematicDiagramAccount();
        });
        // 重置刷新
        $resetSchematicDiagram.on('click', function () {
            $searchForm[0].reset();
            requerySchematicDiagramAccount();
        });

        // 日常监测table
        var insideMonitorTable = table.render({
            elem: '#inside_monitor_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'monitorDate',
                        title: '监测日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.monitorDate) {
                                return util.toDateString(d.monitorDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'monitorPointName',
                        title: '监测点名称',
                        align: 'center',
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: 'workplaceName',
                        title: '作业场所',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'harmFactorName',
                        title: '职业危害因素',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'limitValue',
                        title: '接触限值',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'monitorPeriod',
                        title: '监测周期',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'monitorResult',
                        title: '监测结果',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    }
                ]
            ],
            url: 'insideMonitor/listInsideMonitors',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                insideMonitorNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInsideMonitors
                };
            },
            autoSort: false
        });
        // 日常监测排序
        table.on('sort(inside_monitor_table)', function (obj) {
            requeryInsideMonitorAccount(obj);
        });
        // 日常监测table查询
        window.requeryInsideMonitorAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#inside_monitor_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            insideMonitorTable.reload(options);
        }
        $queryInsideMonitor.on('click', function() {
            requeryInsideMonitorAccount();
        });
        // 日常监测table重置刷新
        $resetInsideMonitor.on('click', function () {
            $searchForm[1].reset();
            requeryInsideMonitorAccount();
        });

        // 危害因素检测table
        var outsideCheckTable = table.render({
            elem: '#outside_check_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'checkDate',
                        title: '检测日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.checkDate) {
                                return util.toDateString(d.checkDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'checkOrganizationName',
                        title: '检测机构',
                        align: 'center',
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: 'checkReport',
                        title: '检测报告书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.checkReport) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.checkReport + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '检测结果',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='checkResultAccount(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    },
                ]
            ],
            url: 'outsideCheck/listOutsideChecks',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                outsideCheckNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseOutsideChecks
                };
            },
            autoSort: false
        });
        // 危害因素检测table排序
        table.on('sort(outside_check_table)', function (obj) {
            requeryOutsideCheckAccount(obj);
        });
        // 危害因素检测table查询
        window.requeryOutsideCheckAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#outside_check_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            outsideCheckTable.reload(options);
        }
        $queryOutsideCheck.on('click', function() {
            requeryOutsideCheckAccount();
        });
        // 危害因素检测table重置刷新
        $resetOutsideCheck.on('click', function () {
            $searchForm[2].reset();
            requeryOutsideCheckAccount();
        });

        // 检测机构table
        var checkInstitutionTable = table.render({
            elem: '#check_institution_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'name',
                        title: '机构名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150,
                    },
                    {
                        field: 'contacts',
                        title: '机构联系人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'mobilePhone',
                        title: '机构联系电话',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'type',
                        title: '机构类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'contract',
                        title: '机构合同',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.contract) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.contract + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '机构相关证书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='checkInstitutionCertificate(" + data.id + ",\"机构相关证书\")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    }
                ]
            ],
            url: 'inspectionInstitution/listInstitutionsByType',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                checkInstitutionNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInspectionInstitutions
                };
            },
            where: {
                type: '检测机构'
            },
            autoSort: false
        });
        // 检测机构table排序
        table.on('sort(check_institution_table)', function (obj) {
            requeryCheckInstitutionAccount(obj);
        });
        // 检测机构table查询
        window.requeryCheckInstitutionAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#check_institution_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            checkInstitutionTable.reload(options);
        }
        $queryCheckInstitution.on('click', function() {
            requeryCheckInstitutionAccount();
        });
        // 检测机构table重置刷新
        $resetCheckInstitution.on('click', function () {
            $searchForm[3].reset();
            requeryCheckInstitutionAccount();
        });

        // 工作场所监测结果汇总table
        var waitCheckAccountTable = table.render({
            elem: '#wait_check_account_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center",
                        rowspan: 2
                    },
                    {
                        field: 'harmFactorName',
                        title: '职业病危害因素名称',
                        align: 'center',
                        sort: true,
                        minWidth: 180,
                        rowspan: 2
                    },
                    {
                        title: '测定岗位',
                        align: 'center',
                        minWidth: 490,
                        colspan: 5
                    },
                    {
                        title: '测定点',
                        align: 'center',
                        minWidth: 490,
                        colspan: 5
                    },
                    {
                        title: '职业接触限值',
                        align: 'center',
                        minWidth: 440,
                        colspan: 4
                    },
                    {
                        field: 'remark',
                        title: '备注',
                        align: 'center',
                        sort: true,
                        minWidth: 100,
                        rowspan: 2
                    },
                ],
                [
                    {
                        field: 'postShouldCheckNum',
                        title: '应测',
                        align: 'center',
                        sort: true,
                        minWidth: 90
                    },
                    {
                        field: 'postActualCheckNum',
                        title: '实测',
                        align: 'center',
                        sort: true,
                        minWidth: 90,
                        templet: function (data) {

                            if ( data.postActualCheckNum) {
                                return data.postActualCheckNum;
                            }else{
                                return 0;
                            }

                        }
                    },
                    {
                        title: '监测率%',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            if (data.postShouldCheckNum > 0) {
                                return parseInt(data.postActualCheckNum / data.postShouldCheckNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'postQualifiedNum',
                        title: '合格',
                        align: 'center',
                        sort: true,
                        minWidth: 90,
                        templet: function (data) {

                            if ( data.postQualifiedNum) {
                                return data.postQualifiedNum;
                            }else{
                                return 0;
                            }

                        }
                    },
                    {
                        title: '合格率%',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            if (data.postActualCheckNum > 0) {
                                return parseInt(data.postQualifiedNum / data.postActualCheckNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        title: '应测',
                        align: 'center',
                        sort: true,
                        minWidth: 90,
                        templet: function (data) {
                            // 监测点应测数目 = 实测 + 未测
                            let pointShouldCheckNum =  data.pointNotCheckNum
                            return pointShouldCheckNum;
                        }
                    },
                    {
                        field: 'pointActualCheckNum',
                        title: '实测',
                        align: 'center',
                        sort: true,
                        minWidth: 90,
                        templet: function (data) {

                            if ( data.pointActualCheckNum) {
                                return data.pointActualCheckNum;
                            }else{
                                return 0;
                            }

                        }
                    },
                    {
                        title: '监测率%',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            let pointShouldCheckNum =  data.pointNotCheckNum;
                            if (pointShouldCheckNum > 0) {
                                return parseInt(data.pointActualCheckNum / pointShouldCheckNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'pointQualifiedNum',
                        title: '合格',
                        align: 'center',
                        sort: true,
                        minWidth: 90,
                        templet: function (data) {
                            if ( data.pointQualifiedNum) {
                                return data.pointQualifiedNum;
                            }else{
                                return 0;
                            }

                        }
                    },
                    {
                        title: '合格率%',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            if (data.pointActualCheckNum > 0) {
                                return parseInt(data.pointQualifiedNum / data.pointActualCheckNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'mac',
                        title: 'MAC',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'twa',
                        title: 'PC-TWA',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'stel',
                        title: 'PC-STEL',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'overLimitMultiple',
                        title: '超限倍数',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    }
                ]
            ],
            url: 'waitCheck/listWaitCheckAccounts',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                waitCheckNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseWaitChecks
                };
            },
            where: {
                startDate: $("#waitCheckAccount_startDate").val().trim(),
                endDate: $("#waitCheckAccount_endDate").val().trim()
            },
            autoSort: false
        });
        // 工作场所监测结果汇总table排序
        table.on('sort(wait_check_account_table)', function (obj) {
            requeryWaitCheckAccount(obj);
        });
        // 工作场所监测结果汇总table查询
        window.requeryWaitCheckAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    startDate: $("#waitCheckAccount_startDate").val().trim(),
                    endDate: $("#waitCheckAccount_endDate").val().trim()
                },
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            waitCheckAccountTable.reload(options);
        }
        $queryWaitCheckAccount.on('click', function() {
            requeryWaitCheckAccount();
        });
        // 工作场所监测结果汇总table重置刷新
        $resetWaitCheckAccount.on('click', function () {
            // 初始化开始时间和结束时间
            $('#waitCheckAccount_startDate').val(new Date().getFullYear() + "-01-01");
            $('#waitCheckAccount_endDate').val(new Date().getFullYear() + "-12-31");
            requeryWaitCheckAccount();
        });

        // 检测结果
        window.checkResultAccount = function(outsideCheckId) {
            xadmin.modal.open("检测结果","monitorCheck/checkResultAccount/" + outsideCheckId,{
                area: [$(window).width() <= 750 ? '95%' : '85%', $(window).height() <= 500 ? '85%' : '70%']
            });
        }
        // 机构相关证书详细
        window.checkInstitutionCertificate = function(relationId, relationModule) {
            xadmin.modal.open("机构相关证书","monitorCheck/checkInstitutionCertificate/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadMonitorCheck();
                }
                if (name === 'exportAccount') {
                    downloadMonitorCheckAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 日常监测记录word下载
        window.downloadInsideMonitor = function() {
            if (insideMonitorNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/monitorCheckAccount/downloadInsideMonitor?enterpriseId=" + enterpriseId+"&inside_monitor_keyword="+$("#inside_monitor_keyword").val() , "_blank");
                    layer.close(index);
                });
            }
        }
        // 危害因素危害因素检测记录word下载
        window.downloadOutsideCheck = function() {
            if (outsideCheckNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/monitorCheckAccount/downloadOutsideCheck?enterpriseId=" + enterpriseId+"&outside_check_keyword="+$("#outside_check_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
        // 检测机构word下载
        window.downloadCheckInstitution = function() {
            if (checkInstitutionNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/monitorCheckAccount/downloadCheckInstitution?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 工作场所监测结果汇总word下载
        window.downloadWaitCheckAccount = function() {
            if (waitCheckNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/monitorCheckAccount/downloadWaitCheckAccount?enterpriseId=" + enterpriseId
                        + "&startDate=" + $("#waitCheckAccount_startDate").val().trim()
                        + "&endDate=" + $("#waitCheckAccount_endDate").val().trim(), "_blank");
                    layer.close(index);
                });
            }
        }
        // 检测台账zip下载
        window.downloadMonitorCheck = function() {
            if (insideMonitorNum == '' && outsideCheckNum == '' && checkInstitutionNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/monitorCheckAccount/downloadMonitorCheck?enterpriseId=" + enterpriseId
                        + "&startDate=" + $("#waitCheckAccount_startDate").val().trim()
                        + "&endDate=" + $("#waitCheckAccount_endDate").val().trim()+"&inside_monitor_keyword="+$("#inside_monitor_keyword").val()+"&outside_check_keyword="+$("#outside_check_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
        // 检测台账文件下载
        window.downloadMonitorCheckAccount = function() {
            if (insideMonitorNum == '' && outsideCheckNum == '' && checkInstitutionNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/monitorCheckAccount/downloadMonitorCheckAccount?enterpriseId=" + enterpriseId+"&inside_monitor_keyword="+$("#inside_monitor_keyword").val()+"&outside_check_keyword="+$("#outside_check_keyword").val() , "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>