<style>
    #edit-schematic-diagram {
        padding: 20px 25px 25px 0;
    }
    #edit-schematic-diagram .layui-form-label {
        width: 150px;
    }
    #edit-schematic-diagram .layui-input-block {
        margin-left: 180px;
    }
</style>
<div class="layui-fluid" id="edit-schematic-diagram">
    <form id="schematic_diagram_form" class="layui-form" lay-filter="schematic_diagram_form">
        <input type="hidden" id="schematicDiagramName" name="fileName" th:value="${enterpriseRelationFile?.fileName}">
        <input type="hidden" id="schematicDiagram" name="filePath" th:value="${enterpriseRelationFile?.filePath}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">示意图描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" readonly th:value="${enterpriseRelationFile?.description}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测、检测点示意图：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="示意图名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" id="schematic_diagram_download" class="layui-btn layui-btn-primary">下载示意图</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 文件名
        if ($('#schematicDiagram').val() != '') {
            $('#filePath').val($('#schematicDiagramName').val());
        }
        // 下载上传文件
        $('#schematic_diagram_download').click(function (event) {
            var filePath = $('#schematicDiagram').val();
            if (filePath == '') {
                layer.msg('没有已上传的示意图，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>