<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-education-training-account" lay-title="培训台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="health_responsibility_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">培训记录</li>
                            <li>培训机构</li>
                            <li>管理员培训信息</li>
                            <li>管理员年度培训报表</li>
                            <li>普通员工年度培训报表</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="training_account_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTrainingAccount">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTrainingAccount">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadTrainingAccount();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="training_account_table" lay-filter="training_account_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="training_institution_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTrainingInstitution">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTrainingInstitution">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadTrainingInstitution();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="training_institution_table" lay-filter="training_institution_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="training_admin_account_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTrainingAdminAccount">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTrainingAdminAccount">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadTrainingAdminAccount();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="training_admin_account_table" lay-filter="training_admin_account_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="training_admin_year" type="text" placeholder="请选择年度" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadTrainingAdminYear();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="training_admin_year_table" lay-filter="training_admin_year_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="training_employee_year" type="text" placeholder="请选择年度" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadTrainingEmployeeYear();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="training_employee_year_table" lay-filter="training_employee_year_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'laydate', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            laydate = layui.laydate,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-education-training-account'),
            $queryTrainingAccount = $view.find('#queryTrainingAccount'),
            $queryTrainingInstitution = $view.find('#queryTrainingInstitution'),
            $queryTrainingAdminAccount = $view.find('#queryTrainingAdminAccount'),
            $resetTrainingAccount = $view.find('#resetTrainingAccount'),
            $resetTrainingInstitution = $view.find('#resetTrainingInstitution'),
            $resetTrainingAdminAccount = $view.find('#resetTrainingAdminAccount'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 培训记录，培训机构，培训人员信息的数目
        var trainingNum = '',
            trainingInstitutionNum = '',
            trainingAdminNum = '';
        // 日期组件
        laydate.render({
            elem: '#training_admin_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearTrainingAdmin(value);
            }
        });
        laydate.render({
            elem: '#training_employee_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearTrainingEmployee(value);
            }
        });

        // 培训记录table
        var trainingAccountTable = table.render({
            elem: '#training_account_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'type',
                        title: '人员类型',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            var type = '';
                            if (d.type === 0) {
                                type = '普通员工';
                            } else if (d.type === 1) {
                                type =  '管理员';
                            }
                            return type;
                        }
                    },
                    {
                        field: 'trainingDate',
                        title: '培训时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            if (d.trainingDate) {
                                return util.toDateString(d.trainingDate);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'duration',
                        title: '培训时长(h)',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '培训人数',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            if (d.type === 0) {
                                return d.trainingEmployeeNum;
                            } else if (d.type === 1) {
                                return d.trainingAdminNum;
                            }
                            return 0;
                        }
                    },
                    {
                        field: 'place',
                        title: '培训地点',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'theme',
                        title: '培训主题',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'lecturer',
                        title: '讲授人',
                        align: 'center',
                        sort: true,
                        minWidth: 90
                    },
                    {
                        title: '参加培训的人员',
                        align: 'center',
                        minWidth: 130,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='trainingStaffDetail(" + data.id + "," + data.type + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    },
                    {
                        field: 'attendanceSheet',
                        title: '签到表',
                        align: 'center',
                        minWidth: 80,
                        templet: function (data) {
                            if (data.attendanceSheet) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.attendanceSheet + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '其它培训证明资料',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='trainingFileDetail(" + data.id + ",\"培训证明资料\")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    }
                ]
            ],
            url: 'training/listTrainings',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                trainingNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseTrainings
                };
            },
            autoSort: false
        });
        // 培训记录table排序
        table.on('sort(training_account_table)', function (obj) {
            requeryTrainingAccount(obj);
        });
        // 查询
        window.requeryTrainingAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#training_account_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingAccountTable.reload(options);
        }
        $queryTrainingAccount.on('click', function() {
            requeryTrainingAccount();
        });
        // 重置刷新
        $resetTrainingAccount.on('click', function () {
            $searchForm[0].reset();
            requeryTrainingAccount();
        });

        // 培训机构table
        var trainingInstitutionTable = table.render({
            elem: '#training_institution_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'name',
                        title: '机构名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150,
                    },
                    {
                        field: 'contacts',
                        title: '机构联系人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'mobilePhone',
                        title: '机构联系电话',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'type',
                        title: '机构类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'contract',
                        title: '机构合同',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.contract) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.contract + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '机构相关证书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='institutionCertificateDetail(" + data.id + ",\"机构相关证书\")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    }
                ]
            ],
            url: 'inspectionInstitution/listInstitutionsByType',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                trainingInstitutionNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInspectionInstitutions
                };
            },
            where: {
                type: '培训机构'
            },
            autoSort: false
        });
        // 培训机构table排序
        table.on('sort(training_institution_table)', function (obj) {
            requeryTrainingInstitutionAccount(obj);
        });
        // 培训机构table查询
        window.requeryTrainingInstitutionAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#training_institution_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingInstitutionTable.reload(options);
        }
        $queryTrainingInstitution.on('click', function() {
            requeryTrainingInstitutionAccount();
        });
        // 培训机构table重置刷新
        $resetTrainingInstitution.on('click', function () {
            $searchForm[1].reset();
            requeryTrainingInstitutionAccount();
        });

        // 管理员培训信息table
        var trainingAdminAccountTable = table.render({
            elem: '#training_admin_account_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'name',
                        title: '姓名',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'year',
                        title: '年份',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'totalDuration',
                        title: '培训时长(h)',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    }
                ]
            ],
            url: 'training/listTraingAdmins',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                trainingAdminNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.trainingAdmins
                };
            },
            autoSort: false
        });
        // 管理员培训信息table排序
        table.on('sort(training_admin_account_table)', function (obj) {
            requeryTrainingAdminAccount(obj);
        });
        // 管理员培训信息table查询
        window.requeryTrainingAdminAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#training_admin_account_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingAdminAccountTable.reload(options);
        }
        $queryTrainingAdminAccount.on('click', function() {
            requeryTrainingAdminAccount();
        });
        // 管理员培训信息table重置刷新
        $resetTrainingAdminAccount.on('click', function () {
            $searchForm[2].reset();
            requeryTrainingAdminAccount();
        });

        // 管理员年度培训报表table
        var trainingAdminYearTable = table.render({
            elem: '#training_admin_year_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'adminNum',
                        title: '管理人员人数',
                        align: 'center',
                        minWidth: 120
                    },
                    {
                        field: 'adminTrainingNum',
                        title: '培训人数',
                        align: 'center',
                        minWidth: 120
                    },
                    {
                        title: '平均培训时长(h)',
                        align: 'center',
                        minWidth: 160,
                        templet: function(d) {
                            if (d.adminNum == 0) {
                                return 0;
                            }
                            return (d.actualTotalAdminTrainingDuration / d.adminNum).toFixed(2);
                        }
                    }
                ]
            ],
            url: 'training/getYearAdminTrainingData',
            method: 'post',
            where: {
                year: new Date().getFullYear()
            },
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.yearAdminTrainingData
                };
            }
        });

        // 普通员工年度培训报表table
        var trainingEmployeeYearTable = table.render({
            elem: '#training_employee_year_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'involveNum',
                        title: '涉害人数',
                        align: 'center',
                        minWidth: 120
                    },
                    {
                        field: 'employeeTrainingNum',
                        title: '培训人数',
                        align: 'center',
                        minWidth: 120
                    },
                    {
                        title: '平均培训时长(h)',
                        align: 'center',
                        minWidth: 160,
                        templet: function(d) {
                            if (d.employeeNum == 0) {
                                return 0;
                            }
                            return (d.actualTotalEmployeeTrainingDuration / d.employeeNum).toFixed(2);
                        }
                    }
                ]
            ],
            url: 'training/getYearEmployeeTrainingData',
            method: 'post',
            where: {
                year: new Date().getFullYear()
            },
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.yearEmployeeTraingData
                };
            }
        });

        // 其他培训证明资料
        window.trainingFileDetail = function(relationId, relationModule) {
            xadmin.modal.open("其他培训证明资料","educationTraining/trainingFileDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 机构相关证书详细
        window.institutionCertificateDetail = function(relationId, relationModule) {
            xadmin.modal.open("机构相关证书","educationTraining/institutionCertificateDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 参加培训的人员详细(分管理员和普通员工)
        window.trainingStaffDetail = function(trainingId, type) {
            if (type == 0) {
                xadmin.modal.open("参加培训的普通员工","educationTraining/trainingEmployeeDetail/" + trainingId,{
                    area: $(window).width() <= 750 ? '95%' : '50%'
                });
            } else if (type == 1) {
                xadmin.modal.open("参加培训的管理员","educationTraining/trainingAdminDetail/" + trainingId,{
                    area: $(window).width() <= 750 ? '95%' : '50%'
                });
            }
        }
        // 管理员年度培训报表重载
        window.requeryYearTrainingAdmin = function(year) {
            var options = {
                where: {
                    year: year
                }
            }
            trainingAdminYearTable.reload(options);
        }
        // 普通员工年度培训报表重载
        window.requeryYearTrainingEmployee = function(year) {
            var options = {
                where: {
                    year: year
                }
            }
            trainingEmployeeYearTable.reload(options);
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadEducationTraining();
                }
                if (name === 'exportAccount') {
                    downloadEducationTrainingAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 培训记录word下载
        window.downloadTrainingAccount = function() {
            if (trainingNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/educationTrainingAccount/downloadTraining?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 培训机构word下载
        window.downloadTrainingInstitution = function() {
            if (trainingInstitutionNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/educationTrainingAccount/downloadTrainingInstitution?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 管理员培训信息word下载
        window.downloadTrainingAdminAccount = function() {
            if (trainingAdminNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/educationTrainingAccount/downloadTrainingAdmin?enterpriseId=" + enterpriseId+"&training_admin_account_keyword="+$("#training_admin_account_keyword").val() , "_blank");
                    layer.close(index);
                });
            }
        }
        // 管理员年度培训报表word下载
        window.downloadTrainingAdminYear = function() {
            layer.confirm('确认导出文件吗？', function(index) {
                window.open("/educationTrainingAccount/downloadTrainingAdminYear?enterpriseId=" + enterpriseId + "&&year="  + $('#training_admin_year').val(), "_blank");
                layer.close(index);
            });
        }
        // 普通员工年度培训报表word下载
        window.downloadTrainingEmployeeYear = function() {
            layer.confirm('确认导出文件吗？', function(index) {
                window.open("/educationTrainingAccount/downloadTrainingEmployeeYear?enterpriseId=" + enterpriseId + "&&year="  + $('#training_employee_year').val(), "_blank");
                layer.close(index);
            });
        }
        // 培训台账zip下载
        window.downloadEducationTraining = function() {
            if (trainingNum == '' && trainingInstitutionNum == '' && trainingAdminNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/educationTrainingAccount/downloadEducationTraining?enterpriseId=" + enterpriseId
                        + "&&aYear=" + $('#training_admin_year').val() + "&&eYear=" + $('#training_employee_year').val()+"&training_admin_account_keyword="+$("#training_admin_account_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
        // 培训台账文件下载
        window.downloadEducationTrainingAccount = function() {
            if (trainingNum == '' && trainingInstitutionNum == '' && trainingAdminNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/educationTrainingAccount/downloadEducationTrainingAccount?enterpriseId=" + enterpriseId+"&training_admin_account_keyword="+$("#training_admin_account_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>