<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-training-admin-detail">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="training_admin_detail_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTrainingAdminDetail">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTrainingAdminDetail">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="training_admin_detail_table" lay-filter="training_admin_detail_table"></table>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            table = layui.table,
            form = layui.form,
            $view = $('#xadmin-enterprise-training-admin-detail'),
            $queryTrainingAdminDetail = $view.find('#queryTrainingAdminDetail'),
            $resetTrainingAdminDetail = $view.find('#resetTrainingAdminDetail'),
            $searchForm = $view.find('form');
        form.render();
        // 培训id
        var trainingId = [[${trainingId}]];
        // 参加培训的管理员table
        var trainingAdminDetailTable = table.render({
            elem: "#training_admin_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "管理员姓名",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "job",
                        title: "职务",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    },
                    {
                        field: "department",
                        title: "部门",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    },
                ]
            ],
            url: 'training/listTrainingAdminsByTrainingId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.trainingAdmins
                };
            },
            where: {
                keyword: $('#training_admin_detail_keyword').val().trim(),
                trainingId: trainingId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(training_admin_detail_table)', function (obj) {
            requeryTrainingAdminDetail(obj);
        });
        // 查询
        window.requeryTrainingAdminDetail = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#training_admin_detail_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingAdminDetailTable.reload(options);
        }
        $queryTrainingAdminDetail.on('click', function() {
            requeryTrainingAdminDetail();
        });
        // 重置刷新
        $resetTrainingAdminDetail.on('click', function () {
            $searchForm[0].reset();
            requeryTrainingAdminDetail();
        });
    });
</script>
</body>
</html>