<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-training-file">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="training_file_table" lay-filter="training_file_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 关联id
    var relationId = [[${relationId}]];
    // 关联模块
    var relationModule = '[[${relationModule}]]';
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            table = layui.table,
            form = layui.form;
        // 其他培训证明资料table
        var trainingFileTable = table.render({
            elem: "#training_file_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "附件",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "fileType",
                        title: "文件类型",
                        align: "center",
                        minWidth: 120
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    }
                ]
            ],
            url: "training/trainingFile/listTrainingFiles",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.enterpriseRelationFiles
                };
            },
            where: {
                relationId: relationId,
                relationModule: relationModule
            }
        });
    });
</script>