<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-training-employee-detail">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="training_employee_detail_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTrainingEmployeeDetail">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTrainingEmployeeDetail">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="training_employee_detail_table" lay-filter="training_employee_detail_table"></table>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            xadmin = layui.xadmin,
            form = layui.form,
            $view = $('#xadmin-enterprise-training-employee-detail'),
            $queryTrainingEmployeeDetail = $view.find('#queryTrainingEmployeeDetail'),
            $resetTrainingEmployeeDetail = $view.find('#resetTrainingEmployeeDetail'),
            $searchForm = $view.find('form');
        form.render();
        // 培训id
        var trainingId = [[${trainingId}]];
        // 参加培训的普通员工table
        var trainingEmployeeDetailTable = table.render({
            elem: "#training_employee_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "员工姓名",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    },
                    {
                        field: "deptName",
                        title: "部门",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    }
                ]
            ],
            url: 'training/listTrainingEmployeesByTrainingId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.trainingEmployees
                };
            },
            where: {
                keyword: $('#training_employee_detail_keyword').val().trim(),
                trainingId: trainingId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(training_employee_detail_table)', function (obj) {
            requeryTrainingEmployeeDetail(obj);
        });
        // 查询
        window.requeryTrainingEmployeeDetail = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#training_employee_detail_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingEmployeeDetailTable.reload(options);
        }
        $queryTrainingEmployeeDetail.on('click', function() {
            requeryTrainingEmployeeDetail();
        });
        // 重置刷新
        $resetTrainingEmployeeDetail.on('click', function () {
            $searchForm[0].reset();
            requeryTrainingEmployeeDetail();
        });
    });
</script>
</body>
</html>