<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-facility-maintenance-account" lay-title="防护设施台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="facility_maintenance_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">防护设施信息</li>
                            <li>维护记录</li>
                            <li>运行记录</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="protective_measure_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryProtectiveMeasure">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetProtectiveMeasure">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="protective_measure_table" lay-filter="protective_measure_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="service_record_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryServiceRecord">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetServiceRecord">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadServiceRecord();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="service_record_table" lay-filter="service_record_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="equipment_use_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryEquipmentUse">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetEquipmentUse">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadEquipmentUse();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="equipment_use_table" lay-filter="equipment_use_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-facility-maintenance-account'),
            $queryProtectiveMeasure = $view.find('#queryProtectiveMeasure'),
            $queryEquipmentUse = $view.find('#queryEquipmentUse'),
            $queryServiceRecord = $view.find('#queryServiceRecord'),
            $resetProtectiveMeasure = $view.find('#resetProtectiveMeasure'),
            $resetEquipmentUse = $view.find('#resetEquipmentUse'),
            $resetServiceRecord = $view.find('#resetServiceRecord'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 运行记录和维护记录的数目
        var equipmentUseNum = '',
            serviceRecordNum = '';
        // 防护设施信息table
        var protectiveMeasureTable = table.render({
            elem: '#protective_measure_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'equipmentName',
                        title: '防护设备名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'workplaceName',
                        title: '所处工作场所',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'operationRule',
                        title: '操作规程',
                        align: 'center',
                        minWidth: 100,
                        templet: function (data) {
                            if (data.operationRule) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.operationRule + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: 'qualificationRecord',
                        title: '验收记录',
                        align: 'center',
                        minWidth: 100,
                        templet: function (data) {
                            if (data.qualificationRecord) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.qualificationRecord + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: 'acceptanceCertificate',
                        title: '合格证书',
                        align: 'center',
                        minWidth: 100,
                        templet: function (data) {
                            if (data.acceptanceCertificate) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.acceptanceCertificate + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: 'protectiveMeasure/listProtectiveMeasures',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseProtectiveMeasures
                };
            },
            autoSort: false
        });
        // 防护设施信息table排序
        table.on('sort(protective_measure_table)', function (obj) {
            requeryProtectiveMeasureAccount(obj);
        });
        // 防护设施信息table查询
        window.requeryProtectiveMeasureAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#protective_measure_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            protectiveMeasureTable.reload(options);
        }
        $queryProtectiveMeasure.on('click', function() {
            requeryProtectiveMeasureAccount();
        });
        // 防护设施信息table重置刷新
        $resetProtectiveMeasure.on('click', function () {
            $searchForm[0].reset();
            requeryProtectiveMeasureAccount();
        });

        // 维护记录table
        var serviceRecordTable = table.render({
            elem: '#service_record_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        title: '检(维)修设备',
                        align: 'center',
                        minWidth: 130,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='serviceEquipmentDetail(" + data.id + ",0)'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    },
                    {
                        field: 'reason',
                        title: '检(维)修原因',
                        align: 'center',
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: 'timeLimit',
                        title: '检(维)修时限',
                        align: 'center',
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: 'result',
                        title: '检(维)修结果',
                        align: 'center',
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: 'serviceDate',
                        title: '完成日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.serviceDate) {
                                return util.toDateString(d.serviceDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'serviceLeader',
                        title: '检(维)修负责人',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'servicePersonnel',
                        title: '检(维)修人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    }
                ]
            ],
            url: 'serviceRecord/listServiceRecords',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                serviceRecordNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseServiceRecords
                };
            },
            autoSort: false
        });
        // 维护记录table排序
        table.on('sort(service_record_table)', function (obj) {
            requeryServiceRecordAccount(obj);
        });
        // 维护记录table查询
        window.requeryServiceRecordAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#service_record_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            serviceRecordTable.reload(options);
        }
        $queryServiceRecord.on('click', function() {
            requeryServiceRecordAccount();
        });
        // 维护记录table重置刷新
        $resetServiceRecord.on('click', function () {
            $searchForm[1].reset();
            requeryServiceRecordAccount();
        });

        // 运行记录table
        var equipmentUseTable = table.render({
            elem: '#equipment_use_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'useDate',
                        title: '使用日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.useDate) {
                                return util.toDateString(d.useDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'description',
                        title: '使用描述',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '运行设备',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='runEquipmentDetail(" + data.id + ",1)'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    }
                ]
            ],
            url: 'equipmentUse/listEquipmentUses',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                equipmentUseNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseEquipmentUses
                };
            },
            autoSort: false
        });
        // 运行记录table排序
        table.on('sort(equipment_use_table)', function (obj) {
            requeryEquipmentUseAccount(obj);
        });
        // 运行记录table查询
        window.requeryEquipmentUseAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#equipment_use_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            equipmentUseTable.reload(options);
        }
        $queryEquipmentUse.on('click', function() {
            requeryEquipmentUseAccount();
        });
        // 运行记录table重置刷新
        $resetEquipmentUse.on('click', function () {
            $searchForm[2].reset();
            requeryEquipmentUseAccount();
        });

        // 检(维)修设备详细
        window.serviceEquipmentDetail = function(recordId, type) {
            xadmin.modal.open("检(维)修设备","facilityMaintenance/serviceEquipmentDetail/" + recordId + "/" + type,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 运行设备详细
        window.runEquipmentDetail = function(recordId, type) {
            xadmin.modal.open("运行设备","facilityMaintenance/runEquipmentDetail/" + recordId + "/" + type,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadFacilityMaintenance();
                }
                if (name === 'exportAccount') {
                    downloadFacilityMaintenanceAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 维护记录word下载
        window.downloadServiceRecord = function() {
            if (serviceRecordNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/facilityMaintenanceAccount/downloadServiceRecord?enterpriseId=" + enterpriseId+"&service_record_keyword="+$("#service_record_keyword").val() , "_blank");
                    layer.close(index);
                });
            }
        }
        // 运行记录word下载
        window.downloadEquipmentUse = function() {
            if (equipmentUseNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/facilityMaintenanceAccount/downloadEquipmentUse?enterpriseId=" + enterpriseId+"&equipment_use_keyword="+$("#equipment_use_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
        // 防护设施信息台账zip下载
        window.downloadFacilityMaintenance = function() {
            if (equipmentUseNum == '' && serviceRecordNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/facilityMaintenanceAccount/downloadFacilityMaintenance?enterpriseId=" + enterpriseId+"&equipment_use_keyword="+$("#equipment_use_keyword").val()+"&service_record_keyword="+$("#service_record_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
        // 防护设施信息台账文件下载
        window.downloadFacilityMaintenanceAccount = function() {
            if (equipmentUseNum == '' && serviceRecordNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/facilityMaintenanceAccount/downloadFacilityMaintenanceAccount?enterpriseId=" + enterpriseId+"&equipment_use_keyword="+$("#equipment_use_keyword").val()+"&service_record_keyword="+$("#service_record_keyword").val(), "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>