<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-run-equipment-detail">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="run_equipment_detail_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryRunEquipmentDetail">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetRunEquipmentDetail">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="run_equipment_detail_table" lay-filter="run_equipment_detail_table"></table>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            table = layui.table,
            form = layui.form,
            $view = $('#xadmin-enterprise-run-equipment-detail'),
            $queryRunEquipmentDetail = $view.find('#queryRunEquipmentDetail'),
            $resetRunEquipmentDetail = $view.find('#resetRunEquipmentDetail'),
            $searchForm = $view.find('form');
        form.render();
        // 记录id，记录类型(运行记录)
        var recordId = [[${recordId}]],
            type = [[${type}]];
        // 运行的设备table
        var runEquipmentDetailTable = table.render({
            elem: "#run_equipment_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "equipmentName",
                        title: "设备名称",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    }
                ]
            ],
            url: 'equipmentUse/listRunEquipmentsByRecordId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.runEquipments
                };
            },
            where: {
                keyword: $('#run_equipment_detail_keyword').val().trim(),
                recordId: recordId,
                type: type
            },
            autoSort: false
        });
        // table排序
        table.on('sort(run_equipment_detail_table)', function (obj) {
            requeryRunEquipmentDetail(obj);
        });
        // 查询
        window.requeryRunEquipmentDetail = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#run_equipment_detail_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            runEquipmentDetailTable.reload(options);
        }
        $queryRunEquipmentDetail.on('click', function() {
            requeryRunEquipmentDetail();
        });
        // 重置刷新
        $resetRunEquipmentDetail.on('click', function () {
            $searchForm[0].reset();
            requeryRunEquipmentDetail();
        });
    });
</script>