<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-service-equipment-detail">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="service_equipment_detail_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryServiceEquipmentDetail">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetServiceEquipmentDetail">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="service_equipment_detail_table" lay-filter="service_equipment_detail_table"></table>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            table = layui.table,
            form = layui.form,
            $view = $('#xadmin-enterprise-service-equipment-detail'),
            $queryServiceEquipmentDetail = $view.find('#queryServiceEquipmentDetail'),
            $resetServiceEquipmentDetail = $view.find('#resetServiceEquipmentDetail'),
            $searchForm = $view.find('form');
        form.render();
        // 记录id，记录类型(维护记录)
        var recordId = [[${recordId}]],
            type = [[${type}]];
        // 维护的设备table
        var serviceEquipmentDetailTable = table.render({
            elem: "#service_equipment_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "equipmentName",
                        title: "设备名称",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    }
                ]
            ],
            url: 'serviceRecord/listServiceEquipmentsByRecordId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.serviceEquipments
                };
            },
            where: {
                keyword: $('#service_equipment_detail_keyword').val().trim(),
                recordId: recordId,
                type: type
            },
            autoSort: false
        });
        // table排序
        table.on('sort(service_equipment_detail_table)', function (obj) {
            requeryServiceEquipmentDetail(obj);
        });
        // 查询
        window.requeryServiceEquipmentDetail = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#service_equipment_detail_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            serviceEquipmentDetailTable.reload(options);
        }
        $queryServiceEquipmentDetail.on('click', function() {
            requeryServiceEquipmentDetail();
        });
        // 重置刷新
        $resetServiceEquipmentDetail.on('click', function () {
            $searchForm[0].reset();
            requeryServiceEquipmentDetail();
        });
    });
</script>