<style>
    /** 统计快捷方式样式 */
    #xadmin-account .console-link-block {
        display: block;
        position: relative;
        color: #fff;
        font-size: 18px;
        padding: 25px 20px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
        background-color: rgb(165, 165, 165);
    }
    #xadmin-account .console-link-block .console-link-block-icon {
        height: 70px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    /** //统计快捷方式样式end */
    /** 小屏幕下样式 */
    @media screen and (max-width: 992px) {
        #xadmin-account .console-link-block {
            font-size: 14px;
            padding: 15px 10px;
        }
        #xadmin-account .console-link-block .console-link-block-icon {
            height: 45px;
            right: 10px;
        }
    }
</style>
<div class="layui-fluid layui-anim xadmin-anim-up" id="xadmin-account" lay-title="12本台账">
    <div class="layui-row xadmin-container layui-col-space15">
        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/healthResponsibilityAccount" class="console-link-block">
                <div class="console-link-block-text">责任制台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/zzgl.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/harmInformAccount" class="console-link-block">
                <div class="console-link-block-text">告知台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/tjjg.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/harmDeclareAccount" class="console-link-block">
                <div class="console-link-block-text">申报台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/whsb.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/educationTrainingAccount" class="console-link-block">
                <div class="console-link-block-text">培训台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/zybzd.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/facilityMaintenanceAccount" class="console-link-block">
                <div class="console-link-block-text">防护设施台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/fctj.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/provideProtectArticlesAccount" class="console-link-block">
                <div class="console-link-block-text">防护用品台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/fhyp.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/monitorCheckAccount" class="console-link-block">
                <div class="console-link-block-text">检测台帐</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/whysjc.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/personHealthAccount" class="console-link-block">
                <div class="console-link-block-text">一人一档</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/lgtj.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/preventionPostAccount" class="console-link-block">
                <div class="console-link-block-text">防治制度台账</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/gqgz.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/inspectionAccount" class="console-link-block">
                <div class="console-link-block-text">检查整改台账</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/rczg.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/rescueAccidentAccount" class="console-link-block">
                <div class="console-link-block-text">应急救援台账</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/yjjy.png}">
            </div>
        </div>

        <div class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div target="" lay-href="/measureThreeSimultaneityAccount" class="console-link-block">
                <div class="console-link-block-text">三同时台账</div>
                <img class="console-link-block-icon" data-th-src="@{xadmin/images/zycs.png}">
            </div>
        </div>
    </div>
</div>