<style>
    #add-record-file {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="add-record-file">
    <form id="record_file_form" class="layui-form" lay-filter="record_file_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseToxicDrill?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseToxicDrill?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">记录文件：</label>
            <div class="layui-input-inline">
                <input id="drillPath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="drill_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="drill_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="record-file"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>

    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 记录文件上传
        $('#drill_btn').click(function (event) {
            $('#drill_file').click();
        });
        $('#drill_file').change(function (event) {
            if (this.files.length === 0) {
                $('#drillPath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#drillPath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(record-file)', function(data) {
            var enterpriseToxicDrill = {};
            $.each($("#record_file_form input[name]"), function (index, element) {
                enterpriseToxicDrill[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseToxicDrill) {
                // 记录文件
                var drillFiles = $("#drill_file")[0].files;
                if (drillFiles.length == 0) {
                    layer.msg("记录文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseToxicDrillJSON", JSON.stringify(enterpriseToxicDrill));
                if (drillFiles.length != 0) {
                    formData.append("drillFile", drillFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'toxicDrill/editToxicDrill/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryToxicDrill();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>