<style>
    #edit-toxic-drill {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-toxic-drill">
    <form id="toxic_drill_form" class="layui-form" action="" lay-filter="toxic_drill_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseToxicDrill?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseToxicDrill?.enterpriseId}">
        <input type="hidden" id="drillFile" name="content" th:value="${enterpriseToxicDrill?.content}">
        <input type="hidden" id="proveFile" name="proveFile" th:value="${enterpriseToxicDrill?.proveFile}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">演练时间：</label>
            <div class="layui-input-block">
                <input type="text" id="drillDate" name="drillDate" placeholder="请选择演练时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseToxicDrill?.drillDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">演练描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入演练描述" maxlength="200"
                       th:value="${enterpriseToxicDrill?.description}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">记录文件：</label>
            <div class="layui-input-inline">
                <input id="drillPath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="drill_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="drill_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">证明文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="prove_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="prove_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="toxic-drill"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#drillDate',
            type: 'date'
        });
        form.render();
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            if ($('#drillFile').val() != '') {
                $('#drillPath').val($('#drillFile').val().substring($('#drillFile').val().lastIndexOf('/') + 1));
            }
            $('#drill_file').after('<button type="button" id="drill_download" class="layui-btn layui-btn-primary">下载文件</button>');
            if ($('#proveFile').val() != '') {
                $('#filePath').val($('#proveFile').val().substring($('#proveFile').val().lastIndexOf('/') + 1));
            }
            $('#prove_file').after('<button type="button" id="prove_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 记录文件上传
        $('#drill_btn').click(function (event) {
            $('#drill_file').click();
        });
        $('#drill_file').change(function (event) {
            if (this.files.length === 0) {
                $('#drillPath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#drillPath').val(this.files[0].name);
        });
        // 证明文件上传
        $('#prove_btn').click(function (event) {
            $('#prove_file').click();
        });
        $('#prove_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(toxic-drill)', function(data) {
            var enterpriseToxicDrill = {};
            $.each($("#toxic_drill_form input[name],select[name]"), function (index, element) {
                enterpriseToxicDrill[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseToxicDrill) {
                // 上传文件
                var drillFiles = $("#drill_file")[0].files,
                    proveFiles = $("#prove_file")[0].files;
                var formData = new FormData();
                formData.append("enterpriseToxicDrillJSON", JSON.stringify(enterpriseToxicDrill));
                if (drillFiles.length != 0) {
                    formData.append("drillFile", drillFiles[0]);
                }
                if (proveFiles.length != 0) {
                    formData.append("proveFile", proveFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'toxicDrill/editToxicDrill/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryToxicDrill();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#drill_download').click(function (event) {
            var filePath = $('#drillFile').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
        $('#prove_download').click(function (event) {
            var filePath = $('#proveFile').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>