<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-toxic-drill" lay-title="演练记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="toxic_drill_table" lay-filter="toxic_drill_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 演练记录table行编辑、删除 -->
<script type="text/html" id="toxic_drill_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-toxic-drill'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 演练记录table
        var toxicDrillTable = table.render({
            elem: '#toxic_drill_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'drillDate',
                        title: '演练时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            if (d.drillDate) {
                                return util.toDateString(d.drillDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'description',
                        title: '演练描述',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'content',
                        title: '记录文件',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            if (data.content) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.content + "'>下载</a>";
                            } else {
                                return "<a href='javascript:void(0);' onclick='addRecordFile(" + data.id + ")'>"
                                    + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少记录文件</span>"
                                    + "</a>";
                            }
                        }
                    },
                    {
                        field: 'proveFile',
                        title: '证明文件',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            if (data.proveFile) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.proveFile + "'>下载</a>";
                            } else {
                                return "<a href='javascript:void(0);' onclick='addProveFile(" + data.id + ")'>"
                                    + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少证明文件</span>"
                                    + "</a>";
                            }
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#toxic_drill_bar',
                        width: 120
                    }
                ]
            ],
            url: 'toxicDrill/listToxicDrills',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseToxicDrills
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 演练记录table排序
        table.on('sort(toxic_drill_table)', function (obj) {
            requeryToxicDrill(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('toxic_drill_table');
                if (name === 'add') {
                    xadmin.modal.open("新增演练记录","toxicDrill/editToxicDrill",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-toxic-drill').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-toxic-drill').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的演练记录');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'toxicDrill/deleteToxicDrills',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryToxicDrill();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增演练记录'
            }, {
                name: 'delete',
                title: '删除演练记录'
            }]
        });
        // 监听演练记录table行事件（编辑、删除）
        table.on('tool(toxic_drill_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑演练记录","toxicDrill/editToxicDrill/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-toxic-drill').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该演练记录吗？', function(index) {
                    $.ajax({
                        url: 'toxicDrill/deleteToxicDrill',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            drillFile: data.content,
                            proveFile: data.proveFile
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryToxicDrill();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryToxicDrill = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            toxicDrillTable.reload(options);
        }
        $query.on('click', function() {
            requeryToxicDrill();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryToxicDrill();
        });
        // 上传记录文件
        window.addRecordFile = function(id) {
            xadmin.modal.open("上传记录文件","toxicDrill/addRecordFile/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-record-file').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-record-file').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 上传证明文件
        window.addProveFile = function(id) {
            xadmin.modal.open("上传证明文件","toxicDrill/addProveFile/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-prove-file').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-prove-file').find('#reset').trigger('click');
                    return false;
                }
            });
        }
    });
</script>