<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-measure-three-simultaneity" lay-title="三同时台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="measure_three_simultaneity_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryThreeSimultaneity">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetThreeSimultaneity">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="measure_three_simultaneity_table" lay-filter="measure_three_simultaneity_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-measure-three-simultaneity'),
            $queryThreeSimultaneity = $view.find('#queryThreeSimultaneity'),
            $resetThreeSimultaneity = $view.find('#resetThreeSimultaneity'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 三同时项目的数目
        var threeSimultaneityNum = '';
        // 三同时table
        var measureThreeSimultaneityTable = table.render({
            elem: '#measure_three_simultaneity_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'projectName',
                        title: '建设项目名称',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'projectSource',
                        title: '项目来源',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                    },
                    {
                        field: 'projectTime',
                        title: '项目时间',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            if (d.projectTime) {
                                return util.toDateString(d.projectTime, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'harmDegree',
                        title: '预评价危害程度',
                        align: 'center',
                        sort: true,
                        minWidth: 150,
                        templet: function(d) {
                            // 修改数据显示
                            var harmDegree = '';
                            if (d.harmDegree === 0) {
                                harmDegree = '一般';
                            }
                            if (d.harmDegree === 1) {
                                harmDegree =  '较重';
                            }
                            if (d.harmDegree === 2) {
                                harmDegree =  '严重';
                            }
                            return harmDegree;
                        }
                    },
                    {
                        field: 'riskClass',
                        title: '风险分类',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            // 修改数据显示
                            var riskClass = '';
                            if (d.riskClass === 0) {
                                riskClass = '一般';
                            }
                            if (d.riskClass === 1) {
                                riskClass =  '较重';
                            }
                            if (d.riskClass === 2) {
                                riskClass =  '严重';
                            }
                            return riskClass;
                        }
                    },
                    {
                        title: '项目阶段',
                        align: 'center',
                        minWidth: 270,
                        templet: function (data) {
                            // 预评价阶段
                            if (data.projectState == 0) {
                                return "<a href='javascript:void(0);' onclick='preEvaluationAccount(" + data.id + ")' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\">预评价</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-disabled layui-btn-xs\">防护设施设计</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);'>"
                                    + "<span class=\"layui-btn layui-btn-disabled layui-btn-xs\">竣工验收</span>"
                                    + "</a>";
                            }
                            // 防护设施设计阶段
                            if (data.projectState == 1) {
                                return "<a href='javascript:void(0);' onclick='preEvaluationAccount(" + data.id + ")' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">预评价</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' onclick='protectiveDesignAccount(" + data.id + ")' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\">防护设施设计</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);'>"
                                    + "<span class=\"layui-btn layui-btn-disabled layui-btn-xs\">竣工验收</span>"
                                    + "</a>";
                            }
                            // 防护设施竣工验收阶段
                            if (data.projectState == 2) {
                                return "<a href='javascript:void(0);' onclick='preEvaluationAccount(" + data.id + ")' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">预评价</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' onclick='protectiveDesignAccount(" + data.id + ")' style='margin-right: 20px'>"
                                    + "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">防护设施设计</span>"
                                    + "</a>"
                                    + "<a href='javascript:void(0);' onclick='completionAcceptanceAccount(" + data.id + "," + data.harmDegree + ")'>"
                                    + (data.status == 1 ? "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">竣工验收</span>"
                                        : "<span class=\"layui-btn layui-btn-xs\">竣工验收</span>")
                                    + "</a>";
                            }
                        }
                    },
                    {
                        field: 'dayDiff',
                        title: '距离上次更新',
                        align: 'center',
                        minWidth: 120,
                        templet: function(data) {
                            if (data.status == 1) {
                                return '—';
                            }
                            return data.dayDiff + '天';
                        }
                    }
                ]
            ],
            url: 'threeSimultaneity/listThreeSimultaneitys',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                threeSimultaneityNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseThreeSimultaneitys
                };
            },
            autoSort: false,
            done: function (res) {
                $.each(res.data, function (index, data) {
                    if (data.status != 1) {
                        if (data.dayDiff <= 30) {
                            $("div[lay-id='measure_three_simultaneity_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='dayDiff']").css("color", "green");
                        } else if (data.dayDiff > 30 && data.dayDiff <= 90) {
                            $("div[lay-id='measure_three_simultaneity_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='dayDiff']").css("color", "#F6AF00");
                        } else {
                            $("div[lay-id='measure_three_simultaneity_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='dayDiff']").css("color", "red");
                        }
                }
                });
            }
        });
        // 三同时table排序
        table.on('sort(measure_three_simultaneity_table)', function (obj) {
            requeryThreeSimultaneityAccount(obj);
        });
        // 查询
        window.requeryThreeSimultaneityAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#measure_three_simultaneity_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            measureThreeSimultaneityTable.reload(options);
        }
        $queryThreeSimultaneity.on('click', function() {
            requeryThreeSimultaneityAccount();
        });
        // 重置刷新
        $resetThreeSimultaneity.on('click', function () {
            $searchForm[0].reset();
            requeryThreeSimultaneityAccount();
        });
        // 预评价
        window.preEvaluationAccount = function(projectId) {
            xadmin.navigate("/threeSimultaneity/preEvaluation/" + projectId);
        }
        // 防护设施设计
        window.protectiveDesignAccount = function(projectId) {
            xadmin.navigate("/threeSimultaneity/protectiveDesign/" + projectId);
        }
        // 竣工验收
        window.completionAcceptanceAccount = function(projectId, harmDegree) {
            if (harmDegree == 0) {
                xadmin.navigate("/threeSimultaneity/completionAcceptance/low/" + projectId);
            } else if (harmDegree == 1) {
                xadmin.navigate("/threeSimultaneity/completionAcceptance/middle/" + projectId);
            } else {
                xadmin.navigate("/threeSimultaneity/completionAcceptance/high/" + projectId);
            }
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadThreeSimultaneity();
                }
                if (name === 'exportAccount') {
                    downloadThreeSimultaneityAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 三同时台帐zip下载
        window.downloadThreeSimultaneity = function() {
            if (threeSimultaneityNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/measureThreeSimultaneityAccount/downloadThreeSimultaneity?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 三同时台帐文件下载
        window.downloadThreeSimultaneityAccount = function() {
            if (threeSimultaneityNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/measureThreeSimultaneityAccount/downloadThreeSimultaneityAccount?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>