<style>
    #edit-enterprise-consult {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-enterprise-consult">
    <form id="consult_form" class="layui-form" action="" lay-filter="consult_form">
        <input type="hidden" id="id" name="id" th:value="${sysConsult?.id}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">标题：</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" placeholder="请输入标题" maxlength="100" autocomplete="off"
                       th:value="${sysConsult?.title}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">问题描述：</label>
            <div class="layui-input-block">
                <textarea id="question" placeholder="请输入问题描述" maxlength="400"
                          th:text="${sysConsult?.question}" class="layui-textarea" lay-verify="required"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="text" id="mobilePhone" name="mobilePhone" placeholder="请输入联系电话" autocomplete="off"
                       th:value="${sysConsult?.mobilePhone}" class="layui-input" lay-verify="Phone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Email：</label>
            <div class="layui-input-block">
                <input type="text" id="email" name="email" placeholder="请输入Email" maxlength="40" autocomplete="off"
                       th:value="${sysConsult?.email}" class="layui-input" lay-verify="Email">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="enterprise-consult"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        // 自定义验证手机号和邮箱
        form.verify({
           // 手机号
           Phone: [
               /(^$)|(^1\d{10}$)/
               ,'请输入正确的手机号'
           ]
           ,Email: [
               /(^$)|(^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$)/
               ,'请输入正确的邮箱'
            ]
        });
        form.render();
        // 表单提交
        form.on('submit(enterprise-consult)', function(data) {
            var sysConsult = {};
            // 联系电话和email必须要填一个
            var mobilePhone = $('#mobilePhone').val().trim();
            var email = $('#email').val().trim();
            if (!mobilePhone && !email) {
                layer.msg('联系电话和Email至少要填写一个', {icon: 5});
                return;
            }
            $.each($("#consult_form input[name]"), function (index, element) {
                sysConsult[$(this).attr("name")] = $(this).val().trim();
            });
            sysConsult['question'] = $('#question').val().trim();
            if (sysConsult) {
                var formData = new FormData();
                formData.append("sysConsultJSON", JSON.stringify(sysConsult));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'consult/editConsult/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryConsult();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>