<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-consult" lay-title="咨询中心">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="consult_table" lay-filter="consult_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 咨询提问table行查看回复、编辑、删除 -->
<script type="text/html" id="consult_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看回复</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form',  'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-consult'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 咨询提问table
        var consultTable = table.render({
            elem: '#consult_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'title',
                        title: '标题',
                        align: 'center',
                        sort: true,
                        minWidth: 160
                    },
                    {
                        field: 'gmtCreate',
                        title: '时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            if (d.gmtCreate) {
                                return util.toDateString(d.gmtCreate);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'answerStatus',
                        title: '是否回复',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            var answerStatus = d.answerStatus;
                            if (answerStatus == 1) {
                                return '已回复'
                            }
                            if(answerStatus == 0) {
                                return '未回复';
                            }
                            return '';
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#consult_bar',
                        width: 200
                    }
                ]
            ],
            url: 'consult/listConsults',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.sysConsults
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false,
            done: function (res) {
                $.each(res.data, function (index, data) {
                    if (data.answerStatus == 0) {
                        $("div[lay-id='consult_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='answerStatus']").css("color", "red");
                    } else if (data.answerStatus == 1) {
                        $("div[lay-id='consult_table'] table.layui-table tbody tr[data-index='" + index + "'] td[data-field='answerStatus']").css("color", "green");
                    }
                });
            }
        });
        // 咨询提问排序
        table.on('sort(consult_table)', function (obj) {
            requeryConsult(obj);
        });
        // 咨询提问下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('consult_table');
                if (name === 'add') {
                    xadmin.modal.open("新增咨询提问","consult/editConsult",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-enterprise-consult').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-enterprise-consult').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的咨询提问');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'consult/deleteConsults',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success('删除成功');
                                    requeryConsult();
                                } else {
                                    xadmin.alert.error('删除失败');
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增咨询提问'
            }, {
                name: 'delete',
                title: '删除咨询提问'
            }]
        });
        // 监听咨询提问table行事件（查看回复内容、编辑、删除）
        table.on('tool(consult_table)', function(obj) {
            var data = obj.data;
            // 查看回复内容
            if (obj.event === 'view') {
                xadmin.modal.open("查看回复","consult/viewConsult/" + data.id,{
                    area: $(window).width() <= 750 ? '95%' : '50%'
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑咨询提问","consult/editConsult/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-enterprise-consult').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该咨询提问吗？', function(index) {
                    $.ajax({
                        url: 'consult/deleteConsult',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryConsult();
                            }else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryConsult = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            consultTable.reload(options);
        }
        $query.on('click', function () {
            requeryConsult();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryConsult();
        });
    });
</script>