<style>
    #view-enterprise-consult {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="view-enterprise-consult">
    <form id="consult_form" class="layui-form" action="" lay-filter="consult_form">
        <input type="hidden" id="id" name="id" th:value="${sysConsult?.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">回复时间：</label>
            <div class="layui-input-block">
                <input readonly th:value="${#dates.format(sysConsult?.answerTime,'yyyy-MM-dd HH:mm:ss')}" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回复内容：</label>
            <div class="layui-input-block">
                <textarea id="answer" readonly th:text="${sysConsult?.answer}" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
    });
</script>