<style>
    #govmap {
        width: 100%;
        height: 500px;
        overflow: hidden;
        margin:0;
        font-family:"微软雅黑";
    }
    #gov_map_enterprise .num-icon {
        float: right;
        margin: 10px;
        width: 29px;
        height: 29px;
        line-height: 28px;
        border-radius: 50%;
        text-align: center;
    }
    #gov_map_enterprise .layui-card {
        /*min-width: 380px;*/
        border-radius: 6px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    }
    #gov_map_enterprise .layui-card-footer {
        background-color: #fff;
    }
    #gov_map_enterprise cite {
        color: #545454;
    }
    #xadmin-index .gov-map-header #gov_keyword {
        display: inherit;
        width: 88%;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    }
    #xadmin-index .gov-map-header #gov_search {
        margin-left: -30px;
        cursor: pointer;
    }
    #xadmin-index .gov-map-header #gov_sort {
        float: right;
        padding: 8px;
        background-color: #fff;
        border-radius: 2.9px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    }
    #xadmin-index #sort_filter {
        display: none;
        left: auto;
        right: 0;
        top: 45px;
        min-width: 50%;
        line-height: 25px;
        padding: 10px;
        color: #595b62;
    }
    #xadmin-index #sort_filter .sort-filter-title {
        background-color: #f4f5fa;
        margin: -10px -10px 4px -10px;
        padding: 10px;
    }
    #xadmin-index #sort_filter .sort-filter {
        font-size: 10px;
    }
    #xadmin-index #sort_filter hr {
        margin: 6px 0;
    }
    #xadmin-index #sort_filter .active {
        color: #057aff;
    }
    #xadmin-index #sort_filter i {
        float: right;
        margin-right: 4px;
    }
</style>
<div class="layui-fluid layui-anim xadmin-anim-up" id="xadmin-index" lay-title="系统首页">
    <div class="layui-row xadmin-container">
        <div class="gov-map-header layui-row">
            <div class="layui-col-md8">
                <span style="font-size: 20px;color: #545454;display: inline-block;margin: 12px 0;">企业分布图</span>
            </div>
            <div class="layui-col-md4">
                <span>
                    <input id="gov_keyword" type="text" placeholder="搜索企业...." class="layui-input"/>
                </span>
                <span id="gov_search">
                    <img src="../img/搜索框.png" style="margin-bottom: 2px;"/>
                </span>
                <span id="gov_sort">
                    <img src="../img/筛选图标.png"/>
                </span>
                <!-- 排序&筛选列表 -->
                <dl class="layui-nav-child" id="sort_filter">
                    <dd class="sort-filter-title">
                        <span style="color: #057aff;padding-bottom: 2px;border-bottom: 1px solid;">排序 & 筛选</span>
                        <a id="finish_sort_filter" style="float: right;color: #595b62;">完成</a>
                    </dd>
                    <dd class="sort-filter active">综合排序<i class="layui-icon">&#xe605;</i></dd>
                    <hr/>
                    <dd class="sort-filter">最低健康得分</dd>
                    <hr/>
                    <dd class="sort-filter">最高健康得分</dd>
                    <hr/>
                    <dd class="sort-filter">最近更新</dd>
                    <hr/>
                    <dd class="sort-filter">涉害较重</dd>
                    <hr/>
                    <dd class="sort-filter">涉害一般</dd>
                    <hr/>
                    <dd class="sort-filter">涉害较轻</dd>
                    <hr/>
                </dl>
            </div>
        </div>
        <div class="layui-card" style="border: solid 1px #1c4f90;">
            <div id="govmap"></div>
        </div>
    </div>
    <div id="gov_map_enterprise" style="overflow: hidden;padding:10px">
        <div class="layui-row layui-col-space10 gov_map_enterprise_row">
            <!-- <div class="layui-col-sm6 layui-col-md4">
                 <div class="layui-card">
                     <div class="layui-card-header xadmin-font-20">
                         南京海思丹科技有限公司
                         &lt;!&ndash; <span class="layui-badge layui-bg-blue xadmin-badge">1</span>&ndash;&gt;
                     </div>
                     <div class="layui-card-body">
                         <div class="layui-carousel xadmin-carousel xadmin-shortcut" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 130px !important;">
                             <ul class="layui-row layui-col-space10 layui-this">
                                 <li class="layui-col-xs4">
                                     <a lay-href="#">
                                         <i class="layui-icon layui-icon-fileprotect xadmin-blue"></i>
                                         <cite>职业健康得分</cite>
                                         <cite class="xadmin-bold xadmin-font-18">92</cite>
                                     </a>
                                 </li>
                                 <li class="layui-col-xs4">
                                     <a lay-href="#">
                                         <i class="layui-icon layui-icon-error xadmin-blue"></i>
                                         <cite>涉害程度</cite>
                                         <cite class="xadmin-bold xadmin-font-18">严重</cite>
                                     </a>
                                 </li>
                                 <li class="layui-col-xs4">
                                     <a lay-href="#">
                                         <i class="layui-icon layui-icon-time-circle xadmin-blue"></i>
                                         <cite>更新时间</cite>
                                         <cite class="xadmin-bold xadmin-font-18">2019-08-10</cite>
                                     </a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <div class="layui-card-footer xadmin-tc">
                         <button class="layui-btn layui-btn-primary layui-btn-radius">详情</button>
                     </div>
                 </div>
             </div>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['jquery', 'xadmin'],function () {
        var $ = layui.jquery,
            xadmin = layui.xadmin;

        window.lastInfoBox = null;//定义上一个窗体为lastInfoBox;
        window.infoBoxTemp = false;
        // 百度地图API功能
        var map = new BMap.Map("govmap",{enableMapClick:false});
        var point = new BMap.Point(116.331398,39.897445);
        map.centerAndZoom(point,12);
        map.enableScrollWheelZoom();
        // map.disableDragging();//拖拽地图

        //监听map事件
        map.addEventListener("click", function(e){
            //关闭自定义弹窗
            if(lastInfoBox && infoBoxTemp){
                //判断上一个窗体是否存在，若存在则执行close
                lastInfoBox.close();
            }
        })

        //查询当前监管区域下的企业信息。
        xadmin.get("/index/getMonitorEnterprise",null,function(result){
            var data = result.data;
            loadEnterpriseInfo(data);
            var map_data_infos = [];
            for(var i=0;i<data.length;i++){
                var map_data_info = [];
                map_data_info.push(data[i].longitude,data[i].latitude
                    ,data[i]);
                map_data_infos.push(map_data_info);
            }

            //定位到第一个企业所在的地点
            if(map_data_infos.length > 0){
                console.log(map_data_infos)
                map.panTo(new BMap.Point(map_data_infos[0][0],map_data_infos[0][1]));
            }else{
                var geolocation = new BMap.Geolocation();
                geolocation.getCurrentPosition(function(r){
                    if(this.getStatus() == BMAP_STATUS_SUCCESS){
                        map.panTo(r.point);
                    }
                })
            }

            for(var i=0;i<map_data_infos.length;i++){
                var content = map_data_infos[i][2];  // 坐标信息
                var point = new BMap.Point(map_data_infos[i][0],map_data_infos[i][1]);  // 点坐标


                // 根据健康得分显示不同颜色的marker图标
                var myIcon = '';
                if (content.score < 60) {
                    myIcon = new BMap.Icon('../img/地图标记红色.png', new BMap.Size(24,33));
                } else if (content.score >= 60 && content.score < 90) {
                    myIcon = new BMap.Icon('../img/地图标记橙色.png', new BMap.Size(24,33));
                } else {
                    myIcon = new BMap.Icon('../img/地图标记蓝色.png', new BMap.Size(24,33));
                }
                var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
                marker.setLabel(getNumberLabel(i+1));  // 标注序号
                map.addOverlay(marker);               // 将标注添加到地图中
                addClickHandler(content,marker,i+1);
            }

        })

        // 标注序号
        function getNumberLabel(number) {
            var offsetSize = new BMap.Size(0, 0);
            var labelStyle = {
                color: "#fff",
                backgroundColor: "0.05",
                border: "0"
            };
            // 不同数字长度设置不同的样式
            switch((number + '').length) {
                case 1:
                    labelStyle.fontSize = "14px";
                    offsetSize = new BMap.Size(7, 5);
                    break;
                case 2:
                    labelStyle.fontSize = "12px";
                    offsetSize = new BMap.Size(4, 6);
                    break;
                case 3:
                    labelStyle.fontSize = "10px";
                    offsetSize = new BMap.Size(1, 6);
                    break;
                default:
                    break;
            }
            var label = new BMap.Label(number, {
                offset: offsetSize
            });
            label.setStyle(labelStyle);
            return label;
        }

        function loadEnterpriseInfo(data){
            $("#gov_map_enterprise .gov_map_enterprise_row").empty();
            for(var i=0;i<data.length;i++){
                var html = " <div class=\"layui-col-md4 layui-col-sm12 layui-col-xs12\" style=\"min-width: 385px;\">\n" +
                    "                <div class='layui-card card-" + eval(i+1) + "'>\n" +
                    "                    <div style='height: 55px;position: relative;'>" +
                    "                        <img class='enterprise_icon' width='40px;' src='' style='position: absolute;top: 50%;transform: translateY(-50%);left: 10px;' />" +
                    "                        <span style='font-size: 20px;color: #545454;font-family:\"微软雅黑\";position: absolute;top: 50%;transform: translateY(-50%);left: 80px;'>" + data[i].name + "</span>" +
                    "                        <div class='num-icon'><span style='color: #fff;'>" + eval(i+1) + "</span></div>" +
                    "                    </div>\n" +
                    "                    <div class=\"layui-card-body\">\n" +
                    "                        <div class=\"layui-carousel xadmin-carousel xadmin-shortcut\" lay-anim=\"\" lay-indicator=\"inside\" lay-arrow=\"none\" style=\"width: 100%; height: 100px !important;\">\n" +
                    "                            <ul class=\"layui-row layui-col-space10 layui-this\">\n" +
                    "                                <li class=\"layui-col-xs4\">\n" +
                    "                                    <a lay-href=\"#\">\n" +
                    "                                        <img src=\"../img/职业健康得分.png\"/>\n" +
                    "                                        <cite style='margin-top: 6px;'>职业健康得分</cite>\n" +
                    "                                        <cite class=\"map_enterprise_score xadmin-bold\" style='font-size: 26px !important;' title='"+parseInt(data[i].score)+"'>"+parseInt(data[i].score)+"</cite>\n" +
                    "                                    </a>\n" +
                    "                                </li>\n" +
                    "                                <li class=\"layui-col-xs4\">\n" +
                    "                                    <a lay-href=\"#\">\n" +
                    "                                         <img src=\"../img/汇总企业涉害程度.png\"/>\n" +
                    "                                        <cite style='margin-top: 8px;'>涉害程度</cite>\n" +
                    "                                        <cite class=\"xadmin-bold xadmin-font-18\" title='"+data[i].harmDegree+"'>"+data[i].harmDegree+"</cite>\n" +
                    "                                    </a>\n" +
                    "                                </li>\n" +
                    "                                <li class=\"layui-col-xs4\">\n" +
                    "                                    <a lay-href=\"#\">\n" +
                    "                                        <img src=\"../img/汇总企业更新时间.png\"/>\n" +
                    "                                        <cite style='margin-top: 6px;'>更新时间</cite>\n" +
                    "                                        <cite class=\"xadmin-bold xadmin-font-20\" title='"+data[i].lastUpdateDate+"'>"+data[i].lastUpdateDate+"</cite>\n" +
                    "                                    </a>\n" +
                    "                                </li>\n" +
                    "                            </ul>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"layui-card-footer xadmin-tc\">\n" +
                    "                        <a class=\"layui-btn layui-btn-primary layui-btn-radius\" style='width: 100px;' lay-href='/detailReport/"+data[i].id+"'>详情</a>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>";
                $("#gov_map_enterprise .gov_map_enterprise_row").append(html);
                // 企业图标(如果为空，则显示默认logo)
                if (data[i].icon == null || data[i].icon == '') {
                    $('.card-' + eval(i+1) + ' .enterprise_icon').attr('src', '../img/qytb.png');
                } else {
                    $('.card-' + eval(i+1) + ' .enterprise_icon').attr('src', '/detailReport/downloadFile?filePath=' + data[i].icon);
                }
                // 企业健康得分判断分数颜色和序号背景色
                if (data[i].score < 60) {
                    $('.card-' + eval(i+1) + ' .map_enterprise_score').css('color', '#d0021b');
                    $('.card-' + eval(i+1) + ' .num-icon').css('background', '#d0021b');
                } else if (data[i].score >= 60 && data[i].score < 90) {
                    $('.card-' + eval(i+1) + ' .map_enterprise_score').css('color', '#e68f01');
                    $('.card-' + eval(i+1) + ' .num-icon').css('background', '#e68f01');
                } else {
                    $('.card-' + eval(i+1) + ' .map_enterprise_score').css('color', '#7ed321');
                    $('.card-' + eval(i+1) + ' .num-icon').css('background', '#1c4f90');
                }
            }
        }

        function addClickHandler(content,marker,i){
            marker.addEventListener("click",function(e){
                infoBoxTemp = false;
                openInfo(content,marker,i)
            })
        }


        function openInfo(content,marker,i){
            var score = parseInt(content.score);
            if(score == null){
                score = "-";
            }
            var html = ["<div class='layui-card anchor-" + i + "' style='width:400px;z-index:0;border-radius: 6px;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);'>\n" +
            "                <div style='height: 55px;position: relative;'>\n" +
            "                        <img class='enterprise_icon' width='40px;' src='' style='position: absolute;top: 50%;transform: translateY(-50%);left: 10px;' />" +
            "                        <span style='font-size: 20px;color: #545454;font-family:\"微软雅黑\";position: absolute;top: 50%;transform: translateY(-50%);left: 80px;'>" + content.name + "</span>" +
            "                    <div class='num-icon' style='float: right;margin: 10px;width: 29px;height: 29px;line-height: 28px;border-radius: 50%; text-align: center;'>" +
            "                    <span style='color: #fff;'>" + i + "</span></div>" +
            "                </div>\n" +
            "                <div class=\"layui-card-body\">\n" +
            "                    <div class=\"layui-carousel xadmin-carousel xadmin-shortcut\" lay-anim=\"\" lay-indicator=\"inside\" lay-arrow=\"none\" style=\"width: 100%; height: 100% !important;\">\n" +
            "                        <ul class=\"layui-row layui-col-space10 layui-this\">\n" +
            "                                <li class=\"layui-col-xs4\">\n" +
            "                                    <a lay-href=\"#\">\n" +
            "                                        <img src=\"../img/职业健康得分.png\"/>\n" +
            "                                        <cite style='margin-top: 6px;color: #545454;'>职业健康得分</cite>\n" +
            "                                        <cite class=\"anchor_score xadmin-bold\" style='font-size: 26px;color: #545454;' title="+score+">"+score+"</cite>\n" +
            "                                    </a>\n" +
            "                                </li>\n" +
            "                                <li class=\"layui-col-xs4\">\n" +
            "                                    <a lay-href=\"#\">\n" +
            "                                        <img src=\"../img/汇总企业涉害程度.png\"/>\n" +
            "                                        <cite style='margin-top: 8px;color: #545454;'>涉害程度</cite>\n" +
            "                                        <cite class=\"xadmin-bold xadmin-font-18\" style='color: #545454;' title="+content.harmDegree+">"+content.harmDegree+"</cite>\n" +
            "                                    </a>\n" +
            "                                </li>\n" +
            "                                <li class=\"layui-col-xs4\">\n" +
            "                                    <a lay-href=\"#\">\n" +
            "                                        <img src=\"../img/汇总企业更新时间.png\"/>\n" +
            "                                        <cite style='margin-top: 6px;color: #545454;'>更新时间</cite>\n" +
            "                                        <cite class =\"xadmin-bold xadmin-font-20\" style='color: #545454;' title="+content.lastUpdateDate+">"+content.lastUpdateDate+"</cite>\n" +
            "                                    </a>\n" +
            "                                </li>\n" +
            "                            </ul>\n" +
            "                </div>\n" +
            "            </div>\n" +
            "                <div class=\"layui-card-footer xadmin-tc\" style='background-color:#fff;'>\n" +
            "                    <button class=\"layui-btn layui-btn-primary layui-btn-radius enterpriseDetail\" style='width: 100px;' value='"+content.id+"'>详情</button>\n" +
            "                </div>\n" +
            "        </div>"];

            var infoBox = new BMapLib.InfoBox(map,html.join(""),{
                boxStyle:{
                    width: "370px"
                    ,height: "250px"
                }
                ,closeIconMargin: "15px 10px 0 0"
                ,closeIconUrl:"/img/close_map.gif"
                ,enableAutoPan: true
                ,align: INFOBOX_AT_TOP
            });
            if(lastInfoBox){
                //判断上一个窗体是否存在，若存在则执行close
                lastInfoBox.close();
            }
            lastInfoBox = infoBox;
            infoBox.open(marker);
            // 企业图标(如果为空，则显示默认logo)
            if (content.icon == null || content.icon == '') {
                $('.anchor-' + i + ' .enterprise_icon').attr('src', '../img/qytb.png');
            } else {
                $('.anchor-' + i + ' .enterprise_icon').attr('src', '/detailReport/downloadFile?filePath=' + content.icon);
            }
            // 企业健康得分判断分数颜色和序号背景色
            if (content.score < 60) {
                $('.anchor-' + i + ' .anchor_score').css('color', '#d0021b');
                $('.anchor-' + i + ' .num-icon').css('background', '#d0021b');
            } else if (content.score >= 60 && content.score < 90) {
                $('.anchor-' + i + ' .anchor_score').css('color', '#e68f01');
                $('.anchor-' + i + ' .num-icon').css('background', '#e68f01');
            } else {
                $('.anchor-' + i + ' .anchor_score').css('color', '#7ed321');
                $('.anchor-' + i + ' .num-icon').css('background', '#1c4f90');
            }

            infoBox.addEventListener("open", function(e) {
                $('.infoBox>img').hide();
                $('.enterpriseDetail').on('click',function () {
                    xadmin.navigate("/detailReport/"+this.value);
                });
                infoBoxTemp = true;
            });
        }

        // 根据条件搜索企业
        $('#gov_search').on('click', function () {
            xadmin.get("/index/getMonitorEnterpriseByCondition?keyword=" + $('#gov_keyword').val().trim(),null,function(result){
                var data = result.data;
                loadEnterpriseInfo(data);
                var map_data_infos = [];
                for(var i=0;i<data.length;i++){
                    var map_data_info = [];
                    map_data_info.push(data[i].longitude,data[i].latitude
                        ,data[i]);
                    map_data_infos.push(map_data_info);
                }
                map.clearOverlays(); // 清空地图标注
                for(var i=0;i<map_data_infos.length;i++){
                    var content = map_data_infos[i][2];  // 坐标信息
                    var point = new BMap.Point(map_data_infos[i][0],map_data_infos[i][1]);  // 点坐标
                    // 根据健康得分显示不同颜色的marker图标
                    var myIcon = '';
                    if (content.score < 60) {
                        myIcon = new BMap.Icon('../img/地图标记红色.png', new BMap.Size(24,33));
                    } else if (content.score >= 60 && content.score < 90) {
                        myIcon = new BMap.Icon('../img/地图标记橙色.png', new BMap.Size(24,33));
                    } else {
                        myIcon = new BMap.Icon('../img/地图标记蓝色.png', new BMap.Size(24,33));
                    }
                    var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
                    marker.setLabel(getNumberLabel(i+1));  // 标注序号
                    map.addOverlay(marker);               // 将标注添加到地图中
                    addClickHandler(content,marker,i+1);
                }

            })
        });

        // Enter执行条件搜索
        $(document).on('keydown', function (e) {
            if (e.keyCode === 13) {
                $('#gov_search').trigger("click");
            }
        });

        // 点击按钮，显示排序&筛选列表
        $('#gov_sort').on('click', function () {
            $('#sort_filter').css('display', 'block');
        });

        // 单选排序&筛选行，改变颜色
        $('.sort-filter').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $('#sort_filter i').remove();
            if ($(this).children('i').length == 0) {
                $(this).append('<i class="layui-icon">&#xe605;</i>');
            }
        });

        // 点击排序&筛选的完成按钮，实现排序&筛选的操作
        $('#finish_sort_filter').click(function () {
            $('#sort_filter').css('display', 'none'); //关闭隐藏列表
            var selected = $('.active').prop('firstChild').nodeValue; //选中的排序&筛选的文本
            var condition = ''; //传给后台的排序或筛选条件
            if (selected == '综合排序') {
                condition = 'complex';
            }
            if (selected == '最低健康得分') {
                condition = 'lowestHealthScore';
            }
            if (selected == '最高健康得分') {
                condition = 'highestHealthScore';
            }
            if (selected == '最近更新') {
                condition = 'lastUpdate';
            }
            if (selected == '涉害较重') {
                condition = 'highInvolve';
            }
            if (selected == '涉害一般') {
                condition = 'middleInvolve';
            }
            if (selected == '涉害较轻') {
                condition = 'lowInvolve';
            }
            var loadingIndex = layer.load(2); // 加载层，防止多次添加
            xadmin.get("/index/getMonitorEnterpriseByCondition?condition=" + condition,null,function(result){
                var data = result.data;
                loadEnterpriseInfo(data);
                var map_data_infos = [];
                for(var i=0;i<data.length;i++){
                    var map_data_info = [];
                    map_data_info.push(data[i].longitude,data[i].latitude
                        ,data[i]);
                    map_data_infos.push(map_data_info);
                }
                map.clearOverlays(); // 清空地图标注
                for(var i=0;i<map_data_infos.length;i++){
                    var content = map_data_infos[i][2];  // 坐标信息
                    var point = new BMap.Point(map_data_infos[i][0],map_data_infos[i][1]);  // 点坐标
                    // 根据健康得分显示不同颜色的marker图标
                    var myIcon = '';
                    if (content.score < 60) {
                        myIcon = new BMap.Icon('../img/地图标记红色.png', new BMap.Size(24,33));
                    } else if (content.score >= 60 && content.score < 90) {
                        myIcon = new BMap.Icon('../img/地图标记橙色.png', new BMap.Size(24,33));
                    } else {
                        myIcon = new BMap.Icon('../img/地图标记蓝色.png', new BMap.Size(24,33));
                    }
                    var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
                    marker.setLabel(getNumberLabel(i+1));  // 标注序号
                    map.addOverlay(marker);               // 将标注添加到地图中
                    addClickHandler(content,marker,i+1);
                }
                layer.close(loadingIndex); // 关闭加载层
            });
        });

        // 点击排序&按钮或列表外的任意地方，隐藏排序&按钮列表
        $(document).bind('click', function (e) {
            var e = e || window.event; //浏览器兼容性
            var elem = e.target || e.srcElement;
            while (elem) {
                if (elem.id && (elem.id == 'sort_filter' || elem.id == 'gov_sort')) {
                    return;
                }
                elem = elem.parentNode;
            }
            $('#sort_filter').css('display', 'none');
        });
    })
</script>