<div class="layui-layout layui-layout-admin" id="xadmin-layout">
    <div class="layui-header layui-anim xadmin-anim-down" id="app-header">
        <div class="layui-main" style="margin-top: 10px;">
            <div style="float: left;width: 150px;text-align: center;border-right: solid 1px rgba(84, 84, 84, 0.5);">
                <img src="../img/HSD-Logo.png"/>
            </div>
            <div style="float: left;width: 50%;margin-left: 50px;">
                <span style="font-size: 24px;font-weight: 600;color: #545454;">职业卫生智慧监督管理平台</span>
            </div>

            <div style="float: right;width: 70px; ">


                <script type="text/html"
                        template
                        lay-done="layui.element.render('nav','xadmin-header')">
                    <ul class="layui-nav layui-layout-right" lay-filter="xadmin-header">

                        <li class="layui-nav-item "  >
                            <i class="iconfont icon-message-square" style="color: #545454;font-size: 20px"></i>&nbsp&nbsp&nbsp
                        </li>
                        <li class="layui-nav-item "  >
                            <i class=" layui-icon layui-icon-notice" style="color: #545454;font-size: 20px"></i>&nbsp&nbsp&nbsp
                        </li>
                        <li class="layui-nav-item layui-user"  >

                            <i class="layui-icon layui-icon-question-circle" style="color: #545454;font-size: 20px"></i>

                            <span style="font-size: 14px;color: #545454;vertical-align: top;">Help &nbsp&nbsp&nbsp</span>

                        </li>

                        <li class="layui-nav-item layui-user" lay-unselect style="border-left: solid 1px rgba(84, 84, 84, 0.5);">
                            <a>
                                <span style="font-size: 14px;color: #545454;vertical-align: top;">{{ currentUser.username }}</span>
                                <i class="layui-icon" style="color: #545454;">&#xe671;</i>
                            </a>
                            <dl class="layui-nav-child" style="left: auto;right:0px">
                                <dd><a class="layui-nav-child-href" id="password-update">密码修改</a></dd>
                                <hr/>
                                <dd><a class="layui-nav-child-href" data-th-href="@{logout}">退出登录</a></dd>
                            </dl>
                        </li>
                    </ul>
                </script>
            </div>
        </div>

    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side"  style="top: 100px;">
        <ul class="layui-nav layui-nav-tree" lay-filter="xadmin-sidebar" lay-shrink="all" is-template="true" style="background-color: #f4f5fa;">
            <li class="layui-nav-item layui-this">
                <a lay-href="#" target="" title="企业地图">
                    <div class="img-container">
                    <i class="layui-icon layui-icon-compass-fill" style="font-size: 20px;"></i>
                    <cite style="margin-left: 6px;">企业地图</cite>
                    </div>
                </a>
            </li>

            <li class="layui-nav-item">
                <a lay-href="/dataSummary" target="" title="数据分析">
                    <div class="img-container">
                        <i class="layui-icon layui-icon-fund-fill" style="font-size: 20px;"></i>
                        <cite style="margin-left: 6px;">数据分析</cite>
                    </div>
                </a>
            </li>

            <li class="layui-nav-item">
                <a  target="" title="年度汇报">
                    <div class="img-container">
                        <i class="layui-icon layui-icon-video-fill" style="font-size: 20px;"></i>
                        <cite style="margin-left: 6px;">年度汇报</cite>
                    </div>
                </a>
            </li>

            <li class="layui-nav-item">
                <a  target="" title="文件收发">
                    <div class="img-container">
                        <i class="layui-icon layui-icon-mail-fill" style="font-size: 20px;"></i>
                        <cite style="margin-left: 6px;">文件收发</cite>
                    </div>
                </a>
            </li>

            <li class="layui-nav-item">
                <a  target="" title="日常工作">
                    <div class="img-container">
                        <i class="layui-icon layui-icon-shopping-fill" style="font-size: 20px;"></i>
                        <cite style="margin-left: 6px;">日常工作</cite>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!-- 主体内容 -->
    <div id="xadmin-body">

    </div>
</div>
<style>
    #xadmin-layout #app-header{
        height: 70px;
        background-color: #f4f5fa !important;
        border: solid 1px rgba(151,151,151,0.26) !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
    #xadmin-layout #xadmin-body{
        margin: 84px 0 0 210px !important;
    }
    #xadmin-layout cite {
        font-size: 16px;
        color: #595b63;
    }
    #xadmin-layout .img-container {
        display: inline-block;
        width: 40px;
        text-align: center;
        margin-left: 20px;
    }
    #xadmin-layout .layui-nav-tree .layui-this>a {
        background-color: #d4d8eaf5;
    }
    #xadmin-layout .layui-nav-tree a:hover {
        background-color: #d4d8eaf5;
        border-bottom-right-radius:100px;
        border-top-right-radius:100px;
        color:#1c4f90;
    }
    #xadmin-layout .layui-nav-tree a {
        color:#6d7381;
    }

    .line {
        width: 1px;
        height: 45px;
        border: solid 1px rgba(84, 84, 84, 0.5);
    }

    .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
        color:#1c4f90 !important;
    }

</style>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'xadmin', 'element'], function () {
        var $ = layui.jquery,
            $view = $('#xadmin-layout'),
            xadmin = layui.xadmin;


        $view.on('click', '#password-update', function () {
            xadmin.modal.view('密码修改', 'password/update', {
                area: $(window).width() <= 750 ? '90%' : '500px',
                btn: ['确定'],
                yes: function () {
                    $('#user-password-update').find('#submit').trigger('click');
                }
            });
        });

    });
</script>