<style>
    #edit-recommend-institution {
        padding: 20px 25px 25px 0;
    }
    #edit-recommend-institution .layui-form-label {
        width: 110px;
    }
    #edit-recommend-institution .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-recommend-institution">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${sysRecommendInstitution?.id}">
        <input type="hidden" id="selectedType" th:value="${sysRecommendInstitution?.type}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" placeholder="请输入机构名称" th:value="${sysRecommendInstitution?.name}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构类型：</label>
            <div class="layui-input-block">
                <select id="type" lay-verify="required">
                    <option value="" selected>请选择机构类型</option>
                    <option value="0">培训机构</option>
                    <option value="1">体检机构</option>
                    <option value="2">检测机构</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构地区：</label>
            <div class="layui-input-block">
                <input type="text" id="area" placeholder="请输入机构地区" th:value="${sysRecommendInstitution?.area}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构联系地址：</label>
            <div class="layui-input-block">
                <input type="text" id="address" placeholder="请输入机构联系地址" th:value="${sysRecommendInstitution?.address}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构联系人：</label>
            <div class="layui-input-block">
                <input type="text" id="contacts" placeholder="请输入机构联系人" th:value="${sysRecommendInstitution?.contacts}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构联系电话：</label>
            <div class="layui-input-block">
                <input type="text" id="mobilePhone" placeholder="请输入机构联系电话" th:value="${sysRecommendInstitution?.mobilePhone}"
                       class="layui-input" lay-verify="required|telPhone">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="recommendInstitution"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        // 自定义验证手机号和固定电话
        form.verify({
            // 手机号或固定电话
            telPhone: [
                /(^$)|(^1\d{10}$)|(^0\d{2,3}-?\d{7,8}$)/
                ,'请输入正确的手机号或固定电话'
            ]
        });
        // 如果是编辑，选中相应的机构类型
        $("#type option[value='" + $('#selectedType').val() + "']").prop('selected',true);
        form.render('select');
        // 表单提交
        form.on('submit(recommendInstitution)', function(data) {
            var sysRecommendInstitution = {
                id: $('#id').val(),
                name: $('#name').val().trim(),
                type: $('#type').val().trim(),
                area: $('#area').val().trim(),
                address: $('#address').val().trim(),
                contacts: $('#contacts').val().trim(),
                mobilePhone: $('#mobilePhone').val().trim()
            };
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'recommendInstitution/edit/save',
                type: 'post',
                dateType: 'json',
                data: sysRecommendInstitution,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        parent.layer.msg(result.message, {icon: 6});
                        parent.requeryInstitution();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>