<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-institution" lay-title="推荐机构管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="recommend_institution_table" lay-filter="recommend_institution_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 推荐机构table行查看、编辑、删除 -->
<script type="text/html" id="recommend_institution_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form',  'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-admin-institution'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 推荐机构table
        var recommendInstitutionTable = table.render({
            elem: '#recommend_institution_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'name',
                        title: '机构名称',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'area',
                        title: '机构地区',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'address',
                        title: '机构地址',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'contacts',
                        title: '机构联系人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'mobilePhone',
                        title: '机构联系电话',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'type',
                        title: '类型',
                        align: 'center',
                        sort: true,
                        minWidth: 80,
                        templet: function(d) {
                            var type = '';
                            if (d.type === 0) {
                                type = '培训机构';
                            } if (d.type === 1) {
                                type =  '体检机构';
                            } else if (d.type === 2) {
                                type = '检测机构';
                            }
                            return type;
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#recommend_institution_bar',
                        width: 120
                    }
                ]
            ],
            url: 'recommendInstitution/list',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.sysRecommendInstitutions
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 推荐机构排序
        table.on('sort(recommend_institution_table)', function (obj) {
            requeryInstitution(obj);
        });
        // 推荐机构下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('recommend_institution_table');
                if (name === 'add') {
                    xadmin.modal.open("新增推荐机构", "recommendInstitution/edit", {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-recommend-institution').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-recommend-institution').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的推荐机构');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'recommendInstitution/deleteRecommendInstitutions',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success('删除成功');
                                    requeryInstitution();
                                } else {
                                    xadmin.alert.error('删除失败');
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增推荐机构'
            }, {
                name: 'delete',
                title: '删除推荐机构'
            }]
        });
        // 监听推荐机构table行事件（查看、编辑、删除）
        table.on('tool(recommend_institution_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看推荐机构信息',
                    content: 'recommendInstitution/view?id=' + data.id,
                    area: ['500px', '400px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑推荐机构", "recommendInstitution/edit/" + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-recommend-institution').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该推荐机构吗？', function(index) {
                    $.ajax({
                        url: 'recommendInstitution/deleteRecommendInstitution',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryInstitution();
                            }else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryInstitution = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            recommendInstitutionTable.reload(options);
        }
        $query.on('click', function () {
            requeryInstitution();
        });
        // 重置刷新监管账号
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryInstitution();
        });
    });
</script>