<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-user" lay-title="用户管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="username" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width:86px;">创建时间范围</label>
                                        <div class="layui-input-inline" style="width: auto;">
                                            <div class="layui-inline laydate-range-divide">
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input laydate-range-divide-start" name="createTimeFrom" id="createTimeFrom" placeholder="开始时间">
                                                </div>
                                                <div class="layui-form-mid">~</div>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input laydate-range-divide-end" name="createTimeTo" id="createTimeTo" placeholder="结束时间">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   <!-- <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createTime" id="createTime" class="layui-input">
                                        </div>
                                    </div>-->
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="1">禁用</option>
                                                <option value="0">有效</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="userTable" lay-data="{id: 'userTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="user-status">
    {{#
    var status = {
    0: {title: '有效', color: 'green'},
    1: {title: '禁用', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge xadmin-tag-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="user-option">
    <!--<a lay-event="detail" ><i-->
            <!--class="layui-icon xadmin-edit-area xadmin-green">&#xe7a5;</i></a>-->
    <a lay-event="edit"><i
            class="layui-icon xadmin-edit-area xadmin-blue">&#xe7a4;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'xadmin', 'treeSelect','util'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            xadmin = layui.xadmin,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-user'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'gmtCreate', type: 'desc'},
            tableIns;

        form.render();

        laydate.render({
            elem: '#createTimeFrom',
            range: false,
            trigger: 'click'
        });
        laydate.render({
            elem: '#createTimeTo',
            range: false,
            trigger: 'click'
        });

        initTable();

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('userTable');
                if (name === 'add') {
                    xadmin.modal.open('新增用户', 'user/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#user-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#user-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'block') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要封禁的用户');
                    } else {
                        var usernames = [];
                        layui.each(checkStatus.data, function (key, item) {
                            usernames.push(item.username)
                        });
                        xadmin.post(ctx + 'user/status/1/' + usernames.join(','), null, function () {
                            xadmin.alert.success('所选用户状态已被禁用');
                            reloadTable();
                        });
                    }
                }
                if (name === 'normal') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要解禁的用户');
                    } else {
                        var usernames = [];
                        layui.each(checkStatus.data, function (key, item) {
                            usernames.push(item.username)
                        });
                        xadmin.post(ctx + 'user/status/0/' + usernames.join(','), null, function () {
                            xadmin.alert.success('所选用户状态已被解禁');
                            reloadTable();
                        });
                    }
                }
                if (name === 'reset') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要重置密码的用户');
                    } else {
                        var usernames = [];
                        layui.each(checkStatus.data, function (key, item) {
                            usernames.push(item.username)
                        });
                        xadmin.post(ctx + 'user/password/reset/' + usernames.join(','), null, function () {
                            xadmin.alert.success('所选用户密码已重置为123456');
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增用户'
            }, {
                name: 'block',
                title: '封禁用户'
            }, {
                name: 'normal',
                title: '解禁用户'
            }, {
                name: 'reset',
                title: '密码重置'
            }]
        });

        /**
         * 初始化数据表格
         */
        function initTable() {
            tableIns = xadmin.table.init({
                elem: $view.find('table'),
                id: 'userTable',
                url: ctx + 'user/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'username', title: '用户名', minWidth: 100,sort: true},
                    {field: 'roleName', title: '用户角色', minWidth: 200},
                    {field: 'email', title: '邮箱', minWidth: 180},
                    {field: 'status',title: '状态', templet: '#user-status',sort: true},
                    {field: 'lastLoginTime',title: '最后访问时间', minWidth: 160,sort: true,templet:function (data) {
                            if(data.lastLoginTime == null){
                                return "";
                            }
                            return layui.util.toDateString(data.lastLoginTime,"yyyy-MM-dd HH:mm:ss");
                     }},
                    {field: 'gmtCreate', title: '创建时间', minWidth: 160, sort: true,templet:function (data) {
                       return layui.util.toDateString(data.gmtCreate,"yyyy-MM-dd HH:mm:ss");
                    }},
                    {title: '操作', toolbar: '#user-option', minWidth: 80}
                ]]
            });
        }


        table.on('sort(userTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });



        table.on('tool(userTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                xadmin.modal.view('用户信息', 'user/detail/' + data.username, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'edit') {
                xadmin.modal.open('修改用户', 'user/update/' + data.username, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#user-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        /**
         * 查询用户
         */
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         * 刷新
         */
        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'desc';
            console.log(getQueryParams());
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });


        function reloadTable(){
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        }

        function getQueryParams() {
            var createTimeFrom = $searchForm.find('input[name="createTimeFrom"]').val(),
                createTimeTo = $searchForm.find('input[name="createTimeTo"]').val();

            return {
                createTimeFrom: createTimeFrom,
                createTimeTo: createTimeTo,
                username: $searchForm.find('input[name="username"]').val().trim(),
                status: $searchForm.find("select[name='status']").val(),
                invalidate_ie_cache: new Date()
            };
        }

    })
</script>