<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }

    #user-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="user-update">
    <form class="layui-form" action="" lay-filter="user-update-form">
        <div class="layui-form-item xadmin-hide">
            <label class="layui-form-label xadmin-form-item-require">用户id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${user.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" data-th-id="${user.id}"
                       lay-verify="username" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱：</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="email" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" th:if="${user.isAdmin == 0}">
            <label class="layui-form-label xadmin-form-item-require">角色：</label>
            <div class="layui-input-block">
                <select name="roleId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="user-update-role"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="0" title="有效">
                <input type="radio" name="status" value="1" title="禁用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="100" class="layui-textarea">
                </textarea>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['xadmin', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            user = [[${user}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initUserValue();

        formSelects.render();

        formSelects.config('user-update-role', {
            searchUrl: ctx + 'role',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].name,
                        value: data[i].id
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('user-update-role', user.roleId.split(','));
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                xadmin.alert.error('获取角色列表失败');
            }
        });

        function initUserValue() {
            form.val("user-update-form", {
                "username": user.username,
                "email": user.email,
                "status": user.status+"",
                "remark": user.remark
            });
        }

        form.on('submit(user-update-form-submit)', function (data) {
            if (xadmin.nativeEqual(data.field, user)) {
                xadmin.alert.warn('数据未作任何修改！');
                return false;
            }
            xadmin.post(ctx + 'user/update', data.field, function () {
                layer.closeAll();
                xadmin.alert.success(user.username + ' 用户数据修改成功');
                $('#xadmin-enterprise-user').find('#query').click();
            });
            return false;
        });
    });
</script>