<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-error-403" lay-title="403">
    <div class="layui-row layui-col-space10" style="margin-top:100px">
        <div class="layui-col-xs3 layui-col-xs-offset2">
            <img data-th-src="@{xadmin/images/error/403.svg}" alt="" width="85%"/>
        </div>
        <div class="layui-col-xs7">
            <h1 style="font-size: 60px">403</h1>
            <h2 class="xadmin-mar-b20 xadmin-c-gray">抱歉，你无权访问该页面</h2>
            <button class="layui-btn layui-btn-normal" id="home">返回首页</button>
        </div>
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'xadmin'], function () {
        var $ = layui.jquery,
            xadmin = layui.xadmin,
            $view = $('#xadmin-error-403');
        $view.find('button#home').on('click', function () {
            xadmin.view.tab.del(ctx + '403');
            xadmin.view.tab.change(ctx + "index");
        })
    });
</script>