#xadmin-login {
    height: 100%;
    /*background: #f0f2f5 url(../images/background.svg) no-repeat center 110px;*/
    padding-top: 1px;
    margin-top: -1px;
    overflow: hidden;
}

#xadmin-login .layui-logo {
    user-select: none;
    overflow: hidden;
    position: static;
    font-size: 27px;
    width: 100%;
    padding: 0;
    line-height: 120px;
    height: 120px;
    color: #3491ff;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    transition: height .8s cubic-bezier(0.075, 0.82, 0.165, 1)
}

#xadmin-login .layui-logo span {
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
    border-bottom: 1px solid #3491ff
}

#xadmin-login .layui-logo span b {
    color: #3491ff
}

#xadmin-login .login-wrap {
    position: relative;
    top: 50%;
    margin-top: -200px;
    height: 540px;
    min-width:1200px;
}

#xadmin-login .layui-form {
    overflow: hidden;
    background: #fff;
    padding: 40px 40px 20px;
    border-radius: 0;
    box-shadow: 1px 3px 3px #ccc;
    position: relative
}

#xadmin-login .layui-form-item {
    position: relative
}

#xadmin-login .verify-block {
    display: none
}

#xadmin-login .layui-input {
    text-indent: 26px
}

#xadmin-login .codeimg {
    margin-left: 10px;
    cursor: pointer
}

#xadmin-login .sendsms {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 100px;
    border: none
}

#xadmin-login .sendsms.layui-btn-disabled {
    background: #f4f4f4;
    color: #bbb
}

#xadmin-login .houseimg {
    text-align: center
}

#xadmin-login .houseimg img {
    display: inline-block;
    margin-top: 5%
}

#xadmin-login .login-type-tab {
    margin-bottom: 20px;
    overflow: hidden
}

#xadmin-login .login-type-tab li {
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #bbb;
    cursor: pointer;
    transition: color .5s ease
}

#xadmin-login .login-type-tab li.active {
    color: #333
}

#xadmin-login .login-type-tab li .qrcode-icon {
    font-size: 24px
}

#xadmin-login .phonecode-block {
    display: none
}

#xadmin-login .qrcode-block {
    text-align: center;
    display: none
}

#xadmin-login .qrcode-block .qrcode {
    border: 1px solid #eee;
    display: inline-block;
    padding: 15px;
    margin: 30px 0;
    width: 158px;
    height: 158px
}

#xadmin-login .qrcode-block .qrcode .layui-icon {
    line-height: 158px;
    font-size: 44px;
    color: #e6e6e6
}

#xadmin-login .qrcode-block .p1 {
    font-size: 16px
}

#xadmin-login .qrcode-block .p2 {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 20px
}

#xadmin-login .layui-form-item .label-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    line-height: 38px;
    text-align: center;
    color: #d2d2d2 !important
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 3;
}

.login_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    background: url(../images/login.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
#login-div{
    position:relative;
    z-index: 3;
    overflow: hidden;
    width:380px;
    height: 384px;
    border-radius: 10px;
    float: right;
    right: 60px;
}
#xadmin-login .login-container{
    min-width:1250px;
}

#login-title{
    position: relative;
    z-index: 3;
    top:100px;


}

#login-title-image{
    background-image: url("../images/login_title.png");
    height: 167px;
    width:697px;
    background-repeat:  no-repeat;
    margin:0px auto;
}


