/*body {
    font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif
}*/

body, html, #app, .layui-body {
    height: 100%;
    background: #f3f3f3
}

a {
    cursor: pointer;
    color: #2db7f5;
    transition: color 0.3s ease
}

a:hover {
    color: #1e51c7
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f4f4f4
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #afb3bf !important
}

#app a {
    outline: none
}

#app-sidebar {
    top: 0;
    z-index: 1001;
    overflow: hidden
}

#app-sidebar .layui-side-scroll {
    padding-right: 17px
}

#app-sidebar, #app-sidebar .layui-side-scroll, #app-sidebar .layui-nav-tree, #app-sidebar .layui-logo {
    width: 245px
}

.layui-body, #app-header .layui-layout-left, .xadmin-tabs-wrap .xadmin-tabs-menu, .xadmin-tabs-wrap .xadmin-tabs-action {
    left: 245px
}

#app-sidebar .layui-logo {
    overflow: hidden;
    position: static;
    font-size: 21px;
    padding: 0;
    line-height: 62px;
    height: 62px;
    transition: height 0.8s cubic-bezier(0.075, 0.82, 0.165, 1)
}

body, html, #app-header .layui-nav .layui-nav-item a:not(.layui-nav-child-href), .xadmin-tabs-wrap .xadmin-tabs-menu li:hover, .xadmin-tabs-wrap .xadmin-tabs-action:hover, .xadmin-tabs-wrap .xadmin-tabs-active, .xadmin-grid:hover > p, .xadmin-cell-arrow:before, .xadmin-breadcrumb a:hover, .layui-layer-admin-page .layui-layer-setwin .layui-layer-close2:hover, .xadmin-tabs-wrap .xadmin-tabs-action:hover {
    color: rgba(0, 0, 0, .65) !important
}

.layui-table {
    color: #595d68
}

#app-header .layui-nav-bar, .layui-bg-black {
    background-color: #2db7f5 !important
}

.xadmin-c-blue, #app-sidebar .layui-logo, #app-sidebar .layui-logo span b, .xadmin-grid:hover .layui-icon, .xadmin-cell-selected, .layui-laypage a:hover, .layui-laydate-footer span[lay-type='date'], .layui-laydate .layui-laydate-footer span:hover, .layui-dropdown .layui-dropdown-option:hover, .layui-laydate td.layui-this, .xadmin-laydate-full td.layui-this .laydate-day-mark {
    color: #2db7f5 !important
}

#app-sidebar .layui-nav-tree .layui-nav-bar, .layui-bg-blue, .layui-layer-prompt .layui-layer-btn a.layui-layer-btn0, .layui-layer-admin-modal .layui-layer-btn a.layui-layer-btn0, .layui-laydate li.layui-this, .layui-laydate td.layui-this {
    background-color: #2db7f5 !important
}

.layui-form-select dl dd.layui-this {
    border-radius: 9px;
    border: 5px solid #fff
}

.xadmin-br-blue, #app-sidebar .layui-logo span, .xadmin-linecard, .layui-layer-prompt .layui-layer-btn a.layui-layer-btn0, .layui-layer-admin-modal .layui-layer-btn a.layui-layer-btn0, .layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
    border-color: #2db7f5 !important
}

#app-sidebar, #app-sidebar .layui-nav-itemed .layui-nav-child {
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    /*background-color: #393e46*/
}

#app-sidebar .layui-logo span, #app-sidebar .layui-nav-tree .layui-nav-child dd.layui-this, #app-sidebar .layui-nav-tree .layui-nav-child dd.layui-this a, #app-sidebar .layui-nav-tree .layui-this, #app-sidebar .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover, .layui-layer-prompt .layui-layer-btn a.layui-layer-btn0, .layui-layer-admin-modal .layui-layer-btn a.layui-layer-btn0 {
    color: #fff
}

#app-sidebar {
    background-color: #20222A !important;
}

#app-header, .xadmin-tabs-wrap, .xadmin-tabs-wrap .xadmin-tabs-menu li, .xadmin-tabs-wrap .xadmin-tabs-action, .layui-form-checkbox, .layui-form-select dl dd.layui-disabled, .layui-btn-primary, .layui-layer-admin-page .layui-layer-setwin .layui-layer-close2, .layui-dropdown .layui-dropdown-select {
    background-color: #fff !important
}

.layui-table thead tr, .layui-table tbody tr:hover, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool {
    /*background-color: #f6f6f6 !important*/
}

.layui-table-click {
    background-color: #f9f9f9 !important
}

.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {
    /*background-color: #f6f6f6 !important*/
}

.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
    border-color: #f6f6f6
}

.layui-btn-group .layui-btn-primary:first-child {
    border-color: #eee
}

.layui-table[lay-skin='line'] td, .layui-table[lay-skin='line'] th {
}

.xadmin-table-full {
    padding: 15px 15px 40px 15px
}

.xadmin-table-full .layui-table, .xadmin-table-full .layui-table-view {
    /* margin: 0*/
}

#app-sidebar .layui-logo span {
    border-bottom-width: 0;
    font-size: 1.2rem
}

#app-sidebar .layui-logo img {
    width: 32px;
    margin-bottom: 4px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle
}

#app-sidebar .layui-logo i {
    font-style: normal;
    border-bottom: 1px solid #aaa
}

#app-header, #app-header .layui-nav .layui-nav-item {
    line-height: 50px;
    height: 50px
}

#app-header .layui-icon-triangle-d {
    font-size: 12px !important
}

#app-header .layui-user .layui-hide-xs {
    font-weight: 600
}

#app-header .layui-user img {
    width: 1.9rem;
    margin-right: .5rem;
    margin-bottom: .3rem
}

#app-sidebar .layui-nav {
    background: transparent
}

#app-sidebar .layui-nav .layui-nav-item a:hover {
    background: transparent
}

#app-sidebar .layui-nav-tree .layui-nav-bar {
    width: 3px;
    left: auto;
    right: 0
}

#app-sidebar .layui-nav-itemed .layui-nav-child a {
    font-size: 12px;
    padding-left: 50px
}

#app-sidebar .layui-nav .layui-nav-mored, #app-sidebar .layui-nav-itemed > a .layui-nav-more {
    margin-top: -6px
}

#app-sidebar .layui-nav .layui-nav-more {
    border-width: 4px
}

#app-sidebar .layui-nav .layui-nav-item {
    color: #aaadb2
}

#app-sidebar .layui-nav-tree .layui-nav-item > a {
    height: 54px;
    line-height: 54px
}

#app-sidebar .layui-icon {
    display: inline-block;
    width: 25px;
    margin-right: 8px
}

#app-sidebar .layui-nav .layui-nav-item a {
    user-select: none;
    font-size: 14px;
    line-height: 48px;
    height: 48px
}

#app-sidebar .layui-nav .layui-nav-item dd a {
    line-height: 46px;
    height: 46px;
    font-size: 14px
}

#app-sidebar .layui-nav .layui-nav-item a .layui-icon {
    font-size: 18px
}

#app-header {
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px
}

#app-header .layui-nav {
    padding: 0
}

#app-header .layui-search-input {
    background: transparent;
    margin-top: 5px;
    border: none
}

#app-header .layui-search-input:focus {
    box-shadow: none
}

#app-header .layui-nav-bar {
    height: 1px
}

#app-header .layui-nav-child {
    border: none;
    top: 50px
}

#app-header .layui-nav-item .layui-icon {
    font-size: 16px
}

#app-header .layui-nav-more {
    display: none
}

#app-header .message-dot {
    top: 40%;
    right: 0
}

.xadmin-tabs-hidden {
    display: none
}

.xadmin-tabs-wrap {
    z-index: 999;
    position: fixed;
    top: 50px;
    white-space: nowrap;
    padding: 0 80px 0 30px;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05)
}

.xadmin-tabs-wrap .xadmin-tabs-menu {
    position: relative;
    transition: left 0.3s;
    font-size: 0;
}

.xadmin-tabs-wrap .xadmin-tabs-menu li, .xadmin-tabs-wrap .xadmin-tabs-action {
    text-align: center;
    /*border-right: 1px solid #f1f1f1;*/
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    transition: all 0.3s ease
}

.xadmin-tabs-wrap .xadmin-tabs-action:hover, .xadmin-tabs-wrap .xadmin-tabs-menu li:hover {
    background: #fdfdfd !important
}

.xadmin-tabs-wrap .xadmin-tabs-menu li:hover > .xadmin-tabs-close {
    color: red
}

.xadmin-tabs-wrap .xadmin-tabs-menu li {
    display: inline-block;
    padding-left: 18px;
    line-height: 38px;
    color: #999;
    user-select: none;
    position: relative;
    font-size: 13px;
}

.xadmin-tabs-wrap .xadmin-tabs-close {
    color: #c2c2c2;
    font-size: 10px;
    height: 36px;
    width: 30px;
    display: inline-block;
    transition: color 0.3s ease
}

.xadmin-tabs-wrap .xadmin-tabs-action {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 245px;
    z-index: 1;
    width: 30px;
    color: #999
}

.xadmin-tabs-wrap .xadmin-tabs-next {
    left: auto;
    right: 31px;
    border-left: 1px solid #f1f1f1
}

.xadmin-tabs-wrap .xadmin-tabs-down {
    left: auto;
    right: 0
}

.xadmin-tabs-menu .xadmin-tabs-active:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 41px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #fff;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    pointer-events: none;
}

.xadmin-tabs-wrap .xadmin-tabs-menu li:hover:after {
    width: 100%
}

.xadmin-tabs-wrap .xadmin-tabs-menu li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 0;
    background-color: #292B34;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.xadmin-tabs-wrap .xadmin-tabs-menu li.xadmin-tabs-active, .xadmin-tabs-wrap .xadmin-tabs-active li:hover {
    background-color: #f6f6f6 !important;
}

.xadmin-tabs-wrap .xadmin-tabs-menu li.xadmin-tabs-active, .xadmin-tabs-wrap .xadmin-tabs-menu li:hover {
    background-color: #f6f6f6 !important;
}

.xadmin-tabs-wrap .xadmin-tabs-menu li.xadmin-tabs-active:after {
    width: 100%;
    border: none;
    height: 3px;
    background-color: #292B34;
}

.xadmin-lead {
    font-weight: 300
}

.xadmin-ignore {
    font-size: 14px;
    color: #999
}

.xadmin-pad30 {
    padding: 30px !important
}

.xadmin-pad20 {
    padding: 20px !important
}

.xadmin-pad10 {
    padding: 20px !important
}

.xadmin-pad5 {
    padding: 20px !important
}

.xadmin-pad0 {
    padding: 0px !important
}

.xadmin-pad-tb20 {
    padding: 20px 0 !important
}

.xadmin-pad-tb10 {
    padding: 10px 0 !important
}

.xadmin-pad-tb5 {
    padding: 5px 0 !important
}

.xadmin-pad-r20 {
    padding-right: 20px !important
}

.xadmin-pad-r10 {
    padding-right: 10px !important
}

.xadmin-pad-r5 {
    padding-right: 5px !important
}

.xadmin-pad-b20 {
    padding-bottom: 20px !important
}

.xadmin-pad-b10 {
    padding-bottom: 10px !important
}

.xadmin-pad-b5 {
    padding-bottom: 5px !important
}

.xadmin-pad-t20 {
    padding-top: 20px !important
}

.xadmin-pad-t10 {
    padding-top: 10px !important
}

.xadmin-pad-t5 {
    padding-top: 5px !important
}

.xadmin-pad-l20 {
    padding-left: 20px !important
}

.xadmin-pad-l10 {
    padding-left: 10px !important
}

.xadmin-pad-l5 {
    padding-left: 5px !important
}

.xadmin-mar30 {
    margin: 30px !important
}

.xadmin-mar20 {
    margin: 20px !important
}

.xadmin-mar10 {
    margin: 20px !important
}

.xadmin-mar5 {
    margin: 20px !important
}

.xadmin-mar0 {
    margin: 0px !important
}

.xadmin-mar-tb20 {
    margin: 20px 0 !important
}

.xadmin-mar-tb10 {
    margin: 10px 0 !important
}

.xadmin-mar-tb5 {
    margin: 5px 0 !important
}

.xadmin-mar-r20 {
    margin-right: 20px !important
}

.xadmin-mar-r10 {
    margin-right: 10px !important
}

.xadmin-mar-r5 {
    margin-right: 5px !important
}

.xadmin-mar-b20 {
    margin-bottom: 20px !important
}

.xadmin-mar-b10 {
    margin-bottom: 10px !important
}

.xadmin-mar-b5 {
    margin-bottom: 5px !important
}

.xadmin-mar-t20 {
    margin-top: 20px !important
}

.xadmin-mar-t10 {
    margin-top: 10px !important
}

.xadmin-mar-t5 {
    margin-top: 5px !important
}

.xadmin-mar-l20 {
    margin-left: 20px !important
}

.xadmin-mar-l10 {
    margin-left: 10px !important
}

.xadmin-mar-l5 {
    margin-left: 5px !important
}

.xadmin-gray {
    filter: grayscale(100%)
}

.layui-circle {
    border-radius: 100% !important
}

.layui-form-checked span, .layui-form-checked:hover span, .layui-form-checked[lay-skin='primary'] i, .layui-form-onswitch, .layui-bg-green {
    background-color: #32c787 !important
}

.layui-form-checked i, .layui-form-checked:hover i {
    color: #32c787
}

.layui-form-checked[lay-skin='primary'] i {
    border-color: #b7eb8f
}

.layui-form-checked[lay-skin='primary'] span {
    background-color: transparent !important
}

.layui-bg-red {
    background-color: #ff5652 !important
}

.layui-bg-orange {
    background-color: #ffc107 !important
}

.layui-bg-gray {
    background-color: #eee !important
}

.layui-bg-white {
    background-color: #fff !important
}

.xadmin-rle {
    position: relative
}

.xadmin-aler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
}

.xadmin-alel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.xadmin-fl {
    float: left
}

.xadmin-fr {
    float: right
}

.xadmin-tc {
    text-align: center
}

.xadmin-tr {
    text-align: right
}

.xadmin-tl {
    text-align: left
}

.xadmin-font-12 {
    font-size: 12px !important
}

.xadmin-font-14 {
    font-size: 14px !important
}

.xadmin-bold {
    font-weight: bold !important
}

.xadmin-avatar {
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block;
    overflow: hidden
}

.xadmin-avatar-lg {
    height: 60px;
    width: 60px
}

.xadmin-avatar-xs {
    height: 20px;
    width: 20px
}

.xadmin-avatar img {
    height: 100%;
    width: 100%;
    display: block
}

.xadmin-avatar .layui-badge-dot {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1
}

.xadmin-avatar, .xadmin-avatar img {
    border-radius: 5px
}

.layui-card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05)
}

.layui-card .layui-card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.layui-card .layui-card-cover {
    height: 200px;
    overflow: hidden
}

.layui-card .layui-card-cover img {
    width: 100%;
    min-height: 100%
}

.layui-card .layui-card-extra {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 1;
    line-height: 40px;
    padding-right: 15px
}

.layui-card .layui-card-footer {
    padding: 10px;
    line-height: 36px;
    text-align: right;
    background: #f9f9f9
}

.xadmin-linecard {
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    padding: 15px 25px;
    line-height: 24px;
    border-left-width: 2px;
    border-left-style: solid;
    background: #fff;
    transition: background 0.3s ease
}

.xadmin-linecard:hover {
    background: #f8fafe
}

.xadmin-linecard.xadmin-br-green:hover {
    background: #f6fdfa
}

.xadmin-linecard.xadmin-br-red:hover {
    background: #fff8f6
}

.xadmin-linecard.xadmin-br-gray:hover {
    background: #f6f6f6
}

.xadmin-linecard:last-child {
    margin-bottom: 0
}

.xadmin-linecard-title {
    padding-bottom: 12px;
    font-size: 16px
}

.xadmin-linecard-text {
    font-size: 26px;
    padding-right: 5px
}

.xadmin-grid {
    text-align: center;
    border-radius: 5px;
    padding: 15px 0;
    transition: background 0.3s ease;
    cursor: pointer
}

.xadmin-grid > p {
    color: #999;
    font-size: 14px
}

.xadmin-grid > p, .xadmin-grid .layui-icon {
    transition: color 0.3s ease
}

.xadmin-grid .layui-icon {
    font-size: 28px;
    display: inline-block;
    margin-bottom: 10px
}

.xadmin-cell {
    padding: 7px 16px;
    clear: both;
    font-size: 12px !important;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease-in-out
}

.xadmin-cell .xadmin-avatar {
    float: left;
    margin-right: 10px;
    position: relative;
    top: 3px
}

.xadmin-cell .xadmin-avatar-xs {
    top: 4px
}

.xadmin-cell-arrow:before {
    font-family: 'layui-icon', 'nep-icon' !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e859';
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
    height: 20px
}

.xadmin-cell:hover {
    background: #f6f6f6
}

.xadmin-cell-selected, .xadmin-cell-selected:hover {
    background: #f8fafe
}

.xadmin-cell-title {
    line-height: 28px;
    font-size: 14px
}

.xadmin-cell-label {
    line-height: 1.2;
    font-size: 12px;
    color: #999;
    padding-bottom: 4px
}

.xadmin-cell-title, .xadmin-cell-label {
    padding-right: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.xadmin-cell-extra {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 16px;
    display: inline-block;
    height: 16px;
    color: #999
}

.xadmin-cell-arrow .xadmin-cell-extra {
    right: 32px
}

.xadmin-cell-disabled {
}

.layui-layout-admin .layui-body {
    top: 0;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 15px
}

.layui-layout-admin .xadmin-tabs-body {
    padding-top: 86px;
    float: left
}

#app-sidebar, #app-header .layui-layout-left, .layui-layout-admin .layui-body {
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1)
}

.xadmin-breadcrumb {
    visibility: visible;
    vertical-align: middle
}

.xadmin-breadcrumb a {
    color: rgba(0, 0, 0, 0.45) !important;
    cursor: default
}

.xadmin-breadcrumb > * {
    font-size: .78rem
}

#xadmin-body .layui-fluid {
    margin: 0 !important;
    padding: 0 !important
}

#xadmin-body .layui-fluid > .layui-table-view, #xadmin-body .layui-fluid > .layui-card > .layui-table-view {
    margin: 0
}

#xadmin-body .xadmin-body-tabs {
    margin: 0
}

.xadmin-sidebar-shrink #app-sidebar {
    left: 0;
    width: 52px
}

.xadmin-sidebar-shrink #app-sidebar .layui-nav-item .layui-nav-child {
    display: none
}

.xadmin-sidebar-shrink #app-sidebar .layui-logo {
    height: 0
}

.xadmin-sidebar-shrink .layui-body, .xadmin-sidebar-shrink #app-header .layui-layout-left, .xadmin-sidebar-shrink .xadmin-tabs-wrap .xadmin-tabs-menu, .xadmin-sidebar-shrink .xadmin-tabs-wrap .xadmin-tabs-prev {
    left: 56px
}

.xadmin-sidebar-shrink #app-header .layui-icon-shrink-right:before {
    content: '\e66b'
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc
}

.layui-input:hover, .layui-textarea:hover, .layui-input:focus, .layui-textarea:focus {
    border-color: #eee
}

.layui-input:focus, .layui-textarea:focus {
    border-color: #94b2fa !important;
    box-shadow: 0 0 0 3px rgba(90, 139, 255, 0.2)
}

.layui-input, .layui-select, .layui-textarea {
    border-radius: 2px;
    border-color: #eee;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.layui-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.layui-form-select dl {
    padding: 0;
    border-color: transparent;
    border-color: #ccc \9
}

.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #32c787
}

.layui-form-radio .layui-anim-scaleSpring {
    -webkit-animation-name: none;
    animation-name: none
}

.layui-tips {
    background: #fffcee;
    color: #ff4911;
    font-size: 12px;
    padding: 10px 15px
}

.layui-tips .close {
    float: right;
    color: #ffd6ca;
    font-weight: normal;
    cursor: pointer;
    transition: color 0.3s ease
}

.layui-tips .close:hover {
    color: #ff4911
}

.layui-btn {
    background-color: #1890ff
}

.layui-btn-success {
    background-color: #32c787
}

.layui-btn-primary {
    border-color: #f1f1f1
}

.layui-btn-primary:hover {
    border-color: #f2f2f2
}

.layui-btn-warm {
    background-color: #ffc107
}

.layui-btn-danger, .layui-badge, .layui-badge-dot {
    background-color: #ff5652
}

.layui-btn-disabled, .layui-btn-disabled:active, .layui-btn-disabled:hover {
    background-color: #fbfbfb
}

.layui-layer-admin-modal {
    overflow: hidden
}

.layui-layer-prompt .layui-layer-btn a, .layui-layer-admin-modal .layui-layer-btn a {
    border-radius: 3px;
    height: 32px;
    line-height: 32px
}

.layui-layer-admin-modal .layui-layer-content {
    padding-top: 0
}

.layui-layer-admin-modal, .layui-layer-admin-page {
    border-radius: 3px
}

.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2 {
    font-family: layui-icon;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    width: 34px;
    height: 34px;
    color: #aaa;
    transition: all 0.3s ease
}

.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2:hover {
    transform: rotate(90deg)
}

.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2:after {
    content: '\1006'
}

.layui-layer-msg {
    border: none !important
}

.layui-layer-msg .layui-layer-content {
    padding: 10px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico {
    font-family: 'layui-icon', 'nep-icon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    background: none
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico::before {
    content: '\e8b3';
    color: #fab600
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico1::before {
    content: '\e89d';
    color: #00d57b
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico2::before {
    content: '\e8a1';
    color: #f25657
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico3::before {
    content: '\e8a6';
    color: #fab600
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico4::before {
    content: '\e910';
    color: #171e2d
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico5::before {
    content: '\e782';
    color: #f25657
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico6::before {
    content: '\e78f';
    color: #00d57b
}

.layui-tab-title {
    height: 42px
}

.layui-tab-title li {
    color: #999
}

.layui-tab-brief > .layui-tab-title .layui-this {
    color: #000
}

.layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
    border-bottom-width: 2px;
    border-bottom-style: solid
}

.layui-laydate .layui-laydate-content {
    font-size: 12px
}

.layui-laydate, .layui-laydate-hint {
    box-shadow: 0 0 30px #ddd !important;
    border: 1px solid #eee \9 !important
}

.layui-laydate .layui-laydate-footer span {
    border: none
}

.layui-laydate .layui-laydate-content td:hover {
    background: #f6f6f6 !important
}

.layui-laydate .layui-laydate-header i {
    font-size: 10px
}

.layui-laydate td {
    border-radius: 6px
}

.xadmin-laydate-full .layui-laydate {
    border: none;
    box-shadow: none !important
}

.xadmin-laydate-full .layui-laydate-static {
    display: block
}

.xadmin-laydate-full .layui-laydate-main, .xadmin-laydate-full .layui-laydate-content table {
    width: 100%
}

.xadmin-laydate-full .layui-laydate-content {
    font-size: 24px !important
}

.xadmin-laydate-full .layui-laydate-content td, .xadmin-laydate-full .layui-laydate-content th {
    height: 100px !important;
    width: 100px !important
}

.xadmin-laydate-full .laydate-day-mark {
    font-size: 24px;
    line-height: 100px;
    color: #f25657
}

.xadmin-laydate-full .laydate-day-mark::after {
    display: none;
    width: 8px !important;
    height: 8px !important;
    background: #f25657 !important;
    right: 14px !important;
    top: 14px !important
}

.layui-laydate td.layui-this, .layui-laydate td.layui-this:hover {
    font-weight: bold;
    color: #1890ff !important;
    background: #e6f7ff !important;
    border: 1px solid #91d5ff !important
}

.laydate-theme-datehour .laydate-time-list {
    overflow: hidden
}

.laydate-theme-datehour .laydate-time-list > li {
    width: 100%;
    margin-bottom: 20px
}

.laydate-theme-datehour .laydate-time-list > li p {
    display: none
}

.laydate-theme-datehour .laydate-time-list ol {
    height: 100%;
    border: none;
    overflow-y: scroll
}

.laydate-theme-datehour .laydate-time-list ol li {
    text-align: center;
    padding-left: 0;
    width: 100%
}

.laydate-theme-datehour .laydate-time-list ol li:after {
    content: ' 点 '
}

.layui-cell {
    padding: 10px;
    cursor: pointer
}

.layui-cell:hover {
    background: #f6f6f6
}

.layui-cell .layui-cell-cover {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 10px
}

.layui-cell .layui-cell-cover img {
    display: block;
    width: 100%;
    height: 100%
}

.layui-cell .layui-cell-title {
    line-height: 18px
}

.layui-cell .layui-cell-info {
    font-size: 12px;
    color: #999
}

.layui-cell .layui-cell-content {
}

.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool {
    background: #f1f1f1
}

.layui-table-tool {
    background: #fff !important
}

@media screen and (max-width: 991px) {
    .xadmin-sidebar-shrink #app-sidebar {
        width: 0
    }

    .xadmin-sidebar-shrink .layui-body, .xadmin-sidebar-shrink #app-header .layui-layout-left, .xadmin-sidebar-shrink .xadmin-tabs-wrap .xadmin-tabs-menu, .xadmin-sidebar-shrink .xadmin-tabs-wrap .xadmin-tabs-prev {
        left: 0
    }
}

@media screen and (max-width: 768px) {
    .layui-layout-admin .xadmin-tabs-body {
        padding-top: 50px
    }

    #app-header ul.layui-nav {
        padding: 0 10px
    }

    #app-header ul.layui-nav .layui-nav-child {
        left: auto;
        right: 0px;
        min-width: 230px
    }

    #app-header ul.layui-nav .layui-nav-child hr {
        background: #f1f1f1
    }

    #app-header .layui-nav .layui-nav-item > a {
        padding: 0 15px
    }

    #app-header {
        left: 245px;
        transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1)
    }

    #app-header .layui-layout-left {
        left: 0
    }

    .layui-body {
        position: relative;
        width: 100%
    }

    .xadmin-tabs-wrap {
        display: none
    }

    .xadmin-sidebar-shrink .layui-body, .xadmin-sidebar-shrink #app-header .layui-layout-left {
        left: 0px
    }

    .xadmin-sidebar-shrink .layui-body, .xadmin-sidebar-shrink #app-header {
        left: 0px
    }

    .layui-label-block-xs .layui-form-item > label.layui-form-label {
        display: inline-block;
        text-align: left;
        float: none;
        display: block;
        width: auto;
        padding-left: 0;
        color: #999;
        padding-bottom: 5px
    }

    .layui-label-block-xs .layui-form-item > .layui-input-block, .layui-label-block-xs .layui-form-item > .layui-input-inline, .layui-label-hide-xs .layui-form-item > .layui-input-block, .layui-label-hide-xs .layui-form-item > .layui-input-inline {
        margin-left: 0
    }

    .layui-label-hide-xs .layui-form-item > label.layui-form-label {
        display: none
    }
}

.xadmin-arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff
}

.layui-dropdown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0
}

.layui-dropdown .xadmin-arrow-up {
    position: absolute;
    top: -6px;
    left: 10px
}

.layui-dropdown-right .xadmin-arrow-up {
    left: auto;
    right: 10px
}

.layui-dropdown .layui-dropdown-select {
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.layui-dropdown .layui-dropdown-option {
    position: relative;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease
}

.layui-dropdown .layui-dropdown-option .layui-icon {
    margin-right: 10px;
    font-size: 14px
}

.layui-dropdown .layui-dropdown-option .layui-dropdown-select {
    position: absolute;
    top: 0;
    display: none
}

.layui-dropdown .layui-dropdown-option:hover {
    background: #f6f9ff
}

.layui-dropdown .layui-dropdown-option:hover > .layui-dropdown-select {
    display: block
}

.layui-dropdown .layui-icon-right {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    color: #aaa
}

.layui-dropdown .layui-dropdown-title {
    padding-right: 20px
}

@font-face {
    font-family: 'nep-icon';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), url('../font/iconfont.svg#iconfont') format('svg'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype')
}

.layui-icon {
    font-family: 'layui-icon', 'nep-icon' !important
}

.layui-icon-check-circle:before {
    content: '\e77d'
}

.layui-icon-CI:before {
    content: '\e77e'
}

.layui-icon-Dollar:before {
    content: '\e77f'
}

.layui-icon-compass:before {
    content: '\e780'
}

.layui-icon-close-circle:before {
    content: '\e781'
}

.layui-icon-frown:before {
    content: '\e782'
}

.layui-icon-info-circle:before {
    content: '\e783'
}

.layui-icon-left-circle:before {
    content: '\e784'
}

.layui-icon-down-circle:before {
    content: '\e785'
}

.layui-icon-EURO:before {
    content: '\e786'
}

.layui-icon-copyright:before {
    content: '\e787'
}

.layui-icon-minus-circle:before {
    content: '\e788'
}

.layui-icon-meh:before {
    content: '\e789'
}

.layui-icon-plus-circle:before {
    content: '\e78a'
}

.layui-icon-play-circle:before {
    content: '\e78b'
}

.layui-icon-question-circle:before {
    content: '\e78c'
}

.layui-icon-Pound:before {
    content: '\e78d'
}

.layui-icon-right-circle:before {
    content: '\e78e'
}

.layui-icon-smile:before {
    content: '\e78f'
}

.layui-icon-trademark:before {
    content: '\e790'
}

.layui-icon-time-circle:before {
    content: '\e791'
}

.layui-icon-timeout:before {
    content: '\e792'
}

.layui-icon-earth:before {
    content: '\e793'
}

.layui-icon-YUAN:before {
    content: '\e794'
}

.layui-icon-up-circle:before {
    content: '\e795'
}

.layui-icon-warning-circle:before {
    content: '\e796'
}

.layui-icon-sync:before {
    content: '\e797'
}

.layui-icon-transaction:before {
    content: '\e798'
}

.layui-icon-undo:before {
    content: '\e799'
}

.layui-icon-redo:before {
    content: '\e79a'
}

.layui-icon-reload:before {
    content: '\e79b'
}

.layui-icon-reloadtime:before {
    content: '\e79c'
}

.layui-icon-message:before {
    content: '\e79d'
}

.layui-icon-dashboard:before {
    content: '\e79e'
}

.layui-icon-issuesclose:before {
    content: '\e79f'
}

.layui-icon-poweroff:before {
    content: '\e7a0'
}

.layui-icon-logout:before {
    content: '\e7a1'
}

.layui-icon-login:before {
    content: '\e7a2'
}

.layui-icon-piechart:before {
    content: '\e7a3'
}

.layui-icon-setting:before {
    content: '\e7a4'
}

.layui-icon-eye:before {
    content: '\e7a5'
}

.layui-icon-location:before {
    content: '\e7a6'
}

.layui-icon-edit-square:before {
    content: '\e7a7'
}

.layui-icon-export:before {
    content: '\e7a8'
}

.layui-icon-save:before {
    content: '\e7a9'
}

.layui-icon-Import:before {
    content: '\e7aa'
}

.layui-icon-appstore:before {
    content: '\e7ab'
}

.layui-icon-close-square:before {
    content: '\e7ac'
}

.layui-icon-down-square:before {
    content: '\e7ad'
}

.layui-icon-layout:before {
    content: '\e7ae'
}

.layui-icon-left-square:before {
    content: '\e7af'
}

.layui-icon-play-square:before {
    content: '\e7b0'
}

.layui-icon-control:before {
    content: '\e7b1'
}

.layui-icon-codelibrary:before {
    content: '\e7b2'
}

.layui-icon-detail:before {
    content: '\e7b3'
}

.layui-icon-minus-square:before {
    content: '\e7b4'
}

.layui-icon-plus-square:before {
    content: '\e7b5'
}

.layui-icon-right-square:before {
    content: '\e7b6'
}

.layui-icon-project:before {
    content: '\e7b7'
}

.layui-icon-wallet:before {
    content: '\e7b8'
}

.layui-icon-up-square:before {
    content: '\e7b9'
}

.layui-icon-calculator:before {
    content: '\e7ba'
}

.layui-icon-interation:before {
    content: '\e7bb'
}

.layui-icon-check-square:before {
    content: '\e7bc'
}

.layui-icon-border:before {
    content: '\e7bd'
}

.layui-icon-border-outer:before {
    content: '\e7be'
}

.layui-icon-border-top:before {
    content: '\e7bf'
}

.layui-icon-border-bottom:before {
    content: '\e7c0'
}

.layui-icon-border-left:before {
    content: '\e7c1'
}

.layui-icon-border-right:before {
    content: '\e7c2'
}

.layui-icon-border-inner:before {
    content: '\e7c3'
}

.layui-icon-border-verticle:before {
    content: '\e7c4'
}

.layui-icon-border-horizontal:before {
    content: '\e7c5'
}

.layui-icon-radius-bottomleft:before {
    content: '\e7c6'
}

.layui-icon-radius-bottomright:before {
    content: '\e7c7'
}

.layui-icon-radius-upleft:before {
    content: '\e7c8'
}

.layui-icon-radius-upright:before {
    content: '\e7c9'
}

.layui-icon-radius-setting:before {
    content: '\e7ca'
}

.layui-icon-adduser:before {
    content: '\e7cb'
}

.layui-icon-deleteteam:before {
    content: '\e7cc'
}

.layui-icon-deleteuser:before {
    content: '\e7cd'
}

.layui-icon-addteam:before {
    content: '\e7ce'
}

.layui-icon-user:before {
    content: '\e7cf'
}

.layui-icon-team:before {
    content: '\e7d0'
}

.layui-icon-areachart:before {
    content: '\e7d1'
}

.layui-icon-linechart:before {
    content: '\e7d2'
}

.layui-icon-barchart:before {
    content: '\e7d3'
}

.layui-icon-pointmap:before {
    content: '\e7d4'
}

.layui-icon-container:before {
    content: '\e7d5'
}

.layui-icon-database:before {
    content: '\e7d6'
}

.layui-icon-sever:before {
    content: '\e7d7'
}

.layui-icon-mobile:before {
    content: '\e7d8'
}

.layui-icon-tablet:before {
    content: '\e7d9'
}

.layui-icon-redenvelope:before {
    content: '\e7da'
}

.layui-icon-book:before {
    content: '\e7db'
}

.layui-icon-filedone:before {
    content: '\e7dc'
}

.layui-icon-reconciliation:before {
    content: '\e7dd'
}

.layui-icon-file-exception:before {
    content: '\e7de'
}

.layui-icon-filesync:before {
    content: '\e7df'
}

.layui-icon-filesearch:before {
    content: '\e7e0'
}

.layui-icon-solution:before {
    content: '\e7e1'
}

.layui-icon-fileprotect:before {
    content: '\e7e2'
}

.layui-icon-file-add:before {
    content: '\e7e3'
}

.layui-icon-file-excel:before {
    content: '\e7e4'
}

.layui-icon-file-exclamation:before {
    content: '\e7e5'
}

.layui-icon-file-pdf:before {
    content: '\e7e6'
}

.layui-icon-file-image:before {
    content: '\e7e7'
}

.layui-icon-file-markdown:before {
    content: '\e7e8'
}

.layui-icon-file-unknown:before {
    content: '\e7e9'
}

.layui-icon-file-ppt:before {
    content: '\e7ea'
}

.layui-icon-file-word:before {
    content: '\e7eb'
}

.layui-icon-file:before {
    content: '\e7ec'
}

.layui-icon-file-zip:before {
    content: '\e7ed'
}

.layui-icon-file-text:before {
    content: '\e7ee'
}

.layui-icon-file-copy:before {
    content: '\e7ef'
}

.layui-icon-snippets:before {
    content: '\e7f0'
}

.layui-icon-audit:before {
    content: '\e7f1'
}

.layui-icon-diff:before {
    content: '\e7f2'
}

.layui-icon-Batchfolding:before {
    content: '\e7f3'
}

.layui-icon-securityscan:before {
    content: '\e7f4'
}

.layui-icon-propertysafety:before {
    content: '\e7f5'
}

.layui-icon-safetycertificate:before {
    content: '\e7f6'
}

.layui-icon-insurance:before {
    content: '\e7f7'
}

.layui-icon-alert:before {
    content: '\e7f8'
}

.layui-icon-delete:before {
    content: '\e7f9'
}

.layui-icon-hourglass:before {
    content: '\e7fa'
}

.layui-icon-bulb:before {
    content: '\e7fb'
}

.layui-icon-experiment:before {
    content: '\e7fc'
}

.layui-icon-bell:before {
    content: '\e7fd'
}

.layui-icon-trophy:before {
    content: '\e7fe'
}

.layui-icon-rest:before {
    content: '\e7ff'
}

.layui-icon-USB:before {
    content: '\e800'
}

.layui-icon-skin:before {
    content: '\e801'
}

.layui-icon-home:before {
    content: '\e802'
}

.layui-icon-bank:before {
    content: '\e803'
}

.layui-icon-filter:before {
    content: '\e804'
}

.layui-icon-funnelplot:before {
    content: '\e805'
}

.layui-icon-like:before {
    content: '\e806'
}

.layui-icon-unlike:before {
    content: '\e807'
}

.layui-icon-unlock:before {
    content: '\e808'
}

.layui-icon-lock:before {
    content: '\e809'
}

.layui-icon-customerservice:before {
    content: '\e80a'
}

.layui-icon-flag:before {
    content: '\e80b'
}

.layui-icon-moneycollect:before {
    content: '\e80c'
}

.layui-icon-medicinebox:before {
    content: '\e80d'
}

.layui-icon-shop:before {
    content: '\e80e'
}

.layui-icon-rocket:before {
    content: '\e80f'
}

.layui-icon-shopping:before {
    content: '\e810'
}

.layui-icon-folder:before {
    content: '\e811'
}

.layui-icon-folder-open:before {
    content: '\e812'
}

.layui-icon-folder-add:before {
    content: '\e813'
}

.layui-icon-deploymentunit:before {
    content: '\e814'
}

.layui-icon-accountbook:before {
    content: '\e815'
}

.layui-icon-contacts:before {
    content: '\e816'
}

.layui-icon-carryout:before {
    content: '\e817'
}

.layui-icon-calendar-check:before {
    content: '\e818'
}

.layui-icon-calendar:before {
    content: '\e819'
}

.layui-icon-scan:before {
    content: '\e81a'
}

.layui-icon-select:before {
    content: '\e81b'
}

.layui-icon-boxplot:before {
    content: '\e81c'
}

.layui-icon-build:before {
    content: '\e81d'
}

.layui-icon-sliders:before {
    content: '\e81e'
}

.layui-icon-laptop:before {
    content: '\e81f'
}

.layui-icon-barcode:before {
    content: '\e820'
}

.layui-icon-camera:before {
    content: '\e821'
}

.layui-icon-cluster:before {
    content: '\e822'
}

.layui-icon-gateway:before {
    content: '\e823'
}

.layui-icon-car:before {
    content: '\e824'
}

.layui-icon-printer:before {
    content: '\e825'
}

.layui-icon-read:before {
    content: '\e826'
}

.layui-icon-cloud-server:before {
    content: '\e827'
}

.layui-icon-cloud-upload:before {
    content: '\e828'
}

.layui-icon-cloud:before {
    content: '\e829'
}

.layui-icon-cloud-download:before {
    content: '\e82a'
}

.layui-icon-cloud-sync:before {
    content: '\e82b'
}

.layui-icon-video:before {
    content: '\e82c'
}

.layui-icon-notification:before {
    content: '\e82d'
}

.layui-icon-sound:before {
    content: '\e82e'
}

.layui-icon-radarchart:before {
    content: '\e82f'
}

.layui-icon-qrcode:before {
    content: '\e830'
}

.layui-icon-fund:before {
    content: '\e831'
}

.layui-icon-image:before {
    content: '\e832'
}

.layui-icon-mail:before {
    content: '\e833'
}

.layui-icon-table:before {
    content: '\e834'
}

.layui-icon-idcard:before {
    content: '\e835'
}

.layui-icon-creditcard:before {
    content: '\e836'
}

.layui-icon-heart:before {
    content: '\e837'
}

.layui-icon-block:before {
    content: '\e838'
}

.layui-icon-error:before {
    content: '\e839'
}

.layui-icon-star:before {
    content: '\e83a'
}

.layui-icon-gold:before {
    content: '\e83b'
}

.layui-icon-heatmap:before {
    content: '\e83c'
}

.layui-icon-wifi:before {
    content: '\e83d'
}

.layui-icon-attachment:before {
    content: '\e83e'
}

.layui-icon-edit:before {
    content: '\e83f'
}

.layui-icon-key:before {
    content: '\e840'
}

.layui-icon-api:before {
    content: '\e841'
}

.layui-icon-disconnect:before {
    content: '\e842'
}

.layui-icon-highlight:before {
    content: '\e843'
}

.layui-icon-monitor:before {
    content: '\e844'
}

.layui-icon-link:before {
    content: '\e845'
}

.layui-icon-man:before {
    content: '\e846'
}

.layui-icon-percentage:before {
    content: '\e847'
}

.layui-icon-search:before {
    content: '\e848'
}

.layui-icon-pushpin:before {
    content: '\e849'
}

.layui-icon-phone:before {
    content: '\e84a'
}

.layui-icon-shake:before {
    content: '\e84b'
}

.layui-icon-tag:before {
    content: '\e84c'
}

.layui-icon-wrench:before {
    content: '\e84d'
}

.layui-icon-woman:before {
    content: '\e84e'
}

.layui-icon-tags:before {
    content: '\e84f'
}

.layui-icon-scissor:before {
    content: '\e850'
}

.layui-icon-mr:before {
    content: '\e851'
}

.layui-icon-share:before {
    content: '\e852'
}

.layui-icon-branches:before {
    content: '\e853'
}

.layui-icon-fork:before {
    content: '\e854'
}

.layui-icon-shrink:before {
    content: '\e855'
}

.layui-icon-arrawsalt:before {
    content: '\e856'
}

.layui-icon-verticalright:before {
    content: '\e857'
}

.layui-icon-verticalleft:before {
    content: '\e858'
}

.layui-icon-right:before {
    content: '\e859'
}

.layui-icon-left:before {
    content: '\e85a'
}

.layui-icon-up:before {
    content: '\e85b'
}

.layui-icon-down:before {
    content: '\e85c'
}

.layui-icon-fullscreen:before {
    content: '\e85d'
}

.layui-icon-fullscreen-exit:before {
    content: '\e85e'
}

.layui-icon-doubleleft:before {
    content: '\e85f'
}

.layui-icon-doubleright:before {
    content: '\e860'
}

.layui-icon-arrowright:before {
    content: '\e861'
}

.layui-icon-arrowup:before {
    content: '\e862'
}

.layui-icon-arrowleft:before {
    content: '\e863'
}

.layui-icon-arrowdown:before {
    content: '\e864'
}

.layui-icon-upload:before {
    content: '\e865'
}

.layui-icon-colum-height:before {
    content: '\e866'
}

.layui-icon-vertical-align-botto:before {
    content: '\e867'
}

.layui-icon-vertical-align-middl:before {
    content: '\e868'
}

.layui-icon-totop:before {
    content: '\e869'
}

.layui-icon-vertical-align-top:before {
    content: '\e86a'
}

.layui-icon-download:before {
    content: '\e86b'
}

.layui-icon-sort-descending:before {
    content: '\e86c'
}

.layui-icon-sort-ascending:before {
    content: '\e86d'
}

.layui-icon-fall:before {
    content: '\e86e'
}

.layui-icon-swap:before {
    content: '\e86f'
}

.layui-icon-stock:before {
    content: '\e870'
}

.layui-icon-rise:before {
    content: '\e871'
}

.layui-icon-indent:before {
    content: '\e872'
}

.layui-icon-outdent:before {
    content: '\e873'
}

.layui-icon-menu:before {
    content: '\e874'
}

.layui-icon-unorderedlist:before {
    content: '\e875'
}

.layui-icon-orderedlist:before {
    content: '\e876'
}

.layui-icon-align-right:before {
    content: '\e877'
}

.layui-icon-align-center:before {
    content: '\e878'
}

.layui-icon-align-left:before {
    content: '\e879'
}

.layui-icon-pic-center:before {
    content: '\e87a'
}

.layui-icon-pic-right:before {
    content: '\e87b'
}

.layui-icon-pic-left:before {
    content: '\e87c'
}

.layui-icon-bold:before {
    content: '\e87d'
}

.layui-icon-font-colors:before {
    content: '\e87e'
}

.layui-icon-exclaimination:before {
    content: '\e87f'
}

.layui-icon-font-size:before {
    content: '\e880'
}

.layui-icon-infomation:before {
    content: '\e881'
}

.layui-icon-line-height:before {
    content: '\e882'
}

.layui-icon-strikethrough:before {
    content: '\e883'
}

.layui-icon-underline:before {
    content: '\e884'
}

.layui-icon-number:before {
    content: '\e885'
}

.layui-icon-italic:before {
    content: '\e886'
}

.layui-icon-code:before {
    content: '\e887'
}

.layui-icon-column-width:before {
    content: '\e888'
}

.layui-icon-check:before {
    content: '\e889'
}

.layui-icon-ellipsis:before {
    content: '\e88a'
}

.layui-icon-dash:before {
    content: '\e88b'
}

.layui-icon-close:before {
    content: '\e88c'
}

.layui-icon-enter:before {
    content: '\e88d'
}

.layui-icon-line:before {
    content: '\e88e'
}

.layui-icon-minus:before {
    content: '\e88f'
}

.layui-icon-question:before {
    content: '\e890'
}

.layui-icon-plus:before {
    content: '\e891'
}

.layui-icon-rollback:before {
    content: '\e892'
}

.layui-icon-small-dash:before {
    content: '\e893'
}

.layui-icon-pause:before {
    content: '\e894'
}

.layui-icon-bg-colors:before {
    content: '\e895'
}

.layui-icon-crown:before {
    content: '\e896'
}

.layui-icon-drag:before {
    content: '\e897'
}

.layui-icon-desktop:before {
    content: '\e898'
}

.layui-icon-gift:before {
    content: '\e899'
}

.layui-icon-stop:before {
    content: '\e89a'
}

.layui-icon-fire:before {
    content: '\e89b'
}

.layui-icon-thunderbolt:before {
    content: '\e89c'
}

.layui-icon-check-circle-fill:before {
    content: '\e89d'
}

.layui-icon-left-circle-fill:before {
    content: '\e89e'
}

.layui-icon-down-circle-fill:before {
    content: '\e89f'
}

.layui-icon-minus-circle-fill:before {
    content: '\e8a0'
}

.layui-icon-close-circle-fill:before {
    content: '\e8a1'
}

.layui-icon-info-circle-fill:before {
    content: '\e8a2'
}

.layui-icon-up-circle-fill:before {
    content: '\e8a3'
}

.layui-icon-right-circle-fill:before {
    content: '\e8a4'
}

.layui-icon-plus-circle-fill:before {
    content: '\e8a5'
}

.layui-icon-question-circle-fill:before {
    content: '\e8a6'
}

.layui-icon-EURO-circle-fill:before {
    content: '\e8a7'
}

.layui-icon-frown-fill:before {
    content: '\e8a8'
}

.layui-icon-copyright-circle-fil:before {
    content: '\e8a9'
}

.layui-icon-CI-circle-fill:before {
    content: '\e8aa'
}

.layui-icon-compass-fill:before {
    content: '\e8ab'
}

.layui-icon-Dollar-circle-fill:before {
    content: '\e8ac'
}

.layui-icon-poweroff-circle-fill:before {
    content: '\e8ad'
}

.layui-icon-meh-fill:before {
    content: '\e8ae'
}

.layui-icon-play-circle-fill:before {
    content: '\e8af'
}

.layui-icon-Pound-circle-fill:before {
    content: '\e8b0'
}

.layui-icon-smile-fill:before {
    content: '\e8b1'
}

.layui-icon-stop-fill:before {
    content: '\e8b2'
}

.layui-icon-warning-circle-fill:before {
    content: '\e8b3'
}

.layui-icon-time-circle-fill:before {
    content: '\e8b4'
}

.layui-icon-trademark-circle-fil:before {
    content: '\e8b5'
}

.layui-icon-YUAN-circle-fill:before {
    content: '\e8b6'
}

.layui-icon-heart-fill:before {
    content: '\e8b7'
}

.layui-icon-piechart-circle-fil:before {
    content: '\e8b8'
}

.layui-icon-dashboard-fill:before {
    content: '\e8b9'
}

.layui-icon-message-fill:before {
    content: '\e8ba'
}

.layui-icon-check-square-fill:before {
    content: '\e8bb'
}

.layui-icon-down-square-fill:before {
    content: '\e8bc'
}

.layui-icon-minus-square-fill:before {
    content: '\e8bd'
}

.layui-icon-close-square-fill:before {
    content: '\e8be'
}

.layui-icon-codelibrary-fill:before {
    content: '\e8bf'
}

.layui-icon-left-square-fill:before {
    content: '\e8c0'
}

.layui-icon-play-square-fill:before {
    content: '\e8c1'
}

.layui-icon-up-square-fill:before {
    content: '\e8c2'
}

.layui-icon-right-square-fill:before {
    content: '\e8c3'
}

.layui-icon-plus-square-fill:before {
    content: '\e8c4'
}

.layui-icon-accountbook-fill:before {
    content: '\e8c5'
}

.layui-icon-carryout-fill:before {
    content: '\e8c6'
}

.layui-icon-calendar-fill:before {
    content: '\e8c7'
}

.layui-icon-calculator-fill:before {
    content: '\e8c8'
}

.layui-icon-interation-fill:before {
    content: '\e8c9'
}

.layui-icon-project-fill:before {
    content: '\e8ca'
}

.layui-icon-detail-fill:before {
    content: '\e8cb'
}

.layui-icon-save-fill:before {
    content: '\e8cc'
}

.layui-icon-wallet-fill:before {
    content: '\e8cd'
}

.layui-icon-control-fill:before {
    content: '\e8ce'
}

.layui-icon-layout-fill:before {
    content: '\e8cf'
}

.layui-icon-appstore-fill:before {
    content: '\e8d0'
}

.layui-icon-mobile-fill:before {
    content: '\e8d1'
}

.layui-icon-tablet-fill:before {
    content: '\e8d2'
}

.layui-icon-book-fill:before {
    content: '\e8d3'
}

.layui-icon-redenvelope-fill:before {
    content: '\e8d4'
}

.layui-icon-safetycertificate-f:before {
    content: '\e8d5'
}

.layui-icon-propertysafety-fill:before {
    content: '\e8d6'
}

.layui-icon-insurance-fill:before {
    content: '\e8d7'
}

.layui-icon-securityscan-fill:before {
    content: '\e8d8'
}

.layui-icon-file-exclamation-fil:before {
    content: '\e8d9'
}

.layui-icon-file-add-fill:before {
    content: '\e8da'
}

.layui-icon-file-fill:before {
    content: '\e8db'
}

.layui-icon-file-excel-fill:before {
    content: '\e8dc'
}

.layui-icon-file-markdown-fill:before {
    content: '\e8dd'
}

.layui-icon-file-text-fill:before {
    content: '\e8de'
}

.layui-icon-file-ppt-fill:before {
    content: '\e8df'
}

.layui-icon-file-unknown-fill:before {
    content: '\e8e0'
}

.layui-icon-file-word-fill:before {
    content: '\e8e1'
}

.layui-icon-file-zip-fill:before {
    content: '\e8e2'
}

.layui-icon-file-pdf-fill:before {
    content: '\e8e3'
}

.layui-icon-file-image-fill:before {
    content: '\e8e4'
}

.layui-icon-diff-fill:before {
    content: '\e8e5'
}

.layui-icon-file-copy-fill:before {
    content: '\e8e6'
}

.layui-icon-snippets-fill:before {
    content: '\e8e7'
}

.layui-icon-batchfolding-fill:before {
    content: '\e8e8'
}

.layui-icon-reconciliation-fill:before {
    content: '\e8e9'
}

.layui-icon-folder-add-fill:before {
    content: '\e8ea'
}

.layui-icon-folder-fill:before {
    content: '\e8eb'
}

.layui-icon-folder-open-fill:before {
    content: '\e8ec'
}

.layui-icon-database-fill:before {
    content: '\e8ed'
}

.layui-icon-container-fill:before {
    content: '\e8ee'
}

.layui-icon-sever-fill:before {
    content: '\e8ef'
}

.layui-icon-calendar-check-fill:before {
    content: '\e8f0'
}

.layui-icon-image-fill:before {
    content: '\e8f1'
}

.layui-icon-idcard-fill:before {
    content: '\e8f2'
}

.layui-icon-creditcard-fill:before {
    content: '\e8f3'
}

.layui-icon-fund-fill:before {
    content: '\e8f4'
}

.layui-icon-read-fill:before {
    content: '\e8f5'
}

.layui-icon-contacts-fill:before {
    content: '\e8f6'
}

.layui-icon-delete-fill:before {
    content: '\e8f7'
}

.layui-icon-notification-fill:before {
    content: '\e8f8'
}

.layui-icon-flag-fill:before {
    content: '\e8f9'
}

.layui-icon-moneycollect-fill:before {
    content: '\e8fa'
}

.layui-icon-medicinebox-fill:before {
    content: '\e8fb'
}

.layui-icon-rest-fill:before {
    content: '\e8fc'
}

.layui-icon-shopping-fill:before {
    content: '\e8fd'
}

.layui-icon-skin-fill:before {
    content: '\e8fe'
}

.layui-icon-video-fill:before {
    content: '\e8ff'
}

.layui-icon-sound-fill:before {
    content: '\e900'
}

.layui-icon-bulb-fill:before {
    content: '\e901'
}

.layui-icon-bell-fill:before {
    content: '\e902'
}

.layui-icon-filter-fill:before {
    content: '\e903'
}

.layui-icon-fire-fill:before {
    content: '\e904'
}

.layui-icon-funnelplot-fill:before {
    content: '\e905'
}

.layui-icon-gift-fill:before {
    content: '\e906'
}

.layui-icon-hourglass-fill:before {
    content: '\e907'
}

.layui-icon-home-fill:before {
    content: '\e908'
}

.layui-icon-trophy-fill:before {
    content: '\e909'
}

.layui-icon-location-fill:before {
    content: '\e90a'
}

.layui-icon-cloud-fill:before {
    content: '\e90b'
}

.layui-icon-customerservice-fill:before {
    content: '\e90c'
}

.layui-icon-experiment-fill:before {
    content: '\e90d'
}

.layui-icon-eye-fill:before {
    content: '\e90e'
}

.layui-icon-like-fill:before {
    content: '\e90f'
}

.layui-icon-lock-fill:before {
    content: '\e910'
}

.layui-icon-unlike-fill:before {
    content: '\e911'
}

.layui-icon-star-fill:before {
    content: '\e912'
}

.layui-icon-unlock-fill:before {
    content: '\e913'
}

.layui-icon-alert-fill:before {
    content: '\e914'
}

.layui-icon-api-fill:before {
    content: '\e915'
}

.layui-icon-highlight-fill:before {
    content: '\e916'
}

.layui-icon-phone-fill:before {
    content: '\e917'
}

.layui-icon-edit-fill:before {
    content: '\e918'
}

.layui-icon-pushpin-fill:before {
    content: '\e919'
}

.layui-icon-rocket-fill:before {
    content: '\e91a'
}

.layui-icon-thunderbolt-fill:before {
    content: '\e91b'
}

.layui-icon-tag-fill:before {
    content: '\e91c'
}

.layui-icon-wrench-fill:before {
    content: '\e91d'
}

.layui-icon-tags-fill:before {
    content: '\e91e'
}

.layui-icon-bank-fill:before {
    content: '\e91f'
}

.layui-icon-camera-fill:before {
    content: '\e920'
}

.layui-icon-error-fill:before {
    content: '\e921'
}

.layui-icon-crown-fill:before {
    content: '\e922'
}

.layui-icon-mail-fill:before {
    content: '\e923'
}

.layui-icon-car-fill:before {
    content: '\e924'
}

.layui-icon-printer-fill:before {
    content: '\e925'
}

.layui-icon-shop-fill:before {
    content: '\e926'
}

.layui-icon-setting-fill:before {
    content: '\e927'
}

.layui-icon-USB-fill:before {
    content: '\e928'
}

.layui-icon-golden-fill:before {
    content: '\e929'
}

.layui-icon-build-fill:before {
    content: '\e92a'
}

.layui-icon-boxplot-fill:before {
    content: '\e92b'
}

.layui-icon-sliders-fill:before {
    content: '\e92c'
}

.layui-icon-alibaba:before {
    content: '\e92d'
}

.layui-icon-alibabacloud:before {
    content: '\e92e'
}

.layui-icon-antdesign:before {
    content: '\e92f'
}

.layui-icon-ant-cloud:before {
    content: '\e930'
}

.layui-icon-behance:before {
    content: '\e931'
}

.layui-icon-googleplus:before {
    content: '\e932'
}

.layui-icon-medium:before {
    content: '\e933'
}

.layui-icon-google:before {
    content: '\e934'
}

.layui-icon-IE:before {
    content: '\e935'
}

.layui-icon-amazon:before {
    content: '\e936'
}

.layui-icon-slack:before {
    content: '\e937'
}

.layui-icon-alipay:before {
    content: '\e938'
}

.layui-icon-taobao:before {
    content: '\e939'
}

.layui-icon-zhihu:before {
    content: '\e93a'
}

.layui-icon-HTML:before {
    content: '\e93b'
}

.layui-icon-linkedin:before {
    content: '\e93c'
}

.layui-icon-yahoo:before {
    content: '\e93d'
}

.layui-icon-facebook:before {
    content: '\e93e'
}

.layui-icon-skype:before {
    content: '\e93f'
}

.layui-icon-CodeSandbox:before {
    content: '\e940'
}

.layui-icon-chrome:before {
    content: '\e941'
}

.layui-icon-codepen:before {
    content: '\e942'
}

.layui-icon-aliwangwang:before {
    content: '\e943'
}

.layui-icon-apple:before {
    content: '\e944'
}

.layui-icon-android:before {
    content: '\e945'
}

.layui-icon-sketch:before {
    content: '\e946'
}

.layui-icon-Gitlab:before {
    content: '\e947'
}

.layui-icon-dribbble:before {
    content: '\e948'
}

.layui-icon-instagram:before {
    content: '\e949'
}

.layui-icon-reddit:before {
    content: '\e94a'
}

.layui-icon-windows:before {
    content: '\e94b'
}

.layui-icon-yuque:before {
    content: '\e94c'
}

.layui-icon-Youtube:before {
    content: '\e94d'
}

.layui-icon-Gitlab-fill:before {
    content: '\e94e'
}

.layui-icon-dropbox:before {
    content: '\e94f'
}

.layui-icon-dingtalk:before {
    content: '\e950'
}

.layui-icon-android-fill:before {
    content: '\e951'
}

.layui-icon-apple-fill:before {
    content: '\e952'
}

.layui-icon-HTML-fill:before {
    content: '\e953'
}

.layui-icon-windows-fill:before {
    content: '\e954'
}

.layui-icon-QQ:before {
    content: '\e955'
}

.layui-icon-twitter:before {
    content: '\e956'
}

.layui-icon-skype-fill:before {
    content: '\e957'
}

.layui-icon-weibo:before {
    content: '\e958'
}

.layui-icon-yuque-fill:before {
    content: '\e959'
}

.layui-icon-Youtube-fill:before {
    content: '\e95a'
}

.layui-icon-yahoo-fill:before {
    content: '\e95b'
}

.layui-icon-wechat-fill:before {
    content: '\e95c'
}

.layui-icon-chrome-fill:before {
    content: '\e95d'
}

.layui-icon-alipay-circle-fill:before {
    content: '\e95e'
}

.layui-icon-aliwangwang-fill:before {
    content: '\e95f'
}

.layui-icon-behance-circle-fill:before {
    content: '\e960'
}

.layui-icon-amazon-circle-fill:before {
    content: '\e961'
}

.layui-icon-codepen-circle-fill:before {
    content: '\e962'
}

.layui-icon-CodeSandbox-circle-f:before {
    content: '\e963'
}

.layui-icon-dropbox-circle-fill:before {
    content: '\e964'
}

.layui-icon-github-fill:before {
    content: '\e965'
}

.layui-icon-dribbble-circle-fill:before {
    content: '\e966'
}

.layui-icon-googleplus-circle-f:before {
    content: '\e967'
}

.layui-icon-medium-circle-fill:before {
    content: '\e968'
}

.layui-icon-QQ-circle-fill:before {
    content: '\e969'
}

.layui-icon-IE-circle-fill:before {
    content: '\e96a'
}

.layui-icon-google-circle-fill:before {
    content: '\e96b'
}

.layui-icon-dingtalk-circle-fill:before {
    content: '\e96c'
}

.layui-icon-sketch-circle-fill:before {
    content: '\e96d'
}

.layui-icon-slack-circle-fill:before {
    content: '\e96e'
}

.layui-icon-twitter-circle-fill:before {
    content: '\e96f'
}

.layui-icon-taobao-circle-fill:before {
    content: '\e970'
}

.layui-icon-weibo-circle-fill:before {
    content: '\e971'
}

.layui-icon-zhihu-circle-fill:before {
    content: '\e972'
}

.layui-icon-reddit-circle-fill:before {
    content: '\e973'
}

.layui-icon-alipay-square-fill:before {
    content: '\e974'
}

.layui-icon-dingtalk-square-fill:before {
    content: '\e975'
}

.layui-icon-CodeSandbox-square-f:before {
    content: '\e976'
}

.layui-icon-behance-square-fill:before {
    content: '\e977'
}

.layui-icon-amazon-square-fill:before {
    content: '\e978'
}

.layui-icon-codepen-square-fill:before {
    content: '\e979'
}

.layui-icon-dribbble-square-fill:before {
    content: '\e97a'
}

.layui-icon-dropbox-square-fill:before {
    content: '\e97b'
}

.layui-icon-facebook-fill:before {
    content: '\e97c'
}

.layui-icon-googleplus-square-f:before {
    content: '\e97d'
}

.layui-icon-google-square-fill:before {
    content: '\e97e'
}

.layui-icon-instagram-fill:before {
    content: '\e97f'
}

.layui-icon-IE-square-fill:before {
    content: '\e980'
}

.layui-icon-medium-square-fill:before {
    content: '\e981'
}

.layui-icon-linkedin-fill:before {
    content: '\e982'
}

.layui-icon-QQ-square-fill:before {
    content: '\e983'
}

.layui-icon-reddit-square-fill:before {
    content: '\e984'
}

.layui-icon-twitter-square-fill:before {
    content: '\e985'
}

.layui-icon-sketch-square-fill:before {
    content: '\e986'
}

.layui-icon-slack-square-fill:before {
    content: '\e987'
}

.layui-icon-taobao-square-fill:before {
    content: '\e988'
}

.layui-icon-weibo-square-fill:before {
    content: '\e989'
}

.layui-icon-zhihu-square-fill:before {
    content: '\e98a'
}

.layui-icon-zoomout:before {
    content: '\e98b'
}

.layui-icon-apartment:before {
    content: '\e98c'
}

.layui-icon-audio:before {
    content: '\e98d'
}

.layui-icon-audio-fill:before {
    content: '\e98e'
}

.layui-icon-robot:before {
    content: '\e98f'
}

.layui-icon-zoomin:before {
    content: '\e990'
}

.table-action-area {
    padding-top: .15rem;
    margin-bottom: 1rem
}

.table-action-area .layui-icon {
    margin-right: 0
}

.layui-table-form .layui-input {
    height: 32px !important
}

.layui-form-label-sm {
    width: 56px
}

.layui-form-radio > i {
    font-size: 20px !important
}

.table-action-area .layui-btn + .layui-btn {
    margin-left: 6px !important
}

.layui-table[lay-skin='line'] th {
    border-bottom: none;
    /* background-color: #fafafa*/
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th {
    padding: 9px 0
}

.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
    /* border-color: #f6f6f6*/
}

.layui-laypage a, .layui-laypage span {
    font-size: 13px !important
}

.layui-user dl dd a:hover, .layui-form-select dl dd:hover {
    background: #e6f7ff !important;
    color: #1890ff !important
}

.layui-badge2 {
    height: 23px;
    line-height: 15px;
    padding: 3px 9px
}

.layui-table[lay-skin=line] {
    border-width: 0 0 0 0 !important;
    width: 100%
}

.layui-laypage-curr .layui-laypage-em {
    background: #e6f7ff !important;
    border: 1px solid #91d5ff
}

.layui-laypage .layui-laypage-curr em {
    color: #1890ff !important
}

.layui-form-select dl dd.layui-this {
    background: #e6f7ff !important;
    color: #1890ff !important
}

.layui-laydate-content td.laydate-selected {
    background-color: #e6f7ff !important
}

.layui-laydate td {
    border-radius: 0 !important
}

.xadmin-tag-green {
    color: #52c41a;
    background: #f6ffed;
    border: 1px solid #b7eb8f
}

.xadmin-tag-magenta {
    color: #eb2f96;
    background: #fff0f6;
    border: 1px solid #ffadd2
}

.xadmin-tag-orange {
    color: #fa8c16;
    background: #fff7e6;
    border: 1px solid #ffd591
}

.xadmin-tag-red {
    color: #f5222d;
    background: #fff1f0;
    border: 1px solid #ffa39e
}

.xadmin-tag-volcano {
    color: #fa541c;
    background: #fff2e8;
    border: 1px solid #ffbb96
}

.xadmin-tag-gold {
    color: #faad14;
    background: #fffbe6;
    border: 1px solid #ffe58f
}

.xadmin-tag-lime {
    color: #a0d911;
    background: #fcffe6;
    border: 1px solid #eaff8f
}

.xadmin-tag-cyan {
    color: #13c2c2;
    background: #e6fffb;
    border: 1px solid #87e8de
}

.xadmin-tag-blue {
    color: #1890ff;
    background: #e6f7ff;
    border: 1px solid #91d5ff
}

.xadmin-tag-geekblue {
    color: #2f54eb;
    background: #f0f5ff;
    border: 1px solid #adc6ff
}

.xadmin-tag-purple {
    color: #722ed1;
    background: #f9f0ff;
    border: 1px solid #d3adf7
}

.xadmin-green {
    color: #52c41a
}

.xadmin-magenta {
    color: #eb2f96
}

.xadmin-orange {
    color: #fa8c16
}

.xadmin-red {
    color: #f5222d
}

.xadmin-volcano {
    color: #fa541c
}

.xadmin-gold {
    color: #faad14
}

.xadmin-lime {
    color: #a0d911
}

.xadmin-cyan {
    color: #13c2c2
}

.xadmin-blue {
    color: #1890ff
}

.xadmin-geekblue {
    color: #2f54eb
}

.xadmin-purple {
    color: #722ed1
}

.xadmin-bg-green {
    background: #52c41a
}

.xadmin-bg-orange {
    background: #fa8c16
}

.xadmin-bg-red {
    background: #f5222d
}

.xadmin-bg-magenta {
    background: #eb2f96
}

.xadmin-bg-gold {
    background: #faad14
}

.xadmin-bg-volcano {
    background: #fa541c
}

.xadmin-bg-lime {
    background: #a0d911
}

.xadmin-bg-cyan {
    background: #13c2c2
}

.xadmin-bg-blue {
    background: #1890ff
}

.xadmin-bg-geekblue {
    background: #2f54eb
}

.xadmin-bg-purple {
    background: #722ed1
}

.xadmin-alert {
    border: 1px solid #fff !important;
    box-shadow: 3px 2px 9px rgba(0, 0, 0, 0.1) !important
}

.xadmin-edit-area {
    font-size: 18px;
    margin-right: 5px
}

.xadmin-form-item-require:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    line-height: 1;
    font-size: 13px;
    color: #f5222d
}

.layui-table-form .layui-form-item {
    margin-bottom: 0.6rem !important
}

.layui-form.layui-border-box.layui-table-view {
    margin-top: .5rem
}

.xadmin-container {
    padding: 6px
}

.layui-form-item .layui-inline {
    margin-right: 0 !important
}

.layui-form-label-xs {
    width: 45px
}

.xadmin-alert-base {
    margin: 3px 0 3px 0;
    display: block;
    border-radius: 2px;
    padding: 8px 15px 8px 15px
}

.xadmin-alert-success {
    border: 1px solid #b7eb8f;
    background-color: #f6ffed
}

.xadmin-alert-info {
    border: 1px solid #91d5ff;
    background-color: #e6f7ff
}

.xadmin-alert-warn {
    border: 1px solid #ffe58f;
    background-color: #fffbe6
}

.xadmin-alert-error {
    border: 1px solid #ffa39e;
    background-color: #fff1f0
}

.xadmin-hide {
    display: none
}

.layui-disabled, .layui-disabled:hover {
    color: rgba(0, 0, 0, .65) !important;
    cursor: not-allowed !important
}

.layui-radio-disbaled > i {
    color: #ff9776 !important
}

/*.layui-nav-itemed > .layui-nav-child {
    background-color: #393e46 !important
}*/

.xadmin-theme-white {
    background-color: #fff !important
}

.xadmin-theme-white .layui-logo span {
    color: #1890ff !important;
    font-weight: 600
}

.xadmin-theme-white .layui-nav .layui-nav-item a, .xadmin-theme-white .layui-nav .layui-this a {
    color: rgba(0, 0, 0, 0.65)
}

.xadmin-theme-white .layui-nav .layui-nav-item a:hover, .xadmin-theme-white .layui-nav .layui-this a {
    color: rgba(0, 0, 0, 0.65)
}

.xadmin-theme-white .layui-nav-itemed > a {
    color: rgba(0, 0, 0, 0.65) !important
}

.xadmin-theme-white .layui-nav-itemed > .layui-nav-child {
    background-color: #fff !important
}

#app-sidebar.xadmin-theme-white .layui-nav-tree .layui-this {
    background-color: #fff !important
}

.xadmin-theme-white .layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color: #e6f7ff !important;
    color: #1890ff !important
}

.xadmin-theme-white .layui-nav-itemed .layui-nav-child {
    box-shadow: none !important
}

.xadmin-sidebar-shrink #app-sidebar.xadmin-theme-white .layui-nav-itemed {
    background-color: #fff !important
}

.xadmin-theme-white .layui-nav .layui-nav-mored, .xadmin-theme-white .layui-nav-itemed > a .layui-nav-more {
    border-color: transparent transparent rgba(0, 0, 0, .5)
}

.xadmin-theme-white .layui-nav .layui-nav-more {
    border-color: rgba(0, 0, 0, .5) transparent transparent
}

.xadmin-tabs-wrap .xadmin-tabs-ball {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
    vertical-align: middle;
    margin-right: 7px;
    position: relative;
    top: -1px;
    transition: background .4s ease
}

.xadmin-tabs-wrap li.xadmin-tabs-active .xadmin-tabs-ball {
    background-color: #85ef47 !important;
    box-shadow: 0 0 7px #b7eb8f
}

.layui-badge-dot {
    width: 6px !important;
    height: 6px !important;
    vertical-align: middle
}

.layui-anim {
    -webkit-animation-duration: .4s !important;
    animation-duration: .4s !important
}

@keyframes xadmin-anim {
    from {
        transform: translate3d(30px, 0, 0);
        opacity: .3
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.xadmin-anim {
    -webkit-animation-name: xadmin-anim;
    animation-name: xadmin-anim
}

@keyframes xadmin-anim-right {
    from {
        transform: translate3d(-30px, 0, 0);
        opacity: .3
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.xadmin-anim-right {
    -webkit-animation-name: xadmin-anim-right;
    animation-name: xadmin-anim-right
}

@keyframes xadmin-anim-down {
    from {
        transform: translate3d(0, -30px, 0);
        opacity: .3
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.xadmin-anim-down {
    -webkit-animation-name: xadmin-anim-down;
    animation-name: xadmin-anim-down
}

@keyframes xadmin-anim-up {
    from {
        transform: translate3d(0, 30px, 0);
        opacity: 0
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.xadmin-anim-up {
    -webkit-animation-name: xadmin-anim-up;
    animation-name: xadmin-anim-up
}

*[lay-href] {
    cursor: pointer;
}


.xadmin-carousel {
    height: 185px !important;
    background-color: #fff
}

.xadmin-carousel .layui-carousel-ind li {
    background-color: #e2e2e2
}

.xadmin-carousel .layui-carousel-ind li:hover {
    background-color: #c2c2c2
}

.xadmin-carousel .layui-carousel-ind li.layui-this {
    background-color: #999
}

.xadmin-carousel .layui-carousel, .xadmin-carousel > [carousel-item] > * {
    background-color: #fff
}

.xadmin-carousel .layui-col-space10 {
    margin: 0
}

.xadmin-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px;
    text-align: right
}

.xadmin-carousel .layui-carousel-ind ul {
    background: 0 0
}

.xadmin-shortcut li {
    text-align: center
}

.xadmin-shortcut li .layui-icon {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s
}

.xadmin-shortcut li cite {
    position: relative;
    top: 2px;
    display: block;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px
}

.xadmin-shortcut li:hover .layui-icon {
    background-color: #f2f2f2
}

.xadmin-backlog .xadmin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.xadmin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.xadmin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688
}

.xadmin-backlog-body:hover {
    background-color: #f2f2f2;
    color: #888
}

.xadmin-dataview {
    height: 332px !important
}

.xadmin-dataview > [carousel-item]:before {
    display: none
}

.xadmin-dataview > [carousel-item] > div {
    height: 332px
}

.xadmin-takerates {
    padding-top: 5px
}

.xadmin-takerates .layui-progress {
    margin: 50px 0 60px
}

.xadmin-takerates .layui-progress:last-child {
    margin-bottom: 10px
}

.xadmin-takerates .layui-progress h3 {
    position: absolute;
    right: 0;
    top: -35px;
    color: #999;
    font-size: 14px
}

.xadmin-takerates .layui-progress-bar {
    text-align: left
}

.xadmin-takerates .layui-progress-text {
    top: -35px;
    line-height: 26px;
    font-size: 26px
}


