<style>
    #edit-workplace {
        padding: 20px 25px 25px 0;
    }
    #edit-workplace .layui-form-label {
        width: 110px;
    }
    #edit-workplace .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-workplace">
    <form id="workplace_form" class="layui-form" action=""  lay-filter="workplace-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseWorkplace?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseWorkplace?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">作业场所名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" placeholder="请输入作业场所名称" autocomplete="off"
                       th:value="${enterpriseWorkplace?.name}" maxlength="50" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作业场所地址：</label>
            <div class="layui-input-block">
                <input type="text" id="address" name="address" placeholder="请输入作业场所地址" autocomplete="off"
                       th:value="${enterpriseWorkplace?.address}" maxlength="100"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="workplace"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 表单提交
        form.on('submit(workplace)', function(data) {
            var enterpriseWorkplace = {};
            $.each($("#workplace_form input[name]"), function (index, element) {
                enterpriseWorkplace[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseWorkplace) {
                var formData = new FormData();
                formData.append("enterpriseWorkplaceJSON", JSON.stringify(enterpriseWorkplace));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'workplace/editWorkplace/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryWorkplace();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>