<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-workplace" lay-title="作业场所信息">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="workplace_table" lay-filter="workplace_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 作业场所table行查看、编辑、删除 -->
<script type="text/html" id="workplace_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-workplace'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 作业场所table
        var workplaceTable = table.render({
            elem: '#workplace_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'name',
                        title: '作业场所名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'address',
                        title: '作业场所地址',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        title: '职业病危害警示',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='identifyFile(" + data.id + ",\"职业病危害警示\")'>"
                                + (data.identifyFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '高毒物品告知卡',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='informFile(" + data.id + ",\"高毒物品告知卡\")'>"
                                + (data.informFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '职业危害因素信息卡',
                        align: 'center',
                        minWidth: 180,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='informationFile(" + data.id + ",\"职业危害因素信息卡\")'>"
                                + (data.informationFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '职业病危害因素',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='harmfactor(" + data.id + ")'>"
                                + (data.harmfactorNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#workplace_bar',
                        width: 120
                    }
                ]
            ],
            url: 'workplace/listWorkplaces',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseWorkplaces
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 危害作业场所table排序
        table.on('sort(workplace_table)', function (obj) {
            requeryWorkplace(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('workplace_table');
                if (name === 'add') {
                    xadmin.modal.open("新增作业场所信息","workplace/editWorkplace",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-workplace').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-workplace').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的作业场所');
                    } else {
                        var flag = true;
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            if (item.harmfactorNum != 0) {
                                xadmin.alert.warn('有工作场所存在职业病危害因素，不能删除');
                                flag = false;
                                return true;
                            }
                            if (item.workplacePostNum != 0) {
                                xadmin.alert.warn('有工作场所已被岗位添加，不能删除');
                                flag = false;
                                return true;
                            }
                            if (item.workplaceNotifyNum != 0) {
                                xadmin.alert.warn('有工作场所存在已告知记录，不能删除');
                                flag = false;
                                return true;
                            }
                            ids.push(item.id);
                        });
                        if (flag) {
                            $.ajax({
                                url: 'workplace/deleteWorkplaces',
                                type: 'post',
                                dataType: 'json',
                                traditional: true,
                                data: {ids: ids},
                                success: function (result) {
                                    if (result.status === 'success') {
                                        xadmin.alert.success(result.message);
                                        requeryWorkplace();
                                    } else {
                                        xadmin.alert.error(result.message);
                                    }
                                }
                            });
                        }
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增作业场所'
            }, {
                name: 'delete',
                title: '删除作业场所'
            }]
        });
        // 监听作业场所table行事件（查看、编辑、删除）
        table.on('tool(workplace_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看作业场所信息',
                    content: 'workplace/viewWorkplace?id=' + data.id,
                    area: ['550px', '400px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑作业场所信息","workplace/editWorkplace/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-workplace').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.harmfactorNum != 0) {
                    xadmin.alert.warn('该工作场所存在职业病危害因素，不能删除');
                    return;
                }
                if (data.workplacePostNum != 0) {
                    xadmin.alert.warn('该工作场所已被岗位添加，不能删除');
                    return;
                }
                if (data.workplaceNotifyNum != 0) {
                    xadmin.alert.warn('该工作场所存在已告知记录，不能删除');
                    return;
                }
                layer.confirm('确定要删除该作业场所吗？', function(index) {
                    $.ajax({
                        url: 'workplace/deleteWorkplace',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryWorkplace();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryWorkplace = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            workplaceTable.reload(options);
        }
        $query.on('click', function() {
            requeryWorkplace();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryWorkplace();
        });
        // 职业病危害因素
        window.harmfactor = function(workplaceId) {
           xadmin.modal.open("职业病危害因素信息","workplace/harmfactor/" + workplaceId,{
               area: [$(window).width() <= 750 ? '95%' : '50%','500px']
           });
        }
        // 职业病危害警示
        window.identifyFile = function(relationId, relationModule) {
            xadmin.modal.open("职业病危害警示","workplace/identifyFile/" + relationId + "/" + relationModule,{
                area: [$(window).width() <= 750 ? '95%' : '50%','500px']
            });
        }
        // 高毒物品告知卡
        window.informFile = function(relationId, relationModule) {
            xadmin.modal.open("高毒物品告知卡","workplace/informFile/" + relationId + "/" + relationModule,{
                area: [$(window).width() <= 750 ? '95%' : '50%','500px']
            });
        }
        // 职业危害因素信息卡
        window.informationFile = function(relationId, relationModule) {
            xadmin.modal.open("职业危害因素信息卡","workplace/informationFile/" + relationId + "/" + relationModule,{
                area: [$(window).width() <= 750 ? '95%' : '50%','500px']
            });
        }
    });
</script>