<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看作业场所信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">

    <style type="text/css">
        .layui-form-label{
            width: 140px;
        }
        .layui-form-item .layui-input-inline{
            width: 350px;
        }
        .file-download{
            cursor: pointer;
        }
    </style>

</head>
<body>
    <form id="workplace_form" class="layui-form" style="padding-top: 20px;" lay-filter="workplace_form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseWorkplace?.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">作业场所名称：</label>
            <div class="layui-input-inline">
                <input type="text" id="name" readonly th:value="${enterpriseWorkplace?.name}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作业场所地址：</label>
            <div class="layui-input-inline">
                <input type="text" id="address" readonly th:value="${enterpriseWorkplace?.address}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职业病危害警示：</label>
            <div class="layui-input-inline">
                <div id="indentify_name" class="layui-form-mid">
                    <a class="file-download" th:if="${enterpriseWorkplace?.identifyFile}"
                       th:attr="filePath = ${enterpriseWorkplace?.identifyFile}"
                       th:text="${enterpriseWorkplace?.identifyFile.substring(enterpriseWorkplace?.identifyFile.lastIndexOf('/') + 1)}"></a>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">高毒物品告知卡：</label>
            <div class="layui-input-inline">
                <div id="inform_name" class="layui-form-mid">
                    <a class="file-download" th:if="${enterpriseWorkplace?.informFile}"
                       th:attr="filePath = ${enterpriseWorkplace?.informFile}"
                       th:text="${enterpriseWorkplace?.informFile.substring(enterpriseWorkplace?.informFile.lastIndexOf('/') + 1)}"></a>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职业危害因素信息卡：</label>
            <div class="layui-input-inline">
                <div id="information_name" class="layui-form-mid">
                    <a class="file-download" th:if="${enterpriseWorkplace?.informationFile}"
                       th:attr="filePath = ${enterpriseWorkplace?.informationFile}"
                       th:text="${enterpriseWorkplace?.informationFile.substring(enterpriseWorkplace?.informationFile.lastIndexOf('/') + 1)}"></a>
                </div>
            </div>
        </div>
    </form>

    <script src="/plugins/layui/layui.js"></script>
    <script>
        layui.use(['jquery', 'layer'], function() {
            var $ = layui.$;
            var layer = layui.layer;
        });
    </script>
</body>
</html>