<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-rescue-plan" lay-title="应急救援演练计划">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: auto;">
                        <label class="layui-form-label" style="width: 30px;">年度</label>
                        <input id="rescue_plan_year" type="text" placeholder="请选择年度" class="layui-input" style="width: 70%;"/>
                    </div>
                </div>
            </form>
            <div class="year-plan-type">
                <div class="layui-elem-quote">
                    <h2>应急救援演练计划</h2>
                </div>
                <div class="year-plan-edit-mul" id="rescue">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-rescue-plan .year-plan-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-rescue-plan .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-rescue-plan h2 {
        font-size: 18px;
    }
    #ehs-enterprise-rescue-plan .year-plan-edit-mul {
        padding: 10px 15px;
        line-height: 23px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 30px;
        overflow: hidden;
    }
    #ehs-enterprise-rescue-plan .edit {
        float: right;
    }
    #ehs-enterprise-rescue-plan .view {
        float: right;
        margin-right: 10px;
    }
    #ehs-enterprise-rescue-plan .file-download {
        display: inline-block;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 3px;
    }
    #ehs-enterprise-rescue-plan .plan-text {
        margin-top: 3px;
    }
    #ehs-enterprise-rescue-plan a:link {
        color: #1183FF;
    }
    #ehs-enterprise-rescue-plan a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'laydate', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form,
            xadmin = layui.xadmin;
        // 日期组件
        laydate.render({
            elem: '#rescue_plan_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearRescuePlan(value);
            }
        });
        $(function() {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: new Date().getFullYear()},
                success: function (result) {
                    var data = result.data;
                    if (data['yjjyyl']) {
                        var data6 = data['yjjyyl'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data6.fileName + '"'
                            + ' filePath="' + data6.planFile + '">'
                            + data6.fileName + '</a>';
                        html = html + '<a href="javascript:void(0);" class="edit" onclick="editRescuePlan(' + data6.id + ',\'yjjyyl\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>'
                            + '<a href="javascript:void(0);" class="view" onclick="viewRescuePlan(' + data6.id + ',\'yjjyyl\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm layui-btn-primary">查看</span></a>';
                        $('#rescue').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="addRescuePlan(\'yjjyyl\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#rescue').html(html);
                    }
                }
            });
        });
        // 查询
        window.requeryYearRescuePlan = function(year) {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: year},
                success: function (result) {
                    var data = result.data;
                    if (data['yjjyyl']) {
                        var data6 = data['yjjyyl'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data6.fileName + '"'
                            + ' filePath="' + data6.planFile + '">'
                            + data6.fileName + '</a>';
                        html = html + '<a href="javascript:void(0);" class="edit" onclick="editRescuePlan(' + data6.id + ',\'yjjyyl\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>'
                            + '<a href="javascript:void(0);" class="view" onclick="viewRescuePlan(' + data6.id + ',\'yjjyyl\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm layui-btn-primary">查看</span></a>';
                        $('#rescue').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="addRescuePlan(\'yjjyyl\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#rescue').html(html);
                    }
                }
            });
        }
        // 新增
        window.addRescuePlan = function(type) {
            xadmin.modal.open('新增应急救援演练计划', "yearplan/addYearplan/" + type + "/" + $('#rescue_plan_year').val().trim(), {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-rescue-plan').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-year-rescue-plan').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 编辑
        window.editRescuePlan = function(id, type) {
            xadmin.modal.open('编辑应急救援演练计划', "yearplan/editYearplan/" + id + "/" + type, {
                btn: ['提交', '取消'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-rescue-plan').find('#submit').trigger('click');
                    return false;
                }
            });
        }
        // 查看
        window.viewRescuePlan = function(id, type) {
            xadmin.modal.open('查看应急救援演练计划', "yearplan/viewRescuePlan/" + id, {
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>