<style>
    #view-year-plan {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="view-year-plan">
    <form id="rescue_form" class="layui-form" lay-filter="rescue_form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseYearPlan?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseYearPlan?.enterpriseId}">
        <input id="plan" name="planFile" type="hidden" th:value="${enterpriseYearPlan?.planFile}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">年度：</label>
            <div class="layui-input-block">
                <input type="text" id="year" name="year" readonly th:value="${enterpriseYearPlan?.year}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">演练月份：</label>
            <div class="layui-input-block">
                <input type="text" id="planPeriod" name="planPeriod" readonly th:value="${enterpriseYearPlan?.planPeriod}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">计划文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" id="plan_download" class="layui-btn layui-btn-primary">下载文件</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render('select');
        // 文件名
        if ($('#plan').val() != '') {
            $('#filePath').val($('#plan').val().substring($('#plan').val().lastIndexOf('/') + 1));
        }
        // 下载上传文件
        $('#plan_download').click(function (event) {
            var filePath = $('#plan').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>