<style>
    #edit-inspection-rectification {
        padding: 20px 25px 25px 0;
    }
    #edit-inspection-rectification .layui-form-label {
        width: 95px;
    }
    #edit-inspection-rectification .layui-input-block {
        margin-left: 125px;
    }
</style>
<div class="layui-fluid" id="edit-inspection-rectification">
    <form id="rectification_form" class="layui-form" action="" lay-filter="rectification-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseInspectionRectification?.id}" />
        <input id="inspectionId" name="inspectionId" type="hidden" th:value="${enterpriseInspectionRectification?.inspectionId}" />
        <input id="rectificationName" name="fileName" type="hidden" th:value="${enterpriseInspectionRectification?.fileName}" />
        <input id="rectification" name="filePath" type="hidden" th:value="${enterpriseInspectionRectification?.filePath}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">整改时间：</label>
            <div class="layui-input-block">
                <input type="text" id="rectificationDate" name="rectificationDate" placeholder="请选择整改时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseInspectionRectification?.rectificationDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">整改部门：</label>
            <div class="layui-input-block">
                <input type="text" id="department" name="department" placeholder="请输入整改部门" maxlength="50"
                       th:value="${enterpriseInspectionRectification?.department}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">整改内容：</label>
            <div class="layui-input-block">
                <input type="text" id="content" name="content" placeholder="请输入整改内容" maxlength="200"
                       th:value="${enterpriseInspectionRectification?.content}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">整改文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="rectification_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="rectification_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="rectification"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        let currentIndex = layer.index;
        // 日期组件
        laydate.render({
            elem: '#rectificationDate',
            type: 'date'
        });
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#rectification').val() != '') {
                $('#filePath').val($('#rectificationName').val());
            }
            $('#rectification_file').after('<button type="button" id="rectification_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 整改文件上传
        $('#rectification_btn').click(function (event) {
            $('#rectification_file').click();
        });
        $('#rectification_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(rectification)', function(data) {
            var enterpriseInspectionRectification = {};
            $.each($("#rectification_form input[name],select[name]"), function (index, element) {
                enterpriseInspectionRectification[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseInspectionRectification) {
                var rectificationFiles = $("#rectification_file")[0].files;
                if (!$("#rectification").val() && rectificationFiles.length == 0) {
                    layer.msg("整改文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseInspectionRectificationJSON", JSON.stringify(enterpriseInspectionRectification));
                if (rectificationFiles.length != 0) {
                    formData.append("rectificationFile", rectificationFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'inspection/rectification/editRectification/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            layer.close(currentIndex);
                            parent.requery();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#rectification_download').click(function (event) {
            var filePath = $('#rectification').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>