<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-inspection-rectification">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: auto;">
                                <button type="button" class="layui-btn" onclick="addRectification();">添加</button>
                                <button type="button" class="layui-btn" onclick="deleteRectification();">删除</button>
                            </div>
                        </div>
                    </form>
                    <table id="inspection_rectification_table" lay-filter="inspection_rectification_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 整改记录table行编辑、删除 -->
<script type="text/html" id="inspection_rectification_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 日常检查id
    var inspectionId = [[${inspectionId}]];
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin;
        var inspectionRectificationTable = table.render({
            elem: "#inspection_rectification_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'rectificationDate',
                        title: '整改时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.rectificationDate) {
                                return util.toDateString(d.rectificationDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: "department",
                        title: "整改部门",
                        align: "center",
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: "content",
                        title: "整改内容",
                        align: "center",
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'filePath',
                        title: '整改文件',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#inspection_rectification_bar',
                        width: 120
                    }
                ]
            ],
            url: "inspection/rectification/listRectifications",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseInspectionRectifications
                };
            },
            where: {
                inspectionId: inspectionId,
            }
        });
        // 监听整改记录table行事件（查看、编辑、删除）
        table.on('tool(inspection_rectification_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑整改记录",'inspection/rectification/editRectification/' + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-inspection-rectification').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function(index) {
                    $.ajax({
                        url: 'inspection/rectification/deleteRectification',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            filePath: data.filePath
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                table.reload('inspection_rectification_table');
                                parent.requeryInspection();
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requery = function() {
            inspectionRectificationTable.reload({
                where: {
                    inspectionId: inspectionId,
                }
            });
            parent.requeryInspection();
        }
        // 添加
        window.addRectification = function() {
            xadmin.modal.open("新增整改记录",'inspection/rectification/addRectification/' + inspectionId,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-inspection-rectification').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-inspection-rectification').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 批量删除
        window.deleteRectification = function() {
            var checkStatus = table.checkStatus('inspection_rectification_table');
            if (!checkStatus.data.length) {
                layer.msg('请选择需要删除的整改记录', {icon: 5});
            } else {
                var ids = [];
                layui.each(checkStatus.data, function (key, item) {
                    ids.push(item.id)
                });
                $.ajax({
                    url: 'inspection/rectification/deleteRectifications',
                    type: 'post',
                    dataType: 'json',
                    traditional: true,
                    data: {ids: ids},
                    success: function (result) {
                        if (result.status === 'success') {
                            table.reload('inspection_rectification_table');
                            parent.requeryInspection();
                            layer.msg(result.message, {icon: 6});
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            }
        }
    });
</script>