<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-protective-design" lay-title="三同时防护设施设计阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="protective-design-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="protective-design-edit" id="other">
                    <button class="layui-btn layui-btn-primary" onclick="viewOtherFile();">查看</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-protective-design .protective-design-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-protective-design .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-protective-design h2 {
        font-size: 18px;
    }
    #ehs-enterprise-protective-design .protective-design-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin;
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        // 其他文件
        window.viewOtherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '防护设施设计阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/viewOtherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>