<style>
    #select-harm-degree {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="select-harm-degree">
    <form id="harm_degree_form" class="layui-form" action="" lay-filter="harm_degree_form">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">危害程度：</label>
            <div class="layui-input-inline">
                <select id="harmDegree" lay-filter="harmDegree"  lay-verify="required">
                    <option value="" selected>请选择危害程度</option>
                    <option value="0">一般</option>
                    <option value="1">较重</option>
                    <option value="2">严重</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="harm-degree"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin;
        form.render('select');
        // 项目id
        var projectId = [[${projectId}]];
        // 表单提交
        form.on('submit(harm-degree)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'threeSimultaneity/updateHarmDegree',
                type: 'post',
                dataType: 'json',
                data: {
                    id: projectId,
                    harmDegree: $('#harmDegree').val()
                },
                success: function (result) {
                    if (result.status === 'success') {
                        layer.msg(result.message, {icon: 6});
                        xadmin.view.tab.del("/threeSimultaneity/preEvaluation/" + projectId + "/0");
                        xadmin.navigate("/threeSimultaneity");
                        $('#xadmin-enterprise-three-simultaneity #query').click();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
        // 下载上传文件
        $('#attendance_sheet_download').click(function (event) {
            var filePath = $('#attendanceSheet').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>