<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-pre-evaluation" lay-title="三同时预评价阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-md12">
                            <button type="button" class="layui-btn" onclick="toProtectiveDesign();"
                                    style="float: none;">进入防护设施设计阶段</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害预评价备案（审核）申请书</h2>
                </div>
                <div class="pre-evaluation-edit" id="application">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>申请建设项目职业病预评价报告审核（备案）的公函</h2>
                </div>
                <div class="pre-evaluation-edit" id="letter">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害预评价报告</h2>
                </div>
                <div class="pre-evaluation-edit" id="report">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>建设单位对预评价报告的评审意见</h2>
                </div>
                <div class="pre-evaluation-edit" id="opinion">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>职业卫生专家对预评价报告的审查意见</h2>
                </div>
                <div class="pre-evaluation-edit" id="expert">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>职业病危害预评价机构的资质证明（影印件）</h2>
                </div>
                <div class="pre-evaluation-edit" id="certificate">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="pre-evaluation-edit" id="other">
                    <button class="layui-btn" onclick="otherFile();">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-pre-evaluation .pre-evaluation-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-pre-evaluation .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-pre-evaluation h2 {
        font-size: 18px;
    }
    #ehs-enterprise-pre-evaluation .pre-evaluation-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
    #ehs-enterprise-pre-evaluation button {
        float: right;
    }
    #ehs-enterprise-pre-evaluation button.view {
        float: right;
        margin-left: 10px;
    }
    #ehs-enterprise-pre-evaluation .file-download {
        line-height: 38px;
        font-size: 15px;
    }
    #ehs-enterprise-pre-evaluation a:link {
        color: #1183FF;
    }
    #ehs-enterprise-pre-evaluation a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin;
        form.render('select');
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        $(function() {
            $.ajax({
                url: 'threeSimultaneity/preEvaluation/listPreEvaluations',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    // 显示之前选中的危害因素
                    $("#harmDegree option[value='" + data.harmDegree + "']").prop('selected',true);
                    form.render('select');
                    if (data['建设项目职业病危害预评价备案（审核）申请书']) {
                        var data1 = data['建设项目职业病危害预评价备案（审核）申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data1.filePath + '\');">删除</button>';
                        $('#application').html(html);
                    } else {
                        var html = '<button id="application_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="application_file" type="file" style="display: none;"/>';
                        $('#application').html(html);
                        $('#application_btn').click(function (event) {
                            $('#application_file').click();
                        });
                        $('#application_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害预评价备案（审核）申请书');
                        });
                    }
                    if (data['申请建设项目职业病预评价报告审核（备案）的公函']) {
                        var data2 = data['申请建设项目职业病预评价报告审核（备案）的公函'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data2.filePath + '\');">删除</button>';
                        $('#letter').html(html);
                    } else {
                        var html = '<button id="letter_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="letter_file" type="file" style="display: none;"/>';
                        $('#letter').html(html);
                        $('#letter_btn').click(function (event) {
                            $('#letter_file').click();
                        });
                        $('#letter_file').change(function (event) {
                            fileUpload(this, '申请建设项目职业病预评价报告审核（备案）的公函');
                        });
                    }
                    if (data['建设项目职业病危害预评价报告']) {
                        var data3 = data['建设项目职业病危害预评价报告'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data3.filePath + '\');">删除</button>';
                        $('#report').html(html);
                    } else {
                        var html = '<button id="report_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="report_file" type="file" style="display: none;"/>';
                        $('#report').html(html);
                        $('#report_btn').click(function (event) {
                            $('#report_file').click();
                        });
                        $('#report_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害预评价报告');
                        });
                    }
                    if (data['建设单位对预评价报告的评审意见']) {
                        var data4 = data['建设单位对预评价报告的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'建设单位对预评价报告的评审意见\',' + data4.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data4.filePath + '\');">删除</button>';
                        $('#opinion').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'建设单位对预评价报告的评审意见\');">添加</button>';
                        $('#opinion').html(html);
                    }
                    if (data['职业卫生专家对预评价报告的审查意见']) {
                        var data5 = data['职业卫生专家对预评价报告的审查意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button id="view_expert_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'职业卫生专家对预评价报告的审查意见\',' + data5.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data5.filePath + '\');">删除</button>';
                        $('#expert').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'职业卫生专家对预评价报告的审查意见\');">添加</button>';
                        $('#expert').html(html);
                    }
                    if (data['职业病危害预评价机构的资质证明（影印件）']) {
                        var data6 = data['职业病危害预评价机构的资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data6.filePath + '\');">删除</button>';
                        $('#certificate').html(html);
                    } else {
                        var html = '<button id="certificate_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="certificate_file" type="file" style="display: none;"/>';
                        $('#certificate').html(html);
                        $('#certificate_btn').click(function (event) {
                            $('#certificate_file').click();
                        });
                        $('#certificate_file').change(function (event) {
                            fileUpload(this, '职业病危害预评价机构的资质证明（影印件）');
                        });
                    }
                }
            });
        });
        // 查询
        window.requeryPreEvaluation = function() {
            $.ajax({
                url: 'threeSimultaneity/preEvaluation/listPreEvaluations',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病危害预评价备案（审核）申请书']) {
                        var data1 = data['建设项目职业病危害预评价备案（审核）申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data1.filePath + '\');">删除</button>';
                        $('#application').html(html);
                    } else {
                        var html = '<button id="application_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="application_file" type="file" style="display: none;"/>';
                        $('#application').html(html);
                        $('#application_btn').click(function (event) {
                            $('#application_file').click();
                        });
                        $('#application_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害预评价备案（审核）申请书');
                        });
                    }
                    if (data['申请建设项目职业病预评价报告审核（备案）的公函']) {
                        var data2 = data['申请建设项目职业病预评价报告审核（备案）的公函'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data2.filePath + '\');">删除</button>';
                        $('#letter').html(html);
                    } else {
                        var html = '<button id="letter_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="letter_file" type="file" style="display: none;"/>';
                        $('#letter').html(html);
                        $('#letter_btn').click(function (event) {
                            $('#letter_file').click();
                        });
                        $('#letter_file').change(function (event) {
                            fileUpload(this, '申请建设项目职业病预评价报告审核（备案）的公函');
                        });
                    }
                    if (data['建设项目职业病危害预评价报告']) {
                        var data3 = data['建设项目职业病危害预评价报告'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data3.filePath + '\');">删除</button>';
                        $('#report').html(html);
                    } else {
                        var html = '<button id="report_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="report_file" type="file" style="display: none;"/>';
                        $('#report').html(html);
                        $('#report_btn').click(function (event) {
                            $('#report_file').click();
                        });
                        $('#report_file').change(function (event) {
                            fileUpload(this, '建设项目职业病危害预评价报告');
                        });
                    }
                    if (data['建设单位对预评价报告的评审意见']) {
                        var data4 = data['建设单位对预评价报告的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'建设单位对预评价报告的评审意见\',' + data4.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data4.filePath + '\');">删除</button>';
                        $('#opinion').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'建设单位对预评价报告的评审意见\');">添加</button>';
                        $('#opinion').html(html);
                    }
                    if (data['职业卫生专家对预评价报告的审查意见']) {
                        var data5 = data['职业卫生专家对预评价报告的审查意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button id="view_expert_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'职业卫生专家对预评价报告的审查意见\',' + data5.id + ');">查看</button>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data5.filePath + '\');">删除</button>';
                        $('#expert').html(html);
                    } else {
                        var html = '<button class="layui-btn" onclick="addOpinionFile(\'职业卫生专家对预评价报告的审查意见\');">添加</button>';
                        $('#expert').html(html);
                    }
                    if (data['职业病危害预评价机构的资质证明（影印件）']) {
                        var data6 = data['职业病危害预评价机构的资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-btn layui-btn-danger" onclick="fileDelete(\''
                            + data6.filePath + '\');">删除</button>';
                        $('#certificate').html(html);
                    } else {
                        var html = '<button id="certificate_btn" type="button" class="layui-btn layui-btn-primary">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件'
                            + '</button>'
                            + '<input id="certificate_file" type="file" style="display: none;"/>';
                        $('#certificate').html(html);
                        $('#certificate_btn').click(function (event) {
                            $('#certificate_file').click();
                        });
                        $('#certificate_file').change(function (event) {
                            fileUpload(this, '职业病危害预评价机构的资质证明（影印件）');
                        });
                    }
                }
            });
        }
        // 上传文件
        window.fileUpload = function(input, type) {
            // 限制上传文件大小最大为20MB
            var fileSize = input.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                input.value = '';
                return;
            }
            var enterpriseThreeSimultaneityFile = {};
            enterpriseThreeSimultaneityFile['projectId'] = projectId;
            enterpriseThreeSimultaneityFile['projectState'] = projectState;
            enterpriseThreeSimultaneityFile['fileType'] = type;
            var formData = new FormData();
            formData.append("enterpriseThreeSimultaneityFileJSON", JSON.stringify(enterpriseThreeSimultaneityFile));
            formData.append('threeSimultaneityFile', input.files[0]);
            // 加载层，阻止上传完成前的其他操作
            var loadingIndex = layer.load(2);
            $.ajax({
                url: 'threeSimultaneity/fileUpload',
                type: 'post',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.status === 'success') {
                        parent.layer.msg(result.message, {icon: 6});
                        requeryPreEvaluation();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }
        // 删除文件
        window.fileDelete = function(filePath) {
            $.ajax({
                url: 'threeSimultaneity/fileDelete',
                type: 'post',
                dataType: 'json',
                data: {filePath: filePath},
                success: function (result) {
                    if (result.status === "success") {
                        layer.msg(result.message, {icon: 6});
                        requeryPreEvaluation();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            });
        }
        // 选择危害程度，并进去防护设施设计阶段
        window.toProtectiveDesign = function() {
            layer.confirm('确定要进入防护措施设计阶段吗？进入后，预评价阶段将无法修改！请确保预评价阶段文件上传完毕', {
                btn: ['确定', '取消']
            }, function() {
                xadmin.modal.open("确认危害程度","threeSimultaneity/harmDegree/" + projectId,{
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    btn: ['提交', '重置'],
                    yes: function (index, layero) {
                        $('#select-harm-degree').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#select-harm-degree').find('#reset').trigger('click');
                        return false;
                    }
                });
            });
        }
        // 添加意见文件
        window.addOpinionFile = function(fileType) {
            xadmin.modal.open("新增" + fileType, 'threeSimultaneityFile/addOpinion/' + projectId + "/" + projectState + "/" + fileType,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-opinion-file').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-opinion-file').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 查看意见
        window.viewOpinion = function(fileType, id) {
            xadmin.modal.open("查看" + fileType, 'threeSimultaneityFile/viewOpinion/' + id,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 其他文件
        window.otherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '预评价阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: ['700px','500px']
            });
        }
    });
</script>