<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-pre-evaluation" lay-title="三同时预评价阶段">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害预评价备案（审核）申请书</h2>
                </div>
                <div class="pre-evaluation-edit" id="application">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>申请建设项目职业病预评价报告审核（备案）的公函</h2>
                </div>
                <div class="pre-evaluation-edit" id="letter">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>建设项目职业病危害预评价报告</h2>
                </div>
                <div class="pre-evaluation-edit" id="report">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>建设单位对预评价报告的评审意见</h2>
                </div>
                <div class="pre-evaluation-edit" id="opinion">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>职业卫生专家对预评价报告的审查意见</h2>
                </div>
                <div class="pre-evaluation-edit" id="expert">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>职业病危害预评价机构的资质证明（影印件）</h2>
                </div>
                <div class="pre-evaluation-edit" id="certificate">
                </div>
            </div>
            <div class="pre-evaluation-type">
                <div class="layui-elem-quote">
                    <h2>法律、行政法规、规章规定的其他文件、资料</h2>
                </div>
                <div class="pre-evaluation-edit" id="other">
                    <button class="layui-btn layui-btn-primary" onclick="viewOtherFile();">查看</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-pre-evaluation .pre-evaluation-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-pre-evaluation .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-pre-evaluation h2 {
        font-size: 18px;
    }
    #ehs-enterprise-pre-evaluation .pre-evaluation-edit {
        padding: 10px 15px;
        line-height: 24px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 38px;
    }
    #ehs-enterprise-pre-evaluation button.view {
        float: right;
    }
    #ehs-enterprise-pre-evaluation .file-download {
        line-height: 38px;
        font-size: 15px;
    }
    #ehs-enterprise-pre-evaluation a:link {
        color: #1183FF;
    }
    #ehs-enterprise-pre-evaluation a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin;
        // 项目id
        var projectId = [[${projectId}]];
        // 项目状态
        var projectState = [[${projectState}]];
        $(function() {
            $.ajax({
                url: 'threeSimultaneity/preEvaluation/listPreEvaluations',
                type: 'post',
                dataType: 'json',
                data: {
                    projectId: projectId,
                    projectState: projectState
                },
                success: function (result) {
                    var data = result.data;
                    if (data['建设项目职业病危害预评价备案（审核）申请书']) {
                        var data1 = data['建设项目职业病危害预评价备案（审核）申请书'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>';
                        $('#application').html(html);
                    }
                    if (data['申请建设项目职业病预评价报告审核（备案）的公函']) {
                        var data2 = data['申请建设项目职业病预评价报告审核（备案）的公函'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>';
                        $('#letter').html(html);
                    }
                    if (data['建设项目职业病危害预评价报告']) {
                        var data3 = data['建设项目职业病危害预评价报告'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>';
                        $('#report').html(html);
                    }
                    if (data['建设单位对预评价报告的评审意见']) {
                        var data4 = data['建设单位对预评价报告的评审意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button id="view_review_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'建设单位对预评价报告的评审意见\',' + data4.id + ');">查看</button>';
                        $('#opinion').html(html);
                    }
                    if (data['职业卫生专家对预评价报告的审查意见']) {
                        var data5 = data['职业卫生专家对预评价报告的审查意见'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button id="view_expert_opinion" type="button" class="layui-btn layui-btn-primary view" '
                            + 'onclick="viewOpinion(\'职业卫生专家对预评价报告的审查意见\',' + data5.id + ');">查看</button>';
                        $('#expert').html(html);
                    }
                    if (data['职业病危害预评价机构的资质证明（影印件）']) {
                        var data6 = data['职业病危害预评价机构的资质证明（影印件）'];
                        var html = '<a href="javascript:void(0);" class="file-download"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>';
                        $('#certificate').html(html);
                    }
                }
            });
        });
        // 查看意见
        window.viewOpinion = function(fileType, id) {
            xadmin.modal.open("查看" + fileType, 'threeSimultaneityFile/viewOpinion/' + id,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 其他文件
        window.viewOtherFile = function() {
            var relationModule = '三同时其他文件';
            var fileType = '预评价阶段';
            xadmin.modal.open("其他文件","threeSimultaneity/otherFile/viewOtherFile/" + projectId + "/" + relationModule + "/" + fileType,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>