<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-responsibility" lay-title="责任制文件">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden" title="主要负责人责任制">主要负责人责任制</span>
                    <i id="principal_tips" class="layui-icon layui-icon-about" title="文件模板" onclick="showTips('principal_tips')"></i>
                </div>
                <div class="layui-card-body" id="principal_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden" title="主管职业危害负责人责任制">主管职业危害负责人责任制</span>
                    <i id="supervisor_tips" class="layui-icon layui-icon-about" title="文件模板" onclick="showTips('supervisor_tips')"></i>
                </div>
                <div class="layui-card-body" id="supervisor_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden" title="专/兼职职业危害管理人员职业危害防治责任制">专/兼职职业危害管理人员职业危害防治责任制</span>
                    <i id="full_time_tips" class="layui-icon layui-icon-about" title="文件模板" onclick="showTips('full_time_tips')"></i>
                </div>
                <div class="layui-card-body" id="full_time_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden" title="职业危害岗位防治责任制">职业危害岗位防治责任制</span>
                    <i id="post_prevention_tips" class="layui-icon layui-icon-about" title="文件模板" onclick="showTips('post_prevention_tips')"></i>
                </div>
                <div class="layui-card-body" id="post_prevention_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden" title="职业健康管理部门职业危害防治责任制">职业健康管理部门职业危害防治责任制</span>
                    <i id="department_prevention_tips" class="layui-icon layui-icon-about" title="文件模板" onclick="showTips('department_prevention_tips')"></i>
                </div>
                <div class="layui-card-body" id="department_prevention_div">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-responsibility .layui-col-space15 {
        margin: 0;
    }
    #ehs-enterprise-responsibility .layui-card {
        border: 1px solid;
        border-color: #e7ecf1;
    }
    #ehs-enterprise-responsibility .layui-card-body {
        border: 1px solid;
        border-color: #ccc6;
        margin: 15px 20px;
    }
    #ehs-enterprise-responsibility .layui-card-body {
        min-height: 55px;
    }
    #ehs-enterprise-responsibility a:link {
        color: #1183FF;
    }
    #ehs-enterprise-responsibility a:hover {
        color: #C1292F;
    }
    #ehs-enterprise-responsibility .file-title {
        border-bottom: 1px solid #ccc6;
        font-size: 15px;
        padding-bottom: 15px;
        margin: 15px 20px;
    }
    #ehs-enterprise-responsibility .file-title i {
        float: right;
    }
    #ehs-enterprise-responsibility .layui-icon-delete {
        float: right;
    }
    #ehs-enterprise-responsibility .date-span {
        display: block;
    }
    #ehs-enterprise-responsibility .hidden {
        display: inline-block;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #ehs-enterprise-responsibility .layui-icon-about {
        font-size: 20px;
    }
    #ehs-enterprise-responsibility i {
        cursor: pointer;
    }
    #ehs-enterprise-responsibility .layui-btn {
        background-color: #009688;
    }
    #ehs-enterprise-responsibility .upload {
        text-align: center;
        margin-top: 10px;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'util'], function() {
        var $ = layui.$;
        var layer = layui.layer;
        var util = layui.util;
        $(function() {
            $.ajax({
                url: 'responsibility/listResponsibilities',
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    var data = result.data;
                    if (data['主要负责人责任制']) {
                        var data1 = data['主要负责人责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="principal_path" class="file-download hidden" title="' + data1.fileName + '"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'主要负责人责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data1.gmtModified == null ? data1.gmtCreate : data1.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#principal_div').html(html);
                    } else {
                        var html = '<div id="principal_upload" class="upload">'
                            + '<button id="principal_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="principal" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'主要负责人责任制\');"/></div>';
                        $('#principal_div').html(html);
                        $('#principal_btn').click(function () {
                            $('#principal').click();
                        });
                    }
                    if (data['主管职业危害负责人责任制']) {
                        var data2 = data['主管职业危害负责人责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="supervisor_path" class="file-download hidden" title="' + data2.fileName + '"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'主管职业危害负责人责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data2.gmtModified == null ? data2.gmtCreate : data2.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#supervisor_div').html(html);
                    } else {
                        var html = '<div id="supervisor_upload" class="upload">'
                            + '<button id="supervisor_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="supervisor" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'主管职业危害负责人责任制\');"/></div>';
                        $('#supervisor_div').html(html);
                        $('#supervisor_btn').click(function () {
                            $('#supervisor').click();
                        });
                    }
                    if (data['专/兼职职业危害管理人员职业危害防治责任制']) {
                        var data3 = data['专/兼职职业危害管理人员职业危害防治责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="full_time_path" class="file-download hidden" title="' + data3.fileName + '"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'专/兼职职业危害管理人员职业危害防治责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data3.gmtModified == null ? data3.gmtCreate : data3.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#full_time_div').html(html);
                    } else {
                        var html = '<div id="full_time_upload" class="upload">'
                            + '<button id="full_time_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="full_time" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'专/兼职职业危害管理人员职业危害防治责任制\');"/></div>';
                        $('#full_time_div').html(html);
                        $('#full_time_btn').click(function () {
                            $('#full_time').click();
                        });
                    }
                    if (data['职业危害岗位防治责任制']) {
                        var data4 = data['职业危害岗位防治责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="post_prevention_path" class="file-download hidden" title="' + data4.fileName + '"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'职业危害岗位防治责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data4.gmtModified == null ? data4.gmtCreate : data4.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#post_prevention_div').html(html);
                    } else {
                        var html = '<div id="post_prevention_upload" class="upload">'
                            + '<button id="post_prevention_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="post_prevention" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'职业危害岗位防治责任制\');"/></div>';
                        $('#post_prevention_div').html(html);
                        $('#post_prevention_btn').click(function () {
                            $('#post_prevention').click();
                        });
                    }
                    if (data['职业健康管理部门职业危害防治责任制']) {
                        var data5 = data['职业健康管理部门职业危害防治责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="department_prevention_path" class="file-download hidden" title="' + data5.fileName + '"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'职业健康管理部门职业危害防治责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data5.gmtModified == null ? data5.gmtCreate : data5.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#department_prevention_div').html(html);
                    } else {
                        var html = '<div id="department_prevention_upload" class="upload">'
                            + '<button id="department_prevention_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="department_prevention" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'职业健康管理部门职业危害防治责任制\');"/></div>';
                        $('#department_prevention_div').html(html);
                        $('#department_prevention_btn').click(function () {
                            $('#department_prevention').click();
                        });
                    }
                }
            });
        });
        // 点击删除按钮
        window.deleteResponsibility = function(type) {
            var filePath = '';
            if (type == '主要负责人责任制') {
                filePath = $('#principal_path').attr('filePath');
                deleteResponsibilityFile(filePath);
            }
            if (type == '主管职业危害负责人责任制') {
                filePath = $('#supervisor_path').attr('filePath');
                deleteResponsibilityFile(filePath);
            }
            if (type == '专/兼职职业危害管理人员职业危害防治责任制') {
                filePath = $('#full_time_path').attr('filePath');
                deleteResponsibilityFile(filePath);
            }
            if (type == '职业危害岗位防治责任制') {
                filePath = $('#post_prevention_path').attr('filePath');
                deleteResponsibilityFile(filePath);
            }
            if (type == '职业健康管理部门职业危害防治责任制') {
                filePath = $('#department_prevention_path').attr('filePath');
                deleteResponsibilityFile(filePath);
            }
        }
        // 查询
        window.requeryResponsibility = function() {
            $.ajax({
                url: 'responsibility/listResponsibilities',
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    var data = result.data;
                    if (data['主要负责人责任制']) {
                        var data1 = data['主要负责人责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="principal_path" class="file-download hidden" title="' + data1.fileName + '"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'主要负责人责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data1.gmtModified == null ? data1.gmtCreate : data1.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#principal_div').html(html);
                    } else {
                        var html = '<div id="principal_upload" class="upload">'
                            + '<button id="principal_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="principal" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'主要负责人责任制\');"/></div>';
                        $('#principal_div').html(html);
                        $('#principal_btn').click(function () {
                            $('#principal').click();
                        });
                    }
                    if (data['主管职业危害负责人责任制']) {
                        var data2 = data['主管职业危害负责人责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="supervisor_path" class="file-download hidden" title="' + data2.fileName + '"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'主管职业危害负责人责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data2.gmtModified == null ? data2.gmtCreate : data2.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#supervisor_div').html(html);
                    } else {
                        var html = '<div id="supervisor_upload" class="upload">'
                            + '<button id="supervisor_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="supervisor" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'主管职业危害负责人责任制\');"/></div>';
                        $('#supervisor_div').html(html);
                        $('#supervisor_btn').click(function () {
                            $('#supervisor').click();
                        });
                    }
                    if (data['专/兼职职业危害管理人员职业危害防治责任制']) {
                        var data3 = data['专/兼职职业危害管理人员职业危害防治责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="full_time_path" class="file-download hidden" title="' + data3.fileName + '"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'专/兼职职业危害管理人员职业危害防治责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data3.gmtModified == null ? data3.gmtCreate : data3.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#full_time_div').html(html);
                    } else {
                        var html = '<div id="full_time_upload" class="upload">'
                            + '<button id="full_time_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="full_time" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'专/兼职职业危害管理人员职业危害防治责任制\');"/></div>';
                        $('#full_time_div').html(html);
                        $('#full_time_btn').click(function () {
                            $('#full_time').click();
                        });
                    }
                    if (data['职业危害岗位防治责任制']) {
                        var data4 = data['职业危害岗位防治责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="post_prevention_path" class="file-download hidden" title="' + data4.fileName + '"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'职业危害岗位防治责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data4.gmtModified == null ? data4.gmtCreate : data4.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#post_prevention_div').html(html);
                    } else {
                        var html = '<div id="post_prevention_upload" class="upload">'
                            + '<button id="post_prevention_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="post_prevention" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'职业危害岗位防治责任制\');"/></div>';
                        $('#post_prevention_div').html(html);
                        $('#post_prevention_btn').click(function () {
                            $('#post_prevention').click();
                        });
                    }
                    if (data['职业健康管理部门职业危害防治责任制']) {
                        var data5 = data['职业健康管理部门职业危害防治责任制'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="department_prevention_path" class="file-download hidden" title="' + data5.fileName + '"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deleteResponsibility(\'职业健康管理部门职业危害防治责任制\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data5.gmtModified == null ? data5.gmtCreate : data5.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#department_prevention_div').html(html);
                    } else {
                        var html = '<div id="department_prevention_upload" class="upload">'
                            + '<button id="department_prevention_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="department_prevention" type="file" style="display: none;" onchange="responsibilityUploadFile(this, \'职业健康管理部门职业危害防治责任制\');"/></div>';
                        $('#department_prevention_div').html(html);
                        $('#department_prevention_btn').click(function () {
                            $('#department_prevention').click();
                        });
                    }
                }
            });
        }
        // 上传文件到oss，并保存文件数据
        window.responsibilityUploadFile = function(dom, type, filePath) {
            // 如果没有定义，文件路径设为空
            if (typeof (filePath) == 'undefined') {
                filePath = '';
            }
            // 限制上传文件大小最大为20MB
            var fileSize = $(dom)[0].files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                dom.value = '';
                return;
            }
            // 获取上传的文件对象
            var formData = new FormData();
            formData.append('file', $(dom)[0].files[0]);
            formData.append('type', type);
            formData.append('filePath', filePath);
            // 加载层，阻止上传完成前的其他操作
            var loadingIndex = layer.load(2);
            $.ajax({
                url: 'responsibility/uploadFile',
                type: 'post',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (result.status === "success") {
                        parent.layer.msg(result.message, {icon: 6});
                        requeryResponsibility();
                    }
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }
        // 删除数据库记录，并删除oss服务器上的相应文件
        window.deleteResponsibilityFile = function(filePath) {
            $.ajax({
                url: 'responsibility/deleteFile',
                type: 'post',
                dataType: 'json',
                data: {filePath: filePath},
                success: function (result) {
                    if (result.status === "success") {
                        layer.msg(result.message, {icon: 6});
                        requeryResponsibility();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            });
        }
        // 小tips提示模板
        window.showTips = function(id) {
            if (id === 'principal_tips') {
                layer.tips("<span style='font-size: 16px;'>文件模板：</span></br>" +
                    "1.\t设立职业危害管理机构，并提供人力资源；</br>" +
                    "2.\t定期召开职业健康工作会议，研究解决存在的问题；</br>" +
                    "3.\t组织建立、健全本单位职业危害防治责任制、规章制度和操作规程；</br>" +
                    "4.\t督促、检查本单位的职业危害防治工作，及时消除职业危害事故隐患；</br>" +
                    "5.\t保证本单位职业危害防治投入的有效实施；</br>" +
                    "6.\t组织建立并实施本单位的职业危害事故应急救援预案；</br>" +
                    "7.\t及时、如实报告职业危害事故。</br>"
                    , "#" + id + "", {
                        tips: [2, "#888888"],
                        time: 0,
                        closeBtn: 1,
                        success: function () {
                            $(".layui-layer-tips .layui-layer-close").css({top: '-3px', right: '-5px'})
                        }
                });
            }
            if (id === 'supervisor_tips') {
                layer.tips("<span style='font-size: 16px;'>文件模板：</span></br>" +
                    "1.\t明确在本企业职业危害防治管理工作中的具体职责；</br>" +
                    "2.\t组织职业危害防治检查及落实职业危害因素整改；</br>" +
                    "3.\t组织制定、修订和审定各项职业危害防治管理制度，并检查其执行情况；</br>" +
                    "4.\t明确在职业危害事故应急救援预案中的组织、实施责任。</br>"
                    , "#"+id+"", {
                        tips: [2, "#888888"],
                        time: 0,
                        closeBtn: 1,
                        success: function () {
                            $(".layui-layer-tips .layui-layer-close").css({top: '-3px', right: '-5px'})
                        }
                    });
            }
            if (id === 'full_time_tips') {
                layer.tips("<span style='font-size: 16px;'>文件模板：</span></br>" +
                    "1.\t贯彻执行有关职业危害防治的法规、制度和标准；</br>" +
                    "2.\t负责日常职业危害防治的监督、检查、技术管理、教育以及职业危害事故的调查组织、统计、上报和建档工作；</br>" +
                    "3.\t组织对劳动者进行职业卫生教育与培训，落实各项职业病危害告知制度，建立、健全本公司职业卫生管理档案及健康监护档案，并妥善保存。</br>"
                    , "#"+id+"", {
                        tips: [2, "#888888"],
                        time: 0,
                        closeBtn: 1,
                        success: function () {
                            $(".layui-layer-tips .layui-layer-close").css({top: '-3px', right: '-5px'})
                        }
                    });
            }
            if (id === 'post_prevention_tips') {
                layer.tips("<span style='font-size: 16px;'>文件模板：</span></br>" +
                    "1.\t参加职业危害防治培训教育和活动、学习职业危害防治技术知识，遵守各项职业危害防治规章制度和操作规程，发现隐患及时报告；</br>" +
                    "2.\t正确使用、保管各种劳保用品、器具和防护设施；</br>" +
                    "3.\t不违章作业，并劝阻或制止他人违章作业行为，对违章指挥有权拒绝执行，并及时向单位领导汇报；</br>" +
                    "4.\t当工作场所有发生职业危害事故的危险时，应向监督管理人员报告，并停止作业，直到危险消除。</br>"
                    , "#"+id+"", {
                        tips: [2, "#888888"],
                        time: 0,
                        closeBtn: 1,
                        success: function () {
                            $(".layui-layer-tips .layui-layer-close").css({top: '-3px', right: '-5px'})
                        }
                    });
            }
            if (id === 'department_prevention_tips') {
                layer.tips("<span style='font-size: 16px;'>文件模板：</span></br>" +
                    "1.\t贯彻执行国家和上级制定的职业危害防治的规定及各项职业危害防治规章制度，并对执行情况进行监督检查；</br>" +
                    "2.\t企业负责人领导下组织建立、修订各项职业危害防治管理制度和参与制定职业危害防治技术措施；</br>" +
                    "3.\t职业危害防治技术措施计划和作业场所的职业危害防治实施监督管理；</br>" +
                    "4.\t落实职业病病人和疑似职业病人的诊断、救治、康复和安置工作。</br>"
                    , "#"+id+"", {
                        tips: [2, "#888888"],
                        time: 0,
                        closeBtn: 1,
                        success: function () {
                            $(".layui-layer-tips .layui-layer-close").css({top: '-3px', right: '-5px'})
                        }
                    });
            }
        }
    });
</script>