<style>
    #edit-year-plan {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-year-plan">
    <form id="harm_form" class="layui-form" lay-filter="harm_form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseYearPlan?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseYearPlan?.enterpriseId}">
        <input id="plan" name="planFile" type="hidden" th:value="${enterpriseYearPlan?.planFile}" />
        <input id="planType" name="planType" type="hidden" th:value="${enterpriseYearPlan?.planType}" />
        <input id="planPeriod" type="hidden" th:value="${enterpriseYearPlan?.planPeriod}" />
        <div class="layui-form-item" id="year_div">
            <label class="layui-form-label xadmin-form-item-require">年度：</label>
            <div class="layui-input-block">
                <input type="text" id="year" name="year" readonly th:value="${enterpriseYearPlan?.year}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检测月份：</label>
            <div class="layui-input-block">
                <select xm-select-direction="down" xm-select="planPeriod" xm-select-skin="default"
                        name="planPeriod">
                    <option value="">请选择检测月份</option>
                    <option value="1月">1月</option>
                    <option value="2月">2月</option>
                    <option value="3月">3月</option>
                    <option value="4月">4月</option>
                    <option value="5月">5月</option>
                    <option value="6月">6月</option>
                    <option value="7月">7月</option>
                    <option value="8月">8月</option>
                    <option value="9月">9月</option>
                    <option value="10月">10月</option>
                    <option value="11月">11月</option>
                    <option value="12月">12月</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="harm"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'formSelects'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            formSelects = layui.formSelects;
        form.render();
        formSelects.render();
        // 设置选中值
        formSelects.value('planPeriod', $('#planPeriod').val().split(','));
        // 表单提交
        form.on('submit(harm)', function(data) {
            var enterpriseYearPlan = {};
            $.each($("#harm_form input[name],select[name]"), function (index, element) {
                enterpriseYearPlan[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseYearPlan) {
                // 检测周期
                var selectedData = formSelects.value('planPeriod', 'valStr');
                enterpriseYearPlan['planPeriod'] = selectedData;
                var formData = new FormData();
                formData.append("enterpriseYearPlanJSON", JSON.stringify(enterpriseYearPlan));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'yearplan/editYearplan/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryYearplan($('#year').val());
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>