<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-yearplan" lay-title="年度计划">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: auto;">
                        <label class="layui-form-label" style="width: 30px;">年度</label>
                        <input id="year" type="text" placeholder="请选择年度" class="layui-input" style="width: 70%;"/>
                    </div>
                </div>
            </form>
            <div class="year-plan-type">
                <div class="layui-elem-quote">
                    <h2>职业病防治计划</h2>
                </div>
                <div class="year-plan-edit-mul" id="prevention">
                </div>
            </div>
            <div class="year-plan-type">
                <div class="layui-elem-quote">
                    <h2>经费投入计划</h2>
                </div>
                <div class="year-plan-edit-mul" id="cost">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-yearplan .year-plan-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-yearplan .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-yearplan h2 {
        font-size: 18px;
    }
    #ehs-enterprise-yearplan .year-plan-edit-mul {
        padding: 10px 15px;
        line-height: 23px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 30px;
        overflow: hidden;
    }
    #ehs-enterprise-yearplan .edit {
        float: right;
    }
    #ehs-enterprise-yearplan .file-download {
        display: inline-block;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 3px;
    }
    #ehs-enterprise-yearplan .plan-text {
        margin-top: 3px;
    }
    #ehs-enterprise-yearplan a:link {
        color: #1183FF;
    }
    #ehs-enterprise-yearplan a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'laydate', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form,
            xadmin = layui.xadmin;
        // 日期组件
        laydate.render({
            elem: '#year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearplan(value);
            }
        });
        $(function() {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: new Date().getFullYear()},
                success: function (result) {
                    var data = result.data;
                    if (data['zybfz']) {
                        var data1 = data['zybfz'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data1.fileName + '"'
                            + ' filePath="' + data1.planFile + '">'
                            + data1.fileName + '</a>'
                            + '<a href="javascript:void(0);" class="edit" onclick="edit(' + data1.id + ',\'zybfz\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#prevention').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="add(\'zybfz\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#prevention').html(html);
                    }
                    if (data['jftr']) {
                        var data2 = data['jftr'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data2.fileName + '"'
                            + ' filePath="' + data2.planFile + '">'
                            + data2.fileName + '</a>'
                            + '<a href="javascript:void(0);" class="edit" onclick="edit(' + data2.id + ',\'jftr\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#cost').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="add(\'jftr\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#cost').html(html);
                    }
                }
            });
        });
        // 查询
        window.requeryYearplan = function(year) {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: year},
                success: function (result) {
                    var data = result.data;
                    if (data['zybfz']) {
                        var data1 = data['zybfz'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data1.fileName + '"'
                            + ' filePath="' + data1.planFile + '">'
                            + data1.fileName + '</a>'
                            + '<a href="javascript:void(0);" class="edit" onclick="edit(' + data1.id + ',\'zybfz\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#prevention').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="add(\'zybfz\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#prevention').html(html);
                    }
                    if (data['jftr']) {
                        var data2 = data['jftr'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md6"'
                            + 'title="' + data2.fileName + '"'
                            + ' filePath="' + data2.planFile + '">'
                            + data2.fileName + '</a>'
                            + '<a href="javascript:void(0);" class="edit" onclick="edit(' + data2.id + ',\'jftr\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#cost').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="add(\'jftr\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#cost').html(html);
                    }
                }
            });
        }
        // 新增
        window.add = function(type) {
            var title = '新增';
            if (type == 'zybfz') {
                title += '职业病防治计划';
            }
            if (type == 'jftr') {
                title += '经费投入计划';
            }
            xadmin.modal.open(title, "yearplan/addYearplan/" + type + "/" + $('#year').val().trim(), {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-plan').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-year-plan').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 编辑
        window.edit = function(id, type) {
            var title = '编辑';
            if (type == 'zybfz') {
                title += '职业病防治计划';
            }
            if (type == 'jftr') {
                title += '经费投入计划';
            }
            xadmin.modal.open(title, "yearplan/editYearplan/" + id + "/" + type, {
                btn: ['提交', '取消'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-plan').find('#submit').trigger('click');
                    return false;
                }
            });
        }
    });
</script>