<style>
    #edit-year-protective-measure-plan {
        padding: 20px 25px 25px 0;
    }
    #edit-year-protective-measure-plan .layui-form-label {
        width: 100px;
    }
    #edit-year-protective-measure-plan .layui-input-block {
        margin-left: 130px;
    }
</style>
<div class="layui-fluid" id="edit-year-protective-measure-plan">
    <form id="protective_measure_plan_form" class="layui-form" lay-filter="protective-measure-plan-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseYearPlan?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseYearPlan?.enterpriseId}">
        <input id="plan" name="planFile" type="hidden" th:value="${enterpriseYearPlan?.planFile}" />
        <input id="planType" name="planType" type="hidden" th:value="${enterpriseYearPlan?.planType}" />
        <input id="planPeriod" type="hidden" th:value="${enterpriseYearPlan?.planPeriod}" />
        <div class="layui-form-item" id="year_div">
            <label class="layui-form-label xadmin-form-item-require">年度：</label>
            <div class="layui-input-block">
                <input type="text" id="year" name="year" readonly th:value="${enterpriseYearPlan?.year}"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">维护检修月份：</label>
            <div class="layui-input-block">
                <select xm-select-direction="down" xm-select="planPeriod" xm-select-skin="default"
                        name="planPeriod">
                    <option value="">请选择维护检修月份</option>
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option value="3">3月</option>
                    <option value="4">4月</option>
                    <option value="5">5月</option>
                    <option value="6">6月</option>
                    <option value="7">7月</option>
                    <option value="8">8月</option>
                    <option value="9">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">计划文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="protective_measure_plan_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="protective_measure_plan_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="protective-measure-plan"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'formSelects'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            formSelects = layui.formSelects;
        form.render('select');
        formSelects.render();
        // 设置选中值
        console.log($('#planPeriod').val());
        formSelects.value('planPeriod', $('#planPeriod').val().split(','));
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#plan').val() != '') {
                $('#filePath').val($('#plan').val().substring($('#plan').val().lastIndexOf('/') + 1));
            }
            $('#protective_measure_plan_file').after('<button type="button" id="protective_measure_plan_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 年度防护设施检测计划文件上传
        $('#protective_measure_plan_btn').click(function (event) {
            $('#protective_measure_plan_file').click();
        });
        $('#protective_measure_plan_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(protective-measure-plan)', function(data) {
            var enterpriseYearPlan = {};
            $.each($("#protective_measure_plan_form input[name],select[name]"), function (index, element) {
                enterpriseYearPlan[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseYearPlan) {
                // 检测月份
                var selectedData = formSelects.value('planPeriod', 'valStr');
                enterpriseYearPlan['planPeriod'] = selectedData;
                // 检查文件
                var planFiles = $("#protective_measure_plan_file")[0].files;
                if (!$("#plan").val() && planFiles.length == 0) {
                    layer.msg("计划文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseYearPlanJSON", JSON.stringify(enterpriseYearPlan));
                if (planFiles.length != 0) {
                    formData.append("planFile", planFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'yearplan/editYearplan/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryYearProtectiveMeasurePlan($('#year').val());
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#protective_measure_plan_download').click(function (event) {
            var filePath = $('#plan').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>