<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-protective-measure-plan" lay-title="防护设施维护检修计划">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: auto;">
                        <label class="layui-form-label" style="width: 30px;">年度</label>
                        <input id="protective_measure_plan_year" type="text" placeholder="请选择年度" class="layui-input" style="width: 70%;"/>
                    </div>
                </div>
            </form>
            <div class="year-plan-type">
                <div class="layui-elem-quote">
                    <h2>防护设施维护检修计划</h2>
                </div>
                <div class="year-plan-edit-mul" id="measure">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-protective-measure-plan .year-plan-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-protective-measure-plan .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-protective-measure-plan h2 {
        font-size: 18px;
    }
    #ehs-enterprise-protective-measure-plan .year-plan-edit-mul {
        padding: 10px 15px;
        line-height: 23px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 30px;
        overflow: hidden;
    }
    #ehs-enterprise-protective-measure-plan .edit {
        float: right;
    }
    #ehs-enterprise-protective-measure-plan .file-download {
        display: inline-block;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 3px;
    }
    #ehs-enterprise-protective-measure-plan .plan-text {
        margin-top: 3px;
    }
    #ehs-enterprise-protective-measure-plan a:link {
        color: #1183FF;
    }
    #ehs-enterprise-protective-measure-plan a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'laydate', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form,
            xadmin = layui.xadmin;
        // 日期组件
        laydate.render({
            elem: '#protective_measure_plan_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearProtectiveMeasurePlan(value);
            }
        });
        $(function() {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: new Date().getFullYear()},
                success: function (result) {
                    var data = result.data;
                    if (data['fhssjc']) {
                        var data5 = data['fhssjc'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md3"'
                            + 'title="' + data5.fileName + '"'
                            + ' filePath="' + data5.planFile + '">'
                            + data5.fileName + '</a>';
                        if (data5.planPeriod != '') {
                            html += '<span class="layui-col-md6 plan-text">维护检修月份：' + data5.planPeriod + '</span>';
                        }
                        html = html + '<a href="javascript:void(0);" class="edit" onclick="editProtectiveMeasurePlan(' + data5.id + ',\'fhssjc\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#measure').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="addProtectiveMeasurePlan(\'fhssjc\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#measure').html(html);
                    }
                }
            });
        });
        // 查询
        window.requeryYearProtectiveMeasurePlan = function(year) {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: year},
                success: function (result) {
                    var data = result.data;
                    if (data['fhssjc']) {
                        var data5 = data['fhssjc'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md3"'
                            + 'title="' + data5.fileName + '"'
                            + ' filePath="' + data5.planFile + '">'
                            + data5.fileName + '</a>';
                        if (data5.planPeriod != '') {
                            html += '<span class="layui-col-md6 plan-text">检测维护月份：' + data5.planPeriod + '</span>';
                        }
                        html = html + '<a href="javascript:void(0);" class="edit" onclick="editProtectiveMeasurePlan(' + data5.id + ',\'fhssjc\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#measure').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="addProtectiveMeasurePlan(\'fhssjc\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#measure').html(html);
                    }
                }
            });
        }
        // 新增
        window.addProtectiveMeasurePlan = function(type) {
            var title = '新增';
            if (type == 'fhssjc') {
                title += '防护设施维护检修计划';
            }
            xadmin.modal.open(title, "yearplan/addYearplan/" + type + "/" + $('#protective_measure_plan_year').val().trim(), {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-protective-measure-plan').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-year-protective-measure-plan').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 编辑
        window.editProtectiveMeasurePlan = function(id, type) {
            var title = '编辑';
            if (type == 'fhssjc') {
                title += '防护设施维护检修计划';
            }
            xadmin.modal.open(title, "yearplan/editYearplan/" + id + "/" + type, {
                btn: ['提交', '取消'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-protective-measure-plan').find('#submit').trigger('click');
                    return false;
                }
            });
        }
    });
</script>