<style>
    #edit-check-result-detail {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-check-result-detail">
    <form id="check_result_detail_form" class="layui-form" action="" lay-filter="check-result-detail-form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseCheckResultDetail?.id}">
        <input type="hidden" id="checkResultId" name="checkResultId" th:value="${enterpriseCheckResultDetail?.checkResultId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">接触时间：</label>
            <div class="layui-input-block">
                <input type="text" id="contactTime" name="contactTime" placeholder="请输入接触时间（h）" maxlength="10"
                       th:value="${enterpriseCheckResultDetail?.contactTime}" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测结果：</label>
            <div class="layui-input-block">
                <input type="text" id="checkResult" name="checkResult" placeholder="请输入检测结果" maxlength="10"
                       th:value="${enterpriseCheckResultDetail?.checkResult}" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">单位：</label>
            <div class="layui-input-block">
                <input type="text" id="unit" name="unit" placeholder="请输入单位" maxlength="10"
                       th:value="${enterpriseCheckResultDetail?.unit}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="check-result-detail"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        form.render();
        // 表单提交
        form.on('submit(check-result-detail)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'outsideCheck/checkResult/detail/save',
                type: 'post',
                dateType: 'json',
                data: data.field,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.msg(result.message, {icon: 6});
                        layer.close(currentIndex);
                        parent.requeryCheckResultDetail();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>