<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-check-result-detail">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="check_result_detail_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                    <i class="layui-icon">&#xe875;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="check_result_detail_table" lay-filter="check_result_detail_table"></table>
</div>
<style type="text/css">
    .layui-dropdown{
        z-index: 200000000;
    }
</style>
<!-- 危害因素检测结果详细table行编辑、删除 -->
<script type="text/html" id="check_result_detail_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-check-result-detail'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        form.render();
        // 检测结果id
        var checkResultId = [[${checkResultId}]];
        // 检测结果详细table
        var  checkResultDetailTable = table.render({
            elem: "#check_result_detail_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "contactTime",
                        title: "接触时间（h）",
                        align: "center",
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: "checkResult",
                        title: "检测结果",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "unit",
                        title: "单位",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#check_result_detail_bar',
                        width: 120
                    }
                ]
            ],
            url: "outsideCheck/checkResult/detail/listCheckResultDetails",
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseCheckResultDetails
                };
            },
            where: {
                keyword: $('#check_result_detail_keyword').val().trim(),
                checkResultId: checkResultId
            },
            autoSort: false
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('check_result_detail_table');
                if (name === 'add') {
                    xadmin.modal.open("新增检测结果",'outsideCheck/checkResult/detail/add/' + checkResultId,{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-check-result-detail').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-check-result-detail').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        layer.msg('请选择需要删除的检测结果', {icon: 5});
                        return;
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'outsideCheck/checkResult/detail/deletes',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    layer.msg(result.message, {icon: 6});
                                    table.reload('check_result_detail_table');
                                } else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增检测结果'
            }, {
                name: 'delete',
                title: '删除检测结果'
            }]
        });
        // table排序
        table.on('sort(check_result_detail_table)', function (obj) {
            requeryCheckResultDetail(obj);
        });
        // 查询
        window.requeryCheckResultDetail = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#check_result_detail_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            checkResultDetailTable.reload(options);
        }
        $query.on('click', function() {
            requeryCheckResultDetail();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryCheckResultDetail();
        });
        // 监听检测结果详细table行事件（编辑、删除）
        table.on('tool(check_result_detail_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑检测结果",'outsideCheck/checkResult/detail/edit/' + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-check-result-detail').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该检测结果吗？', function(index) {
                    $.ajax({
                        url: 'outsideCheck/checkResult/detail/delete',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryCheckResultDetail();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
    });
</script>