/*.layui-layer-btn0{
    border-color: #dedede !important;
    background-color: #fff !important;
    color: #333 !important;
}
.layui-layer-btn1{
    border-color: #1E9FFF !important;
    background-color: #1E9FFF !important;
    color: #fff !important;
}*/
/*.layui-row,.layui-collapse{
    margin-top: 10px;
}*/
.file-download{
    cursor: pointer;
}