<style>
    #add-opinion-file {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="add-opinion-file">
    <form id="opinion_file_form" class="layui-form" lay-filter="opinion-file-form">
        <input type="hidden" id="projectId" name="projectId" th:value="${enterpriseThreeSimultaneityFile?.projectId}">
        <input type="hidden" id="projectState" name="projectState" th:value="${enterpriseThreeSimultaneityFile?.projectState}">
        <input type="hidden" id="fileType" name="fileType" th:value="${enterpriseThreeSimultaneityFile?.fileType}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">意见：</label>
            <div class="layui-input-block">
                <input type="text" id="opinion" name="opinion" placeholder="请输入意见" maxlength="200"
                       class="layui-input" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">相关文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="opinion_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="opinion_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="opinionFile"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        form.render();
        // 三同时其他文件上传
        $('#opinion_btn').click(function (event) {
            $('#opinion_file').click();
        });
        $('#opinion_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(opinionFile)', function(data) {
            var enterpriseThreeSimultaneityFile = {};
            $.each($("#opinion_file_form input[name]"), function (index, element) {
                enterpriseThreeSimultaneityFile[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseThreeSimultaneityFile) {
                // 相关文件
                var opinionFiles = $("#opinion_file")[0].files;
                if (!$("#other").val() && opinionFiles.length == 0) {
                    layer.msg("相关文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseThreeSimultaneityFileJSON", JSON.stringify(enterpriseThreeSimultaneityFile));
                if (opinionFiles.length != 0) {
                    formData.append("opinionFile", opinionFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'threeSimultaneityFile/addOpinion',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            layer.close(currentIndex);
                            parent.requeryCompletionAcceptance();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>