<style>
    #edit-other-file {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-other-file">
    <form id="other_file_form" class="layui-form" lay-filter="other-file-form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseRelationFile?.id}">
        <input type="hidden" id="relationId" name="relationId" th:value="${enterpriseRelationFile?.relationId}">
        <input type="hidden" id="relationModule" name="relationModule" th:value="${enterpriseRelationFile?.relationModule}">
        <input type="hidden" id="fileType" name="fileType" th:value="${enterpriseRelationFile?.fileType}">
        <input type="hidden" id="otherName" name="fileName" th:value="${enterpriseRelationFile?.fileName}">
        <input type="hidden" id="otherFile" name="filePath" th:value="${enterpriseRelationFile?.filePath}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">文件描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入文件描述" maxlength="100"
                       th:value="${enterpriseRelationFile?.description}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">其他文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="other_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="other_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="otherFile"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        form.render();
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#otherFile').val() != '') {
                $('#filePath').val($('#otherName').val());
            }
            $('#other_file').after('<button type="button" id="other_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 三同时其他文件上传
        $('#other_btn').click(function (event) {
            $('#other_file').click();
        });
        $('#other_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(otherFile)', function(data) {
            var enterpriseRelationFile = {};
            $.each($("#other_file_form input[name],select[name]"), function (index, element) {
                enterpriseRelationFile[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseRelationFile) {
                // 检查文件
                var otherFiles = $("#other_file")[0].files;
                if ($("#other").val() == "" && otherFiles.length == 0) {
                    layer.msg("其他文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseRelationFileJSON", JSON.stringify(enterpriseRelationFile));
                if (otherFiles.length != 0) {
                    formData.append("otherFile", otherFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'threeSimultaneity/otherFile/editOtherFile/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            layer.close(currentIndex);
                            parent.requery();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#other_download').click(function (event) {
            var filePath = $('#otherFile').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>