<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-other-file">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: auto;">
                                <button type="button" class="layui-btn" onclick="addOtherFile();">添加</button>
                                <button type="button" class="layui-btn" onclick="deleteOtherFile();">删除</button>
                            </div>
                        </div>
                    </form>
                    <table id="other_file_table" lay-filter="other_file_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 三同时其他文件table行查看、编辑、删除 -->
<script type="text/html" id="other_file_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 关联id
    var relationId = [[${relationId}]];
    // 关联模块
    var relationModule = '[[${relationModule}]]';
    // 文件类型
    var fileType = '[[${fileType}]]';
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin;
        // 三同时其他文件table
        var otherFileTable = table.render({
            elem: "#other_file_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "附件",
                        align: "center",
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#other_file_bar',
                        width: 120
                    }
                ]
            ],
            url: "threeSimultaneity/otherFile/listOtherFiles",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseRelationFiles
                };
            },
            where: {
                relationId: relationId,
                relationModule: relationModule,
                fileType: fileType
            }
        });
        // 监听三同时其他文件table行事件（查看、编辑、删除）
        table.on('tool(other_file_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑其他文件",'threeSimultaneity/otherFile/editOtherFile/' + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-other-file').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除其他文件吗？', function(index) {
                    $.ajax({
                        url: 'threeSimultaneity/otherFile/deleteOtherFile',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            filePath: data.filePath
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                table.reload('other_file_table');
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requery = function() {
            otherFileTable.reload({
                where: {
                    relationId: relationId,
                    relationModule: relationModule,
                    fileType: fileType
                }
            });
        }
        // 添加
        window.addOtherFile = function() {
            xadmin.modal.open("新增其他文件",'threeSimultaneity/otherFile/addOtherFile/' + relationId + "/" + relationModule + "/" + fileType,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-other-file').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-other-file').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 删除
        window.deleteOtherFile = function() {
            var checkStatus = table.checkStatus('other_file_table');
            if (!checkStatus.data.length) {
                layer.msg('请选择需要删除的其他文件', {icon: 5});
            } else {
                var ids = [];
                layui.each(checkStatus.data, function (key, item) {
                    ids.push(item.id)
                });
                $.ajax({
                    url: 'threeSimultaneity/otherFile/deleteOtherFiles',
                    type: 'post',
                    dataType: 'json',
                    traditional: true,
                    data: {ids: ids},
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            table.reload('other_file_table');
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            }
        }
    });
</script>