<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-other-file">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <table id="other_file_table" lay-filter="other_file_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 关联id
    var relationId = [[${relationId}]];
    // 关联模块
    var relationModule = '[[${relationModule}]]';
    // 文件类型
    var fileType = '[[${fileType}]]';
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin;
        // 三同时其他文件table
        var otherFileTable = table.render({
            elem: "#other_file_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "附件",
                        align: "center",
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    }
                ]
            ],
            url: "threeSimultaneity/otherFile/listOtherFiles",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseRelationFiles
                };
            },
            where: {
                relationId: relationId,
                relationModule: relationModule,
                fileType: fileType
            }
        });
    });
</script>