<div class="layui-fluid layui-anim febs-anim" id="ehs-enterprise-prevention" lay-title="防范制度">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病危害应急救援与管理制度">职业病危害应急救援与管理制度</span>
                    <a href="template/职业病危害事故应急救援预案模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="emergency_rescue_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病危害警示与告知制度">职业病危害警示与告知制度</span>
                    <a href="template/职业危害警示和告知制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="warning_inform_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病危害项目申报制度">职业病危害项目申报制度</span>
                    <a href="template/职业危害申报制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="project_report_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病防治宣传教育培训制度">职业病防治宣传教育培训制度</span>
                    <a href="template/职业健康教育培训制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="education_training_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病防护设施维护检修制度">职业病防护设施维护检修制度</span>
                    <a href="template/职业病防护设施维护管理制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="facility_maintenance_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病防护用品管理制度">职业病防护用品管理制度</span>
                    <a href="template/个人防护用品管理制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="protective_equipment_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病危害检测及评价管理制度">职业病危害检测及评价管理制度</span>
                    <a href="template/职业病危害因素监测评价制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="detection_evaluation_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="建设项目职业卫生“三同时”管理制度">建设项目职业卫生“三同时”管理制度</span>
                    <a href="template/建设项目职业卫生”三同时“管理制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="three_simultaneity_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="劳动者职业健康监护及其档案管理制度">劳动者职业健康监护及其档案管理制度</span>
                    <a href="template/劳动者职业健康监护及其档案管理制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="guardianship_file_div">
                </div>
            </div>
        </div>
        <div class="layui-col-md4  layui-col-lg6">
            <div class="layui-card">
                <div class="file-title">
                    <span class="hidden-title" title="职业病危害事故处置与报告制度">职业病危害事故处置与报告制度</span>
                    <a href="template/职业病危害处置与报告制度模板.docx">模板下载</a>
                </div>
                <div class="layui-card-body" id="accident_disposal_div">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-prevention .layui-col-space15 {
        margin: 0;
    }
    #ehs-enterprise-prevention .layui-card {
        border: 1px solid;
        border-color: #e7ecf1;
    }
    #ehs-enterprise-prevention .layui-card-body {
        border: 1px solid;
        border-color: #ccc6;
        margin: 15px 20px;
    }
    #ehs-enterprise-prevention .layui-card-body {
        min-height: 55px;
    }
    #ehs-enterprise-prevention a:link {
        color: #1183FF;
    }
    #ehs-enterprise-prevention a:hover {
        color: #C1292F;
    }
    #ehs-enterprise-prevention .file-title {
        border-bottom: 1px solid #ccc6;
        font-size: 15px;
        padding-bottom: 15px;
        margin: 15px 20px;
    }
    #ehs-enterprise-prevention .file-title a {
        float: right;
        font-size: 12px;
    }
    #ehs-enterprise-prevention .layui-icon-delete {
        float: right;
    }
    #ehs-enterprise-prevention .date-span {
        display: block;
    }
    #ehs-enterprise-prevention .hidden-title {
        display: inline-block;
        width: 76%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #ehs-enterprise-prevention .hidden {
        display: inline-block;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #ehs-enterprise-prevention .layui-btn {
        background-color: #009688;
    }
    #ehs-enterprise-prevention .upload {
        text-align: center;
        margin-top: 10px;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'util'], function() {
        var $ = layui.$;
        var layer = layui.layer;
        var util = layui.util;
        $(function () {
            $.ajax({
                url: 'prevention/listPreventions',
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    var data = result.data;
                    if (data['职业病危害应急救援与管理制度']) {
                        var data1 = data['职业病危害应急救援与管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="emergency_rescue_path" class="file-download hidden" title="' + data1.fileName + '"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害应急救援与管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data1.gmtModified == null ? data1.gmtCreate : data1.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#emergency_rescue_div').html(html);
                    } else {
                        var html = '<div id="emergency_rescue_upload" class="upload">'
                            + '<button id="emergency_rescue_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="emergency_rescue" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害应急救援与管理制度\');"/></div>';
                        $('#emergency_rescue_div').html(html);
                        $('#emergency_rescue_btn').click(function () {
                            $('#emergency_rescue').click();
                        });
                    }
                    if (data['职业病危害警示与告知制度']) {
                        var data2 = data['职业病危害警示与告知制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="warning_inform_path" class="file-download hidden" title="' + data2.fileName + '"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害警示与告知制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data2.gmtModified == null ? data2.gmtCreate : data2.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#warning_inform_div').html(html);
                    } else {
                        var html = '<div id="warning_inform_upload" class="upload">'
                            + '<button id="warning_inform_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="warning_inform" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害警示与告知制度\');"/></div>';
                        $('#warning_inform_div').html(html);
                        $('#warning_inform_btn').click(function () {
                            $('#warning_inform').click();
                        });
                    }
                    if (data['职业病危害项目申报制度']) {
                        var data3 = data['职业病危害项目申报制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="project_report_path" class="file-download hidden" title="' + data3.fileName + '"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害项目申报制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data3.gmtModified == null ? data3.gmtCreate : data3.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#project_report_div').html(html);
                    } else {
                        var html = '<div id="project_report_upload" class="upload">'
                            + '<button id="project_report_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="project_report" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害项目申报制度\');"/></div>';
                        $('#project_report_div').html(html);
                        $('#project_report_btn').click(function () {
                            $('#project_report').click();
                        });
                    }
                    if (data['职业病防治宣传教育培训制度']) {
                        var data4 = data['职业病防治宣传教育培训制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="education_training_path" class="file-download hidden" title="' + data4.fileName + '"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病防治宣传教育培训制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data4.gmtModified == null ? data4.gmtCreate : data4.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#education_training_div').html(html);
                    } else {
                        var html = '<div id="education_training_upload" class="upload">'
                            + '<button id="education_training_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="education_training" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病防治宣传教育培训制度\');"/></div>';
                        $('#education_training_div').html(html);
                        $('#education_training_btn').click(function () {
                            $('#education_training').click();
                        });
                    }
                    if (data['职业病防护设施维护检修制度']) {
                        var data5 = data['职业病防护设施维护检修制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="facility_maintenance_path" class="file-download hidden" title="' + data5.fileName + '"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病防护设施维护检修制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data5.gmtModified == null ? data5.gmtCreate : data5.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#facility_maintenance_div').html(html);
                    } else {
                        var html = '<div id="facility_maintenance_upload" class="upload">'
                            + '<button id="facility_maintenance_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="facility_maintenance" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病防护设施维护检修制度\');"/></div>';
                        $('#facility_maintenance_div').html(html);
                        $('#facility_maintenance_btn').click(function () {
                            $('#facility_maintenance').click();
                        });
                    }
                    if (data['职业病防护用品管理制度']) {
                        var data6 = data['职业病防护用品管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="protective_equipment_path" class="file-download hidden" title="' + data6.fileName + '"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病防护用品管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data6.gmtModified == null ? data6.gmtCreate : data6.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#protective_equipment_div').html(html);
                    } else {
                        var html = '<div id="protective_equipment_upload" class="upload">'
                            + '<button id="protective_equipment_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="protective_equipment" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病防护用品管理制度\');"/></div>';
                        $('#protective_equipment_div').html(html);
                        $('#protective_equipment_btn').click(function () {
                            $('#protective_equipment').click();
                        });
                    }
                    if (data['职业病危害检测及评价管理制度']) {
                        var data7 = data['职业病危害检测及评价管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="detection_evaluation_path" class="file-download hidden" title="' + data7.fileName + '"'
                            + ' filePath="' + data7.filePath + '">'
                            + data7.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害检测及评价管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data7.gmtModified == null ? data7.gmtCreate : data7.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#detection_evaluation_div').html(html);
                    } else {
                        var html = '<div id="detection_evaluation_upload" class="upload">'
                            + '<button id="detection_evaluation_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="detection_evaluation" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害检测及评价管理制度\');"/></div>';
                        $('#detection_evaluation_div').html(html);
                        $('#detection_evaluation_btn').click(function () {
                            $('#detection_evaluation').click();
                        });
                    }
                    if (data['建设项目职业卫生“三同时”管理制度']) {
                        var data8 = data['建设项目职业卫生“三同时”管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="three_simultaneity_path" class="file-download hidden" title="' + data8.fileName + '"'
                            + ' filePath="' + data8.filePath + '">'
                            + data8.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'建设项目职业卫生“三同时”管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data8.gmtModified == null ? data8.gmtCreate : data8.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#three_simultaneity_div').html(html);
                    } else {
                        var html = '<div id="three_simultaneity_upload" class="upload">'
                            + '<button id="three_simultaneity_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="three_simultaneity" type="file" style="display: none;" onchange="preventionUploadFile(this, \'建设项目职业卫生“三同时”管理制度\');"/></div>';
                        $('#three_simultaneity_div').html(html);
                        $('#three_simultaneity_btn').click(function () {
                            $('#three_simultaneity').click();
                        });
                    }
                    if (data['劳动者职业健康监护及其档案管理制度']) {
                        var data9 = data['劳动者职业健康监护及其档案管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="guardianship_file_path" class="file-download hidden" title="' + data9.fileName + '"'
                            + ' filePath="' + data9.filePath + '">'
                            + data9.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'劳动者职业健康监护及其档案管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data9.gmtModified == null ? data9.gmtCreate : data9.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#guardianship_file_div').html(html);
                    } else {
                        var html = '<div id="guardianship_file_upload" class="upload">'
                            + '<button id="guardianship_file_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="guardianship_file" type="file" style="display: none;" onchange="preventionUploadFile(this, \'劳动者职业健康监护及其档案管理制度\');"/></div>';
                        $('#guardianship_file_div').html(html);
                        $('#guardianship_file_btn').click(function () {
                            $('#guardianship_file').click();
                        });
                    }
                    if (data['职业病危害事故处置与报告制度']) {
                        var data10 = data['职业病危害事故处置与报告制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="accident_disposal_path" class="file-download hidden" title="' + data10.fileName + '"'
                            + ' filePath="' + data10.filePath + '">'
                            + data10.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害事故处置与报告制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data10.gmtModified == null ? data10.gmtCreate : data10.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#accident_disposal_div').html(html);
                    } else {
                        var html = '<div id="accident_disposal_upload" class="upload">'
                            + '<button id="accident_disposal_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="accident_disposal" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害事故处置与报告制度\');"/></div>';
                        $('#accident_disposal_div').html(html);
                        $('#accident_disposal_btn').click(function () {
                            $('#accident_disposal').click();
                        });
                    }
                }
            });
        });
        // 点击删除按钮
        window.deletePrevention = function(type) {
            var filePath = '';
            if (type == '职业病危害应急救援与管理制度') {
                filePath = $('#emergency_rescue_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病危害警示与告知制度') {
                filePath = $('#warning_inform_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病危害项目申报制度') {
                filePath = $('#project_report_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病防治宣传教育培训制度') {
                filePath = $('#education_training_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病防护设施维护检修制度') {
                filePath = $('#facility_maintenance_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病防护用品管理制度') {
                filePath = $('#protective_equipment_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病危害检测及评价管理制度') {
                filePath = $('#detection_evaluation_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '建设项目职业卫生“三同时”管理制度') {
                filePath = $('#three_simultaneity_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '劳动者职业健康监护及其档案管理制度') {
                filePath = $('#guardianship_file_path').attr('filePath');
                deletePreventionFile(filePath);
            }
            if (type == '职业病危害事故处置与报告制度') {
                filePath = $('#accident_disposal_path').attr('filePath');
                deletePreventionFile(filePath);
            }
        }
        // 查询
        window.requeryPrevention = function() {
            $.ajax({
                url: 'prevention/listPreventions',
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    var data = result.data;
                    if (data['职业病危害应急救援与管理制度']) {
                        var data1 = data['职业病危害应急救援与管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="emergency_rescue_path" class="file-download hidden" title="' + data1.fileName + '"'
                            + ' filePath="' + data1.filePath + '">'
                            + data1.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害应急救援与管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data1.gmtModified == null ? data1.gmtCreate : data1.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#emergency_rescue_div').html(html);
                    } else {
                        var html = '<div id="emergency_rescue_upload" class="upload">'
                            + '<button id="emergency_rescue_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="emergency_rescue" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害应急救援与管理制度\');"/></div>';
                        $('#emergency_rescue_div').html(html);
                        $('#emergency_rescue_btn').click(function () {
                            $('#emergency_rescue').click();
                        });
                    }
                    if (data['职业病危害警示与告知制度']) {
                        var data2 = data['职业病危害警示与告知制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="warning_inform_path" class="file-download hidden" title="' + data2.fileName + '"'
                            + ' filePath="' + data2.filePath + '">'
                            + data2.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害警示与告知制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data2.gmtModified == null ? data2.gmtCreate : data2.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#warning_inform_div').html(html);
                    } else {
                        var html = '<div id="warning_inform_upload" class="upload">'
                            + '<button id="warning_inform_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="warning_inform" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害警示与告知制度\');"/></div>';
                        $('#warning_inform_div').html(html);
                        $('#warning_inform_btn').click(function () {
                            $('#warning_inform').click();
                        });
                    }
                    if (data['职业病危害项目申报制度']) {
                        var data3 = data['职业病危害项目申报制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="project_report_path" class="file-download hidden" title="' + data3.fileName + '"'
                            + ' filePath="' + data3.filePath + '">'
                            + data3.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害项目申报制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data3.gmtModified == null ? data3.gmtCreate : data3.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#project_report_div').html(html);
                    } else {
                        var html = '<div id="project_report_upload" class="upload">'
                            + '<button id="project_report_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="project_report" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害项目申报制度\');"/></div>';
                        $('#project_report_div').html(html);
                        $('#project_report_btn').click(function () {
                            $('#project_report').click();
                        });
                    }
                    if (data['职业病防治宣传教育培训制度']) {
                        var data4 = data['职业病防治宣传教育培训制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="education_training_path" class="file-download hidden" title="' + data4.fileName + '"'
                            + ' filePath="' + data4.filePath + '">'
                            + data4.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病防治宣传教育培训制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data4.gmtModified == null ? data4.gmtCreate : data4.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#education_training_div').html(html);
                    } else {
                        var html = '<div id="education_training_upload" class="upload">'
                            + '<button id="education_training_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="education_training" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病防治宣传教育培训制度\');"/></div>';
                        $('#education_training_div').html(html);
                        $('#education_training_btn').click(function () {
                            $('#education_training').click();
                        });
                    }
                    if (data['职业病防护设施维护检修制度']) {
                        var data5 = data['职业病防护设施维护检修制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="facility_maintenance_path" class="file-download hidden" title="' + data5.fileName + '"'
                            + ' filePath="' + data5.filePath + '">'
                            + data5.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病防护设施维护检修制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data5.gmtModified == null ? data5.gmtCreate : data5.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#facility_maintenance_div').html(html);
                    } else {
                        var html = '<div id="facility_maintenance_upload" class="upload">'
                            + '<button id="facility_maintenance_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="facility_maintenance" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病防护设施维护检修制度\');"/></div>';
                        $('#facility_maintenance_div').html(html);
                        $('#facility_maintenance_btn').click(function () {
                            $('#facility_maintenance').click();
                        });
                    }
                    if (data['职业病防护用品管理制度']) {
                        var data6 = data['职业病防护用品管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="protective_equipment_path" class="file-download hidden" title="' + data6.fileName + '"'
                            + ' filePath="' + data6.filePath + '">'
                            + data6.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病防护用品管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data6.gmtModified == null ? data6.gmtCreate : data6.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#protective_equipment_div').html(html);
                    } else {
                        var html = '<div id="protective_equipment_upload" class="upload">'
                            + '<button id="protective_equipment_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="protective_equipment" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病防护用品管理制度\');"/></div>';
                        $('#protective_equipment_div').html(html);
                        $('#protective_equipment_btn').click(function () {
                            $('#protective_equipment').click();
                        });
                    }
                    if (data['职业病危害检测及评价管理制度']) {
                        var data7 = data['职业病危害检测及评价管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="detection_evaluation_path" class="file-download hidden" title="' + data7.fileName + '"'
                            + ' filePath="' + data7.filePath + '">'
                            + data7.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害检测及评价管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data7.gmtModified == null ? data7.gmtCreate : data7.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#detection_evaluation_div').html(html);
                    } else {
                        var html = '<div id="detection_evaluation_upload" class="upload">'
                            + '<button id="detection_evaluation_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="detection_evaluation" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害检测及评价管理制度\');"/></div>';
                        $('#detection_evaluation_div').html(html);
                        $('#detection_evaluation_btn').click(function () {
                            $('#detection_evaluation').click();
                        });
                    }
                    if (data['建设项目职业卫生“三同时”管理制度']) {
                        var data8 = data['建设项目职业卫生“三同时”管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="three_simultaneity_path" class="file-download hidden" title="' + data8.fileName + '"'
                            + ' filePath="' + data8.filePath + '">'
                            + data8.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'建设项目职业卫生“三同时”管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data8.gmtModified == null ? data8.gmtCreate : data8.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#three_simultaneity_div').html(html);
                    } else {
                        var html = '<div id="three_simultaneity_upload" class="upload">'
                            + '<button id="three_simultaneity_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="three_simultaneity" type="file" style="display: none;" onchange="preventionUploadFile(this, \'建设项目职业卫生“三同时”管理制度\');"/></div>';
                        $('#three_simultaneity_div').html(html);
                        $('#three_simultaneity_btn').click(function () {
                            $('#three_simultaneity').click();
                        });
                    }
                    if (data['劳动者职业健康监护及其档案管理制度']) {
                        var data9 = data['劳动者职业健康监护及其档案管理制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="guardianship_file_path" class="file-download hidden" title="' + data9.fileName + '"'
                            + ' filePath="' + data9.filePath + '">'
                            + data9.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'劳动者职业健康监护及其档案管理制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data9.gmtModified == null ? data9.gmtCreate : data9.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#guardianship_file_div').html(html);
                    } else {
                        var html = '<div id="guardianship_file_upload" class="upload">'
                            + '<button id="guardianship_file_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="guardianship_file" type="file" style="display: none;" onchange="preventionUploadFile(this, \'劳动者职业健康监护及其档案管理制度\');"/></div>';
                        $('#guardianship_file_div').html(html);
                        $('#guardianship_file_btn').click(function () {
                            $('#guardianship_file').click();
                        });
                    }
                    if (data['职业病危害事故处置与报告制度']) {
                        var data10 = data['职业病危害事故处置与报告制度'];
                        var html = '<span>'
                            + '<a href="javascript:void(0);" id="accident_disposal_path" class="file-download hidden" title="' + data10.fileName + '"'
                            + ' filePath="' + data10.filePath + '">'
                            + data10.fileName + '</a>'
                            + '<button class="layui-icon layui-icon-delete" onclick="deletePrevention(\'职业病危害事故处置与报告制度\');"></button>'
                            + '</span>'
                            + '<span class="date-span">'
                            + util.toDateString((data10.gmtModified == null ? data10.gmtCreate : data10.gmtModified), 'yyyy-MM-dd')
                            + '</span>';
                        $('#accident_disposal_div').html(html);
                    } else {
                        var html = '<div id="accident_disposal_upload" class="upload">'
                            + '<button id="accident_disposal_btn" type="button" class="layui-btn">'
                            + '<i class="layui-icon layui-icon-upload"></i>上传文件</button>'
                            + '<input id="accident_disposal" type="file" style="display: none;" onchange="preventionUploadFile(this, \'职业病危害事故处置与报告制度\');"/></div>';
                        $('#accident_disposal_div').html(html);
                        $('#accident_disposal_btn').click(function () {
                            $('#accident_disposal').click();
                        });
                    }
                }
            });
        }
        // 上传文件到oss，并保存文件数据
        window.preventionUploadFile = function(dom, type, filePath) {
            // 如果没有定义，文件路径设为空
            if (typeof (filePath) == 'undefined') {
                filePath = '';
            }
            // 限制上传文件大小最大为20MB
            var fileSize = $(dom)[0].files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                dom.value = '';
                return;
            }
            // 获取上传的文件对象
            var formData = new FormData();
            formData.append('file', $(dom)[0].files[0]);
            formData.append('type', type);
            formData.append('filePath', filePath);
            // 加载层，阻止上传完成前的其他操作
            var loadingIndex = layer.load(2);
            $.ajax({
                url: 'prevention/uploadFile',
                type: 'post',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (result.status === "success") {
                        parent.layer.msg(result.message, {icon: 6});
                        requeryPrevention();
                    }
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }

        // 删除数据库记录，并删除oss服务器上的相应文件
        window.deletePreventionFile = function(filePath) {
            $.ajax({
                url: 'prevention/deleteFile',
                type: 'post',
                dataType: 'json',
                data: {filePath: filePath},
                success: function (result) {
                    if (result.status === "success") {
                        layer.msg(result.message, {icon: 6});
                        requeryPrevention();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            });
        }
    });
</script>