<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="provide-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseWorkplaceNotify?.id}" />
        <input id="workplaceWaitNotifyId" name="workplaceWaitNotifyId" type="hidden" th:value="${enterpriseWorkplaceNotify?.workplaceWaitNotifyId}" />
        <input id="workplaceId" name="workplaceId" type="hidden" th:value="${enterpriseWorkplaceNotify?.workplaceId}" />
        <input id="checkId" name="checkId" type="hidden" th:value="${enterpriseWorkplaceNotify?.checkId}" />
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseWorkplaceNotify?.enterpriseId}" />

        <input id="checkResultProve" name="checkResultProve" type="hidden" th:value="${enterpriseWorkplaceNotify?.checkResultProve}" />
        <input id="harmWarnImage" name="harmWarnImage" type="hidden" th:value="${enterpriseWorkplaceNotify?.harmWarnImage}" />
        <div class="layui-fluid">
            <div class="layui-form-item">
                <label class="layui-form-label xadmin-form-item-require" >作业场所：</label>
                <div class="layui-input-block">
                    <input id="workplaceName" name="post" type="text"  lay-verify="required|model"  readonly th:value="${enterpriseWorkplaceNotify?.workplaceName}" autocomplete="off"  class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label xadmin-form-item-require" >告知时间</label>
                <div class="layui-input-block">
                    <input type="text" id="notifyDate" name="notifyDate" placeholder="请选择发放时间" lay-verify="required|notifyDate"
                           th:value="${#dates.format(enterpriseWorkplaceNotify?.notifyDate,'yyyy-MM-dd')}" class="layui-input required">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label xadmin-form-item-require">检测结果公示证明：</label>
                <div class="layui-input-inline">
                    <input id="checkResultProveName" placeholder="文件名" readonly class="layui-input">
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                    <button id="checkResultProve_btn" type="button" class="layui-btn layui-btn-primary">
                        <i class="layui-icon layui-icon-upload"></i>上传文件
                    </button>
                    <input id="checkResultProve_file" type="file" style="display: none;"/>
                </div>
            </div>

            <div class="layui-form-item xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();
        laydate.render({
            elem: '#notifyDate',
            type: 'date'
        });
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#checkResultProve').val() != '') {
                $('#checkResultProveName').val($('#checkResultProve').val().substring($('#checkResultProve').val().lastIndexOf('/') + 1));
            }
            $('#checkResultProve_file').after('<button type="button" id="checkResultProve_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 年度计划文件上传
        $('#checkResultProve_btn').click(function (event) {
            $('#checkResultProve_file').click();
        });
        $('#checkResultProve_file').change(function (event) {
            if (this.files.length === 0) {
                $('#checkResultProveName').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#checkResultProveName').val(this.files[0].name);
        });
        // 下载上传文件
        $('#checkResultProve_download').click(function (event) {
            var filePath = $('#checkResultProve').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });

        form.on('submit(protect-add-form-submit)', function (data) {
            var checkResultProve = $("#checkResultProve_file").get(0).files;

            if (!$("#checkResultProve").val() && checkResultProve.length == 0) {
                layer.msg("检测结果公示证明未选择", {icon: 5});
                return false;
            }


            var formData = new FormData();
            formData.append("enterpriseWorkplaceNotifyCustoms", JSON.stringify(data.field));
            if (checkResultProve.length != 0) {
                formData.append("checkResultProve", checkResultProve[0]);
            }
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "workplaceNotify/workplaceAdd",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    if($('#id').val()!=''){
                        xadmin.alert.success('修改岗前告知成功');
                    }else
                        xadmin.alert.success('生成岗前告知成功');

                    $('#xadmin-workplaceNotify').find('#query').click();
                    $('#xadmin-workplaceNotify').find('#queryWaitworkplaceNotify').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

            return false;
        });


    });
</script>