<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="provide-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseWorkplaceNotify?.id}" />
        <div class="layui-fluid" style="padding: 20px 25px 25px 0;">
            <div class="layui-form-item">
                <label class="layui-form-label xadmin-form-item-require" >作业场所：</label>
                <div class="layui-input-block">
                    <input id="workplaceName" name="post" type="text"  lay-verify="required|model"  readonly th:value="${enterpriseWorkplaceNotify?.workplaceName}" autocomplete="off"  class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label xadmin-form-item-require" >告知时间</label>
                <div class="layui-input-block">
                    <input type="text" id="notifyDate" name="notifyDate" readonly placeholder="请选择发放时间"
                           th:value="${#dates.format(enterpriseWorkplaceNotify?.notifyDate,'yyyy-MM-dd')}" class="layui-input required">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label xadmin-form-item-require">检测结果公示证明：</label>
                <div class="layui-input-block">
                    <div id="notifyFile_file_name" class="layui-form-mid">
                         <a class="file-download" th:if="${enterpriseWorkplaceNotify?.checkResultProve}" th:attr="filePath = ${enterpriseWorkplaceNotify?.checkResultProve}" th:text="${enterpriseWorkplaceNotify?.checkResultProve.substring(enterpriseWorkplaceNotify?.checkResultProve.lastIndexOf('/') + 1)}"></a>
                   </div>

                </div>
            </div>
            <div class="layui-row xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();
    });
</script>