<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>职业健康智慧管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{layui/css/layui.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/xadmin.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{xadmin/css/login.css(t=2)}" media="all">
    <link rel="icon" th:href="@{xadmin/images/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<div id="xadmin-login" lay-title="登录">
    <div class="login_bg">
        <video style="width:100%;height: 100%;position: absolute; left: 0%; object-fit: fill;" loop="loop" autoplay="autoplay" muted="muted">
            <source src="https://ohms-video.oss-cn-shanghai.aliyuncs.com/My%20Movie%20720%20L.mp4" type="video/mp4">
        </video>
    </div>
    <div class="login-wrap">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-xs8 layui-col-lg8">
                    <div id="login-title">
                        <div id="login-title-image"></div>
                    </div>
                </div>
                <div class="layui-col-xs4 layui-col-lg4" id="login-div">
                    <div class="layui-form" lay-filter="login-form">
                        <div class="layui-anim layui-anim-upbit">
                            <ul class="login-type-tab">
                                <li class="active" style="color: #161a1e;font-family: 黑体;font-size:28px">后台管理</li>
                                <li class="active" style="display:list-item;color: #a1a3a7;font-family: Arial;font-size:12px"> Backend Login Point</li>
                            </ul>
                            <div class="normal-login-form">
                                <div class="layui-form-item">
                                    <label class="layui-icon label-icon layui-icon-username"></label>
                                    <input type="text" name="username" lay-verify="required" lay-reqText="用户名不能为空"
                                           placeholder="用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item password-block">
                                    <label class="layui-icon label-icon layui-icon-password"></label>
                                    <input type="password" name="password" lay-verify="required" lay-reqText="密码不能为空"
                                           placeholder="密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-row">
                                        <div class="layui-col-xs7">
                                            <label class="layui-icon label-icon layui-icon-vercode"></label>
                                            <input type="text" maxlength="4" name="verifyCode" lay-verify="required" lay-reqText="验证码不能为空"
                                                   placeholder="验证码" class="layui-input" autocomplete="off">
                                        </div>
                                        <div class="layui-col-xs5">
                                            <img class="codeimg" id="codeimg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="margin-top: -10px;">
                                    <input type="checkbox" name="rememberMe" title="记住我" lay-skin="primary">
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit
                                            lay-filter="login-submit" id="login">
                                        <i style="display: none"
                                           class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                                        立即登录
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--<div id="login-div">
                <div class="layui-form" lay-filter="login-form">
                    <div class="layui-anim layui-anim-upbit">
                        <ul class="login-type-tab">
                            <li class="active">系统登录</li>
                        </ul>
                        <div class="normal-login-form">
                            <div class="layui-form-item">
                                <label class="layui-icon label-icon layui-icon-username"></label>
                                <input type="text" name="username" lay-verify="required" lay-reqText="用户名不能为空"
                                       placeholder="用户名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item password-block">
                                <label class="layui-icon label-icon layui-icon-password"></label>
                                <input type="password" name="password" lay-verify="required" lay-reqText="密码不能为空"
                                       placeholder="密码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-row">
                                    <div class="layui-col-xs7">
                                        <label class="layui-icon label-icon layui-icon-vercode"></label>
                                        <input type="text" maxlength="4" name="verifyCode" lay-verify="required" lay-reqText="验证码不能为空"
                                               placeholder="验证码" class="layui-input" autocomplete="off">
                                    </div>
                                    <div class="layui-col-xs5">
                                        <img class="codeimg" id="codeimg"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" style="margin-top: -10px;">
                                <input type="checkbox" name="rememberMe" title="记住我" lay-skin="primary">
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit
                                        lay-filter="login-submit" id="login">
                                    <i style="display: none"
                                       class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                                    立即登录
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="login-title">
                <div id="login-title-image"></div>
            </div>-->

          <!--  <div class="layui-row">
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4 xadmin-tc">
                    <div class="layui-logo"><span><b>职业健康智慧管理系统</b></span></div>
                </div>
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4" id="login-div">
                    <div class="layui-form" lay-filter="login-form">
                        <div class="layui-anim layui-anim-upbit">
                            <ul class="login-type-tab">
                                <li class="active">系统登录</li>
                            </ul>
                            <div class="normal-login-form">
                                <div class="layui-form-item">
                                    <label class="layui-icon label-icon layui-icon-username"></label>
                                    <input type="text" name="username" lay-verify="required" lay-reqText="用户名不能为空"
                                           placeholder="用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item password-block">
                                    <label class="layui-icon label-icon layui-icon-password"></label>
                                    <input type="password" name="password" lay-verify="required" lay-reqText="密码不能为空"
                                           placeholder="密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-row">
                                        <div class="layui-col-xs7">
                                            <label class="layui-icon label-icon layui-icon-vercode"></label>
                                            <input type="text" maxlength="4" name="verifyCode" lay-verify="required" lay-reqText="验证码不能为空"
                                                   placeholder="验证码" class="layui-input" autocomplete="off">
                                        </div>
                                        <div class="layui-col-xs5">
                                            <img class="codeimg" id="codeimg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="margin-top: -10px;">
                                    <input type="checkbox" name="rememberMe" title="记住我" lay-skin="primary">
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit
                                            lay-filter="login-submit" id="login">
                                        <i style="display: none"
                                           class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                                        立即登录
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>-->
        </div>
    </div>
    <div class="footer">
       <div style="margin-right:50px;color:#4c4d4d;text-align: right;font-family: 宋体;font-weight: bold;">
           <p style="height: 20px;">@2019 All Rights</p>
           <p style="margin-right:20px">南京海诗丹</p>
       </div>

    </div>
</div>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]];

        layui.extend({
            validate: './xadmin/lay/modules/validate'
        }).use(['form', 'layer', 'validate'], function (form, layer) {
            var $ = layui.jquery,
                validate = layui.validate,
                $view = $('#xadmin-login'),
                type = 'login',
                $loginDiv = $view.find('#login-div');

            form.verify(validate);
            form.render();
            initCode();

            //提交登录表单
            form.on('submit(login-submit)', function (data) {
                var loading = $(this).find('.layui-icon');
                if (loading.is(":visible")) return;
                loading.show();
                $.post(ctx + 'login', data.field, function (r) {
                    if (r.status === 200) {
                        location.href = ctx + 'index';
                    } else {
                        layer.msg(r.message);
                        loading.hide();
                        initCode();
                    }
                });
                return false;
            });
            function initCode() {
                $view.find('#codeimg').attr("src", ctx + "images/captcha?data=" + new Date().getTime());
            }

            $view.find('#codeimg').on('click', function () {
                initCode();
            });

            $view.find('#regist-href').on('click', function () {
                resetForm();
                type = 'regist';
                $loginDiv.hide();
                $registDiv.show();
            });

            $view.find('#login-href').on('click', function () {
                resetForm();
                type = 'login';
                $loginDiv.show();
                $registDiv.hide();
            });

            function resetForm() {
                $registDiv.find('input[name="username"]').val('')
                    .end().find('input[name="password"]').val('')
                    .end().find('input[name="passwordB"]').val('');

                $loginDiv.find('input[name="username"]').val('')
                    .end().find('input[name="password"]').val('')
                    .end().find('input[name="verifyCode"]').val('');
            }

            $(document).on('keydown', function (e) {
                if (e.keyCode === 13) {
                    if (type === 'login')
                        $view.find('#login').trigger("click");
                    if (type === 'regist')
                        $view.find('#regist').trigger("click");
                }
            });
        });
</script>
</body>
</html>