<style>
    #edit-declare {
        padding: 20px 25px 25px 0;
    }
    #edit-declare .layui-form-label {
        width: 95px;
    }
    #edit-declare .layui-input-block {
        margin-left: 125px;
    }
</style>
<div class="layui-fluid" id="edit-declare">
    <form id="declare_form" class="layui-form" action="" lay-filter="declare-form">
        <input id="declare_id" name="id" type="hidden" th:value="${enterpriseDeclare?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseDeclare?.enterpriseId}">
        <input id="declare" name="declareAttachment" type="hidden" th:value="${enterpriseDeclare?.declareAttachment}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">申报日期：</label>
            <div class="layui-input-block">
                <input type="text" id="declareDate" name="declareDate" placeholder="请选择申报日期" lay-verify="required"
                       th:value="${#dates.format(enterpriseDeclare?.declareDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">申报类型：</label>
            <div class="layui-input-block">
                <select id="declareType" name="declareType" lay-verify="required">
                    <option value="" selected>请选择申报类型</option>
                    <option value="初次申报" th:selected="${'初次申报' == enterpriseDeclare?.declareType}">初次申报</option>
                    <option value="变更申报" th:selected="${'变更申报' == enterpriseDeclare?.declareType}">变更申报</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">申报扫描件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="declare_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="declare_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="declare"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#declareDate',
            type: 'date'
        });
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#declare_id').val()) {
            // 文件名
            if ($('#declare').val() != '') {
                $('#filePath').val($('#declare').val().substring($('#declare').val().lastIndexOf('/') + 1));
            }
            $('#declare_file').after('<button type="button" id="declare_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 申报扫描件上传
        $('#declare_btn').click(function (event) {
            $('#declare_file').click();
        });
        $('#declare_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(declare)', function(data) {
            var enterpriseDeclare = {};
            $.each($("#declare_form input[name],select[name]"), function (index, element) {
                enterpriseDeclare[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseDeclare) {
                var declareFiles = $("#declare_file")[0].files;
                if (!$("#declare").val() && declareFiles.length == 0) {
                    layer.msg("申报扫描件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                enterpriseDeclare.buildDate = new Date(enterpriseDeclare.buildDate);
                formData.append("enterpriseDeclareJSON", JSON.stringify(enterpriseDeclare));
                if (declareFiles.length != 0) {
                    formData.append("declareFile", declareFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'declare/editDeclare/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryDeclare();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#declare_download').click(function (event) {
            var filePath = $('#declare').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>