<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-declare" lay-title="危害申报">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                    <div class="layui-input-inline" style="float: none;">
                                        申报率：<span id="declareRate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="declare_table" lay-filter="declare_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .file-download{
        cursor: pointer;
    }
</style>
<!-- 危害申报table行查看、编辑、删除 -->
<script type="text/html" id="declare_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-declare'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 危害申报table
        var declareTable = table.render({
            elem: '#declare_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'declareDate',
                        title: '申报日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            // 统一时间格式
                            if (d.declareDate) {
                                return util.toDateString(d.declareDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'declareType',
                        title: '申报类型',
                        align: 'center',
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: 'declareAttachment',
                        title: '申报附件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.declareAttachment) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.declareAttachment + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '申报涉及的场所和危害因素',
                        align: 'center',
                        minWidth: 200,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='declareWorkplace(" + data.id + ")'>"
                                + (data.declareWorkplaceNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '申报回执',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return data.receiptDate ? "<a href='javascript:void(0);' onclick='editDeclareReceipt(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-xs\">编辑回执</span></a>"
                                : "<a href='javascript:void(0);' onclick='addDeclareReceipt(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺失回执</span></a>";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#declare_bar',
                        width: 120
                    }
                ]
            ],
            url: 'declare/listDeclares',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                var totalNum = result.data.declareData.total_num;
                if (totalNum) {
                    var declareNum = result.data.declareData.declare_num;
                    var declareRate = declareNum / totalNum * 100;
                    $("#declareRate").html(parseInt(declareRate) + "%");
                } else {
                    $("#declareRate").html("0%");
                }
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseDeclareCustoms
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 危害申报table排序
        table.on('sort(declare_table)', function (obj) {
            requeryDeclare(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('declare_table');
                if (name === 'add') {
                    xadmin.modal.open("新增危害申报","declare/editDeclare",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-declare').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-declare').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的危害申报');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'declare/deleteDeclares',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryDeclare();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增危害申报'
            }, {
                name: 'delete',
                title: '删除危害申报'
            }]
        });
        // 监听作业场所table行事件（查看、编辑、删除）
        table.on('tool(declare_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看危害申报信息',
                    content: 'declare/viewDeclare?id=' + data.id,
                    area: ['600px', '300px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑危害申报","declare/editDeclare/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-declare').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该危害申报吗？', function(index) {
                    $.ajax({
                        url: 'declare/deleteDeclare',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            declareAttachment: data.declareAttachment,
                            receiptAttachment: data.receiptAttachment
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryDeclare();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryDeclare = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            declareTable.reload(options);
        }
        $query.on('click', function() {
            requeryDeclare();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryDeclare();
        });
        // 申报涉及的场所和危害因素
        window.declareWorkplace = function(declareId) {
            xadmin.modal.open("涉及的场所和危害因素","declare/declareWorkplace/" + declareId,{
                area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
            });
        }
        // 上传申报回执
       window.addDeclareReceipt = function(id) {
           xadmin.modal.open("上传申报回执","declare/receipt/" + id,{
               btn: ['提交', '重置'],
               area: $(window).width() <= 750 ? '95%' : '50%',
               yes: function (index, layero) {
                   $('#edit-declare-receipt').find('#submit').trigger('click');
                   return false;
               },
               btn2: function () {
                   $('#edit-declare-receipt').find('#reset').trigger('click');
                   return false;
               }
           });
       }
        // 编辑申报回执
        window.editDeclareReceipt = function(id) {
            xadmin.modal.open("编辑申报回执","declare/receipt/" + id,{
                btn: ['提交', '取消'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-declare-receipt').find('#submit').trigger('click');
                    return false;
                }
            });
        }
    });
</script>