<style>
    #edit-declare-receipt {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-declare-receipt">
    <form id="declare_form" class="layui-form" action="" lay-filter="declare_form">
        <input id="declare_id" name="id" type="hidden" th:value="${enterpriseDeclare?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseDeclare?.enterpriseId}">
        <input id="receipt" name="receiptAttachment" type="hidden" th:value="${enterpriseDeclare?.receiptAttachment}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">回执日期：</label>
            <div class="layui-input-block">
                <input type="text" id="receiptDate" name="receiptDate" placeholder="请选择回执日期" lay-verify="required"
                       th:value="${#dates.format(enterpriseDeclare?.receiptDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">回执文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="receipt_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="receipt_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="declare-receipt"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'laydate', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form;
        // 日期组件
        laydate.render({
            elem: '#receiptDate',
            type: 'date'
        });
        form.render();
        // 如果是编辑，显示下载文件按钮
        if ($('#receipt').val()) {
            // 文件名
            $('#filePath').val($('#receipt').val().substring($('#receipt').val().lastIndexOf('/') + 1));
            $('#receipt_file').after('<button type="button" id="declare_receipt_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 回执文件上传
        $('#receipt_btn').click(function (event) {
            $('#receipt_file').click();
        });
        $('#receipt_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(declare-receipt)', function(data) {
            var enterpriseDeclare = {};
            $.each($("#declare_form input[name],select[name]"), function (index, element) {
                enterpriseDeclare[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseDeclare) {
                var receiptFiles = $("#receipt_file")[0].files;
                if (!$("#receipt").val() && receiptFiles.length == 0) {
                    layer.msg("回执文件未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                enterpriseDeclare.buildDate = new Date(enterpriseDeclare.buildDate);
                formData.append("enterpriseDeclareJSON", JSON.stringify(enterpriseDeclare));
                if (receiptFiles.length != 0) {
                    formData.append("receiptFile", receiptFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'declare/editDeclare/saveReceipt',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryDeclare();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#declare_receipt_download').click(function (event) {
            var filePath = $('#receipt').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>