<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看作业场所危害申报信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">

    <style type="text/css">
        .layui-form-label{
            width: 140px;
        }
        .layui-form-item .layui-input-inline{
            width: 350px;
        }
        .file-download{
            cursor: pointer;
        }
    </style>

</head>
<body>
    <form id="declare_form" class="layui-form" style="padding-top: 20px;" lay-filter="declare_form">
        <div class="layui-fluid">
            <div class="layui-form-item">
                <label class="layui-form-label">申报日期：</label>
                <div class="layui-input-inline">
                    <input type="text" id="declareDate" readonly
                           th:value="${#dates.format(enterpriseDeclare?.declareDate,'yyyy-MM-dd')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">申报类型：</label>
                <div class="layui-input-inline">
                    <input type="text" id="declareType" readonly th:value="${enterpriseDeclare?.declareType}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">申报扫描件：</label>
                <div class="layui-input-inline">
                    <div id="declare_name" class="layui-form-mid">
                        <a class="file-download" th:if="${enterpriseDeclare?.declareAttachment}"
                           th:attr="filePath = ${enterpriseDeclare?.declareAttachment}"
                           th:text="${enterpriseDeclare?.declareAttachment.substring(enterpriseDeclare?.declareAttachment.lastIndexOf('/') + 1)}"></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/plugins/layui/layui.js"></script>
    <script>
        layui.use(['jquery', 'layer'], function() {
            var $ = layui.$;
            var layer = layui.layer;
        });
    </script>
</body>
</html>