<style>
    #diseaseDiagnosi-add {
        padding: 20px 25px 25px 0;
    }
    #diseaseDiagnosi-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #diseaseDiagnosi-add {
        padding: 20px 25px 25px 0;
    }
    #diseaseDiagnosi-add .layui-form-label {
        width: 120px;
    }
    #diseaseDiagnosi-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="diseaseDiagnosi-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseDiseaseDiagnosi?.id}" />


        <div class="layui-fluid">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >员工：</label>
                    <div class="layui-input-block">
                        <input id="employeeName" name="post" type="text"  lay-verify="required|model"  readonly th:value="${enterpriseDiseaseDiagnosi?.employeeName}" autocomplete="off"  class="layui-input"/>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >告知时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="notifyDate" name="notifyDate" readonly placeholder="请选择发放时间"
                               th:value="${#dates.format(enterpriseDiseaseDiagnosi?.notifyDate,'yyyy-MM-dd')}" class="layui-input required">
                    </div>
                </div>
            </div>


            <div class="layui-row layui-col-space10 layui-form-text">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require">告知书：</label>
                    <div class="layui-input-block">
                        <div id="notifyFile_file_name" class="layui-form-mid">
                             <a class="file-download" th:if="${enterpriseDiseaseDiagnosi?.notifyFile}" th:attr="filePath = ${enterpriseDiseaseDiagnosi?.notifyFile}" th:text="${enterpriseDiseaseDiagnosi?.notifyFile.substring(enterpriseDiseaseDiagnosi?.notifyFile.lastIndexOf('/') + 1)}"></a>
                       </div>
                    </div>
                    </div>
            </div>
            <div class="layui-row layui-col-space10 xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();
    });
</script>