<style>

    #xadmin-admin-employeeArchives .layui-form-label {
        width: 120px;
    }

    #xadmin-admin-employeeArchives .layui-input-block {
        margin-left: 150px;
    }

    #xadmin-admin-employeeArchives .layui-form-label-me {
        float: left;
        display: block;
        width: 120px;
        padding: 9px 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    #xadmin-admin-employeeArchives .layui-col-space15 {
        margin: 0px;
    }

    #xadmin-admin-employeeArchives .reset {
        float: right;
    }
</style>


<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-employeeArchives" th:attr="lay-title=${titleName}">
    <form id="enterprise_employee_form" class="layui-form" lay-filter="enterprise_employee_form">
        <input id="enterprise_employee_id" type="hidden" th:value="${enterpriseEmployee?.id}"/>
        <input id="enterprise_employee_name" type="hidden" th:value="${enterpriseEmployee?.name}"/>
        <div class="layui-row xadmin-container">
            <div class="layui-col-md12">

                <div class="layui-card">
                    <div class="layui-card-body xadmin-table-full">
                        <div class="layui-tab  layui-tab-brief" lay-filter="medical_type_tab">
                            <ul class="layui-tab-title">
                                <li class="layui-this">劳动者个人信息卡</li>
                                <li>工作场所职业病危害因素检测结果</li>
                                <li>历次职业健康检查结果及处理情况</li>
                                <li>培训记录表</li>
                                <li>防护用品发放表</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div class="layui-fluid">
                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12">
                                                <div class="layui-row ">
                                                    <div class="layui-col-md12">
                                                        <div class="layui-card">

                                                            <div class="layui-row ">
                                                                <div class="layui-col-xs8">
                                                                    <div class="layui-row layui-col-space10">
                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">电子档案号：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.electronArchiveNumber}"></label>
                                                                            </div>

                                                                        </div>
                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">建档时间：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${#dates.format(enterpriseEmployee?.buildTime, 'yyyy-MM-dd')}"></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">姓名：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.name}"></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">性别：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.sex == 0 ? '男' : '女'}"></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">籍贯：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.nativePlace}"></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">婚姻：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.isMarried == 0 ? '未婚' : '已婚'}"></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">文化程度：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.educationDegree}"></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">嗜好：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.hobby}"></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">参加工作时间：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${#dates.format(enterpriseEmployee?.attendWorkTime, 'yyyy-MM-dd')}"></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-xs6">
                                                                            <label class="layui-form-label">原档案号：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.archiveNumber}"></label>
                                                                            </div>

                                                                        </div>

                                                                        <div class="layui-col-xs12">
                                                                            <label class="layui-form-label">身份证号：</label>
                                                                            <div class="layui-input-block">
                                                                                <label class="layui-form-label-me"
                                                                                       th:text="${enterpriseEmployee?.idCard}"></label>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                                <div class="layui-col-xs4">
                                                                    <img th:if=" ${enterpriseEmployee?.photo != null &amp;&amp; enterpriseEmployee?.photo != ''}"
                                                                         style="max-width: 200px;" th:src="${'/downloadFile?filePath=' + enterpriseEmployee?.photo}" />
                                                                    <img th:if=" ${enterpriseEmployee?.photo == null || enterpriseEmployee?.photo == ''}"
                                                                         style="max-width: 200px;" src="/xadmin/images/dsc.png"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12">
                                                <div class="layui-row ">
                                                    <div class="layui-col-md12">
                                                        <div class="layui-card" id="harm_contact_history_card">
                                                            <div class="layui-card-header">
                                                                职业史及职业病危害接触史
                                                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                                                    <i class="layui-icon">&#xe79b;</i>
                                                                </div>
                                                            </div>
                                                            <div class="layui-card-body">
                                                                <table id="harm_contact_history_table_gr"
                                                                       lay-filter="harm_contact_history_table_gr"></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12">
                                                <div class="layui-row ">
                                                    <div class="layui-col-md12">
                                                        <div class="layui-card" id="medical_history_card">
                                                            <div class="layui-card-header">
                                                                职业病史
                                                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                                                    <i class="layui-icon">&#xe79b;</i>
                                                                </div>
                                                            </div>
                                                            <div class="layui-card-body">
                                                                <table id="medical_history_table_gr"
                                                                       lay-filter="medical_history_table_gr"></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12">
                                                <div class="layui-row ">
                                                    <div class="layui-col-md12">
                                                        <div class="layui-card" id="medical_history_card2">
                                                            <div class="layui-card-header">
                                                                职业禁忌症史
                                                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                                                    <i class="layui-icon">&#xe79b;</i>
                                                                </div>
                                                            </div>
                                                            <div class="layui-card-body">
                                                                <table id="medical_history_table_gr2"
                                                                       lay-filter="medical_history_table_gr2"></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12">
                                                <div class="layui-row ">
                                                    <div class="layui-col-md12">
                                                        <div class="layui-card" id="employee_disease_diagnosi_card">
                                                            <div class="layui-card-header">
                                                                职业病诊断
                                                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                                                    <i class="layui-icon">&#xe79b;</i>
                                                                </div>
                                                            </div>
                                                            <div class="layui-card-body">
                                                                <table id="employee_disease_diagnosi_table"
                                                                       lay-filter="employee_disease_diagnosi_table"></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="layui-tab-item" id="employeeOutsideCheckResult_tab">
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action t-reset">
                                        <i class="layui-icon">&#xe79b;</i>
                                    </div>
                                    <table id="employeeOutsideCheckResult_table"
                                           lay-filter="employeeOutsideCheckResult_table"></table>
                                </div>
                                <div class="layui-tab-item" id="employeeMedical_tab">
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action t-reset">
                                        <i class="layui-icon">&#xe79b;</i>
                                    </div>
                                    <table id="employeeMedical_table" lay-filter="employeeMedical_table"></table>
                                </div>
                                <div class="layui-tab-item" id="employeeTraing_tab">
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action t-reset">
                                        <i class="layui-icon">&#xe79b;</i>
                                    </div>
                                    <table id="employeeTraing_table" lay-filter="employeeTraing_table"></table>
                                </div>
                                <div class="layui-tab-item" id="employeeProvideProtect_tab">
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action t-reset">
                                        <i class="layui-icon">&#xe79b;</i>
                                    </div>
                                    <table id="employeeProvideProtect_table"
                                           lay-filter="employeeProvideProtect_table"></table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "element", "layer", "xadmin", "util", "table", "common"], function () {
        let $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            element = layui.element,
            table = layui.table,
            xadmin = layui.xadmin,
            util = layui.util,
            common = layui.common;
        element.render("collapse");


        let harmContactHistoryTable = xadmin.table.init({
            elem: "#harm_contact_history_table_gr",
            cols: [

                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        title: "起止时间",
                        align: "center",
                        width: 200,
                        templet: function (data) {
                            if (data.status == 1) {
                                return util.toDateString(data.starttime2, "yyyy-MM-dd") + "—" + (data.endtime2 ? util.toDateString(data.endtime2, "yyyy-MM-dd") : "至今");
                            } else {
                                return util.toDateString(data.starttime, "yyyy-MM-dd") + "—" + (data.endtime ? util.toDateString(data.endtime, "yyyy-MM-dd") : "至今");
                            }

                        }
                    },
                    {
                        field: "enterpriseName",
                        title: "工作单位",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function (data) {
                            if (data.status == 1) {
                                return data.enterpriseName2 == null ? "" : data.enterpriseName2;

                            } else {
                                return data.enterpriseName == null ? "" : data.enterpriseName;
                            }

                        }
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function (data) {
                            if (data.status == 1) {
                                return data.postName2 == null ? "" : data.postName2;
                            } else {
                                return data.postName == null ? "" : data.postName;
                            }

                        }
                    },
                    {
                        field: "harmFactorName",
                        title: "接触职业病危害因素",
                        align: "center",
                        sort: true,
                        minWidth: 140,
                        templet: function (data) {
                            if (data.status == 1) {
                                return data.harmFactorName2 == null || data.harmFactorName2 == 'null' ? "" : data.harmFactorName2;
                            } else {
                                return data.harmFactorName == null || data.harmFactorName == 'null' ? "" : data.harmFactorName;
                            }

                        }
                    },
                    {
                        field: "protectArticlesName",
                        title: "防护用品",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function (data) {
                            if (data.status == 1) {
                                return data.protectArticlesName2 == null || data.protectArticlesName2 == 'null' ? "" : data.protectArticlesName2;
                            } else {
                                return data.protectArticlesName == null || data.protectArticlesName == 'null' ? "" : data.protectArticlesName;
                            }

                        }
                    },
                    {
                        field: "protectiveMeasuresName",
                        title: "防护设施",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function (data) {
                            if (data.status == 1) {
                                return data.protectiveMeasuresName2 == null || data.protectiveMeasuresName2 == 'null' ? "" : data.protectiveMeasuresName2;
                            } else {
                                return data.protectiveMeasuresName == null || data.protectiveMeasuresName == 'null' ? "" : data.protectiveMeasuresName;
                            }

                        }
                    }
                ]
            ],
            url: "employee/harmContactHistory/getList",
            method: "post",
            where: {
                employeeId: $("#enterprise_employee_id").val()
            },
            autoSort: false,
            page: false
        });
        // 刷新
        $("#harm_contact_history_card .reset").click(function (event) {
            harmContactHistoryTable.reload();
        });

        let medicalHistoryTable = table.render({
            elem: "#medical_history_table_gr",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "diseaseName",
                        title: "疾病名称",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "diagnosiDate",
                        title: "诊断时间",
                        align: "center",
                        sort: true,
                        width: 120,
                        templet: function (data) {
                            if (data.diagnosiDate) {
                                return util.toDateString(data.diagnosiDate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "diagnosiHosipital",
                        title: "诊断医院",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },

                    {
                        field: "remark",
                        title: "备注",
                        align: "center",
                        minWidth: 100
                    }
                ]
            ],
            url: "employee/medicalHistory/getList",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val(),
                diseaseType: 0
            },
            autoSort: false
        });
        // 刷新
        $("#medical_history_card .reset").click(function (event) {
            medicalHistoryTable.reload();
        });

        let medicalHistoryTable2 = table.render({
            elem: "#medical_history_table_gr2",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "diseaseName",
                        title: "疾病名称",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "diagnosiDate",
                        title: "诊断时间",
                        align: "center",
                        sort: true,
                        width: 120,
                        templet: function (data) {
                            if (data.diagnosiDate) {
                                return util.toDateString(data.diagnosiDate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "diagnosiHosipital",
                        title: "诊断医院",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },

                    {
                        field: "remark",
                        title: "备注",
                        align: "center",
                        minWidth: 100
                    }
                ]
            ],
            url: "employee/medicalHistory/getList",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val(),
                diseaseType: 1
            },
            autoSort: false
        });
        // 刷新
        $("#medical_history_card2 .reset").click(function (event) {
            medicalHistoryTable2.reload();
        });

        let diseaseDiagnosiTable = table.render({
            elem: "#employee_disease_diagnosi_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "isCertain",
                        title: "是否确诊职业病",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function (data) {
                            if (data.isCertain==1) {
                                return "是";
                            }else{
                                return "否";
                            }

                        }
                    },
                    {
                        field: "isTransferred",
                        title: "是否调离",
                        align: "center",
                        sort: true,
                        minWidth: 100,
                        templet: function (data) {
                            if (data.isTransferred==1) {
                                return "是";
                            }else{
                                return "否";
                            }

                        }
                    },
                    {
                        field: "diagnosiDate",
                        title: "诊断时间",
                        align: "center",
                        sort: true,
                        width: 120,
                        templet: function (data) {
                            if (data.diagnosiDate) {
                                return util.toDateString(data.diagnosiDate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "hospital",
                        title: "诊断医院",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "diagnosiLevel",
                        title: "诊断级别",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "remark",
                        title: "备注",
                        align: "center",
                        minWidth: 100
                    }
                ]
            ],
            url: "employee/listEmployeeArchivesServiceByEmployeeId",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.employeeDiseaseDiagnosiList
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val()
            },
            autoSort: false
        });
        // 刷新
        $("#employee_disease_diagnosi_card .reset").click(function (event) {
            diseaseDiagnosiTable.reload();
        });

        let employeeMedicalTable = table.render({
            elem: "#employeeMedical_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "medicalDate",
                        title: "检查日期",
                        align: "center",
                        sort: true,
                        width: 120,
                        templet: function (data) {
                            if (data.medicalDate) {
                                return util.toDateString(data.medicalDate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "type",
                        title: "检查种类",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "result",
                        title: "检查结论",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "institutionName",
                        title: "检查机构",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "personnelHandling",
                        title: "人员处理情况",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "medicalNotifyNum",
                        title: "本人签字",
                        align: "center",
                        minWidth: 100
                        , templet: function (data) {
                            if (data.medicalNotifyNum > 0) {
                                return "已签"
                            } else {
                                return "未签";
                            }

                        }
                    },
                    {
                        field: "sceneHanding",
                        title: "现场处理情况",
                        align: "center",
                        minWidth: 100
                    }
                ]
            ],
            url: "employee/listMedicalByEmployeeId",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.employeeMedicalCustomlist
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val()
            },
            autoSort: false
        });
        // 刷新
        $("#employeeMedical_tab .t-reset").click(function (event) {
            employeeMedicalTable.reload();
        });

        let employeeOutsideCheckResultTable = table.render({
            elem: "#employeeOutsideCheckResult_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "checkDate",
                        title: "检测时间",
                        align: "center",
                        sort: true,
                        width: 120,
                        templet: function (data) {
                            if (data.checkDate) {
                                return util.toDateString(data.checkDate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "checkOrganization",
                        title: "检测机构",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素名称",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "isQualified",
                        title: "检测结果",
                        align: "center",
                        minWidth: 100
                    },
                    {
                        field: "protectArticlesName",
                        title: "防护措施",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            var returnStr = "";
                            if (data.protectArticlesName) {
                                returnStr += "防护用品：" + data.protectArticlesName;
                            }
                            if (data.protectiveMeasuresName) {
                                if(returnStr!=""){
                                    returnStr+=";";
                                }
                                returnStr += "防护设施：" + data.protectiveMeasuresName;
                            }
                            return returnStr;
                        }
                    }
                ]
            ],
            url: "employee/listWorkplaceOutsideCheckByEmployeeId",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseOutsideCheckResultAllCustomList
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val()
            },
            autoSort: false
        });
        // 刷新
        $("#employeeOutsideCheckResult_tab .t-reset").click(function (event) {
            employeeOutsideCheckResultTable.reload();
        });

        let employeeTraingTable = table.render({
            elem: "#employeeTraing_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'trainingDate',
                        title: '培训时间',
                        align: 'center',
                        sort: true,
                        width: 120,
                        templet: function (d) {
                            if (d.trainingDate) {
                                return util.toDateString(d.trainingDate, "yyyy-MM-dd");
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'duration',
                        title: '培训时长(h)',
                        align: 'center',
                        sort: true,
                        width: 140
                    },
                    {
                        field: 'place',
                        title: '培训地点',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'theme',
                        title: '培训主题',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'lecturer',
                        title: '讲授人',
                        align: 'center',
                        sort: true,
                        width: 100
                    }
                ]
            ],
            url: "employee/listTrainings",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseTrainings
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val()
            },
            autoSort: false
        });
        // 刷新
        $("#employeeTraing_tab .t-reset").click(function (event) {
            employeeTraingTable.reload();
        });

        let employeeProvideProtectTable = table.render({
            elem: "#employeeProvideProtect_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "provideDate",
                        title: "发放时间",
                        align: "center",
                        sort: true,
                        width: 120,
                        templet: function (data) {
                            if (data.provideDate) {
                                return util.toDateString(data.provideDate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "provideArticlesName",
                        title: "防护用品名称",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "number",
                        title: "数量",
                        align: "center",
                        minWidth: 100
                    }
                ]
            ],
            url: "employee/getEmployeeProvideProtectList",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.rows
                };
            },
            where: {
                employeeId: $("#enterprise_employee_id").val()
            },
            autoSort: false
        });
        // 刷新
        $("#employeeProvideProtect_tab .t-reset").click(function (event) {
            employeeProvideProtectTable.reload();
        });

        window.downloadEmployeeArchives = function (id) {
            layer.confirm('确定要下载该打包文件吗？', function (index) {
                var url = '/employee/download?id=' + id;
                window.open(url, "_blank");
                layer.close(index);
            });
        }
    });
</script>
