<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-employee" lay-title="员工信息">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full" id="employee-list">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="employee_tableAccount" lay-filter="employee_tableAccount"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="empoyee_table_bar">
    {{#  if(d.ondutyId == null||d.ondutyId == ''){ }}
    <a href='javascript:void(0);' ><span class="layui-btn layui-btn-primary layui-btn-xs" lay-event="up">上岗</span></a>
    {{#  } else{ }}
    <a href='javascript:void(0);' ><span class="layui-btn layui-btn-primary layui-btn-xs" lay-event="down">离岗</span></a>
    {{#  } }}
    <a href='javascript:void(0);' ><span class="layui-btn layui-btn-primary layui-btn-xs" lay-event="history">上岗历史</span></a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>

<script th:inline="javascript">
    layui.use(["jquery", "form", "table", "layer","xadmin", 'util', "common", "dropdown"], function () {
        let $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin,
            util = layui.util,
            common = layui.common,
            dropdown = layui.dropdown;
        requeryEmployee = function(sort){
            var options = {
                where: {
                    keyword: $("#employee-list .keyword").val().trim(),
                },
                page: {curr: 1}
            }

            if (sort) {
                // options.initSort = sort;
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            employeeTable.reload(options);
        }

        editEmployee = function(id) {
            common.layerOpen(
                "employee/edit",
                {
                    id: id
                },
                {
                    title: "编辑人员",
                    area : $(window).width() <= 750 ? '95%' : '50%',
                    btn: ["提交", '取消'],
                    yes: function(index, layero) {
                        $("#employee-submit").click();
                        return false;
                    },
                    btn2: function(index, layero) {
                        layer.closeAll();
                    }
                }
            );
        }

        viewEmployee = function(id) {
            common.layerOpen(
                "employee/view",
                {
                    id: id
                },
                {
                    title: "查看人员",
                    area : ["800px", "580px"]
                }
            );
        }

        removeEmployee = function() {
            var checkStatus = table.checkStatus("employee_tableAccount");
            if (checkStatus.data.length == 0) {
                layer.msg("请选择需要删除的数据", {icon: 5});
                return;
            }
            var flag = true;
            var ids = [];
            layui.each(checkStatus.data, function (key, item) {
                if (item.employeeTrainingNum != 0) {
                    xadmin.alert.warn('有员工已被培训记录添加，不能删除');
                    flag = false;
                    return true;
                }
                ids.push(item.id);
            });
            if (flag) {
                deleteEmployee(ids);
            }
        }

        deleteEmployee = function(ids) {
            layer.confirm("确定删除人员吗？", {title: ""}, function (index) {
                $.ajax({
                    url: "employee/delete",
                    type: "post",
                    dataType: "json",
                    data: {"idsJSON": JSON.stringify(ids)},
                    success: function (result) {
                        if (result.status === 200){
                            layer.msg("删除人员成功", {icon: 6});
                            requeryEmployee();
                        }else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }

        harmContactHistory = function(employeeId) {
            common.layerOpen(
                "employee/harmContactHistory",
                {
                    employeeId: employeeId
                },
                {
                    title: "职业病危害接触史",
                    area : ["900px", "580px"]
                }
            );

        }

        medicalHistory = function(employeeId, diseaseType) {
            common.layerOpen(
                "employee/medicalHistory",
                {
                    employeeId: employeeId,
                    diseaseType: diseaseType
                },
                {
                    title: "职业" + (diseaseType == 0 ? "病" : "禁忌症") + "史",
                    area : ["900px", "580px"]
                }
            );

        }

        postHistory = function(employeeId) {
            common.layerOpen(
                "employee/postHistory",
                {
                    employeeId: employeeId
                },
                {
                    title: "历史岗位",
                    area : ["900px", "580px"]
                }
            );
        }

        takeUpPost = function(id, flag) {
            common.layerOpen(
                "employee/takeUpPost",
                {
                    id: id,
                    flag: flag
                },
                {
                    title: (flag ? "上" : "离") + "岗",
                    area : ["600px", "250px"],
                    btn: ["提交", '取消'],
                    yes: function(index, layero) {
                        $("#take-up-submit").click();
                        return false;
                    },
                    btn2: function(index, layero) {
                        layer.closeAll();
                    }
                }
            );
        }

        let employeeTable = table.render({
            elem: "#employee_tableAccount",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "electronArchiveNumber",
                        title: "电子档案号",
                        align: "center",
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: "name",
                        title: "姓名",
                        align: "center",
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: "workDate",
                        title: "上岗时间",
                        align: "center",
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.workDate) {
                                return util.toDateString(d.workDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }},
                    {
                        title: "职业病危害接触史",
                        align: "center",
                        minWidth: 160,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='harmContactHistory(" + data.id + ")'><span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>"
                        }
                    },
                    {
                        title: "职业病史",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='medicalHistory(" + data.id + ", 0)'><span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>"
                        }
                    },
                    {
                        title: "职业禁忌症史",
                        align: "center",
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='medicalHistory(" + data.id + ", 1)'><span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>"
                        }
                    },

                    {
                        title: "操作",
                        align: "center",
                        width: 270,
                        fixed: "right",
                        toolbar: '#empoyee_table_bar'
                    }
                ]
            ],
            url: "employee/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                keyword: $("#employee-list .keyword").val().trim()
            },
            autoSort: false
        });
        table.on("sort(employee_tableAccount)", function (obj) {
            requeryEmployee(obj);
        });

        table.on("tool(employee_tableAccount)", function (obj) {
            if (obj.event === "edit") {
                editEmployee(obj.data.id);
            }else if (obj.event === "delete") {
                if (obj.data.employeeTrainingNum != 0) {
                    xadmin.alert.warn('该员工已被培训记录添加，不能删除');
                    return;
                }
                deleteEmployee([obj.data.id]);
            }else if (obj.event === "view") {
                viewEmployee(obj.data.id);
            }else if (obj.event === "up") {
                takeUpPost(obj.data.id,true);
            }else if (obj.event === "down") {
                takeUpPost(obj.data.id,false);
            }else if (obj.event === "history") {
                postHistory(obj.data.id);
            }

        });

        $("#employee-list .query").click(requeryEmployee);

        $("#employee-list .reset").click(function (event) {
            $("#employee-list .keyword").val("");
            requeryEmployee();
        });

        dropdown.render({
            elem: $("#employee-list .action-more"),
            click: function (name, elem, event) {
                if (name === "edit") {
                    editEmployee();
                }else if (name === "remove") {
                    removeEmployee();
                }else if (name === "archives") {
                    employeeArchives2();
                }

            },
            options: [{
                name: "edit",
                title: "新增"
            },{
                name: "remove",
                title: "删除"
            },{
                name: "archives",
                title: "健康监护档案"
            }
            ]
        });

        employeeArchives2 = function() {
            var checkStatus = table.checkStatus("employee_tableAccount");
            if (checkStatus.data.length == 0) {
                layer.msg("请勾选人员", {icon: 5});
                return;
            }
            if (checkStatus.data.length >1) {
                layer.msg("只能勾选一个人员", {icon: 5});
                return;
            }
            var id=0;
            $.each(checkStatus.data, function (index, data) {
                id=data.id;
            });
            xadmin.view.tab.change("/employee/employeeArchives/"+id);

        }
    });
</script>