<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="(${flag} ? '上' : '离') + '岗'"></title>

    </head>
    <body>
        <form id="take_up_form" class="layui-form" lay-filter="take_up_form">
            <input id="id" name="id" type="hidden" th:value="${id}" />
            <div class="layui-fluid">
                <div class="layui-row layui-col-space10" th:if="${flag}" style="padding:10px">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">上岗时间：</label>
                        <div class="layui-input-block">
                            <input id="induction_date" name="inductionDate" class="layui-input" lay-verify="required" lay-reqText="上岗时间未填" type="text" placeholder="请输入上岗时间" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">岗位：</label>
                        <div class="layui-input-block">
                            <select id="post_id" name="postId" lay-verify="required" lay-reqText="岗位未选" lay-search>
                                <option value="">请选择</option>
                                <option th:each="enterprisePost : ${enterprisePosts}" th:value="${enterprisePost.id}" th:text="${enterprisePost.postName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10" th:if="!${flag}" style="padding:10px">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">离岗时间：</label>
                        <div class="layui-input-block">
                            <input id="leave_date" name="leaveDate" class="layui-input" lay-verify="required" lay-reqText="离岗时间未填" type="text" placeholder="请输入离岗时间" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="take-up-submit" lay-submit lay-filter="take-up" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script th:inline="javascript">
            layui.use(["jquery", "form", "layer","xadmin", "laydate"], function () {
                let $ = layui.$,
                    layer = layui.layer,
                    form = layui.form,
                    xadmin = layui.xadmin,
                    laydate = layui.laydate;
                let currentIndex = layer.index;
                if ([[${flag}]]) {
                    form.render("select", "take_up_form");
                    laydate.render({
                        elem: "#induction_date",
                        type: "date",
                        trigger: "click",
                        btns: ["now", "confirm"]
                    });
                }else {
                    laydate.render({
                        elem: "#leave_date",
                        type: "date",
                        trigger: "click",
                        btns: ["now", "confirm"]
                    });
                }

                form.on("submit(take-up)", function (data) {
                    if ([[${flag}]]) {
                        layer.confirm('上岗后，岗位和上岗时间不可修改且记录也无法删除，请再次确认',  function() {
                            var formData = new FormData();
                            formData.append("parametersJSON", JSON.stringify(data.field));
                            $.ajax({
                                url: "employee/submitTakeUpPost",
                                type: "post",
                                dataType: "json",
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (result, status, xhr) {
                                    if(result.status===200){
                                        layer.closeAll();
                                        if ([[${flag}]]) {
                                            xadmin.alert.success('上岗操作成功');
                                        } else {
                                            xadmin.alert.success('离岗操作成功');
                                        }
                                        //刷新父页面
                                        requeryEmployee();
                                    } else {
                                        layer.msg(result.message, {icon: 5});
                                    }

                                },
                                complete: function (xhr, status) {
                                    // layer.closeAll();
                                }
                            });
                        });
                    }else{
                        var formData = new FormData();
                        formData.append("parametersJSON", JSON.stringify(data.field));
                        $.ajax({
                            url: "employee/submitTakeUpPost",
                            type: "post",
                            dataType: "json",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (result, status, xhr) {
                                if(result.status===200){
                                    layer.closeAll();
                                    if ([[${flag}]]) {
                                        xadmin.alert.success('上岗操作成功');
                                    } else {
                                        xadmin.alert.success('离岗操作成功');
                                    }
                                    //刷新父页面
                                    requeryEmployee();
                                } else {
                                    layer.msg(result.message, {icon: 5});
                                }

                            },
                            complete: function (xhr, status) {
                                // layer.closeAll();
                            }
                        });
                    }


                    });
                    return false;

            });
        </script>
    </body>
</html>