<style>
    #edit-enterprise-user {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-enterprise-user">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${enterpriseUser?.id}">
        <input type="hidden" id="enterprise" th:value="${enterpriseUser?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">用户名：</label>
            <div class="layui-input-block">
                <input type="text" id="username" placeholder="请输入用户名" minlength="2" maxlength="10"
                       autocomplete="off" th:value="${enterpriseUser?.username}" class="layui-input" lay-verify="range|username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">Email：</label>
            <div class="layui-input-block">
                <input type="text" id="email" placeholder="请输入Email" maxlength="40" autocomplete="off"
                       th:value="${enterpriseUser?.email}" class="layui-input" lay-verify="required|email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">企业：</label>
            <div class="layui-input-block">
                <select id="enterpriseId" lay-verify="required" lay-search>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="remark" placeholder="请输入内容" maxlength="100"
                          th:text="${enterpriseUser?.remark}" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="enterpriseUser"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'validate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            validate = layui.validate;
        form.verify(validate);
        form.render();
        if ($('#id').val() != '') {
            $('#username').attr("readonly", true);
        }
        // 下拉框动态获取企业名称
        var option = '<option value="" selected>请选择企业</option>';
        $.ajax({
            url: '/enterprise/find',
            type: 'post',
            dataType: 'json',
            async: false,
            data: {
                keyword: ''
            },
            success: function (result) {
                console.log(result);
                $.each(result.data, function(i, v) {
                    option += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#enterpriseId').html(option);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的企业名称
        $("#enterpriseId option[value='" + $('#enterprise').val() + "']").prop('selected',true);
        form.render('select');
        // 表单提交
        form.on('submit(enterpriseUser)', function(data) {
            var monitorUser = {
                id: $('#id').val(),
                username: $('#username').val().trim(),
                email: $('#email').val().trim(),
                enterpriseId: $('#enterpriseId').val(),
                remark: $('#remark').val().trim()
            };
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'account/editEnterpriseUser/save',
                type: 'post',
                dateType: 'json',
                data: monitorUser,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        parent.layer.msg(result.message, {icon: 6});
                        parent.requeryEnterpriseUser();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>