<style>
    #edit-monitor-user {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-monitor-user">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${monitorUser?.id}">
        <input type="hidden" id="area" th:value="${monitorUser?.areaId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">用户名：</label>
            <div class="layui-input-block">
                <input type="text" id="username" placeholder="请输入用户名" minlength="2" maxlength="10"
                       autocomplete="off" th:value="${monitorUser?.username}" class="layui-input" lay-verify="range|username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">Email：</label>
            <div class="layui-input-block">
                <input type="text" id="email" placeholder="请输入Email" maxlength="40" autocomplete="off"
                       th:value="${monitorUser?.email}" class="layui-input" lay-verify="required|email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监管区域：</label>
            <div class="layui-input-block">
                <select id="areaId" lay-verify="required" lay-search>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="remark" placeholder="请输入内容" maxlength="100"
                          th:text="${monitorUser?.remark}" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="monitorUser"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'validate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            validate = layui.validate;
        form.verify(validate);
        form.render();
        if ($('#id').val() != '') {
            $('#username').attr("readonly", true);
        }
        // 下拉框动态获取监管区域名称
        var option = '<option value="" selected>请选择监管区域</option>';
        $.ajax({
            url: '/monitor/find',
            type: 'post',
            async: false,
            data: {
                keyword: ''
            },
            success: function (result) {
                $.each(result.data, function(i, v) {
                    option += '<option value="'+ v.id + '">' + v.areaName + '</option>';
                });
                $('#areaId').html(option);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的监管区域名称
        $("#areaId option[value='" + $('#area').val() + "']").prop('selected',true);
        form.render('select');
        // 表单提交
        form.on('submit(monitorUser)', function(data) {
            var monitorUser = {
                id: $('#id').val(),
                username: $('#username').val().trim(),
                email: $('#email').val().trim(),
                areaId: $('#areaId').val(),
                remark: $('#remark').val().trim()
            };
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'account/editMonitorUser/save',
                type: 'post',
                dateType: 'json',
                data: monitorUser,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        parent.layer.msg(result.message, {icon: 6});
                        parent.requeryMonitorUser();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>