<style>
    #edit-sys-user {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-sys-user">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${sysUser?.id}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">用户名：</label>
            <div class="layui-input-block">
                <input type="text" id="username" placeholder="请输入用户名" minlength="2" maxlength="10"
                       autocomplete="off" th:value="${sysUser?.username}" class="layui-input" lay-verify="range|username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">Email：</label>
            <div class="layui-input-block">
                <input type="text" id="email" placeholder="请输入Email" maxlength="40" autocomplete="off"
                       th:value="${sysUser?.email}" class="layui-input" lay-verify="required|email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="remark" placeholder="请输入内容" maxlength="100"
                          th:text="${sysUser?.remark}" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="sysUser"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'validate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            validate = layui.validate;
        form.verify(validate);
        form.render();
        if ($('#id').val() != '') {
            $('#username').attr("readonly", true);
        }
        // 表单提交
        form.on('submit(sysUser)', function(data) {
            // 检查email格式
            var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
            var sysUser = {
                id: $('#id').val(),
                username: $('#username').val().trim(),
                email: $('#email').val().trim(),
                remark: $('#remark').val().trim()
            };
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'account/editSysUser/save',
                type: 'post',
                dateType: 'json',
                data: sysUser,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.closeAll();
                        parent.layer.msg(result.message, {icon: 6});
                        parent.requerySysUser();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>