<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-user" lay-title="账号管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="account_type_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">超级管理账号</li>
                            <li>监管账号</li>
                            <li>企业账号</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" lay-filter="sys_user_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="sys_user_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="querySysUser">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetSysUser">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action sys-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="sys_user_table" lay-filter="sys_user_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="monitor_user_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="monitor_user_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryMonitorUser">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetMonitorUser">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action monitor-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="monitor_user_table" lay-filter="monitor_user_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="enterprise_user_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="enterprise_user_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryEnterpriseUser">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetEnterpriseUser">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action enterprise-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="enterprise_user_table" lay-filter="enterprise_user_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="user-status">
    {{#
    var status = {
    0: {title: '有效', color: 'green'},
    1: {title: '禁用', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge xadmin-tag-{{status.color}}">{{ status.title }}</span>
</script>
<!-- 超级管理账号table行查看、编辑、删除 -->
<script type="text/html" id="sys_user_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 监管、企业账号table行查看、编辑 -->
<script type="text/html" id="monitor_enterprise_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'element', 'util', 'form',  'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            element = layui.element,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-admin-user'),
            $querySysUser = $view.find('#querySysUser'),
            $queryMonitorUser = $view.find('#queryMonitorUser'),
            $queryEnterpriseUser = $view.find('#queryEnterpriseUser'),
            $resetSysUser = $view.find('#resetSysUser'),
            $resetMonitorUser = $view.find('#resetMonitorUser'),
            $resetEnterpriseUser = $view.find('#resetEnterpriseUser'),
            $searchForm = $view.find('form');
        // 超级管理账号table
        var sysUerTable = table.render({
            elem: '#sys_user_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'username',
                        title: '用户名',
                        align: 'center',
                        sort: true,
                        minWidth: 90
                    },
                    {
                        field: 'email',
                        title: 'Email',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'lastLoginTime',
                        title: '上次登录时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function (d) {
                            // 统一时间格式
                            if (d.lastLoginTime) {
                                return util.toDateString(d.lastLoginTime);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'gmtCreate',
                        title: '创建时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function (d) {
                            // 统一时间格式
                            return util.toDateString(d.gmtCreate);
                        }
                    },
                    {
                        field: 'status',
                        title: '状态',
                        align: 'center',
                        sort: true,
                        minWidth: 60,
                        templet: '#user-status'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#sys_user_bar',
                        width: 120
                    }
                ]
            ],
            url: 'account/listSysUsers',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.sysUsers
                };
            },
            where: {
                keyword: $('#sys_user_keyword').val().trim()
            },
            autoSort: false
        });
        // 超级管理账号排序
        table.on('sort(sys_user_table)', function (obj) {
            requerySysUser(obj);
        });
        // 超级管理账号下拉菜单
        dropdown.render({
            elem: $view.find('.sys-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('sys_user_table');
                if (name === 'add') {
                    xadmin.modal.open("新增超级管理账号", "account/editSysUser", {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-sys-user').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-sys-user').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/deleteSysUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success('删除成功');
                                    requerySysUser();
                                } else {
                                    xadmin.alert.error('删除失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'block') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要封禁的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/disableSysUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('sys_user_table');
                                    xadmin.alert.success('所选账号已被禁用');
                                } else {
                                    xadmin.alert.error('禁用失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'normal') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要解禁的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/enableSysUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('sys_user_table');
                                    xadmin.alert.success('所选账号已被解禁');
                                } else {
                                    xadmin.alert.error('解禁失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'reset') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要重置密码的账号');
                    } else {
                        var data = checkStatus.data;
                        $.ajax({
                            url: 'account/resetSysUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {dataJSON: JSON.stringify(data)},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('sys_user_table');
                                    xadmin.alert.success('所选账号密码已重置为123456');
                                } else {
                                    xadmin.alert.error('密码重置失败');
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增账号'
            }, {
                name: 'delete',
                title: '删除账号'
            }, {
                name: 'block',
                title: '封禁账号'
            }, {
                name: 'normal',
                title: '解禁账号'
            }, {
                name: 'reset',
                title: '密码重置'
            }]
        });
        // 监听超级管理账号table行事件（查看、编辑、删除）
        table.on('tool(sys_user_table)', function (obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看超级管理账号信息',
                    content: 'account/viewSysUser?id=' + data.id,
                    area: ['500px', '400px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑超级管理账号", "account/editSysUser/" + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-sys-user').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该超级管理账号吗？', function (index) {
                    $.ajax({
                        url: 'account/deleteSysUser',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requerySysUser();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询超级管理账号
        window.requerySysUser = function (sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#sys_user_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            sysUerTable.reload(options);
        }
        $querySysUser.on('click', function () {
            requerySysUser();
        });
        // 重置刷新超级管理账号
        $resetSysUser.on('click', function () {
            $searchForm[0].reset();
            requerySysUser();
        });

        // 监管账号table
        var monitorUserTable = table.render({
            elem: '#monitor_user_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'username',
                        title: '用户名',
                        align: 'center',
                        sort: true,
                        minWidth: 90
                    },
                    {
                        field: 'email',
                        title: 'Email',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'areaName',
                        title: '监管区域',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'lastLoginTime',
                        title: '上次登录时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function (d) {
                            if (d.lastLoginTime) {
                                return util.toDateString(d.lastLoginTime);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'gmtCreate',
                        title: '创建时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function (d) {
                            return util.toDateString(d.gmtCreate);
                        }
                    },
                    {
                        field: 'status',
                        title: '状态',
                        align: 'center',
                        sort: true,
                        minWidth: 60,
                        templet: '#user-status'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#monitor_enterprise_bar',
                        width: 90
                    }
                ]
            ],
            url: 'account/listMonitorUsers',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.monitorUserCustoms
                };
            },
            where: {
                keyword: $('#monitor_user_keyword').val().trim()
            },
            autoSort: false
        });
        // 监管账号排序
        table.on('sort(monitor_user_table)', function (obj) {
            requeryMonitorUser(obj);
        });
        // 监管账号下拉菜单
        dropdown.render({
            elem: $view.find('.monitor-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('monitor_user_table');
                if (name === 'add') {
                    xadmin.modal.open("新增监管账号", "account/editMonitorUser", {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-monitor-user').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-monitor-user').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'block') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要封禁的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/disableMonitorUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('monitor_user_table');
                                    xadmin.alert.success('所选账号已被禁用');
                                } else {
                                    xadmin.alert.error('禁用失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'normal') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要解禁的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/enableMonitorUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('monitor_user_table');
                                    xadmin.alert.success('所选账号已被解禁');
                                } else {
                                    xadmin.alert.error('解禁失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'reset') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要重置密码的账号');
                    } else {
                        var data = checkStatus.data;
                        $.ajax({
                            url: 'account/resetMonitorUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {dataJSON: JSON.stringify(data)},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('monitor_user_table');
                                    xadmin.alert.success('所选账号密码已重置为123456');
                                } else {
                                    xadmin.alert.error('密码重置失败');
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增账号'
            }, {
                name: 'block',
                title: '封禁账号'
            }, {
                name: 'normal',
                title: '解禁账号'
            }, {
                name: 'reset',
                title: '密码重置'
            }]
        });
        // 监听监管账号table行事件（查看、编辑）
        table.on('tool(monitor_user_table)', function (obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看监管账号信息',
                    content: 'account/viewMonitorUser?id=' + data.id,
                    area: ['500px', '400px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑监管账号", "account/editMonitorUser/" + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-monitor-user').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
        });
        // 查询监管账号
        window.requeryMonitorUser = function (sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#monitor_user_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            monitorUserTable.reload(options);
        }
        $queryMonitorUser.on('click', function () {
            requeryMonitorUser();
        });
        // 重置刷新监管账号
        $resetMonitorUser.on('click', function () {
            $searchForm[1].reset();
            requeryMonitorUser();
        });

        // 企业账号table
        var enterpriseUserTable = table.render({
            elem: '#enterprise_user_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'username',
                        title: '用户名',
                        align: 'center',
                        sort: true,
                        minWidth: 90
                    },
                    {
                        field: 'email',
                        title: 'Email',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'enterpriseName',
                        title: '企业',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'lastLoginTime',
                        title: '上次登录时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function (d) {
                            if (d.lastLoginTime) {
                                return util.toDateString(d.lastLoginTime);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'gmtCreate',
                        title: '创建时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function (d) {
                            return util.toDateString(d.gmtCreate);
                        }
                    },
                    {
                        field: 'status',
                        title: '状态',
                        align: 'center',
                        sort: true,
                        minWidth: 60,
                        templet: '#user-status'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#monitor_enterprise_bar',
                        width: 90
                    }
                ]
            ],
            url: 'account/listEnterpriseUsers',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseUserCustoms
                };
            },
            where: {
                keyword: $('#enterprise_user_keyword').val().trim()
            },
            autoSort: false
        });
        // 企业账号排序
        table.on('sort(enterprise_user_table)', function (obj) {
            requeryEnterpriseUser(obj);
        });
        // 企业账号下拉菜单
        dropdown.render({
            elem: $view.find('.enterprise-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('enterprise_user_table');
                if (name === 'add') {
                    xadmin.modal.open("新增企业账号", "account/editEnterpriseUser", {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-enterprise-user').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-enterprise-user').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'block') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要封禁的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/disableEnterpriseUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('enterprise_user_table');
                                    xadmin.alert.success('所选账号已被禁用');
                                } else {
                                    xadmin.alert.error('禁用失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'normal') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要解禁的账号');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'account/enableEnterpriseUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('enterprise_user_table');
                                    xadmin.alert.success('所选账号已被解禁');
                                } else {
                                    xadmin.alert.error('解禁失败');
                                }
                            }
                        });
                    }
                }
                if (name === 'reset') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要重置密码的账号');
                    } else {
                        var data = checkStatus.data;
                        $.ajax({
                            url: 'account/resetEnterpriseUsers',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {dataJSON: JSON.stringify(data)},
                            success: function (result) {
                                if (result.status === 'success') {
                                    table.reload('enterprise_user_table');
                                    xadmin.alert.success('所选账号密码已重置为123456');
                                } else {
                                    xadmin.alert.error('密码重置失败');
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增账号'
            }, {
                name: 'block',
                title: '封禁账号'
            }, {
                name: 'normal',
                title: '解禁账号'
            }, {
                name: 'reset',
                title: '密码重置'
            }]
        });
        // 监听企业账号table行事件（查看、编辑）
        table.on('tool(enterprise_user_table)', function (obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看企业账号信息',
                    content: 'account/viewEnterpriseUser?id=' + data.id,
                    area: ['500px', '400px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑企业账号", "account/editEnterpriseUser/" + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-enterprise-user').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
        });
        // 查询企业账号
        window.requeryEnterpriseUser = function (sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#enterprise_user_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            enterpriseUserTable.reload(options);
        }
        $queryEnterpriseUser.on('click', function () {
            requeryEnterpriseUser();
        });
        // 重置刷新企业账号
        $resetEnterpriseUser.on('click', function () {
            $searchForm[2].reset();
            requeryEnterpriseUser();
        });
    });
</script>