<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看企业账号信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">

</head>
<body>
    <form class="layui-form" style="padding-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline" style="width: 350px;">
                <input type="text" id="username" readonly th:value="${enterpriseUserCustom?.username}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Email：</label>
            <div class="layui-input-inline" style="width: 350px;">
                <input type="text" id="email" readonly th:value="${enterpriseUserCustom?.email}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">企业：</label>
            <div class="layui-input-inline" style="width: 350px;">
                <input type="text" id="enterpriseName" readonly th:value="${enterpriseUserCustom?.enterpriseName}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-inline" style="width: 350px;">
                <textarea id="remark" readonly th:text="${enterpriseUserCustom?.remark}" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>

    <script src="/plugins/layui/layui.js"></script>
</body>
</html>