<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-consult" lay-title="系统咨询">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="sys_consult_table" lay-filter="sys_consult_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 系统咨询table行查看、回复、删除 -->
<script type="text/html" id="sys_consult_bar">
    <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
    <a class="layui-btn layui-btn-xs" lay-event="reply">回复</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form',  'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-admin-consult'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 系统咨询table
        var sysConsultTable = table.render({
            elem: '#sys_consult_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'enterpriseName',
                        title: '企业',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'title',
                        title: '标题',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'question',
                        title: '问题描述',
                        align: 'center',
                        event: 'questionDetail',
                        style: 'cursor: pointer;',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'mobilePhone',
                        title: '联系电话',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'email',
                        title: 'Email',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'answer',
                        title: '回复内容',
                        align: 'center',
                        event: 'answerDetail',
                        style: 'cursor: pointer;',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'answerTime',
                        title: '回复时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            // 统一时间格式
                            if (d.answerTime) {
                                return util.toDateString(d.answerTime);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#sys_consult_bar',
                        width: 120
                    }
                ]
            ],
            url: 'consult/listConsults',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.sysConsults
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 系统咨询排序
        table.on('sort(sys_consult_table)', function (obj) {
            requeryConsult(obj);
        });
        // 系统咨询下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('sys_consult_table');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的系统咨询');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'consult/deleteSysConsults',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success('删除成功');
                                    requeryConsult();
                                } else {
                                    xadmin.alert.error('删除失败');
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'delete',
                title: '删除系统咨询'
            }]
        });
        // 监听系统咨询table行事件（查看、回复、删除）
        table.on('tool(sys_consult_table)', function(obj) {
            var data = obj.data;
            // 监听单元格，查看问题描述内容
            if (obj.event === 'questionDetail') {
                layer.open({
                    type: 1,
                    title: '问题描述',
                    skin: 'layui-layer-rim', //加上边框
                    area: ['420px', '240px'], //宽高
                    content: '<div style="word-wrap: break-word;\n' +
                        '    word-break: break-all;\n' +
                        '    overflow: hidden;\n' +
                        '    padding: 10px;\n' +
                        '    line-height: 24px;">'
                        + (data.question !== null ? data.question : '') + '</div>'
                });
                // 如果是未阅读状态，打开问题描述的同时，修改为已阅读状态
                if (data.readStatus == 0) {
                    $.ajax({
                        url: 'consult/updateReadStatus',
                        type: 'post',
                        dateType: 'json',
                        data: data,
                        success: function (result) {
                            if (result.status === 'success') {
                                requeryConsult();
                            }
                        }
                    });
                }
            }
            // 监听单元格，查看回复内容
            if (obj.event === 'answerDetail') {
                layer.open({
                    type: 1,
                    title: '回复内容',
                    skin: 'layui-layer-rim', //加上边框
                    area: ['420px', '240px'], //宽高
                    content: '<div style="word-wrap: break-word;\n' +
                        '    word-break: break-all;\n' +
                        '    overflow: hidden;\n' +
                        '    padding: 10px;\n' +
                        '    line-height: 24px;">'
                        + (data.answer !== null ? data.answer : '')  + '</div>'
                });
            }
            // 回复
            if (obj.event === 'reply') {
                layer.prompt({
                    title: '回复',
                    formType: 2
                }, function(text, index) {
                    // 回复内容赋值
                    obj.data.answer = text;
                    // 删除时间格式的值
                    delete obj.data.answerTime;
                    delete obj.data.gmtCreate;
                    delete obj.data.gmtModified;
                    $.ajax({
                        url: 'consult/reply',
                        type: 'post',
                        dateType: 'json',
                        data: obj.data,
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryConsult();
                                layer.close(index);
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该系统咨询吗？', function(index) {
                    $.ajax({
                        url: 'consult/deleteSysConsult',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryConsult();
                            }else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryConsult = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            sysConsultTable.reload(options);
        }
        $query.on('click', function () {
            requeryConsult();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryConsult();
        });
    });
</script>