<style>
    #add-registration-sheet {
        padding: 20px 25px 25px 0;
    }
    #add-registration-sheet .layui-form-label {
        width: 125px;
    }
    #add-registration-sheet .layui-input-block {
        margin-left: 155px;
    }
</style>
<div class="layui-fluid" id="add-registration-sheet">
    <form id="registration_sheet_form" class="layui-form" lay-filter="registration_sheet_form">
        <input type="hidden" name="id" th:value="${enterpriseInspection?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseInspection?.enterpriseId}">
        <div class="layui-form-item" id="registration_sheet">
            <label class="layui-form-label xadmin-form-item-require">检查整改登记表：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="registration_sheet_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="registration_sheet_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="registration-sheet"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>

    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 检查整改登记表上传
        $('#registration_sheet_btn').click(function (event) {
            $('#registration_sheet_file').click();
        });
        $('#registration_sheet_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(registration-sheet)', function(data) {
            var enterpriseInspection = {};
            $.each($("#registration_sheet_form input[name]"), function (index, element) {
                enterpriseInspection[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseInspection) {
                var registrationSheetFiles = $("#registration_sheet_file")[0].files;
                if (registrationSheetFiles.length == 0) {
                    layer.msg("检查整改登记表未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                if (registrationSheetFiles.length != 0) {
                    formData.append("registrationSheetFile", registrationSheetFiles[0]);
                }
                formData.append("enterpriseInspectionJSON", JSON.stringify(enterpriseInspection));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'inspection/saveRegistrationSheet',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryInspection();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>