<style>
    #edit-inspection {
        padding: 20px 25px 25px 0;
    }
    #edit-inspection .layui-form-label {
        width: 125px;
    }
    #edit-inspection .layui-input-block {
        margin-left: 155px;
    }
</style>
<div class="layui-fluid" id="edit-inspection">
    <form id="inspection_form" class="layui-form" action="" lay-filter="inspection_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseInspection?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseInspection?.enterpriseId}">
        <input type="hidden" id="rectified" name="rectified" th:value="${enterpriseInspection?.isRectified}">
        <input type="hidden" id="deadline" th:value="${enterpriseInspection?.rectificationDeadline}">
        <input type="hidden" id="registrationSheet" name="registrationSheet" th:value="${enterpriseInspection?.registrationSheet}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检查性质：</label>
            <div class="layui-input-block">
                <select id="checkNature" name="checkNature" lay-verify="required">
                    <option value="">请选择人员类型</option>
                    <option value="日常" th:selected="${'日常' == enterpriseInspection?.checkNature}">日常</option>
                    <option value="定期" th:selected="${'定期' == enterpriseInspection?.checkNature}">定期</option>
                    <option value="一般" th:selected="${'一般' == enterpriseInspection?.checkNature}">一般</option>
                    <option value="专项" th:selected="${'专项' == enterpriseInspection?.checkNature}">专项</option>
                    <option value="季节" th:selected="${'季节' == enterpriseInspection?.checkNature}">季节</option>
                    <option value="节后" th:selected="${'节后' == enterpriseInspection?.checkNature}">节后</option>
                    <option value="节前" th:selected="${'节前' == enterpriseInspection?.checkNature}">节前</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检查时间：</label>
            <div class="layui-input-block">
                <input type="text" id="checkDate" name="checkDate" placeholder="请选择检查时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseInspection?.checkDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检查部门：</label>
            <div class="layui-input-block">
                <input type="text" id="checkDept" name="checkDept" placeholder="请输入检查部门" maxlength="50"
                       th:value="${enterpriseInspection?.checkDept}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检查内容：</label>
            <div class="layui-input-block">
                <input type="text" id="content" name="content" placeholder="请输入检查内容" maxlength="200"
                       th:value="${enterpriseInspection?.content}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">是否要求整改：</label>
            <div class="layui-input-block">
                <select id="isRectified" name="isRectified" lay-filter="isRectified" lay-verify="required">
                    <option value="">请选择是否要求整改</option>
                    <option value="1" th:selected="${1 == enterpriseInspection?.isRectified}">是</option>
                    <option value="0" th:selected="${0 == enterpriseInspection?.isRectified}">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" id="rectification_deadline"></div>
        <div class="layui-form-item" id="registration_sheet">
            <label class="layui-form-label">检查整改登记表：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="registration_sheet_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="registration_sheet_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="inspection"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate', 'util'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            util = layui.util;
        // 日期组件
        laydate.render({
            elem: '#checkDate',
            type: 'date'
        });
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#registrationSheet').val() != '') {
                $('#filePath').val($('#registrationSheet').val().substring($('#registrationSheet').val().lastIndexOf('/') + 1));
            }
            $('#registration_sheet_file').after('<button type="button" id="registration_sheet_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 检查整改登记表上传
        $('#registration_sheet_btn').click(function (event) {
            $('#registration_sheet_file').click();
        });
        $('#registration_sheet_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 如果是编辑，且要求整改，则动态显示整改期限div
        var rectified = $('#rectified').val();
        if (rectified == 1) {
            var html = '<div class="layui-form-item" id="rectification_deadline">\n'
                    + '<label class="layui-form-label xadmin-form-item-require">整改期限：</label>\n'
                    + '<div class="layui-input-block">\n'
                    + '<input type="text" id="rectificationDeadline" name="rectificationDeadline" placeholder="请选择整改期限" class="layui-input" lay-verify="required">\n'
                    + '</div>\n'
                    + '</div>';
            $('#rectification_deadline').html(html);
            // 日期组件
            laydate.render({
                elem: '#rectificationDeadline',
                type: 'date'
            });
            // 显示已有的日期
            var deadline = util.toDateString($('#deadline').val(), 'yyyy-MM-dd')
            $('#rectificationDeadline').val(deadline);
        }
        // 监听是否要求整改，如果是，动态显示整改期限div
        form.on('select(isRectified)', function(data) {
            if (data.value == 1) {
                var html = '<div class="layui-form-item" id="rectification_deadline">\n'
                        + '<label class="layui-form-label xadmin-form-item-require">整改期限：</label>\n'
                        + '<div class="layui-input-block">\n'
                        + '<input type="text" id="rectificationDeadline" name="rectificationDeadline" placeholder="请选择整改期限" class="layui-input" lay-verify="required">\n'
                        + '</div>\n'
                        + '</div>';
                $('#rectification_deadline').html(html);
                // 日期组件
                laydate.render({
                    elem: '#rectificationDeadline',
                    type: 'date'
                });
            } else {
                $('#rectification_deadline').html('');
            }
        });
        // 表单提交
        form.on('submit(inspection)', function(data) {
            var enterpriseInspection = {};
            $.each($("#inspection_form input[name],select[name]"), function (index, element) {
                enterpriseInspection[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseInspection) {
                var formData = new FormData();
                var registrationSheetFiles = $("#registration_sheet_file")[0].files;
                if (registrationSheetFiles.length != 0) {
                    formData.append("registrationSheetFile", registrationSheetFiles[0]);
                }
                formData.append("enterpriseInspectionJSON", JSON.stringify(enterpriseInspection));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'inspection/editInspection/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryInspection();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#registration_sheet_download').click(function (event) {
            var filePath = $('#registrationSheet').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>