<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-inspection" lay-title="检查整改记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="inspection_table" lay-filter="inspection_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .file-download{
        cursor: pointer;
    }
</style>
<!-- 检查整改记录table行编辑、删除 -->
<script type="text/html" id="inspection_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script data-th-inline="javascript">
    //区分是否从首页整改链接过来的 value:zkgq
    var zkgqparam = [[${paramz}]];
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-inspection'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 检查整改记录table
        var inspectionTable = table.render({
            elem: '#inspection_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'checkDate',
                        title: '检查时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.checkDate) {
                                return util.toDateString(d.checkDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'checkNature',
                        title: '检查性质',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'checkDept',
                        title: '检查部门',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'content',
                        title: '检查内容',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'isRectified',
                        title: '是否要求整改',
                        align: 'center',
                        sort: true,
                        minWidth: 140,
                        templet: function(d) {
                            // 修改数据显示
                            var isRectified = '';
                            if (d.isRectified === 0) {
                                isRectified = '否';
                            } else if (d.isRectified === 1) {
                                isRectified =  '是';
                            }
                            return isRectified;
                        }
                    },
                    {
                        field: 'rectificationDeadline',
                        title: '整改期限',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.rectificationDeadline) {
                                return util.toDateString(d.rectificationDeadline, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'registrationSheet',
                        title: '检查整改登记表',
                        align: 'center',
                        minWidth: 130,
                        templet: function (data) {
                            if (data.registrationSheet) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.registrationSheet + "'>下载</a>";
                            } else {
                                return "<a href='javascript:void(0);' onclick='addRegistrationSheet(" + data.id + ")'>"
                                    + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少登记表</span>"
                                    + "</a>";
                            }
                        }
                    },
                    {
                        title: '整改记录',
                        align: 'center',
                        minWidth: 110,
                        templet: function (data) {
                            if (data.isRectified === 1) {
                                return "<a href='javascript:void(0);' onclick='rectification(" + data.id + ")'>"
                                    + (data.rectificationNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">未整改</span>")
                                    + "</a>"
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#inspection_bar',
                        width: 120
                    }
                ]
            ],
            url: 'inspection/listInspections',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInspections
                };
            },
            where: {
                keyword: $('#keyword').val().trim(),
                zkgqparam:zkgqparam

            },
            autoSort: false
        });
        // 检查整改记录table排序
        table.on('sort(inspection_table)', function (obj) {
            requeryInspection(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('inspection_table');
                if (name === 'add') {
                    xadmin.modal.open("新增检查整改记录","inspection/editInspection",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-inspection').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-inspection').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的检查整改记录');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'inspection/deleteInspections',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryInspection();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增检查整改'
            }, {
                name: 'delete',
                title: '删除检查整改'
            }]
        });
        // 监听检查整改记录table行事件（编辑、删除）
        table.on('tool(inspection_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑检查整改记录","inspection/editInspection/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-inspection').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该检查整改记录吗？', function(index) {
                    $.ajax({
                        url: 'inspection/deleteInspection',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            registrationSheet: data.registrationSheet
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryInspection();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryInspection = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            inspectionTable.reload(options);
        }
        $query.on('click', function() {
            requeryInspection();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryInspection();
        });

        // 上传检查整改登记表
        window.addRegistrationSheet = function(id) {
            xadmin.modal.open("上传检查整改登记表","inspection/addRegistrationSheet/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-registration-sheet').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-registration-sheet').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 整改记录
        window.rectification = function(inspectionId) {
            xadmin.modal.open("整改记录","inspection/rectification/" + inspectionId,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>