<div class="layui-fluid layui-anim xadmin-anim" id="ehs-admin-backup" lay-title="企业文档备份管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="frm" method="get">
                        <table  lay-filter="backupTable" lay-data="{id: 'backupTable'}" ></table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="backup-option">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="backup-gmtCreate">
    {{#
    return layui.util.toDateString(d.gmtCreate, 'yyyy-MM-dd HH:mm:ss')
    }}
</script>
<script type="text/html" id="backup-gmtModified">
    {{#
    return layui.util.toDateString(d.gmtModified, 'yyyy-MM-dd HH:mm:ss')
    }}
</script>
<script type="text/html" id="backup-backuptime">
    {{#
    return layui.util.toDateString(d.gmtModified, 'yyyy-MM-dd HH:mm:ss')
    }}
</script>

<script data-th-inline="none" type="text/javascript">
    layui.use(["form", "jquery","table", 'xadmin','util'], function () {
        var $ = layui.jquery,
        table = layui.table,
        xadmin = layui.xadmin,
        $view = $('#ehs-admin-backup'),
        form = layui.form,
        tableIns,
        sortObject = {field: 'enterpriseName', type: 'asc'},
        $query = $view.find('#query'),
        $reset = $view.find('#reset'),
        $searchForm = $view.find('form');

        form.render();

        initTable();

        table.on("sort(backupTable)", function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    sortField: obj.field,
                    sortType: obj.type
                })
            });
        });


        table.on('tool(backupTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'download') {
                window.open("/backup/downloadFile?name=" + encodeURI(data.fileName) + "&path=" + encodeURI(data.filePath), "_blank");
            }
            if (layEvent === 'del') {
                xadmin.modal.confirm('删除备份数据', '确定删除该备份数据？', function () {
                    xadmin.get("/backup/delete/"+data.id,null,function () {
                        xadmin.alert.success('删除用户成功');
                        $query.click();
                    })
                });
            }
        });






        /**
         * 初始化数据表格
         */
        function initTable() {
            tableIns = xadmin.table.init({
                elem: $view.find('table'),
                id: 'backupTable',
                url: "backup/getList",
                cols: [[
                    {type: 'numbers'},
                    {field: "enterpriseName",title: "备份企业",sort: true},
                    {field: "backupTime",title: "备份时间",sort: true,templet:'#backup-backuptime'},
                    {field: "filePath",title: "文件路径",sort: true},
                    {field: "gmtCreate",title: "创建时间",sort: true,templet:'#backup-gmtCreate'},
                    {field: "gmtModified",title: "更新时间",sort: true,templet:'#backup-gmtModified'},
                    {title: "操作",align: "center",toolbar: '#backup-option'}
                ]]
            });
        }


        /**
         * 查询用户
         */
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {sortField: sortObject.field, sortType: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         * 刷新
         */
        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'desc';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function getQueryParams() {
            return {
                keyword: $("#keyword").val().trim(),
                invalidate_ie_cache: new Date()
            };
        }
    });
</script>