<style>
    #edit-workplace-harmfactor {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-workplace-harmfactor">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${workplaceHarmFactor?.id}">
        <input type="hidden" id="workplaceId" th:value="${workplaceHarmFactor?.workplaceId}">
        <input type="hidden" id="harmFactor" th:value="${workplaceHarmFactor?.harmFactorId}">
        <input type="hidden" id="postNum" th:value="${workplaceHarmFactor?.postWorkplaceHarmFactorNum}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">危害因素：</label>
            <div class="layui-input-block">
                <select id="harmFactorId" lay-search lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">危害来源：</label>
            <div class="layui-input-block">
                <input type="text" id="harmSource" placeholder="请输入危害来源" maxlength="100"
                       th:value="${workplaceHarmFactor?.harmSource}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">设备状态：</label>
            <div class="layui-input-block">
                <select id="deviceStatus" lay-verify="required">
                    <option value="">请选择设备状态</option>
                    <option value="全密闭" th:selected="${'全密闭' == workplaceHarmFactor?.deviceStatus}">全密闭</option>
                    <option value="半密闭" th:selected="${'半密闭' == workplaceHarmFactor?.deviceStatus}">半密闭</option>
                    <option value="敞开式" th:selected="${'敞开式' == workplaceHarmFactor?.deviceStatus}">敞开式</option>
                    <option value="其它" th:selected="${'其它' == workplaceHarmFactor?.deviceStatus}">其它</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">操作方式：</label>
            <div class="layui-input-block">
                <select id="operationWay" lay-verify="required">
                    <option value="">请选择操作方式</option>
                    <option value="自动化" th:selected="${'自动化' == workplaceHarmFactor?.operationWay}">自动化</option>
                    <option value="机械化" th:selected="${'机械化' == workplaceHarmFactor?.operationWay}">机械化</option>
                    <option value="手工操作" th:selected="${'手工操作' == workplaceHarmFactor?.operationWay}">手工操作</option>
                    <option value="其它" th:selected="${'其它' == workplaceHarmFactor?.operationWay}">其它</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">是否隔离：</label>
            <div class="layui-input-block">
                <select id="isPartition" lay-verify="required">
                    <option value="">请选择是否隔离</option>
                    <option value="隔离操作" th:selected="${'隔离操作' == workplaceHarmFactor?.isPartition}">隔离操作</option>
                    <option value="非隔离操作" th:selected="${'非隔离操作' == workplaceHarmFactor?.isPartition}">非隔离操作</option>
                    <option value="其它" th:selected="${'其它' == workplaceHarmFactor?.isPartition}">其它</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="workplaceHarmFactor"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        // 下拉框动态获取危害因素（管理端危害因素获取）
        var option = '<option value="" selected>请选择危害因素</option>';
        $.ajax({
            url: 'workplace/harmfactor/getHarmfactors?workplaceId=' + $('#workplaceId').val() + '&&harmFactorId=' + $('#harmFactor').val(),
            type: 'post',
            async: false,
            data: {
                pageNum: 1,
                pageSize: 10,
                keyword: ''
            },
            success: function (result) {
                $.each(result.data.baseHarmFactors, function(i, v) {
                    option += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#harmFactorId').html(option);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的危害因素
        $("#harmFactorId option[value='" + $('#harmFactor').val() + "']").prop('selected',true);
        form.render('select');
        // 表单提交
        form.on('submit(workplaceHarmFactor)', function(data) {
            // 如果当前危害因素已被申报，则不能修改危害因素
            if ($('#postNum').val() > 0 && ($('#harmFactor').val() != $('#harmFactorId').val())) {
                layer.msg("该职业病危害因素已被岗位添加，不能修改危害因素", {icon: 5});
                return false;
            }
            var workplaceHarmFactor = {
                id: $('#id').val(),
                workplaceId: $('#workplaceId').val(),
                harmFactorId: $('#harmFactorId').val(),
                harmSource: $('#harmSource').val().trim(),
                deviceStatus: $('#deviceStatus').val(),
                operationWay: $('#operationWay').val(),
                isPartition: $('#isPartition').val()
            };
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'workplace/harmfactor/editHarmFactor/save',
                type: 'post',
                dateType: 'json',
                data: workplaceHarmFactor,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.msg(result.message, {icon: 6});
                        layer.close(currentIndex);
                        parent.requery();
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>