<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-workplace-harmfactor">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: auto;">
                                <button type="button" class="layui-btn" onclick="addHarmfactor();">添加</button>
                                <button type="button" class="layui-btn" onclick="deleteHarmFactor();">删除</button>
                            </div>
                        </div>
                    </form>
                    <table id="harmfactor_table" lay-filter="harmfactor_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 职业病危害因素table行查看、编辑、删除 -->
<script type="text/html" id="harmfactor_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 作业场所id
    var workplaceId = [[${workplaceId}]];
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin;
        // 职业病危害因素table
        var harmfactorTable = table.render({
            elem: "#harmfactor_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "harmSource",
                        title: "危害来源",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "deviceStatus",
                        title: "设备状态",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "operationWay",
                        title: "操作方式",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "isPartition",
                        title: "是否隔离",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#harmfactor_bar',
                        width: 120
                    }
                ]
            ],
            url: "workplace/harmfactor/listHarmfactors",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.workplaceHarmFactors
                };
            },
            where: {
                workplaceId: workplaceId,
            }
        });
        // 监听职业病危害因素table行事件（查看、编辑、删除）
        table.on('tool(harmfactor_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看职业病危害因素信息',
                    content: 'harmfactor/viewHarmfactor?id=' + data.id,
                    area: ['600px', '410px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑职业病危害因素",'workplace/harmfactor/editHarmfactor/' + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-workplace-harmfactor').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.outsideCheckWorkplaceHarmFactorNum != 0) {
                    layer.msg('该职业病危害因素已被危害因素检测添加，不能删除', {icon: 5});
                    return;
                }
                if (data.insideMonitorWorkplaceHarmFactorNum != 0) {
                    layer.msg('该职业病危害因素已被日常监测添加，不能删除', {icon: 5});
                    return;
                }
                if (data.postWorkplaceHarmFactorNum != 0) {
                    layer.msg('该职业病危害因素已被岗位添加，不能删除', {icon: 5});
                    return;
                }
                layer.confirm('确定要删除该职业病危害因素吗？', function(index) {
                    $.ajax({
                        url: 'workplace/harmfactor/deleteHarmfactor',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                table.reload('harmfactor_table');
                                parent.requeryWorkplace();
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requery = function() {
            harmfactorTable.reload({
                where: {
                    workplaceId: workplaceId
                }
            });
            parent.requeryWorkplace();
        }
        // 添加
        window.addHarmfactor = function() {
            xadmin.modal.open("新增职业病危害因素",'workplace/harmfactor/addHarmfactor/' + workplaceId,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-workplace-harmfactor').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-workplace-harmfactor').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 删除
        window.deleteHarmFactor = function() {
            var checkStatus = table.checkStatus('harmfactor_table');
            if (!checkStatus.data.length) {
                layer.msg('请选择需要删除的职业病危害因素', {icon: 5});
            } else {
                var flag = true;
                var ids = [];
                layui.each(checkStatus.data, function (key, item) {
                    if (item.outsideCheckWorkplaceHarmFactorNum != 0) {
                        layer.msg('有职业病危害因素已被危害因素检测添加，不能删除', {icon: 5});
                        flag = false;
                        return true;
                    }
                    if (item.insideMonitorWorkplaceHarmFactorNum != 0) {
                        layer.msg('有职业病危害因素已被日常监测添加，不能删除', {icon: 5});
                        flag = false;
                        return true;
                    }
                    if (item.postWorkplaceHarmFactorNum != 0) {
                        layer.msg('有职业病危害因素已被岗位添加，不能删除', {icon: 5});
                        flag = false;
                        return true;
                    }
                    ids.push(item.id)
                });
                if (flag) {
                    $.ajax({
                        url: 'workplace/harmfactor/deleteHarmfactors',
                        type: 'post',
                        dataType: 'json',
                        traditional: true,
                        data: {ids: ids},
                        success: function (result) {
                            if (result.status === 'success') {
                                table.reload('harmfactor_table');
                                parent.requeryWorkplace();
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                }
            }
        }
    });
</script>