<style>
    #edit-monitor-point {
        padding: 20px 25px 25px 0;
    }
    #edit-monitor-point .layui-form-label {
        width: 95px;
    }
    #edit-monitor-point .layui-input-block {
        margin-left: 125px;
    }
</style>
<div class="layui-fluid" id="edit-monitor-point">
    <form id="monitor_point_form" class="layui-form" action="" lay-filter="monitor-point-form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseMonitorPoint?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseMonitorPoint?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测点名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" placeholder="请输入监测点名称" autocomplete="off"
                       th:value="${enterpriseMonitorPoint?.name}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="monitor-point"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        form.render();
        // 表单提交
        form.on('submit(monitor-point)', function(data) {
            var enterpriseMonitorPoint = {};
            $.each($("#monitor_point_form input[name]"), function (index, element) {
                enterpriseMonitorPoint[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseMonitorPoint) {
                var formData = new FormData();
                formData.append("enterpriseMonitorPointJSON", JSON.stringify(enterpriseMonitorPoint));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'monitorPoint/editMonitorPoint/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryMonitorPoint();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>