<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-monitor-point" lay-title="监测点管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="monitor_type_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">监测点</li>
                            <li>监测、检测点示意图</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" lay-filter="monitor_point_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="monitor_point_keyword" type="text" placeholder="模糊查询"
                                                           class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="query">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="reset">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="monitor_point_table" lay-filter="monitor_point_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="schematic_diagram_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="schematic_diagram_keyword" type="text" placeholder="模糊查询"
                                                           class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="querySchematicDiagram">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                 id="resetSchematicDiagram">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action schematic-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="schematic_diagram_table" lay-filter="schematic_diagram_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 监测点table行编辑、删除 -->
<script type="text/html" id="monitor_point_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 监测、检测点示意图table行编辑、删除 -->
<script type="text/html" id="schematic_diagram_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-monitor-point'),
            $query = $view.find('#query'),
            $querySchematicDiagram = $view.find('#querySchematicDiagram'),
            $reset = $view.find('#reset'),
            $resetSchematicDiagram = $view.find('#resetSchematicDiagram'),
            $searchForm = $view.find('form');
        // 监测点table
        var monitorPointTable = table.render({
            elem: '#monitor_point_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'name',
                        title: '监测点名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        title: '工作场所和监测危害因素',
                        align: 'center',
                        minWidth: 200,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='monitorWorkplaceHarmFactor(" + data.id + ")'>"
                                + (data.monitorWorkplaceHarmFactorNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#monitor_point_bar',
                        width: 120
                    }
                ]
            ],
            url: 'monitorPoint/listMonitorPoints',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseMonitorPoints
                };
            },
            autoSort: false
        });
        // 监测点table排序
        table.on('sort(monitor_point_table)', function (obj) {
            requeryMonitorPoint(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('monitor_point_table');
                if (name === 'add') {
                    xadmin.modal.open("新增监测点", "monitorPoint/addMonitorPoint", {
                        btn: ['提交', '重置'],
                        area: '550px',
                        yes: function (index, layero) {
                            $('#edit-monitor-point').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-monitor-point').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的监测点');
                    } else {
                        var flag = true;
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            if (item.monitorWorkplaceHarmFactorNum != 0) {
                                xadmin.alert.warn('有监测点存在工作场所和监测危害因素，不能删除');
                                flag = false;
                                return true;
                            }
                            ids.push(item.id);
                        });
                        if (flag) {
                            $.ajax({
                                url: 'monitorPoint/deleteMonitorPoints',
                                type: 'post',
                                dataType: 'json',
                                traditional: true,
                                data: {ids: ids},
                                success: function (result) {
                                    if (result.status === 'success') {
                                        xadmin.alert.success(result.message);
                                        requeryMonitorPoint();
                                    } else {
                                        xadmin.alert.error(result.message);
                                    }
                                }
                            });
                        }
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增监测点'
            }, {
                name: 'delete',
                title: '删除监测点'
            }]
        });
        // 监听监测点table行事件（编辑、删除）
        table.on('tool(monitor_point_table)', function (obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑监测点", "monitorPoint/editMonitorPoint/" + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-monitor-point').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.monitorWorkplaceHarmFactorNum != 0) {
                    xadmin.alert.warn('该监测点存在工作场所和监测危害因素，不能删除');
                    return;
                }
                layer.confirm('确定要删除该监测点吗？', function (index) {
                    $.ajax({
                        url: 'monitorPoint/deleteMonitorPoint',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryMonitorPoint();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryMonitorPoint = function (sort) {
            var options = {
                page: {
                    curr: 1
                },
                where: {
                    keyword: $('#monitor_point_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            monitorPointTable.reload(options);
        }
        $query.on('click', function () {
            requeryMonitorPoint();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryMonitorPoint();
        });
        // 监测点关联的作业场所和监测危害因素(一对多)
        window.monitorWorkplaceHarmFactor = function (monitorPointId) {
            xadmin.modal.open("作业场所和监测危害因素", "monitorPoint/monitorWorkplaceHarmFactor/" + monitorPointId, {
                area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
            });
        }

        // 监测、检测点示意图table
        var schematicDiagramTable = table.render({
            elem: "#schematic_diagram_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "示意图",
                        align: "center",
                        minWidth: 100,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "描述",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#schematic_diagram_bar',
                        width: 120
                    }
                ]
            ],
            url: "schematicDiagram/listSchematicDiagrams",
            method: "post",
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);


                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseRelationFiles
                }
            },
            where: {
                relationModule: '监测、检测点示意图',
                keyword: $('#schematic_diagram_keyword').val().trim()
            },
            autoSort: false
        });
        // 监测、检测点示意图table排序
        table.on('sort(schematic_diagram_table)', function (obj) {
            requerySchematicDiagram(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.schematic-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('schematic_diagram_table');
                if (name === 'add') {
                    xadmin.modal.open("新增监测、检测点示意图", "schematicDiagram/addSchematicDiagram", {
                        btn: ['提交', '重置'],
                        area: '600px',
                        yes: function (index, layero) {
                            $('#edit-schematic-diagram').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-schematic-diagram').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的监测、检测点示意图');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'schematicDiagram/deleteSchematicDiagrams',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requerySchematicDiagram();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增示意图'
            }, {
                name: 'delete',
                title: '删除示意图'
            }]
        });
        // 监听监测、检测点示意图table行事件（编辑、删除）
        table.on('tool(schematic_diagram_table)', function (obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑监测、检测点示意图", "schematicDiagram/editSchematicDiagram/" + data.id, {
                    btn: ['提交', '取消'],
                    area: '680px',
                    yes: function (index, layero) {
                        $('#edit-schematic-diagram').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该监测、检测点示意图吗？', function (index) {
                    $.ajax({
                        url: 'schematicDiagram/deleteSchematicDiagram',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            filePath: data.filePath
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requerySchematicDiagram();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询监测、检测点示意图table
        window.requerySchematicDiagram = function (sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#schematic_diagram_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            schematicDiagramTable.reload(options);
        }
        $querySchematicDiagram.on('click', function () {
            requerySchematicDiagram();
        });
        // 重置刷新
        $resetSchematicDiagram.on('click', function () {
            $searchForm[1].reset();
            requerySchematicDiagram();
        });
    });
</script>