<div class="layui-fluid layui-anim xadmin-anim" id="select-run-equipment">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md10">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="select_run_equipment_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="querySelectRunEquipment">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetSelectRunEquipment">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="select_run_equipment_table" lay-filter="select_run_equipment_table"></table>
    <div class="layui-form-item xadmin-hide">
        <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="select-run-equipment"></button>
        <button type="reset" class="layui-btn" id="reset"></button>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            $view = $('#select-run-equipment'),
            $querySelectRunEquipment = $view.find('#querySelectRunEquipment'),
            $resetSelectRunEquipment = $view.find('#resetSelectRunEquipment'),
            $searchForm = $view.find('form');
        form.render();
        let currentIndex = layer.index;
        // 记录id，记录类型(运行记录)
        var recordId = [[${recordId}]],
            type = [[${type}]];
        // 尚未运行的设备table
        var selectRunEquipmentTable = table.render({
            elem: "#select_run_equipment_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "equipmentName",
                        title: "设备名称",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    }
                ]
            ],
            url: 'equipmentUse/listSelectRunEquipmentsByRecordId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.selectRunEquipments
                };
            },
            where: {
                keyword: $('#select_run_equipment_keyword').val().trim(),
                recordId: recordId,
                type: type
            },
            autoSort: false
        });
        // table排序
        table.on('sort(select_run_equipment_table)', function (obj) {
            requerySelectRunEquipment(obj);
        });
        // 查询
        window.requerySelectRunEquipment = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#select_run_equipment_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            selectRunEquipmentTable.reload(options);
        }
        $querySelectRunEquipment.on('click', function() {
            requerySelectRunEquipment();
        });
        // 重置刷新
        $resetSelectRunEquipment.on('click', function () {
            $searchForm[0].reset();
            requerySelectRunEquipment();
        });
        // 表单提交
        form.on('submit(select-run-equipment)', function(data) {
            var checkStatus = table.checkStatus("select_run_equipment_table");
            if (checkStatus.data.length == 0) {
                layer.msg("请选择要提交的运行设备", {icon: 5});
                return;
            }
            var loadingIndex = parent.layer.load(2);
            var runEquipmentList = [];
            $.each(checkStatus.data, function (index, data) {
                runEquipmentList.push({
                    recordId: recordId,
                    type: type,
                    equipmentId: data.equipmentId
                });
            });
            $.ajax({
                url: "equipmentUse/selectRunEquipment/save",
                type: "post",
                dataType: "json",
                data: {"runEquipmentListJSON": JSON.stringify(runEquipmentList)},
                success: function (result) {
                    if (result.status == "success"){
                        layer.msg(result.message, {icon: 6});
                        layer.close(currentIndex);
                        parent.requerySelectedRunEquipment();
                    }else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>