<div class="layui-fluid" id="role-update">
    <form class="layui-form layui-table-form" action="" lay-filter="role-update-form">
        <div class="layui-form-item xadmin-hide">
            <label class="layui-form-label xadmin-form-item-require">角色ID：</label>
            <div class="layui-input-block">
                <input type="text" name="id" class="layui-input" data-th-value="${role.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">角色名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" autocomplete="off" class="layui-input" minlength="2"
                       maxlength="10" lay-verify="range">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色描述：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="50" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色权限：</label>
            <div class="layui-input-block menu-tree" lay-filter="menu-tree" style="margin-top: .8rem;"></div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="reset" class="layui-btn" id="reset-form"></button>
            <button class="layui-btn" id="reset-menutree"></button>
            <button class="layui-btn" lay-submit="" lay-filter="role-update-form-submit"
                    id="submit-form"></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use([ 'jquery',  'xadmin', 'form', 'eleTree', 'validate'], function () {
        var $ = layui.jquery,
            xadmin = layui.xadmin,
            form = layui.form,
            eleTree = layui.eleTree,
            role = [[${role}]];

        form.render();

        //显示资源树
        var menuTree = eleTree.render({
            elem: '.menu-tree',
            url: ctx + 'menu/tree',
            showCheckbox: true,
            where: {
                "invalidate_ie_cache": new Date()
            },
            accordion: true,
            renderAfterExpand: false,
            checkStrictly:false,
            request: {
                name: "title",
                key: "id",
                children: "childs",
                checked: "checked",
                data: "data"
            },
            response: {
                statusName: "code",
                statusCode: 200,
                dataName: "data"
            },
            done:function(){
                if (role.menuIds) {
                    menuTree.setChecked(role.menuIds.split(','), true);
                } else {
                    menuTree.setChecked([], true);
                }
            }
        });

        initUserValue();

        function initUserValue() {
            form.val("role-update-form", {
                "name": role.name,
                "description": role.description
            });
        }

        $("#reset-menutree").on("click",function(){
            $('#role-add').find('#reset-form').trigger('click');
            menuTree.setChecked([], true);
            menuTree.unExpandAll();
        })

        form.on('submit(role-update-form-submit)', function (data) {
            var selected = menuTree.getChecked(false, true);
            var menuIds = [];
            layui.each(selected, function (key, item) {
                menuIds.push(item.id)
            });
            data.field.menuIds = menuIds.join(',');
            if (!menuIds.length) {
                xadmin.modal.confirm('提示', '当前角色未授予任何权限，是否继续？', function () {
                    updateRole(data.field);
                });
            } else {
                updateRole(data.field);
            }
            return false;
        });

        var updateRole = function (data) {
            console.log(data);
            xadmin.post(ctx + 'role/update', data, function () {
                layer.closeAll();
                xadmin.alert.success('修改角色成功');
                $('#xadmin-enterprise-role').find('#query').trigger('click');
            });
        }

    });
</script>