<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-role" lay-title="权限管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form" lay-filter="role-table-form" id="role-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10 layui-col-sm10 layui-col-xs10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">角色名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="roleName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                >
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="roleTable" lay-data="{id: 'roleTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="role-option">
    <a lay-event="edit"><i class="layui-icon xadmin-edit-area xadmin-blue">&#xe7a4;</i></a>
    <a lay-event="del" ><i class="layui-icon xadmin-edit-area xadmin-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'xadmin', 'form', 'eleTree', 'table', 'validate'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            xadmin = layui.xadmin,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            validate = layui.validate,
            $view = $('#xadmin-enterprise-role'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('#role-table-form'),
            tableIns;

            form.verify(validate);
        form.render();

        initTable();

        laydate.render({
            elem: '#gmtCreate',
            range: true
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('roleTable');
                if (name === 'add') {
                    xadmin.modal.open('新增角色', 'role/add', {
                        btn: ['提交', '重置'],
                        area: [$(window).width() <= 750 ? '95%' : '50%','500px'],
                        yes: function (index, layero) {
                            $('#role-add').find('#submit-form').trigger('click');
                        },
                        btn2: function () {
                            $('#role-add').find('#reset-menutree').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的角色');
                    } else {
                        xadmin.modal.confirm('删除角色', '确定删除所选角色？', function () {
                            var roleIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                roleIds.push(item.id);
                            });
                            deleteRoles(roleIds.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增角色'
            }, {
                name: 'delete',
                title: '删除角色'
            }]
        });


        table.on('tool(roleTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'edit') {
                xadmin.modal.open('修改角色', 'role/update/'+data.id, {
                    btn: ['提交', '取消'],
                    area: [$(window).width() <= 750 ? '95%' : '50%','500px'],
                    yes: function () {
                        $('#role-update').find('#submit-form').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'del') {
                xadmin.modal.confirm('删除角色', '确定删除该角色？', function () {
                    deleteRoles(data.id);
                });
            }
        });

        $query.on('click', function () {
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        function initTable() {
            tableIns = xadmin.table.init({
                elem: $view.find('table'),
                id: 'roleTable',
                url: ctx + 'role/list',
                cols: [[
                    {type: 'checkbox',width: 50},
                    {field: 'name', title: '角色名称', width: 180},
                    {field: 'description', title: '角色描述',minWidth: 120},
                    {field: 'gmtCreate', title: '创建时间', width: 180,templet:function (data) {
                            return layui.util.toDateString(data.gmtCreate,"yyyy-MM-dd HH:mm:ss");
                        }},
                    {title: '操作', toolbar: '#role-option', width: 100}
                ]]
            });
        }

        function getQueryParams() {
            return {
                name: $searchForm.find('input[name="roleName"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        function deleteRoles(roleIds) {
            xadmin.get(ctx + 'role/delete/' + roleIds, null, function () {
                xadmin.alert.success('删除角色成功');
                $query.trigger('click');
            })
        }

    });
</script>

