<style type="text/css">
    #ehs-enterprise-baseinfo .layui-form-label {
        width: 155px;
    }

    #ehs-enterprise-baseinfo .layui-input-block {
        margin-left: 185px;
        line-height: 36px;
    }
    #ehs-enterprise-baseinfo img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    #ehs-enterprise-baseinfo .enterprise-name {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
    }
    #ehs-enterprise-baseinfo .label-name {
        font-weight: 600;
    }
</style>
<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-baseinfo" lay-title="基本信息">
    <div class="layui-row xadmin-container">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="enterprise_form">
                    <input id="enterprise_id" name="id" type="hidden" th:value="${enterpriseBaseinfo?.id}"/>
                    <div class="layui-fluid">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs12" style="padding: 10px 115px;">
                                <div class="img-container">
                                    <img th:if=" ${enterpriseBaseinfo?.icon != null &amp;&amp; enterpriseBaseinfo?.icon != ''}"
                                         th:src="${'/downloadFile?filePath=' + enterpriseBaseinfo?.icon}" />
                                    <img th:if=" ${enterpriseBaseinfo?.icon == null || enterpriseBaseinfo?.icon == ''}"
                                         src="/xadmin/images/qytb.png"/>
                                    <span class="enterprise-name" th:text="${enterpriseBaseinfo?.name}"></span>
                                </div>
                            </div>

                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">企业地址</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.address}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">所属城市</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.city}">
                                </div>
                            </div>

                            <!--<div class="layui-col-xs6">
                                <label class="layui-form-label ">经度：</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.longitude}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label ">纬度：</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.latitude}">
                                </div>
                            </div>-->

                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">法人代表</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.representName}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">联系方式</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.representPhone}">
                                </div>
                            </div>

                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">负责人</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.dutyName}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">联系方式</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.dutyPhone}">
                                </div>
                            </div>

                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">建厂时间</label>
                                <div class="layui-input-block"
                                     th:text="${#dates.format(enterpriseBaseinfo?.buildDate, 'yyyy-MM-dd')}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">注册类型</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.registerType}"></div>
                            </div>

                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">涉害程度</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.harmDegree}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label label-name">存在高毒作业场所</label>
                                <div class="layui-input-block" th:if="${0 == enterpriseBaseinfo?.isHighlyToxic}">否</div>
                                <div class="layui-input-block" th:if="${1 == enterpriseBaseinfo?.isHighlyToxic}">是</div>
                                <div class="layui-input-block"
                                     th:if="${null == enterpriseBaseinfo?.isHighlyToxic || '' ==  enterpriseBaseinfo?.isHighlyToxic}"></div>
                            </div>

                            <!--<div class="layui-col-xs6">
                                <label class="layui-form-label ">涉害职工总人数：</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.harmTotalNumber}">
                                </div>
                            </div>

                            <div class="layui-col-xs6">
                                <label class="layui-form-label ">涉害女工人数：</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.harmWomanNumber}">
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <label class="layui-form-label ">涉害农民工人数：</label>
                                <div class="layui-input-block" th:text="${enterpriseBaseinfo?.harmFarmerNumber}">
                                </div>
                            </div>-->

                        </div>

                        <div class="layui-form-item" style="padding: 10px 115px 0;">
                            <div class="layui-inline">
                                <div class="layui-input-inline" style="width: auto;">
                                    <button id="edit_btn" type="button" class="layui-btn" style="background-color: #009688;">编辑</button>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="layui-row">
                              <div class="layui-col-xs12">
                                  <label class="layui-form-label">检测、监测点示意图：</label>
                                  <div class="layui-input-block">
                                      <img th:if="${enterpriseBaseinfo?.hintPicture != null &amp;&amp; enterpriseBaseinfo?.hintPicture != ''}"
                                           th:src="${'/downloadFile?filePath=' + enterpriseBaseinfo?.hintPicture}"
                                           style="width: auto;height: 150px"/>
                                      <img th:if="${enterpriseBaseinfo?.hintPicture == null || enterpriseBaseinfo?.hintPicture == ''}"
                                           style="width: auto;height: 150px" src="/xadmin/images/zwtp.png"/>
                                  </div>
                              </div>
                          </div>-->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "table", "layer", "util", "common", "dropdown", "xadmin"], function () {
        let $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            form = layui.form,
            util = layui.util,
            common = layui.common;

        //编辑企业信息
        $("#edit_btn").on("click", function () {
            var id = $("#enterprise_id").val();
            xadmin.modal.open('编辑企业', 'basicInfo/update/' + id, {
                btn: ['提交', '取消'],
                area: $(window).width() <= 750 ? '95%' : '70%',
                data: {
                    "id": id
                },
                yes: function (index, layero) {
                    $('#ehs-enterprise-baseinfo-edit').find('#submit').trigger('click');
                },
                btn2: function () {
                    layer.closeAll();
                }
            });
        })


    })
</script>

