<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-certificate">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="certificate_detail_table" lay-filter="certificate_detail_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["jquery", "form", "table", "layer",'xadmin'], function () {
        let $ = layui.$,
            xadmin = layui.xadmin,
            table = layui.table,
            layer = layui.layer,
            form = layui.form;
        var relationId = [[${relationId}]];
        let certificateDetailTable = table.render({
            elem: "#certificate_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        title: "附件",
                        align: "center",
                        minWidth: 120,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    }
                ]
            ],
            url: "hygieneOrg/certificate/getList",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.list
                };
            },
            where: {
                hygieneOrgId: relationId
            }
        });
    });
</script>