<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-health-responsibility-account" lay-title="责任制台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="health_responsibility_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">管理组织</li>
                            <li>责任制文件</li>
                            <li>往来文件记录</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="hygiene_org_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryHygieneOrg">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetHygieneOrg">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadHygieneOrg();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="hygiene-org-list-table" lay-filter="hygiene-org-list-table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetHealthResponsibility">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="health_responsibility_table" lay-filter="health_responsibility_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="file_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryFile">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetFile">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadFile();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="file_table" lay-filter="file_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-health-responsibility-account'),
            $queryHygieneOrg = $view.find('#queryHygieneOrg'),
            $queryFile = $view.find('#queryFile'),
            $resetHygieneOrg = $view.find('#resetHygieneOrg'),
            $resetHealthResponsibility = $view.find('#resetHealthResponsibility'),
            $resetFile = $view.find('#resetFile'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 职业健康管理组织和有关监管文件的数目
        var hygieneOrgNum = '',
            fileNum = '';
        // 职业卫生组织管理table
        var hygieneOrgTable = table.render({
            elem: "#hygiene-org-list-table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "管理者姓名",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "department",
                        title: "部门",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "job",
                        title: "职务",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "duty",
                        title: "职责",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "isFulltime",
                        title: "是否全职",
                        align: "center",
                        sort: true,
                        minWidth: 120,
                        templet: function (data) {
                            var isFulltime = "";
                            if (data.isFulltime === 0) {
                                isFulltime = "否";
                            } else if (data.isFulltime === 1) {
                                isFulltime = "是";
                            }
                            return isFulltime;
                        }
                    },
                    {
                        field: "employFile",
                        title: "聘用书",
                        align: "center",
                        minWidth: 120,
                        templet: function (data) {
                            if (data.employFile) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.employFile + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "certificateNum",
                        title: "资质证书",
                        align: "center",
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='certificateDetail(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>"
                        }
                    }
                ]
            ],
            url: "hygieneOrg/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                hygieneOrgNum = result.data.total;
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            autoSort: false
        });
        // 职业卫生组织管理table排序
        table.on("sort(hygiene-org-list-table)", function (obj) {
            requeryHygieneOrgAccount(obj);
        });
        // 职业卫生组织管理table查询
        requeryHygieneOrgAccount = function(sort){
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },where: {
                    keyword: $("#hygiene_org_keyword").val().trim()
                }
            }
            if (sort) {
                // options.initSort = sort;
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            hygieneOrgTable.reload(options);
        }
        $queryHygieneOrg.on('click', function() {
            requeryHygieneOrgAccount();
        });
        // 职业卫生组织管理table重置刷新
        $resetHygieneOrg.on('click', function () {
            $searchForm[0].reset();
            requeryHygieneOrgAccount();
        });

        // 责任制文件table
        var healthResponsibilityTable = table.render({
            elem: '#health_responsibility_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'fileType',
                        title: '文件类型',
                        align: 'center',
                        sort: true,
                        minWidth: 160
                    },
                    {
                        field: 'fileName',
                        title: '文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: 'responsibility/listResponsibility',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseManageFiles
                };
            }
        });
        // 责任制文件table重置刷新
        $resetHealthResponsibility.on('click', function () {
            healthResponsibilityTable.reload();
        });

        // 文件管理table
        var fileTable = table.render({
            elem: '#file_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'fileNumber',
                        title: '文件编号',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'transmDate',
                        title: '收发时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.transmDate) {
                                return util.toDateString(d.transmDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'fileName',
                        title: '文件名称',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'transmUnit',
                        title: '收发单位',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'transmPerson',
                        title: '签收（发）人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '往来文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='correspondFileDetail(" + data.id + ",\"往来文件\")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    }
                ]
            ],
            url: 'file/listFiles',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                fileNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseFiles
                };
            },
            autoSort: false
        });
        // 文件管理table排序
        table.on('sort(file_table)', function (obj) {
            requeryFileAccount(obj);
        });
        // 文件管理table查询
        window.requeryFileAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },where: {
                    keyword: $("#file_keyword").val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            fileTable.reload(options);
        }
        $queryFile.on('click', function() {
            requeryFileAccount();
        });
        // 文件管理table重置刷新
        $resetFile.on('click', function () {
            $searchForm[2].reset();
            requeryFileAccount();
        });

        // 资质证书详细
        window.certificateDetail = function(relationId) {
            xadmin.modal.open("职业卫生组织资质证书","healthResponsibility/certificateDetail/" + relationId,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 往来文件详细
        window.correspondFileDetail = function(relationId, relationModule) {
            xadmin.modal.open("往来文件","healthResponsibility/correspondFileDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadHealthResponsibility();
                }
                if (name === 'exportAccount') {
                    downloadHealthResponsibilityAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 管理组织word下载
        window.downloadHygieneOrg = function() {
            // 如果没有数据，进行提示，不能下载
            if (hygieneOrgNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/healthResponsibilityAccount/downloadHygieneOrg?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 往来文件记录word下载
        window.downloadFile = function() {
            // 如果没有数据，进行提示，不能下载
            if (fileNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/healthResponsibilityAccount/downloadFile?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 责任制台账zip下载
        window.downloadHealthResponsibility = function() {
            // 如果没有数据，进行提示，不能下载
            if (hygieneOrgNum == '' && fileNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/healthResponsibilityAccount/downloadHealthResponsibility?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 责任制台账文件下载
        window.downloadHealthResponsibilityAccount = function() {
            // 如果没有数据，进行提示，不能下载
            if (hygieneOrgNum == '' && fileNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/healthResponsibilityAccount/downloadHealthResponsibilityAccount?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>