<style>
    #edit-disease-diagnosi {
        padding: 20px 25px 25px 0;
    }
    #edit-disease-diagnosi .layui-form-label {
        width: 125px;
    }
    #edit-disease-diagnosi .layui-input-block {
        margin-left: 155px;
    }
</style>
<div class="layui-fluid" id="edit-disease-diagnosi">
    <form id="disease_diagnosi_form" class="layui-form" action="" lay-filter="disease-diagnosi-form">
        <input id="id" name="id" type="hidden" th:value="${employeeDiseaseDiagnosi?.id}" />
        <input id="employee_id" name="employeeId" type="hidden" th:value="${employeeDiseaseDiagnosi?.employeeId}" />
        <input id="medical_id" name="medicalId" type="hidden" th:value="${employeeDiseaseDiagnosi?.medicalId}" />
        <input id="certificate" name="medicalCertificate" type="hidden" th:value="${employeeDiseaseDiagnosi?.medicalCertificate}" />
        <input id="curName" name="name" type="hidden" th:value="${employeeDiseaseDiagnosi?.name}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">诊断时间：</label>
            <div class="layui-input-block">
                <input type="text" id="diagnosiDate" name="diagnosiDate" placeholder="请选择诊断时间" lay-verify="required"
                       th:value="${#dates.format(employeeDiseaseDiagnosi?.diagnosiDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">是否确诊职业病：</label>
            <div class="layui-input-block">
                <select id="isCertain" name="isCertain" lay-filter="isCertain"  lay-verify="required">
                    <option value="" selected>请选择是否确诊职业病</option>
                    <option value="1" th:selected="${1 == employeeDiseaseDiagnosi?.isCertain}">是</option>
                    <option value="0" th:selected="${0 == employeeDiseaseDiagnosi?.isCertain}">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">是否调离：</label>
            <div class="layui-input-block">
                <select id="isTransferred" name="isTransferred" lay-verify="required">
                    <option value="" selected>请选择是否调离</option>
                    <option value="1" th:selected="${1 == employeeDiseaseDiagnosi?.isTransferred}">是</option>
                    <option value="0" th:selected="${0 == employeeDiseaseDiagnosi?.isTransferred}">否</option>
                </select>
            </div>
        </div>
        <div id="diseaseName"></div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">诊断医院：</label>
            <div class="layui-input-block">
                <input type="text" id="hospital" name="hospital" placeholder="请输入诊断医院" maxlength="100"
                       th:value="${employeeDiseaseDiagnosi?.hospital}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">诊断级别：</label>
            <div class="layui-input-block">
                <input type="text" id="diagnosiLevel" name="diagnosiLevel" placeholder="请输入诊断级别" maxlength="50"
                       th:value="${employeeDiseaseDiagnosi?.diagnosiLevel}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">疾病描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入疾病描述" maxlength="100"
                       th:value="${employeeDiseaseDiagnosi?.description}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">诊断书：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="medical_certificate_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="medical_certificate_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" id="remark" placeholder="请输入备注" maxlength="200"
                       th:value="${employeeDiseaseDiagnosi?.remark}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="diseaseDiagnosi"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        let currentIndex = layer.index;
        // 日期组件
        laydate.render({
            elem: '#diagnosiDate',
            type: 'date'
        });
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#certificate').val() != '') {
                $('#filePath').val($('#certificate').val().substring($('#certificate').val().lastIndexOf('/') + 1));
            }
            $('#medical_certificate_file').after('<button type="button" id="medical_certificate_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 诊断书上传
        $('#medical_certificate_btn').click(function (event) {
            $('#medical_certificate_file').click();
        });
        $('#medical_certificate_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        //初始化职业病名称
        var isCertain = $('#isCertain').val();
        if(isCertain==1){
            html = '<div class="layui-form-item" id="diseaseName">\n' +
                '            <label class="layui-form-label xadmin-form-item-require">职业病名称：</label>\n' +
                '            <div class="layui-input-block">\n' +
                '                <input type="text" id="name" name="name" placeholder="请输入职业病名称" maxlength="100"\n' +
                '                       th:value="${employeeDiseaseDiagnosi?.name}" class="layui-input" lay-verify="required">\n' +
                '            </div>\n' +
                '        </div>';
            $('#diseaseName').html(html);
            $('#name').val($('#curName').val());
        }
        // 监听是否职业病，动态显示div
        form.on('select(isCertain)', function(data) {
            var html = '';
            if (data.value ==1) {
                html = '<div class="layui-form-item" id="diseaseName">\n' +
                    '            <label class="layui-form-label xadmin-form-item-require">职业病名称：</label>\n' +
                    '            <div class="layui-input-block">\n' +
                    '                <input type="text" id="name" name="name" placeholder="请输入职业病名称" maxlength="100"\n' +
                    '                       th:value="${employeeDiseaseDiagnosi?.name}" class="layui-input" lay-verify="required">\n' +
                    '            </div>\n' +
                    '        </div>';
                $('#diseaseName').html(html);
            } else{
                $('#diseaseName').html("");
            }
        });
        // 表单提交
        form.on('submit(diseaseDiagnosi)', function(data) {
            var employeeDiseaseDiagnosi = {};
            $.each($("#disease_diagnosi_form input[name],select[name]"), function (index, element) {
                employeeDiseaseDiagnosi[$(this).attr("name")] = $(this).val().trim();
            });
            // 如果不是职业病，将职业病名称设为空
            if ($('#disease_diagnosi_form #isCertain').val() == 0) {
                employeeDiseaseDiagnosi['name'] = '';
            }
            if (employeeDiseaseDiagnosi) {
                var medicalCertificateFiles = $("#medical_certificate_file")[0].files;
                if (!$("#certificate").val() && medicalCertificateFiles.length == 0) {
                    layer.msg("诊断书未选择", {icon: 5});
                    return;
                }
                // 备注
                var remark = $('#remark').val().trim();
                if (remark) {
                    employeeDiseaseDiagnosi['remark'] = remark;
                }
                var formData = new FormData();
                formData.append("employeeDiseaseDiagnosiJSON", JSON.stringify(employeeDiseaseDiagnosi));
                if (medicalCertificateFiles.length != 0) {
                    formData.append("medicalCertificateFile", medicalCertificateFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'medical/diseaseDiagnosi/editDiseaseDiagnosi/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            layer.close(currentIndex);
                            parent.requery();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#medical_certificate_download').click(function (event) {
            var filePath = $('#certificate').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>