<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-disease-diagnosi">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: auto;">
                                <button type="button" class="layui-btn" onclick="addDiseaseDiagnosi();">添加</button>
                                <button type="button" class="layui-btn" onclick="deleteDiseaseDiagnosi();">删除</button>
                            </div>
                        </div>
                    </form>
                    <table id="disease_diagnosi_table" lay-filter="disease_diagnosi_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 职业病诊断table行查看、编辑、删除 -->
<script type="text/html" id="disease_diagnosi_bar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 体检id
    var medicalId = [[${medicalId}]];
    // 体检员工id
    var employeeId = [[${employeeId}]];
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin'], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin;
        var diseaseDiagnosiTable = table.render({
            elem: "#disease_diagnosi_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'diagnosiDate',
                        title: '诊断时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.diagnosiDate) {
                                return util.toDateString(d.diagnosiDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: "isCertain",
                        title: "是否确诊职业病",
                        align: "center",
                        sort: true,
                        minWidth: 160,
                        templet: function (data) {
                            var isCertain = "";
                            if (data.isCertain === 0) {
                                isCertain = "否";
                            } else if (data.isCertain === 1) {
                                isCertain = "是";
                            }
                            return isCertain;
                        }
                    },
                    {
                        field: "isTransferred",
                        title: "是否调离",
                        align: "center",
                        sort: true,
                        minWidth: 120,
                        templet: function (data) {
                            var isTransferred = "";
                            if (data.isTransferred === 0) {
                                isTransferred = "否";
                            } else if (data.isTransferred === 1) {
                                isTransferred = "是";
                            }
                            return isTransferred;
                        }
                    },
                    {
                        field: "name",
                        title: "职业病名称",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "hospital",
                        title: "诊断医院",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'diagnosiLevel',
                        title: '诊断级别',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "description",
                        title: "疾病描述",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'medicalCertificate',
                        title: '诊断书',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.medicalCertificate) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.medicalCertificate + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#disease_diagnosi_bar',
                        width: 120
                    }
                ]
            ],
            url: "medical/diseaseDiagnosi/listDiseaseDiagnosis",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.employeeDiseaseDiagnosis
                };
            },
            where: {
                medicalId: medicalId,
            }
        });
        // 监听职业病诊断table行事件（查看、编辑、删除）
        table.on('tool(disease_diagnosi_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看职业病诊断信息',
                    content: 'diseaseDiagnosi/viewDiseaseDiagnosi?id=' + data.id,
                    area: ['600px', '410px']
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑职业病诊断",'medical/diseaseDiagnosi/editDiseaseDiagnosi/' + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-disease-diagnosi').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该职业病诊断吗？', function(index) {
                    $.ajax({
                        url: 'medical/diseaseDiagnosi/deleteDiseaseDiagnosi',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            medicalCertificate: data.medicalCertificate
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                table.reload('disease_diagnosi_table');
                                parent.requeryMedical();
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requery = function() {
            diseaseDiagnosiTable.reload({
                where: {
                    medicalId: medicalId,
                }
            });
            parent.requeryMedical();
        }
        // 添加
        window.addDiseaseDiagnosi = function() {
            xadmin.modal.open("新增职业病诊断",'medical/diseaseDiagnosi/addDiseaseDiagnosi/' + medicalId + "/" + employeeId,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-disease-diagnosi').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-disease-diagnosi').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 批量删除
        window.deleteDiseaseDiagnosi = function() {
            var checkStatus = table.checkStatus('disease_diagnosi_table');
            if (!checkStatus.data.length) {
                layer.msg('请选择需要删除的职业病诊断', {icon: 5});
            } else {
                var ids = [];
                layui.each(checkStatus.data, function (key, item) {
                    ids.push(item.id)
                });
                $.ajax({
                    url: 'medical/diseaseDiagnosi/deleteDiseaseDiagnosis',
                    type: 'post',
                    dataType: 'json',
                    traditional: true,
                    data: {ids: ids},
                    success: function (result) {
                        if (result.status === 'success') {
                            table.reload('disease_diagnosi_table');
                            parent.requeryMedical();
                            layer.msg(result.message, {icon: 6});
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            }
        }
    });
</script>