<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="provide-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${employeeWorkNotify?.id}" />
        <input id="employeeId" name="employeeId" type="hidden" th:value="${employeeWorkNotify?.employeeId}" />
        <input id="waitWorkNotifyId" name="waitWorkNotifyId" type="hidden" th:value="${employeeWorkNotify?.waitWorkNotifyId}" />
        <input id="employeePostId" name="employeePostId" type="hidden" th:value="${employeeWorkNotify?.employeePostId}" />
        <input id="notifyFile" name="notifyFile" type="hidden" th:value="${employeeWorkNotify?.notifyFile}" />

        <div class="layui-fluid" style="padding: 20px 25px 25px 0">
            <div class="layui-row layui-col-space10">
               <div class="layui-col-xs12">
                   <label class="layui-form-label xadmin-form-item-require" >员工：</label>
                   <div class="layui-input-block">
                       <input id="employeeName" name="post" type="text"  lay-verify="required|model"  readonly th:value="${employeeWorkNotify?.employeeName}" autocomplete="off"  class="layui-input"/>
                   </div>
               </div>


                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >岗位：</label>
                    <div class="layui-input-block">
                        <input id="postName" name="post" type="text" readonly th:value="${employeeWorkNotify?.postName}" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >告知时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="notifyDate" name="notifyDate" readonly placeholder="请选择发放时间"
                               th:value="${#dates.format(employeeWorkNotify?.notifyDate,'yyyy-MM-dd')}" class="layui-input required">
                    </div>
                </div>


                <div class="layui-col-xs12 layui-form-text">
                    <label class="layui-form-label xadmin-form-item-require">告知书：</label>
                    <div class="layui-input-block">
                    <div id="notifyFile_file_name" class="layui-form-mid">
                         <a class="file-download" th:if="${employeeWorkNotify?.notifyFile}" th:attr="filePath = ${employeeWorkNotify?.notifyFile}" th:text="${employeeWorkNotify?.notifyFile.substring(employeeWorkNotify?.notifyFile.lastIndexOf('/') + 1)}"></a>
                   </div>

                    </div>
                </div>

            </div>

            <div class="layui-row xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();
    });
</script>