<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-workNotify" lay-title="岗前告知">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab  layui-tab-brief" lay-filter="medical_type_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">岗前待告知<span class="layui-badge"   id="waitWorkNotifyNum" >0</span></li>
                            <li>岗前告知</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" lay-filter="wait_medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="wait_workNotify_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryWaitWorkNotify">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetWaitWorkNotify">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="wait_workNotify_table" lay-filter="wait_workNotify_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="workNotify_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="workNotify_table" lay-filter="workNotify_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/html" id="protect-option">
    <!--<a lay-event="detail" ><i-->
    <!--class="layui-icon xadmin-edit-area xadmin-green">&#xe7a5;</i></a>-->
    <a lay-event="edit"><i class="layui-icon xadmin-edit-area xadmin-blue">&#xe7a4;</i></a>

</script>
<script type="text/html" id="work_notify_table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="wait_work_notify_table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="waitWorkNotify">生成岗前告知</a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate',  'util','form', 'table', 'xadmin', 'treeSelect','util'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            xadmin = layui.xadmin,
            form = layui.form,
            util = layui.util,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#xadmin-workNotify'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'gmtCreate', type: 'desc'},
            tableIns,waitTableIns;

        form.render();
           /**
         * 初始化数据表格
         */
        function initTable() {
            tableIns = xadmin.table.init({
                elem:  '#workNotify_table',
                id: 'workNotify_table',
                url: ctx + 'workNotify/workList',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'employeeName', title: '员工', width: 100,sort: true},
                    {field: 'postName', title: '岗位', minWidth: 100, sort: true},
                    {
                        field: 'notifyFile', title: '告知书', width: 160, templet: function (data) {
                            if (data.notifyFile) {
                                return "<a class='file-download' filePath='" + data.notifyFile + "'>" + data.notifyFile.substring(data.notifyFile.lastIndexOf("/") + 1) + "</a>";
                            }
                            return "";
                        }
                    },
                    {field: 'notifyDate', title: '告知时间',width: 120, sort: true,
                        templet: function(d) {
                            if (d.notifyDate) {
                                return util.toDateString(d.notifyDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }},
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#work_notify_table_bar',
                        width: 180
                    }
                ]]
            });
        }

        table.on('sort(workNotify_table)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        /**
         * 初始化数据表格
         */
        function initWaitTable() {
            waitTableIns = xadmin.table.init({
                elem:  '#wait_workNotify_table',
                id: 'wait_workNotify_table',
                url: ctx + 'workNotify/waitList',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'employeeName', title: '员工', width: 100,sort: true},
                    {field: 'postName', title: '岗位', minWidth: 100, sort: true},
                    {field: 'workDate', title: '上岗时间',width: 120, sort: true,
                        templet: function(d) {
                            if (d.workDate) {
                                return util.toDateString(d.workDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#wait_work_notify_table_bar',
                        width: 180
                    }
                ]],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);
                    $('#waitWorkNotifyNum').html(result.data.total)
                    return {
                        code: 0,
                        count: result.data.total,
                        data: result.data.rows
                    };
                }
            });
        }
        table.on('sort(wait_workNotify_table)', function (obj) {
            sortObject = obj;
            waitTableIns.reload({
                where: $.extend(getQueryWaitParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        // 监听防护用品发放table行事件（查看、编辑、删除）
        table.on('tool(workNotify_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                xadmin.modal.view('查看岗前告知', 'workNotify/view/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open('编辑岗前告知',  'workNotify/update/' + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#provide-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定删除该岗前告知吗？', function(index) {
                    $.ajax({
                        url: 'workNotify/deleteWork',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 200) {
                                $query.click();
                                $('#queryWaitWorkNotify').click();
                                xadmin.alert.success('删除岗前告知成功！');
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 监听防护用品待发放table行事件（查看、编辑、删除）
        table.on('tool(wait_workNotify_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'waitWorkNotify') {
                xadmin.modal.open('生成岗前告知',  'workNotify/add/' + data.id, {
                    btn: ['提交', '重置'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#provide-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        $('#provide-add').find('#reset').trigger('click');
                        return false;
                    }
                });
            }

        });
        /**
         * 防护用品发放查询
         */
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         *  防护用品发放刷新
         */
        $reset.on('click', function () {
            $searchForm[1].reset();
            sortObject.type = 'desc';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });
        /**
         * 待发放防护用品发放查询
         */
        $('#queryWaitWorkNotify').on('click', function () {
            var params = $.extend(getQueryWaitParams(), {field: sortObject.field, order: sortObject.type});
            waitTableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         *  待发放防护用品发放刷新
         */
        $('#resetWaitWorkNotify').on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'desc';
            waitTableIns.reload({where: getQueryWaitParams(), page: {curr: 1}, initSort: sortObject});
        });


        function reloadTable(){
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        }

        function getQueryParams() {
            return {
                keyword:  $("#workNotify_keyword").val()
            };
        }
        function getQueryWaitParams() {
            return {
                keyword:  $("#wait_workNotify_keyword").val()
            };
        }
        initWaitTable();
        initTable();

    })

</script>