<style>
    #declare-receipt {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="declare-receipt">
    <form id="declare_form" class="layui-form" action="" lay-filter="declare_form">
        <input id="receipt" name="receiptAttachment" type="hidden" th:value="${enterpriseDeclare?.receiptAttachment}" />
        <div class="layui-form-item">
            <label class="layui-form-label">回执日期：</label>
            <div class="layui-input-block">
                <input type="text" id="receiptDate" name="receiptDate" readonly
                       th:value="${#dates.format(enterpriseDeclare?.receiptDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回执文件：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" id="declare_receipt_download" class="layui-btn layui-btn-primary">下载文件</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 文件名
        if ($('#receipt').val() != '') {
            $('#filePath').val($('#receipt').val().substring($('#receipt').val().lastIndexOf('/') + 1));
        }
        // 下载上传文件
        $('#declare_receipt_download').click(function (event) {
            var filePath = $('#receipt').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>