<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-declare-workplace-detail">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="declare_workplace_detail_table" lay-filter="declare_workplace_detail_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            xadmin = layui.xadmin,
            table = layui.table,
            form = layui.form;
        // 申报id
        var declareId = [[${declareId}]];
        // 申报涉及危害场所和危害因素table
        var declareWorkplaceDetailTable = table.render({
            elem: "#declare_workplace_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "workplaceName",
                        title: "作业场所名称",
                        align: "center",
                        minWidth: 150,
                        sort: true
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    }
                ]
            ],
            url: "declare/declareWorkplace/listDeclareWorkplaces",
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.declareWorkplaces
                };
            },
            where: {
                declareId: declareId
            }
        });
    });
</script>
</body>
</html>