<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-workplace-harmfactor-detail">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="harmfactor_detail_table" lay-filter="harmfactor_detail_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 作业场所id
    var workplaceId = [[${workplaceId}]];
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            table = layui.table,
            form = layui.form;
        // 职业病危害因素table
        var harmfactorDetailTable = table.render({
            elem: "#harmfactor_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "harmSource",
                        title: "危害来源",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "deviceStatus",
                        title: "设备状态",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "operationWay",
                        title: "操作方式",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "isPartition",
                        title: "是否隔离",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    }
                ]
            ],
            url: "workplace/harmfactor/listHarmfactors",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.workplaceHarmFactors
                };
            },
            where: {
                workplaceId: workplaceId,
            }
        });
    });
</script>