<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-workplace-identify-file-detail">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="identify_file_detail_table" lay-filter="identify_file_detail_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 关联id
    var relationId = [[${relationId}]];
    // 关联模块
    var relationModule = '[[${relationModule}]]';
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            table = layui.table,
            form = layui.form;
        // 职业病危害警示table
        var identifyFileDetailTable = table.render({
            elem: "#identify_file_detail_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "filePath",
                        title: "附件",
                        align: "center",
                        minWidth: 120,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: "description",
                        title: "文件描述",
                        align: "center",
                        minWidth: 120
                    }
                ]
            ],
            url: "workplace/identifyFile/listIdentifyFiles",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    data: result.data.enterpriseRelationFiles
                };
            },
            where: {
                relationId: relationId,
                relationModule: relationModule
            }
        });
    });
</script>