<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-harm-declare-account" lay-title="申报台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="harm_declare_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">存在危害因素的作业场所</li>
                            <li>作业场所职业病危害因素</li>
                            <li>危害申报记录</li>
                            <li>在岗涉害人数统计</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="harm_workplace_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryHarmWorkplace">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetHarmWorkplace">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadHarmWorkplace();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="harm_workplace_table" lay-filter="harm_workplace_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="workplace_harm_factor_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryWorkplaceHarmFactor">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetWorkplaceHarmFactor">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadWorkplaceHarmFactor();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="workplace_harm_factor_table" lay-filter="workplace_harm_factor_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="harm_declare_record_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryHarmDeclareRecord">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetHarmDeclareRecord">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadHarmDeclareRecord();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="harm_declare_record_table" lay-filter="harm_declare_record_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="touch_harm_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTouchHarm">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTouchHarm">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadTouchHarm();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="touch_harm_table" lay-filter="touch_harm_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-harm-declare-account'),
            $queryHarmWorkplace = $view.find('#queryHarmWorkplace'),
            $queryWorkplaceHarmFactor = $view.find('#queryWorkplaceHarmFactor'),
            $queryHarmDeclareRecord = $view.find('#queryHarmDeclareRecord'),
            $queryTouchHarm = $view.find('#queryTouchHarm'),
            $resetHarmWorkplace = $view.find('#resetHarmWorkplace'),
            $resetWorkplaceHarmFactor = $view.find('#resetWorkplaceHarmFactor'),
            $resetHarmDeclareRecord = $view.find('#resetHarmDeclareRecord'),
            $resetTouchHarm = $view.find('#resetTouchHarm'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 各个table的数据数目
        var harmWorkplaceNum = '',
            workplaceHarmFactorNum = '',
            harmDeclareRecordNum = '',
            medicalInstitutionNum = '',
            touchHarmNum = '';
        // 作业场所table
        var harmWorkplaceTable = table.render({
            elem: '#harm_workplace_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'name',
                        title: '作业场所名称',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'address',
                        title: '作业场所地址',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        title: '职业病危害因素',
                        align: 'center',
                        minWidth: 160,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='harmfactorDetail(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    },
                ]
            ],
            url: 'workplace/listHarmWorkplaces',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                harmWorkplaceNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseWorkplaces
                };
            },
            autoSort: false
        });
        // 危害作业场所table排序
        table.on('sort(harm_workplace_table)', function (obj) {
            requeryHarmWorkplaceAccount(obj);
        });
        // 危害作业场所table查询
        window.requeryHarmWorkplaceAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#harm_workplace_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            harmWorkplaceTable.reload(options);
        }
        $queryHarmWorkplace.on('click', function() {
            requeryHarmWorkplaceAccount();
        });
        // 危害作业场所table重置刷新
        $resetHarmWorkplace.on('click', function () {
            $searchForm[0].reset();
            requeryHarmWorkplaceAccount();
        });

        // 作业场所职业病危害因素table
        var workplaceHarmFactorTable = table.render({
            elem: '#workplace_harm_factor_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'harmFactorName',
                        title: '危害因素名称',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'workplaceName',
                        title: '作业场所名称',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'harmSource',
                        title: '危害来源',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'deviceStatus',
                        title: '设备状态',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'operationWay',
                        title: '操作方式',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'isPartition',
                        title: '是否隔离',
                        align: 'center',
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: 'protectiveMeasureName',
                        title: '工程防护设施',
                        align: 'center',
                        minWidth: 120
                    },
                    {
                        field: 'protectiveEquipmentName',
                        title: '个体防护用品',
                        align: 'center',
                        minWidth: 120
                    }
                ]
            ],
            url: 'workplace/harmfactor/listWorkplaceHarmFactors',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                workplaceHarmFactorNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.workplaceHarmFactorCustoms
                };
            },
            autoSort: false
        });
        // 作业场所职业病危害table排序
        table.on('sort(workplace_harm_factor_table)', function (obj) {
            requeryWorkplaceHarmFactorAccount(obj);
        });
        // 作业场所职业病危害table查询
        window.requeryWorkplaceHarmFactorAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#workplace_harm_factor_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            workplaceHarmFactorTable.reload(options);
        }
        $queryWorkplaceHarmFactor.on('click', function() {
            requeryWorkplaceHarmFactorAccount();
        });
        // 作业场所职业病危害table重置刷新
        $resetWorkplaceHarmFactor.on('click', function () {
            $searchForm[1].reset();
            requeryWorkplaceHarmFactorAccount();
        });

        // 危害申报table
        var harmDeclareRecordTable = table.render({
            elem: '#harm_declare_record_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'declareDate',
                        title: '申报日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            // 统一时间格式
                            if (d.declareDate) {
                                return util.toDateString(d.declareDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'declareType',
                        title: '申报类型',
                        align: 'center',
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: 'declareAttachment',
                        title: '申报附件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.declareAttachment) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.declareAttachment + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '申报涉及的场所和危害因素',
                        align: 'center',
                        minWidth: 200,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='declareWorkplaceDetail(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    },
                    {
                        title: '申报回执',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return data.receiptDate ? "<a href='javascript:void(0);' onclick='viewDeclareReceipt(" + data.id + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>"
                                : "";
                        }
                    }
                ]
            ],
            url: 'declare/listDeclares',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                harmDeclareRecordNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseDeclareCustoms
                };
            },
            autoSort: false
        });
        // 危害申报table排序
        table.on('sort(harm_declare_record_table)', function (obj) {
            requeryHarmDeclareRecord(obj);
        });
        // 危害申报table查询
        window.requeryHarmDeclareRecord = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#harm_declare_record_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            harmDeclareRecordTable.reload(options);
        }
        $queryHarmDeclareRecord.on('click', function() {
            requeryHarmDeclareRecord();
        });
        // 危害申报table重置刷新
        $resetHarmDeclareRecord.on('click', function () {
            $searchForm[2].reset();
            requeryHarmDeclareRecord();
        });

        // 在岗涉害人数统计table
        var touchHarmTable = table.render({
            elem: '#touch_harm_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center",
                        rowspan: 2
                    },
                    {
                        field: 'harmFactorName',
                        title: '职业病危害因素名称',
                        align: 'center',
                        sort: true,
                        minWidth: 180,
                        rowspan: 2
                    },
                    {
                        title: '接触职业病危害人数',
                        align: 'center',
                        minWidth: 300,
                        colspan: 3
                    }
                ],
                [
                    {
                        field: 'totalNum',
                        title: '总人数',
                        align: 'center',
                        sort: true,
                        minWidth: 100,
                    },
                    {
                        field: 'femaleNum',
                        title: '女工',
                        align: 'center',
                        sort: true,
                        minWidth: 100,
                    },
                    {
                        field: 'migrantNum',
                        title: '农民工',
                        align: 'center',
                        sort: true,
                        minWidth: 100,
                    },
                ]
            ],
            url: 'harmDeclareAccount/listTouchHarmNum',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                touchHarmNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.postHarmFactorCustoms
                };
            },
            autoSort: false
        });
        // 接触职业病危害人数table排序
        table.on('sort(touch_harm_table)', function (obj) {
            requeryTouchHarmAccount(obj);
        });
        // 接触职业病危害人数table查询
        window.requeryTouchHarmAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#touch_harm_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            touchHarmTable.reload(options);
        }
        $queryTouchHarm.on('click', function() {
            requeryTouchHarmAccount();
        });
        // 接触职业病危害人数table重置刷新
        $resetTouchHarm.on('click', function () {
            $searchForm[3].reset();
            requeryTouchHarmAccount();
        });

        // 职业病危害警示详细
        window.identifyFileDetail = function(relationId, relationModule) {
            xadmin.modal.open("职业病危害警示","harmDeclare/identifyFileDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 高毒物品告知卡详细
        window.informFileDetail = function(relationId, relationModule) {
            xadmin.modal.open("高毒物品告知卡","harmDeclare/informFileDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 职业危害因素信息卡详细
        window.informationFileDetail = function(relationId, relationModule) {
            xadmin.modal.open("职业危害因素信息卡","harmDeclare/informationFileDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 职业病危害因素详细
        window.harmfactorDetail = function(workplaceId) {
            xadmin.modal.open("职业病危害因素","harmDeclare/harmfactorDetail/" + workplaceId,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 申报涉及的场所和危害因素详细
        window.declareWorkplaceDetail = function(declareId) {
            xadmin.modal.open("申报涉及的场所和危害因素","harmDeclare/declareWorkplaceDetail/" + declareId,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 申报回执
        window.viewDeclareReceipt = function(id) {
            xadmin.modal.open("申报回执","harmDeclare/viewDeclareReceipt/" + id,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadHarmDeclare();
                }
                if (name === 'exportAccount') {
                    downloadHarmDeclareAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 存在职业危害因素的作业场所word下载
        window.downloadHarmWorkplace = function() {
            if (harmWorkplaceNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/harmDeclareAccount/downloadHarmWorkplace?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 作业场所职业病危害因素word下载
        window.downloadWorkplaceHarmFactor = function() {
            if (workplaceHarmFactorNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/harmDeclareAccount/downloadWorkplaceHarmFactor?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 危害申报记录word下载
        window.downloadHarmDeclareRecord = function() {
            if (harmDeclareRecordNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/harmDeclareAccount/downloadHarmDeclareRecord?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 在岗涉害人数统计word下载
        window.downloadTouchHarm = function() {
            if (touchHarmNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/harmDeclareAccount/downloadTouchHarm?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 申报台账zip下载
        window.downloadHarmDeclare = function() {
            if (harmWorkplaceNum == '' && workplaceHarmFactorNum == '' &&
                harmDeclareRecordNum == '' && medicalInstitutionNum == '' &&
                touchHarmNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/harmDeclareAccount/downloadHarmDeclare?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 申报台账文件下载
        window.downloadHarmDeclareAccount = function() {
            if (harmWorkplaceNum == '' && workplaceHarmFactorNum == '' &&
                harmDeclareRecordNum == '' && medicalInstitutionNum == '' &&
                touchHarmNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/harmDeclareAccount/downloadHarmDeclareAccount?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>