<style>
    #edit-outside-check {
        padding: 20px 25px 25px 0;
    }
    #edit-outside-check .layui-form-label {
        width: 95px;
    }
    #edit-outside-check .layui-input-block {
        margin-left: 125px;
    }
</style>
<div class="layui-fluid" id="edit-outside-check">
    <form id="outside_check_form" class="layui-form" action="" lay-filter="outside_check_form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseOutsideCheck?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseOutsideCheck?.enterpriseId}">
        <input id="checkReport" name="checkReport" type="hidden" th:value="${enterpriseOutsideCheck?.checkReport}" />
        <input id="organization" name="organization" type="hidden" th:value="${enterpriseOutsideCheck?.checkOrganizationId}" />
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测日期：</label>
            <div class="layui-input-block">
                <input type="text" id="checkDate" name="checkDate" placeholder="请选择检测日期" lay-verify="required"
                       th:value="${#dates.format(enterpriseOutsideCheck?.checkDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测机构：</label>
            <div class="layui-input-block">
                <select id="checkOrganizationId" name="checkOrganizationId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测报告书：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="check_report_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="check_report_file" type="file" style="display: none;"/>
                <button type="button" id="check_report_download" class="layui-btn layui-btn-primary">下载文件</button>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="outsideCheck"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#checkDate',
            type: 'date'
        });
        // 文件名
        if ($('#checkReport').val() != '') {
            $('#filePath').val($('#checkReport').val().substring($('#checkReport').val().lastIndexOf('/') + 1));
        }
        // 下拉框动态获取检测机构（企业端检测机构获取）
        var option = '<option value="" selected>请选择检测机构</option>';
        $.ajax({
            url: '/inspectionInstitution/getInstitutionByType',
            type: 'post',
            async: false,
            data : {
              type: '检测机构'
            },
            success: function (result) {
                $.each(result.data.enterpriseInspectionInstitutions, function(i, v) {
                    option += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#checkOrganizationId').html(option);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的检测机构
        $("#checkOrganizationId option[value='" + $('#organization').val() + "']").prop('selected',true);
        form.render('select');
        // 检测报告书上传
        $('#check_report_btn').click(function (event) {
            $('#check_report_file').click();
        });
        $('#check_report_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(outsideCheck)', function(data) {
            var enterpriseOutsideCheck = {};
            $.each($("#outside_check_form input[name],select[name]"), function (index, element) {
                enterpriseOutsideCheck[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseOutsideCheck) {
                var checkReportFiles = $("#check_report_file")[0].files;
                if (!$("#checkReport").val() && checkReportFiles.length == 0) {
                    layer.msg("检测报告书未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseOutsideCheckJSON", JSON.stringify(enterpriseOutsideCheck));
                if (checkReportFiles.length != 0) {
                    formData.append("checkReportFile", checkReportFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'outsideCheck/editOutsideCheck/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryOutsideCheck();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#check_report_download').click(function (event) {
            var filePath = $('#checkReport').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>