<style>
    #edit-schematic-diagram {
        padding: 20px 25px 25px 0;
    }
    #edit-schematic-diagram .layui-form-label {
        width: 150px;
    }
    #edit-schematic-diagram .layui-input-block {
        margin-left: 180px;
    }
</style>
<div class="layui-fluid" id="edit-schematic-diagram">
    <form id="schematic_diagram_form" class="layui-form" lay-filter="schematic_diagram_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseRelationFile?.id}">
        <input type="hidden" id="relationId" name="relationId" th:value="${enterpriseRelationFile?.relationId}">
        <input type="hidden" id="relationModule" name="relationModule" th:value="${enterpriseRelationFile?.relationModule}">
        <input type="hidden" id="schematicDiagramName" name="fileName" th:value="${enterpriseRelationFile?.fileName}">
        <input type="hidden" id="schematicDiagram" name="filePath" th:value="${enterpriseRelationFile?.filePath}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">示意图描述：</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" placeholder="请输入文件描述" maxlength="100"
                       th:value="${enterpriseRelationFile?.description}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测、检测点示意图：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="示意图名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="schematic_diagram_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传示意图
                </button>
                <input id="schematic_diagram_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="schematicDiagram"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        let currentIndex = layer.index;
        form.render();
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#schematicDiagram').val() != '') {
                $('#filePath').val($('#schematicDiagramName').val());
            }
            $('#schematic_diagram_file').after('<button type="button" id="schematic_diagram_download" class="layui-btn layui-btn-primary">下载示意图</button>');
        }
        // 监测、检测点示意图上传
        $('#schematic_diagram_btn').click(function (event) {
            $('#schematic_diagram_file').click();
        });
        $('#schematic_diagram_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 预览图片
            $('#schematic_diagram').attr('src', URL.createObjectURL(this.files[0]));
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(schematicDiagram)', function(data) {
            var enterpriseRelationFile = {};
            $.each($("#schematic_diagram_form input[name],select[name]"), function (index, element) {
                enterpriseRelationFile[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseRelationFile) {
                // 检查文件
                var schematicDiagramFiles = $("#schematic_diagram_file")[0].files;
                if (!$("#schematicDiagram").val() && schematicDiagramFiles.length == 0) {
                    layer.msg("监测、检测点示意图未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                formData.append("enterpriseRelationFileJSON", JSON.stringify(enterpriseRelationFile));
                if (schematicDiagramFiles.length != 0) {
                    formData.append("schematicDiagram", schematicDiagramFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'schematicDiagram/editSchematicDiagram/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requerySchematicDiagram();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#schematic_diagram_download').click(function (event) {
            var filePath = $('#schematicDiagram').val();
            if (filePath == '') {
                layer.msg('没有已上传的示意图，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>