<style>
    #edit-inside-monitor {
        padding: 20px 25px 25px 0;
    }
    #edit-inside-monitor .layui-form-label {
        width: 95px;
    }
    #edit-inside-monitor .layui-input-block {
        margin-left: 125px;
    }
</style>
<div class="layui-fluid" id="edit-inside-monitor">
    <form class="layui-form" id="inside_monitor_form" action="" lay-filter="inside_monitor_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseInsideMonitor?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseInsideMonitor?.enterpriseId}">
        <input type="hidden" id="monitorPoint" th:value="${enterpriseInsideMonitor?.monitorPointId}">
        <input type="hidden" id="workplace" th:value="${enterpriseInsideMonitor?.workplaceId}">
        <input type="hidden" id="factor" th:value="${enterpriseInsideMonitor?.harmFactorId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测日期：</label>
            <div class="layui-input-block">
                <input type="text" id="monitorDate" name="monitorDate" placeholder="请选择监测日期" lay-verify="required"
                       th:value="${#dates.format(enterpriseInsideMonitor?.monitorDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测点：</label>
            <div class="layui-input-block">
                <select id="monitorPointId" lay-filter="monitorPointId" name="monitorPointId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">作业场所：</label>
            <div class="layui-input-block">
                <select id="workplaceId" lay-filter="workplaceId" name="workplaceId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">危害因素：</label>
            <div class="layui-input-block">
                <select id="harmFactorId" name="harmFactorId" lay-verify="required">
                    <option value="" selected>请选择危害因素</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测周期：</label>
            <div class="layui-input-block">
                <input type="text" id="monitorPeriod" placeholder="请输入监测周期（天）" maxlength="10" lay-verify="required|number"
                       th:value="${enterpriseInsideMonitor?.monitorPeriod}" name="monitorPeriod" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">限值：</label>
            <div class="layui-input-block">
                <input type="text" id="limitValue" placeholder="请输入接触限值"lay-verify="required"
                       th:value="${enterpriseInsideMonitor?.limitValue}" name="limitValue" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">监测结果：</label>
            <div class="layui-input-block">
                <input type="text" id="monitorResult" placeholder="请输入监测结果" maxlength="20" lay-verify="required"
                       th:value="${enterpriseInsideMonitor?.monitorResult}" name="monitorResult" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="insideMonitor"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#monitorDate',
            type: 'date'
        });
        // 下拉框动态获取监测点
        var option = '<option value="" selected>请选择监测点</option>';
        $.ajax({
            url: 'insideMonitor/getMointorPoint',
            type: 'post',
            async: false,
            success: function (result) {
                $.each(result.data.enterpriseMonitorPoints, function (i, v) {
                    option += '<option value="' + v.id + '">' + v.name + '</option>';
                });
                $('#monitorPointId').html(option);
                form.render('select');
            }
        });
        // 监听监测点select，获取该监测点下的工作场所
        form.on('select(monitorPointId)', function (data) {
            var option1 = '<option value="" selected>请选择作业场所</option>';
            var monitorPointId = data.value;
            if (monitorPointId) {
                $.ajax({
                    url: 'insideMonitor/getWorkplaceByMonitorId',
                    type: 'post',
                    data: {monitorPointId: monitorPointId},
                    async: false,
                    success: function (result) {
                        $.each(result.data.monitorWorkplaces, function (i, v) {
                            option1 += '<option value="' + v.workplaceId + '">' + v.workplaceName + '</option>';
                        });
                        $('#workplaceId').html(option1);
                        form.render('select');
                    }
                });
            } else {
                $('#workplaceId').html(option1);
                form.render('select');
            }
            // 监听工作场所select，获取监测点选中的工作场所下的危害因素信息
            form.on('select(workplaceId)', function (data) {
                var option2 = '<option value="" selected>请选择危害因素</option>';
                var workplaceId = data.value;
                if (workplaceId) {
                    $.ajax({
                        url: 'insideMonitor/getHarmFactorByMonitorWorkplaceId',
                        type: 'post',
                        data: {
                            monitorPointId: monitorPointId,
                            workplaceId: workplaceId
                        },
                        async: false,
                        success: function (result) {
                            $.each(result.data.monitorWorkplaceHarmFactors, function (i, v) {
                                option2 += '<option value="' + v.harmFactorId + '">' + v.harmFactorName + '</option>';
                            });
                            $('#harmFactorId').html(option2);
                            form.render('select');
                        }
                    });
                } else {
                    $('#harmFactorId').html(option2);
                    form.render('select');
                }
            });
        });
        // 如果是编辑，选中相应的监测点，作业场所，危害因素
        if ($('#monitorPoint').val()) {
            // 选中监测点
            $("#monitorPointId option[value='" + $('#monitorPoint').val() + "']").prop('selected', true);
            // 选中作业场所
            var option3 = '<option value="" selected>请选择作业场所</option>';
            $.ajax({
                url: 'insideMonitor/getWorkplaceByMonitorId',
                type: 'post',
                data: {monitorPointId: $('#monitorPoint').val()},
                async: false,
                success: function (result) {
                    $.each(result.data.monitorWorkplaces, function (i, v) {
                        option3 += '<option value="' + v.workplaceId + '">' + v.workplaceName + '</option>';
                    });
                    $('#workplaceId').html(option3);
                    // 选中相应的作业场所
                    $("#workplaceId option[value='" + $('#workplace').val() + "']").prop('selected', true);
                }
            });
            // 选中危害因素
            var option4 = '<option value="" selected>请选择危害因素</option>';
            $.ajax({
                url: 'insideMonitor/getHarmFactorByMonitorWorkplaceId',
                type: 'post',
                data: {
                    monitorPointId: $('#monitorPoint').val(),
                    workplaceId: $('#workplace').val()
                },
                async: false,
                success: function (result) {
                    $.each(result.data.monitorWorkplaceHarmFactors, function (i, v) {
                        option4 += '<option value="' + v.harmFactorId + '">' + v.harmFactorName + '</option>';
                    });
                    $('#harmFactorId').html(option4);
                    // 如果是编辑，选中相应的危害因素
                    $("#harmFactorId option[value='" + $('#factor').val() + "']").prop('selected', true);
                }
            });
            form.render('select');
            // 监听工作场所select，获取监测点选中的工作场所下的危害因素信息
            form.on('select(workplaceId)', function (data) {
                var option5 = '<option value="" selected>请选择危害因素</option>';
                var workplaceId = data.value;
                if (workplaceId) {
                    $.ajax({
                        url: 'insideMonitor/getHarmFactorByMonitorWorkplaceId',
                        type: 'post',
                        data: {
                            monitorPointId: $('#monitorPoint').val(),
                            workplaceId: workplaceId
                        },
                        async: false,
                        success: function (result) {
                            $.each(result.data.monitorWorkplaceHarmFactors, function (i, v) {
                                option5 += '<option value="' + v.harmFactorId + '">' + v.harmFactorName + '</option>';
                            });
                            $('#harmFactorId').html(option5);
                            form.render('select');
                        }
                    });
                } else {
                    $('#harmFactorId').html(option5);
                    form.render('select');
                }
            });
        }
        // 表单提交
        form.on('submit(insideMonitor)', function(data) {
            var enterpriseInsideMonitor = {};
            $.each($("#inside_monitor_form input[name],select[name]"), function (index, element) {
                enterpriseInsideMonitor[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseInsideMonitor) {
                var formData = new FormData();
                formData.append("enterpriseInsideMonitorJSON", JSON.stringify(enterpriseInsideMonitor));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'insideMonitor/editInsideMonitor/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryInsideMonitor();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>