<div class="layui-fluid layui-anim febs-anim" id="xadmin-enterprise-check" lay-title="检测记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="check_type_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">待检测项目<span class="layui-badge" id="waitCheckNum">0</span></li>
                            <li>危害因素检测</li>
                            <li>日常监测</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" lay-filter="wati_check_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="wait_check_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryWaitCheck">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetWaitCheck">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="wait_check_table" lay-filter="wait_check_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="outside_check_type">
                                    <input id="import_file" type="file" style="display: none;"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="outside_check_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryOutsideCheck">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetOutsideCheck">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action outside-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="outside_check_table" lay-filter="outside_check_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="inside_monitor_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="inside_monitor_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryInsideMonitor">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetInsideMonitor">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action inside-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="inside_monitor_table" lay-filter="inside_monitor_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 危害因素检测table行编辑、删除 -->
<script type="text/html" id="outside_check_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="export">导出</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="import">导入</a>
</script>
<!-- 待检测项目table行生成检测记录、删除 -->
<script type="text/html" id="wait_check_bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="add">生成检测记录</a>
</script>
<!-- 日常监测table行编辑、删除 -->
<script type="text/html" id="inside_monitor_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'element', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            element = layui.element,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-check'),
            $queryOutsideCheck = $view.find('#queryOutsideCheck'),
            $queryWaitCheck = $view.find('#queryWaitCheck'),
            $queryInsideMonitor = $view.find('#queryInsideMonitor'),
            $resetOutsideCheck = $view.find('#resetOutsideCheck'),
            $resetWaitCheck = $view.find('#resetWaitCheck'),
            $resetInsideMonitor = $view.find('#resetInsideMonitor'),
            $searchForm = $view.find('form');
        // 危害因素检测table
        var outsideCheckTable = table.render({
            elem: '#outside_check_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'checkDate',
                        title: '检测日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.checkDate) {
                                return util.toDateString(d.checkDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'checkOrganizationName',
                        title: '检测机构',
                        align: 'center',
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: 'checkReport',
                        title: '检测报告书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.checkReport) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.checkReport + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '检测结果',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='checkResult(" + data.id  + ")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#outside_check_bar',
                        width: 220
                    }
                ]
            ],
            url: 'outsideCheck/listOutsideChecks',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseOutsideChecks
                };
            },
            where: {
                keyword: $('#outside_check_keyword').val().trim()
            },
            autoSort: false
        });
        // 危害因素检测排序
        table.on('sort(outside_check_table)', function (obj) {
            requeryOutsideCheck(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.outside-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('outside_check_table');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的危害因素检测');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'outsideCheck/deleteOutsideChecks',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryOutsideCheck();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'delete',
                title: '删除危害检测'
            }]
        });
        // 监听危害因素检测table行事件（编辑、删除、导出、导入）
        table.on('tool(outside_check_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑危害因素检测","outsideCheck/editOutsideCheck/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-outside-check').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该危害因素检测吗？', function(index) {
                    $.ajax({
                        url: 'outsideCheck/deleteOutsideCheck',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            checkReport: data.checkReport
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                xadmin.alert.success(result.message);
                                requeryOutsideCheck();
                            } else {
                                xadmin.alert.error(result.message);
                            }
                        }
                    });
                });
            }
            // 导出
            if (obj.event === 'export') {
                layer.confirm('确认导出文件吗？', function(index) {
                    let checkDate = util.toDateString(data.checkDate, 'yyyy-MM-dd');
                    window.open("outsideCheck/exportExcel?id=" + data.id + "&&checkDate=" + checkDate, "_blank");
                    layer.close(index);
                });
            }
            // 导入
            if (obj.event === 'import') {
                $('#import_file').click();
            }
        });
        // 查询危害因素检测table
        window.requeryOutsideCheck = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#outside_check_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            outsideCheckTable.reload(options);
        }
        $queryOutsideCheck.on('click', function() {
            requeryOutsideCheck();
        });
        // 重置刷新
        $resetOutsideCheck.on('click', function () {
            $searchForm[1].reset();
            requeryOutsideCheck();
        });


        // 待检测项目table
        var waitCheckTable = table.render({
            elem: '#wait_check_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'year',
                        title: '年度',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'checkMonth',
                        title: '检测月份',
                        align: 'center',
                        sort: true,
                        minWidth: 80,
                        templet: function (data) {
                            return data.checkMonth + '月';
                        }
                    },
                    {
                        field: 'harmFactorName',
                        title: '检测危害因素',
                        align: 'center',
                        sort: true,
                        minWidth: 160
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#wait_check_bar',
                        width: 180
                    }
                ]
            ],
            url: 'waitCheck/listWaitChecks',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                $('#waitCheckNum').html(result.data.totalNum);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseWaitChecks
                };
            },
            where: {
                keyword: $('#wait_check_keyword').val().trim(),
                status: 0
            },
            autoSort: false
        });
        // 监听待检测项目table行事件（生成检测记录、删除）
        table.on('tool(wait_check_table)', function(obj) {
            var data = obj.data;
            // 发起体检
            if (obj.event === 'add') {
                xadmin.modal.open("新增检测记录","outsideCheck/addOutsideCheck/" + data.id,{
                    btn: ['提交', '重置'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#add-outside-check').find('#submit').trigger('click');
                        return false;
                    },
                    btn2: function () {
                        $('#add-outside-check').find('#reset').trigger('click');
                        return false;
                    }
                });
            }

            if (obj.event === 'del') {
                xadmin.post(ctx + 'waitCheck/delete/' + data.id, null, function () {
                    xadmin.alert.success('删除数据成功');
                    requeryWaitCheck();
                });
            }


        });
        // 待检测项目排序
        table.on('sort(wait_check_table)', function (obj) {
            requeryWaitCheck(obj);
        });
        // 查询待检测项目table
        window.requeryWaitCheck = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#wait_check_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            waitCheckTable.reload(options);
        }
        $queryWaitCheck.on('click', function() {
            requeryWaitCheck();
        });
        // 重置刷新
        $resetWaitCheck.on('click', function () {
            $searchForm[0].reset();
            requeryWaitCheck();
        });


        // 日常监测table
        var insideMonitorTable = table.render({
            elem: '#inside_monitor_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'monitorDate',
                        title: '监测日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.monitorDate) {
                                return util.toDateString(d.monitorDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'monitorPointName',
                        title: '监测点名称',
                        align: 'center',
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: 'workplaceName',
                        title: '作业场所',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'harmFactorName',
                        title: '职业危害因素',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'limitValue',
                        title: '接触限值',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'monitorPeriod',
                        title: '监测周期',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'monitorResult',
                        title: '监测结果',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#inside_monitor_bar',
                        width: 120
                    }
                ]
            ],
            url: 'insideMonitor/listInsideMonitors',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInsideMonitors
                };
            },
            where: {
                keyword: $('#inside_monitor_keyword').val().trim()
            },
            autoSort: false
        });
        // 日常监测排序
        table.on('sort(inside_monitor_table)', function (obj) {
            requeryInsideMonitor(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.inside-action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('inside_monitor_table');
                if (name === 'add') {
                    xadmin.modal.open("新增日常监测","insideMonitor/editInsideMonitor",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-inside-monitor').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-inside-monitor').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的日常监测');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id)
                        });
                        $.ajax({
                            url: 'insideMonitor/deleteInsideMonitors',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryInsideMonitor();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增日常监测'
            }, {
                name: 'delete',
                title: '删除日常监测'
            }]
        });
        // 监听日常监测table行事件（查看、编辑、删除）
        table.on('tool(inside_monitor_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑日常监测","insideMonitor/editInsideMonitor/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-inside-monitor').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该日常监测吗？', function(index) {
                    $.ajax({
                        url: 'insideMonitor/deleteInsideMonitor',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                xadmin.alert.success(result.message);
                                requeryInsideMonitor();
                            } else {
                                xadmin.alert.error(result.message);
                            }
                        }
                    });
                });
            }
        });
        // 查询日常监测table
        window.requeryInsideMonitor = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#inside_monitor_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            insideMonitorTable.reload(options);
        }
        $queryInsideMonitor.on('click', function() {
            requeryInsideMonitor();
        });
        // 重置刷新
        $resetInsideMonitor.on('click', function () {
            $searchForm[2].reset();
            requeryInsideMonitor();
        });

        // 检测结果
        window.checkResult = function(outsideCheckId) {
            xadmin.modal.open("检测结果","outsideCheck/checkResult/" + outsideCheckId,{
                area: [$(window).width() <= 750 ?  '80%' : '70%', $(window).height() <= 500 ? '85%' : '70%']
            });
        }

        // 导入excel文件
        $('#import_file').change(function (event) {
            if (this.files.length === 0) {
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                xadmin.alert.warn('上传文件大小不能超过20MB');
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            var formData = new FormData();
            formData.append("importFile", this.files[0]);
            // 加载层
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "outsideCheck/importExcel",
                type: 'post',
                dateType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.status === 'success') {
                        xadmin.alert.success(result.message);
                    } else {
                        xadmin.alert.error(result.message);
                    }
                },
                complete: function (xhr, status) {
                    event.target.value = '';
                    layer.close(loadingIndex);
                }
            });

        });
    });
</script>