<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看危害因素检测信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">

    <style type="text/css">
        .layui-form-label{
            width: 100px;
        }
        .layui-form-item .layui-input-inline{
            width: 340px;
        }
        .file-download{
            cursor: pointer;
        }
    </style>

</head>
<body>
    <form id="outside_check_form" class="layui-form" style="padding-top: 20px;" lay-filter="outside_check_form">
        <input id="id" name="id" type="hidden" th:value="${enterpriseOutsideCheck?.id}">
        <input id="enterpriseId" name="enterpriseId" type="hidden" th:value="${enterpriseOutsideCheck?.enterpriseId}">
        <input id="checkReport" name="checkReport" type="hidden" th:value="${enterpriseOutsideCheck?.checkReport}" />
        <div class="layui-fluid">
            <div class="layui-form-item">
                <label class="layui-form-label">检测日期：</label>
                <div class="layui-input-inline">
                    <input type="text" id="checkDate" readonly
                           th:value="${#dates.format(enterpriseOutsideCheck?.checkDate,'yyyy-MM-dd')}" class="layui-input required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">检测机构：</label>
                <div class="layui-input-inline">
                    <input type="text" id="checkOrganization" readonly th:value="${enterpriseOutsideCheck?.checkOrganization}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">检测报告书：</label>
                <div class="layui-input-inline">
                    <div id="check_report_name" class="layui-form-mid">
                        <a class="file-download" th:if="${enterpriseOutsideCheck?.checkReport}"
                           th:attr="filePath = ${enterpriseOutsideCheck?.checkReport}"
                           th:text="${enterpriseOutsideCheck?.checkReport.substring(enterpriseOutsideCheck?.checkReport.lastIndexOf('/') + 1)}"></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/plugins/layui/layui.js"></script>
    <script>
        layui.use(['jquery', 'layer'], function() {
            var $ = layui.$;
                layer = layui.layer;
        });
    </script>
</body>
</html>