<style>
    #add-institution-contract {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="add-institution-contract">
    <form id="institution_contract_form" class="layui-form" lay-filter="institution_contract_form">
        <input type="hidden" name="id" th:value="${enterpriseInspectionInstitution?.id}">
        <input type="hidden" name="enterpriseId" th:value="${enterpriseInspectionInstitution?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构合同：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="institution_contract_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="institution_contract_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="institution-contract"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>

    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 机构合同上传
        $('#institution_contract_btn').click(function (event) {
            $('#institution_contract_file').click();
        });
        $('#institution_contract_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(institution-contract)', function(data) {
            var enterpriseInspectionInstitution = {};
            $.each($("#institution_contract_form input[name]"), function (index, element) {
                enterpriseInspectionInstitution[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseInspectionInstitution) {
                // 上传文件
                var contractFiles = $("#institution_contract_file")[0].files;
                if (contractFiles.length == 0) {
                    layer.msg("机构合同未选择", {icon: 5});
                    return;
                }
                var formData = new FormData();
                if (contractFiles.length != 0) {
                    formData.append("contractFile", contractFiles[0]);
                }
                formData.append("enterpriseInspectionInstitutionJSON", JSON.stringify(enterpriseInspectionInstitution));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'inspectionInstitution/editInspectionInstitution/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryInspectionInstitution();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>