<style>
    #edit-inspection-institution {
        padding: 20px 25px 25px 0;
    }
    #edit-inspection-institution .layui-form-label {
        width: 110px;
    }
    #edit-inspection-institution .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-inspection-institution">
    <form id="inspection_institution_form" class="layui-form" action="" lay-filter="inspection_institution_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseInspectionInstitution?.id}">
        <input type="hidden" id="enterprise_id" name="enterpriseId" th:value="${enterpriseInspectionInstitution?.enterpriseId}">
        <input type="hidden" id="contract" name="contract" th:value="${enterpriseInspectionInstitution?.contract}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" placeholder="请输入机构名称" maxlength="50"
                       th:value="${enterpriseInspectionInstitution?.name}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">机构类型：</label>
            <div class="layui-input-block">
                <select id="type" name="type" lay-verify="required">
                    <option value="" selected>请选择机构类型</option>
                    <option value="培训机构" th:selected="${'培训机构' == enterpriseInspectionInstitution?.type}">培训机构</option>
                    <option value="体检机构" th:selected="${'体检机构' == enterpriseInspectionInstitution?.type}">体检机构</option>
                    <option value="检测机构" th:selected="${'检测机构' == enterpriseInspectionInstitution?.type}">检测机构</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构联系人：</label>
            <div class="layui-input-block">
                <input type="text" id="contacts" name="contacts" placeholder="请输入机构联系人" maxlength="20"
                       th:value="${enterpriseInspectionInstitution?.contacts}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构联系电话：</label>
            <div class="layui-input-block">
                <input type="text" id="mobilePhone" name="mobilePhone" placeholder="请输入机构联系电话" class="layui-input"
                       th:value="${enterpriseInspectionInstitution?.mobilePhone}" lay-verify="telPhone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构合同：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="contract_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="contract_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="inspectionInstitution"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        // 自定义验证手机号和固定电话
        form.verify({
            // 手机号或固定电话
            telPhone: [
                /(^$)|(^1\d{10}$)|(^0\d{2,3}-?\d{7,8}$)/
                ,'请输入正确的手机号或固定电话'
            ]
        });
        form.render('select');
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#contract').val() != '') {
                $('#filePath').val($('#contract').val().substring($('#contract').val().lastIndexOf('/') + 1));
            }
            $('#contract_file').after('<button type="button" id="contract_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 机构合同上传
        $('#contract_btn').click(function (event) {
            $('#contract_file').click();
        });
        $('#contract_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(inspectionInstitution)', function(data) {
            var enterpriseInspectionInstitution = {};
            $.each($("#inspection_institution_form input[name],select[name]"), function (index, element) {
                enterpriseInspectionInstitution[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseInspectionInstitution) {
                // 上传文件
                var contractFiles = $("#contract_file")[0].files;
                var formData = new FormData();
                formData.append("enterpriseInspectionInstitutionJSON", JSON.stringify(enterpriseInspectionInstitution));
                if (contractFiles.length != 0) {
                    formData.append("contractFile", contractFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'inspectionInstitution/editInspectionInstitution/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryInspectionInstitution();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#contract_download').click(function (event) {
            var filePath = $('#contract').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>