<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-inspection-institution" lay-title="服务机构管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="inspection_institution_table" lay-filter="inspection_institution_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .file-download{
        cursor: pointer;
    }
</style>
<!-- 机构table行编辑、删除 -->
<script type="text/html" id="inspection_institution_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-inspection-institution'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 机构table
        var inspectionInstitutionTable = table.render({
            elem: '#inspection_institution_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'name',
                        title: '机构名称',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                    },
                    {
                        field: 'contacts',
                        title: '机构联系人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'mobilePhone',
                        title: '机构联系电话',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'type',
                        title: '机构类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'contract',
                        title: '机构合同',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.contract) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.contract + "'>下载</a>";
                            } else {
                                return "<a href='javascript:void(0);' onclick='addContract(" + data.id + ")'>"
                                    + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺失合同文件</span>"
                                    + "</a>";
                            }
                        }
                    },
                    {
                        title: '机构相关证书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='institutionCertificate(" + data.id + ",\"机构相关证书\")'>"
                                + (data.institutionCertificateNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#inspection_institution_bar',
                        width: 120
                    }
                ]
            ],
            url: 'inspectionInstitution/listInspectionInstitutions',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInspectionInstitutions
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 机构table排序
        table.on('sort(inspection_institution_table)', function (obj) {
            requeryInspectionInstitution(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('inspection_institution_table');
                if (name === 'add') {
                    xadmin.modal.open("新增机构","inspectionInstitution/editInspectionInstitution",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-inspection-institution').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-inspection-institution').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的机构');
                    } else {
                        var flag = true;
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            if (item.checkInstitutionNum != 0) {
                                xadmin.alert.warn('有机构已被危害因素检测使用，不能删除');
                                flag = false;
                                return true;
                            }
                            if (item.medicalInstitutionNum != 0) {
                                xadmin.alert.warn('有机构已被体检管理使用，不能删除');
                                flag = false;
                                return true;
                            }
                            ids.push(item.id);
                        });
                        if (flag) {
                            $.ajax({
                                url: 'inspectionInstitution/deleteInspectionInstitutions',
                                type: 'post',
                                dataType: 'json',
                                traditional: true,
                                data: {ids: ids},
                                success: function (result) {
                                    if (result.status === 'success') {
                                        xadmin.alert.success(result.message);
                                        requeryInspectionInstitution();
                                    } else {
                                        xadmin.alert.error(result.message);
                                    }
                                }
                            });
                        }
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增机构'
            }, {
                name: 'delete',
                title: '删除机构'
            }]
        });
        // 监听机构table行事件（编辑、删除）
        table.on('tool(inspection_institution_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑机构","inspectionInstitution/editInspectionInstitution/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-inspection-institution').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                if (data.checkInstitutionNum != 0) {
                    xadmin.alert.warn('该机构已被危害因素检测使用，不能删除');
                    return;
                }
                if (data.medicalInstitutionNum != 0) {
                    xadmin.alert.warn('该机构已被体检管理使用，不能删除');
                    return;
                }
                layer.confirm('确定要删除该机构吗？', function(index) {
                    $.ajax({
                        url: 'inspectionInstitution/deleteInspectionInstitution',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            contract: data.contract
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryInspectionInstitution();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryInspectionInstitution = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            inspectionInstitutionTable.reload(options);
        }
        $query.on('click', function() {
            requeryInspectionInstitution();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryInspectionInstitution();
        });
        // 上传机构合同
        window.addContract = function(id) {
            xadmin.modal.open("上传机构合同","inspectionInstitution/addContract/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-institution-contract').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-institution-contract').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 机构相关证书
        window.institutionCertificate = function(relationId, relationModule) {
            xadmin.modal.open("机构相关证书","inspectionInstitution/institutionCertificate/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>