<style>
    #edit-check-result-consistence {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-check-result-consistence">
    <form class="layui-form">
        <input type="hidden" id="checkResultId" th:value="${enterpriseCheckResultConsistence?.checkResultId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测地点：</label>
            <div class="layui-input-block">
                <input type="text" id="place" placeholder="请输入检测地点" maxlength="50" lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测浓度：</label>
            <div class="layui-input-block">
                <input type="text" id="consistence" placeholder="请输入检测浓度" maxlength="10" lay-verify="required|number"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="check-consistence"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'table'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            table = layui.table;
        let currentIndex = layer.index;
        // 表单提交
        form.on('submit(check-consistence)', function(data) {
            if ($('#checkResultId').val()) {
                var checkResultConsistence = {
                    checkResultId: $('#checkResultId').val(),
                    place: $('#place').val().trim(),
                    consistence: $('#consistence').val().trim()
                }
                var loadingIndex = layer.load(2);
                $.ajax({
                    url: 'outsideCheck/checkResult/consistence/save',
                    type: 'post',
                    dateType: 'json',
                    data: {
                        enterpriseCheckResultConsistenceJSON: JSON.stringify(checkResultConsistence)
                    },
                    success: function (result) {
                        if (result.status === 'success') {
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requery();
                            layer.close(currentIndex);
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        layer.close(loadingIndex);
                    }
                });
            } else {
                var checkResultConsistence = {
                    place: $('#place').val().trim(),
                    consistence: $('#consistence').val().trim()
                }
                var checkResultConsistences = table.cache['check_result_consistence_table'];
                checkResultConsistences.push(checkResultConsistence);
                table.reload('check_result_consistence_table', {
                   url: '',
                   data:  checkResultConsistences
                });
                layer.msg('添加成功', {icon: 6});
                layer.close(currentIndex);
            }
        });
    });
</script>