<style>
    #cancel-check-reason {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="cancel-check-reason">
    <form id="cancel_check_reason_form" class="layui-form" action="" lay-filter="cancel-check-reason-form">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">取消原因：</label>
            <div class="layui-input-block">
                <input type="text" id="cancelReason" placeholder="请输入取消原因" maxlength="50"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="cancel-check-reason"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 检测结果详细id
        var id = [[${id}]];
        // 表单提交
        form.on('submit(cancel-check-reason)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'outsideCheck/checkResult/cancel',
                type: 'post',
                async:false,
                dataType: 'json',
                data: {
                    id: id,
                    cancelReason: $('#cancelReason').val().trim()
                },
                success: function (result) {
                    if (result.status === 'success') {
                        // layer.closeAll();
                        layer.msg(result.message, {icon: 6});
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>