<style>
    #edit-check-result {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-check-result">
    <form class="layui-form">
        <input type="hidden" id="id" th:value="${enterpriseOutsideCheckResult?.id}">
        <input type="hidden" id="outsideCheckId" th:value="${enterpriseOutsideCheckResult?.outsideCheckId}">
        <input type="hidden" id="workplace" th:value="${enterpriseOutsideCheckResult?.workplaceId}">
        <input type="hidden" id="factor" th:value="${enterpriseOutsideCheckResult?.harmFactorId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">作业场所：</label>
            <div class="layui-input-block">
                <select id="workplaceId" lay-filter="workplaceId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">检测因素：</label>
            <div class="layui-input-block">
                <select id="harmFactorId" lay-verify="required">
                    <option value="" selected>请选择检测因素</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">是否合格：</label>
            <div class="layui-input-block">
                <select id="isQualified" lay-verify="required">
                    <option value="">请选择是否合格</option>
                    <option value="1" th:selected="${1 == enterpriseOutsideCheckResult?.isQualified}">合格</option>
                    <option value="0" th:selected="${0 == enterpriseOutsideCheckResult?.isQualified}">不合格</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" id="remark" placeholder="请输入备注" maxlength="200"
                       th:value="${enterpriseOutsideCheckResult?.remark}" class="layui-input">
            </div>
        </div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">
                    <div class="layui-row" style="margin-top: 0;">
                        <div class="layui-col-md4">
                            检测地点、浓度
                        </div>
                        <div class="layui-col-md8" style="text-align: right;">
                            <button type="button" class="layui-btn" onclick="addCheckResultConsistence();">添加</button>
                        </div>
                    </div>
                </h2>
                <div class="layui-colla-content layui-show">
                    <table id="check_result_consistence_table" lay-filter="check_result_consistence_table"></table>
                </div>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="checkResult"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<!-- 检测地点、浓度table行删除 -->
<script type="text/html" id="check_result_consistence_bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'form', 'table', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            table = layui.table,
            xadmin = layui.xadmin;
        let currentIndex = layer.index;
        // 下拉框动态获取作业场所
        var option1 = '<option value="" selected>请选择作业场所</option>';
        $.ajax({
            url: 'outsideCheck/checkResult/getWorkplace',
            type: 'post',
            async: false,
            success: function (result) {
                $.each(result.data.enterpriseWorkplaces, function(i, v) {
                    option1 += '<option value="'+ v.id + '">' + v.name + '</option>';
                });
                $('#workplaceId').html(option1);
                form.render('select');
            }
        });
        // 监听作业场所select，获取该外部检测中作业场所未选择的危害因素信息
        form.on('select(workplaceId)', function(data) {
            var option2 = '<option value="" selected>请选择检测因素</option>';
            var workplaceId = data.value;
            if (workplaceId) {
                $.ajax({
                    url: 'outsideCheck/checkResult/getHarmfactorByWorkplaceId',
                    type: 'post',
                    data: {
                        workplaceId: workplaceId,
                        harmFactorId: $('#factor').val()
                    },
                    async: false,
                    success: function (result) {
                        $.each(result.data.workplaceHarmFactorCustoms, function(i, v) {
                            option2 += '<option value="'+ v.harmFactorId + '">' + v.harmFactorName + '</option>';
                        });
                        $('#harmFactorId').html(option2);
                        // 如果是编辑，选中相应的检测因素
                        $("#harmFactorId option[value='" + $('#factor').val() + "']").prop('selected',true);
                        form.render('select');
                    }
                });
            } else {
                $('#harmFactorId').html(option2);
                form.render('select');
            }
        });
        // 如果是编辑，选中相应的岗位
        if ($('#workplace').val()) {
            $("#workplaceId option[value='" + $('#workplace').val() + "']").prop('selected',true);
            form.render('select');
            var option2 = '<option value="" selected>请选择检测因素</option>';
            $.ajax({
                url: 'outsideCheck/checkResult/getHarmfactorByWorkplaceId',
                type: 'post',
                data: {
                    workplaceId: $('#workplace').val(),
                    harmFactorId: $('#factor').val()
                },
                async: false,
                success: function (result) {
                    $.each(result.data.workplaceHarmFactorCustoms, function(i, v) {
                        option2 += '<option value="'+ v.harmFactorId + '">' + v.harmFactorName + '</option>';
                    });
                    $('#harmFactorId').html(option2);
                    $("#harmFactorId option[value='" + $('#factor').val() + "']").prop('selected',true);
                    form.render('select');
                }
            });
        }
        var checkResultConsistenceTable = table.render({
            elem: "#check_result_consistence_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "place",
                        title: "检测地点",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "consistence",
                        title: "检测浓度",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#check_result_consistence_bar',
                        width: 120
                    }
                ]
            ],
            url: "outsideCheck/checkResult/consistence/listConsistences",
            method: "post",
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    data: result.data.enterpriseCheckResultConsistences
                };
            },
            where: {
                checkResultId: $('#id').val()
            }
        });
        // 查询
        window.requery = function() {
            checkResultConsistenceTable.reload({
                where: {
                    outsideCheckId: $('#id').val(),
                }
            });
            parent.requeryCheckResult();
        }
        // 新增检测地点、浓度
        window.addCheckResultConsistence= function () {
            var id = $("#id").val();
            xadmin.modal.open("新增检测地点、浓度",'outsideCheck/checkResult/consistence/add/' + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-check-result-consistence').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-check-result-consistence').find('#reset').trigger('click');
                    return false;
                }
            });
        };
        // 监听检测地点、浓度table行事件（删除）
        table.on('tool(check_result_consistence_table)', function(obj) {
            var data = obj.data;
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该检测地点、浓度吗？', function(index) {
                    $.ajax({
                        url: 'outsideCheck/checkResult/consistence/delete',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            checkResultId: data.checkResultId
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                table.reload('check_result_consistence_table');
                                requeryCheckResult();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 表单提交
        form.on('submit(checkResult)', function(data) {
            var workplaceId = $('#workplaceId').val();
            var harmFactorId = $('#harmFactorId').val();
            var isQualified = $('#isQualified').val();
            var enterpriseOutsideCheckResult = {
                id: $('#id').val(),
                outsideCheckId: $('#outsideCheckId').val(),
                workplaceId : workplaceId,
                harmFactorId: harmFactorId,
                isQualified: isQualified
            };
            var remark = $('#remark').val().trim();
            enterpriseOutsideCheckResult['remark'] = remark;
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'outsideCheck/checkResult/editCheckResult/save',
                type: 'post',
                dateType: 'json',
                data: enterpriseOutsideCheckResult,
                success: function (result) {
                    if (result.status === 'success') {
                        layer.msg(result.message, {icon: 6});
                        requeryCheckResult();
                        layer.close(currentIndex);
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>