<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-check-result">
    <div class="layui-collapse" th:each="checkResult,checkResultStat : ${checkResultList}">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" th:text="${checkResult.harmFactorName}"></h2>
            <div class="layui-colla-content layui-show" th:attr="id=checkResult+${checkResult.harmFactorId}">
                <form class="layui-form">
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                <i class="layui-icon">&#xe848;</i>
                            </div>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                <i class="layui-icon">&#xe79b;</i>
                            </div>
                        </div>
                    </div>
                </form>
                <table th:attr="id=table+${checkResultStat.index}, lay-filter=table+${checkResultStat.index}"></table>
            </div>
        </div>
    </div>
</div>
<!-- 危害因素检测结果table行取消检测 -->
<script type="text/html" id="check_result_bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancel">取消检测</a>
</script>


<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', "element"], function () {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            element = layui.element;
        element.render("collapse");
        form.render();
        // 企业外部检测id
        var outsideCheckId = [[${outsideCheckId}]];
        // 遍历div，生成table的数据
        $('#xadmin-enterprise-check-result').find("div[id^='checkResult']").each(function (index, element) {
            var harmFactorId = $(element).attr('id').slice(11);
            // 检测结果table
            var checkResultTable = table.render({
                elem: "#table" + index,
                cols: [
                    [
                        {
                            title: "序号",
                            type: "numbers",
                            align: "center"
                        },
                        {
                            field: "workplaceName",
                            title: "作业场所",
                            align: "center",
                            sort: true,
                            width: 110
                        },
                        {
                            field: "monitorPointName",
                            title: "监测点",
                            align: "center",
                            sort: true,
                           width: 100
                        },
                        {
                            field: "postName",
                            title: "涉及岗位",
                            align: "center",
                            width: 150,
                            sort: true
                        },
                        {
                            field: 'mac',
                            title: 'MAC(mg/m³)',
                            align: 'center',
                            sort: true,
                            width: 130
                        },
                        {
                            field: 'twa',
                            title: 'PC-TWA(mg/m³)',
                            align: 'center',
                            sort: true,
                            width: 150
                        },
                        {
                            field: 'stel',
                            title: 'PC-STEL(mg/m³)',
                            align: 'center',
                            sort: true,
                            width: 150
                        },
                        {
                            field: 'overLimitMultiple',
                            title: '超限倍数',
                            align: 'center',
                            sort: true,
                           width: 100
                        },
                        {
                            title: '检测结果',
                            align: 'center',
                            width: 90,
                            templet: function (data) {
                                return "<a href='javascript:void(0);' onclick='checkResultDetail(" + data.id  + ")'>"
                                    + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                            }
                        },
                        {
                            field: "isQualified",
                            title: "判定结果",
                            align: "center",
                            sort: true,
                            width: 120,
                            templet:function(data) {
                                if(data.isQualified == '合格'){
                                    return "<a href='javascript:void(0);'>"
                                        + "<span class=\"layui-btn layui-bg-green layui-btn-xs\" lay-event='qualified'>合格</span></a>";
                                }if(data.isQualified == '不合格'){
                                    return "<a href='javascript:void(0);'>"
                                        + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\" lay-event='qualified'>不合格</span></a>";
                                }else{
                                    return "<a href='javascript:void(0);'>"
                                        + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\" lay-event='qualified'>缺少判定结果</span></a>";
                                }


                                // if(d.isQualified == '合格'){
                                //     return '<select name="isQualified" lay-filter="qualifiedSelect" lay-verify="required" >\n' +
                                //         '        <option value="| '+d.id+'" >&nbsp</option>\n' +
                                //         '        <option value="合格| '+d.id+'" selected>合格</option>\n' +
                                //         '        <option value="不合格|'+d.id+'">不合格</option>\n' +
                                //         '    </select>';
                                // }if(d.isQualified == '不合格'){
                                //     return '<select name="isQualified" lay-filter="qualifiedSelect" lay-verify="required" >\n' +
                                //         '        <option value="| '+d.id+'" >&nbsp</option>\n' +
                                //         '        <option value="合格| '+d.id+'" >合格</option>\n' +
                                //         '        <option value="不合格|'+d.id+'" selected>不合格</option>\n' +
                                //         '    </select>';
                                // }else{
                                //     return '<select name="isQualified" lay-filter="qualifiedSelect" lay-verify="required" >\n' +
                                //         '        <option value="| '+d.id+'" >&nbsp</option>\n' +
                                //         '        <option value="合格| '+d.id+'" >合格</option>\n' +
                                //         '        <option value="不合格|'+d.id+'">不合格</option>\n' +
                                //         '    </select>';
                                // }

                            },
                        },
                        {
                            title: '操作',
                            align: 'center',
                            toolbar: '#check_result_bar',
                            width: 100
                        }
                    ]
                ],


                done: function(res, curr, count){
                    console.log(count);
                    //数据渲染完的回调。
                    //由于layui 设置了超出隐藏，所以这里改变下，以兼容操作按钮的下拉菜单
                    var tableElem = this.elem.next('.layui-table-view');
                    count || tableElem.find('.layui-table-header').css('overflow', 'visible');
                    layui.each(tableElem.find('select'), function (index, item) {
                        var elem = $(item);
                        elem.parents('div.layui-table-cell').css('overflow', 'visible');
                    });
                    form.render();

                },



                url: "outsideCheck/checkResult/listCheckResults",
                method: "post",
                request: {
                    pageName: 'pageNum',
                    limitName: 'pageSize'
                },
                page: true,
                limits: [10, 20, 30, 40, 50],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);
                    return {
                        code: 0,
                        count: result.data.totalNum,
                        data: result.data.enterpriseOutsideCheckResults
                    };
                },
                where: {
                    outsideCheckId: outsideCheckId,
                    harmFactorId: harmFactorId
                },
                autoSort: false
            });
            // 排序
            table.on('sort(table' + index + ')', function (obj) {
                requeryOutsideResult(obj);
            });
            // 查询
            $("#checkResult" + harmFactorId + " .query").click(function (event) {
                requeryOutsideResult();
            });
            // 重置
            $("#checkResult" + harmFactorId + " .reset").click(function (event) {
                $("#checkResult" + harmFactorId + " .keyword").val("");
                requeryOutsideResult();
            });
            // 查询
            function requeryOutsideResult(sort) {
                let options = {
                    page: {
                        curr: 1 //重新从第1页开始
                    },
                    where: {
                        keyword: $("#checkResult" + harmFactorId + " .keyword").val().trim()
                    }
                }
                if (sort) {
                    options.where.sortField = sort.field;
                    options.where.sortType = sort.type;
                }
                checkResultTable.reload(options);
            }
            // 监听检测结果table行事件（取消检测）
            table.on('tool(table' + index + ')', function(obj) {
                var data = obj.data;
                if (obj.event === 'cancel') {
                    xadmin.modal.open("取消检测原因", "outsideCheck/checkResult/cancel/" + data.id, {
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        btn: ['提交', '重置'],
                        yes: function (index, layero) {
                            $('#cancel-check-reason').find('#submit').trigger('click');

                            //检测原因如果未填写则不执行下面语句
                            if($.trim($("#cancel_check_reason_form #cancelReason").val()) !== ''){
                                layer.close(index);
                                requeryOutsideResult();
                            }
                            return false;
                        },
                        btn2: function () {
                            $('#cancel-check-reason').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }

                //判定结果
                if (obj.event === 'qualified') {
                    xadmin.modal.open("判定结果", "outsideCheck/checkResult/qualified/" + data.id, {
                        area: [$(window).width() <= 750 ? '95%' : '50%','300px'],
                        btn: ['提交', '重置'],
                        yes: function (index, layero) {
                            $('#check-result-qualified').find('#submit').trigger('click');
                            layer.close(index);
                            requeryOutsideResult();
                            return false;
                        },
                        btn2: function () {
                            $('#check-result-qualified').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }


            });

            //监听判定结果修改update到表格中
            form.on('select(qualifiedSelect)',function(data){
                var value = data.value;
                // if(value == ""){
                //     layer.msg("判定结果不能为空", {icon: 5});
                //     return;
                // }
                var id = value.split("|")[1];
                var selectValue = value.split("|")[0];

                    $.ajax({
                        url: 'outsideCheck/checkResult/updateQualified',
                        type: 'post',
                        dateType: 'json',
                        data: {
                            id: id,
                            value: selectValue
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
            })

        });
        // 检测结果详细
        window.checkResultDetail = function(checkResultId) {
            xadmin.modal.open("检测结果详细","outsideCheck/checkResult/detail/" + checkResultId,{
                area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
            });
        }
    });
</script>