<style>
    #check-result-qualified {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="check-result-qualified">
    <form id="check_result_qualified_form" class="layui-form" action="" lay-filter="check-result-qualified-form">
        <div class="layui-form-item">
            <label class="layui-form-label">判定结果：</label>
            <div class="layui-input-block">
                <select id="qualified">
                    <option value="" data-th-selected="${'' == qualified}">请选择</option>
                    <option value="合格" data-th-selected="${'合格' == qualified}">合格</option>
                    <option value="不合格" data-th-selected="${'不合格' == qualified}">不合格</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="check-result-qualified"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        form.render();
        // 检测结果详细id
        var id = [[${id}]];
        // 表单提交
        form.on('submit(check-result-qualified)', function(data) {
            // 加载层，防止多次添加
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: 'outsideCheck/checkResult/qualified/save',
                type: 'post',
                async:false,
                dataType: 'json',
                data: {
                    id: id,
                    qualified: $('#check-result-qualified #qualified').val().trim()
                },
                success: function (result) {
                    if (result.status === 'success') {
                        layer.msg(result.message, {icon: 6});
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>