<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-personHealthAccount" lay-title="一人一档">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="facility_maintenance_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">职业健康监护档案</li>
                            <li>体检机构</li>
                            <li>涉害人员名单</li>
                            <li>体检记录表</li>
                            <li>职业病诊断记录</li>
                            <li>职业健康检查统计年度报表</li>
                            <li>体检人数</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show" id="employee-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query" >
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset" >
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="employeeDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="employee_table" lay-filter="employee_table" lay-data="{id: 'protectTable'}"></table>
                            </div>
                            <div class="layui-tab-item" id="inspectionInstitution-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query" >
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset" >
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="inspectionInstitutionDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="inspectionInstitution_table" lay-filter="inspectionInstitution_table" ></table>
                            </div>
                            <div class="layui-tab-item" id="enterprisePostEmployee-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query" >
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset" >
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="enterprisePostEmployeeDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="enterprisePostEmployee_table" lay-filter="enterprisePostEmployee_table" ></table>
                            </div>

                            <div class="layui-tab-item" id="medical-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query" >
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset" >
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="medicalDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="medical_table" lay-filter="medical_table" ></table>
                            </div>

                            <div class="layui-tab-item" id="diseaseDiagnosi-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query" >
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset" >
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="diseaseDiagnosiDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="diseaseDiagnosi_table" lay-filter="diseaseDiagnosi_table" ></table>
                            </div>

                            <div class="layui-tab-item" id="yearWaitMedical-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="yearWaitMedical_startDate" type="text" placeholder="开始时间" class="layui-input"/>
                                                </div>
                                                <div class="layui-input-inline">
                                                    <input id="yearWaitMedical_endDate" type="text" placeholder="结束时间" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action query" >
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset" >
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="yearWaitMedicalDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="yearWaitMedical_table" lay-filter="yearWaitMedical_table" ></table>
                            </div>

                            <div class="layui-tab-item" id="medicalPerson-list">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" id="lastYearMedicalPersonDownload" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="medical_person_table" lay-filter="medical_person_table"></table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

</script>
<script type="text/html" id="provide_table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form','common', 'xadmin', 'laydate', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            common = layui.common,
            xadmin = layui.xadmin,
            laydate = layui.laydate,
            dropdown = layui.dropdown,
            $view = $('#xadmin-personHealthAccount'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'gmtCreate', type: 'desc'},
            tableIns,provideTableIns;

        // 职业健康检查统计年度报表，时间筛选(开始时间和结束时间)
        laydate.render({
            elem: '#yearWaitMedical_startDate',
            type: 'date'
        });
        laydate.render({
            elem: '#yearWaitMedical_endDate',
            type: 'date'
        });
        // 初始化开始时间和结束时间
        $('#yearWaitMedical_startDate').val(new Date().getFullYear() + "-01-01");
        $('#yearWaitMedical_endDate').val(new Date().getFullYear() + "-12-31");

        var employeeTableNum=0;
        let employeeTable = table.render({
            elem: "#employee_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "electronArchiveNumber",
                        title: "电子档案号",
                        align: "center",
                        sort: true,
                        minWidth: 130
                    },
                    {
                        field: "archiveNumber",
                        title: "原档案号",
                        align: "center",
                        sort: true,
                        minWidth: 110,
                    },
                    {
                    field: "buildTime",
                    title: "建档时间",
                    align: "center",
                    sort: true,
                    minWidth: 120,
                    templet: function(d) {
                        if (d.buildTime) {
                            return util.toDateString(d.buildTime, 'yyyy-MM-dd');
                        } else {
                            return '';
                        }
                    }},
                    {
                        field: "name",
                        title: "姓名",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "nativePlace",
                        title: "籍贯",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "workDate",
                        title: "上岗时间",
                        align: "center",
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.workDate) {
                                return util.toDateString(d.workDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }},

                    {
                        title: "操作",
                        align: "center",
                        width: 120,
                        fixed: "right",
                        toolbar: "<div><a href='javascript:void(0);' class='layui-btn layui-btn-xs' lay-event='archives'>导出</a><a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs' lay-event='view'>详情</a></div>"
                    }
                ]
            ],
            url: "employee/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                employeeTableNum= result.data.total;
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };

            },
            where: {
                keyword: $("#employee-list .keyword").val().trim()
            },
            autoSort: false
        });


        table.on("tool(employee_table)", function (obj) {
            if(obj.event === "archives") {
                layer.confirm('确认导出文件吗？', function(index) {
                    employeeArchives([obj.data.id]);
                    layer.close(index);
                });
            }else if (obj.event === "view") {
                // viewEmployee(obj.data.id);
                xadmin.view.tab.change("/employee/employeeArchives/"+obj.data.id);
            }
        });

        employeeArchives = function(id) {
             // xadmin.view.tab.change("/employee/employeeArchives/"+id);
            var url = '/employee/download?id='+id;
            window.open(url , "_blank");

        }
        viewEmployee = function(id) {
            common.layerOpen(
                "employee/view",
                {
                    id: id
                },
                {
                    title: "查看人员",
                    area : ["800px", "580px"]
                }
            );
        }
       var  requeryEmployee = function(){
            var options = {
                where: {
                    keyword: $("#employee-list .keyword").val().trim(),
                }
            }
            employeeTable.reload(options);
        }
        $("#employee-list .query").click(requeryEmployee);

        $("#employee-list .reset").click(function (event) {
            $("#employee-list .keyword").val("");
            requeryEmployee();
        });

        // 体检机构表
        var medicalInstitutionTableNum=0;
        var medicalInstitutionTable = table.render({
            elem: "#inspectionInstitution_table",
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'name',
                        title: '机构名称',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                    },
                    {
                        field: 'contacts',
                        title: '机构联系人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'mobilePhone',
                        title: '机构联系电话',
                        align: 'center',
                        sort: true,
                        minWidth: 150
                    },
                    {
                        field: 'contract',
                        title: '机构合同',
                        align: 'center',
                         minWidth: 120,
                        templet: function (data) {
                            if (data.contract) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.contract + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        title: '机构相关证书',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a class='layui-btn layui-btn-primary layui-btn-xs' onclick='institutionCertificate(" + data.id + ",\"机构相关证书\")'>详细</a>";
                        }
                    }
                ]
            ],
            url: "inspectionInstitution/listInstitutionsByType",
            method: "post",
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                medicalInstitutionTableNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseInspectionInstitutions
                };
            },
            where: {
                type: '体检机构'
            },
            autoSort: false
        });
        var  requeryinspectionInstitution = function(){
            var options = {
                where: {
                    keyword: $("#inspectionInstitution-list .keyword").val().trim(),
                }
            }
            medicalInstitutionTable.reload(options);
        }
        $("#inspectionInstitution-list .query").click(requeryinspectionInstitution);

        $("#inspectionInstitution-list .reset").click(function (event) {
            $("#inspectionInstitution-list .keyword").val("");
            requeryinspectionInstitution();
        });
        // 机构相关证书
        window.institutionCertificate = function(relationId, relationModule) {
            xadmin.modal.open("机构相关证书","inspectionInstitution/institutionCertificateView/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }


        var enterprisePostEmployeeTableNum=0;
        let enterprisePostEmployeeTable = tableIns = xadmin.table.init({
            elem: "#enterprisePostEmployee_table",
            id: 'enterprisePostEmployeeTable',
            url:  'personHealthAccount/enterprisePostEmployeeList',
            cols: [
                [

                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },

                    {
                        field: "postName",
                        title: "岗位",
                        align: "center",
                        sort: true,
                        width: 150,
                    },
                    {
                        field: "harmFactorName",
                        title: "危害因素",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "employeeName",
                        title: "接触人员",
                        align: "center",
                        sort: true,
                        width: 120
                    }
                ]
            ],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                enterprisePostEmployeeTableNum = result.data.total;
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.rows
                };
            },
            where: {
                keyword:$("#enterprisePostEmployee-list .keyword").val().trim()
            }

        });


        var  requeryenterprisePostEmployee = function(){
            var options = {
                where: {
                    keyword: $("#enterprisePostEmployee-list .keyword").val().trim(),
                }
            }
            enterprisePostEmployeeTable.reload(options);
        }
        $("#enterprisePostEmployee-list .query").click(requeryenterprisePostEmployee);

        $("#enterprisePostEmployee-list .reset").click(function (event) {
            $("#enterprisePostEmployee-list .keyword").val("");
            requeryenterprisePostEmployee();
        });


        // 体检管理table
        var medicalTableNum=0;
        var medicalTable = table.render({
            elem: '#medical_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'employeeName',
                        title: '体检员工',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'postName',
                        title: '岗位',
                        align: 'center',
                        sort: true,
                        minWidth: 80
                    },
                    {
                        field: 'medicalDate',
                        title: '体检日期',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.medicalDate) {
                                return util.toDateString(d.medicalDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'institutionName',
                        title: '体检机构',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'type',
                        title: '体检类型',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'result',
                        title: '体检结论',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'medicalReport',
                        title: '体检报告',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.medicalReport) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.medicalReport + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: 'medical/listMedicals',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                medicalTableNum= result.data.totalNum;
                return { where: {
                        keyword:$("#medical-list .keyword").val().trim()
                    },
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.employeeMedicals
                };
            },
            where: {
                keyword:$("#medical-list .keyword").val().trim()
            },
            autoSort: false
        });
        var  requeryMedical = function(){
            var options = {
                where: {
                    keyword: $("#medical-list .keyword").val().trim(),
                }
            }
            medicalTable.reload(options);
        }
        $("#medical-list .query").click(requeryMedical);

        $("#medical-list .reset").click(function (event) {
            $("#medical-list .keyword").val("");
            requeryMedical();
        });

        /**
         * 初始化数据表格enterpriseDiseaseDiagnosiList
         */
        var diseaseDiagnosiTableNum=0;
          var  diseaseDiagnosiTable = xadmin.table.init({
                elem: '#diseaseDiagnosi_table',
                id: 'diseaseDiagnositableIns',
                url:  'personHealthAccount/enterpriseDiseaseDiagnosiList',
                cols: [
                    [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'postName', title: '岗位', minWidth: 100,sort: true},
                    {field: 'employeeName', title: '员工', minWidth: 80,sort: true},
                    {
                        field: "name",
                        title: "职业病名",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                        {
                            field: "isCertain",
                            title: "是否确诊职业病",
                            align: "center",
                            sort: true,
                            minWidth: 160,
                            templet: function (data) {
                                var isCertain = "";
                                if (data.isCertain === 0) {
                                    isCertain = "否";
                                } else if (data.isCertain === 1) {
                                    isCertain = "是";
                                }
                                return isCertain;
                            }
                        },

                        {
                            field: "isTransferred",
                            title: "是否调离",
                            align: "center",
                            sort: true,
                            minWidth: 80,
                            templet: function (data) {
                                var isTransferred = "";
                                if (data.isTransferred === 0) {
                                    isTransferred = "否";
                                } else if (data.isTransferred === 1) {
                                    isTransferred = "是";
                                }
                                return isTransferred;
                            }
                        },
                        {
                            field: "hospital",
                            title: "诊断医院",
                            align: "center",
                            sort: true,
                            minWidth: 120
                        },
                    {
                        field: 'diagnosiDate',
                        title: '诊断时间',
                        align: 'center',
                        sort: true,
                        minWidth: 80,
                        templet: function(d) {
                            if (d.diagnosiDate) {
                                return util.toDateString(d.diagnosiDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'medicalCertificate',
                        title: '诊断书',
                        align: 'center',
                        minWidth: 60,
                        templet: function (data) {
                            if (data.medicalCertificate) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.medicalCertificate + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
                ],
              parseData: function (result) {
                  xadmin.table.parseDataHandler(result);
                  diseaseDiagnosiTableNum = result.data.total;
                  return {
                      code: 0,
                      count: result.data.total,
                      data: result.data.rows
                  };
              }
            });

        var  requeryDiseaseDiagnosi = function(){
            var options = {
                where: {
                    keyword: $("#diseaseDiagnosi-list .keyword").val().trim(),
                }
            }
            diseaseDiagnosiTable.reload(options);
        }
        $("#diseaseDiagnosi-list .query").click(requeryDiseaseDiagnosi);

        $("#diseaseDiagnosi-list .reset").click(function (event) {
            $("#diseaseDiagnosi-list .keyword").val("");
            requeryDiseaseDiagnosi();
        });


        // 职业健康检查年报报表table
        var yearWaitMedicalTableNum=0;
        var yearWaitMedicalTable = table.render({
            elem: '#yearWaitMedical_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center",
                        rowspan: 2
                    },
                    {
                        field: 'type',
                        title: '体检类型',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        rowspan: 2
                    },
                    {
                        field: 'employeeNum',
                        title: '职工人数',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        rowspan: 2
                    },
                    {
                        field: 'shouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140,
                        rowspan: 2
                    },
                    {
                        field: 'actualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140,
                        rowspan: 2
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        rowspan: 2,
                        templet: function (data) {
                            if (data.shouldMedicalNum > 0) {
                                return parseInt(data.actualMedicalNum / data.shouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        title: '接触粉尘',
                        align: 'center',
                        minWidth: 370,
                        colspan: 3
                    },
                    {
                        title: '接触化学因素',
                        align: 'center',
                        minWidth: 370,
                        colspan: 3
                    },
                    {
                        title: '接触物理因素',
                        align: 'center',
                        minWidth: 370,
                        colspan: 3
                    },
                    {
                        title: '接触放射性因素',
                        align: 'center',
                        minWidth: 370,
                        colspan: 3
                    },
                    {
                        title: '接触生物因素',
                        align: 'center',
                        minWidth: 370,
                        colspan: 3
                    },
                    {
                        title: '接触其他因素',
                        align: 'center',
                        minWidth: 370,
                        colspan: 3
                    }
                ],
                [
                    {
                        field: 'dustShouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'dustActualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.dustShouldMedicalNum > 0) {
                                return parseInt(data.dustActualMedicalNum / data.dustShouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'chemicalShouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'chemicalActualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.chemicalShouldMedicalNum > 0) {
                                return parseInt(data.chemicalActualMedicalNum / data.chemicalShouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'physicalShouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'physicalActualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.physicalShouldMedicalNum > 0) {
                                return parseInt(data.physicalActualMedicalNum / data.physicalShouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'radiationShouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'radiationActualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.radiationShouldMedicalNum > 0) {
                                return parseInt(data.radiationActualMedicalNum / data.radiationShouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'biologicalShouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'biologicalActualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.biologicalShouldMedicalNum > 0) {
                                return parseInt(data.biologicalActualMedicalNum / data.biologicalShouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                    {
                        field: 'otherShouldMedicalNum',
                        title: '应检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'otherActualMedicalNum',
                        title: '实检人数(人次)',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        title: '受检率%',
                        align: 'center',
                        minWidth: 90,
                        templet: function (data) {
                            if (data.otherShouldMedicalNum > 0) {
                                return parseInt(data.otherActualMedicalNum / data.otherShouldMedicalNum * 100);
                            }
                            return 100;
                        }
                    },
                ]
            ],
            url: 'waitMedical/listYearWaitMedicals',
            method: 'post',
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);

                yearWaitMedicalTableNum = result.data.yearWaitMedicals.length;
                return {
                    code: 0,
                    data: result.data.yearWaitMedicals
                };
            },
            where: {
                startDate: $("#yearWaitMedical_startDate").val().trim(),
                endDate: $("#yearWaitMedical_endDate").val().trim()
            }
        });

        var requeryYearWaitMedical = function(year){
            var options = {
                where: {
                    startDate: $("#yearWaitMedical_startDate").val().trim(),
                    endDate: $("#yearWaitMedical_endDate").val().trim()
                }
            }
            yearWaitMedicalTable.reload(options);
        }
        $("#yearWaitMedical-list .query").click(requeryYearWaitMedical);
        $("#yearWaitMedical-list .reset").click(function (event) {
            // 初始化开始时间和结束时间
            $('#yearWaitMedical_startDate').val(new Date().getFullYear() + "-01-01");
            $('#yearWaitMedical_endDate').val(new Date().getFullYear() + "-12-31");
            requeryYearWaitMedical();
        });

        // 上年度体检人数table
        var medicalPersonNum = 0;
        var medicalPersonTable = table.render({
            elem: '#medical_person_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center",
                        rowspan: 2
                    },
                    {
                        title: '上年度体检人数',
                        align: 'center',
                        minWidth: 300,
                        colspan: 3
                    },
                    {
                        field: 'occupationalDiseaseNum',
                        title: '体检发现职业病患者人数',
                        align: 'center',
                        minWidth: 200,
                        rowspan: 2
                    },
                    {
                        field: 'transferPostNum',
                        title: '调离岗位人数',
                        align: 'center',
                        minWidth: 150,
                        rowspan: 2
                    },
                ],
                [
                    {
                        field: 'beforePostNum',
                        title: '岗前',
                        align: 'center',
                        minWidth: 100,
                    },
                    {
                        field: 'postingNum',
                        title: '岗中',
                        align: 'center',
                        minWidth: 100,
                    },
                    {
                        field: 'afterPostNum',
                        title: '离岗',
                        align: 'center',
                        minWidth: 100,
                    },
                ]
            ],
            url: 'medical/listMedicalPersonNum',
            method: 'post',
            where: {
                lastYear: new Date().getFullYear() - 1
            },
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                medicalPersonNum = result.data.employeeMedicalCustoms.length;
                return {
                    code: 0,
                    data: result.data.employeeMedicalCustoms
                };
            }
        });
        // 上年度体检人数table重置刷新
        $("#medicalPerson-list .reset").click(function (event) {
            medicalPersonTable.reload();
        });

        // 多文件打包成zip下载
        window.downloadZip = function(fileName) {
            window.open("/healthResponsibilityAccount/downloadZip?fileName=" + fileName, "_blank");
        };

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadPersonHealth();
                }
                if (name === 'exportAccount') {
                    downloadPersonHealthAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        //从业人员职业健康监护档案
        $("#employeeDownload").on("click",function(){
            if(employeeTableNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/employeeDownload';
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载体检机构清单
        $("#inspectionInstitutionDownload").on("click",function(){
            if(medicalInstitutionTableNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/inspectionInstitutionDownload';
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载职业健康检查工种、接触的职业危害因素及人员名单
        $("#enterprisePostEmployeeDownload").on("click",function(){
            if(enterprisePostEmployeeTableNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/enterprisePostEmployeeDownload';
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载职业健康检查结果与分析报告
        $("#medicalDownload").on("click",function(){
            if(medicalTableNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/medicalDownload?medical_list_keyword='+$("#medical-list .keyword").val().trim();
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载职业病诊断记录
        $("#diseaseDiagnosiDownload").on("click",function(){
            if(diseaseDiagnosiTableNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/diseaseDiagnosiDownload?diseaseDiagnosi_list_keyword='+$("#diseaseDiagnosi-list .keyword").val().trim();
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载职业健康检查统计年度报表
        $("#yearWaitMedicalDownload").on("click",function(){
            if(yearWaitMedicalTableNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/yearWaitMedicalDownload?startDate=' + $("#yearWaitMedical_startDate").val().trim() + '&endDate=' + $("#yearWaitMedical_endDate").val().trim();
                window.open(url , "_blank");
                layer.close(index);
            });
        });
        //下载上年度体检人数表
        $("#lastYearMedicalPersonDownload").on("click",function(){
            if(medicalPersonNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/lastYearMedicalPersonDownload';
                window.open(url , "_blank");
                layer.close(index);
            });
        });

        var isOK=false;
        //下载从业人员防护用品的发放使用管理台帐zip
        window.downloadPersonHealth = function() {
            if(employeeTableNum==0&&medicalInstitutionTableNum==0&&enterprisePostEmployeeTableNum==0&&medicalTableNum==0&&diseaseDiagnosiTableNum==0&&yearWaitMedicalTableNum==0&&medicalPersonNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/personHealthAccountDownload?startDate=' + $("#yearWaitMedical_startDate").val().trim() + '&endDate=' + $("#yearWaitMedical_endDate").val().trim()+'&medical_list_keyword='+$("#medical-list .keyword").val().trim()+'&diseaseDiagnosi_list_keyword='+$("#diseaseDiagnosi-list .keyword").val().trim();
                window.open(url , "_blank");
                layer.close(index);
            });
        }
        // 从业人员职业健康监护档案台帐文件下载
        window.downloadPersonHealthAccount = function() {
            if(employeeTableNum==0&&medicalInstitutionTableNum==0&&enterprisePostEmployeeTableNum==0&&medicalTableNum==0&&diseaseDiagnosiTableNum==0&&yearWaitMedicalTableNum==0&&medicalPersonNum==0){
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            }
            layer.confirm('确认导出文件吗？', function(index) {
                var url = '/personHealthAccount/downloadPersonHealthAccount?medical_list_keyword='+$("#medical-list .keyword").val().trim()+'&diseaseDiagnosi_list_keyword='+$("#diseaseDiagnosi-list .keyword").val().trim();
                window.open(url , "_blank");
                layer.close(index);
            });
        }
    });
</script>