<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-service-equipment">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="service_equipment_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryServiceEquipment">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetServiceEquipment">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                    <i class="layui-icon">&#xe875;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="service_equipment_table" lay-filter="service_equipment_table"></table>
</div>
<style type="text/css">
    .layui-dropdown{
        z-index: 200000000;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-service-equipment'),
            $queryServiceEquipment = $view.find('#queryServiceEquipment'),
            $resetServiceEquipment = $view.find('#resetServiceEquipment'),
            $searchForm = $view.find('form');
        form.render();
        // 记录id，记录类型(维护记录)
        var recordId = [[${recordId}]],
            type = [[${type}]];
        // 维护的设备table
        var serviceEquipmentTable = table.render({
            elem: "#service_equipment_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "equipmentName",
                        title: "设备名称",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: 90,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' onclick='removeServiceEquipment(" + data.id + ")'>移除</a>";
                        }
                    }
                ]
            ],
            url: 'serviceRecord/listServiceEquipmentsByRecordId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.serviceEquipments
                };
            },
            where: {
                keyword: $('#service_equipment_keyword').val().trim(),
                recordId: recordId,
                type: type
            },
            autoSort: false
        });
        // table排序
        table.on('sort(service_equipment_table)', function (obj) {
            requeryServiceEquipment(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('service_equipment_table');
                if (name === 'select') {
                    xadmin.modal.open("选择维护的设备","serviceRecord/selectServiceEquipment/" + recordId + "/" + type,{
                        btn: ['提交', '取消'],
                        area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '55%'],
                        yes: function (index, layero) {
                            $('#select-service-equipment').find('#submit').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        layer.msg('请选择要移除的维护设备', {icon: 5});
                        return;
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'serviceRecord/deleteServiceEquipments',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    layer.msg(result.message, {icon: 6});
                                    table.reload('service_equipment_table');
                                    parent.requeryServiceRecord();
                                } else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'select',
                title: '选择维护设备'
            }, {
                name: 'delete',
                title: '移除维护设备'
            }]
        });
        // 选择维护设备后，table重载
        window.requerySelectedServiceEquipment = function() {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                }
            }
            serviceEquipmentTable.reload(options);
            parent.requeryServiceRecord();
        }
        // 查询
        window.requeryServiceEquipment = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#service_equipment_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            serviceEquipmentTable.reload(options);
        }
        $queryServiceEquipment.on('click', function() {
            requeryServiceEquipment();
        });
        // 重置刷新
        $resetServiceEquipment.on('click', function () {
            $searchForm[0].reset();
            requeryServiceEquipment();
        });
        // 移除维护设备
        window.removeServiceEquipment = function (id) {
            layer.confirm('确定要移除该维护设备吗？', function(index) {
                $.ajax({
                    url: 'serviceRecord/deleteServiceEquipment',
                    type: 'post',
                    dataType: 'json',
                    data: {id: id},
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            table.reload('service_equipment_table');
                            parent.requeryServiceRecord();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }
    });
</script>