


<div class="layui-fluid" id="provide-del-wait">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${id}" />
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-xs12">
                <label class="layui-form-label xadmin-form-item-require">删除原因：</label>
                <div class="layui-input-block">
                    <input type="text" name="deleteCause" lay-verify="required" th:value="${protectArticles?.deleteCause}" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
          <div class="layui-row xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="provide-del-wait-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();

        form.on('submit(provide-del-wait-form-submit)', function (data) {
            var formData = new FormData();
            formData.append("provideCustoms", JSON.stringify(data.field));
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protectArticles/delProvideProtectSubmit",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    xadmin.alert.success('删除待防护用品发放记录成功');
                    $('#xadmin-protect-articles').find('#queryProtectArticles').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

            return false;

        });

    });
</script>