<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-protect-articles" lay-title="发放记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab  layui-tab-brief" lay-filter="medical_type_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">待发放防护用品<span class="layui-badge"   id="protectArticlesNum" >0</span></li>
                            <li>防护用品发放</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form" lay-filter="wait_medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="wait_provide_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryProtectArticles">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetProtectArticles">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="wait_provide_table" lay-filter="wait_provide_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form" lay-filter="medical_type">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="provide_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action provide-action-more">
                                                <i class="layui-icon">&#xe875;</i>
                                            </div>
                                        </div>
                                    </div>
                                    <input id="temp_signatureRecord_file" type="file" style="display: none;" />
                                    <input id="temp_protect_articles_id" name="id" type="hidden" />
                                </form>
                                <table id="provide_table" lay-filter="provide_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/html" id="protect-option">
    <!--<a lay-event="detail" ><i-->
    <!--class="layui-icon xadmin-edit-area xadmin-green">&#xe7a5;</i></a>-->
    <a lay-event="edit"><i class="layui-icon xadmin-edit-area xadmin-blue">&#xe7a4;</i></a>

</script>
<script type="text/html" id="table_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="wait_provide_table_bar">
    <a class="layui-btn  layui-btn-xs" lay-event="provideProtect">发放物品</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delProvideProtect">删除</a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate',  'util','form', 'table', 'xadmin', 'treeSelect','util'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            xadmin = layui.xadmin,
            form = layui.form,
            util = layui.util,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#xadmin-protect-articles'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'gmtCreate', type: 'desc'},
            tableIns,waitTableIns;

        form.render();
        dropdown.render({
            elem: $view.find('.provide-action-more'),
            click: function (name, elem, event) {
                if (name === 'add') {
                    xadmin.modal.open('防护用品发放', 'protectArticles/provide/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#provide-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#provide-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }else if (name === 'addAll') {
                    xadmin.modal.open('防护用品批量发放', 'protectArticles/provide/addAll', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#provide-add-all').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#provide-add-all').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
            },
            options: [{
                name: 'add',
                title: '防护用品发放'
            },{
                name: 'addAll',
                title: '批量发放'
            }
            ]
        });

        /**
         * 初始化数据表格
         */
        function initTable() {
            tableIns = xadmin.table.init({
                elem:  '#provide_table',
                id: 'provide_table',
                url: ctx + 'protectArticles/list',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'employeeName', title: '接受员工', minWidth: 120,sort: true},
                    {field: 'postName', title: '岗位', minWidth: 100, sort: true},
                    {field: 'provideArticlesName',title: '发放的防护用品' , minWidth: 160, sort: true},
                    {field: 'provideDate', title: '发放时间',minWidth: 120, sort: true,
                        templet: function(d) {
                            if (d.provideDate) {
                                return util.toDateString(d.provideDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }},
                    {field: 'number', title: '发放数量', minWidth: 120, sort: true},
                    {
                        field: 'signatureRecord', title: '签名记录', minWidth: 160, templet: function (data) {
                            if (data.signatureRecord) {
                                return "<a class='file-download' filePath='" + data.signatureRecord + "'>" + data.signatureRecord.substring(data.signatureRecord.lastIndexOf("/") + 1) + "</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='uploadSignatureRecord(" + data.id + ")'><span class=\"layui-btn  layui-btn-xs\" style=\"background-color: red;\">缺少文件</span></a>"
                        }
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#table_bar',
                        width: 180
                    }
                ]]
            });
        }
        /**
         * 初始化数据表格
         */
        function initWaitTable() {
            waitTableIns = xadmin.table.init({
                elem:  '#wait_provide_table',
                id: 'wait_provide_table',
                url: ctx + 'protectArticles/waitList',
                cols: [[
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {field: 'employeeName', title: '员工', minWidth: 100,sort: true},
                    {field: 'postName', title: '岗位', minWidth: 100, sort: true},
                    {field: 'workDate', title: '上岗时间', minWidth: 120, sort: true,
                        templet: function(d) {
                            if (d.workDate) {
                                return util.toDateString(d.workDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }},
                    {field: 'provideArticlesName',title: '待发放的防护用品' , minWidth: 160, sort: true},
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#wait_provide_table_bar',
                        width: 180
                    }
                ]],
                parseData: function (result) {
                    xadmin.table.parseDataHandler(result);
                    $('#protectArticlesNum').html(result.data.total)
                    return {
                        code: 0,
                        count: result.data.total,
                        data: result.data.rows
                    };
                }
            });
        }
        // 监听防护用品发放table行事件（查看、编辑、删除）
        table.on('tool(provide_table)', function(obj) {
            var data = obj.data;
            // 查看
            if (obj.event === 'detail') {
                xadmin.modal.view('查看防护用品发放信息', 'protectArticles/provide/viewProtect/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open('编辑防护用品发放',  'protectArticles/provide/update/' + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#provide-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定删除该防护用品发放记录吗？', function(index) {
                    $.ajax({
                        url: 'protectArticles/deleteProvide',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 200) {
                                $query.click();
                                $('#xadmin-protect-articles').find('#queryProtectArticles').click();
                                xadmin.alert.success('删除防护用品发放记录成功！');
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 监听防护用品待发放table行事件（查看、编辑、删除）
        table.on('tool(wait_provide_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'provideProtect') {
                xadmin.modal.open('防护用品发放',  'protectArticles/waitProvide/' + data.id, {
                    btn: ['提交', '重置'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#provide-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        $('#provide-add').find('#reset').trigger('click');
                        return false;
                    }
                });
            }else if (obj.event === 'delProvideProtect') {
                xadmin.modal.open('删除待发放防护用品记录',  'protectArticles/delWaitProvide/' + data.id, {
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#provide-del-wait').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

        });

        // 防护用品排序
        table.on('sort(provide_table)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        /**
         * 防护用品发放查询
         */
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });
        /**
         *  防护用品发放刷新
         */
        $reset.on('click', function () {
            $searchForm[1].reset();
            sortObject.type = 'desc';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        // 待发放防护用品排序
        table.on('sort(wait_provide_table)', function (obj) {
            sortObject = obj;
            waitTableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        /**
         * 待发放防护用品发放查询
         */
        $('#queryProtectArticles').on('click', function () {
            var params = $.extend(getQueryWaitParams(), {field: sortObject.field, order: sortObject.type});
            waitTableIns.reload({where: params, page: {curr: 1}});
        });

        /**
         *  待发放防护用品发放刷新
         */
        $('#resetProtectArticles').on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'desc';
            waitTableIns.reload({where: getQueryWaitParams(), page: {curr: 1}, initSort: sortObject});
        });


        function reloadTable(){
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        }

        function getQueryParams() {
            return {
                keyword:  $("#provide_keyword").val()
            };
        }
        function getQueryWaitParams() {
            return {
                keyword:  $("#wait_provide_keyword").val()
            };
        }
        initWaitTable();
        initTable();

        uploadSignatureRecord=function(id) {
            $("#temp_protect_articles_id").val(id);
            $('#temp_signatureRecord_file').val('');
            $('#temp_signatureRecord_file').click();
        }

        $('#temp_signatureRecord_file').change(function (event) {
            if (this.files.length === 0) {
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            //提交ajax
            var formData = new FormData();
            formData.append("id", $("#temp_protect_articles_id").val());
            formData.append("signatureRecord", this.files[0]);
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protectArticles/uploadSignatureRecord",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    $('#xadmin-protect-articles').find('#query').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

        });
    })

</script>