<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="provide-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${protectArticles?.id}" />
        <input id="employee" name="employee" type="hidden" th:value="${protectArticles?.employeeId}" />
        <input id="post" name="post" type="hidden" th:value="${protectArticles?.postId}" />
        <input id="provideArticles" name="provideArticles" type="hidden" th:value="${protectArticles?.provideArticlesId}" />
        <div class="layui-fluid" style="padding: 20px 25px 25px 0">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >接受员工：</label>
                    <div class="layui-input-block">
                        <input id="employeeName" name="post" type="text"  lay-verify="required|model"  readonly th:value="${protectArticles?.employeeName}" autocomplete="off"  class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >岗位：</label>
                    <div class="layui-input-block">
                        <input id="postName" name="post" type="text" readonly th:value="${protectArticles?.postName}" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >防护用品：</label>
                    <div class="layui-input-block">
                        <input id="provideArticlesName" type="text" name="post" readonly th:value="${protectArticles?.provideArticlesName}" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">发放数量：</label>
                    <div class="layui-input-block">
                        <input type="text" name="number"  readonly th:value="${protectArticles?.number}" autocomplete="off"
                               class="layui-input">
                    </div>

                </div>
                <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">发放时间：</label>
                    <div class="layui-input-block">
                        <input type="text" id="provideDate" name="provideDate" readonly placeholder="请选择发放时间"
                               th:value="${#dates.format(protectArticles?.provideDate,'yyyy-MM-dd')}" class="layui-input required">
                    </div>
                </div>
            </div>

            <div class="layui-form-text">
                <label class="layui-form-label">签名记录：</label>
                <div class="layui-input-block">
                    <div id="notifyFile_file_name" class="layui-form-mid">
                         <a class="file-download" th:if="${protectArticles?.signatureRecord}" th:attr="filePath = ${protectArticles?.signatureRecord}" th:text="${protectArticles?.signatureRecord.substring(protectArticles?.signatureRecord.lastIndexOf('/') + 1)}"></a>
                   </div>

                </div>
            </div>
            <div class="layui-row layui-col-space10 xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;
        form.verify(validate);
        form.render();

    });
</script>