<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="provide-add-all">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${protectArticles?.id}" />
        <input id="employee" name="employee" type="hidden" th:value="${protectArticles?.employeeId}" />
        <input id="post" name="post" type="hidden" th:value="${protectArticles?.employeePostId}" />
        <input id="provideArticles" name="provideArticles" type="hidden" th:value="${protectArticles?.provideArticlesId}" />
        <input id="signatureRecord" name="signatureRecord" type="hidden" th:value="${protectArticles?.signatureRecord}" />

        <div class="layui-fluid" style="padding: 20px 25px 25px 0">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >岗位：</label>
                    <div class="layui-input-block">
                        <select id="employeePostId" name="employeePostId" lay-filter="employeePostId" class="required">
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >接受员工：</label>
                    <div class="layui-input-block">
                        <select name="allEmployeeId"
                                xm-select-direction="down"
                                xm-select-search
                                xm-select="all-employee-id-select"
                                xm-select-skin="default">
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >防护用品：</label>
                    <div class="layui-input-block">
                        <select id="provideArticlesId" name="provideArticlesId" lay-verify="required" lay-reqText="防护用品未选" lay-search class="required">
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                <label class="layui-form-label xadmin-form-item-require">发放数量：</label>
                <div class="layui-input-block">
                    <input type="text" name="number" lay-verify="required|number" th:value="${protectArticles?.number}" autocomplete="off"
                           class="layui-input">
                </div>

                </div>
                    <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">发放时间：</label>
                    <div class="layui-input-block">
                        <input type="text" id="provideDate" name="provideDate" placeholder="请选择发放时间"
                               th:value="${#dates.format(protectArticles?.provideDate,'yyyy-MM-dd')}" class="layui-input required">
                    </div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text" style="margin-top: 10px;">
                <label class="layui-form-label">签名记录：</label>
                <div class="layui-input-inline">
                    <input id="signatureRecordName" placeholder="文件名" readonly class="layui-input">
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                    <button id="signatureRecord_btn" type="button" class="layui-btn layui-btn-primary">
                        <i class="layui-icon layui-icon-upload"></i>上传文件
                    </button>
                    <input id="signatureRecord_file" type="file" style="display: none;" />
                </div>
            </div>

            <div class="layui-row layui-col-space10 xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-all-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate','formSelects'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();
        laydate.render({
            elem: '#provideDate',
            type: 'date'
        });

        // 下拉框动态获取岗位
        $.ajax({
            url: 'protectArticles/getPost',
            type: 'post',
            data: {},
            async: false,
            success: function (result) {
                var option2 = '<option value="" selected>请选择岗位</option>';
                var employeePostId=$('#post').val();
                $.each(result.data, function(i, v) {
                    if(v.id==employeePostId){
                        option2 += '<option value="'+ v.id + '" selected>' + v.postName + '</option>';
                    }else{
                        option2 += '<option value="'+ v.id + '">' + v.postName + '</option>';
                    }

                });
                $('#employeePostId').html(option2);
                form.render('select');
            }
        });
        // 监听接受员工，动态显示div
        form.on('select(employeePostId)', function(data) {
            var postId = data.value;
            formSelects.config('all-employee-id-select', {
                searchUrl: ctx + 'protectArticles/getEmployeeByPostId/'+postId,
                searchName: 'keyword',
                response: {
                    statusCode: 200
                },
                beforeSuccess: function (id, url, searchVal, result) {
                    var data = result.data;
                    var tranData = [];
                    for (var i = 0; i < data.length; i++) {
                        tranData.push({
                            name: data[i].employeeName,
                            value: data[i].id+"|"+data[i].employeeId
                        })
                    }
                    result.data = tranData;
                    return result;
                },
                success: function () {

                },
                error: function (id, url, searchVal, err) {
                    xadmin.alert.error('获取员工信息失败');
                }
            });

        });
        $.ajax({
            url: 'protectArticles/getProtect',
            type: 'post',
            data: {},
            async: false,
            success: function (result) {
                var provideArticles=$('#provideArticles').val();
                var option3 = '<option value="" selected>请选择防护用品</option>';
                $.each(result.data, function(i, v) {
                    if(provideArticles==v.id){
                        option3 += '<option value="'+ v.id + '" selected>' + v.name + '</option>';
                    }else{
                        option3 += '<option value="'+ v.id + '">' + v.name + '</option>';
                    }

                });
                $('#provideArticlesId').html(option3);
                form.render('select');
            }
        });


        form.on('submit(protect-add-all-form-submit)', function (data) {
            var signatureRecord = $("#signatureRecord_file").get(0).files;
            var formData = new FormData();
            formData.append("provideCustoms", JSON.stringify(data.field));
            if (signatureRecord.length != 0) {
                formData.append("signatureRecord", signatureRecord[0]);
            }
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protectArticles/provideAddAll",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    xadmin.alert.success('防护用品批量发放成功');
                    $('#xadmin-protect-articles').find('#query').click();
                    $('#xadmin-protect-articles').find('#queryProtectArticles').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

            return false;

        });


        // 文件名
        if ($('#signatureRecord').val() != '') {
            $('#signatureRecordName').val($('#signatureRecord').val().substring($('#signatureRecord').val().lastIndexOf('/') + 1));
        }
        // 年度计划文件上传
        $('#signatureRecord_btn').click(function (event) {
            $('#signatureRecord_file').click();
        });
        $('#signatureRecord_file').change(function (event) {
            if (this.files.length === 0) {
                $('#signatureRecordName').val('');
                return;
            }
            // 限制上传文件大小最大为5MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#signatureRecordName').val(this.files[0].name);
        });
        // 下载上传文件
        $('#signatureRecord_download').click(function (event) {
            var filePath = $('#signatureRecord').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>