<style>
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #protect-add {
        padding: 20px 25px 25px 0;
    }
    #protect-add .layui-form-label {
        width: 120px;
    }
    #protect-add .layui-input-block {
        margin-left: 150px;
    }
</style>


<div class="layui-fluid" id="provide-add">
    <form class="layui-form" action="" lay-filter="protect-add-form">
        <input id="id" name="id" type="hidden" th:value="${protectArticles?.id}" />
        <input id="employeeId" name="employeeId" type="hidden" th:value="${protectArticles?.employeeId}" />
        <input id="employeePostId" name="employeePostId" type="hidden" th:value="${protectArticles?.employeePostId}" />
        <input id="provideArticlesId" name="provideArticlesId" type="hidden" th:value="${protectArticles?.provideArticlesId}" />
        <input id="signatureRecord" name="signatureRecord" type="hidden" th:value="${protectArticles?.signatureRecord}" />

        <div class="layui-fluid" style="padding: 20px 25px 25px 0">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >接受员工：</label>
                    <div class="layui-input-block">
                        <input type="text" name="employeeName"  readonly th:value="${protectArticles?.employeeName}" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >岗位：</label>
                    <div class="layui-input-block">
                        <input type="text" name="postName"  readonly th:value="${protectArticles?.postName}" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <label class="layui-form-label xadmin-form-item-require" >防护用品：</label>
                    <div class="layui-input-block">
                        <input type="text" name="provideArticlesName"  readonly th:value="${protectArticles?.provideArticlesName}" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6">
                <label class="layui-form-label xadmin-form-item-require">发放数量：</label>
                <div class="layui-input-block">
                    <input type="text" name="number" lay-verify="required|number" th:value="${protectArticles?.number}" autocomplete="off"
                           class="layui-input">
                </div>

                </div>
                    <div class="layui-col-xs6">
                    <label class="layui-form-label xadmin-form-item-require">发放时间：</label>
                    <div class="layui-input-block">
                        <input type="text" id="provideDate" name="provideDate" placeholder="请选择发放时间"
                               th:value="${#dates.format(protectArticles?.provideDate,'yyyy-MM-dd')}" class="layui-input required">
                    </div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text" style="margin-top: 10px;">
                <label class="layui-form-label">签名记录：</label>
                <div class="layui-input-inline">
                    <input id="signatureRecordName" placeholder="文件名" readonly class="layui-input">
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                    <button id="signatureRecord_btn" type="button" class="layui-btn layui-btn-primary">
                        <i class="layui-icon layui-icon-upload"></i>上传文件
                    </button>
                    <input id="signatureRecord_file" type="file" style="display: none;"/>
                </div>

            </div>
            <div class="layui-row layui-col-space10 xadmin-hide">
                <button class="layui-btn" lay-submit="" lay-filter="protect-add-form-submit" id="submit"></button>
                <button type="reset" class="layui-btn" id="reset"></button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['xadmin', 'form', 'laydate', 'validate'], function () {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            laydate = layui.laydate;

        form.verify(validate);
        form.render();
        laydate.render({
            elem: '#provideDate',
            type: 'date',
            value: new Date()
        });


        form.on('submit(protect-add-form-submit)', function (data) {
            var signatureRecord = $("#signatureRecord_file").get(0).files;
            var formData = new FormData();
            formData.append("provideCustoms", JSON.stringify(data.field));
            if (signatureRecord.length != 0) {
                formData.append("signatureRecord", signatureRecord[0]);
            }
            var loadingIndex = parent.layer.load(2);
            $.ajax({
                url: "protectArticles/provideAdd",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    if($('#id').val()!=''){
                        xadmin.alert.success('修改防护用品发放成功');
                    }else
                        xadmin.alert.success('新增防护用品发放成功');

                    $('#xadmin-protect-articles').find('#queryProtectArticles').click();
                    $('#xadmin-protect-articles').find('#query').click();
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

            return false;
        });



        // 文件名
        if ($('#signatureRecord').val() != '') {
            $('#signatureRecordName').val($('#signatureRecord').val().substring($('#signatureRecord').val().lastIndexOf('/') + 1));
        }
        // 年度计划文件上传
        $('#signatureRecord_btn').click(function (event) {
            $('#signatureRecord_file').click();
        });
        $('#signatureRecord_file').change(function (event) {
            if (this.files.length === 0) {
                $('#signatureRecordName').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#signatureRecordName').val(this.files[0].name);
        });
        // 下载上传文件
        $('#signatureRecord_download').click(function (event) {
            var filePath = $('#signatureRecord').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });

    });
</script>