<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-harmFactor" lay-title="监管区域管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full" id="monitor-list">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="monitor-list-table" lay-filter="monitor-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "table", "layer", "util", "common", "dropdown",'xadmin'], function () {
        let $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form,
            xadmin = layui.xadmin,
            util = layui.util,
            common = layui.common,
            dropdown = layui.dropdown;
        requeryMonitor = function(sort) {
            var options = {
                where: {
                    keyword: $("#monitor-list .keyword").val().trim(),
                }
            }
            if (sort) {
                // options.initSort = sort;
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            monitorTable.reload(options);
        }

        editMonitor = function(id) {
            common.layerOpen(
                "monitor/edit",
                {
                    id: id
                },
                {
                    title: "编辑监管区域信息",
                    area : ["900px", "550px"],
                    btn: ["提交", "重置"],
                    yes: function(index, layero) {
                        $("#monitor-form-submit").click();
                        return false;
                    },
                    btn2: function(index, layero) {
                        $("#monitor_form")[0].reset();
                        return false;
                    }
                }
            );
        }

        viewMonitor = function(id) {
            common.layerOpen(
                "monitor/view",
                {
                    id: id
                },
                {
                    title: "查看监管区域信息",
                    area : ["900px", "550px"]
                }
            );
        }

        enableMonitor = function (enable) {
            var checkStatus = table.checkStatus("monitor-list-table");
            if (checkStatus.data.length == 0) {
                layer.msg("请勾选需要" + (enable ? "启用" : "禁用") + "的数据", {icon: 5});
                return;
            }
            var ids = [];
            $.each(checkStatus.data, function (index, data) {
                ids.push(data.id);
            });
            var loadingIndex = layer.load(2);
            $.ajax({
                url: "monitor/enable",
                type: "post",
                dataType: "json",
                data: {idsJSON: JSON.stringify(ids), enable: enable},
                success: function (result, status, xhr) {
                    if (result.status === "success") {
                        layer.msg((enable ? "启用" : "禁用") + "成功", {icon: 6});
                        requeryMonitor();
                        return;
                    }
                    layer.msg(result.message, {icon: 5});
                },
                complete: function (xhr, status) {
                    layer.close(loadingIndex);
                }
            });
        }

        removeMonitor = function() {
            var checkStatus = table.checkStatus("monitor-list-table");
            if (checkStatus.data.length == 0) {
                layer.msg("请勾选需要删除的数据", {icon: 5});
                return;
            }
            var ids = [];
            $.each(checkStatus.data, function (index, data) {
                ids.push(data.id);
            });
            deleteMonitor(ids);
        }

        deleteMonitor = function(ids) {
            layer.confirm("确定删除监管区域吗？", function (index) {
                var loadingIndex = layer.load(2);
                $.ajax({
                    url: "monitor/delete",
                    type: "post",
                    dataType: "json",
                    data: {idsJSON: JSON.stringify(ids)},
                    success: function (result, status, xhr) {
                        if (result.status === "success") {
                            layer.msg("删除监管区域成功", {icon: 6});
                            requeryMonitor();
                            return;
                        }
                        layer.msg(result.message, {icon: 5});
                    },
                    complete: function (xhr, status) {
                        layer.close(loadingIndex);
                    }
                });
                layer.close(index);
            });
        }
        let monitorTable = table.render({
            elem: "#monitor-list-table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "areaName",
                        title: "监管区域名称",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "city",
                        title: "区域所属城市",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        field: "gmtCreate",
                        title: "创建时间",
                        align: "center",
                        sort: true,
                        width: 160,
                        templet: function (data) {
                            if (data.gmtCreate) {
                                return util.toDateString(data.gmtCreate, "yyyy-MM-dd");
                            }
                            return "";
                        }
                    },
                    {
                        field: "status",
                        title: "状态",
                        align: "center",
                        sort: true,
                        width: 90,
                        templet: function (data) {
                            var status = "";
                            if (data.status === 0) {
                                status = "已启用";
                            } else if (data.status === 1) {
                                status = "已禁用";
                            }
                            return status;
                        }
                    },
                    {
                        title: "操作",
                        align: "center",
                        fixed: "right",
                        width: 160,
                        toolbar: "<div><a href='javascript:void(0);' class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a><a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' lay-event='delete'>删除</a><a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs' lay-event='view'>详情</a></div>"
                    }
                ]
            ],
            url: "monitor/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                keyword: $("#monitor-list .keyword").val().trim()
            },
            autoSort: false
        });
        table.on("sort(monitor-list-table)", function (obj) {
            requeryMonitor(obj);
        });

        table.on("tool(monitor-list-table)", function (obj) {
            if (obj.event === "edit") {
                editMonitor(obj.data.id);
            }else if (obj.event === "delete") {
                deleteMonitor([obj.data.id]);
            }else if (obj.event === "view") {
                viewMonitor(obj.data.id);
            }
        });

        $("#monitor-list .query").click(requeryMonitor);

        $("#monitor-list .reset").click(function (event) {
            $("#monitor-list .keyword").val("");
            requeryMonitor();
        });

        dropdown.render({
            elem: $("#monitor-list .action-more"),
            click: function (name, elem, event) {
                if (name === "edit") {
                    editMonitor();
                }
                if (name === "disable") {
                    enableMonitor(false);
                }
                if (name === "enable") {
                    enableMonitor(true);
                }
                if (name === "remove") {
                    removeMonitor();
                }
            },
            options: [{
                name: "edit",
                title: "新增"
            },{
                name: "disable",
                title: "禁用"
            },{
                name: "enable",
                title: "启用"
            },{
                name: "remove",
                title: "删除"
            }]
        });
    });
</script>