<style>
    #post-edit {
        padding: 20px 25px 25px 0;
    }
    #post-edit .layui-form-label{
        width: 115px;
    }
    #post-edit .layui-input-block{
        margin-left: 145px;
    }
</style>
<div class="layui-fluid layui-anim xadmin-anim" id="post-edit" lay-title="岗位管理">
        <form id="enterprise_post_form" class="layui-form" lay-filter="enterprise_post_form">
            <input id="enterprise_post_id" name="id" type="hidden" th:value="${enterprisePost?.id}" />
            <input id="temp_workplace_id" name="temp_workplace_id" type="hidden" th:value="${enterprisePost?.workplaceId}" />
            <input id="enterprise_post_operation_rule" name="operationRule" type="hidden" th:value="${enterprisePost?.operationRule}" />
            <div class="layui-fluid">
                <div class="layui-form-item">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">部门名称：</label>
                        <div class="layui-input-block">
                            <input id="dept_name" name="deptName" class="layui-input" lay-verify="required" lay-reqText="部门名称未填" type="text" placeholder="请输入部门名称" th:value="${enterprisePost?.deptName}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label xadmin-form-item-require">岗位名称：</label>
                        <div class="layui-input-block">
                            <input id="post_name" name="postName" class="layui-input" lay-verify="required" lay-reqText="岗位名称未填" type="text" placeholder="请输入岗位名称" th:value="${enterprisePost?.postName}" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label xadmin-form-item-require">工作场所：</label>
                        <div class="layui-input-block">
                            <select name="workplace_id"
                                    xm-select-direction="down" lay-verify="required" lay-reqText="工作场所未填"
                                    xm-select-search
                                    xm-select="post-add-workplace"
                                    xm-select-skin="default">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label ">岗位操作规程：</label>
                        <div class="layui-input-inline">
                            <input id="operationRuleName" placeholder="文件名" readonly class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-btn-container" style="width: auto;">
                            <button id="operationRule_btn" type="button" class="layui-btn layui-btn-primary">
                                <i class="layui-icon layui-icon-upload"></i>上传文件
                            </button>
                            <input id="operationRule_file" type="file" style="display: none;"  />
                        </div>
                    </div>
                </div>
                <div class="layui-row" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="post-submit" lay-submit lay-filter="post" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
        <script th:inline="javascript">
            layui.use(["jquery", "form", "layer","xadmin","formSelects"], function () {
                var $ = layui.$,
                    layer = layui.layer,
                    formSelects = layui.formSelects,
                    form = layui.form;
                var currentIndex = layer.index;

                formSelects.render();

                /**
                 * 选择防护危害因素下拉加载
                 */
                formSelects.config('post-add-workplace', {
                    searchUrl: ctx + 'post/getWorkplaces',
                    searchName: 'keyword',
                    response: {
                        statusCode: 200
                    },
                    beforeSuccess: function (id, url, searchVal, result) {
                        var data = result.data;
                        console.log(data);
                        var tranData = [];
                        for (var i = 0; i < data.length; i++) {
                            tranData.push({
                                name: data[i].name,
                                value: data[i].id
                            })
                        }
                        result.data = tranData;
                        return result;
                    },
                    success: function () {
                        var temp_workplace_id=$('#temp_workplace_id').val();
                        if(temp_workplace_id!=''){
                            formSelects.value('post-add-workplace', temp_workplace_id.split(','));
                        }
                    },
                    error: function (id, url, searchVal, err) {
                        console.error(err);
                        xadmin.alert.error('获取工作场所失败');
                    }
                });

                // 如果是编辑，显示下载文件按钮
                if ($('#enterprise_post_id').val()) {
                    // 文件名
                    if ($('#enterprise_post_operation_rule').val() != '') {
                        $('#operationRuleName').val($('#enterprise_post_operation_rule').val().substring($('#enterprise_post_operation_rule').val().lastIndexOf('/') + 1));
                    }
                    $('#operationRule_file').after('<button type="button" id="operationRule_download" class="layui-btn layui-btn-primary">下载文件</button>');
                }
                // 年度计划文件上传
                $('#operationRule_btn').click(function (event) {
                    $('#operationRule_file').click();
                });
                $('#operationRule_file').change(function (event) {
                    if (this.files.length === 0) {
                        $('#operationRuleName').val('');
                        return;
                    }
                    // 限制上传文件大小最大为5MB
                    var fileSize = this.files[0].size;
                    if (fileSize > 20*1024*1024) {
                        layer.msg('上传文件大小不能超过20MB', {icon: 5});
                        // 允许同一个文件重复上传
                        this.value = '';
                        return;
                    }
                    $('#operationRuleName').val(this.files[0].name);
                });
                // 下载上传文件
                $('#operationRule_download').click(function (event) {
                    var filePath = $('#enterprise_post_operation_rule').val();
                    if (filePath == '') {
                        layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                        return false;
                    } else {
                        window.open("/downloadFile?filePath=" + filePath, "_blank");
                        return false;
                    }
                });

                form.on("submit(post)", function (data) {
                    var operationRuleFiles = $("#operationRule_file").get(0).files;
                    // if (!$("#enterprise_post_operation_rule").val() && operationRuleFiles.length == 0) {
                    //     layer.msg("岗位操作规程未选择", {icon: 5});
                    //     return ;
                    // }
                    var formData = new FormData();
                    formData.append("enterprisePostJSON", JSON.stringify(data.field));
                    if (operationRuleFiles.length != 0) {
                        formData.append("operationRuleFile", operationRuleFiles[0]);
                    }
                    var loadingIndex = parent.layer.load(2);
                    $.ajax({
                        url: "post/save",
                        type: "post",
                        dataType: "json",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (result, status, xhr) {
                            if (result.status === 200) {
                                layer.msg("保存岗位成功", {icon: 6});
                                requeryPost();
                                layer.close(currentIndex);
                                return;
                            }
                            layer.msg(result.message, {icon: 5});
                        },
                        complete: function (xhr, status) {
                            layer.close(loadingIndex);
                        }
                    });
                    return false;
                });
            });
        </script>
