<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-admin-post" lay-title="岗位管理">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full" id="post-list">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="模糊查询" class="layui-input keyword"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                        <input id="temp_operationRule_file" type="file" style="display: none;" />
                        <input id="temp_post_id" name="id" type="hidden" />
                    </form>
                    <table id="post_table" lay-filter="post_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    layui.use(["jquery", "form", "table", "layer", "common", "dropdown",'xadmin'], function () {
        let $ = layui.$,
            xadmin = layui.xadmin,
            table = layui.table,
            layer = layui.layer,
            form = layui.form,
            common = layui.common,
            dropdown = layui.dropdown;
        requeryPost = function(sort){
            var options = {
                where: {
                    keyword: $("#post-list .keyword").val().trim(),
                },
                page: {curr: 1}
            }
            if (sort) {
                // options.initSort = sort;
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            postTable.reload(options);
        }

        editPost = function(id) {
            common.layerOpen(
                "post/edit",
                {
                    id: id
                },
                {
                    title: "编辑岗位",
                    area : ["650px", "380px"],
                    btn: ["提交", "取消"],
                    yes: function(index, layero) {
                        $("#post-submit").click();
                        return false;
                    },
                    btn2: function(index, layero) {
                        var index = layer.getFrameIndex(window.name);
                        layer.close(index);
                    }
                }
            );
        }

        viewPost = function(id) {
            common.layerOpen(
                "post/view",
                {
                    id: id
                },
                {
                    title: "查看岗位",
                    area : ["650px", "380px"]
                }
            );
        }

        removePost = function() {
            var checkStatus = table.checkStatus("post_table");
            if (checkStatus.data.length == 0) {
                layer.msg("请选择需要删除的数据", {icon: 5});
                return;
            }
            var ids = [];
            $.each(checkStatus.data, function (index, data) {
                ids.push(data.id);
            });
            deletePost(ids);
        }

        deletePost = function(ids) {
            layer.confirm("确定删除岗位吗？", {title: ""}, function (index) {
                $.ajax({
                    url: "post/delete",
                    type: "post",
                    dataType: "json",
                    data: {"idsJSON": JSON.stringify(ids)},
                    success: function (result) {
                        if (result.status == "success"){
                            layer.msg("删除岗位成功", {icon: 6});
                            requeryPost();
                        }else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }

        protectArticles = function(postId) {
            common.layerOpen(
                "post/protectArticles",
                {
                    postId: postId
                },
                {
                    title: "防护用品",
                    area : ["900px", "580px"]
                }
            );
        }

        harmFactor = function(postId) {
            common.layerOpen(
                "post/harmFactor",
                {
                    postId: postId
                },
                {
                    title: "危害因素",
                    area : ["900px", "580px"]
                }
            );
        }
        let postTable = table.render({
            elem: "#post_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "deptName",
                        title: "部门名称",
                        align: "center",
                        sort: true,
                        width: 120
                    },
                    {
                        field: "postName",
                        title: "岗位名称",
                        align: "center",
                        sort: true,
                        width: 150
                    },
                    {
                        title: "危害因素",
                        align: "center",
                        width: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='harmFactor(" + data.id + ")'>" + (data.harmFactorNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>" : "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少涉害因素</span>") + "</a>"
                        }
                    },
                    {
                        field: 'operationRule', align: "center", title: '岗位操作规程', width: 120, templet: function (data) {
                            if (data.operationRule) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.operationRule + "'>下载</a>";
                            }
                            return "<a href='javascript:void(0);' onclick='uploadOperationRule(" + data.id + ")'><span class=\"layui-btn  layui-btn-xs\" style=\"background-color: red;\">缺失岗位规程</span></a>"
                        }
                    },
                    {
                        title: "防护用品",
                        align: "center",
                        width: 90,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='protectArticles(" + data.id + ")'>" + (data.protectArticlesNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>" : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>") + "</a>"
                        }
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        sort: true,
                        minWidth: 100
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: 160,
                        fixed: "right",
                        toolbar: "<div><a href='javascript:void(0);' class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a><a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' lay-event='delete'>删除</a><a href='javascript:void(0);' class='layui-btn layui-btn-primary layui-btn-xs' lay-event='view'>详情</a></div>"
                    }
                ]
            ],
            url: "post/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                keyword: $("#post-list .keyword").val().trim()
            },
            autoSort: false
        });
        table.on("sort(post_table)", function (obj) {
            requeryPost(obj);
        });

        table.on("tool(post_table)", function (obj) {
            if (obj.event === "edit") {
                editPost(obj.data.id);
            }else if (obj.event === "delete") {
                deletePost([obj.data.id]);
            }else if (obj.event === "view") {
                viewPost(obj.data.id);
            }
        });

        $("#post-list .query").click(requeryPost);

        $("#post-list .reset").click(function (event) {
            $("#post-list .keyword").val("");
            requeryPost();
        });

        uploadOperationRule=function(id) {

            $("#temp_post_id").val(id);
            $('#temp_operationRule_file').val('');
            $('#temp_operationRule_file').click();
        }

        $('#temp_operationRule_file').change(function (event) {
            var loadingIndex = parent.layer.load(2);
            if (this.files.length === 0) {
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            //提交ajax
            var formData = new FormData();
            formData.append("id", $("#temp_post_id").val());
            formData.append("operationRule", this.files[0]);

            $.ajax({
                url: "post/uploadOperationRule",
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    layer.closeAll();
                    requeryPost();
                    layer.msg("上传岗位操作规程成功！", {icon: 6});
                },
                complete: function (xhr, status) {
                    layer.closeAll();
                }
            });

        });

        dropdown.render({
            elem: $("#post-list .action-more"),
            click: function (name, elem, event) {
                if (name === "edit") {
                    editPost();
                }
                if (name === "remove") {
                    removePost();
                }
            },
            options: [{
                name: "edit",
                title: "新增"
            },{
                name: "remove",
                title: "删除"
            }]
        });
    });
</script>