<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>查看岗位</title>

        <style type="text/css">
            .layui-form-label{
                width: 100px;
            }
            .layui-input-block{
                margin-left: 135px;
            }
        </style>
    </head>
    <body>
        <form id="enterprise_post_form" class="layui-form" lay-filter="enterprise_post_form">
            <input id="enterprise_post_id" type="hidden" th:value="${enterprisePost?.id}" />
            <input id="enterprise_post_operation_rule" type="hidden" th:value="${enterprisePost?.operationRule}" />
            <div class="layui-fluid" style="padding: 20px 25px 25px 0">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">部门名称：</label>
                        <div class="layui-input-block">
                            <input id="dept_name" readonly class="layui-input required" type="text" th:value="${enterprisePost?.deptName}" />
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">岗位名称：</label>
                        <div class="layui-input-block">
                            <input id="post_name" readonly class="layui-input format-number required" type="text" th:value="${enterprisePost?.postName}" />
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label">工作场所：</label>
                        <div class="layui-input-block">
                            <input id="workplace_name" readonly class="layui-input format-number required" type="text" th:value="${enterprisePost?.workplaceName}" />
                        </div>
                    </div>

                    <div class="layui-col-xs12">
                        <label class="layui-form-label">岗位操作规程：</label>
                        <div class="layui-input-block">
                            <span id="operation_rule_name" class="layui-form-mid">
                                <a class="file-download" th:if="${enterprisePost?.operationRule}" th:attr="filePath = ${enterprisePost?.operationRule}" th:text="${enterprisePost?.operationRule.substring(enterprisePost?.operationRule.lastIndexOf('/') + 1)}"></a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <script th:inline="javascript">
            layui.use(["form", "layer"], function () {

            });
        </script>
    </body>
</html>