<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-training-admin">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="training_admin_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryTrainingAdmin">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetTrainingAdmin">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                    <i class="layui-icon">&#xe875;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="training_admin_table" lay-filter="training_admin_table"></table>
</div>
<style type="text/css">
    .layui-dropdown{
        z-index: 200000000;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-training-admin'),
            $queryTrainingAdmin = $view.find('#queryTrainingAdmin'),
            $resetTrainingAdmin = $view.find('#resetTrainingAdmin'),
            $searchForm = $view.find('form');
        form.render();
        // 培训id
        var trainingId = [[${trainingId}]];
        // 参加培训的普通员工table
        var trainingAdminTable = table.render({
            elem: "#training_admin_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "管理员姓名",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "job",
                        title: "职务",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    },
                    {
                        field: "department",
                        title: "部门",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: 90,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' class='layui-btn layui-btn-danger layui-btn-xs' onclick='removeTrainingAdmin(" + data.id + ")'>移除</a>";
                        }
                    }
                ]
            ],
            url: 'training/listTrainingAdminsByTrainingId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.trainingAdmins
                };
            },
            where: {
                keyword: $('#training_admin_keyword').val().trim(),
                trainingId: trainingId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(training_admin_table)', function (obj) {
            requeryTrainingAdmin(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('training_admin_table');
                if (name === 'select') {
                    xadmin.modal.open("选择培训的管理员","training/selectTrainingAdmin/" + trainingId,{
                        btn: ['提交', '取消'],
                        area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '55%'],
                        yes: function (index, layero) {
                            $('#select-training-admin').find('#submit').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        layer.msg('请选择要移除的培训管理员', {icon: 5});
                        return;
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'training/deleteTrainingEmployees',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    layer.msg(result.message, {icon: 6});
                                    table.reload('training_admin_table');
                                    parent.requeryTraining();
                                } else {
                                    layer.msg(result.message, {icon: 5});
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'select',
                title: '选择培训管理员'
            }, {
                name: 'delete',
                title: '移除培训管理员'
            }]
        });
        // 选择参加员工后，table重载
        window.requerySelectedTrainingAdmin = function() {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                }
            }
            trainingAdminTable.reload(options);
            parent.requeryTraining();
        }
        // 查询
        window.requeryTrainingAdmin = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#training_admin_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingAdminTable.reload(options);
        }
        $queryTrainingAdmin.on('click', function() {
            requeryTrainingAdmin();
        });
        // 重置刷新
        $resetTrainingAdmin.on('click', function () {
            $searchForm[0].reset();
            requeryTrainingAdmin();
        });
        // 移除培训员工
        window.removeTrainingAdmin = function (id) {
            layer.confirm('确定要移除该培训管理员吗？', function(index) {
                $.ajax({
                    url: 'training/deleteTrainingEmployee',
                    type: 'post',
                    dataType: 'json',
                    data: {id: id},
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.msg(result.message, {icon: 6});
                            table.reload('training_admin_table');
                            parent.requeryTraining();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    }
                });
            });
        }
    });
</script>