<div class="layui-fluid layui-anim xadmin-anim" id="select-training-admin">
    <form class="layui-form layui-table-form">
        <div class="layui-row">
            <div class="layui-col-md10">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input id="select_training_admin_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="querySelectTrainingAdmin">
                    <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetSelectTrainingAdmin">
                    <i class="layui-icon">&#xe79b;</i>
                </div>
            </div>
        </div>
    </form>
    <table id="select_training_admin_table" lay-filter="select_training_admin_table"></table>
    <div class="layui-form-item xadmin-hide">
        <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="select-training-admin"></button>
        <button type="reset" class="layui-btn" id="reset"></button>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'form','xadmin'], function() {
        var $ = layui.$,
            xadmin = layui.xadmin,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            $view = $('#select-training-admin'),
            $querySelectTrainingAdmin = $view.find('#querySelectTrainingAdmin'),
            $resetSelectTrainingAdmin = $view.find('#resetSelectTrainingAdmin'),
            $searchForm = $view.find('form');
        form.render();
        let currentIndex = layer.index;
        // 培训id
        var trainingId = [[${trainingId}]];
        // 尚未参加培训的普通员工table
        var selectTrainingAdminTable = table.render({
            elem: "#select_training_admin_table",
            cols: [
                [
                    {
                        type: "checkbox",
                        align: "center"
                    },
                    {
                        field: "name",
                        title: "管理员姓名",
                        align: "center",
                        minWidth: 120,
                        sort: true
                    },
                    {
                        field: "job",
                        title: "职务",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    },
                    {
                        field: "department",
                        title: "部门",
                        align: "center",
                        minWidth: 100,
                        sort: true
                    }
                ]
            ],
            url: 'training/listSelectTrainingAdminsByTrainingId',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.selectTrainingAdmins
                };
            },
            where: {
                keyword: $('#select_training_admin_keyword').val().trim(),
                trainingId: trainingId
            },
            autoSort: false
        });
        // table排序
        table.on('sort(select_training_admin_table)', function (obj) {
            requerySelectTrainingAdmin(obj);
        });
        // 查询
        window.requerySelectTrainingAdmin = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#select_training_admin_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            selectTrainingAdminTable.reload(options);
        }
        $querySelectTrainingAdmin.on('click', function() {
            requerySelectTrainingAdmin();
        });
        // 重置刷新
        $resetSelectTrainingAdmin.on('click', function () {
            $searchForm[0].reset();
            requerySelectTrainingAdmin();
        });
        // 表单提交
        form.on('submit(select-training-admin)', function(data) {
            var checkStatus = table.checkStatus("select_training_admin_table");
            if (checkStatus.data.length == 0) {
                layer.msg("请选择要提交的培训管理员", {icon: 5});
                return;
            }
            var loadingIndex = parent.layer.load(2);
            var traingEmployeeList = [];
            $.each(checkStatus.data, function (index, data) {
                traingEmployeeList.push({
                    trainingId: trainingId,
                    employeeId: data.employeeId
                });
            });
            $.ajax({
                url: "training/selectTrainingEmployee/save",
                type: "post",
                dataType: "json",
                data: {"traingEmployeeListJSON": JSON.stringify(traingEmployeeList)},
                success: function (result) {
                    if (result.status == "success"){
                        layer.msg(result.message, {icon: 6});
                        layer.close(currentIndex);
                        parent.requerySelectedTrainingAdmin();
                    }else {
                        layer.msg(result.message, {icon: 5});
                    }
                },
                complete: function (xhr, status) {
                    parent.layer.close(loadingIndex);
                }
            });
        });
    });
</script>