<style>
    #certificate-edit {
        padding: 20px 25px 25px 0;
    }

</style>
<div class="layui-fluid" id="certificate-edit">
        <form id="enterprise_relation_file_form" class="layui-form" lay-filter="enterprise_relation_file_form">
            <input id="enterprise_relation_file_id" name="id" type="hidden" th:value="${enterpriseRelationFile?.id}" />
            <input id="enterprise_relation_file_relation_id" name="relationId" type="hidden" th:value="${enterpriseRelationFile?.relationId}" />
            <input id="enterprise_relation_file_file_path" name="filePath" type="hidden" th:value="${enterpriseRelationFile?.filePath}" />
            <div class="layui-fluid">
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label xadmin-form-item-require">文件描述：</label>
                        <div class="layui-input-block">
                            <input id="description" name="description" class="layui-input" lay-verify="required" lay-reqText="文件描述未填" type="text" placeholder="请输入文件描述" th:value="${enterpriseRelationFile?.description}" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label xadmin-form-item-require">附件：</label>
                        <div class="layui-input-inline">
                            <input id="relationFileName" placeholder="文件名" readonly class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-btn-container" style="width: auto;">
                            <button id="relationFile_btn" type="button" class="layui-btn layui-btn-primary">
                                <i class="layui-icon layui-icon-upload"></i>上传文件
                            </button>
                            <input id="relationFile_file" type="file" style="display: none;"  />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="display:none;">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="certificate-submit" lay-submit lay-filter="certificate" type="button" class="layui-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
        <script th:inline="javascript">
            layui.use(["jquery", "form", "layer"], function () {
                let $ = layui.$,
                    layer = layui.layer,
                    form = layui.form;
                let currentIndex = layer.index;

                // 如果是编辑，显示下载文件按钮
                if ($('#enterprise_relation_file_id').val()) {
                    // 文件名
                    if ($('#enterprise_relation_file_file_path').val() != '') {
                        $('#relationFileName').val($('#enterprise_relation_file_file_path').val().substring($('#enterprise_relation_file_file_path').val().lastIndexOf('/') + 1));
                    }
                    $('#relationFile_file').after('<button type="button" id="relationFile_download" class="layui-btn layui-btn-primary">下载文件</button>');
                }
                // 年度计划文件上传
                $('#relationFile_btn').click(function (event) {
                    $('#relationFile_file').click();
                });
                $('#relationFile_file').change(function (event) {
                    if (this.files.length === 0) {
                        $('#relationFileName').val('');
                        return;
                    }
                    // 限制上传文件大小最大为20MB
                    var fileSize = this.files[0].size;
                    if (fileSize > 20*1024*1024) {
                        layer.msg('上传文件大小不能超过20MB', {icon: 5});
                        // 允许同一个文件重复上传
                        this.value = '';
                        return;
                    }
                    $('#relationFileName').val(this.files[0].name);
                });
                // 下载上传文件
                $('#relationFile_download').click(function (event) {
                    var filePath = $('#enterprise_relation_file_file_path').val();
                    if (filePath == '') {
                        layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                        return false;
                    } else {
                        window.open("/downloadFile?filePath=" + filePath, "_blank");
                        return false;
                    }
                });

                form.on("submit(certificate)", function (data) {
                    var files = $("#relationFile_file").get(0).files;
                    if (!$("#enterprise_relation_file_file_path").val() && files.length == 0) {
                        layer.msg("附件未选择", {icon: 5});
                        return ;
                    }
                    var formData = new FormData();
                    formData.append("enterpriseRelationFileJSON", JSON.stringify(data.field));
                    if (files.length != 0) {
                        formData.append("file", files[0]);
                    }
                    var loadingIndex = layer.load(2);
                    $.ajax({
                        url: "hygieneOrg/certificate/save",
                        type: "post",
                        dataType: "json",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (result, status, xhr) {
                            if (result.status === 200) {
                                layer.msg("保存资质证书成功", {icon: 6});
                                requeryCertificate();
                                layer.close(currentIndex);
                                return;
                            }
                            layer.msg(result.message, {icon: 5});
                        },
                        complete: function (xhr, status) {
                            layer.close(loadingIndex);
                        }
                    });
                    return false;
                });
            });
        </script>
