<style>
    #certificate-view {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="certificate-view">
        <form id="enterprise_relation_file_form" class="layui-form" lay-filter="enterprise_relation_file_form">
            <input id="enterprise_relation_file_id" name="id" type="hidden" th:value="${enterpriseRelationFile?.id}" />
            <input id="enterprise_relation_file_relation_id" name="relationId" type="hidden" th:value="${enterpriseRelationFile?.relationId}" />
            <input id="enterprise_relation_file_file_path" name="filePath" type="hidden" th:value="${enterpriseRelationFile?.filePath}" />
            <div class="layui-fluid">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">文件描述：</label>
                        <div class="layui-input-block">
                            <input id="description" readonly class="layui-input required" type="text" th:value="${enterpriseRelationFile?.description}" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">附件：</label>
                        <div class="layui-input-block">
                            <span id="file_name" class="layui-form-mid">
                                <a class="file-download" th:if="${enterpriseRelationFile?.filePath}" th:attr="filePath = ${enterpriseRelationFile?.filePath}" th:text="${enterpriseRelationFile?.fileName}"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
        <script th:inline="javascript">
            layui.use(["form", "layer"], function () {

            });
        </script>
