<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-rescue-accident-account" lay-title="应急救援台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="facility_maintenance_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">应急救援预案</li>
                            <li>演练记录</li>
                            <li>事故调查处理</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetRescue">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="rescue_table" lay-filter="rescue_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="toxic_drill_account_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryToxicDrillAccount">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetToxicDrillAccount">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="toxic_drill_account_table" lay-filter="toxic_drill_account_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="accident_handle_account_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryAccidentHandleAccount">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetAccidentHandleAccount">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                            <div title="下载word文件" class="layui-btn layui-btn-sm layui-btn-primary table-action" onclick="downloadAccidentHandle();">
                                                <i class="layui-icon">&#xe601;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="accident_handle_account_table" lay-filter="accident_handle_account_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-rescue-accident-account'),
            $queryToxicDrillAccount = $view.find('#queryToxicDrillAccount'),
            $queryAccidentHandleAccount = $view.find('#queryAccidentHandleAccount'),
            $resetRescue = $view.find('#resetRescue'),
            $resetToxicDrillAccount = $view.find('#resetToxicDrillAccount'),
            $resetAccidentHandleAccount = $view.find('#resetAccidentHandleAccount'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 事故调查处理的数目
        var accidentHandleNum = '';

        //演练检录数目
        var account_yjjy_yljl = '';

        //应急救援预案数目
        var account_yjjy_jyya = '';

        // 应急救援预案table
        var rescueTable = table.render({
            elem: '#rescue_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'fileType',
                        title: '文件类型',
                        align: 'center',
                        sort: true,
                        minWidth: 160
                    },
                    {
                        field: 'fileName',
                        title: '文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: 'prevention/getRescue',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                account_yjjy_jyya = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseManageFiles
                };
            }
        });
        // 职业健康管理各级责任制table重置刷新
        $resetRescue.on('click', function () {
            rescueTable.reload();
        });

        // 高毒演练记录table
        var toxicDrillAccountTable = table.render({
            elem: '#toxic_drill_account_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'drillDate',
                        title: '演练时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            if (d.drillDate) {
                                return util.toDateString(d.drillDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'description',
                        title: '演练描述',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'content',
                        title: '记录文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.content) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.content + "'>下载</a>";
                            }
                            return "";
                        }
                    },
                    {
                        field: 'proveFile',
                        title: '证明文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.proveFile) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.proveFile + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: 'toxicDrill/listToxicDrills',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                account_yjjy_yljl = result.data.totalNum;

                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseToxicDrills
                };
            },
            autoSort: false
        });
        // 高毒演练记录table排序
        table.on('sort(toxic_drill_account_table)', function (obj) {
            requeryToxicDrillAccount(obj);
        });
        // 高毒演练记录table查询
        window.requeryToxicDrillAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#toxic_drill_account_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            toxicDrillAccountTable.reload(options);
        }
        $queryToxicDrillAccount.on('click', function() {
            requeryToxicDrillAccount();
        });
        // 高毒演练记录table重置刷新
        $resetToxicDrillAccount.on('click', function () {
            $searchForm[1].reset();
            requeryToxicDrillAccount();
        });

        // 事故调查处理table
        var accidentHandleAccountTable = table.render({
            elem: '#accident_handle_account_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'accidentDate',
                        title: '事故时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            if (d.accidentDate) {
                                return util.toDateString(d.accidentDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'accidentReason',
                        title: '事故原因',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                    },
                    {
                        field: 'handleProcess',
                        title: '事故处理经过',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'responsibilityAnalysis',
                        title: '事故责任分析',
                        align: 'center',
                        sort: true,
                        minWidth: 140
                    },
                    {
                        field: 'dutyPersonHandle',
                        title: '事故责任人处理情况',
                        align: 'center',
                        sort: true,
                        minWidth: 180
                    },
                    {
                        field: 'measures',
                        title: '事故防范与整改措施',
                        align: 'center',
                        sort: true,
                        minWidth: 180
                    },
                    {
                        title: '相关文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='accidentFileDetail(" + data.id + ",\"事故调查处理\")'>"
                                + "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span></a>";
                        }
                    }
                ]
            ],
            url: 'accidentHandle/listAccidentHandles',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                accidentHandleNum = result.data.totalNum;
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseAccidentHandles
                };
            },
            autoSort: false
        });
        // 事故调查处理table排序
        table.on('sort(accident_handle_account_table)', function (obj) {
            requeryAccidentHandleAccount(obj);
        });
        // 事故调查处理table查询
        window.requeryAccidentHandleAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#accident_handle_account_keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            accidentHandleAccountTable.reload(options);
        }
        $queryAccidentHandleAccount.on('click', function() {
            requeryAccidentHandleAccount();
        });
        // 事故调查处理table重置刷新
        $resetAccidentHandleAccount.on('click', function () {
            $searchForm[2].reset();
            requeryAccidentHandleAccount();
        });

        // 相关文件
        window.accidentFileDetail = function(relationId, relationModule) {
            xadmin.modal.open("相关文件","rescueAccident/accidentFileDetail/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAll') {
                    downloadRescueAccident();
                }
                if (name === 'exportAccount') {
                    downloadRescueAccidentAccount();
                }
            },
            options: [{
                name: 'exportAll',
                title: '导出所有表格'
            }, {
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 事故调查处理word下载
        window.downloadAccidentHandle = function() {
            if (accidentHandleNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/rescueAccidentAccount/downloadAccidentHandle?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 应急救援台账zip下载
        window.downloadRescueAccident = function() {
            if (accidentHandleNum == '' && account_yjjy_yljl == '' && account_yjjy_jyya == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/rescueAccidentAccount/downloadRescueAccident?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
        // 应急救援台账文件下载
        window.downloadRescueAccidentAccount = function() {
            if (accidentHandleNum == '' && account_yjjy_yljl == '' && account_yjjy_jyya == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/rescueAccidentAccount/downloadRescueAccidentAccount?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>