<style>
    #xadmin-components-others .layui-card-header {
        font-weight: 600;
    }

    #xadmin-components-others p {
        margin-bottom: 10px
    }
    #xadmin-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #xadmin-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 xadmin-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge xadmin-tag-green">xadmin-tag-green</span>
                        <span class="layui-badge xadmin-tag-magenta">xadmin-tag-magenta</span>
                        <span class="layui-badge xadmin-tag-orange">xadmin-tag-orange</span>
                        <span class="layui-badge xadmin-tag-red">xadmin-tag-red</span>
                        <span class="layui-badge xadmin-tag-volcano">xadmin-tag-volcano</span>
                        <span class="layui-badge xadmin-tag-gold">xadmin-tag-gold</span>
                        <span class="layui-badge xadmin-tag-lime">xadmin-tag-lime</span>
                        <span class="layui-badge xadmin-tag-cyan">xadmin-tag-cyan</span>
                        <span class="layui-badge xadmin-tag-blue">xadmin-tag-blue</span>
                        <span class="layui-badge xadmin-tag-geekblue">xadmin-tag-geekblue</span>
                        <span class="layui-badge xadmin-tag-purple">xadmin-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge xadmin-bg-green">.xadmin-bg-green</span>
                        <span class="layui-badge xadmin-bg-magenta">xadmin-bg-magenta</span>
                        <span class="layui-badge xadmin-bg-orange">xadmin-bg-orange</span>
                        <span class="layui-badge xadmin-bg-red">xadmin-bg-red</span>
                        <span class="layui-badge xadmin-bg-volcano">xadmin-bg-volcano</span>
                        <span class="layui-badge xadmin-bg-gold">xadmin-bg-gold</span>
                        <span class="layui-badge xadmin-bg-lime">xadmin-bg-lime</span>
                        <span class="layui-badge xadmin-bg-cyan">xadmin-bg-cyan</span>
                        <span class="layui-badge xadmin-bg-blue">xadmin-bg-blue</span>
                        <span class="layui-badge xadmin-bg-geekblue">xadmin-bg-geekblue</span>
                        <span class="layui-badge xadmin-bg-purple">xadmin-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="xadmin-alert-base xadmin-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="xadmin-alert-base xadmin-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="xadmin-alert-base xadmin-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="xadmin-alert-base xadmin-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>