<style>
    #edit-training {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="edit-training">
    <form id="training_form" class="layui-form" action="" lay-filter="training_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseTraining?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseTraining?.enterpriseId}">
        <input type="hidden" id="attendanceSheet" name="attendanceSheet" th:value="${enterpriseTraining?.attendanceSheet}">
        <input type="hidden" id="employeeId" th:value="${enterpriseTraining?.employeeId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">人员类型：</label>
            <div class="layui-input-block">
                <select id="type" name="type" lay-filter="type" lay-verify="required">
                    <option value="">请选择人员类型</option>
                    <option value="0" th:selected="${0 == enterpriseTraining?.type}">普通员工</option>
                    <option value="1" th:selected="${1 == enterpriseTraining?.type}">管理员</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">培训时间：</label>
            <div class="layui-input-block">
                <input type="text" id="trainingDate" name="trainingDate" placeholder="请选择培训时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseTraining?.trainingDate,'yyyy-MM-dd HH:mm:ss')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">培训时长：</label>
            <div class="layui-input-block">
                <input type="text" id="duration" name="duration" placeholder="请输入培训时长（h）" maxlength="10"
                       th:value="${enterpriseTraining?.duration}" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">培训地点：</label>
            <div class="layui-input-block">
                <input type="text" id="place" name="place" placeholder="请输入培训地点" maxlength="100"
                       th:value="${enterpriseTraining?.place}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">培训主题：</label>
            <div class="layui-input-block">
                <input type="text" id="theme" name="theme" placeholder="请输入培训主题" maxlength="100"
                       th:value="${enterpriseTraining?.theme}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">讲授人：</label>
            <div class="layui-input-block">
                <input type="text" id="lecturer" name="lecturer" placeholder="请输入讲授人" maxlength="50"
                       th:value="${enterpriseTraining?.lecturer}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签到表：</label>
            <div class="layui-input-inline">
                <input id="filePath" placeholder="文件名" readonly class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button id="attendance_sheet_btn" type="button" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-upload"></i>上传文件
                </button>
                <input id="attendance_sheet_file" type="file" style="display: none;"/>
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="training"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#trainingDate',
            type: 'datetime'
        });
        form.render();
        // 如果是编辑，显示下载文件按钮
        if ($('#id').val()) {
            // 文件名
            if ($('#attendanceSheet').val() != '') {
                $('#filePath').val($('#attendanceSheet').val().substring($('#attendanceSheet').val().lastIndexOf('/') + 1));
            }
            $('#attendance_sheet_file').after('<button type="button" id="attendance_sheet_download" class="layui-btn layui-btn-primary">下载文件</button>');
        }
        // 签到表上传
        $('#attendance_sheet_btn').click(function (event) {
            $('#attendance_sheet_file').click();
        });
        $('#attendance_sheet_file').change(function (event) {
            if (this.files.length === 0) {
                $('#filePath').val('');
                return;
            }
            // 限制上传文件大小最大为20MB
            var fileSize = this.files[0].size;
            if (fileSize > 20*1024*1024) {
                layer.msg('上传文件大小不能超过20MB', {icon: 5});
                // 允许同一个文件重复上传
                this.value = '';
                return;
            }
            $('#filePath').val(this.files[0].name);
        });
        // 表单提交
        form.on('submit(training)', function(data) {
            var enterpriseTraining = {};
            $.each($("#training_form input[name],select[name]"), function (index, element) {
                enterpriseTraining[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseTraining) {
                // 上传文件
                var attendanceSheetFiles = $("#attendance_sheet_file")[0].files;
                var formData = new FormData();
                formData.append("enterpriseTrainingJSON", JSON.stringify(enterpriseTraining));
                if (attendanceSheetFiles.length != 0) {
                    formData.append("attendanceSheetFile", attendanceSheetFiles[0]);
                }
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'training/editTraining/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryTraining();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
        // 下载上传文件
        $('#attendance_sheet_download').click(function (event) {
            var filePath = $('#attendanceSheet').val();
            if (filePath == '') {
                layer.msg('没有已上传的文件，不能进行下载', {icon: 5});
                return false;
            } else {
                window.open("/downloadFile?filePath=" + filePath, "_blank");
                return false;
            }
        });
    });
</script>