<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-training" lay-title="培训记录">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                    <div class="layui-input-inline" style="float: none;width: 200px;">
                                        员工人均培训时长：<span id="average_employee_training_duration"></span>
                                    </div>
                                    <div class="layui-input-inline" style="float: none;width: 200px;">
                                        管理员人均培训时长：<span id="average_admin_training_duration"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="training_table" lay-filter="training_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .file-download{
        cursor: pointer;
    }
</style>
<!-- 培训记录table行编辑、删除 -->
<script type="text/html" id="training_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-training'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 培训记录table
        var trainingTable = table.render({
            elem: '#training_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'type',
                        title: '人员类型',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            // 修改数据显示
                            var type = '';
                            if (d.type === 0) {
                                type = '普通员工';
                            } else if (d.type === 1) {
                                type =  '管理员';
                            }
                            return type;
                        }
                    },
                    {
                        field: 'trainingDate',
                        title: '培训时间',
                        align: 'center',
                        sort: true,
                        minWidth: 160,
                        templet: function(d) {
                            if (d.trainingDate) {
                                return util.toDateString(d.trainingDate);
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'duration',
                        title: '培训时长(h)',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '培训人数',
                        align: 'center',
                        sort: true,
                        minWidth: 110,
                        templet: function(d) {
                            if (d.type === 0) {
                                return d.trainingEmployeeNum;
                            } else if (d.type === 1) {
                                return d.trainingAdminNum;
                            }
                            return 0;
                        }
                    },
                    {
                        field: 'place',
                        title: '培训地点',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'theme',
                        title: '培训主题',
                        align: 'center',
                        sort: true,
                        minWidth: 110
                    },
                    {
                        field: 'lecturer',
                        title: '讲授人',
                        align: 'center',
                        sort: true,
                        minWidth: 90
                    },
                    {
                        title: '参加培训的人员',
                        align: 'center',
                        minWidth: 130,
                        templet: function (data) {
                            if (data.type === 0) {
                                return "<a href='javascript:void(0);' onclick='trainingStaff(" + data.id + "," + data.type + ")'>"
                                    + (data.trainingEmployeeNum > 0 ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                        : "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少人员信息</span>")
                                    + "</a>";
                            } else if (data.type === 1) {
                                return "<a href='javascript:void(0);' onclick='trainingStaff(" + data.id + "," + data.type + ")'>"
                                    + (data.trainingAdminNum > 0 ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                        : "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少人员信息</span>")
                                    + "</a>";
                            }
                            return '';
                        }
                    },
                    {
                        field: 'attendanceSheet',
                        title: '签到表',
                        align: 'center',
                        minWidth: 100,
                        templet: function (data) {
                            if (data.attendanceSheet) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.attendanceSheet + "'>下载</a>";
                            } else {
                                return "<a href='javascript:void(0);' onclick='addAttendanceSheet(" + data.id + ")'>"
                                    + "<span class=\"layui-btn layui-btn-danger layui-btn-xs\">缺少签到表</span>"
                                    + "</a>";
                            }
                        }
                    },
                    {
                        title: '其它培训证明资料',
                        align: 'center',
                        minWidth: 150,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='trainingFile(" + data.id + ",\"培训证明资料\")'>"
                                + (data.trainingFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>"
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#training_bar',
                        width: 120
                    }
                ]
            ],
            url: 'training/listTrainings',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                // 计算员工人均培训时长
                var totalEmployeeTrainingDuration = result.data.employeeTrainingData.totalEmployeeTrainingDuration,
                    employeeNum = result.data.employeeTrainingData.employeeNum,
                    averageEmployeeTrainingDuration = 0;
                if (employeeNum != 0) {
                    averageEmployeeTrainingDuration = (totalEmployeeTrainingDuration / employeeNum).toFixed(2);
                }
                $('#average_employee_training_duration').html(averageEmployeeTrainingDuration + 'h');
                // 计算管理员人均培训时长
                var totalAdminTrainingDuration = result.data.adminTrainingData.totalAdminTrainingDuration,
                    adminNum = result.data.adminTrainingData.adminNum,
                    averageAdminTrainingDuration = 0;
                if (adminNum != 0) {
                    var averageAdminTrainingDuration = (totalAdminTrainingDuration / adminNum).toFixed(2);
                }
                $('#average_admin_training_duration').html(averageAdminTrainingDuration + 'h');
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseTrainings
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 培训记录table排序
        table.on('sort(training_table)', function (obj) {
            requeryTraining(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('training_table');
                if (name === 'add') {
                    xadmin.modal.open("新增培训信息","training/editTraining",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-training').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-training').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的培训信息');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'training/deleteTrainings',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryTraining();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增培训信息'
            }, {
                name: 'delete',
                title: '删除培训信息'
            }]
        });
        // 监听培训记录table行事件（编辑、删除）
        table.on('tool(training_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑培训信息","training/editTraining/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-training').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该培训信息吗？', function(index) {
                    $.ajax({
                        url: 'training/deleteTraining',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: data.id,
                            attendanceSheet: data.attendanceSheet
                        },
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryTraining();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryTraining = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            trainingTable.reload(options);
        }
        $query.on('click', function() {
            requeryTraining();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryTraining();
        });
        // 其他培训证明资料
        window.trainingFile = function(relationId, relationModule) {
            xadmin.modal.open("其他培训证明资料","training/trainingFile/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
        // 上传签到表
        window.addAttendanceSheet = function(id) {
            xadmin.modal.open("上传签到表","training/addAttendanceSheet/" + id,{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#add-attendance-sheet').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#add-attendance-sheet').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 参加培训的人员(分普通员工和管理员)
        window.trainingStaff = function(trainingId, type) {
            if (type == 0) {
                xadmin.modal.open("参加培训的普通员工","training/trainingEmployee/" + trainingId,{
                    area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
                });
            } else if (type == 1) {
                xadmin.modal.open("参加培训的管理员","training/trainingAdmin/" + trainingId,{
                    area: [$(window).width() <= 750 ? '95%' : '50%', $(window).height() <= 500 ? '85%' : '60%']
                });
            }
        }
    });
</script>