<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-prevention-post-account" lay-title="防治制度台账">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <div class="layui-tab layui-tab-brief" lay-filter="health_responsibility_account_tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">防范制度</li>
                            <li>岗位操作规程</li>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more" style="float:right;">
                                <i class="layui-icon">&#xe875;</i>
                            </div>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetPrevention">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="prevention_table" lay-filter="prevention_table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-md10">
                                            <div class="layui-form-item">
                                                <div class="layui-input-inline">
                                                    <input id="post_keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="queryPost">
                                                <i class="layui-icon">&#xe848;</i>
                                            </div>
                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="resetPost">
                                                <i class="layui-icon">&#xe79b;</i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <table id="post_table" lay-filter="post_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-prevention-post-account'),
            $queryPost = $view.find('#queryPost'),
            $resetPost = $view.find('#resetPost'),
            $resetPrevention = $view.find('#resetPrevention'),
            $searchForm = $view.find('form');
        // 当前登录企业id
        var enterpriseId = [[${enterpriseId}]];
        // 防范制度和岗位操作规程的数目
        var preventionNum = '',
            postNum = '';
        // 防范制度table
        var preventionTable = table.render({
            elem: '#prevention_table',
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: 'fileType',
                        title: '文件类型',
                        align: 'center',
                        sort: true,
                        minWidth: 160
                    },
                    {
                        field: 'fileName',
                        title: '文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            if (data.filePath) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.filePath + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: 'prevention/listPrevention',
            method: 'post',
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                if (result.data.enterpriseManageFiles) {
                    preventionNum = 1;
                }
                return {
                    code: 0,
                    data: result.data.enterpriseManageFiles
                };
            }
        });
        // 防范制度table重置刷新
        $resetPrevention.on('click', function () {
            preventionTable.reload();
        });

        // 岗位管理table
        var postTable = table.render({
            elem: "#post_table",
            cols: [
                [
                    {
                        title: "序号",
                        type: "numbers",
                        align: "center"
                    },
                    {
                        field: "deptName",
                        title: "部门名称",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "postName",
                        title: "岗位名称",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "workplaceName",
                        title: "工作场所",
                        align: "center",
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: "operationRule",
                        title: "岗位操作规程",
                        align: "center",
                        minWidth: 150,
                        templet: function (data) {
                            if (data.operationRule) {
                                return "<a class='layui-btn layui-btn-primary layui-btn-xs file-download' filePath='" + data.operationRule + "'>下载</a>";
                            }
                            return "";
                        }
                    }
                ]
            ],
            url: "post/getList",
            method: "post",
            request: {
                pageName: "pageNum",
                limitName: "pageSize"
            },
            page: true,
            limit: 10,
            limits: [10, 20, 30, 40, 50, 60, 70, 80, 90],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                postNum = result.data.total;
                return {
                    code: 0,
                    count: result.data.total,
                    data: result.data.list
                };
            },
            where: {
                existRule: 1
            },
            autoSort: false
        });
        // 岗位管理table排序
        table.on("sort(post_table)", function (obj) {
            requeryPostAccount(obj);
        });
        // 岗位管理table查询
        window.requeryPostAccount = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },where: {
                    keyword: $("#post_keyword").val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            postTable.reload(options);
        }
        $queryPost.on('click', function() {
            requeryPostAccount();
        });
        // 岗位管理table重置刷新
        $resetPost.on('click', function () {
            $searchForm[1].reset();
            requeryPostAccount();
        });

        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name) {
                if (name === 'exportAccount') {
                    downloadPreventionPostAccount();
                }
            },
            options: [{
                name: 'exportAccount',
                title: '导出台账文件'
            }]
        });

        // 防治制度台账文件下载
        window.downloadPreventionPostAccount = function() {
            // 如果没有数据，进行提示，不能下载
            if (preventionNum == '' && postNum == '') {
                xadmin.alert.warn('没有数据，不能进行下载');
                return;
            } else {
                layer.confirm('确认导出文件吗？', function(index) {
                    window.open("/preventionPostAccount/downloadPreventionPostAccount?enterpriseId=" + enterpriseId, "_blank");
                    layer.close(index);
                });
            }
        }
    });
</script>