<style>
    #edit-file {
        padding: 20px 25px 25px 0;
    }
    #edit-file .layui-form-label {
        width: 110px;
    }
    #edit-file .layui-input-block {
        margin-left: 140px;
    }
</style>
<div class="layui-fluid" id="edit-file">
    <form id="file_form" class="layui-form" action="" lay-filter="file_form">
        <input type="hidden" id="id" name="id" th:value="${enterpriseFile?.id}">
        <input type="hidden" id="enterpriseId" name="enterpriseId" th:value="${enterpriseFile?.enterpriseId}">
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">文件编号：</label>
            <div class="layui-input-block">
                <input type="text" id="fileNumber" name="fileNumber" placeholder="请输入文件编号" maxlength="50"
                       th:value="${enterpriseFile?.fileNumber}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">收发时间：</label>
            <div class="layui-input-block">
                <input type="text" id="transmDate" name="transmDate" placeholder="请选择收发时间" lay-verify="required"
                       th:value="${#dates.format(enterpriseFile?.transmDate,'yyyy-MM-dd')}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">文件名称：</label>
            <div class="layui-input-block">
                <input type="text" id="fileName" name="fileName" placeholder="请输入文件名称" maxlength="50"
                       th:value="${enterpriseFile?.fileName}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">收发单位：</label>
            <div class="layui-input-block">
                <input type="text" id="transmUnit" name="transmUnit" placeholder="请输入收发单位" maxlength="50"
                       th:value="${enterpriseFile?.transmUnit}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label xadmin-form-item-require">签收（发）人：</label>
            <div class="layui-input-block">
                <input type="text" id="transmPerson" name="transmPerson" placeholder="请输入签收（发）人" maxlength="50"
                       th:value="${enterpriseFile?.transmPerson}" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item xadmin-hide">
            <button type="button" lay-submit class="layui-btn" id="submit" lay-filter="file"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['jquery', 'layer', 'form', 'laydate'], function() {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        // 日期组件
        laydate.render({
            elem: '#transmDate',
            type: 'date'
        });
        form.render();
        // 表单提交
        form.on('submit(file)', function(data) {
            var enterpriseFile = {};
            $.each($("#file_form input[name],select[name]"), function (index, element) {
                enterpriseFile[$(this).attr("name")] = $(this).val().trim();
            });
            if (enterpriseFile) {
                var formData = new FormData();
                formData.append("enterpriseFileJSON", JSON.stringify(enterpriseFile));
                // 加载层，防止多次添加
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'file/editFile/save',
                    type: 'post',
                    dateType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.status === 'success') {
                            layer.closeAll();
                            parent.layer.msg(result.message, {icon: 6});
                            parent.requeryFile();
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                    },
                    complete: function (xhr, status) {
                        parent.layer.close(loadingIndex);
                    }
                });
            }
        });
    });
</script>