<div class="layui-fluid layui-anim xadmin-anim" id="xadmin-enterprise-file" lay-title="往来文件">
    <div class="layui-row xadmin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body xadmin-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input id="keyword" type="text" placeholder="模糊查询" class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="file_table" lay-filter="file_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 往来文件table行编辑、删除 -->
<script type="text/html" id="file_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['jquery', 'layer', 'table', 'util', 'form', 'xadmin', 'dropdown'], function() {
        var $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            util = layui.util,
            form = layui.form,
            xadmin = layui.xadmin,
            dropdown = layui.dropdown,
            $view = $('#xadmin-enterprise-file'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');
        // 往来文件table
        var fileTable = table.render({
            elem: '#file_table',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'fileNumber',
                        title: '文件编号',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'transmDate',
                        title: '收发时间',
                        align: 'center',
                        sort: true,
                        minWidth: 120,
                        templet: function(d) {
                            if (d.transmDate) {
                                return util.toDateString(d.transmDate, 'yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'fileName',
                        title: '文件名称',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'transmUnit',
                        title: '收发单位',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        field: 'transmPerson',
                        title: '签收（发）人',
                        align: 'center',
                        sort: true,
                        minWidth: 120
                    },
                    {
                        title: '往来文件',
                        align: 'center',
                        minWidth: 120,
                        templet: function (data) {
                            return "<a href='javascript:void(0);' onclick='correspondFile(" + data.id + ",\"往来文件\")'>"
                                + (data.correspondFileNum ? "<span class=\"layui-btn layui-btn-primary layui-btn-xs\">详细</span>"
                                    : "<span class=\"layui-btn layui-btn-xs\" style=\"background-color: #009688;\">添加</span>")
                                + "</a>";
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#file_bar',
                        width: 120
                    }
                ]
            ],
            url: 'file/listFiles',
            method: 'post',
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            page: true,
            limits: [10, 20, 30, 40, 50],
            parseData: function (result) {
                xadmin.table.parseDataHandler(result);
                return {
                    code: 0,
                    count: result.data.totalNum,
                    data: result.data.enterpriseFiles
                };
            },
            where: {
                keyword: $('#keyword').val().trim()
            },
            autoSort: false
        });
        // 往来文件table排序
        table.on('sort(file_table)', function (obj) {
            requeryFile(obj);
        });
        // 下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('file_table');
                if (name === 'add') {
                    xadmin.modal.open("新增文件信息","file/editFile",{
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#edit-file').find('#submit').trigger('click');
                            return false;
                        },
                        btn2: function () {
                            $('#edit-file').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        xadmin.alert.warn('请选择需要删除的文件信息');
                    } else {
                        var ids = [];
                        layui.each(checkStatus.data, function (key, item) {
                            ids.push(item.id);
                        });
                        $.ajax({
                            url: 'file/deleteFiles',
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            data: {ids: ids},
                            success: function (result) {
                                if (result.status === 'success') {
                                    xadmin.alert.success(result.message);
                                    requeryFile();
                                } else {
                                    xadmin.alert.error(result.message);
                                }
                            }
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增文件信息'
            }, {
                name: 'delete',
                title: '删除文件信息'
            }]
        });
        // 监听往来文件table行事件（编辑、删除）
        table.on('tool(file_table)', function(obj) {
            var data = obj.data;
            // 编辑
            if (obj.event === 'edit') {
                xadmin.modal.open("编辑文件信息","file/editFile/" + data.id,{
                    btn: ['提交', '取消'],
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    yes: function (index, layero) {
                        $('#edit-file').find('#submit').trigger('click');
                        return false;
                    }
                });
            }
            // 删除
            if (obj.event === 'del') {
                layer.confirm('确定要删除该文件信息吗？', function(index) {
                    $.ajax({
                        url: 'file/deleteFile',
                        type: 'post',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (result) {
                            if (result.status === 'success') {
                                layer.msg(result.message, {icon: 6});
                                requeryFile();
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
        // 查询
        window.requeryFile = function(sort) {
            var options = {
                page: {
                    curr: 1 //重新从第1页开始
                },
                where: {
                    keyword: $('#keyword').val().trim()
                }
            }
            if (sort) {
                options.where.sortField = sort.field;
                options.where.sortType = sort.type;
            }
            fileTable.reload(options);
        }
        $query.on('click', function() {
            requeryFile();
        });
        // 重置刷新
        $reset.on('click', function () {
            $searchForm[0].reset();
            requeryFile();
        });
        // 往来文件
        window.correspondFile = function(relationId, relationModule) {
            xadmin.modal.open("往来文件","file/correspondFile/" + relationId + "/" + relationModule,{
                area: $(window).width() <= 750 ? '95%' : '50%'
            });
        }
    });
</script>