<shiro:hasPermission name="index:*">
    <div class="layui-fluid layui-anim xadmin-anim-up " id="xadmin-index" lay-title="系统首页">
        <div class="layui-row layui-col-space15 xadmin-container">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">快捷方式</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel xadmin-carousel xadmin-shortcut">
                                    <div class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="/account">
                                                <i class="layui-icon layui-icon-form"></i>
                                                <cite>12本台账</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/employee">
                                                <i class="layui-icon layui-icon-team"></i>
                                                <cite>员工信息</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/medical">
                                                <i class="layui-icon layui-icon-fileprotect"></i>
                                                <cite>体检记录</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/protectArticles">
                                                <i class="layui-icon layui-icon-template"></i>
                                                <cite>发放记录</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a lay-href="/check">
                                                <i class="layui-icon layui-icon-check-square"></i>
                                                <cite>检测记录</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/threeSimultaneity">
                                                <i class="layui-icon layui-icon-template-1"></i>
                                                <cite>三同时记录</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/inspection">
                                                <i class="layui-icon layui-icon-list"></i>
                                                <cite>检查整改</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a lay-href="/training">
                                                <i class="layui-icon layui-icon-read"></i>
                                                <cite>培训记录</cite>
                                            </a>
                                        </li>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">待办事项</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel xadmin-carousel xadmin-backlog">
                                    <div carousel-item>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs6">
                                                <a lay-href="#" class="xadmin-backlog-body" onclick="medicalTab('/medical/1/posting',this)">
                                                    <h3>岗中待体检</h3>
                                                    <p><cite id="index_gzdtj">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="#" class="xadmin-backlog-body" onclick="medicalTab('/medical/0/preJob',this)">
                                                    <h3>岗前待体检</h3>
                                                    <p><cite id="index_gqdtj">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="#" class="xadmin-backlog-body" onclick="medicalTab('/medical/0/leaveJob',this)">
                                                    <h3>离岗待体检</h3>
                                                    <p><cite id="index_lgdtj">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="#" class="xadmin-backlog-body" onclick="medicalTab('/medical/2/doubtDisease',this)">
                                                    <h3>待诊断职业病</h3>
                                                    <p><cite id="index_dzdzyb">-</cite></p>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs6">
                                                <a lay-href="/check" class="xadmin-backlog-body">
                                                    <h3>待检测项目</h3>
                                                    <p><cite id="index_djcxm">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="/protectArticles" class="xadmin-backlog-body">
                                                    <h3>待发放防护用品</h3>
                                                    <p><cite id="index_dfffhyp">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="/inspection/param=zkgq" class="xadmin-backlog-body">
                                                    <h3>整改过期</h3>
                                                    <p><cite id="index_zggq">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="/threeSimultaneity" class="xadmin-backlog-body">
                                                    <h3>待更新三同时</h3>
                                                    <p><cite id="index_dgxsts">-</cite></p>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs6">
                                                <a lay-href="/medicalResultNotify" class="xadmin-backlog-body">
                                                    <h3>体检告知</h3>
                                                    <p><cite id="index_tjgz">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="/workNotify" class="xadmin-backlog-body">
                                                    <h3>岗前告知</h3>
                                                    <p><cite id="index_gqgz">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="/workplaceNotify" class="xadmin-backlog-body">
                                                    <h3>检测告知</h3>
                                                    <p><cite id="index_jcgz">-</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs6">
                                                <a lay-href="/diseaseDiagnosiNotify" class="xadmin-backlog-body">
                                                    <h3>职业病诊断告知</h3>
                                                    <p><cite id="index_zybzdgz">-</cite></p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">数据概览</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel xadmin-carousel xadmin-dataview" id="index-dataview"
                                     data-anim="fade">
                                </div>
                            </div>
                        </div>

                        <div class="layui-card">
                            <div class="layui-card-header">其他提醒</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel xadmin-carousel xadmin-dataview" id="index-remind"
                                     data-anim="fade" style="width: 100%; height: 280px;">
                                    <table id="remindTable" lay-filter="remindTable"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>企业名称</td>
                                <td>
                                    <script type="text/html" template="">
                                        {{ currentUser.enterpriseName }}
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>
                                    <script type="text/html" template="">
                                        AlphaV3.0.1
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>登录时间</td>
                                <td>
                                    <script type="text/html" template="">
                                        {{lastLoginTime}}
                                    </script>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header">效果报告</div>
                    <div class="layui-card-body xadmin-takerates">
                        <div class="layui-progress" lay-filter="year-plan-rate" lay-showPercent="yes">
                            <h3>年度计划完成率</h3>
                            <div class="layui-progress-bar" lay-percent="0%"></div>
                        </div>
                        <div class="layui-progress" lay-filter="responsibility-rate" lay-showPercent="yes">
                            <h3>责任制完成率</h3>
                            <div class="layui-progress-bar" lay-percent="0%"></div>
                        </div>
                        <div class="layui-progress" lay-filter="prevention-rate" lay-showPercent="yes">
                            <h3>防治制度完成率</h3>
                            <div class="layui-progress-bar" lay-percent="0%"></div>
                        </div>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header">其他项目</div>
                    <div class="layui-card-body xadmin-takerates">
                        <div class="layui-progress" lay-filter="declare-rate" lay-showPercent="yes" id="declare_rate">
                            <h3>申报百分比</h3>
                            <div class="layui-progress-bar" lay-percent="0%"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--<div class="layui-row xadmin-container layui-col-space15">
            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/hygieneOrg" class="console-link-block" style="background-color:#3ed7d5">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">组织管理</div>
                    <div class="console-link-block-band">已录入</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/zzgl.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/medical/岗前" class="console-link-block" style="background-color:#9e6ef5">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">岗前体检</div>
                    <div class="console-link-block-band">待体检</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/gqtj.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="#" class="console-link-block" style="background-color:#f7db7a">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">岗中体检</div>
                    <div class="console-link-block-band">待体检</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/gztj.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/medical/离岗" class="console-link-block" style="background-color:#68ca29">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">离岗体检</div>
                    <div class="console-link-block-band">待体检</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/lgtj.png}">
                </div>
            </div>


            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/medical/复查" class="console-link-block" style="background-color:#68ca29">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">复查体检</div>
                    <div class="console-link-block-band">待体检</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/fctj.png}">
                </div>
            </div>



            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/protectArticles" class="console-link-block" style="background-color:#feb45b">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">防护用品</div>
                    <div class="console-link-block-band">待发放</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/fhyp.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/medical" class="console-link-block" style="background-color:#a3d69d">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">职业病诊断</div>
                    <div class="console-link-block-band">待诊断</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/zybzd.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/declare" class="console-link-block" style="background-color:#7489b8">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">危害申报</div>
                    <div class="console-link-block-band">未回执</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/whsb.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="#" class="console-link-block" style="background-color:#fe9c9b">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">危害因素</div>
                    <div class="console-link-block-band">待检测</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/whys.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/workNotify" class="console-link-block" style="background-color:#b5e540">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">岗前告知</div>
                    <div class="console-link-block-band">待告知</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/gqgz.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/workplaceNotify" class="console-link-block" style="background-color:#c490bf">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">作业场所检测</div>
                    <div class="console-link-block-band">待告知</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/zycs.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/medicalResultNotify" class="console-link-block" style="background-color:#fb6aab">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">体检结果</div>
                    <div class="console-link-block-band">待告知</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/tjjg.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/diseaseDiagnosiNotify" class="console-link-block" style="background-color:#02c4f1">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">职业病诊断结果</div>
                    <div class="console-link-block-band">待告知</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/whysjc.png}">
                </div>
            </div>




            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/user" class="console-link-block" style="background-color:#017ad5">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">日常整改</div>
                    <div class="console-link-block-band">待整改</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/rczg.png}">
                </div>
            </div>

            <div class="layui-col-lg3 layui-col-md4 layui-col-sm4 layui-col-xs6">
                <div target="" lay-href="/user" class="console-link-block" style="background-color:#f6555b">
                    <div class="console-link-block-num">0</div>
                    <div class="console-link-block-text">应急救援</div>
                    <div class="console-link-block-band">待演练</div>
                    <img class="console-link-block-icon" data-th-src="@{xadmin/images/yjjy.png}">
                </div>
            </div>
        </div>


        <div class="layui-row xadmin-container layui-col-space15">
            <div class="layui-col-md4 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header"><a lay-href="/responsibility">各级责任制</a></div>
                    <div class="layui-card-body">
                        <div style="height: 280px;position: relative;">
                            <div id="index_duty" style="height: 100%;"></div>
                        </div>
                        <div class="layui-row xadmin-tc">
                            <div class="layui-col-xs6">
                                <div id="index_duty_file_not_upload" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">未上传</div>
                            </div>
                            <div class="layui-col-xs6">
                                <div id="index_duty_file_upload" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">已上传</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-col-md4 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header"><a lay-href="/prevention">职业健康防范制度</a></div>
                    <div class="layui-card-body">
                        <div style="height: 280px;position: relative;">
                            <div id="index_preventive_system" style="height: 100%;"></div>
                        </div>
                        <div class="layui-row xadmin-tc">
                            <div class="layui-col-xs6">
                                <div id="index_preventive_system_file_not_upload" style="color: #28a6d6;font-size: 22px;">
                                    -
                                </div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">未上传</div>
                            </div>
                            <div class="layui-col-xs6">
                                <div id="index_preventive_system_file_upload" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">已上传</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-col-md4 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header"><a lay-href="/yearplan">年度计划</a></div>
                    <div class="layui-card-body">
                        <div style="height: 280px;position: relative;">
                            <div id="index_year_plan" style="height: 100%;"></div>
                        </div>
                        <div class="layui-row xadmin-tc">
                            <div class="layui-col-xs6">
                                <div id="index_year_plan_file_not_upload" style="color: #28a6d6;font-size: 22px;">
                                    -
                                </div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">未上传</div>
                            </div>
                            <div class="layui-col-xs6">
                                <div id="index_year_plan_file_upload" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">已上传</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-col-md4 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header"><a lay-href="/training">管理员培训</a></div>
                    <div class="layui-card-body">
                        <div style="height: 280px;position: relative;">
                            <div id="index_admin_train" style="height: 100%;"></div>
                        </div>
                        <div class="layui-row xadmin-tc">
                            <div class="layui-col-xs6">
                                <div id="index_admin_untrained" style="color: #28a6d6;font-size: 22px;">
                                    -
                                </div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">未培训时长</div>
                            </div>
                            <div class="layui-col-xs6">
                                <div id="index_admin_trained" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">已培训时长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header"><a lay-href="/training">普通员工培训</a></div>
                    <div class="layui-card-body">
                        <div style="height: 280px;position: relative;">
                            <div id="index_train" style="height: 100%;"></div>
                        </div>
                        <div class="layui-row xadmin-tc">
                            <div class="layui-col-xs6">
                                <div id="index_untrained" style="color: #28a6d6;font-size: 22px;">
                                    -
                                </div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">未培训时长</div>
                            </div>
                            <div class="layui-col-xs6">
                                <div id="index_trained" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">已培训时长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4 layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header"><a lay-href="/declare">危害申报</a></div>
                    <div class="layui-card-body">
                        <div style="height: 280px;position: relative;">
                            <div id="index_declare" style="height: 100%;"></div>
                        </div>
                        <div class="layui-row xadmin-tc">
                            <div class="layui-col-xs6">
                                <div id="index_undeclared" style="color: #28a6d6;font-size: 22px;">
                                    -
                                </div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">未申报</div>
                            </div>
                            <div class="layui-col-xs6">
                                <div id="index_declared" style="color: #28a6d6;font-size: 22px;">-</div>
                                <div style="font-size: 18px;padding: 10px 0 15px 0;">已申报</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <script type="text/html" id="index-status">
        <a class="layui-btn layui-btn-xs" lay-event="complete">完成</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ignore">忽略</a>
    </script>

    <script type="text/javascript">
        //区块轮播切换
        layui.use(['carousel'], function () {
            var $ = layui.$
                , carousel = layui.carousel
                , element = layui.element
                , device = layui.device();

            //轮播切换
            $('.xadmin-carousel').each(function () {
                var othis = $(this);
                carousel.render({
                    elem: this
                    , width: '100%'
                    , arrow: 'none'
                    , interval: othis.data('interval')
                    , autoplay: othis.data('autoplay') === true
                    , trigger: (device.ios || device.android) ? 'click' : 'hover'
                    , anim: othis.data('anim')
                });
            });

        });

        //待办事项
        layui.use(['xadmin'], function () {
            var $ = layui.$,
                xadmin = layui.xadmin;
            //获取待办事项中的统计数据
            xadmin.get("/index/getWaitTaskData", null, function (result) {
                var data = result.data;
                $("#index_gzdtj").text(data.gzdtj);
                $("#index_gqdtj").text(data.gqdtj);
                $("#index_lgdtj").text(data.lgdtj);
                $("#index_dzdzyb").text(data.dzdzyb);
                $("#index_djcxm").text(data.djcxm);
                $("#index_dfffhyp").text(data.dfffhyp);
                $("#index_zggq").text(data.zggq);
                $("#index_dgxsts").text(data.dgxsts);
                $("#index_tjgz").text(data.tjgz);
                $("#index_gqgz").text(data.gqgz);
                $("#index_jcgz").text(data.jcgz);
                $("#index_zybzdgz").text(data.zybzdgz);

            })


            //切换体检tab，把存在的体检tab先删除掉，在添加新的tab。
            window.medicalTab = function(medicalTabType,e){
                var medicalTabURL = "/medical";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                //岗中
                medicalTabURL = "/medical/1/posting";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                medicalTabURL = "/medical/0/preJob";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                medicalTabURL = "/medical/2/doubtDisease";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                medicalTabURL = "/medical/0/leaveJob";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }
                //定位到最新的体检记录模块
                e.setAttribute("lay-href",medicalTabType)
            }

        });

        // 完成率
        layui.use(['jquery', 'xadmin', 'element'], function () {
            var $ = layui.jquery,
                xadmin = layui.xadmin,
                element = layui.element;

            // 今年各种完成率计算
            xadmin.get("/index/getAllCompletionRate?year=" + new Date().getFullYear(), null, function (result) {
                if (result.status == 200) {
                    let data = result.data;
                    // 判断今年是否有培训计划，如果有，动态生成培训完成率进度条，并渲染
                    if (data.yearTrainingPlan == 1) {
                        let html = '<div class="layui-progress" lay-filter="admin-training-rate" lay-showPercent="yes">'
                            + '<h3>管理员培训完成率</h3>'
                            + '<div class="layui-progress-bar" lay-percent="0%"></div>'
                            + '</div>'
                            + '<div class="layui-progress" lay-filter="employee-training-rate" lay-showPercent="yes">'
                            + '<h3>普通员工培训完成率</h3>'
                            + '<div class="layui-progress-bar" lay-percent="0%"></div>'
                            + '</div>';
                        $('#declare_rate').after(html);
                        // 计算完成率
                        let  yearPlanRate = parseInt(100 * data.yearPlanCompletionNum / data.yearPlanAllNum),
                            responsibilityRate = parseInt(100 * data.responsibilityUploadedNum / data.responsibilityAllNum),
                            preventionRate = parseInt(100 * data.preventionUploadedNum / data.preventionAllNum);
                        var declareRate = 0;
                        if(data.harmFactorAllNum == 0){
                            declareRate = 0;
                        }else{
                            declareRate = parseInt(100 * data.declaredNum / data.harmFactorAllNum);
                        }

                        //管理员培训率
                        var adminTrainingRate = 0;
                        if(data.adminPlanTrainingDuration == 0){
                            adminTrainingRate = 100;
                        }else{
                            adminTrainingRate = parseInt(100 * data.trainingAdminAllDuration / data.adminNum / data.adminPlanTrainingDuration);
                        }

                        //普通员工培训率
                        var employeeTrainingRate = 0;
                        if(data.employeePlanTrainingDuration == 0){
                            employeeTrainingRate = 100;
                        }else{
                            employeeTrainingRate = parseInt(100 * data.trainingEmployeeAllDuration / data.employeeNum / data.employeePlanTrainingDuration);
                        }


                        // 渲染进度条
                        element.render('progress', 'year-plan-rate');
                        element.render('progress', 'responsibility-rate');
                        element.render('progress', 'prevention-rate');
                        element.render('progress', 'declare-rate');
                        element.render('progress', 'admin-training-rate');
                        element.render('progress', 'employee-training-rate');
                        window.setTimeout(function () {
                            element.progress('year-plan-rate', yearPlanRate + '%');
                            element.progress('responsibility-rate', responsibilityRate + '%');
                            element.progress('prevention-rate', preventionRate + '%');
                            element.progress('declare-rate', declareRate + '%');
                            element.progress('admin-training-rate', adminTrainingRate + '%');
                            element.progress('employee-training-rate', employeeTrainingRate + '%');
                        }, 500);
                    } else {
                        // 计算除培训完成率外的完成率
                        let yearPlanRate = parseInt(100 * data.yearPlanCompletionNum / data.yearPlanAllNum),
                            responsibilityRate = parseInt(100 * data.responsibilityUploadedNum / data.responsibilityAllNum),
                            preventionRate = parseInt(100 * data.preventionUploadedNum / data.preventionAllNum);
                        var declareRate = 0;
                        if(data.harmFactorAllNum == 0){
                            declareRate = 0;
                        }else{
                            declareRate = parseInt(100 * data.declaredNum / data.harmFactorAllNum);
                        }

                        // 渲染进度条
                        element.render('progress', 'year-plan-rate');
                        element.render('progress', 'responsibility-rate');
                        element.render('progress', 'prevention-rate');
                        element.render('progress', 'declare-rate');
                        window.setTimeout(function () {
                            element.progress('year-plan-rate', yearPlanRate + '%');
                            element.progress('responsibility-rate', responsibilityRate + '%');
                            element.progress('prevention-rate', preventionRate + '%');
                            element.progress('declare-rate', declareRate + '%');
                        }, 500);
                    }
                }
            });

        });

        // 今日体检/培训趋势
        layui.use(['jquery', 'xadmin'], function () {
            var $ = layui.jquery,
                xadmin = layui.xadmin;
            var myCharts = echarts.init($('#index-dataview')[0], "macarons");
            // 今年体检人数和培训人数分布
            let option = {
                title: {
                    text: '体检/培训趋势',
                    textStyle: {
                        color: '#333333'
                    },
                    x: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['体检人数', '培训人数'],
                    x: 'right'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                    }
                ],
                yAxis: {
                    type: 'value'
                }
            };




            // 图表容器大小自适应
            // $('#index-dataview').resize(function () {
            //     // myCharts.resize();
            // });
            var renderDataView = function(){
                myCharts.setOption(option);
                myCharts.resize();
                // 浏览器窗口自适应
                window.onresize = myCharts.resize;
            }
            renderDataView();
            xadmin.on('side', function () {
                setTimeout(function(){
                    renderDataView();
                }, 300);
            });

            // 获取企业今年每月的体检人数和培训人数
            xadmin.get("/index/getMedicalTrainData?year=" + new Date().getFullYear(), null, function (result) {
                if (result.status == 200) {
                    let medicalNum = result.data.medicalNum,
                        trainNum = result.data.trainNum;
                    myCharts.setOption({
                        series: [
                            {
                                name: '体检人数',
                                type: 'line',
                                lineStyle: {
                                    width: 4
                                },
                                areaStyle: {},
                                data: [
                                    medicalNum.JanMedicalNum, medicalNum.FebMedicalNum, medicalNum.MarMedicalNum,
                                    medicalNum.AprMedicalNum, medicalNum.MayMedicalNum, medicalNum.JunMedicalNum,
                                    medicalNum.JulMedicalNum, medicalNum.AugMedicalNum, medicalNum.SepMedicalNum,
                                    medicalNum.OctMedicalNum, medicalNum.NovMedicalNum, medicalNum.DecMedicalNum
                                ]
                            },
                            {
                                name: '培训人数',
                                type: 'line',
                                lineStyle: {
                                    width: 4
                                },
                                areaStyle: {},
                                data: [
                                    trainNum.JanTrainNum, trainNum.FebTrainNum, trainNum.MarTrainNum,
                                    trainNum.AprTrainNum, trainNum.MayTrainNum, trainNum.JunTrainNum,
                                    trainNum.JulTrainNum, trainNum.AugTrainNum, trainNum.SepTrainNum,
                                    trainNum.OctTrainNum, trainNum.NovTrainNum, trainNum.DecTrainNum
                                ]
                            }
                        ]
                    });
                }
            });




            /* //查询已录入的职业卫生组织管理信息
             xadmin.get("/index/getHygieneOrgCountData",null,function(result){
                 $(".console-link-block-num").eq(0).html(result.data.total)
             })

             //查询岗前体检待体检数据
             xadmin.get("/index/getPreJobWaitMedicalCountData",null,function(result){
                 $(".console-link-block-num").eq(1).html(result.data.total)
             })

             //查询岗中待体检数据 待完成
             xadmin.get("/index/getHygieneOrgCountData",null,function(result){
                 $(".console-link-block-num").eq(2).html(result.data.total)
             })

             //查询离岗待体检数据
             xadmin.get("/index/getLeavePostWaitMedicalCountData",null,function(result){
                 $(".console-link-block-num").eq(3).html(result.data.total)
             })

             //查询复查待体检数据
             xadmin.get("/index/getReviewWaitMedicalCountData",null,function(result){
                 $(".console-link-block-num").eq(4).html(result.data.total)
             })

             //查询待发放防护用品数量
             xadmin.get("/index/getWaitProvideProtectCountData",null,function(result){
                 $(".console-link-block-num").eq(5).html(result.data.total)
             })

             //查询职业病待诊断记录
             xadmin.get("/index/getDiseasesDiagnosisCountData",null,function(result){
                 $(".console-link-block-num").eq(6).html(result.data.total)
             })

             //查询危害申报未回执数量
             xadmin.get("/index/getDeclareNoReceiptCountData",null,function(result){
                 $(".console-link-block-num").eq(7).html(result.data.total)
             })

             //查询危害因素待检测数量
             xadmin.get("/index/getHygieneOrgCountData",null,function(result){
                 $(".console-link-block-num").eq(8).html(15)
             })

             //查询岗前告知待告知数量
             xadmin.get("/index/getWorkWaitNotifyCountData",null,function(result){
                 $(".console-link-block-num").eq(9).html(result.data.total)
             })

             //查询作业场所检测待告知数量
             xadmin.get("/index/getWorkplaceWaitNotifyCountData",null,function(result){
                 $(".console-link-block-num").eq(10).html(result.data.total)
             })

             //查询体检结果待告知数量
             xadmin.get("/index/getMedicalResultWaitNotifyCountData",null,function(result){
                 console.log(result);
                 $(".console-link-block-num").eq(11).html(result.data.total)
             })

             //查询职业病诊断结果待告知数量
             xadmin.get("/index/getDiagnoseResultWaitNofifyCountData",null,function(result){
                 console.log(result);
                 $(".console-link-block-num").eq(12).html(result.data.total)
             })

             //查询已录入的职业卫生组织管理信息
             xadmin.get("/index/getHygieneOrgCountData",null,function(result){
                 console.log(result);
                 $(".console-link-block-num").eq(13).html(result.data.total)
             })

             //查询已录入的职业卫生组织管理信息
             xadmin.get("/index/getHygieneOrgCountData",null,function(result){
                 console.log(result);
                 $(".console-link-block-num").eq(14).html(result.data.total)
             })




             // 渲染责任制文件图表
             var myCharts1 = echarts.init(document.getElementById('index_duty'), "macarons");
             var options1 = {
                 title: {
                     show: true,
                     x: 'center',
                     y: '33%',
                     text: '已上传/应上传',
                     textStyle: {
                         fontSize: 20,
                         color: '#333'
                     },
                     subtextStyle: {
                         fontSize: 50,
                         lineHeight: 100,
                         color: '#28a6d6'
                     }
                 },
                 color: ['#18B4E7', '#ddd'],
                 tooltip: {
                     trigger: 'item'
                 },
                 series: [
                     {
                         name: '责任制文件',
                         type: 'pie',
                         radius: ['75%', '80%'],
                         label: {
                             normal: {
                                 show: false
                             }
                         }
                     }
                 ]
             };
             myCharts1.setOption(options1);
             //获取责任制文件数据
             xadmin.get("/index/getDutyFileData", null, function (result) {
                 if (result.status == 200) {
                     $("#index_duty_file_not_upload").text((result.data.total - result.data.uploaded));
                     $("#index_duty_file_upload").text(result.data.uploaded);

                     myCharts1.setOption({
                         title: {
                             subtext: result.data.uploaded + "/" + result.data.total
                         },
                         series: [
                             {
                                 data: [
                                     {name: "已上传", value: result.data.uploaded},
                                     {name: "未上传", value: result.data.total - result.data.uploaded}
                                 ]
                             }
                         ]
                     });
                 }
             })

             //渲染职业健康防范制度
             var myCharts2 = echarts.init(document.getElementById('index_preventive_system'), "macarons");
             var options2 = {
                 title: {
                     show: true,
                     x: 'center',
                     y: '33%',
                     text: '已上传/应上传',
                     textStyle: {
                         fontSize: 20,
                         color: '#333'
                     },
                     subtextStyle: {
                         fontSize: 50,
                         lineHeight: 100,
                         color: '#28a6d6'
                     }
                 },
                 color: ['#18B4E7', '#ddd'],
                 tooltip: {
                     trigger: 'item'
                 },
                 series: [
                     {
                         name: '职业健康防范制度',
                         type: 'pie',
                         radius: ['75%', '80%'],
                         label: {
                             normal: {
                                 show: false
                             }
                         }
                     }
                 ]
             };
             myCharts2.setOption(options2);
             //获取职业健康防范制度数据
             xadmin.get("/index/getPreventiveFileData", null, function (result) {
                 if (result.status == 200) {
                     $("#index_preventive_system_file_not_upload").text((result.data.total - result.data.uploaded));
                     $("#index_preventive_system_file_upload").text(result.data.uploaded);

                     myCharts2.setOption({
                         title: {
                             subtext: result.data.uploaded + "/" + result.data.total
                         },
                         series: [
                             {
                                 data: [
                                     {name: "已上传", value: result.data.uploaded},
                                     {name: "未上传", value: result.data.total - result.data.uploaded}
                                 ]
                             }
                         ]
                     });
                 }
             })

             //渲染年度计划
             var myCharts3 = echarts.init(document.getElementById('index_year_plan'), "macarons");
             var options3 = {
                 title: {
                     show: true,
                     x: 'center',
                     y: '33%',
                     text: '已上传/应上传',
                     textStyle: {
                         fontSize: 20,
                         color: '#333'
                     },
                     subtextStyle: {
                         fontSize: 50,
                         lineHeight: 100,
                         color: '#28a6d6'
                     }
                 },
                 color: ['#18B4E7', '#ddd'],
                 tooltip: {
                     trigger: 'item'
                 },
                 series: [
                     {
                         name: '年度计划',
                         type: 'pie',
                         radius: ['75%', '80%'],
                         label: {
                             normal: {
                                 show: false
                             }
                         }
                     }
                 ]
             };
             myCharts3.setOption(options3);
             //获取年度计划数据
             xadmin.get("/index/getYearPlanCountData", null, function (result) {
                 if (result.status == 200) {
                     $("#index_year_plan_file_not_upload").text((result.data.total - result.data.uploaded));
                     $("#index_year_plan_file_upload").text(result.data.uploaded);

                     myCharts3.setOption({
                         title: {
                             subtext: result.data.uploaded + "/" + result.data.total
                         },
                         series: [
                             {
                                 data: [
                                     {name: "已上传", value: result.data.uploaded},
                                     {name: "未上传", value: result.data.total - result.data.uploaded}
                                 ]
                             }
                         ]
                     });
                 }
             })

             //渲染管理人员培训
             var myCharts4 = echarts.init(document.getElementById('index_admin_train'), "macarons");
             var options4 = {
                 title: {
                     show: true,
                     x: 'center',
                     y: '33%',
                     text: '已培训/应培训',
                     textStyle: {
                         fontSize: 20,
                         color: '#333'
                     },
                     subtextStyle: {
                         fontSize: 50,
                         lineHeight: 100,
                         color: '#28a6d6'
                     }
                 },
                 color: ['#18B4E7', '#ddd'],
                 tooltip: {
                     trigger: 'item'
                 },
                 series: [
                     {
                         name: '管理员培训',
                         type: 'pie',
                         radius: ['75%', '80%'],
                         label: {
                             normal: {
                                 show: false
                             }
                         }
                     }
                 ]
             };
             myCharts4.setOption(options4);
             //获取管理人员统计数据
             xadmin.get("/index/getAdaminTrainData", null, function (result) {
                 if (result.status == 200) {
                     $("#index_admin_untrained").text((result.data.total - result.data.trainTime));
                     $("#index_admin_trained").text(result.data.trainTime);

                     myCharts4.setOption({
                         title: {
                             subtext: result.data.trainTime + "/" + result.data.total
                         },
                         series: [
                             {
                                 data: [
                                     {name: "已培训", value: result.data.trainTime},
                                     {name: "未培训", value: result.data.total - result.data.trainTime}
                                 ]
                             }
                         ]
                     });
                 }
             })

             //渲染普通人员培训
             var myCharts5 = echarts.init(document.getElementById('index_train'), "macarons");
             var options5 = {
                 title: {
                     show: true,
                     x: 'center',
                     y: '33%',
                     text: '已培训/应培训',
                     textStyle: {
                         fontSize: 20,
                         color: '#333'
                     },
                     subtextStyle: {
                         fontSize: 50,
                         lineHeight: 100,
                         color: '#28a6d6'
                     }
                 },
                 color: ['#18B4E7', '#ddd'],
                 tooltip: {
                     trigger: 'item'
                 },
                 series: [
                     {
                         name: '普通人员培训',
                         type: 'pie',
                         radius: ['75%', '80%'],
                         label: {
                             normal: {
                                 show: false
                             }
                         }
                     }
                 ]
             };
             myCharts5.setOption(options5);
             //获取普通人员统计数据
             xadmin.get("/index/getTrainData", null, function (result) {
                 if (result.status == 200) {
                     $("#index_untrained").text((result.data.total - result.data.trainTime));
                     $("#index_trained").text(result.data.trainTime);

                     myCharts5.setOption({
                         title: {
                             subtext: result.data.trainTime + "/" + result.data.total
                         },
                         series: [
                             {
                                 data: [
                                     {name: "已培训", value: result.data.trainTime},
                                     {name: "未培训", value: result.data.total - result.data.trainTime}
                                 ]
                             }
                         ]
                     });
                 }
             })

             //渲染危害申报统计图
             var myCharts6 = echarts.init(document.getElementById('index_declare'), "macarons");
             var options6 = {
                 title: {
                     show: true,
                     x: 'center',
                     y: '33%',
                     text: '已申报/应申报',
                     textStyle: {
                         fontSize: 20,
                         color: '#333'
                     },
                     subtextStyle: {
                         fontSize: 50,
                         lineHeight: 100,
                         color: '#28a6d6'
                     }
                 },
                 color: ['#18B4E7', '#ddd'],
                 tooltip: {
                     trigger: 'item'
                 },
                 series: [
                     {
                         name: '危害申报',
                         type: 'pie',
                         radius: ['75%', '80%'],
                         label: {
                             normal: {
                                 show: false
                             }
                         }
                     }
                 ]
             };
             myCharts6.setOption(options6);
             //获取危害申报统计数据
             xadmin.get("/index/getDeclareCountData", null, function (result) {
                 if (result.status == 200) {
                     $("#index_undeclared").text((result.data.total - result.data.declared));
                     $("#index_declared").text(result.data.declared);

                     myCharts6.setOption({
                         title: {
                             subtext: result.data.declared + "/" + result.data.total
                         },
                         series: [
                             {
                                 data: [
                                     {name: "已申报", value: result.data.declared},
                                     {name: "未申报", value: result.data.total - result.data.declared}
                                 ]
                             }
                         ]
                     });
                 }
             })


             // 窗口大小改变事件
             window.onresize = function () {
                 myCharts1.resize();
                 myCharts2.resize();
                 myCharts3.resize();
                 myCharts4.resize();
                 myCharts5.resize();
                 myCharts6.resize();
             };*/
        })

        //其他提醒
        layui.use(['xadmin', 'table'], function () {
            var xadmin = layui.xadmin,
                $ = layui.$,
                table = layui.table,
                tableIns;
            initRemindTable();

            /**
             * 初始化数据表格
             */
            function initRemindTable() {
                tableIns = xadmin.table.init({
                    elem: "#remindTable",
                    id: 'remindTable',
                    limit: 5,
                    url: ctx + 'index/getRemind',
                    cols: [
                        [
                            {type: 'numbers'},
                            {field: 'type', title: '提醒类别', minWidth: 100, sort: true},
                            {field: 'content', title: '提醒内容', minWidth: 300, sort: true},
                            {
                                field: 'gmtCreate', title: '提醒时间', minWidth: 100, sort: true, templet: function (data) {
                                    return layui.util.toDateString(data.gmtCreate, "yyyy-MM-dd");
                                }
                            },
                            {field: 'status', title: '操作', templet: '#index-status', minWidth: 0}
                        ]
                    ]
                });
            }

            table.on('sort(remindTable)', function (obj) {
                tableIns.reload({
                    initSort: obj,
                    where: {
                        field: obj.field,
                        order: obj.type
                    }
                });
            });

            table.on('tool(remindTable)', function (obj) {
                var data = obj.data,
                    layEvent = obj.event;
                console.log(layEvent);
                if (layEvent === 'complete') {
                    xadmin.modal.confirm("提示信息", "确认完成该条提醒吗？", function () {
                        xadmin.post(ctx + 'remind/complete/' + data.id, null, function () {
                            xadmin.alert.success('已完成该条提醒');
                            tableIns.reload({page: {curr: 1}});
                        });

                    });
                }
                if (layEvent === 'ignore') {
                    xadmin.modal.confirm("提示信息", "确认忽略该条提醒吗？", function () {
                        xadmin.post(ctx + 'remind/ignore/' + data.id, null, function () {
                            xadmin.alert.success('已忽略该条提醒');
                            tableIns.reload({page: {curr: 1}});
                        });
                    });
                }
            });
        })
    </script>
</shiro:hasPermission>
<shiro:lacksPermission name="index:*">
    <div class="layui-fluid layui-anim xadmin-anim-up" id="xadmin-index-nopermission" lay-title="系统首页">
        <div>
            <img src="/xadmin/images/index.jpg">
        </div>
    </div>
</shiro:lacksPermission>

