<div class="layui-layout layui-layout-admin" id="xadmin-layout">
    <div class="layui-header layui-anim xadmin-anim-down" id="app-header">
        <script type="text/html"
                template
                lay-done="layui.element.render('nav','xadmin-header')">
            <ul class="layui-nav layui-layout-left" lay-filter="xadmin-header">
                <li class="layui-nav-item" lay-unselect>
                    <a xadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right"></i>
                    </a>
                </li>
                <span class="xadmin-breadcrumb"></span>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="xadmin-header">
                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="" title="咨询中心" id="consult_center" onclick="removeNotify();">
                        <i class="layui-icon layui-icon-notice"></i>
                    </a>
                </li>


                {{#  if(currentUser.syncAuth === 1 && currentUser.isAdmin === 1){ }}
                    <li class="layui-nav-item ">
                        <a class="layui-icon layui-icon-cloud-upload" title="提交数据到监管端"  id="uploadGovernment"></a>
                    </li>
                {{#  } }}


                <li class="layui-nav-item layui-user" lay-unselect>

                    <a>
                        {{ currentUser.username }}
                    </a>
                    <dl class="layui-nav-child" style="left: auto;right:0px">
                        <dd><a class="layui-nav-child-href" id="password-update">密码修改</a></dd>
                        <hr/>
                        <dd><a class="layui-nav-child-href" data-th-href="@{logout}">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </script>
    </div>

    <div class="xadmin-tabs-hidden">
        <script type="text/html" id="TPL-app-tabsmenu" template>
            {{# if(layui.conf.viewTabs){ }}
            <div class="xadmin-tabs-wrap">
          <span class="xadmin-tabs-btn xadmin-tabs-action xadmin-tabs-prev" data-type="prev">
              <i class="layui-icon layui-icon-left"></i>
          </span>
                <span class="xadmin-tabs-btn xadmin-tabs-action xadmin-tabs-next" data-type="next">
              <i class="layui-icon layui-icon-right"></i>
          </span>
                <span class="xadmin-tabs-btn xadmin-tabs-action xadmin-tabs-down" data-type="down">
              <i class="layui-icon layui-icon-close"></i>
          </span>
                <ul class="xadmin-tabs-menu">
                    {{# layui.each(layui.view.tab.data,function(i, item){ }}
                    <li data-type="page" class="xadmin-tabs-btn" lay-url="{{item.fileurl}}">
                        <i class="xadmin-tabs-ball"></i>{{ item.title }}<b
                            class="layui-icon layui-icon-close xadmin-tabs-close"></b>
                    </li>
                    {{# }) }}
                </ul>
            </div>
            {{# } }}
        </script>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side" id="app-sidebar">
        <div class="layui-side-scroll">
            <div class="layui-logo" style="cursor: pointer">
                <span>职业健康智慧管理系统</span>
            </div>
            <script
                    type="text/html"
                    template
                    lay-api="getMenus"
                    lay-done="layui.element.render('nav','xadmin-sidebar');layui.xadmin.sidebarFocus()">
                <ul class="layui-nav layui-nav-tree" lay-filter="xadmin-sidebar" lay-shrink="all">
                    {{#
                    function __createSlidebar(data,index){
                    if(!data || data.length == 0) return '';
                    var html = '
                    <dl class="layui-nav-child">';
                        layui.each(data,function(i,child){
                        var left = index == 0 ? 50 : 50 + index * 20;
                        html += '
                        <dd><a style="padding-left:' + left + 'px" target="'+(child.target||'')+'"
                               lay-href="'+ (child.href||'') +'">' + child.title + '</a>';
                            if(child.childs) html += __createSlidebar(child.childs,index+1);
                            html += '</dd>';
                        });
                        html = html +'</dl>';
                    return html;
                    }
                    layui.each(d.childs, function(i,child){
                    }}
                    <li class="layui-nav-item">
                        <a lay-href="{{child.href||''}}" target="{{child.target||''}}" title="{{child.title}}"><i
                                class="layui-icon {{child.icon}}"></i>{{child.title}} {{# if(child.notice){ }}<span
                                class="layui-badge">{{ child.notice }}</span>{{# } }}</a>
                        {{ __createSlidebar(child.childs,0) }}
                    </li>
                    {{# }) }}
                </ul>
            </script>
        </div>
    </div>
    <!-- 主体内容 -->
    <div class="layui-body" id="xadmin-body"></div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'xadmin', 'element'], function () {
        var $ = layui.jquery,
            $view = $('#xadmin-layout'),
            xadmin = layui.xadmin;
        var element = layui.element;

        initTheme();

       // $view.find('#user-avatar').attr('src', ctx + "xadmin/images/avatar/gaOngJwsRYRaVAuXXcmB");

        $view.on('click', '.layui-logo', function () {
            xadmin.navigate("/index");
        });

        $view.on('click', '.layui-nav-item .layui-nav-child a', function (e) {
            var tabHref = $(this).attr("lay-href");
            if(tabHref && tabHref == "/medical"){
                //关闭体检相关的url
                var medicalTabURL = "/medical/1/posting";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                medicalTabURL = "/medical/0/preJob";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                medicalTabURL = "/medical/2/doubtDisease";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }

                medicalTabURL = "/medical/0/leaveJob";
                if(xadmin.view.tab.has(medicalTabURL)){
                    xadmin.view.tab.del(medicalTabURL);
                }
                setTimeout(function(){
                    xadmin.navigate("/medical");
                },100)

               return false;
            }

        });


        $view.on('click', '#password-update', function () {
            xadmin.modal.view('密码修改', 'password/update', {
                area: $(window).width() <= 750 ? '90%' : '500px',
                btn: ['确定'],
                yes: function () {
                    $('#user-password-update').find('#submit').trigger('click');
                }
            });
        });

        function initTheme() {
            var theme = currentUser.theme;
            var $sidebar = $('#app-sidebar');
            if (theme === 'black') {
                $sidebar.removeClass('xadmin-theme-white');
            }
            if (theme === 'white') {
                $sidebar.addClass('xadmin-theme-white');
            }
        }

        //下载从业人员防护用品的发放使用管理台帐
        $view.on('click', '#uploadGovernment', function () {
            layer.confirm('确定提交数据到监管端吗？', function(index) {
                var loadingIndex = parent.layer.load(2);
                $.ajax({
                    url: 'government/uploadGovernment',
                    type: 'post',
                    dataType: 'json',
                    data: {},
                    success: function (result) {
                        if (result.status === 200) {
                            xadmin.alert.success('数据到监管端成功！');
                        } else {
                            layer.msg(result.message, {icon: 5});
                        }
                        parent.layer.close(loadingIndex);
                    }
                });
            });
        });


        layui.data.theme = function(){
            layui.use('form', function(){
                var form = layui.form
                    ,admin = layui.admin;

                //监听隐藏开关
                form.on('switch(system-theme-sideicon)', function(){
                    admin.theme({
                        hideSideIcon: this.checked
                    })
                });
            });
        };

        // 下载文件
        $(document).on("click", ".file-download", function (event) {
            window.open("/downloadFile?filePath=" + $(this).attr("filePath"), "_blank");
        });

        // 查询企业咨询是否有新的回复
        xadmin.get("/index/queryNewReply",null,function(result){
            var newReplyNum = result.data.newReplyNum;
            if (newReplyNum > 0) {
                $('#consult_center').append('<span class="layui-badge-dot" style="margin-left: 11px;"></span>');
                $('#consult_center').attr('lay-href', '/consult/' + newReplyNum);
            } else {
                $('#consult_center').attr('lay-href', '/consult');
            }
        });

        // 点击咨询中心图标，如果有新回复，删除小圆点
        window.removeNotify = function () {
            $('.layui-badge-dot').remove();
        }

    });
</script>