<div class="layui-fluid layui-anim xadmin-anim" id="ehs-enterprise-medical-plan" lay-title="健康体检计划">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: auto;">
                        <label class="layui-form-label" style="width: 30px;">年度</label>
                        <input id="medical_plan_year" type="text" placeholder="请选择年度" class="layui-input" style="width: 70%;"/>
                    </div>
                </div>
            </form>
            <div class="year-plan-type">
                <div class="layui-elem-quote">
                    <h2>健康体检计划</h2>
                </div>
                <div class="year-plan-edit-mul" id="medical">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #ehs-enterprise-medical-plan .year-plan-type {
        padding-bottom: 10px;
    }
    #ehs-enterprise-medical-plan .layui-elem-quote {
        background-color: transparent;
        line-height: 6px;
    }
    #ehs-enterprise-medical-plan h2 {
        font-size: 18px;
    }
    #ehs-enterprise-medical-plan .year-plan-edit-mul {
        padding: 10px 15px;
        line-height: 23px;
        border: 1px solid;
        border-color: #e7ecf1;
        min-height: 30px;
        overflow: hidden;
    }
    #ehs-enterprise-medical-plan .edit {
        float: right;
    }
    #ehs-enterprise-medical-plan .file-download {
        display: inline-block;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 3px;
    }
    #ehs-enterprise-medical-plan .plan-text {
        margin-top: 3px;
    }
    #ehs-enterprise-medical-plan a:link {
        color: #1183FF;
    }
    #ehs-enterprise-medical-plan a:hover {
        color: #C1292F;
    }
</style>
<script>
    layui.use(['jquery', 'layer', 'laydate', 'form', 'xadmin'], function() {
        var $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form,
            xadmin = layui.xadmin;
        // 日期组件
        laydate.render({
            elem: '#medical_plan_year',
            type: 'year',
            value: new Date(),
            min: '2010-1-1',
            max: '2030-12-31',
            done: function(value){
                requeryYearMedicalPlan(value);
            }
        });
        $(function() {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: new Date().getFullYear()},
                success: function (result) {
                    var data = result.data;
                    if (data['jktj']) {
                        var data4 = data['jktj'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md3"'
                            + 'title="' + data4.fileName + '"'
                            + ' filePath="' + data4.planFile + '">'
                            + data4.fileName + '</a>';
                        if (data4.planPeriod != '') {
                            html += '<span class="layui-col-md6 plan-text">体检月份：' + data4.planPeriod + '</span>';
                        }
                        html = html + '<a href="javascript:void(0);" class="edit" onclick="editMedicalPlan(' + data4.id + ',\'jktj\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#medical').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="addMedicalPlan(\'jktj\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#medical').html(html);
                    }
                }
            });
        });
        // 查询
        window.requeryYearMedicalPlan = function(year) {
            $.ajax({
                url: 'yearplan/listYearplans',
                type: 'post',
                dataType: 'json',
                data: {year: year},
                success: function (result) {
                    var data = result.data;
                    if (data['jktj']) {
                        var data4 = data['jktj'];
                        var html = '<a href="javascript:void(0);" class="file-download layui-col-md3"'
                            + 'title="' + data4.fileName + '"'
                            + ' filePath="' + data4.planFile + '">'
                            + data4.fileName + '</a>';
                        if (data4.planPeriod != '') {
                            html += '<span class="layui-col-md6 plan-text">体检月份：' + data4.planPeriod + '</span>';
                        }
                        html = html + '<a href="javascript:void(0);" class="edit" onclick="editMedicalPlan(' + data4.id + ',\'jktj\'' + ');">'
                            + '<span class="layui-btn layui-btn-sm">编辑</span></a>';
                        $('#medical').html(html);
                    } else {
                        var html = '<a href="javascript:void(0);" class="edit" onclick="addMedicalPlan(\'jktj\');">'
                            + '<span class="layui-btn layui-btn-sm" style="background-color: #009688;">添加</span></a>';
                        $('#medical').html(html);
                    }
                }
            });
        }
        // 新增
        window.addMedicalPlan = function(type) {
            xadmin.modal.open('新增职业健康检查计划', "yearplan/addYearplan/" + type + "/" + $('#medical_plan_year').val().trim(), {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-medical-plan').find('#submit').trigger('click');
                    return false;
                },
                btn2: function () {
                    $('#edit-year-medical-plan').find('#reset').trigger('click');
                    return false;
                }
            });
        }
        // 编辑
        window.editMedicalPlan = function(id, type) {
            xadmin.modal.open('编辑职业健康检查计划', "yearplan/editYearplan/" + id + "/" + type, {
                btn: ['提交', '取消'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#edit-year-medical-plan').find('#submit').trigger('click');
                    return false;
                }
            });
        }
    });
</script>